.yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar {
  padding: 10px 0 40px;
  margin: 0 30px;
  position: relative;
  border-bottom: none; }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d5d8dc;
    bottom: 30px; }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-pagination {
    display: block;
    float: left;
    margin-top: 5px; }
    .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-pagination .z-paging {
      background-color: transparent; }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-result-count {
    display: block;
    float: left;
    margin-top: 10px; }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-page-size-selector {
    display: block;
    float: right; }
    .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-page-size-selector .z-combobox {
      background: transparent; }

.yas-results-header {
  background: #e5e9ed;
  color: #787878;
  padding: 5px 30px; }
  .yas-results-header .z-label {
    font-size: 12px; }

.yas-results-body {
  width: 100%; }

.yas-promoted-results .yas-result {
  background: #ffffff; }

.yas-result {
  display: table;
  width: 100%;
  color: #000000;
  background-color: #ffffff; }
  .yas-result + .yas-result .yas-result-inner > div {
    border-top: 1px solid #cccccc; }
  .yas-result.z-drag-over {
    background-color: #e1f3ff; }
  .yas-result.z-drag-ghost {
    width: 700px;
    border: 1px solid #cccccc; }
  .yas-result-title {
    font-weight: bold;
    font-size: 16px; }
  .yas-result-price {
    font-weight: bold;
    font-size: 16px; }
  .yas-result .yas-info {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 80px; }
    .yas-result .yas-info .yas-info-icon {
      height: 23px;
      width: 23px;
      margin-left: auto;
      margin-right: auto;
      background-image: url(images/icon_func_star_sprite.png);
      background-repeat: no-repeat;
      background-position: 0 -69px;
      background-attachment: scroll; }
    .yas-result .yas-info .yas-info-score {
      font-size: 12px; }
  .yas-result.yas-promoted .yas-info .yas-info-icon {
    background-position: -28px -69px; }
  .yas-result.yas-promoted.yas-current .yas-info .yas-info-icon {
    background-position: 0 -69px; }
  .yas-result.yas-promoted.yas-current.yas-override .yas-info .yas-info-icon {
    width: 33px;
    height: 25px;
    background-position: -57px -65px; }
  .yas-result-inner {
    display: table-row; }
    .yas-result-inner .yas-content {
      display: table-cell;
      padding: 10px 4px 20px; }
      .yas-result-inner .yas-content > .z-hlayout > .z-hlayout-inner {
        vertical-align: middle; }
      .yas-result-inner .yas-content > .z-hlayout > .z-hlayout-inner:nth-child(2) {
        width: calc(100% - (80px + 3px + 50px + 4px + 4px)); }
    .yas-result-inner .yas-actions {
      display: table-cell;
      vertical-align: middle;
      width: 50px;
      padding: 4px; }
      .yas-result-inner .yas-actions .z-button {
        background: transparent;
        color: #0486e0;
        font-size: 20px; }
        .yas-result-inner .yas-actions .z-button[disabled] {
          background: transparent !important; }
        .yas-result-inner .yas-actions .z-button:active, .yas-result-inner .yas-actions .z-button:focus {
          box-shadow: none; }

.search-results-highlight {
  font-weight: bold; }
