@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "_workflows-variables.scss";


@mixin _addButtonBackgroundDots ($vertical-bg-position:0) {
  background: url('images/dots.png') center ($vertical-bg-position) no-repeat;
  box-shadow: none;
}

@mixin _pointingPopupDefaults ($z-index:false) {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  @if $z-index {
    z-index: $z-index;
  }
}