<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <ul class="pagination pagination-lg">
            <li class="no-underline" ng-if="showArrows()" ng-click="leftClick()" ng-class="hasPrevious()?'enabled':'disabled'"><a>&laquo;</a></li>
            <li class="no-underline" ng-repeat="i in pagesToDisplay()" ng-class="isActive({{i}})?'active':''"><a ng-click="pageClick(i)">{{i+1}}</a></li>
            <li class="no-underline" ng-if="showArrows()" ng-click="rightClick()" ng-class="hasNext()?'enabled':'disabled'"><a>&raquo;</a></li>
        </ul>
    </div>
    <div class="col-xs-2"></div>
    <div class="col-xs-2" ng-if="!isFixedPageSize()">
        <button type="button" class="btn btn-link dropdown-toggle pull-right" data-toggle="dropdown">
            <span ng-bind="getCurrentPageSize()"></span>
            <span data-translate="personalization.commons.pagination.rowsperpage"></span>
            <span class="list-arrow hyicon hyicon-arrow"></span>
        </button>
        <ul class="dropdown-menu pull-right text-left" role="menu">
            <li ng-repeat="i in availablePageSizes() track by $index"><a ng-click="pageSizeClick(i)">{{i}}</a></li>
        </ul>
    </div>
</div>