@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../../systemBarWidget/scss/support/_systembar-mixins.scss";/*================================
    PerspectiveChooser Popup (Systembar)
================================*/
// Relevant Changes applied to the Perspective Chooser Popup

// Status:
// - all necessary changes added



.yw-perspective-popup {
  top: $systembar-popup__menu--top !important;  //overwriting inner styling
  width: $systembar-popup__menu--width;
  border: none;

  .z-treechildren {
    background-color: $systembar-popup__item--bg-color;
  }

  .z-treerow {
    width: $systembar-popup__treerow--width;
    display: inline-block;
    position: relative;
    border-top: $systembar-popup__list-cell--border-top;
    background: none;

    &:hover {
      background-color: $systembar-popup__item-hover--bg-color;
    }

    @for $i from 0 through 5 {
      &.yw-perspective-popup-level#{$i} .yw-perspective-popup-treecell {
        padding-left: $systembar-popup__treerow--indentation + ($systembar-popup__treerow--indentation-step * $i);
      }
    }

    .z-treecell {
      padding: $systembar-popup__tree-cell--padding;
      background: none;
    }

    .z-treecell-content {
      line-height: normal;
      position: static;
      @include _systembar_fonts ();
    }
    > .z-treecell > .z-treecell-content {
      color: $systembar__default--font-color;
    }

    &.z-treerow-selected {
      background-color: $systembar-popup__item-selected--bg-color;

      &:hover {
        background-color: $systembar-popup__item-hover--bg-color;
      }
    }
  }

  .z-treecell-content {
    padding: $systembar-popup__tree-cell-content--padding;

    .z-tree-spacer {
      display: none;
    }

    .z-treecell-text {
      display: inline-block;
      
      img {
        margin-right: $systembar-popup__tree-cell-image--margin-right;
      }
    }

    .z-tree-icon {
      text-align: left;
      padding: $systembar-popup__tree-icon--padding;
    }
  }

  .z-tree {
    border: none;
  }

  .z-icon-caret-right {
    @include _systembar_vertical_centering ($systembar__caret-right--width, $systembar__caret-right--height);
  }

  .z-icon-caret-down {
    @include _systembar_vertical_centering ($systembar__caret-down--width, $systembar__caret-down--height);
  }

  .z-icon-caret-right,
  .z-icon-caret-down {
    &:before {
      color: $systembar__caret--font-color;
    }
  }
}
