@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_explorerTree-mixins.scss";/*================================
    Explorer Tree
================================*/


.yw-explorerTree {
  &-widget {
    border: none;
  }

  &-filterDiv {
    background: none;
    padding: $explorertree__tree-filter-div--padding;
  }

  &-hideTextBoxDiv {
    float: right;
  }
}

