@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 



$_listlayout__list-defaults--padding: $container-spacing-default__base;
$_listlayout__list-container--max-width: 1260px;
$_listlayout__list-container--padding-bottom: $_listlayout__list-defaults--padding;
$_listlayout__list-child--margin: $_listlayout__list-defaults--padding $_listlayout__list-defaults--padding 0; 
$_listlayout__list-child--box-shadow: 0px 2px 5px 1px rgba($black, 0.3);
