@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 

/*================================
    Create Button Variables
================================*/
// Variables for the Create Button
// Status:
// - all ok



$actionLogo__btn--width: 25px;
$actionLogo__btn--margin-left: 2px;
$actionLogo__btn--margin-right: 2px;
$actionLogo__btn--padding: 0;
$actionLogo__btn--background: none;
$actionLogo__btn-hover--background: none;
$actionLogo__btn-img--height: 24px;