@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 

/*================================
    Create Button Variables
================================*/
// Variables for the Create Button
// Status:
// - all ok



$create__create-new-button--border-width: $boxes--border__thin;
$create__create-new-button--border: $create__create-new-button--border-width solid $grey__default--800;
$create__create-new-button--bg-color: $white;
$create__create-new-button--hover-bg-color: $white;
$create__create-new-button--hover-color: $white;
$create__create-new-button--hover-transition: background-color .2s;
$create__create-new-button--height: $toolbar__vertical-centering-base--height;
$create__create-new-button-caret-icon--size: 18px;
$create__create-new-button--caret-button--width: $create__create-new-button--height - 2px;
$create__create-new-button-caret-icon--margin: -(floor($create__create-new-button-caret-icon--size/2));
$create__create-no-subtype-popup--padding: 8px 5px;
$create__create-no-subtype-popup--color: $grey__default--800;

$create__create-new-button-opened--bg-color: #b3daf6;
$create__create-new-button-opened--border-color: $blue__light--500;
$create__create-new-button-opened--border: 1px solid $create__create-new-button-opened--border-color;
$create__create-new-button-select-disabled--bg-position: 4px -13px!important;

$create__create-new-button-opened--box-shadow: -1px 1px 3px 0px rgba($black, 0.1);
$create__create-new-button-action-text-label--margin-right: 5px;
$create__create-type-action-text--color: $black__blueish--100;

$create__create-type-popup-lvl-1--bg-color: $grey__light--500;
$create__create-type-popup-lvl-2--bg-color: $grey__light--100;
$create__create-type-popup-lvl-3--bg-color: $grey__default--1000;
$create__create-type-popup-lvl-4--bg-color: $grey__light--1000;

$create__create-type-popup-row--hover-bg-color: $blue__greyish--200;
$create__create-type-popup-row-selected--bg-color: $blue__default--300;
$create__create-type-popup-row-selected--color: $white;

$create__create-type-popup-list-item--padding: 5px 0; 

$create__create-type-toolbar-item-delimiter--color: $grey__light--800;
$create__create-type-selector-button--margin-left: -$create__create-new-button--border-width;
$create__create-new-action-hover--box-shadow: inset 0 0 0 $editor-defaults__action-button--border-width $editor-defaults__action-button-hover--border-color;