.yw-modal-synchronizationPopup .z-window-header {
  padding-bottom: 0; }
  .yw-modal-synchronizationPopup .z-window-header .z-caption {
    min-height: 0; }

.yw-syncpopup-title {
  display: block;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 60px 10px 20px; }

.yw-syncpopup-subtitle {
  padding: 10px 20px;
  display: block;
  color: #353739; }

.yw-syncpopup-textbox-holder {
  padding: 0 20px;
  margin: 20px auto; }

.yw-syncpopup-textbox::-webkit-input-placeholder {
  width: 16px;
  height: 16px;
  color: transparent;
  text-indent: -9999px;
  background-image: url("images/icon-search-sync.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px; }

.yw-syncpopup-textbox::-moz-placeholder {
  width: 16px;
  height: 16px;
  color: transparent;
  text-indent: -9999px;
  background-image: url("images/icon-search-sync.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px; }

.yw-syncpopup-textbox:-moz-placeholder {
  width: 16px;
  height: 16px;
  color: transparent;
  text-indent: -9999px;
  background-image: url("images/icon-search-sync.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px; }

.yw-syncpopup-textbox:-ms-input-placeholder {
  width: 16px;
  height: 16px;
  color: transparent;
  text-indent: -9999px;
  background-image: url("images/icon-search-sync.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px; }

.yw-syncpopup-bold-label {
  font-size: 16px;
  font-weight: bold; }

.yw-syncpopup-bold-label, .yw-syncpopup-label {
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 20px; }

.yw-syncpopup-cell-icon {
  width: 32px;
  text-align: center; }

.yw-syncpopup-pull, .yw-syncpopup-push, .yw-syncpopup-insync, .yw-syncpopup-outofsync {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px; }

.yw-syncpopup-pull {
  background: url("/backoffice/cng/images/sync/icon_status_sync_source.png"); }

.yw-syncpopup-push {
  background: url("/backoffice/cng/images/sync/icon_status_sync_target.png"); }

.yw-syncpopup-insync {
  background: url("/backoffice/cng/images/sync/icon_status_sync_insync.svg"); }

.yw-syncpopup-outofsync {
  background: url("/backoffice/cng/images/sync/icon_status_sync_outofsync.svg"); }

.yw-syncpopup-content {
  border-top: 1px solid #e0e9f0; }

.yw-syncpopup-navigation {
  height: 60px;
  border-top: 1px solid #e0e9f0; }
  .yw-syncpopup-navigation .yw-left-pack .yw-component-wrapper, .yw-syncpopup-navigation .yw-left-pack .component-wrapper, .yw-syncpopup-navigation .yw-right-pack .yw-component-wrapper, .yw-syncpopup-navigation .yw-right-pack .component-wrapper {
    display: inline-block;
    padding: 10px; }
  .yw-syncpopup-navigation .yw-right-pack {
    float: right; }
    .yw-syncpopup-navigation .yw-right-pack .yw-component-wrapper + .yw-component-wrapper,
    .yw-syncpopup-navigation .yw-right-pack .component-wrapper + .component-wrapper {
      padding-left: 0; }
  .yw-syncpopup-navigation .yw-left-pack .yw-component-wrapper + .yw-component-wrapper,
  .yw-syncpopup-navigation .yw-left-pack .component-wrapper + .component-wrapper {
    padding-right: 0; }

.yw-syncpopup .z-tabpanel {
  max-height: 305px;
  overflow: auto;
  padding: 0; }

.yw-syncpopup .z-tabbox-top > .z-tabpanels > .z-tabpanel {
  padding: 0; }

.yw-syncpopup .z-tabpanel,
.yw-syncpopup .z-listbox {
  border: none; }

.yw-syncpopup .z-tab {
  width: 50%;
  padding: 0 20px; }
  .yw-syncpopup .z-tab-text {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 10px; }
  .yw-syncpopup .z-tab:not([style*="display:none"]) + .z-tab:before {
    height: 15px;
    content: "";
    float: left;
    border-left: 1px solid #e0e9f0;
    margin-left: -20px; }

.yw-syncpopup .yw-btn-primary {
  width: 110px; }
