@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

.yw-preview-next,
.yw-preview-previous {
    opacity: 0.8;
    background: #ddd;
    width: 30px;
    height: 30px;
    position : absolute;
    top: 50%;
    margin-top: -15px;
    cursor: pointer;
    z-index:500;
}

.yw-preview-previous {
    left: 0;
}

.yw-preview-next {
    right: 0;
}

.yw-collection-preview-cnt {
    &.yw-single-reference > div.z-hlayout-inner {
        width: 100%;
        padding-right: 0 !important;
    }
    &.yw-multi-reference > div.z-hlayout-inner {
        &:nth-child(1) {
            width: $collection-editor-area__multi-reference-left--width;
            float: left;
            padding-right: 0 !important;
        }
        &:nth-child(2) {
            width: $collection-editor-area__multi-reference-right--width;
            float: right;
        }
    }
}