<div class="ySEpreview"
    data-uib-dropdown
    data-is-open="status.isopen"
    data-auto-close="disabled">
    <div class="btn yWebsiteSelectBtn"
        type="button"
        data-uib-dropdown-toggle
        id="experience-selector-btn"
        data-ng-click="resetExperienceSelector()">
        <span class="yWebsiteSelectBtn--info">
            <span class="yWebsiteSelectBtn--label"
                title="{{$ctrl.buildExperienceText()}}"
                data-translate="se.experience.selector.previewing"></span>
            <span class="yWebsiteSelectBtn--text-wrapper">
                <span class="yWebsiteSelectBtn--globe"
                    data-ng-if="$ctrl.iscurrentPageFromParent"
                    data-y-popover
                    data-trigger="'hover'"
                    data-placement="'bottom'"
                    data-template="$ctrl.parentCatalogVersion">
                    <span class="hyicon hyicon-globe yWebsiteSelectBtn--globe--icon"></span>
                </span>
                <span title="{{$ctrl.buildExperienceText()}}"
                    class="yWebsiteSelectBtn--text se-nowrap-ellipsis">{{$ctrl.buildExperienceText()}}</span>
                <span class="yWebsiteSelectBtn--arrow hyicon hyicon-arrow "></span>
            </span>
        </span>
    </div>
    <div class="dropdown-menu bottom btn-block yDdResolution "
        role="menu">
        <experience-selector data-experience="$ctrl.experience"
            data-dropdown-status="status"
            data-reset-experience-selector="resetExperienceSelector"></experience-selector>
    </div>
</div>