@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_advancedsearch-variables.scss";/*================================
    Advanced Search - Screensize Adjustments
================================*/
// Styling of defaults on the advanced-search component.

// Status: division into separate files 
// ToDo: all



@media screen and (max-width: 800px) {
    .yw-textsearch {
        &.yw-toggle-open .yw-buttons-container{
            float: right;
            margin-right: 5%;
            margin-bottom: 5px;
        }
        .yw-global-typeSelector.z-bandbox {
            max-width: 100%;
            width: 100%;
            margin-right: 5px;
        }
    }
    .yw-advancedsearch-header-container .yw-global-typeSelector-container.yw-advancedsearch-header-container {
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .yw-textsearch{
        &-searchbox {
        max-width: 95%;
        margin-bottom: 5px;
        }

        .yw-buttons-container {
        float: left;
        }
    }
}