/* *
/* This file includes the styles used in Combined View Panel and Modal
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/

@pe-combined-view-menu__category-table--margin: 0 auto .5em auto;
@pe-combined-view-menu__configure-layout--padding: 15px 5px 15px 25px;
@pe-combined-view--font-size: 15px;
@pe-combined-view__hyicon--font-size: 24px;
@pe-combined-view-menu__wrapper--max-height: 55vh;
@pe-combined-view-menu__category-table__item-name--padding-left: 20px;
.pe-combined-view-menu__enable-label {
    //reset the initial height, fix the IE allignment issue; remove when fixed in techme
    height: inherit;
}

.pe-combined-view-menu__wrapper {
    text-align: center;
    font-size: @pe-combined-view--font-size;
    word-wrap: break-word;
    max-height: @pe-combined-view-menu__wrapper--max-height;
    overflow-x: hidden;
}

.pe-combined-view-menu__configure-layout {
    display: flex;
    justify-content: space-between;
    padding: @pe-combined-view-menu__configure-layout--padding;
}

.pe-combined-view-menu__category-table {
    margin: @pe-combined-view-menu__category-table--margin;
    color: @text-color-dark-blue;
}

.pe-combined-view-menu__configure-btn {
    font-weight: @font-weight-semibold;
    font-family: @font-family-open-sans;
}

.combinedview-divider {
    border-top: 1px solid @border-color-light-grey;
}

.pe-combined-view-menu__category-table__item {
    font-size: @pe-combined-view--font-size;
    margin-left: 0;
    margin-right: 0;
    padding: 15px 25px;
    border-bottom: 1px solid @border-color-light-grey;
    display: flex;
    justify-content: flex-start;
    &:hover {
        background-color: @techne__row--background-color--hover;
    }
}

.combinedview-list-item--last {
    border-bottom: none;
}

.combinedview-variation-layout {
    font-weight: @font-weight-semibold;
}

.combinedview-inactive-layout {
    opacity: @opacity_point-five;
}

.pe-combined-view-menu__list-item--highlighted {
    background-color: @techne__row--background-color--selected;
    color: @background-color-white;
    &:hover {
        background-color: @techne__row--background-color--selected;
    }
}

.pe-combined-view-menu__category-table__item-name {
    text-align: left;
    padding-left: @pe-combined-view-menu__category-table__item-name--padding-left;
    max-width: calc(~"100% - 92px");
}

.pe-combined-view-menu__hyicon-checkedlg {
    font-size: @pe-combined-view__hyicon--font-size;
    flex: 1 10%;
    align-self: center;
    &:before {
        float: right;
    }
}