/* *
/* This file includes the styles used in Combined View Ranking
*/
@pe-combinedview-ranking__gutter: 0.4*@smartedit-gutter; //20px
@pe-combinedview-ranking__help-text--padding: @pe-combinedview-ranking__gutter 0; //20px 0
@pe-combinedview-ranking__list-layout--margin-top: -1px;
@pe-combinedview-ranking__names-layout--padding-left: @pe-combinedview-ranking__gutter; //20px
@pe-combinedview-ranking__cname--padding-right: 0.5*@pe-combinedview-ranking__gutter;   //10px
@pe-combinedview-ranking__vname--padding: 0 0.5*@pe-combinedview-ranking__gutter;    //0 10px

.pe-combinedview-ranking__help-text {
    padding: @pe-combinedview-ranking__help-text--padding;
}
.pe-combinedview-ranking__divider {
    border-top: 1px solid @border-color-light-grey;
}

.pe-combinedview-ranking__list-layout {
    border: 1px solid @border-color-light-grey; 
    margin-top: @pe-combinedview-ranking__list-layout--margin-top;
    display: flex;
    justify-content: space-between;
}

.pe-combinedview-ranking__names-layout {
    padding-left: @pe-combinedview-ranking__names-layout--padding-left;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex: 1;
    min-width: 0;
}

.pe-combinedview-ranking__cname  {
    font-weight: @font-weight-bold;
    flex: 5;
    padding-right: @pe-combinedview-ranking__cname--padding-right;
}
.pe-combinedview-ranking__vname {
    padding: @pe-combinedview-ranking__vname--padding;
    flex: 7;
}