/* *
/* This file includes the styles used in Combined View Ranking
*/

@pe-combinedview-config__ui-select-placeholder--font-size: 15px;
@pe-combinedview-config__hyicon-remove--font-size: 22px;
@pe-combinedview-config__gutter: 0.4*@smartedit-gutter; //20px
@pe-combinedview-config__ui-select-layout--margin: @pe-combinedview-config__gutter 0 2*@pe-combinedview-config__gutter 0;
@pe-combinedview-config__list-layout--margin-top: -1px;
@pe-combinedview-config__names-layout--padding-left: @pe-combinedview-config__gutter; //20px
@pe-combinedview-config__cname--padding-right: 0.5*@pe-combinedview-config__gutter;   //10px
@pe-combinedview-config__vname--padding: 0 0.5*@pe-combinedview-config__gutter;    //0 10px

.pe-combinedview-config__ui-select-layout {
    margin: @pe-combinedview-config__ui-select-layout--margin;
    .select2-disabled {
        opacity: @opacity_point-four;
        background: none;
        cursor: none;
    }
}

.pe-combinedview-config__ui-select-placeholder {
    font-size: @pe-combinedview-config__ui-select-placeholder--font-size;
    color: @text-color-light-grey;
}

.pe-combinedview-config__ui-select-item--selected {
    font-weight: @font-weight-bold;
}

.pe-combinedview-config__divider {
    border-top: 1px solid @border-color-light-grey;
}

.pe-combinedview-config__list-layout {
    border: 1px solid @border-color-light-grey; 
    margin-top: @pe-combinedview-config__list-layout--margin-top;
    display: flex;
    justify-content: space-between;
}

.pe-combinedview-config__names-layout {
    padding-left: @pe-combinedview-config__names-layout--padding-left;
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex: 1;
    min-width: 0;
}

.pe-combinedview-config__cname  {
    font-weight: @font-weight-bold;
    flex: 5;
    padding-right: @pe-combinedview-config__cname--padding-right;
}
.pe-combinedview-config__vname {
    padding: @pe-combinedview-config__vname--padding;
    flex: 7;
}

.pe-combinedview-config__hyicon-remove {
    top: 4px;
    right: 5px;
    position: relative;
    font-size: @pe-combinedview-config__hyicon-remove--font-size;
    color: @text-color-light-blue-grey;
    &:hover {
        opacity: @opacity_point-five;
    }
}