 /* *
/* This file includes the common styles used in Personalization
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
 /* new: the active status is now called enabled
 /* the inactive status is now called disabled 
 */
 
 .status-active {
     color: @text-color-green;
 }
 
 .status-ignore,
 .status-inactive {
     color: @text-color-grey;
 }

.select2-highlighted {
    .status-active, .status-inactive, .status-ignore {
        color: @background-color-white;
    }
}
 
 .perso__scrollzone {
     position: fixed;
     z-index: 10000;
     left: 0;
     width: 100%;
     height: 10%;
 }

 .perso__scrollzone--normal {
  	background-color: @background-color-grey;
 }
  
 .perso__scrollzone--transparent {
 	background-color: transparent;
 } 
 
 .perso__scrollzone--top {
     top: 0;
 }
 
 .perso__scrollzone--bottom {
     bottom: 0;
 }
 
 .perso__datetimepicker--error-border {
     border: 2px solid @border-color-red;
 }
 
 .perso__datetimepicker--warning-border {
     border: 2px solid @border-color-orange;
 }
 
 .perso__datetimepicker--error-text {
     color: @text-color-red;
 }
 
 .col-reset-padding {
     padding-left: 0;
     padding-right: 0;
 }
 
 .perso-list__status--value {
     font-size: 12px;
     text-transform: uppercase;
     font-weight: @font-weight-bold;
 }
 
 .perso-list__dates-layout {
     font-size: 12px;
 }
 
 .perso__filter-layout .ui-select-container {
     width: 100%;
     text-align: left;
 }
 
 .perso-list__primary-data {
     font-weight: @font-weight-semibold;
 }
 
 .personalization-modal__label {
     font-size: 13px;
     font-weight: @font-weight-bold;
 }
 
 .customization__marker {
     width: 30px;
     height: 30px;
     top: -5px;
     background-color: transparent; //in case the image does not load
     display: inline-block;
     margin-left: -8px;
 }
 
 .commerce-customization__marker--icon {
     &:extend(.customization__marker);
     background-image: @personalizationCommerceCustomizationIcon;
     background-repeat: no-repeat;
 }
 
 .perso-wrap-ellipsis {
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
 }
 
 .perso__scrollbar--hidden {
     -ms-overflow-style: none; // IE 10+
     &::-webkit-scrollbar {
         display: none; // Safari and Chrome
     }
 }