/* *
/* This file includes the styles used in Manage Customization Library modal
*/

@perso-library--font-size: 16px;
@perso-library__header--font-size: 20px;
@perso-library__header--font-weight: 300;
@perso-library__search-icon--font-size: 30px;
@perso-library__search-form--font-size: 15px;
@y-tree-row__header--font-size: 12px;
@perso-library__gutter: 0.4*@smartedit-gutter; //20px
@perso-library__y-tree__mobile-more-menu--padding-top: 0.5*@perso-library__gutter; //10px
@perso-library__add-button--margin-top: 0.75*@perso-library__gutter; //15px
@perso-library__add-button--padding-right: 0.25*@perso-library__gutter;  //5px
@perso-library__search-form--padding-left: 0.25*@perso-library__gutter;  //5px
@perso-library__search-form--padding-bottom: 12px;
@y-tree-row__angular-ui-tree-handle--padding-left: @perso-library__gutter;  //20px
@perso-library__scroll-zone-area--height: 90vh;
// always have a height for this element even when there are no dates (better ux when we drag and drop)
@perso-library__dates-layout--min-height: @perso-library__gutter;   //20px
.perso-library {
    font-size: @perso-library--font-size;
    .modal-header h4 {
        text-align: center;
        margin: 0 auto 0 auto; //to center it
    }
    .modal-header {
        border: none;
        padding-right: 0;
    }
    .modal-body {
        padding-top: 0;
    }
    .hyicon {
        font-family: inherit;
    }
    .category-toggle {
        margin: 0;
    }
    .ySEPanelSpinner {
        display: block;
        text-align: center;
    }
}

.perso-library__y-tree {
    word-wrap: break-word;
    & * {
        transition: none;
    }
    .mobile-more-menu {
        padding-top: @perso-library__y-tree__mobile-more-menu--padding-top;
    }
    .angular-ui-tree-handle {
        color: @text-color-dark-blue;
        min-height: inherit;
    }
    .angular-ui-tree-nodes .angular-ui-tree-nodes {
        padding-left: 0;
    }
}

.y-tree__mobile-layout__header {
    font-size: @y-tree-row__header--font-size;
    font-weight: @font-weight-bold;
}

.y-tree-header--fixed {
    position: fixed;
    top: 80px;
    width: 94%;
    z-index: 999;
    background-color: @background-color-light-grey1;
}

.perso-library__header {
    color: @text-color-grey;
    text-align: center;
    font-size: @perso-library__header--font-size;
    font-weight: @perso-library__header--font-weight;
    padding-top: 0;
}

.perso-library__add-button {
    margin-top: @perso-library__add-button--margin-top;
    .hyicon:before {
        padding-right: @perso-library__add-button--padding-right
    }
}

.perso-library__hyicon-more:before {
    vertical-align: top;
}

.perso-library__search {
    margin: 2em auto .5em auto;
    color: @text-color-dark-blue;
    .form-control {
        padding-left: @perso-library__search-form--padding-left;
        padding-bottom: @perso-library__search-form--padding-bottom;
        font-size: @perso-library__search-form--font-size;
        border-left: none;
        box-shadow: none;
        border-right: none
    }
}

.perso-library__search-input:focus {
    border-bottom: 1px solid @border-color-light-grey; //focus and not on focus should be the same
    border-top: 1px solid @border-color-light-grey;
}

.perso-library__search-icon {
    border-right: none;
    border-radius: 0;
    top: 0;
    background-color: @background-color-white;
    font-size: @perso-library__search-icon--font-size;
    padding: 0 0 4px 6px; //consistent with page list
}

.perso-library__search-results {
    text-align: center;
    color: @text-color-grey;
    font-style: italic;
}

.perso-library__search-results--fixed {
    position: fixed;
    top: 90px;
    width: 95%;
    margin: 0 auto .5em auto;
    text-align: center;
    color: @text-color-grey;
    font-style: italic;
    z-index: 1000;
    background-color: @background-color-light-grey1;
}

.perso-library__scroll-zone {
    height: @perso-library__scroll-zone-area--height;
    overflow-y: scroll;
}

.perso-library__back-to-top-button {
    position: absolute;
    bottom: 30px;
    right: 15px;
}

.perso-library__cc-marker {
    &:extend(.customization__marker);
}

 .perso-library__cc-icon {
    &:extend(.commerce-customization__marker--icon);
}

.perso-library__primary-data {
    &:extend(.perso-list__primary-data);
}

.perso-library__status-value {
    &:extend(.perso-list__status--value);
}

.perso-library__dates-value {
    &:extend(.perso-list__dates-layout);
}

.perso-library__dates-layout {
    min-height: @perso-library__dates-layout--min-height;
}

.y-tree-row__angular-ui-tree-handle {
    color: @text-color-dark-blue;
    border: none;
    min-height: inherit;
    font-weight: @font-weight-normal;
    padding-left: @y-tree-row__angular-ui-tree-handle--padding-left; //to align vertically customization with variation
}

.perso-library__angular-ui-tree-drag {
    font-size: @perso-library--font-size;
    font-weight: inherit;
    color: @text-color-dark-blue;
    margin: 0;
    background-color: @white;
    .dropdown-toggle, .category-toggle {
        padding-top: 0;
        padding-bottom: 0;
    }
    .desktop-layout {
        padding: 20px 15px 10px 15px;
        border: 1px solid @background-color-light-grey1;
        margin-top: -1px;
    }
    .perso-library__cc-icon {
        margin-left: 0;
    } 
    .perso-library__primary-data {
        font-weight: @font-weight-semibold;
    }
}

@media (min-width: 992px) {
    .perso-library__status-header {
        padding-left: 20%;
    }
}

@media (min-width: 1200px) {
    .perso-library__status-header {
        padding-left: 15%;
    }
}

@media (min-width: 2200px) {
    .perso-library__status-layout {
        padding-left: 10%;
    }
}

//IE specific - have smaller height in IE10+, otherwise infinite scroll does not look great
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .perso-library__scroll-zone {
        height: 65vh;
    }
}

//Firefox specific - scrollbar issues
@media (min--moz-device-pixel-ratio: 0) {
    .perso__scrollbar--hidden {
        overflow-y: auto;   //FF - display the scrollbar only when needed
    }

    .perso-library__scroll-zone {
        height: 80vh;    //to solve some use cases with double scrollbar
    }
}