.personalizationsmarteditVariationComponentSelected-icon {
    background-image: @personalizationVariationComponentIcon;
    background-repeat: no-repeat;
    background-color: transparent; //in case the image does not load
}

.personalizationsmarteditVariationComponentSelected {
    border: 5px;
    border-style: solid;
    border-color: @personalizionComponentSelectedBorderColor;
}

.modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    .modal-header .close {
        //reset it to original value, not the new one from SE
        margin-right: 20px;    
    }
}

.modal-fullscreen > .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    background-color: @background-color-light-grey1;
}

.modal_bigger {
    font-size: 15px;
    .modal-body {
        min-height: 600px; //set a fixed minimal height for the customization modal
    }
}

.personalization-ctx__icon:before {
    vertical-align: inherit;
}

.personalization-ctx__icon:hover {
    background: @background-color-white;
    color: @text-color-light-blue;
}