//This file includes the styling of all the panels which we open from the toolbar menu
//(e.g customize panel, combined view, library, etc)
@pe__perso-panel__hyicon--font-size: 24px;
.perso-panel {
    font-size: 15px;
    word-wrap: break-word;
    .perso__filter-layout--no-results {
        min-height: 150px; //to avoid the default dropdown overflow
    }
    .categoryTable {
        color: @text-color-dark-blue;
    }
    .lefttoolbar--glyphicon-chevron {
        top: 10px;
    }
    .hyicon {
        font-family: inherit;
    }
    .y-add-btn .hyicon:before {
        padding-right: 5px;
    }
    .hyicon-lefttoolbar {
        font-size: @pe__perso-panel__hyicon--font-size;
    }
    .search-item-lefttoolbar {
        width: 102%;
        height: 100%;
        padding: 15px;
        background: @background-color-grey;
        box-shadow: 0 2px 3px rgba(138, 143, 161, 0.2);
        .select2-search-field input {
            padding-left: 5px;
        }
        .select2-search-field::before {
            font-weight: @font-weight-normal;
            font-family: hyicon;
            content: "\e00f";
            padding-left: 10px;
            vertical-align: middle;
            font-size: 18px;
        }
        .perso-list__status--value {
            font-size: 11px;
        }
    }
    .row-lefttoolbar {
        margin-left: 0;
        padding: 15px;
        padding-right: 25px;
        border-bottom: 1px solid @border-color-light-grey;
        &:hover {
            background-color: @techne__row--background-color--hover;
        }
    }
    .perso__filter-layout {
        margin-left: 0;
        padding: 15px;
        border-bottom: 1px solid @border-color-light-grey;
    }
    .row-lefttoolbar.perso__filter-layout.perso__filter-layout--no-results,
    .row-lefttoolbar.customization--last {
        border-bottom: none; //for esthetics
    }
    .customization--last {
        padding-bottom: 30px; //increase the padding for the link not to overflow the parent
    }
    .category-toggle {
        margin: 0;
    }
    .col-lefttoolbar-glyphicon {
        padding-right: 15px;
    }
    .col-lefttoolbar-hyicon {
        padding-left: 0;
    }
    .dropdown-menu-leftoolbar {
        margin-right: -5px;
        min-width: 100px;
    }
    .overflow-wrapper-lefttoolbar {
        max-height: 55vh;
        overflow-x: hidden;
    }
    .dropdown-menu-single-item {
        margin-top: -5px;
        margin-bottom: -5px;
        padding: 10px 16px;
    }
    .selectedVariation {
        background-color: @techne__row--background-color--selected;
        color: @background-color-white;
        &:hover {
            background-color: @techne__row--background-color--selected;
        }
        .status-active,
        .status-inactive,
        .status-ignore {
            color: @background-color-white;
        }
        .commerce-customization__marker--icon {
            background-image: @personalizationCommerceCustomizationSelectedIcon;
        }
    }
}

.perso-panel__hyicon-checkedlg {
    font-size: @pe__perso-panel__hyicon--font-size;
}

.select2-highlighted {
    .status-active, .status-inactive, .status-ignore {
        color: @background-color-white;
    }
}