/* *
* Let's put here all the css hacks and document what we fixed
* From time to time (every release?) would be nice to come back to this file and try to clean it up
* Don't feel bad from the name, it is a common practice ;)
* More here: https://csswizardry.com/2013/04/shame-css/
*/

// In the multi-segments feature, a dragged element on Chrome (only) changes its style; 
// The placeholder has extra margins and it does not look nice
// This condition is meant to be only for Chrome and not Safari or Edge; it works with the current latest versions of each browser 
// (latest as of March 29, 2017) 
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    .perso-tree__segments-layout .angular-ui-tree-placeholder {
        margin: 0;
    }
}

.h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: @font-family-open-sans;
}

// special treatment for ie11 (there is already a width property but ie ignores it)
.pe-combined-view-menu__category-table__item-icon {
    max-width: @combinedview__letter--width;        
}