/* *
/* This file will include all the constants (e.g. colors, fonts, etc)
*/
/** Colors
/* all the colors used - write them once in this section so we can easier keep track and re-use
*/

@blue: #0486e0;
@light-blue: #00c6ff;
@light-green: #9dc75b;
@orange: #fd621f;
@purple: #b831b4;
@yellow: #faba0d;
@cyan: #1ec8df;
@magenta: #de356b;
@white: #ffffff;
@dark-blue-grey: #1F4D70;
@very-dark-grey: #5f7084;
@blue-grey-1: #a4a9b9;
@light-blue-grey: #7f90a4;
@light-grey: #8a8fa1;
@very-light-grey: #c4cedc;
@red: red;
@smartedit-grey: #e5f1f9;
@techne-yellow: #fbbb21;
@warning: @techne-yellow;
@techne__row--background-color--hover: #d2dbe6;
@techne__row--background-color--selected: #82aedb;
@techne-back-to-top-button--color--hover: #4f86e3;
// icons
@personalizationCommerceCustomizationIcon: url("../icons/promotion_off.png");
@personalizationCommerceCustomizationSelectedIcon: url("../icons/promotion_on.png");
// border colors
@personalizionComponentSelectedBorderColor: @blue;
@personalizationVariationComponentIcon: url("../icons/selected_component.png");
@border-color-light-grey: #d4d7dc;
@border-color-light-grey1: @very-light-grey;
@border-color-dark-grey: @very-dark-grey;
@border-color-blue: @blue;
@border-color-red: @red;
@border-color-orange: @orange;
// combined view colors
@personalizationComponentColor0: @blue;
@personalizationComponentColor1: @light-green;
@personalizationComponentColor2: @orange;
@personalizationComponentColor3: @purple;
@personalizationComponentColor4: @yellow;
@personalizationComponentColor5: @cyan;
@personalizationComponentColor6: @magenta;
@personalizationComponentColor7: @dark-blue-grey;
@personalizationComponentColor8: fadeout(@personalizationComponentColor7, @opacity_percent-ten);
@personalizationComponentColor9: fadeout(@personalizationComponentColor8, @opacity_percent-ten);
@personalizationComponentColor10: fadeout(@personalizationComponentColor9, @opacity_percent-ten);
@personalizationComponentColor11: fadeout(@personalizationComponentColor10, @opacity_percent-ten);
@personalizationComponentColor12: fadeout(@personalizationComponentColor11, @opacity_percent-ten);
@personalizationComponentColor13: fadeout(@personalizationComponentColor12, @opacity_percent-ten);
@personalizationComponentColor14: fadeout(@personalizationComponentColor13, @opacity_percent-ten);
//combined view colors function variables
@colorsNumber: 14;
@index: 0;
@increment: 1;
@combinedview__letter--width: 44px;
@combinedview__letter--height: 44px;
// border images
@toolbar-context-border-image: url("../icons/toolbar-context-border.png");
// background colors
@background-color-white: @white;
@background-color-light-grey1: #e0e9f0;
@background-color-light-grey2: #caddf0;
@background-color-light-blue-grey: #e5f1f9;
@background-color-grey: #f3f6f9;
@background-color-blue: #32a0ec;
// text colors
@text-color-grey: #8592a2; //for a counting results, headers
@text-color-dark-blue: #27394f; //for modal titles, content text
@text-color-blue-grey: @blue-grey-1;
@text-color-blue: @blue;
@text-color-red: red;
@text-color-green: green;
@text-color-white: @white;
@text-color-light-grey: @light-grey;
@text-color-very-light-grey: @very-light-grey;
@text-color-light-blue-grey: @light-blue-grey;
@text-color-light-blue: @light-blue;
//font-weights
@font-weight-semibold: 600;
@font-weight-bold: 700;
@font-weight-normal: 400;
//font-family
@font-family-open-sans: "Open Sans", sans-serif;
//opacity
@opacity_one: 1;
@opacity_point-eight: 0.8;
@opacity_point-six: 0.6;
@opacity_point-five: 0.5;
@opacity_point-four: 0.4;
@opacity_percent-ten: 10%;
//flex variables
@flex-grow: 2; //the flex container can grow up tp double its size
@flex-shrink: 2; //the flex container can shrink up to half its size
@smartedit-gutter: 50px;
@toolbar-button-right-border: 1px solid rgba(4, 134, 224, 0.35);