/*================================
    Explorer Tree
================================*/
.yw-savedqueries-container {
  height: 100%;
  background-color: #1e2830;
  color: #ffffff; }
  .yw-savedqueries-container .header-container {
    background-color: #1e2830;
    padding: 12px 20px; }
    .yw-savedqueries-container .header-container .z-label {
      padding: 7px 0 6px 1px;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
      line-height: 19px; }
  .yw-savedqueries-container .z-vlayout-inner {
    padding-bottom: 0px !important; }
  .yw-savedqueries-container .filterDiv {
    padding: 0 20px 20px;
    border-bottom: 2px solid #464e56;
    color: #ffffff; }
  .yw-savedqueries-container .yw-filter-textbox {
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff; }
    .yw-savedqueries-container .yw-filter-textbox::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .yw-savedqueries-container .yw-filter-textbox::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.5); }
    .yw-savedqueries-container .yw-filter-textbox:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .yw-savedqueries-container .yw-filter-textbox:focus {
      color: #151c22;
      border-color: false;
      background-color: rgba(255, 255, 255, 0.85); }
      .yw-savedqueries-container .yw-filter-textbox:focus::-webkit-input-placeholder {
        color: transparent; }
      .yw-savedqueries-container .yw-filter-textbox:focus::-moz-placeholder {
        /* Firefox 19+ */
        color: transparent; }
      .yw-savedqueries-container .yw-filter-textbox:focus:-ms-input-placeholder {
        color: transparent; }

.yw-savedqueries-list {
  height: 100%;
  background-color: transparent;
  border: none;
  overflow: auto; }
  .yw-savedqueries-list tr.z-listitem, .yw-savedqueries-list .z-listitem {
    background-color: transparent;
    -webkit-transition: background-color 2s ease-in-out !important;
    transition: background-color 2s ease-in-out !important; }
    .yw-savedqueries-list tr.z-listitem .z-listcell, .yw-savedqueries-list .z-listitem .z-listcell {
      border-color: transparent; }
      .yw-savedqueries-list tr.z-listitem .z-listcell-content, .yw-savedqueries-list .z-listitem .z-listcell-content {
        color: #ffffff; }
    .yw-savedqueries-list tr.z-listitem .z-label, .yw-savedqueries-list .z-listitem .z-label {
      padding-left: 0;
      color: inherit; }
    .yw-savedqueries-list tr.z-listitem:hover, .yw-savedqueries-list tr.z-listitem.z-listitem-selected:hover, .yw-savedqueries-list .z-listitem:hover, .yw-savedqueries-list .z-listitem.z-listitem-selected:hover {
      background-color: rgba(166, 179, 196, 0.1); }
      .yw-savedqueries-list tr.z-listitem:hover .z-listcell-content, .yw-savedqueries-list tr.z-listitem.z-listitem-selected:hover .z-listcell-content, .yw-savedqueries-list .z-listitem:hover .z-listcell-content, .yw-savedqueries-list .z-listitem.z-listitem-selected:hover .z-listcell-content {
        background-color: transparent;
        color: #ffffff; }
      .yw-savedqueries-list tr.z-listitem:hover .ye-delete-btn, .yw-savedqueries-list tr.z-listitem.z-listitem-selected:hover .ye-delete-btn, .yw-savedqueries-list .z-listitem:hover .ye-delete-btn, .yw-savedqueries-list .z-listitem.z-listitem-selected:hover .ye-delete-btn {
        display: inline-block; }
    .yw-savedqueries-list tr.z-listitem.yw-savedqueries-recently-added-item, .yw-savedqueries-list .z-listitem.yw-savedqueries-recently-added-item {
      background-color: #0486e0; }
  .yw-savedqueries-list .ye-delete-btn {
    display: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    height: 100%;
    left: -8px;
    line-height: 14px;
    min-height: 15px;
    min-width: 15px; }
  .yw-savedqueries-list .cell-btn {
    width: 28px; }
    .yw-savedqueries-list .cell-btn .z-listcell-content {
      text-align: center; }
  .yw-savedqueries-list .cell-name {
    padding-left: 5px; }
  .yw-savedqueries-list tbody.z-listbox-emptybody td {
    background: transparent; }
  .yw-savedqueries-list .z-listbox-body {
    padding: 0 20px; }

.header-container .yw-filter-toolbarbutton {
  background: url("images/icon_action_filter_default.png");
  height: 28px;
  width: 28px;
  margin: 2px 0 2px 0;
  float: right;
  opacity: 1; }
  .header-container .yw-filter-toolbarbutton:hover {
    background-color: transparent;
    opacity: 0.75; }
  .header-container .yw-filter-toolbarbutton.z-toolbarbutton-checked {
    background-image: url("images/icon_action_filter_disabled.png"); }

.filterDiv .z-checkbox {
  line-height: 40px; }

.filterDiv.z-vlayout .z-checkbox {
  line-height: normal;
  margin-top: 10px;
  display: block; }
  .filterDiv.z-vlayout .z-checkbox-content {
    padding-top: 3px; }
