<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="administration-page"><h2 id="the-administration-module">The administration module</h2>
<p>The administration module provides services to display and manage configurations
that point to web service and the value property contains the URI of the web service or data.</p>
</div></div>
