<h1><code ng:non-bindable="">generalConfiguration</code>
<div><span class="hint">directive in module <code ng:non-bindable="">administration</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="administration-directive-page administration-directive-generalconfiguration-page"><p>The Generation Configuration directive is an HTML marker. It attaches functions of the Configuration Editor to the
DOM elements of the General Configuration Template in order to display the configuration editor.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;general-configuration&gt;
&lt;/general-configuration&gt;</pre>
</div>
</div>
