<h1><code ng:non-bindable="">alertService</code>
<div><span class="hint">service in module <code ng:non-bindable="">alertServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="alertservicemodule-alertservice-page"><p>The alert service provides a simple interface for presenting alerts to the user.<br />
It acts as a facade to the lower level <a href="#/smartEditContainer/alertFactoryModule.Alert">Alert</a> and
<a href="#/smartEditContainer/alertFactoryModule.alertFactory">alertFactory</a>.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_pushalerts">pushAlerts()</h3>
<div class="pushalerts"><div class="alertservicemodule-alertservice-pushalerts-page"><p>LEGACY - please use one of the showXY alert methods instead.</p>
</div></div>
</li>
<li><h3 id="methods_removealertbyid">removeAlertById()</h3>
<div class="removealertbyid"><div class="alertservicemodule-alertservice-removealertbyid-page"><p>LEGACY - Should not be used, but still working for backwards compatibility.
<br />
To explicitly hide an alert, use the <a href="#/smartEditContainer/alertFactoryModule.alertFactory">alertFactory</a> instead of the
alertService. You can create an alert object there and .show() or .hide() it when needed.</p>
</div></div>
</li>
<li><h3 id="methods_showalert">showAlert(alertConf)</h3>
<div class="showalert"><div class="alertservicemodule-alertservice-showalert-page"><p>Displays an alert to the user. <br />
Convenience method to create an alert and call.show() on it immediately.</p>
</div><h5 id="methods_showalert_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertservicemodule-alertservice-showalert-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object OR a message string</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_showdanger">showDanger(alertConf)</h3>
<div class="showdanger"><div class="alertservicemodule-alertservice-showdanger-page"><p>Displays an alert to the user. <br />
Convenience method to create an alert and call.show() on it immediately.</p>
</div><h5 id="methods_showdanger_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertservicemodule-alertservice-showdanger-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object OR a message string</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_showinfo">showInfo(alertConf)</h3>
<div class="showinfo"><div class="alertservicemodule-alertservice-showinfo-page"><p>Displays an alert to the user. <br />
Convenience method to create an alert and call.show() on it immediately.</p>
</div><h5 id="methods_showinfo_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertservicemodule-alertservice-showinfo-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object OR a message string</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_showsuccess">showSuccess(alertConf)</h3>
<div class="showsuccess"><div class="alertservicemodule-alertservice-showsuccess-page"><p>Displays an alert to the user. <br />
Convenience method to create an alert and call.show() on it immediately.</p>
</div><h5 id="methods_showsuccess_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertservicemodule-alertservice-showsuccess-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object OR a message string</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_showwarning">showWarning(alertConf)</h3>
<div class="showwarning"><div class="alertservicemodule-alertservice-showwarning-page"><p>Displays an alert to the user. <br />
Convenience method to create an alert and call.show() on it immediately.</p>
</div><h5 id="methods_showwarning_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertservicemodule-alertservice-showwarning-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object OR a message string</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
