<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="alertservicemodule-page"><p><h2 id="the-alert-service-module">The Alert service module</h2>
The alert service module provides a centralize service for displaying alerts to the user,
both from the container application, and the iframed application.<br />
<br />
The alerts are displayed using the <a href="#/smartEditContainer/systemAlertsModule.systemAlerts">systemAlerts</a> component.</p>
</div></div>
