<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="alertfactorymodule-page"><p><h2 id="the-alert-service-module">The Alert service module</h2>
The alert service module provides a centralized service to display alerts to users, from the container
application or the iframed application to users
<br />
The alerts are displayed using the <a href="#/smartEditContainer/systemAlertsModule.systemAlerts">systemAlerts</a> component.</p>
</div></div>
