<h1><code ng:non-bindable="">AlertConfig</code>
<div><span class="hint">object in module <code ng:non-bindable="">alertFactoryModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="alertfactorymodule-object-page alertfactorymodule-object-alertconfig-page"><p>Configuration object for creating/displaying alerts.</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_closeable">closeable</h3>
<div class="closeable"><div class="closeable-page"><p>{Boolean} default: true <br />
If true, it allows the user to manually dismiss the displayed alert.</p>
</div></div>
</li>
<li><h3 id="properties_message">message</h3>
<div class="message"><div class="message-page"><p>{String} <br />
The alert i18n message to be displayed to the user</p>
</div></div>
</li>
<li><h3 id="properties_messageplaceholders">messagePlaceholders</h3>
<div class="messageplaceholders"><div class="messageplaceholders-page"><p>{Object} <br />
An object containing values for placeholders in he i18n message for dynamized values</p>
</div></div>
</li>
<li><h3 id="properties_template">template</h3>
<div class="template"><div class="template-page"><p>{String} <br />
The alert inline template to be displayed to the user</p>
</div></div>
</li>
<li><h3 id="properties_templateurl">templateUrl</h3>
<div class="templateurl"><div class="templateurl-page"><p>{String} <br />
The alert template file to be displayed to the user</p>
</div></div>
</li>
<li><h3 id="properties_timeout">timeout</h3>
<div class="timeout"><div class="timeout-page"><p>{Number} default: 3000 <br />
If greater than 0, the alert will automatically be dismissed after the timeout.<br />
Setting closeabled to false, will not prevent this alert from being auto-dismissed.</p>
</div></div>
</li>
<li><h3 id="properties_type">type</h3>
<div class="type"><div class="type-page"><p>{String} default: <a href="#/smartEditContainer/alertFactoryModule.object:SE_ALERT_SERVICE_TYPES">SE_ALERT_SERVICE_TYPES.INFO</a> <br />
One of <a href="#/smartEditContainer/alertFactoryModule.object:SE_ALERT_SERVICE_TYPES">SE_ALERT_SERVICE_TYPES</a></p>
</div></div>
</li>
</ul>
</div>
</div>
