<h1><code ng:non-bindable="">SE_ALERT_SERVICE_GATEWAY_ID</code>
<div><span class="hint">service in module <code ng:non-bindable="">alertServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="alertservicemodule-se-alert-service-gateway-id-page"><p>The gateway UID used to proxy the <a href="#/smartEditContainer/alertServiceModule.alertService">alertService</a><br />
Warning: This value must match the value of the <strong>same name<strong> in in the SmartEdit proxy version</p>
</div></div>
</div>
