<h1><code ng:non-bindable="">Alert</code>
<div><span class="hint">service in module <code ng:non-bindable="">alertFactoryModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="alertfactorymodule-alert-page"><h3 id="description_alert">Alert</h3>
<p>Represents an alert that can display a message to the user. Only one
type of template is allowed (message, template, or templateUrl).
A custom controller can be passed as a parameter to the alertConf
object and consumed by the Alert template under the alias
&#39;$alertInjectedController&#39;.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">Alert([alertConf]);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertfactorymodule-alert-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_hide">hide()</h3>
<div class=""><div class="alertfactorymodule-alert-hide-page"><p>Hides the alert if it is currently being displayed to the user.</p>
</div></div>
</li>
<li><h3 id="methods_isdisplayed">isDisplayed()</h3>
<div class="isdisplayed"><h5 id="methods_isdisplayed_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="alertfactorymodule-alert-isdisplayed-page"><p>True while the alert is displayed to the user, otherwise false.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_show">show()</h3>
<div class="show"><div class="alertfactorymodule-alert-show-page"><p>Displays the alert to the user. <br />
<br />
Note: This is only successful if the <a href="#/smartEditContainer/systemAlertsModule.systemAlerts">systemAlerts</a> component (single instance)
is in the application DOM. SmartEdit is packaged with one embedded in the application root HTML, therefore this shouldn&#39;t be an issue.</p>
</div></div>
</li>
</ul>
</div>
</div>
