<h1><code ng:non-bindable="">SE_ALERT_SERVICE_TYPES</code>
<div><span class="hint">object in module <code ng:non-bindable="">alertFactoryModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="alertfactorymodule-object-page alertfactorymodule-object-se-alert-service-types-page"><p>The available Alert types that can be provided in the type property of an AlertConfig</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_danger">DANGER</h3>
<div class="danger"><div class="danger-page"><p>Presents errors or problems encountered to the user.</p>
</div></div>
</li>
<li><h3 id="properties_info">INFO</h3>
<div class="info"><div class="info-page"><p>Presents general information to the user.</p>
</div></div>
</li>
<li><h3 id="properties_success">SUCCESS</h3>
<div class="success"><div class="success-page"><p>Presents information about a successful action or result to the user.</p>
</div></div>
</li>
<li><h3 id="properties_warning">WARNING</h3>
<div class="warning"><div class="warning-page"><p>Presents information about potentially risky actions or actions that could result in harmful consequences.</p>
</div></div>
</li>
</ul>
</div>
</div>
