<h1><code ng:non-bindable="">SE_ALERT_DEFAULTS</code>
<div><span class="hint">object in module <code ng:non-bindable="">alertFactoryModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="alertfactorymodule-object-page alertfactorymodule-object-se-alert-defaults-page"><p>The default values used for alerts.
See <a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> for more details.</p>
</div></div>
</div>
