<h1><code ng:non-bindable="">alertFactory</code>
<div><span class="hint">service in module <code ng:non-bindable="">alertFactoryModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="alertfactorymodule-alertfactory-page"><h3 id="description_alertfactory">alertFactory</h3>
<p>The alertFactory allows you to create <a href="#/smartEditContainer/alertFactoryModule.Alert">Alert</a> instances.<br />
When possible, it is better to use <a href="#/smartEditContainer/alertServiceModule.alertService">alertService</a> to show alerts.<br />
This factory is useful when one of the <a href="#/smartEditContainer/alertFactoryModule.Alert">Alert</a> methods is needed, like
hide() or isDisplayed(), or if you want to create a single instance and hide/show when necessary.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_createalert">createAlert(alertConf)</h3>
<div class="createalert"><h5 id="methods_createalert_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertfactorymodule-alertfactory-createalert-page"><p>An
<a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object OR a message string</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table><h5 id="methods_createalert_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-alertfactorymodule">alertFactoryModule.Alert</a></td><td><div class="alertfactorymodule-alertfactory-createalert-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.Alert">Alert</a> instance</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_createdanger">createDanger(alertConf)</h3>
<div class="createdanger"><h5 id="methods_createdanger_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertfactorymodule-alertfactory-createdanger-page"><p>An
<a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object OR a message string</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table><h5 id="methods_createdanger_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-alertfactorymodule">alertFactoryModule.Alert</a></td><td><div class="alertfactorymodule-alertfactory-createdanger-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.Alert">Alert</a> instance with type set to DANGER</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_createinfo">createInfo(alertConf)</h3>
<div class="createinfo"><h5 id="methods_createinfo_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertfactorymodule-alertfactory-createinfo-page"><p>An
<a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object OR a message string</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table><h5 id="methods_createinfo_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-alertfactorymodule">alertFactoryModule.Alert</a></td><td><div class="alertfactorymodule-alertfactory-createinfo-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.Alert">Alert</a> instance with type set to INFO</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_createsuccess">createSuccess(alertConf)</h3>
<div class="createsuccess"><h5 id="methods_createsuccess_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertfactorymodule-alertfactory-createsuccess-page"><p>An
<a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object OR a message string</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table><h5 id="methods_createsuccess_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-alertfactorymodule">alertFactoryModule.Alert</a></td><td><div class="alertfactorymodule-alertfactory-createsuccess-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.Alert">Alert</a> instance with type set to SUCCESS</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_createwarning">createWarning(alertConf)</h3>
<div class="createwarning"><h5 id="methods_createwarning_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertConf <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="alertfactorymodule-alertfactory-createwarning-page"><p>An
<a href="#/smartEditContainer/alertFactoryModule.object:AlertConfig">AlertConfig</a> object OR a message string</p>
</div> <p><em>(default: alertFactoryModule.SE_ALERT_DEFAULTS)</em></p></td></tr></tbody></table><h5 id="methods_createwarning_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-alertfactorymodule">alertFactoryModule.Alert</a></td><td><div class="alertfactorymodule-alertfactory-createwarning-page"><p>An <a href="#/smartEditContainer/alertFactoryModule.Alert">Alert</a> instance with type set to WARNING</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
