<h1><code ng:non-bindable="">DEFAULT_CREDENTIALS_MAP</code>
<div><span class="hint">service in module <code ng:non-bindable="">authenticationModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="authenticationmodule-object-page authenticationmodule-object-default-credentials-map-page"><p>The default credentials map contains the credentials to use before an authentication map
can be loaded from the configuration.</p>
</div></div>
</div>
