<h1><code ng:non-bindable="">AuthorizationService</code>
<div><span class="hint">service in module <code ng:non-bindable="">authorizationModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="authorizationmodule-authorizationservice-page"><p>This service makes calls to the Global Permissions REST API to check if the current user was
granted certain permissions.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_canperformoperation">canPerformOperation(permissionNames)</h3>
<div class="canperformoperation"><div class="authorizationmodule-authorizationservice-canperformoperation-page"><p>This method checks if the current user has been granted the permissions required to
perform a certain operation.</p>
</div><h5 id="methods_canperformoperation_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>permissionNames</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="authorizationmodule-authorizationservice-canperformoperation-page"><p>A string of comma separated values that contains the global permissions to check.</p>
</div></td></tr></tbody></table><h5 id="methods_canperformoperation_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="authorizationmodule-authorizationservice-canperformoperation-page"><p>true if the user is granted all of the given permissions, false otherwise</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_hasglobalpermissions">hasGlobalPermissions(permissionNames)</h3>
<div class="hasglobalpermissions"><div class="authorizationmodule-authorizationservice-hasglobalpermissions-page"><p>This method checks if the current user is granted the given global permissions.</p>
</div><h5 id="methods_hasglobalpermissions_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>permissionNames</td><td><a href="" class="label type-hint type-hint-string">String[]</a></td><td><div class="authorizationmodule-authorizationservice-hasglobalpermissions-page"><p>The list of global permissions to check.</p>
</div></td></tr></tbody></table><h5 id="methods_hasglobalpermissions_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="authorizationmodule-authorizationservice-hasglobalpermissions-page"><p>true if the user is granted all of the given permissions, false otherwise</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
