<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="authenticationmodule-page"><h2 id="the-authenticationmodule">The authenticationModule</h2>
<p>The authentication module provides a service to authenticate and logout from SmartEdit.
It also allows the management of entry points used to authenticate the different resources in the application.</p>
</div></div>
