<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="catalogversiondetailsmodule-page"><p>This module contains the <a href="#/smartEditContainer/catalogVersionDetailsModule.component:catalogVersionDetails">catalogVersionDetailsModule.component:catalogVersionDetails</a> component.</p>
</div></div>
