<h1><code ng:non-bindable="">CATALOG_VERSION_PERMISSIONS_RESOURCE_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">catalogVersionPermissionRestServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="catalogversionpermissionrestservicemodule-object-page catalogversionpermissionrestservicemodule-object-catalog-version-permissions-resource-uri-page"><p>Path to fetch permissions of a given catalog version.</p>
</div></div>
</div>
