<h1><code ng:non-bindable="">CATALOG_DETAILS_COLUMNS</code>
<div><span class="hint">object in module <code ng:non-bindable="">catalogVersionDetailsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="catalogversiondetailsmodule-object-page catalogversiondetailsmodule-object-catalog-details-columns-page"><p>Injectable angular constant<br/>
This object provides an enumeration with values for each of the possible places to add items to 
extend the <a href="#/smartEditContainer/catalogVersionDetailsModule.component:catalogVersionDetails">catalogVersionDetailsModule.component:catalogVersionDetails</a> component. Currently, 
the available options are CATALOG_DETAILS_COLUMNS.LEFT and CATALOG_DETAILS_COLUMNS.RIGHT. </p>
</div></div>
</div>
