<h1><code ng:non-bindable="">catalogVersionsThumbnailCarousel</code>
<div><span class="hint">directive in module <code ng:non-bindable="">catalogVersionsThumbnailCarouselModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="catalogversionsthumbnailcarouselmodule-component-page catalogversionsthumbnailcarouselmodule-component-catalogversionsthumbnailcarousel-page"><p>Component responsible for displaying a thumbnail of the provided catalog. When clicked,
it redirects to the storefront page for the catalog&#39;s active catalog version. </p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;catalog-versions-thumbnail-carousel
       catalog="{&lt; Object}"
       site-id="{&lt; String}"&gt;
&lt;/catalog-versions-thumbnail-carousel&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalog</td><td><a href="" class="label type-hint type-hint-object">&lt; Object</a></td><td><div class="catalogversionsthumbnailcarouselmodule-component-page catalogversionsthumbnailcarouselmodule-component-catalogversionsthumbnailcarousel-page"><p>Object representing the current catalog.</p>
</div></td></tr><tr><td>siteId</td><td><a href="" class="label type-hint type-hint-object">&lt; String</a></td><td><div class="catalogversionsthumbnailcarouselmodule-component-page catalogversionsthumbnailcarouselmodule-component-catalogversionsthumbnailcarousel-page"><p>The ID of the site associated with the provided catalog.</p>
</div></td></tr></tbody></table></div>
</div>
