<h1><code ng:non-bindable="">catalogDetailsService</code>
<div><span class="hint">service in module <code ng:non-bindable="">catalogVersionDetailsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="catalogversiondetailsmodule-service-page catalogversiondetailsmodule-service-catalogdetailsservice-page"><p>The catalog details Service makes it possible to add items in form of directive
to the catalog details directive </p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_additems">addItems(items, column)</h3>
<div class="additems"><div class="catalogversiondetailsmodule-service-page catalogversiondetailsmodule-service-catalogdetailsservice-additems-page"><p>This method allows to add a new item/items to the template array.</p>
</div><h5 id="methods_additems_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>items</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="catalogversiondetailsmodule-service-page catalogversiondetailsmodule-service-catalogdetailsservice-additems-page"><p>An array that hold a list of items.</p>
</div></td></tr><tr><td>column <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogversiondetailsmodule-service-page catalogversiondetailsmodule-service-catalogdetailsservice-additems-page"><p>The place where the template will be added to. If this value is empty
the template will be added to the left side by default. The available places are defined in the 
constant <a href="#/smartEditContainer/catalogVersionDetailsModule.object:CATALOG_DETAILS_COLUMNS">catalogVersionDetailsModule.object:CATALOG_DETAILS_COLUMNS</a></p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getitems">getItems()</h3>
<div class="getitems"><div class="catalogversiondetailsmodule-service-page catalogversiondetailsmodule-service-catalogdetailsservice-getitems-page"><p>This retrieves the list of items currently extending catalog version details components. </p>
</div></div>
</li>
</ul>
</div>
</div>
