<h1><code ng:non-bindable="">catalogVersionPermissionRestService</code>
<div><span class="hint">service in module <code ng:non-bindable="">catalogVersionPermissionRestServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="catalogversionpermissionrestservicemodule-service-page catalogversionpermissionrestservicemodule-service-catalogversionpermissionrestservice-page"><p>The catalog version permission service is used to check if the current user has been granted certain permissions
on a given catalog ID and catalog Version.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getcatalogversionpermissions">getCatalogVersionPermissions(catalogId, catalogVersion)</h3>
<div class="getcatalogversionpermissions"><div class="catalogversionpermissionrestservicemodule-service-page catalogversionpermissionrestservicemodule-service-catalogversionpermissionrestservice-getcatalogversionpermissions-page"><p>This method returns permissions from the Catalog Version Permissions Service API.</p>
<p>Sample Request:
GET /permissionswebservices/v1/permissions/principals/{principal}/catalogs?catalogId=apparel-deContentCatalog&amp;catalogVersion=Online</p>
<p>Sample Response from API:
{
&quot;permissionsList&quot;: [
    {
      &quot;catalogId&quot;: &quot;apparel-deContentCatalog&quot;,
      &quot;catalogVersion&quot;: &quot;Online&quot;,
      &quot;permissions&quot;: [
        {
          &quot;key&quot;: &quot;read&quot;,
          &quot;value&quot;: &quot;true&quot;
        },
        {
          &quot;key&quot;: &quot;write&quot;,
          &quot;value&quot;: &quot;false&quot;
        }
      ]
    }
   ]
}</p>
<p>Sample Response returned by the service:
{
  &quot;catalogId&quot;: &quot;apparel-deContentCatalog&quot;,
  &quot;catalogVersion&quot;: &quot;Online&quot;,
  &quot;permissions&quot;: [
     {
       &quot;key&quot;: &quot;read&quot;,
       &quot;value&quot;: &quot;true&quot;
     },
     {
       &quot;key&quot;: &quot;write&quot;,
       &quot;value&quot;: &quot;false&quot;
     }
    ]
 }</p>
</div><h5 id="methods_getcatalogversionpermissions_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogversionpermissionrestservicemodule-service-page catalogversionpermissionrestservicemodule-service-catalogversionpermissionrestservice-getcatalogversionpermissions-page"><p>The Catalog ID</p>
</div></td></tr><tr><td>catalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogversionpermissionrestservicemodule-service-page catalogversionpermissionrestservicemodule-service-catalogversionpermissionrestservice-getcatalogversionpermissions-page"><p>The Catalog Version name</p>
</div></td></tr></tbody></table><h5 id="methods_getcatalogversionpermissions_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-ipromise">IPromise</a></td><td><div class="catalogversionpermissionrestservicemodule-service-page catalogversionpermissionrestservicemodule-service-catalogversionpermissionrestservice-getcatalogversionpermissions-page"><p>A Promise which returns an object exposing a permissions array containing the catalog version permissions</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
