<h1><code ng:non-bindable="">catalogDetails</code>
<div><span class="hint">directive in module <code ng:non-bindable="">catalogDetailsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="catalogdetailsmodule-component-page catalogdetailsmodule-component-catalogdetails-page"><p>Component responsible for displaying a catalog details. It contains a thumbnail representing the whole 
catalog and the list of catalog versions available to the current user. </p>
<p>This component is currently used in the landing page. </p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;catalog-details
       catalog="{&lt; String}"
       is-catalog-for-current-site="{&lt; Boolean}"
       site-id-for-catalog="{&lt; String}"&gt;
&lt;/catalog-details&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalog</td><td><a href="" class="label type-hint type-hint-object">&lt; String</a></td><td><div class="catalogdetailsmodule-component-page catalogdetailsmodule-component-catalogdetails-page"><p>The catalog that needs to be displayed</p>
</div></td></tr><tr><td>isCatalogForCurrentSite</td><td><a href="" class="label type-hint type-hint-object">&lt; Boolean</a></td><td><div class="catalogdetailsmodule-component-page catalogdetailsmodule-component-catalogdetails-page"><p>A flag that specifies if the provided catalog is associated with the selected site in the landing page</p>
</div></td></tr><tr><td>siteIdForCatalog</td><td><a href="" class="label type-hint type-hint-object">&lt; String</a></td><td><div class="catalogdetailsmodule-component-page catalogdetailsmodule-component-catalogdetails-page"><p>The ID of the site the provided catalog is associated with.</p>
</div></td></tr></tbody></table></div>
</div>
