<h1><code ng:non-bindable="">catalogVersionPermissionService</code>
<div><span class="hint">service in module <code ng:non-bindable="">catalogVersionPermissionModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-page"><h3 id="description_the-catalogversionpermissionservice">The catalogVersionPermissionService</h3>
<p>The catalog version permission service provides a logic that allows to verify
read and write permissions for a particular catalog version.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_hasreadpermission">hasReadPermission(catalogId, catalogVersion)</h3>
<div class="hasreadpermission"><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-hasreadpermission-page"><p>Verifies whether current user has read permission for provided catalogId and catalogVersion.</p>
</div><h5 id="methods_hasreadpermission_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-hasreadpermission-page"><p>catalog id</p>
</div></td></tr><tr><td>catalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-hasreadpermission-page"><p>catalog version</p>
</div></td></tr></tbody></table><h5 id="methods_hasreadpermission_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise&lt;Boolean&gt;</a></td><td><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-hasreadpermission-page"><p>A promise resolving to a boolean <code>true</code> if current user has read permission, else <code>false</code></p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_hasreadpermissiononcurrent">hasReadPermissionOnCurrent()</h3>
<div class="hasreadpermissiononcurrent"><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-hasreadpermissiononcurrent-page"><p>Verifies whether current user has read permission for current catalog version.</p>
</div><h5 id="methods_hasreadpermissiononcurrent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise&lt;Boolean&gt;</a></td><td><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-hasreadpermissiononcurrent-page"><p>A promise resolving to a boolean <code>true</code> if current user has read permission, else <code>false</code></p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_haswritepermission">hasWritePermission(catalogId, catalogVersion)</h3>
<div class="haswritepermission"><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-haswritepermission-page"><p>Verifies whether current user has write permission for provided catalogId and catalogVersion.</p>
</div><h5 id="methods_haswritepermission_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-haswritepermission-page"><p>catalog id</p>
</div></td></tr><tr><td>catalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-haswritepermission-page"><p>catalog version</p>
</div></td></tr></tbody></table><h5 id="methods_haswritepermission_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise&lt;Boolean&gt;</a></td><td><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-haswritepermission-page"><p>A promise resolving to a boolean <code>true</code> if current user has write permission, else <code>false</code></p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_haswritepermissiononcurrent">hasWritePermissionOnCurrent()</h3>
<div class="haswritepermissiononcurrent"><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-haswritepermissiononcurrent-page"><p>Verifies whether current user has write permission for current catalog version.</p>
</div><h5 id="methods_haswritepermissiononcurrent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise&lt;Boolean&gt;</a></td><td><div class="catalogversionpermissionmodule-service-page catalogversionpermissionmodule-service-catalogversionpermissionservice-haswritepermissiononcurrent-page"><p>A promise resolving to a boolean <code>true</code> if current user has write permission, else <code>false</code></p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
