<h1><code ng:non-bindable="">catalogVersionDetails</code>
<div><span class="hint">directive in module <code ng:non-bindable="">catalogVersionDetailsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="catalogversiondetailsmodule-component-page catalogversiondetailsmodule-component-catalogversiondetails-page"><p>Component responsible for displaying a catalog version details. Contains a link, called homepage, that 
redirects to the default page with the right experience (site, catalog, and catalog version). </p>
<p>Can be extended with custom items to provide new links and functionality. </p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;catalog-version-details
       catalog="{&lt;Object}"
       catalog-version="{&lt;Object}"
       active-catalog-version="{&lt;Object}"
       site-id="{&lt;String}"&gt;
&lt;/catalog-version-details&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalog</td><td><a href="" class="label type-hint type-hint-object">&lt;Object</a></td><td><div class="catalogversiondetailsmodule-component-page catalogversiondetailsmodule-component-catalogversiondetails-page"><p>Object representing the parent catalog of the catalog version to display.</p>
</div></td></tr><tr><td>catalogVersion</td><td><a href="" class="label type-hint type-hint-object">&lt;Object</a></td><td><div class="catalogversiondetailsmodule-component-page catalogversiondetailsmodule-component-catalogversiondetails-page"><p>Object representing the catalog version to display.</p>
</div></td></tr><tr><td>activeCatalogVersion</td><td><a href="" class="label type-hint type-hint-object">&lt;Object</a></td><td><div class="catalogversiondetailsmodule-component-page catalogversiondetailsmodule-component-catalogversiondetails-page"><p>Object representing the active catalog version of the parent catalog.</p>
</div></td></tr><tr><td>siteId</td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="catalogversiondetailsmodule-component-page catalogversiondetailsmodule-component-catalogversiondetails-page"><p>The site associated with the provided catalog.</p>
</div></td></tr></tbody></table></div>
</div>
