<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="clientpagedlistmodule-page"><h2 id="the-clientpagedlistmodule">The clientPagedListModule</h2>
<p>The clientPagedListModule provides a directive to display a paginated list of items with custom renderers.
This directive also allows the user to search and sort the list.</p>
</div></div>
