<h1><code ng:non-bindable="">COMPONENT_CLASS</code>
<div><span class="hint">service in module <code ng:non-bindable="">componentHandlerServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componenthandlerservicemodule-component-class-page"><p>the css class of the smartEdit components as per contract with the storefront</p>
</div></div>
</div>
