<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="containercomponenthandlerservicemodule-page"><p>this module aims at handling smartEdit container components both on the original storefront and the smartEdit overlay</p>
</div></div>
