<h1><code ng:non-bindable="">CrossFrameEventService</code>
<div><span class="hint">service in module <code ng:non-bindable="">crossFrameEventServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="crossframeeventservicemodule-service-page crossframeeventservicemodule-service-crossframeeventservice-page"><p>The Cross Frame Event Service is responsible for publishing and subscribing events within and between frames.
It uses <a href="#/smartEditContainer/gatewayFactoryModule.gatewayFactory">gatewayFactory</a> and <a href="#/smartEditContainer/eventServiceModule.EventService">EventService</a> to transmit events.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_publish">publish(eventId, data)</h3>
<div class="publish"><div class="crossframeeventservicemodule-service-page crossframeeventservicemodule-service-crossframeeventservice-publish-page"><p>Publishes an event within and across the gateway.</p>
<p>The publish method is used to send events using <a href="#/smartEditContainer/eventServiceModule.EventService#sendevent">sendEvent</a> of
<a href="#/smartEditContainer/eventServiceModule.EventService">EventService</a> and as well send the message across the gateway by using 
<a href="#/smartEditContainer/gatewayFactoryModule.MessageGateway#publish">publish</a> of the <a href="#/smartEditContainer/gatewayFactoryModule.gatewayFactory">gatewayFactory</a>.</p>
</div><h5 id="methods_publish_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>eventId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="crossframeeventservicemodule-service-page crossframeeventservicemodule-service-crossframeeventservice-publish-page"><p>Event identifier</p>
</div></td></tr><tr><td>data</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="crossframeeventservicemodule-service-page crossframeeventservicemodule-service-crossframeeventservice-publish-page"><p>The event payload</p>
</div></td></tr></tbody></table><h5 id="methods_publish_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="crossframeeventservicemodule-service-page crossframeeventservicemodule-service-crossframeeventservice-publish-page"><p>Promise to resolve</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_subscribe">subscribe(eventId, handler)</h3>
<div class="subscribe"><div class="crossframeeventservicemodule-service-page crossframeeventservicemodule-service-crossframeeventservice-subscribe-page"><p>Subscribe to an event across both frames.</p>
<p>The subscribe method is used to register for listening to events using registerEventHandler method of
<a href="#/smartEditContainer/eventServiceModule.EventService">EventService</a> and as well send the registration message across the gateway by using 
<a href="#/smartEditContainer/gatewayFactoryModule.MessageGateway#subscribe">subscribe</a> of the <a href="#/smartEditContainer/gatewayFactoryModule.gatewayFactory">gatewayFactory</a>.</p>
</div><h5 id="methods_subscribe_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>eventId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="crossframeeventservicemodule-service-page crossframeeventservicemodule-service-crossframeeventservice-subscribe-page"><p>Event identifier</p>
</div></td></tr><tr><td>handler</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="crossframeeventservicemodule-service-page crossframeeventservicemodule-service-crossframeeventservice-subscribe-page"><p>Callback function to be invoked</p>
</div></td></tr></tbody></table><h5 id="methods_subscribe_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="crossframeeventservicemodule-service-page crossframeeventservicemodule-service-crossframeeventservice-subscribe-page"><p>The function to call in order to unsubscribe the event listening; this will unsubscribe both from the systemEventService and the crossFrameEventServiceGatway</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
