<h1><code ng:non-bindable="">resolvedLocaleToMomentLocaleMap</code>
<div><span class="hint">object in module <code ng:non-bindable="">dateTimePickerModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datetimepickermodule-object-page datetimepickermodule-object-resolvedlocaletomomentlocalemap-page"><p>Contains a map of all inconsistent locales ISOs between SmartEdit and MomentJS</p>
</div></div>
</div>
