<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="datetimepickermodule-page"><h2 id="the-datetimepickermodule">The dateTimePickerModule</h2>
<p>The date time picker service module is a module used for displaying a date time picker</p>
<p>Use the <a href="#/smartEditContainer/dateTimePickerModule.directive:dateTimePicker">dateTimePicker</a> to open the date time picker.</p>
<p>Once the datetimepicker is opened, its <a href="#/smartEditContainer/dateTimePickerModule.service:dateTimePickerLocalizationService">dateTimePickerLocalizationService</a> is used to localize the tooling.</p>
</div></div>
