<h1><code ng:non-bindable="">dateTimePickerLocalizationService</code>
<div><span class="hint">service in module <code ng:non-bindable="">dateTimePickerModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datetimepickermodule-service-page datetimepickermodule-service-datetimepickerlocalizationservice-page"><p>The dateTimePickerLocalizationService is responsible for both localizing the date time picker as well as the tooltips</p>
</div></div>
</div>
