<h1><code ng:non-bindable="">dateTimePicker</code>
<div><span class="hint">directive in module <code ng:non-bindable="">dateTimePickerModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datetimepickermodule-directive-page datetimepickermodule-directive-datetimepicker-page"><h3 id="description_the-datetimepicker">The dateTimePicker</h3>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY date-time-picker&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
