<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="draganddropservicemodule-page"><h2 id="the-draganddropservicemodule">The dragAndDropServiceModule</h2>
<p>The dragAndDropServiceModule provides a service that wraps over the HTML 5 drag and drop functionality.</p>
</div></div>
