<h1><code ng:non-bindable="">dragAndDropService</code>
<div><span class="hint">service in module <code ng:non-bindable="">dragAndDropServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-page"><p>The dragAndDropService wraps over the HTML 5 drag and drop functionality to provide a browser independent interface and very
basic functionality, like scrolling. The service is intended to be used by another service to provide a richer drag and drop
experience.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_apply">apply(configurationID)</h3>
<div class="apply"><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-apply-page"><p>This method apply the configuration specified by the provided ID in the current page. After this method is executed drag and drop can be started by the user.</p>
</div><h5 id="methods_apply_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>configurationID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-apply-page"><p>The identifier of the drag and drop configuration to apply in the current page.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_applyall">applyAll()</h3>
<div class="applyall"><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-applyall-page"><p>This method applies all drag and drop configurations registered.</p>
</div></div>
</li>
<li><h3 id="methods_markdragstarted">markDragStarted()</h3>
<div class="markdragstarted"><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-markdragstarted-page"><p>This method forces the page to prepare for a drag and drop operation. This method is necessary when the drag and drop operation is started somewhere else,
like on a different iFrame.</p>
</div></div>
</li>
<li><h3 id="methods_markdragstarted">markDragStarted()</h3>
<div class="markdragstarted"><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-markdragstarted-page"><p>This method forces the page to clean after a drag and drop operation. This method is necessary when the drag and drop operation is stopped somewhere else,
like on a different iFrame.</p>
</div></div>
</li>
<li><h3 id="methods_register">register(configuration)</h3>
<div class="register"><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This method registers a new instance of the drag and drop service.
Note: Registering doesn&#39;t start the service. It just provides the configuration, which later must be applied with the apply method.</p>
</div><h5 id="methods_register_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>configuration</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>The drag and drop configuration</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>The identifier of the new drag and drop instance. This parameter must be unique, as it is used to track the instance in the service.</p>
</div></td></tr><tr><td>sourceSelector</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This parameter specifies the yjQuery selector used to locate the draggable elements managed by the current instance of the drag and drop service.</p>
</div></td></tr><tr><td>targetSelector</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This parameter specifies the yjQuery selector used to locate the droppable elements where draggable items of this instance can be dropped.</p>
</div></td></tr><tr><td>startCallback</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This callback is executed when draggable elements start dragging.</p>
</div></td></tr><tr><td>dragEnterCallback</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This callback is executed when the mouse enters a droppable area during a drag and drop operation.</p>
</div></td></tr><tr><td>dragOverCallback</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This callback is executed when the mouse hovers a droppable area during a drag and drop operation.</p>
</div></td></tr><tr><td>dropCallback</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This callback is executed when a draggable element is dropped over a droppable area during a drag and drop operation.</p>
</div></td></tr><tr><td>outCallback</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This callback is executed when the mouse leaves a droppable area during a drag and drop operation.</p>
</div></td></tr><tr><td>stopCallback</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This callback is executed when draggable elements stop dragging.</p>
</div></td></tr><tr><td>helper</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This function is called to specify a custom drag image. Note: IE does not support this functionality, so custom drag images are ignored for that browser.</p>
</div></td></tr><tr><td>enableScrolling</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-register-page"><p>This flag specifies whether to enable scrolling while dragging or not.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_unregister">unregister(configurationsIDList)</h3>
<div class="unregister"><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-unregister-page"><p>This method removes the drag and drop instances specified by the provided IDs.</p>
</div><h5 id="methods_unregister_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>configurationsIDList</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-unregister-page"><p>The array of drag and drop configuration IDs to remove.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(configurationID)</h3>
<div class="update"><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-update-page"><p>This method updates the drag and drop instance specified by the provided ID in the current page. It is important to execute this method every time a draggable or droppable element
is added or removed from the page DOM.</p>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>configurationID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="draganddropservicemodule-service-page draganddropservicemodule-service-draganddropservice-update-page"><p>The identifier of the drag and drop instance to update.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
