<h1><code ng:non-bindable="">DropdownPopulatorInterface</code>
<div><span class="hint">service in module <code ng:non-bindable="">DropdownPopulatorInterfaceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-page"><p>Interface describing the contract of a DropdownPopulator fetched through dependency injection by the
<a href="#/smartEditContainer/genericEditorModule.service:GenericEditor">GenericEditor</a> to populate the dropdowns of <a href="#/smartEditContainer/seDropdownModule.directive:seDropdown">seDropdown</a>.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_fetchall">fetchAll(payload)</h3>
<div class="fetchall"><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>Will returns a promise resolving to a list of items.
The items must all contain a property <b>id</b>.</p>
</div><h5 id="methods_fetchall_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>payload</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>contains the field, model and additional attributes.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>field.options</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>The original array of options (used by <a href="#/smartEditContainer/optionsDropdownPopulatorModule.service:optionsDropdownPopulator">optionsDropdownPopulator</a>)</p>
</div></td></tr><tr><td>field.uri</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>The uri used to make a rest call to fetch data (used by <a href="#/smartEditContainer/uriDropdownPopulatorModule.service:uriDropdownPopulator">uriDropdownPopulator</a>)</p>
</div></td></tr><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>The field descriptor from <a href="#/smartEditContainer/genericEditorModule.service:GenericEditor">GenericEditor</a> containing information about the dropdown.</p>
</div></td></tr><tr><td>field.dependsOn</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>A comma separated list of attributes to include from the model when building the request params</p>
</div></td></tr><tr><td>field.idAttribute</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>The name of the attribute to use when setting the id attribute</p>
</div></td></tr><tr><td>field.labelAttributes</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>A list of attributes to use when setting the label attribute</p>
</div></td></tr><tr><td>model</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>The full model being edited in <a href="#/smartEditContainer/genericEditorModule.service:GenericEditor">GenericEditor</a>.</p>
</div></td></tr><tr><td>selection</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>The object containing the full option object that is now selected in a dropdown that we depend on (Optional, see dependsOn property in <a href="#/smartEditContainer/seDropdownModule.directive:seDropdown">seDropdown</a>).</p>
</div></td></tr><tr><td>search</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>The search key when the user types in the dropdown (optional).</p>
</div></td></tr></tbody></table></td></tr></tbody></table><h5 id="methods_fetchall_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchall-page"><p>a list of objects.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_fetchpage">fetchPage(payload)</h3>
<div class="fetchpage"><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>Will returns a promise resolving to a <a href="#/smartEditContainer/Page.object:Page">page</a> of items.
The items must all contain a property <b>id</b>.</p>
</div><h5 id="methods_fetchpage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>payload</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>contains the field, model and additional attributes.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>The field descriptor from <a href="#/smartEditContainer/genericEditorModule.service:GenericEditor">GenericEditor</a> containing information about the dropdown.</p>
</div></td></tr><tr><td>field.options</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>The original array of options (used by <a href="#/smartEditContainer/optionsDropdownPopulatorModule.service:optionsDropdownPopulator">optionsDropdownPopulator</a>)</p>
</div></td></tr><tr><td>field.uri</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>The uri used to make a rest call to fetch data (used by <a href="#/smartEditContainer/uriDropdownPopulatorModule.service:uriDropdownPopulator">uriDropdownPopulator</a>)</p>
</div></td></tr><tr><td>field.dependsOn</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>A comma separated list of attributes to include from the model when building the request params</p>
</div></td></tr><tr><td>field.idAttribute</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>The name of the attribute to use when setting the id attribute</p>
</div></td></tr><tr><td>field.labelAttributes</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>A list of attributes to use when setting the label attribute</p>
</div></td></tr><tr><td>field.params</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>An object containing properties to append as query string while making a call.</p>
</div></td></tr><tr><td>model</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>The full model being edited in <a href="#/smartEditContainer/genericEditorModule.service:GenericEditor">GenericEditor</a>.</p>
</div></td></tr><tr><td>selection</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>The object containing the full option object that is now selected in a dropdown that we depend on (Optional, see dependsOn property in <a href="#/smartEditContainer/seDropdownModule.directive:seDropdown">seDropdown</a>).</p>
</div></td></tr><tr><td>search</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>The search key when the user types in the dropdown (optional).</p>
</div></td></tr><tr><td>pageSize</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>number of items in the page.</p>
</div></td></tr><tr><td>currentPage</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>current page number.</p>
</div></td></tr></tbody></table></td></tr></tbody></table><h5 id="methods_fetchpage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-fetchpage-page"><p>a <a href="#/smartEditContainer/Page.object:Page">page</a></p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_ispaged">isPaged()</h3>
<div class="ispaged"><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-ispaged-page"><p>Specifies whether this populator is meant to work in paged mode as opposed to retrieve lists. Optional, default is false</p>
</div></div>
</li>
<li><h3 id="methods_populate">populate(payload)</h3>
<div class="populate"><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populate-page"><p>Will returns a promise resolving to a list of items.
this method is deprecated, use <a href="#/smartEditContainer/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface#fetchall,">fetchAll</a>.</p>
</div><h5 id="methods_populate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>payload</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populate-page"><p>contains the field, model and additional attributes.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populate-page"><p>The field descriptor from <a href="#/smartEditContainer/genericEditorModule.service:GenericEditor">GenericEditor</a> containing information about the dropdown.</p>
</div></td></tr><tr><td>model</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populate-page"><p>The full model being edited in <a href="#/smartEditContainer/genericEditorModule.service:GenericEditor">GenericEditor</a>.</p>
</div></td></tr><tr><td>selection</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populate-page"><p>The object containing the full option object that is now selected in a dropdown that we depend on (Optional, see dependsOn property in <a href="#/smartEditContainer/seDropdownModule.directive:seDropdown">seDropdown</a>).</p>
</div></td></tr><tr><td>search</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populate-page"><p>The search key when the user types in the dropdown (optional).</p>
</div></td></tr></tbody></table></td></tr></tbody></table><h5 id="methods_populate_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populate-page"><p>a list of objects.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_populateattributes">populateAttributes(items, idAttribute, orderedLabelAttributes)</h3>
<div class="populateattributes"><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populateattributes-page"><p>Populates the id and label property for each item in the list. If the label property is not already set,
then we use an ordered list of attributes to use when determining the label for each item.</p>
</div><h5 id="methods_populateattributes_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>items</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populateattributes-page"><p>The array of items to set the id and label attributes on</p>
</div></td></tr><tr><td>idAttribute</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populateattributes-page"><p>The name of the id attribute</p>
</div></td></tr><tr><td>orderedLabelAttributes</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populateattributes-page"><p>The ordered list of label attributes</p>
</div></td></tr></tbody></table><h5 id="methods_populateattributes_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-populateattributes-page"><p>the modified list of items</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_search">search(items, searchTerm)</h3>
<div class="search"><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-search-page"><p>Searches a list and returns only items with a label attribute that matches the search term</p>
</div><h5 id="methods_search_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>items</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-search-page"><p>The list of items to search</p>
</div></td></tr><tr><td>searchTerm</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-search-page"><p>The search term to filter items by</p>
</div></td></tr></tbody></table><h5 id="methods_search_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="dropdownpopulatorinterfacemodule-dropdownpopulatorinterface-search-page"><p>the filtered list of items</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
