<h1><code ng:non-bindable="">PropertyEditorTemplate</code>
<div><span class="hint">object in module <code ng:non-bindable="">editorFieldMappingServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-propertyeditortemplate-page"><p>The purpose of the property editor template is to assign a value to model[qualifier].
To achieve this goal, templates will receive the following entities in their scope:</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_field">field</h3>
<div class="field"><div class="field-page"><p>The field description of the field being edited as defined by the structure API described in <a href="#/smartEditContainer/genericEditorModule.service:GenericEditor">genericEditor</a></p>
</div></div>
</li>
<li><h3 id="properties_model">model</h3>
<div class="model"><div class="model-page"><p>If the field is not localized, this is the actual full parent model object, if it is localized, it is the language map: model[field.qualifier].</p>
</div></div>
</li>
<li><h3 id="properties_qualifier">qualifier</h3>
<div class="qualifier"><div class="qualifier-page"><p>If the field is not localized, this is the actual field.qualifier, if it is localized, it is the language identifier such as en, de...</p>
</div></div>
</li>
</ul>
</div>
</div>
