<h1><code ng:non-bindable="">editorFieldMappingService</code>
<div><span class="hint">service in module <code ng:non-bindable="">editorFieldMappingServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-page"><p>The editorFieldMappingServices contains the strategy that the <a href="#/smartEditContainer/genericEditorModule.directive:genericEditor">genericEditor</a> directive
uses to select a property editor for a specific cmsStructureType.
The cmsStructureType for a specific field name is retrieved from a call to the REST Structure API. </p>
<p>The genericEditor uses preselected property editors.
The genericEditor selects the property editor based on the cmsStructureType.
Property editors are defined for the following default cmsStructureTypes:
    <ul>
        <li><b>ShortString</b>:            Displays a text input field.</li>
        <li><b>LongString</b>:          Displays a text area.</li>
        <li><b>RichText</b>:            Displays an HTML/rich text editor.</li>
        <li><b>Boolean</b>:             Displays a check box.</li>
        <li><b>DateTime</b>:            Displays an input field with a date-time picker.</li>
        <li><b>Media</b>:               Displays a filterable dropdown list of media</li>
        <li><b>Enum</b>:                 Displays a filterable dropdown list of the enum class values identified by cmsStructureEnumType property.
        <li><b>EditableDropdown</b>:     Displays a configurable dropdown list that is enabled by <a href="#/smartEditContainer/seDropdownModule.directive:seDropdown">seDropdown</a> directive.
</ul></p>
<p>You can program the <a href="#/smartEditContainer/genericEditorModule.directive:genericEditor">genericEditor</a> to use other property editors for these cmsStructureTypes. You can also add custom cmsStructureTypes.
All default and custom property editors are HTML templates. These templates must adhere to the PropertyEditorTemplate <a href="#/smartEditContainer/editorFieldMappingServiceModule.service:PropertyEditorTemplate">contract</a>.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_addfieldmapping">addFieldMapping(cmsStructureType, smarteditComponentType, discriminator, configuration)</h3>
<div class="addfieldmapping"><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-addfieldmapping-page"><p>This method overrides the default strategy of the <a href="#/smartEditContainer/genericEditorModule.directive:genericEditor">genericEditor</a> directive
used to choose the property editor for a given cmsStructureType.
This method can be invoked 3 different ways (cmsStructureType and configuration are always mandatory):</p>
<ul>
<li>If you only specify cmsStructureType, your custom editor will be used for all fields of the specified cmsStructureType in any smarteditComponentType.</li>
<li>If you specify cmsStructureType and smarteditComponentType, your custom editor will be used for all fields of the specified cmsStructureType only for the specified smarteditComponentType.</li>
<li>If you specify  cmsStructureType, smarteditComponentType and discriminator, your custom editor will only be used for the field of the specified discriminator and cmsStructureType only for the specified smarteditComponentType.</li>
</ul>
<p>If multiple overrides are set, the one which specifies the most conditions is used.</p>
<p>Note: 
Currently, all templates in SmartEdit use the short form. Thus, when the field mapping is retrieved by the generic editor, the system will ensure that 
the template is in short form. E.g, </p>
<ul>
<li>A template &#39;web/common/services/genericEditor/templates/shortStringTemplate.html&#39; will be transformed to &#39;shortStringTemplate.html&#39;</li>
</ul>
</div><h5 id="methods_addfieldmapping_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>cmsStructureType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-addfieldmapping-page"><p>The cmsStructureType for which a custom property editor is required. Cannot be null.</p>
</div></td></tr><tr><td>smarteditComponentType <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-addfieldmapping-page"><p>The SmartEdit component type that the custom property editor is created for. Can be null.</p>
</div></td></tr><tr><td>discriminator</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-addfieldmapping-page"><p>The field name of the smarteditComponentType that the custom property editor is created for. Can be null.</p>
</div></td></tr><tr><td>configuration</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-addfieldmapping-page"><p>The holder that contains the override instructions. Cannot be null.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>template</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-addfieldmapping-page"><p>The path to the HTML template used in the override. Cannot be null.</p>
</div></td></tr><tr><td>customSanitize <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-addfieldmapping-page"><p>Custom sanitize function for a custom property editor. It&#39;s provided with a payload and an optional <a href="#/smartEditContainer/functionsModule.sanitize">sanitize</a> function.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getfieldmapping">getFieldMapping(structureTypeName, componentTypeName, discriminator)</h3>
<div class="getfieldmapping"><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-getfieldmapping-page"><p>This method retrieves the property editor rendered for a given cmsStructureType in a generic editor. </p>
<p>Note: 
Currently, all templates in SmartEdit use the short form. Thus, before returning, this method ensures that 
the template provided to the generic editor is in short form. E.g, </p>
<ul>
<li>A template &#39;web/common/services/genericEditor/templates/shortStringTemplate.html&#39; will be transformed to &#39;shortStringTemplate.html&#39;</li>
</ul>
</div><h5 id="methods_getfieldmapping_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>structureTypeName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-getfieldmapping-page"><p>The cmsStructureType for which to retrieve its property editor.</p>
</div></td></tr><tr><td>componentTypeName <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-getfieldmapping-page"><p>The SmartEdit component type for which to retrieve its property editor.</p>
</div></td></tr><tr><td>discriminator <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editorfieldmappingservicemodule-service-page editorfieldmappingservicemodule-service-editorfieldmappingservice-getfieldmapping-page"><p>The field name of the smarteditComponentType for which to retrieve its discriminator.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
