<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="eventservicemodule-page"><p>eventServiceModule contains an event service which is supported by the SmartEdit <a href="#/smartEditContainer/gatewayFactoryModule.gatewayFactory">gatewayFactory</a> to propagate events between SmartEditContainer and SmartEdit.</p>
</div></div>
