<h1><code ng:non-bindable="">experienceInterceptor</code>
<div><span class="hint">service in module <code ng:non-bindable="">ExperienceInterceptorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="experienceinterceptormodule-experienceinterceptor-page"><p>A HTTP request interceptor which intercepts all &#39;cmswebservices/catalogs&#39; requests and adds the current catalog and version
from any URI which define the variables &#39;CURRENT_CONTEXT_CATALOG&#39; and &#39;CURRENT_CONTEXT_CATALOG_VERSION&#39; in the URL.</p>
<p>Note: The interceptors are service factories that are registered with the $httpProvider by adding them to the $httpProvider.interceptors array.
The factory is called and injected with dependencies and returns the interceptor object with contains the interceptor methods.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_request">request(config)</h3>
<div class="request"><div class="experienceinterceptormodule-experienceinterceptor-request-page"><p>Interceptor method which gets called with a http config object, intercepts any &#39;cmswebservices/catalogs&#39; requests and adds
the current catalog and version
from any URI which define the variables &#39;CURRENT_CONTEXT_CATALOG&#39; and &#39;CURRENT_CONTEXT_CATALOG_VERSION&#39; in the URL.
If the request URI contains any of &#39;PAGE_CONTEXT_SITE_ID&#39;, &#39;PAGE_CONTEXT_CATALOG&#39; or &#39;PAGE_CONTEXT_CATALOG_VERSION&#39;, 
then it is replaced by the siteId/catalogId/catalogVersion of the current page in context.</p>
<p>The catalog name and catalog versions of the current experience and the page loaded are stored in the shared data service object called &#39;experience&#39; during preview initialization
and here we retrieve those details and set it to headers.</p>
</div><h5 id="methods_request_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="experienceinterceptormodule-experienceinterceptor-request-page"><p>the http config object that holds the configuration information.</p>
</div></td></tr></tbody></table><h5 id="methods_request_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="experienceinterceptormodule-experienceinterceptor-request-page"><p>Returns a <a href="https://docs.angularjs.org/api/ng/service/$q">promise</a> of the passed config object.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
