<h1><code ng:non-bindable="">experienceService</code>
<div><span class="hint">service in module <code ng:non-bindable="">experienceServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-page"><p>The experience Service deals with building experience objects given a context.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_builddefaultexperience">buildDefaultExperience()</h3>
<div class="builddefaultexperience"><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-builddefaultexperience-page"><p>Given an object containing a siteId, catalogId, catalogVersion and catalogVersions (array of product catalog version uuid&#39;s), will return a reconstructed experience</p>
</div><h5 id="methods_builddefaultexperience_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-builddefaultexperience-page"><p>an experience</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcurrentexperience">getCurrentExperience()</h3>
<div class="getcurrentexperience"><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-getcurrentexperience-page"><p>Retrieves the active experience. </p>
</div><h5 id="methods_getcurrentexperience_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-getcurrentexperience-page"><p>an experience</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_loadexperience">loadExperience(params)</h3>
<div class="loadexperience"><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-loadexperience-page"><p>Used to update the experience with the parameters provided and reloads the page to make the changes visible. </p>
</div><h5 id="methods_loadexperience_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>params</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-loadexperience-page"><p>The object containing the paratements for the experience to be loaded.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>siteId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-loadexperience-page"><p>the ID of the site that must be stored in the current experience.</p>
</div></td></tr><tr><td>catalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-loadexperience-page"><p>the ID of the catalog that must be stored in the current experience.</p>
</div></td></tr><tr><td>catalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-loadexperience-page"><p>the version of the catalog that must be stored in the current experience.</p>
</div></td></tr><tr><td>pageUid</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-loadexperience-page"><p>the ID of the page that must be stored in the current experience.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updateexperiencepageid">updateExperiencePageId(newPageID)</h3>
<div class="updateexperiencepageid"><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-updateexperiencepageid-page"><p>Used to update the page ID stored in the current experience and reloads the page to make the changes visible.</p>
</div><h5 id="methods_updateexperiencepageid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>newPageID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-updateexperiencepageid-page"><p>the ID of the page that must be stored in the current experience.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
