<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="exponentialretrylmodule-page"><p>This module provides the exponentialRetry service.</p>
</div></div>
