<h1><code ng:non-bindable="">filterByField</code>
<div><span class="hint">filter in module <code ng:non-bindable="">filterByFieldFilterModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="filterbyfieldfiltermodule-filter-page filterbyfieldfiltermodule-filter-filterbyfield-page"><p>A filter for an array of objects, that will search all the first level fields of an object,
or optionally allows you to specify which fields to include in the search. Only fields that correspond to string
values will be considered in the filtering. The filter implements the AND strategy, thus the filter will return search results
regardless of the search string order. IE search string &quot;Add Mobile&quot; will return strings such &quot;Mobile Address&quot; and &quot;Address Mobile&quot;</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> filterByField_expression | filterByField:query:keys:callbackFcn <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('filterByField')(items, query, keys, callbackFcn)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>items</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="filterbyfieldfiltermodule-filter-page filterbyfieldfiltermodule-filter-filterbyfield-page"><p>An array of objects</p>
</div></td></tr><tr><td>query</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="filterbyfieldfiltermodule-filter-page filterbyfieldfiltermodule-filter-filterbyfield-page"><p>The search string in which the values will be filtered by. If no search string is given
the original array of objects is be returned.</p>
</div></td></tr><tr><td>keys</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="filterbyfieldfiltermodule-filter-page filterbyfieldfiltermodule-filter-filterbyfield-page"><p>(OPTIONAL) An array of object fields which determines which key values that the filter will parse through.
If no array is specified the filter will check each field value in the array of objects.</p>
</div></td></tr><tr><td>callbackFcn</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="filterbyfieldfiltermodule-filter-page filterbyfieldfiltermodule-filter-filterbyfield-page"><p>(OPTIONAL) A function that will be executed after each iteration of the filter.</p>
</div></td></tr></tbody></table></div>
</div>
