<h1><code ng:non-bindable="">regExpFactory</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-regexpfactory-page"><p><b>regExpFactory</b> will convert a given pattern into a regular expression.
This method will prepend and append a string with ^ and $ respectively replaces
and wildcards (*) by proper regex wildcards.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">regExpFactory(pattern);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pattern</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="functionsmodule-regexpfactory-page"><p>any string that needs to be converted to a regular expression.</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-regexp">RegExp</a></td><td><div class="functionsmodule-regexpfactory-page"><p>a regular expression generated from the given string.</p>
</div></td></tr></table></div>
</div>
