<h1><code ng:non-bindable="">toPromise</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-topromise-page"><p><b>toPromise&lt;/&gt; transforms a function into a function that is guaranteed to return a Promise that resolves to the
original return value of the function, rejects with the rejected return value and rejects with an exceptino object when the invocation fails</p>
</div></div>
</div>
