<h1><code ng:non-bindable="">sanitizeHTML</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-sanitizehtml-page"><p><b>sanitizeHTML</b> will remove breaks and space .</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">sanitizeHTML(a);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>a</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="functionsmodule-sanitizehtml-page"><p>string that needs to be escaped.</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="functionsmodule-sanitizehtml-page"><p>the sanitized HTML.</p>
</div></td></tr></table></div>
</div>
