<h1><code ng:non-bindable="">URIBuilder</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-service-page functionsmodule-service-uribuilder-page"><p>builder or URIs, build() method must be invoked to actually retrieve a URI</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">URIBuilder(modalStack,);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>modalStack,</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-service-page functionsmodule-service-uribuilder-page"><p>the $modalStack service of angular-ui.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_replaceparams">replaceParams(params)</h3>
<div class="replaceparams"><div class="functionsmodule-service-page functionsmodule-service-uribuilder-replaceparams-page"><p>Substitute all placeholders in the URI with the matching values in the given params</p>
</div><h5 id="methods_replaceparams_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>params</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-service-page functionsmodule-service-uribuilder-replaceparams-page"><p>a map of placeholder names / values</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
