<h1><code ng:non-bindable="">hitch</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-hitch-page"><p><b>hitch</b> will create a new function that will pass our desired context (scope) to the given function.
This method will also pre-bind the given parameters.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">hitch(scope, method);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>scope</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-hitch-page"><p>scope that is to be assigned.</p>
</div></td></tr><tr><td>method</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="functionsmodule-hitch-page"><p>the method that needs binding.</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="functionsmodule-hitch-page"><p>a new function thats binded to the given scope</p>
</div></td></tr></table></div>
</div>
