<h1><code ng:non-bindable="">customTimeout</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-customtimeout-page"><p><b>customTimeout</b> will call the javascrit&#39;s native setTimeout method to execute a given function after a specified period of time.
This method is better than using $timeout since it is difficult to assert on $timeout during end-to-end testing.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">customTimeout(func, duration);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>func</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="functionsmodule-customtimeout-page"><p>function that needs to be executed after the specified duration.</p>
</div></td></tr><tr><td>duration</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="functionsmodule-customtimeout-page"><p>time in milliseconds.</p>
</div></td></tr></tbody></table></div>
</div>
