<h1><code ng:non-bindable="">copy</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-copy-page"><p><b>copy</b> will do a deep copy of the given input object.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">copy(candidate);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>candidate</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-copy-page"><p>the javaScript value that needs to be deep copied.</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-copy-page"><p>A deep copy of the input</p>
</div></td></tr></table></div>
</div>
