<h1><code ng:non-bindable="">convertToArray</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-converttoarray-page"><p><b>convertToArray</b> will convert the given object to array.
The output array elements are an object that has a key and value,
where key is the original key and value is the original object.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">convertToArray(inputObject);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>inputObject</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-converttoarray-page"><p>any input object.</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="functionsmodule-converttoarray-page"><p>the array created from the input object</p>
</div></td></tr></table></div>
</div>
