<h1><code ng:non-bindable="">getDataFromResponse</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-service-page functionsmodule-service-getdatafromresponse-page"><p>when provided with a response returned from a backend call, will filter the response
to retrieve the data of interest.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">getDataFromResponse(response,);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>response,</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-service-page functionsmodule-service-getdatafromresponse-page"><p>response returned from a backend call.</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="functionsmodule-service-page functionsmodule-service-getdatafromresponse-page"><p>Returns the array from the response.</p>
</div></td></tr></table></div>
</div>
