<h1><code ng:non-bindable="">closeOpenModalsOnBrowserBack</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-closeopenmodalsonbrowserback-page"><p>close any open modal window when a user clicks browser back button</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">closeOpenModalsOnBrowserBack(modalStack,);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>modalStack,</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-closeopenmodalsonbrowserback-page"><p>the $modalStack service of angular-ui.</p>
</div></td></tr></tbody></table></div>
</div>
