<h1><code ng:non-bindable="">TIMEOUT_TO_RETRY_PUBLISHING</code>
<div><span class="hint">object in module <code ng:non-bindable="">gatewayFactoryModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="gatewayfactorymodule-object-page gatewayfactorymodule-object-timeout-to-retry-publishing-page"><p>Period between two retries of a <a href="#/smartEditContainer/gatewayFactoryModule.MessageGateway">gatewayFactoryModule.MessageGateway</a> to publish an event
this value must be greater than the time needed by the browser to process a postMessage back and forth across two frames.
Internet Explorer is now known to need more than 100ms.</p>
</div></div>
</div>
