<h1><code ng:non-bindable="">WHITE_LISTED_STOREFRONTS_CONFIGURATION_KEY</code>
<div><span class="hint">object in module <code ng:non-bindable="">gatewayFactoryModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="gatewayfactorymodule-object-page gatewayfactorymodule-object-white-listed-storefronts-configuration-key-page"><p>the name of the configuration key containing the list of white listed storefront domain names</p>
</div></div>
</div>
