<h1><code ng:non-bindable="">gatewayFactory</code>
<div><span class="hint">service in module <code ng:non-bindable="">gatewayFactoryModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="gatewayfactorymodule-gatewayfactory-page"><p>The Gateway Factory controls the creation of and access to <a href="#/smartEditContainer/gatewayFactoryModule.MessageGateway">MessageGateway</a>
instances.</p>
<p>To construct and access a gateway, you must use the GatewayFactory&#39;s createGateway method and provide the channel
ID as an argument. If you try to create the same gateway twice, the second call will return a null.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_creategateway">createGateway(gatewayId)</h3>
<div class="creategateway"><div class="gatewayfactorymodule-gatewayfactory-creategateway-page"><p>Creates a gateway for the specified gateway identifier and caches it in order to handle postMessage events
later in the application lifecycle. This method will fail on subsequent calls in order to prevent two
clients from using the same gateway.</p>
</div><h5 id="methods_creategateway_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>gatewayId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="gatewayfactorymodule-gatewayfactory-creategateway-page"><p>The identifier of the gateway.</p>
</div></td></tr></tbody></table><h5 id="methods_creategateway_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-messagegateway">MessageGateway</a></td><td><div class="gatewayfactorymodule-gatewayfactory-creategateway-page"><p>Returns the newly created Message Gateway or null.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_initlistener">initListener()</h3>
<div class="initlistener"><div class="gatewayfactorymodule-gatewayfactory-initlistener-page"><p>Initializes a postMessage event handler that dispatches the handling of an event to the specified gateway.
If the corresponding gateway does not exist, an error is logged.</p>
</div></div>
</li>
</ul>
</div>
</div>
