<h1><code ng:non-bindable="">genericEditorApi</code>
<div><span class="hint">object in module <code ng:non-bindable="">genericEditorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="genericeditormodule-object-page genericeditormodule-object-genericeditorapi-page"><p>The generic editor&#39;s api object exposing public functionality</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_clearmessages">clearMessages()</h3>
<div class="clearmessages"><div class="clearmessages-page"><p>Function that clears all validation messages in the editor</p>
</div></div>
</li>
<li><h3 id="methods_getcomponent">getComponent()</h3>
<div class="getcomponent"><div class="getcomponent-page"><p>Function returns the copy of the current model</p>
</div></div>
</li>
<li><h3 id="methods_oncontentchange">onContentChange()</h3>
<div class="oncontentchange"><div class="oncontentchange-page"><p>Function triggered everytime the current model changes</p>
</div></div>
</li>
<li><h3 id="methods_updatecomponent">updateComponent(component)</h3>
<div class="updatecomponent"><div class="updatecomponent-page"><p>Function that updates the content of the generic editor without having to reinitialize</p>
</div><h5 id="methods_updatecomponent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updatecomponent-page"><p>The component to replace the current model for the generic editor</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
