<h1><code ng:non-bindable="">GENERIC_EDITOR_LOADED_EVENT</code>
<div><span class="hint">object in module <code ng:non-bindable="">genericEditorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="genericeditormodule-object-page genericeditormodule-object-generic-editor-loaded-event-page"><p>Event to notify subscribers that GenericEditor is loaded.</p>
</div></div>
</div>
