<h1><code ng:non-bindable="">GENERIC_EDITOR_UNRELATED_VALIDATION_ERRORS_EVENT</code>
<div><span class="hint">object in module <code ng:non-bindable="">genericEditorModule</code>
</span>
</div>
</h1>
<div><fieldset class="deprecated"><legend>Deprecated API</legend>
since 6.5 use GENERIC_EDITOR_UNRELATED_VALIDATION_MESSAGES_EVENT.</fieldset>
<h2 id="description">Description</h2>
<div class="description"><div class="genericeditormodule-object-page genericeditormodule-object-generic-editor-unrelated-validation-errors-event-page"><p>Event to notify GenericEditor about errors that can be relevant to it.
Any GenericEditor may receive notification from another GenericEditor that the latter received validation errors not relevant for themselves
In such a situation every GenericEditor will try and see if errors are relevant to them.</p>
</div></div>
</div>
