<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="hasoperationpermissionmodule-page"><p>This module provides a directive used to determine if the current user has permission to perform the action defined
by a given permission key(s), and removes/adds elements from the DOM accordingly.</p>
</div></div>
