<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="httperrorinterceptorservicemodule-page"><p>This module provides the functionality to add custom HTTP error interceptors.
Interceptors are used to execute code each time an HTTP request fails.</p>
</div></div>
