<h1><code ng:non-bindable="">httpAuthInterceptor</code>
<div><span class="hint">service in module <code ng:non-bindable="">httpAuthInterceptorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="httpauthinterceptormodule-httpauthinterceptor-page"><p>Makes it possible to perform global authentication by intercepting requests before they are forwarded to the server
and responses before they are forwarded to the application code.</p>
<p>The interceptors are service factories that are registered with the $httpProvider by adding them to the $httpProvider.interceptors array. 
The factory is called and injected with dependencies and returns the interceptor object, which contains the interceptor methods.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_request">request(config)</h3>
<div class="request"><div class="httpauthinterceptormodule-httpauthinterceptor-request-page"><p>Interceptor method which gets called with a http config object, intercepts any request made using $http service.
A call to any REST resource will be intercepted by this method, which then adds an authentication token to the request
and then forwards it to the REST resource.</p>
</div><h5 id="methods_request_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="httpauthinterceptormodule-httpauthinterceptor-request-page"><ul>
<li>the http config object that holds the configuration information.</li>
</ul>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
