<h1><code ng:non-bindable="">httpErrorInterceptorService</code>
<div><span class="hint">service in module <code ng:non-bindable="">httpErrorInterceptorServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="httperrorinterceptorservicemodule-service-page httperrorinterceptorservicemodule-service-httperrorinterceptorservice-page"><p>The httpErrorInterceptorService provides the functionality to add custom HTTP error interceptors.
An interceptor can be an {Object} or an Angular Factory and must be represented by a pair of functions:</p>
<ul>
<li>predicate(response) {Function} that must return true if the response is associated to the interceptor. Important: The predicate must be designed to fulfill a specific function. It must not be defined for generic use.</li>
<li>responseError(response) {Function} function called if the current response error matches the predicate. It must return a {Promise} with the resolved or rejected response.</li>
</ul>
<p>Each time an HTTP request fails, the service iterates through all registered interceptors. It sequentially calls the responseError function for all interceptors that have a predicate returning true for the current response error. If an interceptor modifies the response, the next interceptor that is called will have the modified response.
The last interceptor added to the service will be the first interceptor called. This makes it possible to override default interceptors.
If an interceptor resolves the response, the service service stops the iteration.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_addinterceptor">addInterceptor(interceptor)</h3>
<div class="addinterceptor"><div class="httperrorinterceptorservicemodule-service-page httperrorinterceptorservicemodule-service-httperrorinterceptorservice-addinterceptor-page"><p>Add a new error interceptor</p>
</div><h5 id="methods_addinterceptor_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>interceptor</td><td><a href="" class="label type-hint type-hint-object">Object</a><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="httperrorinterceptorservicemodule-service-page httperrorinterceptorservicemodule-service-httperrorinterceptorservice-addinterceptor-page"><p>The interceptor {Object} or angular Factory</p>
</div></td></tr></tbody></table><h5 id="methods_addinterceptor_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="httperrorinterceptorservicemodule-service-page httperrorinterceptorservicemodule-service-httperrorinterceptorservice-addinterceptor-page"><p>Function to call to unregister the interceptor from the service</p>
</div></td></tr></table><h4 id="methods_addinterceptor_example">Example</h4>
<div class="example"><div class="httperrorinterceptorservicemodule-service-page httperrorinterceptorservicemodule-service-httperrorinterceptorservice-addinterceptor-page"><pre><code class="lang-js">angular.module(&#39;customInterceptorExample&#39;, [&#39;httpErrorInterceptorServiceModule&#39;, &#39;alertServiceModule&#39;])
 .controller(&#39;ExampleController&#39;, function($q, httpErrorInterceptorService, alertService) {
     // Add a new interceptor with an object:
     var unregisterCustomInterceptor = httpErrorInterceptorService.addInterceptor({
         predicate: function(response) {
             return response.status === 400;
         },
         responseError: function(response) {
             alertService.showDanger({
                 message: response.message
             });
             return $q.reject(response);
         }
     });

     // Add an interceptor with an angular Factory:
     var unregisterCustomInterceptor = httpErrorInterceptorService.addInterceptor(&#39;customErrorInterceptor&#39;); 

     // Unregister the interceptor:
     unregisterCustomInterceptor();
 });
</code></pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
