<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="iframeclickdetectionservicemodule-page"><h2 id="the-iframeclickdetectionservicemodule">The iframeClickDetectionServiceModule</h2>
<p>The iframe Click Detection module provides the SmartEdit Container with the functionality to listen for
click events, specifically mousedown events, within the SmartEdit application.</p>
<p>The module requires the Gateway Proxy module to listen for click events.</p>
</div></div>
