<h1><code ng:non-bindable="">iFrameManagerModule</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="iframemanagermodule-page"><p>Module that provides a service called <a href="#/smartEditContainer/iFrameManagerModule.iFrameManager">iFrameManager</a> which has a set of methods
to load the storefront within an iframe.</p>
</div></div>
</div>
