<h1><code ng:non-bindable="">interceptorHelper</code>
<div><span class="hint">service in module <code ng:non-bindable="">interceptorHelperModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-page"><p>Helper service used to handle request and response in interceptors</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_methodsof_handlerequest">methodsOf_handleRequest(config, callback)</h3>
<div class="methodsof_handlerequest"><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handlerequest-page"><p>Handles body of an interceptor request</p>
</div><h5 id="methods_methodsof_handlerequest_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handlerequest-page"><p>the request&#39;s config to be handled by an interceptor method</p>
</div></td></tr><tr><td>callback</td><td><a href="" class="label type-hint type-hint-callback">callback</a></td><td><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handlerequest-page"><p>the callback function to handle the object. callback will either return a promise or the initial object.</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_handlerequest_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handlerequest-page"><p>the config or a promise resolving or rejecting with the config</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_handleresponse">methodsOf_handleResponse(response, callback)</h3>
<div class="methodsof_handleresponse"><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handleresponse-page"><p>Handles body of an interceptor response success</p>
</div><h5 id="methods_methodsof_handleresponse_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>response</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handleresponse-page"><p>the response to be handled by an interceptor method</p>
</div></td></tr><tr><td>callback</td><td><a href="" class="label type-hint type-hint-callback">callback</a></td><td><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handleresponse-page"><p>the callback function to handle the response. callback will either return a promise or the initial object.</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_handleresponse_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handleresponse-page"><p>the response or a promise resolving or rejecting with the response</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_handleresponseerror">methodsOf_handleResponseError(response, callback)</h3>
<div class="methodsof_handleresponseerror"><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handleresponseerror-page"><p>Handles body of an interceptor response error</p>
</div><h5 id="methods_methodsof_handleresponseerror_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>response</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handleresponseerror-page"><p>the response to be handled by an interceptor method</p>
</div></td></tr><tr><td>callback</td><td><a href="" class="label type-hint type-hint-callback">callback</a></td><td><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handleresponseerror-page"><p>the callback function to handle the response in error. callback will either return a promise or the initial object.</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_handleresponseerror_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="interceptorhelpermodule-service-page interceptorhelpermodule-service-interceptorhelper-methodsof-handleresponseerror-page"><p>the response or a promise resolving or rejecting with the response</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
