<h1><code ng:non-bindable="">landingPage</code>
<div><span class="hint">directive in module <code ng:non-bindable="">landingPageModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="landingpagemodule-component-page landingpagemodule-component-landingpage-page"><p>Component responsible of displaying the SmartEdit landing page. It retrieves a list of sites, which can be filtered.
Once a site is selected, the page will display the catalog(s) associated with it. From there, a user can navigate
into the storefront and other areas of the SmartEdit application.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;landing-page&gt;
&lt;/landing-page&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
