<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="languageservicemodule-page"><h2 id="the-languageservicemodule">The languageServiceModule</h2>
<p>The Language Service module provides a service that fetches all languages that are supported for specified site.</p>
</div></div>
