<h1><code ng:non-bindable="">SWITCH_LANGUAGE_EVENT</code>
<div><span class="hint">service in module <code ng:non-bindable="">languageServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="languageservicemodule-switch-language-event-page"><p>A constant that is used as key to publish and receive events when a language is changed.</p>
</div></div>
</div>
