<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="languageselectormodule-page"><p>The language selector module contains a directive which allow the user to select a language.</p>
<p>Use the <a href="#/smartEditContainer/languageServiceModule.service:languageService">languageService</a>
to call backend API in order to get the list of supported languages</p>
</div></div>
