<h1><code ng:non-bindable="">SELECTED_LANGUAGE</code>
<div><span class="hint">service in module <code ng:non-bindable="">languageServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="languageservicemodule-selected-language-page"><p>A constant that is used as key to store the selected language in the storageService</p>
</div></div>
</div>
