<h1><code ng:non-bindable="">LINEAR_RETRY_DEFAULT_SETTING</code>
<div><span class="hint">object in module <code ng:non-bindable="">linearRetrylModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="linearretrylmodule-object-page linearretrylmodule-object-linear-retry-default-setting-page"><p>The setting object to be used as default values for retry.</p>
</div></div>
</div>
