<h1><code ng:non-bindable="">loadConfigManagerService</code>
<div><span class="hint">service in module <code ng:non-bindable="">loadConfigModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="loadconfigmodule-service-page loadconfigmodule-service-loadconfigmanagerservice-page"><p>A service that is a singleton of <a href="#/smartEditContainer/loadConfigModule.service:LoadConfigManager">loadConfigModule.service:LoadConfigManager</a>  which is used to 
retrieve smartedit configuration values.
This services is the entry point of the smartedit configuration module. </p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/smartEditContainer/LoadConfigManager">LoadConfigManager</a></code>
</li>
</ul>
</div>
