<h1><code ng:non-bindable="">notificationService</code>
<div><span class="hint">service in module <code ng:non-bindable="">notificationServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="notificationservicemodule-service-page notificationservicemodule-service-notificationservice-page"><p>The notification service is used to display visual cues to inform the user of the state of the application.</p>
</div></div>
</div>
