<h1><code ng:non-bindable="">SE_NOTIFICATION_SERVICE_GATEWAY_ID</code>
<div><span class="hint">object in module <code ng:non-bindable="">notificationServiceInterfaceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="notificationserviceinterfacemodule-object-page notificationserviceinterfacemodule-object-se-notification-service-gateway-id-page"><p>The gateway UID used to proxy the NotificationService.</p>
</div></div>
</div>
