<h1><code ng:non-bindable="">EVENT_NOTIFICATION_CHANGED</code>
<div><span class="hint">object in module <code ng:non-bindable="">notificationServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="notificationservicemodule-object-page notificationservicemodule-object-event-notification-changed-page"><p>The ID of the event that is triggered when a notification is pushed or removed.</p>
</div></div>
</div>
