<h1><code ng:non-bindable="">NotificationServiceInterface</code>
<div><span class="hint">service in module <code ng:non-bindable="">notificationServiceInterfaceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="notificationserviceinterfacemodule-service-page notificationserviceinterfacemodule-service-notificationserviceinterface-page"><p>The interface defines the methods required to manage notifications that are to be displayed to the user.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_pushnotification">pushNotification(configuration)</h3>
<div class="pushnotification"><div class="notificationserviceinterfacemodule-service-page notificationserviceinterfacemodule-service-notificationserviceinterface-pushnotification-page"><p>This method creates a new notification based on the given configuration and
adds it to the top of the list.</p>
<p>The configuration must contain either a template or template URL, but not both.</p>
</div><h5 id="methods_pushnotification_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>configuration</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="notificationserviceinterfacemodule-service-page notificationserviceinterfacemodule-service-notificationserviceinterface-pushnotification-page"><p>The notification&#39;s configuration.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="notificationserviceinterfacemodule-service-page notificationserviceinterfacemodule-service-notificationserviceinterface-pushnotification-page"><p>The notification&#39;s unique identifier.</p>
</div></td></tr><tr><td>template <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="notificationserviceinterfacemodule-service-page notificationserviceinterfacemodule-service-notificationserviceinterface-pushnotification-page"><p>The notification&#39;s HTML template.</p>
</div></td></tr><tr><td>templateUrl <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="notificationserviceinterfacemodule-service-page notificationserviceinterfacemodule-service-notificationserviceinterface-pushnotification-page"><p>The notification&#39;s template URL.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removeallnotifications">removeAllNotifications()</h3>
<div class="removeallnotifications"><div class="notificationserviceinterfacemodule-service-page notificationserviceinterfacemodule-service-notificationserviceinterface-removeallnotifications-page"><p>This method removes all notifications.</p>
</div></div>
</li>
<li><h3 id="methods_removenotification">removeNotification(notificationId)</h3>
<div class="removenotification"><div class="notificationserviceinterfacemodule-service-page notificationserviceinterfacemodule-service-notificationserviceinterface-removenotification-page"><p>This method removes the notification with the given ID from the list.</p>
</div><h5 id="methods_removenotification_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>notificationId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="notificationserviceinterfacemodule-service-page notificationserviceinterfacemodule-service-notificationserviceinterface-removenotification-page"><p>The notification&#39;s unique identifier.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
