<h1><code ng:non-bindable="">operationContextService</code>
<div><span class="hint">service in module <code ng:non-bindable="">operationContextServiceModule</code>
</span>
</div>
</h1>
<div><div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_findoperationcontext">findOperationContext(url)</h3>
<div class="findoperationcontext"><div class="operationcontextservicemodule-service-page operationcontextservicemodule-service-operationcontextservice-findoperationcontext-page"><p>Find the first matching operation context for the given url.</p>
</div><h5 id="methods_findoperationcontext_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>url</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="operationcontextservicemodule-service-page operationcontextservicemodule-service-operationcontextservice-findoperationcontext-page"><p>The request url.</p>
</div></td></tr></tbody></table><h5 id="methods_findoperationcontext_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="operationcontextservicemodule-service-page operationcontextservicemodule-service-operationcontextservice-findoperationcontext-page"><p>operationContext</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_register">register(url, operationContext)</h3>
<div class="register"><div class="operationcontextservicemodule-service-page operationcontextservicemodule-service-operationcontextservice-register-page"><p>Register a new url with it&#39;s associated operationContext.</p>
</div><h5 id="methods_register_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>url</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="operationcontextservicemodule-service-page operationcontextservicemodule-service-operationcontextservice-register-page"><p>The url that is associated to the operation context.</p>
</div></td></tr><tr><td>operationContext</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="operationcontextservicemodule-service-page operationcontextservicemodule-service-operationcontextservice-register-page"><p>The operation context name that is associated to the given url.</p>
</div></td></tr></tbody></table><h5 id="methods_register_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="operationcontextservicemodule-service-page operationcontextservicemodule-service-operationcontextservice-register-page"><p>operationContextService The operationContextService service</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
