<h1><code ng:non-bindable="">pageSensitive</code>
<div><span class="hint">directive in module <code ng:non-bindable="">pageSensitiveDirectiveModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagesensitivedirectivemodule-directive-page pagesensitivedirectivemodule-directive-pagesensitive-page"><p>Will cause an Angular re-compilation of the node declaring this directive whenever the page identifier in smartEdit layer changes</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY page-sensitive&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
