<h1><code ng:non-bindable="">DEFAULT_RULE_NAME</code>
<div><span class="hint">object in module <code ng:non-bindable="">permissionServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="permissionservicemodule-object-page permissionservicemodule-object-default-rule-name-page"><p>The name used to register the default rule.</p>
</div></div>
</div>
