<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="permissionserviceinterfacemodule-page"><p>The permissions service resolves user permissions returning true or false.</p>
</div></div>
