<h1><code ng:non-bindable="">PreviewDatalanguageDropdownPopulator</code>
<div><span class="hint">service in module <code ng:non-bindable="">PreviewDatalanguageDropdownPopulator</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="previewdatalanguagedropdownpopulator-service-page previewdatalanguagedropdownpopulator-service-previewdatalanguagedropdownpopulator-page"><p>implementation of <a href="#/smartEditContainer/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface">DropdownPopulatorInterface</a> for language dropdown in
experience selector to populate the list of languages by making a REST call to retrieve the list of langauges for a given site.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_populate">populate(payload)</h3>
<div class="populate"><div class="previewdatalanguagedropdownpopulator-service-page previewdatalanguagedropdownpopulator-service-previewdatalanguagedropdownpopulator-populate-page"><p>will returns a promise resolving to a list of languages for a given Site ID (based on the selected catalog). The site Id is generated from the
selected catalog in the &#39;catalog&#39; dropdown.</p>
</div><h5 id="methods_populate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>payload</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="previewdatalanguagedropdownpopulator-service-page previewdatalanguagedropdownpopulator-service-previewdatalanguagedropdownpopulator-populate-page"><p>contains the field, model and additional attributes.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="previewdatalanguagedropdownpopulator-service-page previewdatalanguagedropdownpopulator-service-previewdatalanguagedropdownpopulator-populate-page"><p>The field descriptor from <a href="#/smartEditContainer/genericEditorModule.service:GenericEditor">GenericEditor</a> containing information about the dropdown.</p>
</div></td></tr><tr><td>model</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="previewdatalanguagedropdownpopulator-service-page previewdatalanguagedropdownpopulator-service-previewdatalanguagedropdownpopulator-populate-page"><p>The model descriptor from <a href="#/smartEditContainer/genericEditorModule.service:GenericEditor">GenericEditor</a> containing the assigned values.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
