<h1><code ng:non-bindable="">PreviewDatapreviewCatalogDropdownPopulator</code>
<div><span class="hint">service in module <code ng:non-bindable="">previewDataDropdownPopulatorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="previewdatadropdownpopulatormodule-service-page previewdatadropdownpopulatormodule-service-previewdatapreviewcatalogdropdownpopulator-page"><p>implementation of <a href="#/smartEditContainer/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface">DropdownPopulatorInterface</a> for catalog dropdown in
experience selector to populate the list of catalogs by making a REST call to retrieve the sites and then the catalogs based on the site.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_populate">populate(payload)</h3>
<div class="populate"><div class="previewdatadropdownpopulatormodule-service-page previewdatadropdownpopulatormodule-service-previewdatapreviewcatalogdropdownpopulator-populate-page"><p>will returns a promise resolving to a list of site - catalogs to be displayed in the experience selector.</p>
</div><h5 id="methods_populate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>payload</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="previewdatadropdownpopulatormodule-service-page previewdatadropdownpopulatormodule-service-previewdatapreviewcatalogdropdownpopulator-populate-page"><p>contains the field, model and additional attributes.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
