<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="renderserviceinterfacemodule-page"><h2 id="the-renderserviceinterfacemodule">The renderServiceInterfaceModule</h2>
<p>The render service interface module provides an abstract extensible
<a href="#/smartEditContainer/renderServiceInterfaceModule.service:RenderServiceInterface">renderService</a> . It is designed to
re-render components after an update component data operation has been performed, according to how
the Accelerator displays the component.</p>
</div></div>
