<h1><code ng:non-bindable="">SMARTEDIT_ROOT</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-smartedit-root-page"><p>the name of the webapp root context</p>
</div></div>
</div>
