<h1><code ng:non-bindable="">DEFAULT_AUTHENTICATION_ENTRY_POINT</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-default-authentication-entry-point-page"><p>When configuration is not available yet to provide authenticationMap, one needs a default authentication entry point to access configuration API itself</p>
</div></div>
</div>
