<h1><code ng:non-bindable="">ENUM_RESOURCE_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-enum-resource-uri-page"><p>Path to fetch list of values of a given enum type</p>
</div></div>
</div>
