<h1><code ng:non-bindable="">DEFAULT_AUTHENTICATION_CLIENT_ID</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-default-authentication-client-id-page"><p>The default OAuth 2 client id to use during authentication.</p>
</div></div>
</div>
