<h1><code ng:non-bindable="">CMSWEBSERVICES_RESOURCE_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-cmswebservices-resource-uri-page"><p>Constant for the cmswebservices API root</p>
</div></div>
</div>
