<h1><code ng:non-bindable="">STORE_FRONT_CONTEXT</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-store-front-context-page"><p>to fetch the store front context for inflection points.</p>
</div></div>
</div>
