<h1><code ng:non-bindable="">RetryStrategyInterface</code>
<div><span class="hint">service in module <code ng:non-bindable="">retryStrategyInterfaceModule</code>
</span>
</div>
</h1>
<div><div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_canretry">canRetry()</h3>
<div class="canretry"><div class="retrystrategyinterfacemodule-service-page retrystrategyinterfacemodule-service-retrystrategyinterface-canretry-page"><p>Function that must return a {Boolean} if the current request must be retried</p>
</div><h5 id="methods_canretry_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="retrystrategyinterfacemodule-service-page retrystrategyinterfacemodule-service-retrystrategyinterface-canretry-page"><p>true if the current request must be retried</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_canretry">canRetry()</h3>
<div class="canretry"><div class="retrystrategyinterfacemodule-service-page retrystrategyinterfacemodule-service-retrystrategyinterface-canretry-page"><p>Function that returns the next delay time {Number}</p>
</div><h5 id="methods_canretry_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="retrystrategyinterfacemodule-service-page retrystrategyinterfacemodule-service-retrystrategyinterface-canretry-page"><p>delay the delay until the next retry</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
