<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="retryinterceptormodule-page"><p>This module provides the functionality to retry failing xhr requests through the registration of retry strategies.</p>
</div></div>
