<h1><code ng:non-bindable="">EVENT_PERSPECTIVE_CHANGED</code>
<div><span class="hint">object in module <code ng:non-bindable="">seConstantsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="seconstantsmodule-object-page seconstantsmodule-object-event-perspective-changed-page"><p>The ID of the event that is triggered when the perspective (known as mode for users) is changed.</p>
</div></div>
</div>
