<h1><code ng:non-bindable="">SharedDataServiceInterface</code>
<div><span class="hint">service in module <code ng:non-bindable="">sharedDataServiceInterfaceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-page"><p>Provides an abstract extensible shared data service. Used to store any data to be used either the SmartEdit
application or the SmartEdit container.</p>
<p>This class serves as an interface and should be extended, not instantiated.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_get">get(key)</h3>
<div class="get"><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-get-page"><p>Get the data for the given key.</p>
</div><h5 id="methods_get_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>key</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-get-page"><p>The key of the data to fetch</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_get">get(key)</h3>
<div class="get"><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-get-page"><p>Retrieve the data for the given key.</p>
</div><h5 id="methods_get_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>key</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-get-page"><p>The key of the data to retrieve</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_set">set(key, value)</h3>
<div class="set"><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-set-page"><p>Set data for the given key.</p>
</div><h5 id="methods_set_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>key</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-set-page"><p>The key of the data to set</p>
</div></td></tr><tr><td>value</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-set-page"><p>The value of the data to set</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_set">set(key, value)</h3>
<div class="set"><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-set-page"><p>Store data for the given key.</p>
</div><h5 id="methods_set_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>key</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-set-page"><p>The key of the data to store</p>
</div></td></tr><tr><td>value</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-set-page"><p>The value of the data to store</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_update">update(key, modifyingCallback)</h3>
<div class="update"><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-update-page"><p>Convenience method to retrieve and modify on the fly the content stored under a given key</p>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>key</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-update-page"><p>The key of the data to store</p>
</div></td></tr><tr><td>modifyingCallback</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="shareddataserviceinterfacemodule-shareddataserviceinterface-update-page"><p>callback fed with the value stored under the given key. The callback must return the new value of the object to update.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
