<h1><code ng:non-bindable="">SIMPLE_RETRY_DEFAULT_SETTING</code>
<div><span class="hint">object in module <code ng:non-bindable="">simpleRetrylModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="simpleretrylmodule-object-page simpleretrylmodule-object-simple-retry-default-setting-page"><p>The setting object to be used as default values for retry.</p>
</div></div>
</div>
