<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="siteservicemodule-page"><h2 id="the-siteservicemodule">The siteServiceModule</h2>
<p>The Site Service module provides a service that fetches all sites that have been configured on the hybris platform.</p>
</div></div>
