<h1><code ng:non-bindable="">siteService</code>
<div><span class="hint">service in module <code ng:non-bindable="">siteServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="siteservicemodule-service-page siteservicemodule-service-siteservice-page"><p>The Site Service fetches all sites configured on the hybris platform using REST calls to the cmswebservices sites API.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getsitebyid">getSiteById()</h3>
<div class="getsitebyid"><div class="siteservicemodule-service-page siteservicemodule-service-siteservice-getsitebyid-page"><p>Fetches a site, configured on the hybris platform, by its uid. The sites if fetched using REST calls to
the cmswebservices sites API.</p>
</div><h5 id="methods_getsitebyid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="siteservicemodule-service-page siteservicemodule-service-siteservice-getsitebyid-page"><p>a site descriptos. a descriptor provides the following site properties: uid,
name, previewUrl, and redirectUrl.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getsites">getSites()</h3>
<div class="getsites"><div class="siteservicemodule-service-page siteservicemodule-service-siteservice-getsites-page"><p>Fetches a list of sites configured on the hybris platform. The list of sites if fetched using REST calls to
the cmswebservices sites API.</p>
</div><h5 id="methods_getsites_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="siteservicemodule-service-page siteservicemodule-service-siteservice-getsites-page"><p>An array of site descriptors. Each descriptor provides the following site properties: uid,
name, previewUrl, and redirectUrl.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
