<h1><code ng:non-bindable="">ySliderPanel</code>
<div><span class="hint">directive in module <code ng:non-bindable="">sliderPanelModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sliderpanelmodule-directive-page sliderpanelmodule-directive-ysliderpanel-page"><p>The ySliderPanel Angular component allows for the dynamic display of any HTML content on a sliding panel.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;y-slider-panel
       data-slider-panel-configuration="{Object}"
       data-slider-panel-hide="{Function}"
       data-slider-panel-show="{Function}"&gt;
&lt;/y-slider-panel&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>dataSliderPanelConfiguration</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="sliderpanelmodule-directive-page sliderpanelmodule-directive-ysliderpanel-page"><p>(optional) A JSON object containing the configuration to be applied on slider panel.</p>
</div></td></tr><tr><td>dataSliderPanelHide</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="sliderpanelmodule-directive-page sliderpanelmodule-directive-ysliderpanel-page"><p>(optional) A function shared in a two ways binding by the main controller and the slider panel and used to trigger the hiding of the slider panel.</p>
</div></td></tr><tr><td>dataSliderPanelShow</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="sliderpanelmodule-directive-page sliderpanelmodule-directive-ysliderpanel-page"><p>A function shared in a two ways binding by the main controller and the slider panel and used to trigger the display of the slider panel.</p>
</div></td></tr></tbody></table></div>
</div>
