<h1><code ng:non-bindable="">sliderPanelService</code>
<div><span class="hint">service in module <code ng:non-bindable="">sliderPanelServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-page"><p>The sliderPanelService handles the initialization and the rendering of the <a href="#/smartEditContainer/sliderPanelModule.directive:ySliderPanel">ySliderPanel</a> Angular component.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getnewserviceinstance">getNewServiceInstance(element, window, configuration)</h3>
<div class="getnewserviceinstance"><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>Set and returns a new instance of the slider panel.</p>
</div><h5 id="methods_getnewserviceinstance_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>element</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>A pointer to the slider panel HTML tag provided by the Angular framework.</p>
</div></td></tr><tr><td>window</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>A pointer to the Javascript window element provided by the Angular framework.</p>
</div></td></tr><tr><td>configuration <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">Object </a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>A JSON object containing the specific configuration to be applied on the slider panel.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>cssSelector</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>CSS pattern used to select the element covered by the slider panel.</p>
</div></td></tr><tr><td>modal</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>Renders the slider panel as a SmartEdit modal.</p>
<pre><code>{
  showDismissButton: {Boolean},
  title: {String},
  cancel: {
      onClick: {Function},
      label: {String}
  }
  save: {
      disabled: {String} (optional)
      onClick: {Function},
      label: {String}
  },
  dismiss: {
      onClick: {Function}
  }
}
</code></pre></div></td></tr><tr><td>noGreyedOutOverlay</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>Used to indicate if a greyed-out overlay is to be displayed or not.</p>
</div></td></tr><tr><td>overlayDimension</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>Indicates the dimension of the container slider panel once it is displayed.</p>
</div></td></tr><tr><td>slideFrom</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>Specifies from which side of its container the slider panel slides out.</p>
</div></td></tr><tr><td>displayedByDefault</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>Specifies whether the slider panel is to be shown by default.</p>
</div></td></tr><tr><td>zIndex</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-getnewserviceinstance-page"><p>Indicates the z-index value to be applied on the slider panel.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updatecontainerinlinestyling">updateContainerInlineStyling(screenResized)</h3>
<div class="updatecontainerinlinestyling"><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-updatecontainerinlinestyling-page"><p>This method sets the inline styling applied to the slider panel container according to the dimension and position values
of the parent element.</p>
</div><h5 id="methods_updatecontainerinlinestyling_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>screenResized</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="sliderpanelservicemodule-service-page sliderpanelservicemodule-service-sliderpanelservice-updatecontainerinlinestyling-page"><p>Sets whether the update is triggered by a screen resize</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
