<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="sliderpanelservicemodule-page"><p>This module provides a service to initialize and control the rendering of the <a href="#/smartEditContainer/sliderPanelModule.directive:ySliderPanel">ySliderPanel</a> Angular component.</p>
</div></div>
