<h1><code ng:non-bindable="">storageService</code>
<div><span class="hint">service in module <code ng:non-bindable="">storageServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-page"><p>The Storage service is used to store temporary information in the browser. The service keeps track of key/value pairs
of authTokens that authenticate the specified user on different URIs.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getauthtoken">getAuthToken(authURI)</h3>
<div class="getauthtoken"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getauthtoken-page"><p>This method is used to retrieve the authToken associated with the provided URI.</p>
</div><h5 id="methods_getauthtoken_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>authURI</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getauthtoken-page"><p>The URI for which the associated authToken is to be retrieved.</p>
</div></td></tr></tbody></table><h5 id="methods_getauthtoken_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getauthtoken-page"><p>The authToken used to authenticate the current user in the provided URI.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getauthtokens">getAuthTokens()</h3>
<div class="getauthtokens"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getauthtokens-page"><p>This method is used to retrieve a map having as value the current access token stored for a given authentication entry point as key</p>
</div></div>
</li>
<li><h3 id="methods_getprincipalidentifier">getPrincipalIdentifier(principalNameKey)</h3>
<div class="getprincipalidentifier"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getprincipalidentifier-page"><p>This method is used to retrieve the principal&#39;s login name from storage service</p>
</div><h5 id="methods_getprincipalidentifier_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>principalNameKey</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getprincipalidentifier-page"><p>key associated to store principal&#39;s name.</p>
</div></td></tr></tbody></table><h5 id="methods_getprincipalidentifier_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getprincipalidentifier-page"><p>principalNameValue principal&#39;s name associated with the key.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getvaluefromcookie">getValueFromCookie(cookieName, isEncoded)</h3>
<div class="getvaluefromcookie"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getvaluefromcookie-page"><p>Retrieves the value stored in the cookie identified by the provided name.</p>
</div><h5 id="methods_getvaluefromcookie_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>cookieName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getvaluefromcookie-page"><p>The name of the cookie where the desired value is stored.</p>
</div></td></tr><tr><td>isEncoded</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getvaluefromcookie-page"><p>A flag that specifies whether the value is encoded or not.</p>
</div></td></tr></tbody></table><h5 id="methods_getvaluefromcookie_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-getvaluefromcookie-page"><p>The value retrieved from the cookie or null if the cookie doesn&#39;t exist.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_isinitialized">isInitialized()</h3>
<div class="isinitialized"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-isinitialized-page"><p>This method is used to determine if the storage service has been initialized properly. It
makes sure that the smartedit-sessions cookie is available in the browser.</p>
</div><h5 id="methods_isinitialized_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-isinitialized-page"><p>Indicates if the storage service was properly initialized.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_putvalueincookie">putValueInCookie(cookieName, value, encode)</h3>
<div class="putvalueincookie"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-putvalueincookie-page"><p>Stores the provided value in a cookie.</p>
</div><h5 id="methods_putvalueincookie_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>cookieName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-putvalueincookie-page"><p>The name of the cookie where to store the provided value.</p>
</div></td></tr><tr><td>value</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-putvalueincookie-page"><p>The value to store in the cookie</p>
</div></td></tr><tr><td>encode</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-putvalueincookie-page"><p>A flag that specifies whether to encode the value or not (to obfuscate its content).</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removeallauthtokens">removeAllAuthTokens()</h3>
<div class="removeallauthtokens"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-removeallauthtokens-page"><p>This method removes all authURI/authToken key/pairs from the storage service.</p>
</div></div>
</li>
<li><h3 id="methods_removeauthtoken">removeAuthToken(authURI)</h3>
<div class="removeauthtoken"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-removeauthtoken-page"><p>Removes the authToken associated with the provided URI.</p>
</div><h5 id="methods_removeauthtoken_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>authURI</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-removeauthtoken-page"><p>The URI for which its authToken is to be removed.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removeprincipalidentifier">removePrincipalIdentifier()</h3>
<div class="removeprincipalidentifier"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-removeprincipalidentifier-page"><p>This method is used to remove the principal&#39;s UID from storage service</p>
</div></div>
</li>
<li><h3 id="methods_storeauthtoken">storeAuthToken(authURI, auth)</h3>
<div class="storeauthtoken"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-storeauthtoken-page"><p>This method creates and stores a new key/value entry. It associates an authentication token with a
URI.</p>
</div><h5 id="methods_storeauthtoken_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>authURI</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-storeauthtoken-page"><p>The URI that identifies the resource(s) to be authenticated with the authToken. Will be used as a key.</p>
</div></td></tr><tr><td>auth</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-storeauthtoken-page"><p>The token to be used to authenticate the user in the provided URI.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_storeprincipalidentifier">storePrincipalIdentifier(principalUID)</h3>
<div class="storeprincipalidentifier"><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-storeprincipalidentifier-page"><p>This method is used to store the principal&#39;s login name in storage service</p>
</div><h5 id="methods_storeprincipalidentifier_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>principalUID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="storageservicemodule-service-page storageservicemodule-service-storageservice-storeprincipalidentifier-page"><p>Value associated to store principal&#39;s login.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
