<h1><code ng:non-bindable="">systemAlerts</code>
<div><span class="hint">service in module <code ng:non-bindable="">systemAlertsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="systemalertsmodule-systemalerts-page"><p>The systemAlerts component provides the view layer for system alerts. It renders alerts triggered both from
the <a href="#/smartEditContainer/alertServiceModule.alertService">alertService</a> or the lower layer <a href="#/smartEditContainer/alertFactoryModule.alertFactory">alertFactory</a><br />
<br />
Only use one (1) instance of the systemAlerts component and use it at the root. If you remove this unique instance
of the component no alerts will be rendered. If you add multiple instances of the component, multiple alerts will
be rendered, which could cause instability in the SmartEdit web application or the test suite.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;system-alerts&gt;
&lt;/system-alerts&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
