<h1><code ng:non-bindable="">yTab</code>
<div><span class="hint">directive in module <code ng:non-bindable="">tabsetModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="tabsetmodule-directive-page tabsetmodule-directive-ytab-page"><p>The directive  responsible for wrapping the content of a tab within a
<a href="#/smartEditContainer/tabsetModule.directive:yTabset">yTabset</a> directive.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;y-tab
       tab-id="{Number}"
       content="{String}"
       model="{Object}"
       tab-control="{function}"&gt;
&lt;/y-tab&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>tabId</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="tabsetmodule-directive-page tabsetmodule-directive-ytab-page"><p>The ID used to track the tab within the tabset. It must match the ID used in the tabset.</p>
</div></td></tr><tr><td>content</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="tabsetmodule-directive-page tabsetmodule-directive-ytab-page"><p>Path to the HTML fragment to be displayed as the tab content.</p>
</div></td></tr><tr><td>model</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="tabsetmodule-directive-page tabsetmodule-directive-ytab-page"><p>Custom data. Neither the smartedit-tabset directive or the smartedit-tab directive
can modify this value. The tabs&#39; contents determine how to parse and use this object.</p>
</div></td></tr><tr><td>tabControl</td><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="tabsetmodule-directive-page tabsetmodule-directive-ytab-page"><p>An optional parameter. A function that will be called with scope as its parameter.
It allows the caller to register extra functionality to be executed in the tab.</p>
</div></td></tr></tbody></table></div>
</div>
