<h1><code ng:non-bindable="">toolbar</code>
<div><span class="hint">directive in module <code ng:non-bindable="">toolbarModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="toolbarmodule-directive-page toolbarmodule-directive-toolbar-page"><p>Toolbar HTML mark-up that compiles into a configurable toolbar with an assigned <a href="#/smartEditContainer/toolbarModule.ToolbarService">ToolbarService</a> for functionality.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;toolbar
       image-root="{String}"
       css-class="{String}"
       toolbar-name="{String}"&gt;
&lt;/toolbar&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>imageRoot</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="toolbarmodule-directive-page toolbarmodule-directive-toolbar-page"><p>Root folder path for images</p>
</div></td></tr><tr><td>cssClass</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="toolbarmodule-directive-page toolbarmodule-directive-toolbar-page"><p>Space-separated string of CSS classes for toolbar item styling</p>
</div></td></tr><tr><td>toolbarName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="toolbarmodule-directive-page toolbarmodule-directive-toolbar-page"><p>Toolbar name used by the gateway proxy service</p>
</div></td></tr></tbody></table></div>
</div>
