<h1><code ng:non-bindable="">CLOSE_ALL_ACTION_ITEMS</code>
<div><span class="hint">object in module <code ng:non-bindable="">toolbarModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="toolbarmodule-string-page toolbarmodule-string-close-all-action-items-page"><p>Injectable angular constant<br/>
Constant identifying the closure of all action items.</p>
</div></div>
</div>
