<h1><code ng:non-bindable="">ytree</code>
<div><span class="hint">directive in module <code ng:non-bindable="">treeModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="treemodule-directive-page treemodule-directive-ytree-page"><p>This directive renders a tree of nodes and manages CRUD operations around the nodes.
<br/>It relies on <a href="https://github.com/angular-ui-tree/angular-ui-tree">angular-ui-tree</a> third party library
<br/>Its behaviour is defined by <a href="#/smartEditContainer/treeModule.controller:YTreeController">YTreeController</a> controller</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;ytree
       node-template-url="{String}"
       node-uri="{String}"
       drag-options="{Object}"
       node-actions="{String}"&gt;
&lt;/ytree&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>nodeTemplateUrl</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="treemodule-directive-page treemodule-directive-ytree-page"><p>an HTML node template to be included besides each node to enhance rendering and behaviour of the tree. This template may use the nodeActions defined hereunder.</p>
</div></td></tr><tr><td>nodeUri</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="treemodule-directive-page treemodule-directive-ytree-page"><p>the REST entry point to be used to manage the nodes (GET, POST, PUT and DELETE).</p>
</div></td></tr><tr><td>dragOptions</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-directive-page treemodule-directive-ytree-page"><p>a map of callback functions to customize the drag and drop behaviour of the tree by exposing the <a href="#/smartEditContainer/treeModule.object:yTreeDndEvent">yTreeDndEvent</a>.</p>
</div></td></tr><tr><td>nodeActions</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="treemodule-directive-page treemodule-directive-ytree-page"><p>a map of methods to be closure-bound to the <a href="#/smartEditContainer/treeModule.controller:YTreeController">controller</a> of the directive in order to manage the tree from the parent scope or from the optional node template.
<br/> All nodeActions methods must take <a href="#/smartEditContainer/treeModule.service:TreeService">treeService</a> instance as first parameter.
<br/> <a href="#/smartEditContainer/treeModule.service:TreeService">treeService</a> instance will then prebound in the closure made available in the node template or in the parent scope.
<br/> Example in a parent controller:
<pre class="prettyprint linenums">
    	 	this.actions = {

                myMethod: function(treeService, arg1, arg2) {
            		//some action expecting 'this' 
            		//to be the YTreeController
                    this.newChild(this.root.nodes[0]);
                }
            };
</pre>
passed to the directive through:
<pre class="prettyprint linenums">
    	 	&lt;ytree data-node-uri='ctrl.nodeURI' data-node-template-url='ctrl.nodeTemplateUrl' data-node-actions='ctrl.actions'/&gt;
</pre>
And in the HTML node template you may invoke it this way:
<pre class="prettyprint linenums">
    	 	&lt;button data-ng-click="ctrl.myMethod('arg1', 'arg2')"&gt;my action&lt;/button&gt;
</pre>
or from the parent controller:
<pre class="prettyprint linenums">
    	 	&lt;button data-ng-click="ctrl.actions.myMethod('arg1', 'arg2')"&gt;my action&lt;/button&gt;
</pre>
</div></td></tr></tbody></table></div>
</div>
