<h1><code ng:non-bindable="">TreeService</code>
<div><span class="hint">service in module <code ng:non-bindable="">treeModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="treemodule-service-page treemodule-service-treeservice-page"><p>A class to manage tree nodes through a REST API.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">TreeService(nodeUri);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>nodeUri</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="treemodule-service-page treemodule-service-treeservice-page"><p>the REST entry point to handle tree nodes. it must support GET, POST, PUT and DELETE verbs:</p>
<ul>
<li>GET nodeUri?parentUid={parentUid} will return a list of children <a href="#/smartEditContainer/treeModule.object:Node">nodes</a>  wrapped in an object:
<pre class="prettyprint linenums">
	    {
		    navigationNodes:[{
	            uid: "2",
	            name: "node2",
	            parentUid: "root"
	            hasChildren: true
	        }, {
	            uid: "4",
	            name: "node4",
	            parentUid: "1",
	            hasChildren: false
	        }]
		}
</pre></li>
<li>POST nodeUri takes a <a href="#/smartEditContainer/treeModule.object:Node">Node</a> payload and returns the final object.</li>
<li>PUT nodeUri/{uid} takes a <a href="#/smartEditContainer/treeModule.object:Node">Node</a> payload and returns the final object.</li>
<li>DELETE nodeUri/{uid} </li>
</ul>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_fetchchildren">fetchChildren(parent)</h3>
<div class="fetchchildren"><div class="treemodule-service-page treemodule-service-treeservice-fetchchildren-page"><p>Will fetch the children of a given node by querying GET nodeUri?parentUid={parentUid}</p>
<ul>
<li>Once the children retrieved, the node will be marked as &quot;initiated&quot; and subsequent calls will not hit the server.</li>
<li>Each children will be given a ManyToOne reference to their parent.</li>
<li>The parent nodes will be assigned its children through the &quot;nodes&quot; property.</li>
</ul>
</div><h5 id="methods_fetchchildren_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>parent</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-service-page treemodule-service-treeservice-fetchchildren-page"><p>the parent <a href="#/smartEditContainer/treeModule.object:Node">node</a> object the nodes of which we want to fetch</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removenode">removeNode(node)</h3>
<div class="removenode"><div class="treemodule-service-page treemodule-service-treeservice-removenode-page"><p>Will delete a node by sending DELETE to nodeUri/{uid}.
On the front end side the parent model &quot;hasChildren&quot; will be re-evaluated.</p>
</div><h5 id="methods_removenode_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>node</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-service-page treemodule-service-treeservice-removenode-page"><p>the <a href="#/smartEditContainer/treeModule.object:Node">node</a> object to delete.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_savenode">saveNode(parent)</h3>
<div class="savenode"><div class="treemodule-service-page treemodule-service-treeservice-savenode-page"><p>Will save a new node for the given parent by POSTing to nodeUri. The payload will only contain the parentUid and a generated name.
On the front end side the parent model will be marked as having children.</p>
</div><h5 id="methods_savenode_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>parent</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-service-page treemodule-service-treeservice-savenode-page"><p>the parent <a href="#/smartEditContainer/treeModule.object:Node">node</a> object from which to create a child</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
