<h1><code ng:non-bindable="">dragOptions</code>
<div><span class="hint">object in module <code ng:non-bindable="">treeModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="treemodule-object-page treemodule-object-dragoptions-page"><p>A JSON object holding callbacks related to nodes drag and drop functionality in the <a href="#/smartEditContainer/treeModule.directive:ytree">ytree</a> directive.
Each callback exposes the <a href="#/smartEditContainer/treeModule.object:yTreeDndEvent">yTreeDndEvent</a></p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_acceptdropcallback">acceptDropCallback</h3>
<div class="acceptdropcallback"><div class="acceptdropcallback-page"><p>Callback function executed when hovering over droppable slots, return true to allow, return false to block.</p>
</div></div>
</li>
<li><h3 id="properties_beforedropcallback">beforeDropCallback</h3>
<div class="beforedropcallback"><div class="beforedropcallback-page"><p>Callback function executed before drop. Return true allows drop, false rejects, and an object {confirmDropI18nKey: &#39;key&#39;} opens a confirmation modal.</p>
</div></div>
</li>
<li><h3 id="properties_ondropcallback">onDropCallback</h3>
<div class="ondropcallback"><div class="ondropcallback-page"><p>Callback function executed after the node is dropped.</p>
</div></div>
</li>
</ul>
</div>
</div>
