<h1><code ng:non-bindable="">unauthorizedErrorInterceptor</code>
<div><span class="hint">service in module <code ng:non-bindable="">unauthorizedErrorInterceptorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="unauthorizederrorinterceptormodule-service-page unauthorizederrorinterceptormodule-service-unauthorizederrorinterceptor-page"><p>Used for HTTP error code 401 (Forbidden). It will display the login modal.</p>
</div></div>
</div>
