<h1><code ng:non-bindable="">uriDropdownPopulator</code>
<div><span class="hint">service in module <code ng:non-bindable="">uriDropdownPopulatorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-page"><p>implementation of <a href="#/smartEditContainer/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface">DropdownPopulatorInterface</a> for &quot;EditableDropdown&quot; cmsStructureType
containing uri attribute.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_fetchall">fetchAll()</h3>
<div class="fetchall"><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-fetchall-page"><p>Implementation of the <a href="#/smartEditContainer/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface#fetchall">DropdownPopulatorInterface.fetchAll</a> method</p>
</div></div>
</li>
<li><h3 id="methods_fetchpage">fetchPage()</h3>
<div class="fetchpage"><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-fetchpage-page"><p>Implementation of the <a href="#/smartEditContainer/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface#fetchpage">DropdownPopulatorInterface.fetchPage</a> method</p>
</div></div>
</li>
<li><h3 id="methods_getitem">getItem(payload)</h3>
<div class="getitem"><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-getitem-page"><p>Implementation of the <a href="#/smartEditContainer/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface#getitem">DropdownPopulatorInterface.getItem</a> method</p>
</div><h5 id="methods_getitem_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>payload</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-getitem-page"><p>The payload object containing the uri and other options</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-getitem-page"><p>The id of the item to fetch</p>
</div></td></tr><tr><td>field.uri</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-getitem-page"><p>The uri used to make a rest call to fetch data</p>
</div></td></tr><tr><td>field.dependsOn</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-getitem-page"><p>A comma separated list of attributes to include from the model when building the request params</p>
</div> <p><em>(default: null)</em></p></td></tr><tr><td>field.idAttribute</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-getitem-page"><p>The name of the attribute to use when setting the id attribute</p>
</div> <p><em>(default: id)</em></p></td></tr><tr><td>field.labelAttributes</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-getitem-page"><p>A list of attributes to use when setting the label attribute</p>
</div> <p><em>(default: label)</em></p></td></tr><tr><td>model</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-getitem-page"><p>The model used when building query params on attributes defined in payload.field.dependsOn</p>
</div> <p><em>(default: null)</em></p></td></tr></tbody></table></td></tr></tbody></table><h5 id="methods_getitem_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="uridropdownpopulatormodule-service-page uridropdownpopulatormodule-service-uridropdownpopulator-getitem-page"><p>A promise that resolves to the option that was fetched</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
