<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="waitdialogservicemodule-page"><p>A module that provides a service that can be used to display a loading overlay.</p>
</div></div>
