<h1><code ng:non-bindable="">waitDialogService</code>
<div><span class="hint">service in module <code ng:non-bindable="">waitDialogServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="waitdialogservicemodule-service-page waitdialogservicemodule-service-waitdialogservice-page"><p>This service be used in order to display (or hide) a &#39;loading&#39; overlay. The overlay should display on top of everything, preventing
the user from doing any action until the overlay gets hidden.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_showwaitmodal">showWaitModal(customLoadingMessageLocalizedKey)</h3>
<div class="showwaitmodal"><div class="waitdialogservicemodule-service-page waitdialogservicemodule-service-waitdialogservice-showwaitmodal-page"><p>This method can be called to display the loading overlay.</p>
</div><h5 id="methods_showwaitmodal_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>customLoadingMessageLocalizedKey</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="waitdialogservicemodule-service-page waitdialogservicemodule-service-waitdialogservice-showwaitmodal-page"><p>The i18n key that corresponds to the message to be displayed.</p>
</div> <p><em>(default: "se.wait.dialog.message")</em></p></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_showwaitmodal">showWaitModal()</h3>
<div class="showwaitmodal"><div class="waitdialogservicemodule-service-page waitdialogservicemodule-service-waitdialogservice-showwaitmodal-page"><p>Removes the loading overlay.</p>
</div></div>
</li>
</ul>
</div>
</div>
