<h1><code ng:non-bindable="">ModalWizardConfig</code>
<div><span class="hint">object in module <code ng:non-bindable="">wizardServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="wizardservicemodule-object-page wizardservicemodule-object-modalwizardconfig-page"><p>A plain JSON object, representing the configuration options for a modal wizard</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_backlabel">backLabel (String)</h3>
<div class="backlabel"><div class="backlabel-string--page"><p>An optional i18n key to override the default label for the Back button</p>
</div></div>
</li>
<li><h3 id="properties_cancellabel">cancelLabel (String)</h3>
<div class="cancellabel"><div class="cancellabel-string--page"><p>An optional i18n key to override the default label for the Cancel button</p>
</div></div>
</li>
<li><h3 id="properties_donelabel">doneLabel (String)</h3>
<div class="donelabel"><div class="donelabel-string--page"><p>An optional i18n key to override the default label for the Done button</p>
</div></div>
</li>
<li><h3 id="properties_isformvalid">isFormValid (Function)</h3>
<div class="isformvalid"><div class="isformvalid-function--page"><p>An optional callback function that receives a single parameter, the current step ID. This callback
is used to enable/disable the next action and the done action.
The callback should return a boolean to enabled the action. Null, or if this callback is not defined defaults to
true (enabled)</p>
</div></div>
</li>
<li><h3 id="properties_nextlabel">nextLabel (String)</h3>
<div class="nextlabel"><div class="nextlabel-string--page"><p>An optional i18n key to override the default label for the Next button</p>
</div></div>
</li>
<li><h3 id="properties_oncancel">onCancel (Function)</h3>
<div class="oncancel"><div class="oncancel-function--page"><p>An optional callback function that receives a single parameter, the current step ID.
This callback is triggered after the cancel action is fired. You have the opportunity to halt the cancel action
(thereby stopping the wizard from being closed), by returning a promise and rejecting it, otherwise the wizard will
continue the cancel action.</p>
</div></div>
</li>
<li><h3 id="properties_ondone">onDone (Function)</h3>
<div class="ondone"><div class="ondone-function--page"><p>An optional callback function that has no parameters. This callback is triggered after the done
action is fired. You have the opportunity to halt the done action (thereby stopping the wizard from being closed),
by returning a promise and rejecting it, otherwise the wizard will continue and close the wizard.</p>
</div></div>
</li>
<li><h3 id="properties_onnext">onNext (Function)</h3>
<div class="onnext"><div class="onnext-function--page"><p>An optional callback function that receives a single parameter, the current step ID.
This callback is triggered after the next action is fired. You have the opportunity to halt the Next action by
returning promise and rejecting it, otherwise the wizard will continue and load the next step.</p>
</div></div>
</li>
<li><h3 id="properties_resultfn">resultFn (Function)</h3>
<div class="resultfn"><div class="resultfn-function--page"><p>An optional callback function that has no parameters. This callback is triggered after the done
action is fired, and the wizard is about to be closed. If this function is defined and returns a value, this
value will be returned in the resolved promise returned by the <a href="#/smartEditContainer/wizardServiceModule.modalWizard#methods_open">modalWizard.open()</a>
This is an easy way to pass a result from the wizard to the caller.</p>
</div></div>
</li>
<li><h3 id="properties_steps">steps (Array)</h3>
<div class="steps"><div class="steps-array--page"><p>An ordered array of <a href="#/smartEditContainer/wizardServiceModule.object:WizardStepConfig">WizardStepConfig</a></p>
</div></div>
</li>
</ul>
</div>
</div>
