<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/smartEditContainer/eventServiceModule">eventServiceModule</a></code>
</li>
</ul>
<div class="yactionablesearchitemmodule-page"><p>This module defines the <a href="#/smartEditContainer/yActionableSearchItemModule.directive:yActionableSearchItem">yActionableSearchItem</a> component</p>
</div></div>
