<h1><code ng:non-bindable="">yActionableSearchItem</code>
<div><span class="hint">directive in module <code ng:non-bindable="">yActionableSearchItemModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="yactionablesearchitemmodule-directive-page yactionablesearchitemmodule-directive-yactionablesearchitem-page"><p>The yActionableSearchItem Angular component is designed to work with the ySelect drop down. It allows you to add
a button in the resultsHeader aread of the ySelect&#39;s drop-down, and trigger a user-defined action when pressed.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;y-actionable-search-item
       [event-id="{@String}"]
       [action-text="{@String}"]&gt;
&lt;/y-actionable-search-item&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>eventId <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">@String</a></td><td><div class="yactionablesearchitemmodule-directive-page yactionablesearchitemmodule-directive-yactionablesearchitem-page"><p>The event ID that is triggered on the
systemEventService when the button is pressed</p>
</div> <p><em>(default: 'yActionableSearchItem_ACTION_CREATE')</em></p></td></tr><tr><td>actionText <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">@String</a></td><td><div class="yactionablesearchitemmodule-directive-page yactionablesearchitemmodule-directive-yactionablesearchitem-page"><p>The i18n key label for the button</p>
</div> <p><em>(default: 'se.yationablesearchitem.action.create')</em></p></td></tr></tbody></table></div>
</div>
