<h1><code ng:non-bindable="">COLLAPSIBLE_CONTAINER_CONSTANTS</code>
<div><span class="hint">object in module <code ng:non-bindable="">yCollapsibleContainerModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ycollapsiblecontainermodule-object-page ycollapsiblecontainermodule-object-collapsible-container-constants-page"><p>This object defines injectable Angular constants that store the default configuration and CSS class names used in the controller to define the rendering and animation of the collapsible container.</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_default_configuration-{object}">DEFAULT_CONFIGURATION {Object}</h3>
<div class="default_configuration-{object}"><div class="default-configuration-object--page"><p>A JSON object defining the configuration applied by default to each collapsible container.</p>
</div></div>
</li>
<li><h3 id="properties_icon_left-{string}">ICON_LEFT {String}</h3>
<div class="icon_left-{string}"><div class="icon-left-string--page"><p>A classname allowing for the display of a CSS-based icon positioned to the left of the collapsible container&#39;s header</p>
</div></div>
</li>
<li><h3 id="properties_icon_right-{string}">ICON_RIGHT {String}</h3>
<div class="icon_right-{string}"><div class="icon-right-string--page"><p>A classname allowing for the display of a CSS-based icon positioned to the right of the collapsible container&#39;s header</p>
</div></div>
</li>
</ul>
</div>
</div>
