<h1><code ng:non-bindable="">yDropDownMenu</code>
<div><span class="hint">directive in module <code ng:non-bindable="">yDropDownMenuModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ydropdownmenumodule-directive-page ydropdownmenumodule-directive-ydropdownmenu-page"><p>yDropDownMenu builds a drop-down menu. It has two parameters dropdownItems and selectedItem. The dropdownItems is an array of object which contains an key, condition and callback function. 
The callback function will be called when the user click on the drop down item.
The selectedItem is the object associated to the drop-down. It is passed as argument for the callback of dropdownItems.
For a given item, if a condition callback is defined, the item will show only if this callback returns true
Example:
<pre class="prettyprint linenums">
this.dropdownItems = [{
      key: 'pagelist.dropdown.edit',
      condition:function(item){
      	return true;
      },
      callback: function(item) {
          pageEditorModalService.open(item).then(function(response) {
              this.reloadUpdatedPage(item.uid, response.uid);
          }.bind(this));
      }.bind(this)
  }, {
      key: 'pagelist.dropdown.sync',
      condition:function(item){
      	return false;
      },
      callback: function(item) {
          alert('not yet implemented');
      }
  }, {
      key: 'pagelist.dropdown.hide',
      callback: function(item) {
          alert('not yet implemented');
      }
  }];
</pre>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;y-drop-down-menu&gt;
&lt;/y-drop-down-menu&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
