<h1><code ng:non-bindable="">yEditableList</code>
<div><span class="hint">directive in module <code ng:non-bindable="">yEditableListModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="yeditablelistmodule-directive-page yeditablelistmodule-directive-yeditablelist-page"><p>The yEditableList component allows displaying a list of items. The list can be managed dynamically, by 
adding, removing, and re-ordering it. </p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;y-editable-list
       id="{@String}"
       items="{&lt;Array}"
       [refresh="{=Function}"]
       on-change="{&lt;Function}"
       [item-template-url="{&lt;String}"]
       [editable="{&lt;boolean}"]&gt;
&lt;/y-editable-list&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-object">@String</a></td><td><div class="yeditablelistmodule-directive-page yeditablelistmodule-directive-yeditablelist-page"><p>A string used to track and identify the component.</p>
</div></td></tr><tr><td>items</td><td><a href="" class="label type-hint type-hint-object">&lt;Array</a></td><td><div class="yeditablelistmodule-directive-page yeditablelistmodule-directive-yeditablelist-page"><p>The collection of items to display in the component.</p>
</div></td></tr><tr><td>refresh <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">=Function</a></td><td><div class="yeditablelistmodule-directive-page yeditablelistmodule-directive-yeditablelist-page"><p>A function that can be called to update the content of the list.</p>
</div></td></tr><tr><td>onChange</td><td><a href="" class="label type-hint type-hint-object">&lt;Function</a></td><td><div class="yeditablelistmodule-directive-page yeditablelistmodule-directive-yeditablelist-page"><p>A function that will be called whenever the content of the list changes.</p>
</div></td></tr><tr><td>itemTemplateUrl <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="yeditablelistmodule-directive-page yeditablelistmodule-directive-yeditablelist-page"><p>The path to the template to display each of the items in the list.</p>
</div></td></tr><tr><td>editable <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;boolean</a></td><td><div class="yeditablelistmodule-directive-page yeditablelistmodule-directive-yeditablelist-page"><p>The property specifies whether the content of the list can be modified.</p>
</div></td></tr></tbody></table></div>
</div>
