<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="yeditablelistmodule-page"><p>The yEditableList module contains a component which allows displaying a list of elements. The items in 
that list can be added, removed, and re-ordered.</p>
</div></div>
