<h1><code ng:non-bindable="">THROTTLE_MILLISECONDS</code>
<div><span class="hint">object in module <code ng:non-bindable="">yInfiniteScrollingModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="yinfinitescrollingmodule-object-page yinfinitescrollingmodule-object-throttle-milliseconds-page"><p>Configures the <a href="#/smartEditContainer/yInfiniteScrollingModule.directive:yInfiniteScrolling">yInfiniteScrolling</a> directive to throttle the page fetching with the value provided in milliseconds.</p>
</div></div>
</div>
