<h1><code ng:non-bindable="">lodash</code>
<div><span class="hint">service in module <code ng:non-bindable="">yLoDashModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ylodashmodule-lodash-page"><p>Makes the underscore library available to SmartEdit.</p>
<p>Note: original _ namespace is removed from window in order not to clash with other libraries especially in the storefront AND to enforce proper dependency injection.</p>
</div></div>
</div>
