<h1><code ng:non-bindable="">yMessage</code>
<div><span class="hint">directive in module <code ng:non-bindable="">yMessageModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ymessagemodule-component-page ymessagemodule-component-ymessage-page"><p>This component provides contextual feedback messages for the user actions. To provide title and description for the yMessage
use transcluded elements: message-title and message-description.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;y-message
       [message-id="{@String}"]
       type="{@String}"&gt;
&lt;/y-message&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>messageId <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">@String</a></td><td><div class="ymessagemodule-component-page ymessagemodule-component-ymessage-page"><p>Id for the component.</p>
</div></td></tr><tr><td>type</td><td><a href="" class="label type-hint type-hint-object">@String</a></td><td><div class="ymessagemodule-component-page ymessagemodule-component-ymessage-page"><p>The type of the component (danger, info, success, warning). Default: info</p>
</div></td></tr></tbody></table></div>
</div>
