<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="ymessagemodule-page"><p>This module provides the yMessage component, which is responsible for rendering contextual
feedback messages for the user actions.</p>
</div></div>
