<h1><code ng:non-bindable="">yPopupOverlay</code>
<div><span class="hint">directive in module <code ng:non-bindable="">yPopupOverlayModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ypopupoverlaymodule-directive-page ypopupoverlaymodule-directive-ypopupoverlay-page"><p>The yPopupOverlay is meant to be a directive that allows popups/overlays to be displayed attached to any element.
The element that the directive is applied to is called the anchor element. Once the popup is displayed, it is
positioned relative to the anchor, depending on the configuration provided.<br />
<br /></p>
<p><h5 id="description_scrolling-limitation">Scrolling Limitation</h5>
In this initial implementation, it appends the popup element to the body, and positions itself relative to body.
This means that it can handle default window/body scrolling, but if the anchor is contained within an inner
scrollable DOM element then the positions will not work correctly.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY y-popup-overlay="{&lt; Object}"
     [y-popup-overlay-trigger="{@ string }"]
     [y-popup-overlay-on-show="{&amp; expression }"]
     [y-popup-overlay-on-hide="{&amp; expression }"]&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>yPopupOverlay</td><td><a href="" class="label type-hint type-hint-object">&lt; Object</a></td><td><div class="ypopupoverlaymodule-directive-page ypopupoverlaymodule-directive-ypopupoverlay-page"><p>A popup overlay configuration object that must contain either a template or a templateUrl</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>template|templateUrl</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="ypopupoverlaymodule-directive-page ypopupoverlaymodule-directive-ypopupoverlay-page"><p>An html string template or a url to an html file</p>
</div></td></tr><tr><td>halign <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string </a></td><td><div class="ypopupoverlaymodule-directive-page ypopupoverlaymodule-directive-ypopupoverlay-page"><p>Aligns the popup horizontally
relative to the anchor (element). Accepts values: &#39;left&#39; or &#39;right&#39;.</p>
</div> <p><em>(default: 'right')</em></p></td></tr><tr><td>valign <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string </a></td><td><div class="ypopupoverlaymodule-directive-page ypopupoverlaymodule-directive-ypopupoverlay-page"><p>Aligns the popup vertically
relative to the anchor (element). Accepts values: &#39;top&#39; or &#39;bottom&#39;.</p>
</div> <p><em>(default: 'bottom')</em></p></td></tr></tbody></table></td></tr><tr><td>yPopupOverlayTrigger <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">@ string </a></td><td><div class="ypopupoverlaymodule-directive-page ypopupoverlaymodule-directive-ypopupoverlay-page"><p>&#39;true&#39;|&#39;false&#39;|&#39;click&#39; Controls when the overlay is displayed.
If yPopupOverlayTrigger is true, the overlay is displayed, if false (or something other then true or click)
then the overlay is hidden.
If yPopupOverlayTrigger is &#39;click&#39; then the overlay is displayed when the anchor (element) is clicked on</p>
</div></td></tr><tr><td>yPopupOverlayOnShow <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&amp; expression </a></td><td><div class="ypopupoverlaymodule-directive-page ypopupoverlaymodule-directive-ypopupoverlay-page"><p>An angular expression executed whenever this overlay is displayed</p>
</div></td></tr><tr><td>yPopupOverlayOnHide <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&amp; expression </a></td><td><div class="ypopupoverlaymodule-directive-page ypopupoverlaymodule-directive-ypopupoverlay-page"><p>An angular expression executed whenever this overlay is hidden</p>
</div></td></tr></tbody></table></div>
</div>
