<h1><code ng:non-bindable="">yPopupOverlayUtilsDOMCalculations</code>
<div><span class="hint">service in module <code ng:non-bindable="">yPopupOverlayUtilsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-page"><p>Contains some <a href="#/smartEditContainer/yPopupOverlayModule.directive:yPopupOverlay">yPopupOverlay</a> helper functions for
calculating positions and sizes on the DOM</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_adjusthorizontaltobeinviewport">adjustHorizontalToBeInViewport(absPosition)</h3>
<div class="adjusthorizontaltobeinviewport"><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-adjusthorizontaltobeinviewport-page"><p>Modifies the input rectangle to be absolutely positioned horizontally in the viewport.<br />
Does not modify vertical positioning.</p>
</div><h5 id="methods_adjusthorizontaltobeinviewport_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>absPosition</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-adjusthorizontaltobeinviewport-page"><p>A rectangle object representing the size and absolutely positioned location of the overlay</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>left</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-adjusthorizontaltobeinviewport-page"><p>The left side of the overlay element</p>
</div></td></tr><tr><td>width</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-adjusthorizontaltobeinviewport-page"><p>The width of the overlay element</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_calculatepreferredposition">calculatePreferredPosition(anchorBoundingClientRect, targetWidth, targetHeight, targetValign, targetHalign)</h3>
<div class="calculatepreferredposition"><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>Calculates the preferred position of the overlay, based on the size and position of the anchor
and the size of the overlay element</p>
</div><h5 id="methods_calculatepreferredposition_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>anchorBoundingClientRect</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>A bounding rectangle representing the overlay&#39;s anchor</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>top</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>The top of the anchor, absolutely positioned</p>
</div></td></tr><tr><td>right</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>The right of the anchor, absolutely positioned</p>
</div></td></tr><tr><td>bottom</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>The bottom of the anchor, absolutely positioned</p>
</div></td></tr><tr><td>left</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>The left of the anchor, absolutely positioned</p>
</div></td></tr></tbody></table></td></tr><tr><td>targetWidth</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>The width of the overlay element</p>
</div></td></tr><tr><td>targetHeight</td><td><a href="" class="label type-hint type-hint-number">number</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>The height of the overlay element</p>
</div></td></tr><tr><td>targetValign <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string </a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>The preferred vertical alignment, either &#39;top&#39; or &#39;bottom&#39;</p>
</div> <p><em>(default: 'bottom')</em></p></td></tr><tr><td>targetHalign <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">string </a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>The preferred horizontal alignment, either &#39;left&#39; or &#39;right&#39;</p>
</div> <p><em>(default: 'right')</em></p></td></tr></tbody></table><h5 id="methods_calculatepreferredposition_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsdomcalculations-calculatepreferredposition-page"><p>A new size and position for the overlay</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
