<h1><code ng:non-bindable="">ySelect</code>
<div><span class="hint">directive in module <code ng:non-bindable="">ySelectModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>This component is a wrapper around ui-select directive and provides filtering capabilities for the dropdown menu that is customizable with an item template.
<br/>ySelect can work in both paged and non paged mode: providing either fetchAll or fetchPage function in the fetchStrategy will determine the flavour of the dropdown.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;y-select
       [id="{@String}"]
       [controls="{&lt;boolean}"]
       fetch-strategy="{&lt;Object}"
       [disable-choice-fn="{&lt;Function}"]
       [placeholder="{&lt;String}"]
       [item-template="{&lt;String}"]
       [multi-select="{&lt;boolean}"]
       [reset="{=Function}"]
       [is-read-only="{&lt;boolean}"]
       [results-header-template="{&lt;String}"]
       [results-header-template-url="{&lt;String}"]
       [results-header-label="{&lt;String}"]&gt;
&lt;/y-select&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">@String</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>will be used to identify internal elements of ySelect for styling (and testing) purposes.</p>
</div></td></tr><tr><td>controls <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;boolean</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>Adds controls such as the magnifier and the remove button. Default is set to false.</p>
</div></td></tr><tr><td>fetchStrategy</td><td><a href="" class="label type-hint type-hint-object">&lt;Object</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>strategy object containing the necessary functions for ySelect to populate the dropdown:
<b>Only one of either fetchAll or fetchPage must be defined.</b></p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>fetchAll</td><td><a href="" class="label type-hint type-hint-object">&lt;Function</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>Function required to fetch all for a given optional mask.
fetchAll will be called without arguments upon initialization and with a mask every time the search section receives an input.
It must return a promise resolving to a list of items.
Every item must have a property &quot;id&quot; used for identification. If no itemTemplate is provided, these items will need to display a &quot;label&quot; property.</p>
</div></td></tr><tr><td>fetchPage</td><td><a href="" class="label type-hint type-hint-object">&lt;Function</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>Function required to fetch a page for a given optional mask.
fetchPage must fulfill the contract of fetchPage from <a href="#/smartEditContainer/yInfiniteScrollingModule.directive:yInfiniteScrolling">yInfiniteScrolling</a>
It must return a promise resolving to a page of items as per <a href="#/smartEditContainer/Page.object:Page">Page</a>.
Every item must have a property &quot;id&quot; used for identification. If no itemTemplate is provided, these items will need to display a &quot;label&quot; property.</p>
</div></td></tr><tr><td>fetchEntity</td><td><a href="" class="label type-hint type-hint-object">&lt;Function</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>Function to fetch an option by its identifier when we are in paged mode (fetchPage is defined) and the dropdown is initialized with a value.</p>
</div></td></tr></tbody></table></td></tr><tr><td>disableChoiceFn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;Function</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>A function to disable results in the drop-down. It is invoked for each item in the drop-down, with a single parameter, the item itself.</p>
</div></td></tr><tr><td>placeholder <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>the placeholder label or i18nKey that will be printed in the search section.</p>
</div></td></tr><tr><td>itemTemplate <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>the path to the template that will be used to display items in both the dropdown menu and the selection.
ItemTemplate has access to item, selected and the ySelect controller.
item is the item to print, selected is a boolean that is true when the template is used in the selection as opposed to the dropdown menu.
Default template will be:
<pre class="prettyprint linenums">
&lt;span data-ng-bind-html="item.label | translate"&gt;&lt;/span&gt;
</pre>
</div></td></tr><tr><td>multiSelect <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;boolean</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>The property specifies whether ySelect is multi-selectable.</p>
</div></td></tr><tr><td>reset <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">=Function</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>A function that will be called when ySelect is reset.</p>
</div></td></tr><tr><td>isReadOnly <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;boolean</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>renders ySelect as disabled field.</p>
</div></td></tr><tr><td>resultsHeaderTemplate <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>the template that will be used on top of the result list.</p>
</div></td></tr><tr><td>resultsHeaderTemplateUrl <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>the path to the template what will be used on top of the result list.</p>
</div></td></tr><tr><td>resultsHeaderLabel <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="yselectmodule-directive-page yselectmodule-directive-yselect-page"><p>the label that will be displayed on top of the result list.
Only one of resultsHeaderTemplate, resultsHeaderTemplateUtl, and resultsHeaderLabel shall be passed.</p>
</div></td></tr></tbody></table></div>
</div>
