@import "cockpitng-globals.scss";
@import "adaptivesearchbackoffice_variables";

/* Colors for left widgets */
.yas-left-container {

    .yw-collapsibleContainer-caption {
        background: $adaptiveSearchBackoffice__yas-left-container--bg-color;
        & > div:first-child {
            background: none;
        }

        .yw-caption-container span.z-label {
            color: $adaptiveSearchBackoffice__yas-left-container-widget-headline--bg-color;
        }
    }
}

/* Icons for explorer tree */
div.yw-explorerTree {
    .y-tree-icon-hmc_type_tree_searchprofile .y-tree-icon {
        background-image: $adaptiveSearchBackoffice__tree-icon-searchprofile--background-image;
    }

    .y-tree-icon-hmc_type_tree_searchprofileactivationset .y-tree-icon {
        background-image: $adaptiveSearchBackoffice__tree-icon-searchprofileactivationset--background-image;
    }
}

.yas-item {
    .yas-info {
        .yas-info-icon {
            background-image: $adaptiveSearchBackoffice__yas-info-icon--background-image;
        }
    }
}

/* Popups */
.yas-actions-popup.z-menupopup {
    color: $adaptiveSearchBackoffice__actions-popup--color;
    border: $adaptiveSearchBackoffice__actions-popup--border;
    box-shadow: $adaptiveSearchBackoffice__actions-popup--box-shadow;

    .yas-action {
        background: $adaptiveSearchBackoffice__actions-popup--bg !important;

        a.z-menuitem-content {
            color: $adaptiveSearchBackoffice__actions-popup--color;

            &:hover {
                background: $adaptiveSearchBackoffice__actions-popup-content-hover--bg;
            }

            img {
                top: $adaptiveSearchBackoffice__actions-popup-img--top;
                display: none;
            }
        }
    }
}

.yas-search-configuration-description {
    color: $adaptiveSearchBackoffice__search-configuration-description--color;
    border: $adaptiveSearchBackoffice__search-configuration-description--border;
    box-shadow: $adaptiveSearchBackoffice__search-configuration-description--box-shadow;
    padding: $adaptiveSearchBackoffice__search-configuration-description--padding;
}

/* Score */
.yas-info-score,
.yas-search-configuration-label {
    border-radius: $adaptiveSearchBackoffice__score--border-radius;
    border: $adaptiveSearchBackoffice__score--border;
    font-weight: $adaptiveSearchBackoffice__score--font-weight;
    padding: $adaptiveSearchBackoffice__score--padding;
}