/*
 * [y] hybris Platform
 *
 * Copyright (c) 2017 SAP SE or an SAP affiliate company.
 * All rights reserved.
 *
 * This software is the confidential and proprietary information of SAP
 * ("Confidential Information"). You shall not disclose such Confidential
 * Information and shall use it only in accordance with the terms of the
 * license agreement you entered into with SAP.
 */
/*
 * [y] hybris Platform
 *
 * Copyright (c) 2017 SAP SE or an SAP affiliate company.
 * All rights reserved.
 *
 * This software is the confidential and proprietary information of SAP
 * ("Confidential Information"). You shall not disclose such Confidential
 * Information and shall use it only in accordance with the terms of the
 * license agreement you entered into with SAP.
 */
/*================================
Customer Support Refine By Widget
================================*/
.yw-customersupportrefineby {
  height: 100%;
  background: #1e2830;
  color: #ffffff;
  overflow: auto; }
  .yw-customersupportrefineby .yw-customersupportrefineby-container {
    padding: 20px 20px 10px 20px; }
    .yw-customersupportrefineby .yw-customersupportrefineby-container .z-label {
      margin: 10px 0 5px 1px;
      font-weight: bold;
      display: block; }
    .yw-customersupportrefineby .yw-customersupportrefineby-container .z-checkbox label {
      padding: 0 14px 6px 1px; }
    .yw-customersupportrefineby .yw-customersupportrefineby-container .header-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .yw-customersupportrefineby .yw-customersupportrefineby-container .header-container .z-label {
        line-height: 19px;
        text-transform: uppercase;
        margin: 0; }
  .yw-customersupportrefineby .yw-customersupport-no-filters {
    color: #acacac;
    font-style: italic;
    text-align: center;
    display: block; }

.yw-filter-icon {
  background: url("images/icon_action_filter_default.png") 0 0;
  display: block;
  height: 28px;
  width: 28px;
  margin: 2px 0 2px 0;
  opacity: 1; }

.z-vlayout-inner .yw-customersupport-filter-container {
  margin-top: -10px; }

/*
 * [y] hybris Platform
 *
 * Copyright (c) 2017 SAP SE or an SAP affiliate company.
 * All rights reserved.
 *
 * This software is the confidential and proprietary information of SAP
 * ("Confidential Information"). You shall not disclose such Confidential
 * Information and shall use it only in accordance with the terms of the
 * license agreement you entered into with SAP.
 */
/*
 * [y] hybris Platform
 *
 * Copyright (c) 2017 SAP SE or an SAP affiliate company.
 * All rights reserved.
 *
 * This software is the confidential and proprietary information of SAP
 * ("Confidential Information"). You shall not disclose such Confidential
 * Information and shall use it only in accordance with the terms of the
 * license agreement you entered into with SAP.
 */
/*================================
    Inbox Refine By Checkboxes
================================*/
.yw-customersupportrefineby .z-checkbox {
  display: block;
  padding-left: 20px; }
  .yw-customersupportrefineby .z-checkbox label {
    vertical-align: top; }
    .yw-customersupportrefineby .z-checkbox label:before {
      width: 14px;
      height: 14px;
      margin-top: 2px;
      top: 0;
      line-height: inherit; }
  .yw-customersupportrefineby .z-checkbox input:checked + label:before {
    background-size: 14px; }

/*
 * [y] hybris Platform
 *
 * Copyright (c) 2017 SAP SE or an SAP affiliate company.
 * All rights reserved.
 *
 * This software is the confidential and proprietary information of SAP
 * ("Confidential Information"). You shall not disclose such Confidential
 * Information and shall use it only in accordance with the terms of the
 * license agreement you entered into with SAP.
 */
