@charset "UTF-8";
.yw-workflowsearch-additional-filters {
  clear: both; }

.yw-workflowsearch-filters-search {
  margin-left: -1px;
  display: inline-block;
  float: right;
  position: relative; }
  .yw-workflowsearch-filters .yw-workflowsearch-filters-search.z-button {
    width: 28px;
    height: 28px;
    min-height: 28px;
    box-sizing: border-box;
    padding: 0; }
  .yw-workflowsearch-filters-search:after {
    width: 16px;
    height: 16px;
    background: transparent url("images/icon-search.png") no-repeat 0px -28px;
    margin: -8px;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%; }
  .yw-workflowsearch-filters-search, .yw-workflowsearch-filters-search:hover, .yw-workflowsearch-filters-search:active, .yw-workflowsearch-filters-search:focus, .yw-workflowsearch-filters-search[disabled], .yw-workflowsearch-filters-search[disabled]:hover, .yw-workflowsearch-filters-search[disabled]:active, .yw-workflowsearch-filters-search[disabled]:focus {
    border: 1px solid #c4cedc;
    border-left-color: transparent;
    background: transparent;
    box-shadow: none; }
  .yw-workflowsearch-filters-search:hover, .yw-workflowsearch-filters-search:active, .yw-workflowsearch-filters-search:focus {
    border-color: #c4cedc;
    border-left-color: transparent; }
    .yw-workflowsearch-filters-search:hover:after, .yw-workflowsearch-filters-search:active:after, .yw-workflowsearch-filters-search:focus:after {
      background-position: 0px -56px; }
  .yw-workflowsearch-filters-search[disabled]:after {
    background-position: 0; }

.yw-workflowsearch-filters-input {
  margin: -1px; }

.yw-workflowsearch-filters-range {
  border: 1px solid #c4cedc;
  width: 200px;
  min-height: 28px;
  font-size: 0;
  text-align: left;
  display: inline-block; }
  .yw-workflowsearch-filters-range .ye-range-editor-java-util-date {
    display: inline-block; }
    .yw-workflowsearch-filters-range .ye-range-editor-java-util-date a {
      border: none; }
    .yw-workflowsearch-filters-range .ye-range-editor-java-util-date input {
      border-color: transparent; }
    .yw-workflowsearch-filters-range .ye-range-editor-java-util-date .z-datebox-button.z-datebox-disabled {
      right: 0; }
  .yw-workflowsearch-filters-range .z-datebox {
    min-height: 28px; }
    .yw-workflowsearch-filters-range .z-datebox-input {
      padding: 0 10px;
      line-height: 28px;
      height: 28px;
      box-shadow: none;
      background: transparent;
      z-index: 1; }
      .yw-workflowsearch-filters-range .z-datebox-input:focus, .yw-workflowsearch-filters-range .z-datebox-input:active {
        background: rgba(255, 255, 255, 0.3);
        color: #0486e0; }
        .yw-workflowsearch-filters-range .z-datebox-input:focus + .z-datebox-button.z-datebox-disabled, .yw-workflowsearch-filters-range .z-datebox-input:active + .z-datebox-button.z-datebox-disabled {
          border-color: #0486e0;
          display: block;
          cursor: default;
          z-index: 1; }
      .yw-workflowsearch-filters-range .z-datebox-input::-ms-clear {
        display: none; }
    .yw-workflowsearch-filters-range .z-datebox-button.z-datebox-disabled {
      background-color: transparent;
      position: absolute;
      width: 200%;
      height: 0;
      z-index: 0;
      top: 0;
      left: 0;
      border: 1px solid transparent;
      border-bottom-width: 0;
      overflow: visible;
      display: none; }
      .yw-workflowsearch-filters-range .z-datebox-button.z-datebox-disabled > i {
        display: none !important; }
      .yw-workflowsearch-filters-range .z-datebox-button.z-datebox-disabled:hover {
        cursor: default; }
      .yw-workflowsearch-filters-range .z-datebox-button.z-datebox-disabled:before, .yw-workflowsearch-filters-range .z-datebox-button.z-datebox-disabled:after {
        border: 1px solid transparent;
        content: "";
        position: absolute;
        border-color: inherit;
        border-width: 0; }
      .yw-workflowsearch-filters-range .z-datebox-button.z-datebox-disabled:before {
        height: 28px;
        border-left-width: 1px;
        left: -1px;
        width: 0; }
      .yw-workflowsearch-filters-range .z-datebox-button.z-datebox-disabled:after {
        border-top-width: 1px;
        top: 26px;
        width: 100%;
        height: 0;
        left: 0; }
  .yw-workflowsearch-filters-range .ye-range-endpoint {
    display: inline-block;
    width: 50%; }
    .yw-workflowsearch-filters-range .ye-range-endpoint span, .yw-workflowsearch-filters-range .ye-range-endpoint div {
      display: block; }
    .yw-workflowsearch-filters-range .ye-range-endpoint-start {
      z-index: 1;
      position: relative; }
      .yw-workflowsearch-filters-range .ye-range-endpoint-start .ye-range-editor-java-util-date {
        display: inline-block; }
      .yw-workflowsearch-filters-range .ye-range-endpoint-start .z-datebox-input {
        position: relative;
        border-right-width: 0; }
        .yw-workflowsearch-filters-range .ye-range-endpoint-start .z-datebox-input:focus, .yw-workflowsearch-filters-range .ye-range-endpoint-start .z-datebox-input:active {
          border-left: 1px solid #0486e0; }
        .yw-workflowsearch-filters-range .ye-range-endpoint-start .z-datebox-input + .z-datebox-button.z-datebox-disabled:before {
          left: auto;
          right: -1px; }
      .yw-workflowsearch-filters-range .ye-range-endpoint-start:after {
        content: "";
        line-height: 28px;
        font-family: "FontAwesome", sans-serif;
        font-size: 10px;
        width: 16px;
        right: -6px;
        font-size: 10px;
        text-align: center;
        position: absolute;
        color: inherit;
        display: inline-block;
        top: 0;
        z-index: 2; }
    .yw-workflowsearch-filters-range .ye-range-endpoint-end {
      z-index: 0; }
      .yw-workflowsearch-filters-range .ye-range-endpoint-end .z-datebox {
        margin-left: -100%; }
        .yw-workflowsearch-filters-range .ye-range-endpoint-end .z-datebox-input {
          margin-left: 100%;
          z-index: 1; }
          .yw-workflowsearch-filters-range .ye-range-endpoint-end .z-datebox-input:focus, .yw-workflowsearch-filters-range .ye-range-endpoint-end .z-datebox-input:active {
            border-right: 1px solid #0486e0; }
  .yw-workflowsearch-filters-range .ye-range-label {
    padding-left: 10px;
    font-size: 10px;
    line-height: 12px;
    margin-top: 0;
    color: transparent;
    max-width: 100%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute; }

.yw-workflowsearch-filters {
  margin: 20px;
  height: 28px;
  min-width: 228px;
  float: right; }
