@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 




$_valueChooser__option--hover-bg-color: $grey__light--1300;
$_valueChooser__option-container--border: $boxes--border__thin solid $grey__light--1100;
$_valueChooser__option-selected-icon--size: 24px;
$_valueChooser__option-selected-icon--color: $blue__default;
$_valueChooser__option-selected-icon--bg-color: $blue__light--100;
$_valueChooser__option-selected-icon--font-size: 16px;
$_valueChooser__option-selected-icon--border-radius: 50%;
$_valueChooser__option-selected-icon--content: $check--content;
$_valueChooser__option-selected-icon--line-height: $_valueChooser__option-selected-icon--size;
$_valueChooser__option-selected-icon--margin-left: floor($_valueChooser__option-selected-icon--size/2) * -1;
$_valueChooser__option-selected-icon--margin-top: $_valueChooser__option-selected-icon--margin-left;
$_valueChooser__option-selected-icon--font: $font-family-fontawesome;
$_valueChooser__option-selected--border-bottom-color:  $_valueChooser__option-selected-icon--color;
$_valueChooser__option--padding-left: 4px;
$_valueChooser__option--font-size: $font-size__medium;
$_valueChooser__option-selected-icon--left: 16px + floor($_valueChooser__option-selected-icon--size/2);

$_valueChooser__option--border-bottom: $boxes--border__medium solid transparent;

$_valueChooser__option-container--padding: 30px 40px;
$_valueChooser__option-container-transition: background-color .3s;
$_valueChooser__option-transition: border-color .3s;