.cpq-previous-button {
	.btn;
	.btn-default;
	.btn-block;
}

.cpq-next-button {
	.btn;
	.btn-primary;
	.btn-block;
}

.cpq-button-bar {
		border-top: @cpq-default-separator;
		padding-top: @padding-large-vertical;
		padding-bottom: @padding-large-vertical;
		overflow: auto;
}

.cpq-btn-addToCart,
.cpq-btn-goToCart,
.cpq-btn-backToQuotation,
.cpq-btn-backToOrder,
.cpq-btn-skip {
	.btn;
	.btn-block;
	.btn-primary;
	
	.out-of-stock {
		background: @cpq-bg-out-of-stock;
		cursor: default;
	}
}

.cpq-btn-refine,
.cpq-btn-backToConfig,
.cpq-vc-viewDetails-btn {
	.cpq-btn-goToCart;
	.btn-default;
	.btn-block;
}

.cpq-addToCart-posBottom {
	position: absolute;
 	bottom: 0px;
 	right: 10px;
 	padding: 15px 0px 15px 22px;
}

.cpq-prev-navigation,
.cpq-next-navigation {
 	margin-top: @cpq-margin-large-vertical;
 	margin-bottom: @cpq-margin-large-vertical;
}

@media (max-width: @screen-xs-max) {
	.cpq-overview-refine,
	.cpq-overview-skip,
	.cpq-backToConfig,
	.cpq-addToCart {
		padding-left: @cpq-padding-buttons-horizontal;
		padding-right: @cpq-padding-buttons-horizontal;
	}
	
	.cpq-prev-navigation {
	 	padding-left: @cpq-padding-buttons-horizontal;
	 	padding-right: @padding-xs-horizontal;
	}
	
	.cpq-next-navigation {
	 	padding-left: @padding-xs-horizontal;
	 	padding-right:  @cpq-padding-buttons-horizontal;
	}
}

@media (min-width: @screen-sm-min) {
	.cpq-backToConfig
	 {
		padding-left: @cpq-padding-buttons-horizontal;
		padding-right: @cpq-padding-buttons-horizontal;
	}
	.cpq-prev-navigation, .cpq-overview-refine, .cpq-backToConfig {
		padding-left: @cpq-padding-buttons-horizontal;
		padding-right: @padding-xs-horizontal;	
	}
	.cpq-next-navigation, .cpq-overview-skip, .cpq-addToCart {
		padding-left: @padding-xs-horizontal;
		padding-right: @cpq-padding-buttons-horizontal;		
	}
}

@media (min-width: @screen-md-min) {
	.cpq-prev-navigation,
	.cpq-overview-refine,
	.cpq-backToConfig {
		padding-left: 0px;
	}
	.cpq-next-navigation,
	.cpq-overview-skip,
	.cpq-addToCart {
		padding-right: 0px;
	}	
}
