 .cpq-glyphicon-asterisk {
   position: relative;
   top: 1px;
   display: inline-block;
   font-style: normal;
   font-weight: normal;
   font-size: @font-size-large;	
   content: "\2a";
   padding-left: @cpq-padding-xs-horizontal;
}

.cpq-glyphicon-info-sign {
	.glyphicon;
	content: "\e086";
	top: @cpq-info-sign-alignment;
	font-size: @font-size-large;
	padding-left: @cpq-padding-xs-horizontal;
}

.cpq-glyphicon-question-sign {
	.glyphicon;
	content: "\e085";
	top: @cpq-info-sign-alignment;
	font-size: @font-size-large;
	padding-left: @cpq-padding-xs-horizontal;
}

.cpq-glyphicon-list {
	.glyphicon;
	content:"\e056";
}

.glyphicon-remove {
	.glyphicon;
	content:"\e014";
}

.cpq-glyphicon-chevron {
	.glyphicon;
	font-size: @font-size-small;
	float: left;
	cursor: pointer;
}

.cpq-glyphicon-chevron-up {
	.cpq-glyphicon-chevron;
	content: "\e113";
}

.cpq-glyphicon-chevron-down { 
	.cpq-glyphicon-chevron;
	content: "\e114";
}

#configBottombarSlot {
	border-top: @cpq-default-separator;	
}

.name.product-details-glyphicon-chevron-open:before{
	.cpq-glyphicon-chevron-up;
	padding: @cpq-padding-product-details-chevron-vertical @padding-xs-horizontal;
	font-size: @font-size-base;
}

.name.product-details-glyphicon-chevron-open{
	cursor: pointer;	
}


.name.product-details-glyphicon-chevron-close:before{
	.cpq-glyphicon-chevron-down;
	padding: @cpq-padding-product-details-chevron-vertical @padding-xs-horizontal; 
	font-size: @font-size-base;
}

.name.product-details-glyphicon-chevron-close{
	cursor: pointer;	
}

body.pageType-ProductConfigPage > main > div > .global-alerts {
	display: none;
}

@media (min-width: @screen-md-min) {
	.cpq-config-page,
	.cpq-overview-page {
			padding-left: 30px;
			padding-right: 30px;
		}
}

@media (max-width: @screen-sm-max) {
	.cpq-config-page,
	.cpq-overview-page {
		padding-left: 0px;
		padding-right: 0px;
	}
}

.cpq-config-page .product-details,
.cpq-overview-page .product-details {
	margin-bottom: 0px;
} 



