<div class="account-section-header ${empty supportTickets ? '':'no-border'}">
Support Tickets
  <div class="account-section-header-add pull-right">
    <a class="add-address" (click)="addNewTicket()">
      Add new
    </a>
  </div>
</div>
<div class="clearfix visible-md-block visible-lg-block"></div>


<div class="customer-ticketing account-overview-table">


  <div class="pagination-bar top">
    <div class="pagination-toolbar">
      <sort-page-tickets ></sort-page-tickets>
    </div>
  </div>

  <table class="responsive-table">
    <thead>
    <tr class="responsive-table-head hidden-xs">
      <th>Ticket ID</th>
      <th>Subject</th>
      <th>Date Created</th>
      <th>Date Updated</th>
      <th class="supportTicketsTableState">Status</th>
    </tr>
    </thead>
    <div *ngIf="!tickets">Loading...</div>

    <tbody *ngIf="tickets">
      <tr class="responsive-table-item" *ngFor="let ticket of tickets" >
        <td class="hidden-sm hidden-md hidden-lg">Ticket ID</td>
        <td (click)="goToDetails(ticket.id)"><a class="responsive-table-link" >{{ticket.ticketNumber}}</a></td>
        <td class="hidden-sm hidden-md hidden-lg">Subject</td>
        <td class="customer-ticketing-table-subject" (click)="goToDetails(ticket.id)"><a title="{{ticket.shortDescription}}" class="responsive-table-link">{{ticket.shortDescription}}</a></td>
        <td class="hidden-sm hidden-md hidden-lg">Date Created</td>
        <td>{{formatDate(ticket.metadata.createdAt)}}</td>
        <td class="hidden-sm hidden-md hidden-lg">Date Updated</td>
        <td>{{formatDate(ticket.metadata.modifiedAt)}}</td>
        <td class="hidden-sm hidden-md hidden-lg">Status</td>
        <td>{{getStatus(ticket)}}</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-bar bottom">
    <div class="pagination-toolbar">
      <div class="helper clearfix hidden-md hidden-lg"></div>
      <sort-page-tickets ></sort-page-tickets>
    </div>
  </div>

</div>


