<div class="pe-combinedview-ranking">
    <p class="pe-combinedview-ranking__help-text" data-translate="personalization.modal.showactionlist.help.label"></p>
    <div class="pe-combinedview-ranking__divider"></div>
    <div class="pe-combinedview-ranking__list-layout" data-ng-repeat="item in selectedItems" data-ng-init="initItem(item)" data-ng-show="item.visible">
        <div data-ng-class="getClassForElement($index)" data-ng-bind="getLetterForElement($index)"></div>
        <div class="pe-combinedview-ranking__names-layout">
            <div class="perso-wrap-ellipsis pe-combinedview-ranking__cname" data-ng-bind="item.customization.name"></div>
            <span> ></span>
            <div class="perso-wrap-ellipsis pe-combinedview-ranking__vname" data-ng-bind="item.variation.name"></div>
        </div>
    </div>
</div>