/*================================
    Systembar Variables
================================*/
/*================================
    QuickLocaleToggle Popup (Systembar)
================================*/
.yw-quickToggleLocale-cl {
  width: 100%;
  padding: 8px 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .yw-quickToggleLocale-cl-value, .yw-quickToggleLocale-cl-label {
    display: inline-block;
    padding: 5px; }
