@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../systemBarWidget/scss/support/_systembar-variables.scss";/*================================
    QuickLocaleToggle Popup (Systembar)
================================*/
// Relevant Changes applied to the Quick Locale Toggle Popup

// Status:
// - all necessary changes added
// - code refactored, cleaned and styling transfered to systembar-mixins.scss



.yw-quickToggleLocale {
    &-cl {
        width: 100%;
        padding: $systembar-popup__list-cell--padding;
        border-top: $systembar-popup__list-cell--border-top;

        &-value,
        &-label {
            display: inline-block;
            padding: $systembar-popup__list-cell-content--padding;
        }
    }
}
