<div>
    <div class="cmsx-ctx-wrapper1 se-slot-contextual-menu-level1">
        <div class="cmsx-ctx-wrapper2 se-slot-contextual-menu-level2">
            <div class="decorative-panel-area" data-ng-if="ctrl.active && ctrl.slotSharedFlag">
                <div class="decorator-panel-padding-center"></div>
                <div class="decorative-panel-slot-contextual-menu">
                    <slot-shared-button data-slot-id="{{::ctrl.smarteditComponentId}}"></slot-shared-button>
                </div>
            </div>
            <div class="decorator-padding-container">
                <div class="decorator-padding-left" data-ng-class="{active: ctrl.active}"></div>
                <div data-ng-class="ctrl.active && ctrl.slotSharedFlag ? 'decorator-slot-border active' : ''"></div>
                <div class="yWrapperData" data-ng-transclude data-ng-class="{active: ctrl.active}"></div>
                <div class="decorator-padding-right" data-ng-class="{active: ctrl.active}"></div>
            </div>
        </div>
    </div>
</div>