<ul data-ng-controller="topToolbarMenuController" class="se-toolbar-menu-content se-toolbar-menu-content--pe-customized">
    <div class="se-toolbar-menu-content--pe-customized__headers">
        <h2 class="h2 se-toolbar-menu-content--pe-customized__headers--h2" data-translate="personalization.toolbar.library.header.title"></h2>
        <small class="se-toolbar-menu-content--pe-customized__headers--small" data-translate="personalization.toolbar.library.header.description"></small>
    </div>
    <li class="se-toolbar-menu-content--pe-customized__item">
        <a class="se-toolbar-menu-content--pe-customized__item__link" id="personalizationsmartedit-pagecustomizations-toolbar-customization-anchor" data-translate="personalization.toolbar.library.manager.name" data-ng-click="managerViewClick()"></a>
    </li>
    <li class="se-toolbar-menu-content--pe-customized__item se-toolbar-menu-content--pe-customized__item--last">
        <a class="se-toolbar-menu-content--pe-customized__item__link" id="personalizationsmartedit-pagecustomizations-toolbar-customization-anchor" data-translate="personalization.toolbar.library.customizationvariationmanagement.name" data-ng-click="createCustomizationClick()"></a>
    </li>
</ul>