<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="assetsservicemodule-page"><h2 id="the-assetsservicemodule">The assetsServiceModule</h2>
<p>The assetsServiceModule provides methods to handle assets such as images</p>
</div></div>
