<h1><code ng:non-bindable="">assetsService</code>
<div><span class="hint">object in module <code ng:non-bindable="">cmsConstantsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="cmsconstantsmodule-service-page cmsconstantsmodule-service-assetsservice-page"><p>returns the assets resources root depending whether or not we are in test mode</p>
</div></div>
</div>
