<h1><code ng:non-bindable="">cmsDragAndDropService</code>
<div><span class="hint">service in module <code ng:non-bindable="">cmsDragAndDropServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="cmsdraganddropservicemodule-service-page cmsdraganddropservicemodule-service-cmsdraganddropservice-page"><p>This service provides a rich drag and drop experience tailored for CMS operations.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_apply">apply()</h3>
<div class="apply"><div class="cmsdraganddropservicemodule-service-page cmsdraganddropservicemodule-service-cmsdraganddropservice-apply-page"><p>This method applies this drag and drop instance in the current page. After this method is executed,
the user can start a drag and drop operation.</p>
</div></div>
</li>
<li><h3 id="methods_register">register()</h3>
<div class="register"><div class="cmsdraganddropservicemodule-service-page cmsdraganddropservicemodule-service-cmsdraganddropservice-register-page"><p>This method registers this drag and drop instance in SmartEdit.</p>
</div></div>
</li>
<li><h3 id="methods_unregister">unregister()</h3>
<div class="unregister"><div class="cmsdraganddropservicemodule-service-page cmsdraganddropservicemodule-service-cmsdraganddropservice-unregister-page"><p>This method unregisters this drag and drop instance from SmartEdit.</p>
</div></div>
</li>
<li><h3 id="methods_update">update()</h3>
<div class="update"><div class="cmsdraganddropservicemodule-service-page cmsdraganddropservicemodule-service-cmsdraganddropservice-update-page"><p>This method updates this drag and drop instance in the current page. It is important to execute
this method every time a draggable or droppable element is added or removed from the page DOM.</p>
</div></div>
</li>
</ul>
</div>
</div>
