<h1><code ng:non-bindable="">DRAG_AND_DROP_EVENTS</code>
<div><span class="hint">object in module <code ng:non-bindable="">cmsDragAndDropServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="cmsdraganddropservicemodule-object-page cmsdraganddropservicemodule-object-drag-and-drop-events-page"><p>Injectable angular constant<br/>
Constants identifying CMS drag and drop events.</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_drag_started">DRAG_STARTED</h3>
<div class="drag_started"><div class="drag-started-page"><p>Name of event executed when a drag and drop event starts.</p>
</div></div>
</li>
<li><h3 id="properties_drag_stopped">DRAG_STOPPED</h3>
<div class="drag_stopped"><div class="drag-stopped-page"><p>Name of event executed when a drag and drop event stops.</p>
</div></div>
</li>
<li><h3 id="properties_drag_stopped">DRAG_STOPPED</h3>
<div class="drag_stopped"><div class="drag-stopped-page"><p>Name of event executed when onDragOver is triggered.</p>
</div></div>
</li>
<li><h3 id="properties_drag_stopped">DRAG_STOPPED</h3>
<div class="drag_stopped"><div class="drag-stopped-page"><p>Name of event executed when onDragLeave is triggered.</p>
</div></div>
</li>
</ul>
</div>
</div>
