<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="cmsdraganddropservicemodule-page"><h2 id="the-cmsdraganddropservicemodule">The cmsDragAndDropServiceModule</h2>
<p>The cmsDragAndDropServiceModule contains a service that provides a rich drag and drop experience tailored for CMS operations.</p>
</div></div>
