<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="cmsitemsrestservicemodule-page"><p>The cmsitemsRestServiceModule provides a service to CRUD operations on CMS Items API.</p>
</div></div>
