<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="componenteditingfacademodule-page"><h2 id="the-componenteditingfacademodule">The componentEditingFacadeModule</h2>
<p>The componentEditingFacadeModule contains a service with methods that allow adding or removing components in the page.</p>
</div></div>
