<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="editormodalservicemodule-page"><h2 id="the-editormodalservicemodule">The editorModalServiceModule</h2>
<p>The editor modal service module provides a service that allows opening an editor modal for a given component type and
component ID. The editor modal is populated with a save and cancel button, and is loaded with the 
editorTabset of cmssmarteditContainer as its content, providing a way to edit
various fields of the given component.</p>
</div></div>
