<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="editorenablerservicemodule-page"><h2 id="the-editorenablerservicemodule">The editorEnablerServiceModule</h2>
<p>The editor enabler service module provides a service that allows enabling the Edit Component contextual menu item,
providing a SmartEdit CMS admin the ability to edit various properties of the given component.</p>
</div></div>
