<h1><code ng:non-bindable="">editorModalService</code>
<div><span class="hint">service in module <code ng:non-bindable="">editorModalServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-page"><p>Convenience service to open an editor modal window for a given component type and component ID.</p>
<p>Example: A button is bound to the function &#39;$scope.onClick&#39; via the ng-click directive. Clicking the button will
trigger the opening of an editor modal for a CMSParagraphComponent with the ID &#39;termsAndConditionsParagraph&#39;</p>
<pre class="prettyprint linenums">
    angular.module('app', ['editorModalServiceModule'])
        .controller('someController', function($scope, editorModalService) {
            $scope.onClick = function() {
                editorModalService.open(componentAttributes);
            };
        });
</pre>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_open">open(componentAttributes, [targetSlotId], [position])</h3>
<div class="open"><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>Proxy function which delegates opening an editor modal for a given component type and component ID to the
SmartEdit container.</p>
</div><h5 id="methods_open_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>componentAttributes</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>The details of the component to be created/edited</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>smarteditComponentId</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>The id of the component</p>
</div></td></tr><tr><td>smarteditComponentUuid</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>The Universally unique id of the component</p>
</div></td></tr><tr><td>smarteditComponentType</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>The component type</p>
</div></td></tr><tr><td>catalogVersionUuid</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>The catalog version UUID to add the component to</p>
</div></td></tr></tbody></table></td></tr><tr><td>[targetSlotId]</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>The ID of the slot in which the component is placed.</p>
</div></td></tr><tr><td>[position]</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>The position in a given slot where the component should be placed.</p>
</div></td></tr></tbody></table><h5 id="methods_open_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>A promise that resolves to the data returned by the modal when it is closed.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_open">open(componentType, componentId, selectedTabTitle)</h3>
<div class="open"><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>Proxy function which delegates opening an editor modal for a given component type and component ID to the
SmartEdit container.</p>
</div><h5 id="methods_open_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>componentType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>The type of component as defined in the platform.</p>
</div></td></tr><tr><td>componentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>The UUID of the component as defined in the database.</p>
</div></td></tr><tr><td>selectedTabTitle</td><td><a href="" class="label type-hint type-hint-object">=String</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>I18n key of the tab being selected by default on modal opening</p>
</div></td></tr></tbody></table><h5 id="methods_open_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="editormodalservicemodule-service-page editormodalservicemodule-service-editormodalservice-open-page"><p>A promise that resolves to the data returned by the modal when it is closed.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
