<h1><code ng:non-bindable="">removeComponentService</code>
<div><span class="hint">service in module <code ng:non-bindable="">removeComponentService</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="removecomponentservice-removecomponentservice-page"><p>Service to remove a component from a slot</p>
</div></div>
</div>
