<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="removecomponentserviceinterfacemodule-page"><h2 id="the-removecomponentserviceinterfacemodule">The removeComponentServiceInterfaceModule</h2>
<p>Provides a service with the ability to remove a component from a slot.</p>
</div></div>
