<h1><code ng:non-bindable="">PAGES_LIST_RESOURCE_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsMod`ule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmod-ule-object-page resourcelocationsmod-ule-object-pages-list-resource-uri-page"><p>Resource URI of the pages REST service.</p>
</div></div>
</div>
