<h1><code ng:non-bindable="">PAGES_RESTRICTIONS_RESOURCE_URI</code>
<div><span class="hint">service in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-pages-restrictions-resource-uri-page"><p>Resource URI of the pages restrictions REST service, with placeholders to be replaced by the currently selected catalog version.</p>
</div></div>
</div>
