<h1><code ng:non-bindable="">CONTEXTUAL_PAGES_RESOURCE_URI</code>
<div><span class="hint">service in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><fieldset class="deprecated"><legend>Deprecated API</legend>
since 6.5</fieldset>
<h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-contextual-pages-resource-uri-page"><p>Resource URI of the pages REST service, with placeholders to be replaced by the currently selected catalog version.</p>
</div></div>
</div>
