<h1><code ng:non-bindable="">RESTRICTION_TYPES_URI</code>
<div><span class="hint">service in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-restriction-types-uri-page"><p>Resource URI of the pageTypes-restrictionTypes relationship REST service.</p>
</div></div>
</div>
