<h1><code ng:non-bindable="">PAGE_TEMPLATES_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-page-templates-uri-page"><p>Resource URI of the page templates REST service</p>
</div></div>
</div>
