<h1><code ng:non-bindable="">PAGE_CONTEXT_CATALOG</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-page-context-catalog-page"><p>Constant containing the name of the current page catalog uid placeholder in URLs</p>
</div></div>
</div>
