<h1><code ng:non-bindable="">PAGEINFO_RESOURCE_URI</code>
<div><span class="hint">service in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><fieldset class="deprecated"><legend>Deprecated API</legend>
since 6.5</fieldset>
<h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-pageinfo-resource-uri-page"><p>Resource URI of the page info REST service.</p>
</div></div>
</div>
