<h1><code ng:non-bindable="">slotVisibilityButtonController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">slotVisibilityButtonModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="slotvisibilitybuttonmodule-controller-page slotvisibilitybuttonmodule-controller-slotvisibilitybuttoncontroller-page"><p>The slot visibility button controller is responsible for enabling and disabling the hidden components button, 
as well as displaying the hidden components list. It also provides functions to open and close the hidden component list.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">slotVisibilityButtonController(slotVisibilityService, $scope);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>slotVisibilityService</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="slotvisibilitybuttonmodule-controller-page slotvisibilitybuttonmodule-controller-slotvisibilitybuttoncontroller-page"><p>slot visibility service instance</p>
</div></td></tr><tr><td>$scope</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="slotvisibilitybuttonmodule-controller-page slotvisibilitybuttonmodule-controller-slotvisibilitybuttoncontroller-page"><p>current scope instance</p>
</div></td></tr></tbody></table></div>
</div>
