<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="slotrestrictionsservicemodule-page"><h2 id="the-slotrestrictionsservicemodule">The slotRestrictionsServiceModule</h2>
<p>The slotRestrictionsServiceModule contains a service that caches and returns the restrictions of a slot in a page. This restrictions determine
whether a component of a certain type is allowed or forbidden in a particular slot.</p>
</div></div>
