<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="slotsharedservicemodule-slotsharedservice-page"><p>SlotSharedService provides methods to interact with the backend for shared slot information. </p>
</div></div>
