<h1><code ng:non-bindable="">slotVisibilityButton</code>
<div><span class="hint">directive in module <code ng:non-bindable="">slotVisibilityButtonModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="slotvisibilitybuttonmodule-directive-page slotvisibilitybuttonmodule-directive-slotvisibilitybutton-page"><p>The slot visibility button component is used inside the slot contextual menu and provides a button 
image that displays the number of hidden components, as well as a dropdown menu of hidden component.</p>
<p>The directive expects that the parent, the slot contextual menu, has a setRemainOpen function and a 
slotId value on the parent&#39;s scope. setRemainOpen is used to send a command to the parent to leave 
the slot contextual menu open.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY slot-visibility-button&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
