<h1><code ng:non-bindable="">slotVisibilityComponent</code>
<div><span class="hint">directive in module <code ng:non-bindable="">slotVisibilityComponentModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="slotvisibilitycomponentmodule-directive-page slotvisibilitycomponentmodule-directive-slotvisibilitycomponent-page"><p>The slot visibility component directive is used to display information about a specified hidden component.
It receives the component on its scope and it binds it to its own controller.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY slot-visibility-component&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
