<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="slotvisibilitybuttonmodule-page"><p>The slot visibility button module provides a directive and controller to manage the button within the slot contextual menu 
and the hidden component list, which is also part of the dropdown menu associated with the directive&#39;s template.     </p>
</div></div>
