<h1><code ng:non-bindable="">SlotVisibilityService</code>
<div><span class="hint">service in module <code ng:non-bindable="">slotVisibilityServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-page"><p>The SlotVisibilityService class provides methods to interact with the backend.
The definition of the class is not instantiated immediately, whereas the service instance of
this same class (@see slotVisibilityService) returns an instance of this service definition.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">SlotVisibilityService(cmsitemsRestService, pagesContentSlotsComponentsResource, componentHandlerService);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>cmsitemsRestService</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-page"><p>Gets all components based on their UUIDs.</p>
</div></td></tr><tr><td>pagesContentSlotsComponentsResource</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-page"><p>Gets content slots and components based on their page IDs.</p>
</div></td></tr><tr><td>componentHandlerService</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-page"><p>Gets the current page ID.</p>
</div></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_gethiddencomponents">getHiddenComponents(slotId)</h3>
<div class="gethiddencomponents"><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-gethiddencomponents-page"><p>Returns the list of hidden components for a given slotId</p>
</div><h5 id="methods_gethiddencomponents_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>slotId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-gethiddencomponents-page"><p>the slot id</p>
</div></td></tr></tbody></table><h5 id="methods_gethiddencomponents_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-gethiddencomponents-page"><p>A promise that resolves to a list of hidden components for the slotId</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getslotsforcomponent">getSlotsForComponent(componentUuid)</h3>
<div class="getslotsforcomponent"><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-getslotsforcomponent-page"><p>Returns an array of slotId&#39;s in which the provided component (identified by its componentUuid) exists.</p>
</div><h5 id="methods_getslotsforcomponent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>componentUuid</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-getslotsforcomponent-page"><p>The uuid of the component.</p>
</div></td></tr></tbody></table><h5 id="methods_getslotsforcomponent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-getslotsforcomponent-page"><p>A promise that resolves to a array of slotId&#39;s for the given componnet uuid.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_reloadslotinfo">reloadSlotInfo()</h3>
<div class="reloadslotinfo"><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-reloadslotinfo-page"><p>Reloads and cache&#39;s the pagesContentSlotsComponents for the current page in context.
this method can be called when ever a component is added or modified to the slot so that the pagesContentSlotsComponents is re-evalated.</p>
</div><h5 id="methods_reloadslotinfo_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="slotvisibilityservicemodule-service-page slotvisibilityservicemodule-service-slotvisibilityservice-reloadslotinfo-page"><p>A promise that resolves to the pagesContentSlotsComponents for the page in context.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
