<h1><code ng:non-bindable="">SYNCHRONIZATION_POLLING</code>
<div><span class="hint">object in module <code ng:non-bindable="">synchronizationConstantsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="synchronizationconstantsmodule-object-page synchronizationconstantsmodule-object-synchronization-polling-page"><p>Constant containing polling related values</p>
<ul>
<li><code>SLOW_POLLING_TIME</code> : the slow polling time in milliseconds (60000ms)</li>
<li><code>FAST_POLLING_TIME</code> : the slow polling time in milliseconds (60000ms)</li>
<li><code>SPEED_UP</code> : event used to speed up polling (<code>syncPollingSpeedUp</code>)</li>
<li><code>SLOW_DOWN</code> : event used to slow down polling (<code>syncPollingSlowDown</code>)</li>
<li><code>FAST_FETCH</code> : event used to trigger a sync fetch (<code>syncFastFetch</code>)</li>
<li><code>FETCH_SYNC_STATUS_ONCE</code>: event used to trigger a one time sync (<code>fetchSyncStatusOnce</code>)</li>
</ul>
</div></div>
</div>
