<h1><code ng:non-bindable="">SYNCHRONIZATION_STATUSES</code>
<div><span class="hint">object in module <code ng:non-bindable="">synchronizationConstantsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="synchronizationconstantsmodule-object-page synchronizationconstantsmodule-object-synchronization-statuses-page"><p>Constant containing the different sync statuses</p>
<ul>
<li>UNAVAILABLE</li>
<li>IN_SYNC</li>
<li>NOT_SYNC</li>
<li>IN_PROGRESS</li>
<li>SYNC_FAILED</li>
</ul>
</div></div>
</div>
