<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="synchronizationservicemodule-page"><p>The synchronization module contains the service necessary to perform catalog synchronization.</p>
<p>The <a href="#/cmssmartedit/synchronizationServiceModule.service:synchronizationService">synchronizationService</a> 
calls backend API in order to get synchronization status or trigger a catalog synchronization between two catalog versions.</p>
</div></div>
