<h1><code ng:non-bindable="">synchronizationService</code>
<div><span class="hint">service in module <code ng:non-bindable="">synchronizationServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-page"><p>The synchronization service manages RESTful calls to the synchronization service&#39;s backend API.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getcatalogsyncstatus">getCatalogSyncStatus(catalog)</h3>
<div class="getcatalogsyncstatus"><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>This method is used to get the status of the last synchronization job between two catalog versions. </p>
</div><h5 id="methods_getcatalogsyncstatus_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalog</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>An object that contains the information about the catalog to be synchronized.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>The ID of the catalog to synchronize.</p>
</div></td></tr><tr><td>sourceCatalogVersion <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>The name of the source catalog version.</p>
</div></td></tr><tr><td>targetCatalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>The name of the target catalog version.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getcatalogsyncstatus">getCatalogSyncStatus(catalog)</h3>
<div class="getcatalogsyncstatus"><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>This method is used to get the status of the last synchronization job between two catalog versions. </p>
</div><h5 id="methods_getcatalogsyncstatus_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalog</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>An object that contains the information about the catalog to be synchronized.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>The ID of the catalog to synchronize.</p>
</div></td></tr><tr><td>sourceCatalogVersion <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>The name of the source catalog version.</p>
</div></td></tr><tr><td>targetCatalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>The name of the target catalog version.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getcatalogsyncstatus">getCatalogSyncStatus(catalog)</h3>
<div class="getcatalogsyncstatus"><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>This method is used to get the status of the last synchronization job. </p>
</div><h5 id="methods_getcatalogsyncstatus_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalog</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>An object that contains the information about the catalog to be synchronized.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>The ID of the catalog to synchronize.</p>
</div></td></tr><tr><td>targetCatalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-getcatalogsyncstatus-page"><p>The name of the target catalog version.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stopautogetsyncdata">stopAutoGetSyncData(catalog)</h3>
<div class="stopautogetsyncdata"><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-stopautogetsyncdata-page"><p>This method starts the auto synchronization status update in a catalog between two given catalog versions.</p>
</div><h5 id="methods_stopautogetsyncdata_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalog</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-stopautogetsyncdata-page"><p>An object that contains the information about the catalog to be synchronized.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-stopautogetsyncdata-page"><p>The ID of the catalog to synchronize.</p>
</div></td></tr><tr><td>sourceCatalogVersion <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-stopautogetsyncdata-page"><p>The name of the source catalog version.</p>
</div></td></tr><tr><td>targetCatalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-stopautogetsyncdata-page"><p>The name of the target catalog version.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stopautogetsyncdata">stopAutoGetSyncData(catalog)</h3>
<div class="stopautogetsyncdata"><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-stopautogetsyncdata-page"><p>This method stops the auto synchronization status update in a catalog between two given catalog versions.</p>
</div><h5 id="methods_stopautogetsyncdata_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalog</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-stopautogetsyncdata-page"><p>An object that contains the information about the catalog to be synchronized.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-stopautogetsyncdata-page"><p>The ID of the catalog to synchronize.</p>
</div></td></tr><tr><td>sourceCatalogVersion <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-stopautogetsyncdata-page"><p>The name of the source catalog version.</p>
</div></td></tr><tr><td>targetCatalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-stopautogetsyncdata-page"><p>The name of the target catalog version.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_updatecatalogsync">updateCatalogSync(catalog)</h3>
<div class="updatecatalogsync"><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-updatecatalogsync-page"><p>This method is used to synchronize a catalog between two catalog versions.</p>
</div><h5 id="methods_updatecatalogsync_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalog</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-updatecatalogsync-page"><p>An object that contains the information about the catalog to be synchronized.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-updatecatalogsync-page"><p>The ID of the catalog to synchronize.</p>
</div></td></tr><tr><td>sourceCatalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-updatecatalogsync-page"><p>The name of the source catalog version.</p>
</div></td></tr><tr><td>targetCatalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationservicemodule-service-page synchronizationservicemodule-service-synchronizationservice-updatecatalogsync-page"><p>The name of the target catalog version.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
