<h1><code ng:non-bindable="">synchronizationPanel</code>
<div><span class="hint">directive in module <code ng:non-bindable="">synchronizationPanelModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="synchronizationpanelmodule-component-page synchronizationpanelmodule-component-synchronizationpanel-page"><p>This component reads and performs synchronization for a main object and its dependencies (from a synchronization perspective).
The component will list statuses of backend-configured dependent types.
The main object and the listed dependencies will display as well lists of logical grouping of dependencies (in a popover)
that cause the main object or the listed dependency to be out of sync.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;synchronization-panel
       item-id="{String}"
       get-sync-status="{Function}"
       perform-sync="{Function}"
       header-template-url="{String}"
       sync-items="{Function}"
       [on-selected-items-update]="{Function}"&gt;
&lt;/synchronization-panel&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>itemId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationpanelmodule-component-page synchronizationpanelmodule-component-synchronizationpanel-page"><p>the unique identifier of the main object of the synchronization panel</p>
</div></td></tr><tr><td>getSyncStatus</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="synchronizationpanelmodule-component-page synchronizationpanelmodule-component-synchronizationpanel-page"><p>the callback, invoked with itemId that returns a promise of the aggregated sync status required for the component to initialize.
the expected format of the aggregated status is the following:</p>
<pre><code>{
 itemId:&#39;someUid&#39;,
 itemType:&#39;AbstractPage&#39;,
 name:&#39;Page1&#39;,
 lastSyncTime: long,
 selectAll: &#39;some.key.for.first.row.item&#39; // Some i18nKey to display the title for the first item
 status:{name: &#39;IN_SYNC&#39;, i18nKey: &#39;some.key.for.in.sync&#39;}  //&#39;IN_SYNC&#39;|&#39;NOT_IN_SYNC&#39;|&#39;NOT_AVAILABLE&#39;|&#39;IN_PROGRESS&#39;|&#39;SYNC_FAILED&#39;
 dependentItemTypesOutOfSync:[
                         {code: &#39;MetaData&#39;, i18nKey: &#39;some.key.for.MetaData&#39;},
                         {code: &#39;Restrictions&#39;, i18nKey: &#39;some.key.for.Restrictions&#39;},
                         {code: &#39;Slot&#39;, i18nKey: &#39;some.key.for.Slot&#39;},
                         {code: &#39;Component&#39;, i18nKey: &#39;some.key.for.Component&#39;},
                         {code: &#39;Navigation&#39;, i18nKey: &#39;some.key.for.Navigation&#39;},
                         {code: &#39;Customization&#39;, i18nKey: &#39;some.key.for.Customization&#39;}
                         ],
 selectedDependencies:[
 {
     itemId:&#39;someUid&#39;,
     itemType:&#39;ContentSlot&#39;,
     name:&#39;Slot1&#39;,
     lastSyncTime: long,
     selectAll: &#39;some.key.for.first.row.item&#39; // Some i18nKey to display the title for the first item
     status:{name: &#39;IN_SYNC&#39;, i18nKey: &#39;some.key.for.in.sync&#39;}  //&#39;IN_SYNC&#39;|&#39;NOT_IN_SYNC&#39;|&#39;NOT_AVAILABLE&#39;|&#39;IN_PROGRESS&#39;|&#39;SYNC_FAILED&#39;
     dependentItemTypesOutOfSync:[
                             {code: &#39;Component&#39;, i18nKey: &#39;some.key.for.Component&#39;},
                             {code: &#39;Navigation&#39;, i18nKey: &#39;some.key.for.Navigation&#39;},
                             {code: &#39;Customization&#39;, i18nKey: &#39;some.key.for.Customization&#39;}
                             ]
 }
 ]
}
</code></pre></div></td></tr><tr><td>performSync</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="synchronizationpanelmodule-component-page synchronizationpanelmodule-component-synchronizationpanel-page"><p>the function invoked with the list of item unique identifiers to perform synchronization. It returns a promise of the resulting sync status with the following values : &#39;IN_SYNC&#39;|&#39;NOT_IN_SYNC&#39;|&#39;NOT_AVAILABLE&#39;|&#39;IN_PROGRESS&#39;|&#39;SYNC_FAILED&#39;</p>
</div></td></tr><tr><td>headerTemplateUrl</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="synchronizationpanelmodule-component-page synchronizationpanelmodule-component-synchronizationpanel-page"><p>the path to an HTML template to customize the header of the synchronization panel. Optional.</p>
</div></td></tr><tr><td>syncItems</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="synchronizationpanelmodule-component-page synchronizationpanelmodule-component-synchronizationpanel-page"><p>enables parent directive/component to invoke the internal synchronization. Optional, if not set, the panel will display a sync button for manual synchronization.</p>
</div></td></tr><tr><td>[onSelectedItemsUpdate]</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="synchronizationpanelmodule-component-page synchronizationpanelmodule-component-synchronizationpanel-page"><p>callback function invoked when the the list of selected items change</p>
</div></td></tr></tbody></table></div>
</div>
