@popover-tip-dimension: 15px;
@popover-transition-delay: .25s;

.popoveredElement {

    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    &:after,
    &:before {
        opacity: 0;
        transition: all @popover-transition-delay ease-in-out;
        z-index: 11;
    }

    &:before {
        background: @default-greyblue;
        box-shadow: 0 0 2px @smartedit-black;
        color: @smartedit-white;
        content: attr(data-popover-content);
        margin-bottom: calc(-4 * @popover-tip-dimension);
        padding: 10px;
        white-space: nowrap;
    }

    &:after {
        border: @popover-tip-dimension solid transparent;
        border-bottom-color: @default-greyblue;
        content: "";
    }

}