@se-actionable-search-item__name--font-size: 15px;
@se-actionable-search-item__name--font-style: italic;
@se-actionable-search-item__name--padding: .2*@smartedit-gutter;
@se-actionable-search-item__create-btn--font-size: 17px;
@se-actionable-search-item__create-btn--color: @light-blue-100;
@se-actionable-search-item__create-btn--background-color: @nested-body-backgroundcolor;
@se-actionable-search-item--border-bottom: 1px solid @smartedit-grey22;
@y-infinite-scrolling__listbox-header--font-site: 13px;

.se-actionable-search-item__name{
    font-family: @font-open-sans;
    font-size: @se-actionable-search-item__name--font-size;
    font-style: @se-actionable-search-item__name--font-style;
    color: @dark-blue;
    display: inline-block;
    padding-top: @se-actionable-search-item__name--padding;
    padding-left: @se-actionable-search-item__name--padding;
}

.se-actionable-search-item__create-btn,
.se-actionable-search-item__create-btn:hover,
.se-actionable-search-item__create-btn.hover{
    font-family: @font-open-sans;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: @font-weight--bold;
    color: @se-actionable-search-item__create-btn--color;
    background-color: @se-actionable-search-item__create-btn--background-color;
}

.se-actionable-search-item{
    overflow: auto;
    border-bottom: @se-actionable-search-item--border-bottom;
}

.y-infinite-scrolling__listbox-header{
    font-family: @font-open-sans;
    font-size: @y-infinite-scrolling__listbox-header--font-site;
    color: @gray;
    padding-left: @se-actionable-search-item__name--padding;
    padding-top: @se-actionable-search-item__name--padding;
    padding-bottom: @se-actionable-search-item__name--padding;
    border-bottom: @se-actionable-search-item--border-bottom;
}

//overwrite ui-select styling
.se-generic-editor-dropdown__match2 item-printer.y-select-item-printer > div{
    background: transparent;
    border-left: none;
}





.se-generic-editor-dropdown__match2.select2-choice,
.se-generic-editor-dropdown__match2.select2-choice{
    border-radius: 0;
}

.y-select-no-result-label{
    padding: 5px 10px 10px 15px;
}

language-selector {
    .select2-container.select2-dropdown-open {
        .select2-choice {
            .select2-arrow {
                b {
                    border-top: 0;
                    border-bottom: 6px dashed @black;
                }
            }
        }
    }

    .select2-container {
        .select2-choice {
            border-radius: 0;
            height: 46px;
            font-size: 15px;

            .select2-arrow {
                background: none;
                border-left: none;
                b {
                    margin-top: 15px;
                    border-top: 6px dashed @black;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                }
            }
        }
    }
}

experience-selector .ySErow generic-editor-field {
    .select2-container .select2-choice,
    .select2-container .select2-choices,
    .select2-container .select2-choices .select2-search-field input,
    .se-date-field .form-control{
        font-family: @font-open-sans;
        font-size: 15px;
        font-weight: 500;
        color: @smartedit-grey21;
    }
}

generic-editor-field .select2-container .select2-choice,
generic-editor-field .select2-container .select2-choices,
generic-editor-field .select2-container .select2-choices .select2-search-field input {
    border-radius: 0;
}

se-media-selector .select2-container .select2-choice.ui-select-match{
    height:auto;/*overwrite techne*/
}

generic-editor-field .select2-container .select2-choice .select2-arrow,
generic-editor-field .select2-container .select2-choice div{
    background: none;
    border-left: none;
}




generic-editor-field{
    .ui-select-dropdown .ui-select-choices-group .select2-result-label{
        font-family: @font-open-sans;
        font-size: 15px;
    }
}

localized-element generic-editor-field .select2-container.select2-allowclear .select2-choice abbr{
    display: none;
}

/* Fix techne bug for dropdown template */
.ui-select-container a:hover {
    color: @gray !important;
}


.ySERestriction-select__placeholder.select2-choice,
.ySEPageRestr-picker--select__match.select2-choice{
    border-radius: 0;
}

.se-generic-editor-dropdown__match.select2-choice{
    background-color: @smartedit-white;
}

:not(y-select) .se-generic-editor-dropdown__paged .se-generic-editor-dropdown__match:not(.select2-default) .select2-chosen:nth-of-type(2){
    margin-right: 0;
} 

:not(y-select) .se-generic-editor-dropdown__paged .se-generic-editor-dropdown__match > .select2-chosen:nth-of-type(2){
    padding: 0;
}

:not(y-select)  .se-generic-editor-dropdown__paged .se-generic-editor-dropdown__match:not(.select2-default) .select2-arrow.ui-select-toggle{
    display: none;
}

.select2-container .select2-choice item-printer div{
    width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.select2-container .select2-choice item-printer:not(.se-generic-editor-dropdown__item-printer) div{
    line-height: 20px;
}


.ySENavigationSelectMatch>.select2-chosen{
    padding: 0;
}

.select2-container .select2-choice  .ySEEntryDropdownMatcher{
   width: 100%;
}

.select2-container .select2-choice .ySEEntryDropdownMatcher>div{
    width: 100%
}

.select2-container .select2-choice  .ySEEntryDropdownMatcher,
.select2-container .select2-choice .ySEEntryDropdownMatcher>div{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

.ySENavigationSelectMatch:not(.select2-default) .select2-arrow.ui-select-toggle{
    display: none;
}

.ySENavigationSelectMatch:not(.select2-default) .select2-chosen{
    margin-right: 0;
}

.select2-result-label.ui-select-choices-row-inner .ySENavigationMediaSearchName{
     .make-sm-column(6);
 }

.select2-result-label.ui-select-choices-row-inner .ySENavigationMediaSearchImage{
    overflow: hidden;
    .make-sm-column(6);

    img{
        max-width: 100%;
        height: auto;
    }
}
 .select2-container .select2-choice .ySEEntryDropdownMatcher .ySENavigationMediaSearchName,
 .select2-container .select2-choice .ySEEntryDropdownMatcher .ySENavigationMediaSearch-row{
    width: 100%;
}

 .select2-container .select2-choice .ySEEntryDropdownMatcher .ySENavigationMediaSearchName{
     margin: 0;
 }

 //bring the magnifier
.media-selector{

    a.select2-choice.ui-select-match.select2-default > span.select2-chosen{
        background-image: url('../../../thirdparties/select2/select2x2.png') !important;
        background-repeat: no-repeat !important;
        background-size: 99px 66px !important;
        background-position: -58px -34px !important;
        color: @smartedit-grey4;
        padding-left: 43px;
        font-family: @font-open-sans;
        font-size: 16px;
    }

    a.select2-choice.ui-select-match.select2-default > .select2-arrow.ui-select-toggle > b{
        display: none;
    }
    
}

.media-selector a.select2-choice div{
    width: inherit;
}

.media-selector a.select2-choice .media-selector--preview .se-media-preview-image-wrapper,
.se-media-preview-image-wrapper{
    height: 112px;
    width: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid @smartedit-grey8;
}

.se-generic-editor-dropdown .select2-results.ui-select-choices__infinite-scrolling{
    overflow-y: hidden;
}

.ui-select-multiple .select2-choices li{
    background: none!important;
}

#userGroups .select2-choices .select2-search-field {
      border: 1px solid @smartedit-grey17;
      padding-right: 9px;
}

.se-item-selector-panel__content__item .select2-choices .select2-search-field{
    border: 1px solid @default-grey-700;
    padding-right: 9px;
}




.select2-container .select2-choice.se-generic-editor-dropdown__match2 .select2-arrow,
.select2-container .select2-choice.ySEPageRestr-picker--select__match .select2-arrow,
.select2-container .select2-choice.se-generic-editor-dropdown__match2 div{
    top: 3px;
}

language-selector{
    .ui-select-match .select2-arrow,
    .ui-select-match .select2-arrow.ui-select-toggle {
        top: -3px;
    }
}


//overwriting the default select2 styling to match smartedit design
.select2-container .select2-choice.se-generic-editor-dropdown__match2 .select2-arrow,
.select2-container .select2-choice.se-generic-editor-dropdown__match2 div,
.select2-container .select2-choice.ySERestriction-select__placeholder .select2-arrow,
.select2-container .select2-choice.ySERestriction-select__placeholder div,
.select2-container .select2-choice.ySEPageRestr-picker--select__match .select2-arrow,
.select2-container .select2-choice.ySEPageRestr-picker--select__match div{
    border-left: none;
    background: transparent;
    color: @dark-blue !important;
    b{
        margin-top: 10px;
        color: @dark-blue;
    }
}

generic-editor-field .select2-container .select2-choice .select2-arrow b,
generic-editor-field .select2-container .select2-choice abbr,
generic-editor-field .select2-container-multi .select2-choices .select2-search-field input.select2-active,
generic-editor-field .select2-more-results.select2-active, .select2-search input,
generic-editor-field .select2-search input.select2-active, .select2-search-choice-close,
generic-editor-field .select2-container .select2-choice .select2-arrow b,
generic-editor-field .select2-container .select2-choice div b{
    color: @dark-blue;
    margin-top: 5px;
    margin-bottom: 5px; 
}