.yw-preview-next,
.yw-preview-previous {
  opacity: 0.8;
  background: #ddd;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
  z-index: 500; }

.yw-preview-previous {
  left: 0; }

.yw-preview-next {
  right: 0; }

.yw-collection-preview-cnt.yw-single-reference > div.z-hlayout-inner {
  width: 100%;
  padding-right: 0 !important; }

.yw-collection-preview-cnt.yw-multi-reference > div.z-hlayout-inner:nth-child(1) {
  width: 700px;
  float: left;
  padding-right: 0 !important; }

.yw-collection-preview-cnt.yw-multi-reference > div.z-hlayout-inner:nth-child(2) {
  width: 246px;
  float: right; }

.yw-modal-collectionEditorAreaGroup .yw-listview-actioncontainer {
  padding-top: 15px; }

.yw-modal-collectionEditorAreaGroup .yw-com_hybris_cockpitng_backoffice_collectionEditorArea {
  border-top: 1px solid #d5d8dc; }

.yw-modal-collectionEditorAreaGroup .yw-collection-preview-east {
  border-left: 1px solid #d5d8dc; }

/*================================
    Collection Editor Area (General)
================================*/
