<div data-ng-controller="topToolbarMenuController" data-uib-dropdown data-is-open="item.isOpen" class="btn-group pe-toolbar-action pe-combined-view-menu" data-auto-close="disabled">
    <button type="button" class="btn btn-default pe-toolbar-action--button" data-uib-dropdown-toggle data-ng-disabled="disabled" aria-pressed="false" data-ng-class="{'pe-toolbar-action-combined-view--button-with-context': isCombinedViewCustomizationSelected()}">
        <span class="hyicon hyicon-combinedview pe-toolbar-menu-ddlb--button__icon"></span>
        <span class="pe-toolbar-action--button--txt" data-translate="personalization.toolbar.combinedview.name"></span>
    </button>

    <personalizationsmartedit-combined-view-toolbar-context></personalizationsmartedit-combined-view-toolbar-context>

    <div data-uib-dropdown-menu class="btn-block pe-toolbar-action--include">

        <ul class="pe-toolbar-menu-content  se-toolbar-menu-content--pe-customized" role="menu">
            <div class="se-toolbar-menu-content--pe-customized__headers">
                <h2 class="h2 se-toolbar-menu-content--pe-customized__headers--h2" data-translate="personalization.toolbar.combinedview.header.title"></h2>
                <small class="se-toolbar-menu-content--pe-customized__headers--small" data-translate="personalization.toolbar.combinedview.header.description"></small>
            </div>
            <div class="pe-combined-view-menu">
                <div class="pe-combined-view-menu__wrapper" data-ng-controller="personalizationsmarteditCombinedViewMenuController">
                    <div class="pe-combined-view-menu__configure-layout">
                        <span class="y-toggle y-toggle-lg">
                            <input type="checkbox" id="test-checkbox" data-ng-change="combinedViewEnabledChangeEvent()" data-ng-model="combinedView.enabled" />
                            <label class="pe-combined-view-menu__enable-label" for="test-checkbox"></label>
                        </span>
                        <button class="btn btn-link pe-combined-view-menu__configure-btn perso-wrap-ellipsis" data-ng-click="$parent.combinedViewClick()" data-translate="personalization.toolbar.combinedview.openconfigure.button">
                        </button>
                    </div>
                    <div class="pe-combined-view-menu__category-table" data-ng-class="combinedView.enabled ? '':'combinedview-inactive-layout'">
                        <div class="pe-combined-view-menu__category-table__item" data-ng-repeat="item in selectedItems" data-ng-class="{'combinedview-list-item--last': $last, 'combinedview-divider': $first, 'pe-combined-view-menu__list-item--highlighted': item.highlighted}">
                            <div class="pe-combined-view-menu__category-table__item-icon" data-ng-class="getClassForElement($index)" data-ng-bind="getLetterForElement($index)"></div>
                            <div class="pe-combined-view-menu__category-table__item-name" data-ng-click="itemClick(item)">
                                <div data-ng-bind="item.customization.name"></div>
                                <div class="text-uppercase combinedview-variation-layout" data-ng-bind="item.variation.name"></div>
                            </div>
                            <div data-ng-class="{'hyicon hyicon-checkedlg pe-combined-view-menu__hyicon-checkedlg': item.highlighted}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>

    </div>

</div>