<form>
    <div class="form-group">
        <div class="pe-combinedview-config__ui-select-layout">
            <label for="CombinedViewSearchField1" class="control-label required" data-translate="personalization.modal.combinedview.search.label"></label>
            <ui-select uis-open-close="initUiSelect($select)" ng-model="selectedElement" theme="select2" class="form-control" ng-keyup="searchInputKeypress($event, $select.search)" on-select="selectElement($item)" reset-search-input="false" id="CombinedViewSearchField1">
                <ui-select-match placeholder="{{ 'personalization.modal.combinedview.search.placeholder' | translate}}">
                    <span class="pe-combinedview-config__ui-select-placeholder">{{'personalization.modal.combinedview.search.placeholder' | translate}}</span>
                </ui-select-match>
                <ui-select-choices repeat="item in selectionArray" position="down" ui-disable-choice="isItemInSelectDisabled(item)" personalization-infinite-scroll="addMoreItems()" personalization-infinite-scroll-distance="1">
                    <div data-ng-class="{'pe-combinedview-config__ui-select-item--selected': isItemSelected(item)}">
                        {{item.customization.name}} > {{item.variation.name}}
                    </div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <div class="pe-combinedview-config__list-layout" data-ng-repeat="item in selectedItems" data-ng-class="{'pe-combinedview-config__divider': $first}">
            <div data-ng-class="getClassForElement($index)" data-ng-bind="getLetterForElement($index)"></div>
            <div class="pe-combinedview-config__names-layout">
                <div class="perso-wrap-ellipsis pe-combinedview-config__cname" data-ng-bind="item.customization.name"></div>
                <span> ></span>
                <div class="perso-wrap-ellipsis pe-combinedview-config__vname" data-ng-bind="item.variation.name"></div>
            </div>
            <div class="pe-combinedview-config__hyicon-remove">
                <span class="hyicon hyicon-remove" data-ng-click="removeSelectedItem(item)"></span>
            </div>
        </div>
    </div>
</form>