<a class="ct-add-new-msg-btn"(click)="addMessage()" >Add Message</a>
<div style="display:none;" id="ct-add-new-msg" *ngIf="ticket">
    <div class="form-group">
      <label class="control-label" for="message"> Message<span class="skip"></span>
      </label>
      <textarea id="message" name="message" class="form-control"  [(ngModel)]="ticketMessage" maxlength="5000"></textarea>
    </div>
    <div class="form-group">
      <div class="modal-actions row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <button class="btn btn-primary btn-block" type="submit"  [class.disabled]="canNotUpdate()" (click)="addTicketMessage()"> Submit</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <button class="btn btn-default btn-block closeColorBox">Cancel</button>
        </div>
      </div>
      <div>
      </div>
    </div>
