<div id="commerceCustomizationBody-002" class="perso-cc-modal">
    <div class="perso-cc-modal__title-layout">
        <div class="perso-wrap-ellipsis perso-cc-modal__title-cname" data-ng-bind="customization.name"></div>
        <div class="perso-cc-modal__title-status" data-ng-class="customizationStatus">{{ '(' + customizationStatusText + ')' }}</div>
        <span> > </span>
        <div class="perso-wrap-ellipsis perso-cc-modal__title-vname" data-ng-bind="variation.name"></div>
        <div class="perso-cc-modal__title-status" data-ng-class="variationStatus">{{' (' + variationStatusText + ')'}}</div>
    </div>
    <div class="form-group perso-cc-modal__content-layout">
        <label for="commerce-customization-type-1" class="personalization-modal__label" data-translate="personalization.modal.commercecustomization.action.type"></label>
        <ui-select id="commerce-customization-type-1" class="form-control" ng-model="select.type" theme="select2" search-enabled="false">
            <ui-select-match>
                <span data-ng-bind="$select.selected.text | translate"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in availableTypes" position="down">
                <span data-ng-bind="item.text | translate"></span>
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="form-group perso-cc-modal__content-layout">
        <ng-include src="select.type.template" />
    </div>
    <div class="select2-choices">
        <div class="ui-select-match-item select2-search-choice perso-cc-modal__ui-select--small" data-ng-repeat="action in getActionsToDisplay()">
            <span data-ng-bind="displayAction(action)"></span>
            <span class="ui-select-match-close select2-search-choice-close" data-ng-click="removeSelectedAction(action)"></span>
        </div>
    </div>
</div>