<div class="y-tree-row" ng-init="customization.isCollapsed=true" ng-class="allCustomizationsCollapsed()? 'active-level' : 'inactive-level'">
    <div class="row desktop-layout hidden-sm hidden-xs customization-rank-{{customization.rank}}-row">
        <div class="pull-left" data-ng-click="customization.isCollapsed =! customization.isCollapsed; customizationClickAction(customization)">
            <a class="btn btn-link category-toggle" title="{{customization.isCollapsed ? 'personalization.commons.icon.title.expand' : 'personalization.commons.icon.title.collapse' | translate}}">
                <span data-ng-class="customization.isCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'" class="glyphicon customization__glyphicon-chevron"></span>
            </a>
        </div>
        <div ui-tree-handle class="y-tree-row__angular-ui-tree-handle">
            <div class="col-md-4 text-left">
                <p class="perso-library__primary-data">
                    <span class="personalizationsmartedit-customization-code" ng-bind="customization.name"></span>
                </p>
            </div>
            <div class="col-md-1 text-left" data-ng-bind="(customization.variations | statusNotDeleted).length || 0">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1 col-reset-padding text-left perso-library__status-value" data-ng-class="getActivityStateForCustomization(customization)">
                <span ng-bind="getEnablementTextForCustomization(customization)" class="perso-library__status-layout"></span>
            </div>
            <div class="col-xs-2 perso-library__dates-layout">
                <div data-ng-show="customization.status === PERSONALIZATION_MODEL_STATUS_CODES.ENABLED" class="text-center perso-library__dates-value">
                    <span data-ng-bind="getFormattedDate(customization.enabledStartDate)"></span>
                </div>
            </div>
            <div class="col-xs-2 perso-library__dates-layout">
                <div data-ng-show="customization.status === PERSONALIZATION_MODEL_STATUS_CODES.ENABLED" class="text-center perso-library__dates-value">
                    <span data-ng-bind="getFormattedDate(customization.enabledEndDate)"></span>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <div class="dropdown">
                <button type="button" class="btn btn-link dropdown-toggle pull-right" data-toggle="dropdown">
                    <span class="hyicon hyicon-more perso-library__hyicon-more"></span>
                </button>
                <ul class="dropdown-menu pull-right text-left" role="menu">
                    <li>
                        <a data-ng-click="editCustomizationAction(customization)" data-translate="personalization.modal.manager.customization.options.edit"></a>
                    </li>
                    <li ng-class="isFilterEnabled() || $first ? 'disabled' : '' ">
                        <a data-ng-click="(isFilterEnabled() || $first) ? $event.stopPropagation() : setCustomizationRank(customization, -1)" data-translate="personalization.modal.manager.customization.options.moveup"></a>
                    </li>
                    <li ng-class="isFilterEnabled() || $last ? 'disabled' : '' ">
                        <a data-ng-click="(isFilterEnabled() || $last) ? $event.stopPropagation() : setCustomizationRank(customization, 1)" data-translate="personalization.modal.manager.customization.options.movedown"></a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a data-ng-click="deleteCustomizationAction(customization)" data-translate="personalization.modal.manager.customization.options.delete"></a>
                    </li>
                </ul>
            </div>
        </div>

        <!--end contextual menu dropdown-->
    </div>
    <!--end desktop-layout for customization row-->

    <div class="row mobile-layout visible-sm visible-xs customization-rank-{{customization.rank}}-row">
        <div class="pull-left" data-ng-click="customization.isCollapsed =! customization.isCollapsed; customizationClickAction(customization)">
            <a class="btn btn-link category-toggle" title="{{customization.isCollapsed ? 'personalization.commons.icon.title.expand' : 'personalization.commons.icon.title.collapse' | translate}}">
                <span data-ng-class="customization.isCollapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'" class="glyphicon customization__glyphicon-chevron"></span>
            </a>
        </div>
        <div class="col-xs-10 text-left" ng-click="customization.isCollapsed =! customization.isCollapsed; customizationClickAction(customization)">
            <p class="perso-library__primary-data">
                <span class="personalizationsmartedit-customization-code" ng-bind="customization.name"></span>
            </p>
            <div class="mobile-data">
                <span class="tree-head y-tree-row__mobile-layout__header" data-translate="personalization.modal.manager.grid.header.variations"></span>
                <p ng-bind="(customization.variations | statusNotDeleted).length || 0"></p>
            </div>
            <div class="mobile-data perso-library__status-value" data-ng-class="getActivityStateForCustomization(customization)">
                <span ng-bind="getEnablementTextForCustomization(customization)"></span>
            </div>
            <div ng-show="customization.status === PERSONALIZATION_MODEL_STATUS_CODES.ENABLED">
                <div class="mobile-data" ng-if='customization.enabledStartDate || customization.enabledEndDate'>
                    <span ng-if='customization.enabledStartDate' class="tree-head y-tree-row__mobile-layout__header" data-translate="personalization.modal.manager.grid.header.startdate"></span>
                    <p ng-bind="getFormattedDate(customization.enabledStartDate)"></p>
                    <span ng-if='customization.enabledEndDate' class="tree-head y-tree-row__mobile-layout__header" data-translate="personalization.modal.manager.grid.header.enddate"></span>
                    <p ng-bind="getFormattedDate(customization.enabledEndDate)"></p>
                </div>
            </div>
        </div>
        <div class="pull-left">
            <div class="mobile-more-menu">
                <div class="dropdown">
                    <button type="button" class="btn btn-link dropdown-toggle pull-right" data-toggle="dropdown">
                        <span class="hyicon hyicon-more perso-library__hyicon-more"></span>
                    </button>
                    <ul class="dropdown-menu pull-right text-left" role="menu">
                        <li>
                            <a data-ng-click="editCustomizationAction(customization)" data-translate="personalization.modal.manager.customization.options.edit"></a>
                        </li>
                        <li ng-class="isFilterEnabled() || $first ? 'disabled' : '' ">
                            <a data-ng-click="(isFilterEnabled() || $first) ? $event.stopPropagation() : setCustomizationRank(customization, -1)" data-translate="personalization.modal.manager.customization.options.moveup"></a>
                        </li>
                        <li ng-class="isFilterEnabled() || $last ? 'disabled' : '' ">
                            <a data-ng-click="(isFilterEnabled() || $last) ? $event.stopPropagation() : setCustomizationRank(customization, 1)" data-translate="personalization.modal.manager.customization.options.movedown"></a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a data-ng-click="deleteCustomizationAction(customization)" data-translate="personalization.modal.manager.customization.options.delete"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end contextual menu dropdown-->
        </div>
    </div>
    <!--end mobile-layout for customization row-->
</div>
<!--end angular-ui-tree-handle-->
<div data-uib-collapse="customization.isCollapsed">
    <div ui-tree-nodes ng-model="customization.variations">
        <div class="y-tree-row child-row active-level" data-ng-class="{'perso-library__angular-ui-tree-drag': variation.isDragging}" ui-tree-node ng-repeat="variation in customization.variations | orderBy:'rank'" ng-if="statusNotDeleted(variation)" ng-init="variation.isCommerceCustomizationEnabled=isCommerceCustomizationEnabled()">
            <div class="row desktop-layout variation-rank-{{variation.rank}}-row hidden-sm hidden-xs" ng-class="$last ? 'active-level--last':''">
                <div class="pull-left">
                    <span class="perso-library__cc-marker" data-ng-class="{'perso-library__cc-icon': hasCommerceCustomization(variation)}" data-uib-tooltip="{{getCommerceCustomizationTooltip(variation)}}" tooltip-placement="top-left"></span>
                </div>
                <div ui-tree-handle class="y-tree-row__angular-ui-tree-handle">
                    <div class="col-xs-5 text-left">
                        <span ng-bind="variation.name"></span>
                    </div>
                    <div class="col-xs-1 text-left" data-ng-bind="variation.numberOfComponents">
                    </div>
                    <div class="col-xs-1 col-reset-padding text-left perso-library__status-value" data-ng-class="getActivityStateForVariation(customization,variation)">
                        <span ng-bind="getEnablementTextForVariation(variation)" class="perso-library__status-layout"></span>
                    </div>
                    <div class="col-xs-4 perso-library__dates-layout"></div>
                </div>
                <div class="pull-right">
                    <div class="dropdown">
                        <button type="button" class="btn btn-link dropdown-toggle pull-right" data-toggle="dropdown">
                            <span class="hyicon hyicon-more perso-library__hyicon-more"></span>
                        </button>
                        <ul class="dropdown-menu pull-right text-left" role="menu">
                            <li>
                                <a data-ng-click="editVariationAction(customization, variation)" data-translate="personalization.modal.manager.variation.options.edit"></a>
                            </li>
                            <li>
                                <a data-ng-click="toogleVariationActive(customization,variation)" ng-bind="getEnablementActionTextForVariation(variation)"></a>
                            </li>
                            <li ng-show="variation.isCommerceCustomizationEnabled">
                                <a data-ng-click="manageCommerceCustomization(customization, variation)" data-translate="personalization.modal.manager.variation.options.commercecustomization"></a>
                            </li>
                            <li ng-class="$first ? 'disabled' : '' ">
                                <a data-ng-click="$first ? $event.stopPropagation() : setVariationRank(customization, variation, -1)" data-translate="personalization.modal.manager.variation.options.moveup"></a>
                            </li>
                            <li ng-class="$last ? 'disabled' : '' ">
                                <a data-ng-click="$last ? $event.stopPropagation() : setVariationRank(customization, variation, 1)" data-translate="personalization.modal.manager.variation.options.movedown"></a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li ng-class="isDeleteVariationEnabled(customization) ? '' : 'disabled' ">
                                <a data-ng-click="deleteVariationAction(customization, variation, $event)" data-translate="personalization.modal.manager.variation.options.delete"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end contextual menu dropdown-->
            </div>
            <!--end desktop-layout for variation row-->
            <div class="row mobile-layout visible-sm visible-xs variation-rank-{{variation.rank}}-row" ng-class="$last ? 'active-level--last':''">
                <div class="pull-left">
                    <span class="perso-library__cc-marker" data-ng-class="{'perso-library__cc-icon': hasCommerceCustomization(variation)}" data-uib-tooltip="{{getCommerceCustomizationTooltip(variation)}}" tooltip-placement="top-left"></span>
                </div>
                <div class="col-xs-10 text-left" ng-click="customization.isCollapsed =! customization.isCollapsed; customizationClickAction(customization)">
                    <p ng-bind="variation.name"></p>
                    <div class="mobile-data">
                        <span class="tree-head y-tree-row__mobile-layout__header" data-translate="personalization.modal.manager.grid.header.components"></span>
                        <div ng-bind="variation.numberOfComponents"></div>
                    </div>
                    <div class="mobile-data perso-library__status-value" data-ng-class="getActivityStateForVariation(customization,variation)">
                        <span ng-bind="getEnablementTextForVariation(variation)"></span>
                    </div>
                </div>
                <div class="pull-left">
                    <div class="mobile-more-menu">
                        <div class="dropdown">
                            <button type="button" class="btn btn-link dropdown-toggle pull-right" data-toggle="dropdown">
                                <span class="hyicon hyicon-more perso-library__hyicon-more"></span>
                            </button>
                            <ul class="dropdown-menu pull-right text-left" role="menu">
                                <li>
                                    <a data-ng-click="editVariationAction(customization, variation)" data-translate="personalization.modal.manager.variation.options.edit"></a>
                                </li>
                                <li>
                                    <a data-ng-click="toogleVariationActive(customization,variation)" ng-bind="getEnablementActionTextForVariation(variation)"></a>
                                </li>
                                <li ng-show="variation.isCommerceCustomizationEnabled">
                                    <a data-ng-click="manageCommerceCustomization(customization, variation)" data-translate="personalization.modal.manager.variation.options.commercecustomization"></a>
                                </li>
                                <li ng-class="$first ? 'disabled' : '' ">
                                    <a data-ng-click="$first ? $event.stopPropagation() : setVariationRank(customization, variation, -1)" data-translate="personalization.modal.manager.variation.options.moveup"></a>
                                </li>
                                <li ng-class="$last ? 'disabled' : '' ">
                                    <a data-ng-click="$last ? $event.stopPropagation() : setVariationRank(customization, variation, 1)" data-translate="personalization.modal.manager.variation.options.movedown"></a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li ng-class="isDeleteVariationEnabled(customization) ? '' : 'disabled' ">
                                    <a data-ng-click="deleteVariationAction(customization, variation, $event)" data-translate="personalization.modal.manager.variation.options.delete"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end contextual menu dropdown-->
                </div>
            </div>
            <!--end mobile-layout for variation row-->
        </div>
        <!--end variation-repeat-->
    </div>
</div>
<!--end collapse-->
</div>