<div class="row tree-head hidden-sm hidden-xs">
    <div class="col-md-4 text-left" data-translate="personalization.modal.manager.grid.header.customization"></div>
    <div class="col-md-1 col-reset-padding" data-translate="personalization.modal.manager.grid.header.variations"></div>
    <div class="col-md-1 col-reset-padding se-nowrap-ellipsis" data-translate="personalization.modal.manager.grid.header.components"></div>
    <div class="col-md-1 col-reset-padding">
        <span class="perso-library__status-header" data-translate="personalization.modal.manager.grid.header.status"></span>
    </div>
    <div class="col-md-2 text-center" data-translate="personalization.modal.manager.grid.header.startdate"></div>
    <div class="col-md-2 text-center" data-translate="personalization.modal.manager.grid.header.enddate"></div>
</div>
<div class="row tree-head visible-sm visible-xs">
    <div class="col-xs-10 text-left" data-translate="personalization.modal.manager.grid.header.customization"></div>
</div>