<!DOCTYPE html>
<html>

<head>

    <!--3rd prty libs-->
    <script src="../../../web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="../../../web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/thirdparties/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/dist/smartedit/css/inner-styling.css">

    <!--libs-->
    <script src="../../../web/common/services/jquery/yjQuery.js"></script>
    <script src="../../../web/common/services/lodash/ylodash.js"></script>
    <script src="../../../web/common/services/functions.js"></script>
    <script src="../../../web/common/services/eventservice.js"></script>
    <script src="../../../web/common/services/ComponentHandlerService.js"></script>
    <script src="../../../web/common/services/gatewayFactory.js"></script>
    <script src="innerapp.js"></script>
</head>



<body data-ng-app="innerapp"
    data-ng-controller="defaultController"
    data-smartedit-ready="true">
    <label>Smart edit (this is an iFrame !)</label>
    <br/>
    <input type="text"
        id="field2"
        data-ng-model="$shared.myField" />
    <button id="sendMessage"
        class="btg btg-default"
        data-ng-click="notifyParent();">send message</button>
    <label id="acknowledged">{{acknowledged}}</label>
    <br/>
    <label>(first listener; gateway 1) (set to succeed :
        <input type="checkbox"
            id="check1"
            data-ng-model="listener1WillSucceed" />) message: </label>
    <label id="message1">{{message}}</label>
    <br/>
    <label>(second listener; gateway 1) (set to succeed :
        <input type="checkbox"
            id="check2"
            data-ng-model="listener2WillSucceed" />) message: </label>
    <label id="message2">{{message2}}</label>
    <br />
    <label>(third listener; gateway 2) (set to succeed :
        <input type="checkbox"
            id="check3"
            data-ng-model="listener3WillSucceed" />) message: </label>
    <label id="message3">{{message3}}</label>
</body>

</html>