<!DOCTYPE html>
<html>

<head>

    <!--3rd prty libs-->
    <script src="../../../web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="../../../web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/dist/smartedit/css/outer-styling.css">

    <!--libs-->
    <script src="../../../web/common/services/jquery/yjQuery.js"></script>
    <script src="../../../web/common/services/lodash/ylodash.js"></script>
    <script src="../../../web/common/services/functions.js"></script>
    <script src="../../../web/common/services/eventservice.js"></script>
    <script src="../../../web/common/services/ComponentHandlerService.js"></script>
    <script src="../../../web/common/services/gatewayFactory.js"></script>
    <script src="../../../web/common/services/templateCacheDecorator.js"></script>
    <script src="outerapp.js"></script>
</head>



<body data-ng-app="outerapp"
    data-ng-controller="defaultController">
    <label>Smart edit container</label>
    <br/>
    <input type="text"
        id="field1"
        data-ng-model="$shared.myField">
    <button id="sendMessage1"
        class="btg btg-default"
        data-ng-click="notifyIframeOnGateway1();">send message on gateway 1</button>
    <button id="sendMessage2"
        class="btg btg-default"
        data-ng-click="notifyIframeOnGateway2();">send message on gateway 2</button>
    <label id="acknowledged">{{acknowledged}}</label>
    <br/>
    <label>message:</label>
    <label id="message">{{message}}</label>
    <hr/>

    <iframe src="iframe.html"
        id="ySmartEditFrame"
        style="width:100%;height:800px"></iframe>
</body>

</html>