<!DOCTYPE html>
<html>

<head>

    <!--3rd prty libs-->
    <script src="../../../../web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="../../../../web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="../../../../web/webroot/static-resources/dist/smartedit/css/outer-styling.css">

    <!--libs-->
    <script src="../../../../web/common/services/jquery/yjQuery.js"></script>
    <script src="../../../../web/common/services/lodash/ylodash.js"></script>
    <script src="../../../../web/common/services/functions.js"></script>
    <script src="../../../../web/common/services/resourceLocations.js"></script>
    <script src="../../../../web/common/core/services/httpErrorInterceptor/default/retryInterceptor/operationContextService.js"></script>
    <script src="../../../../web/common/services/restServiceFactory.js"></script>
    <script src="../../../../web/common/services/languageService.js"></script>
    <script src="../../../../web/common/services/interceptorHelper.js"></script>
    <script src="../../../../web/common/services/i18nInterceptor.js"></script>
    <script src="../../../../web/common/services/translateService.js"></script>
    <script src="../../../../web/common/services/modalService.js"></script>

    <script src="../../../../web/common/services/ComponentHandlerService.js"></script>
    <script src="../../../../web/common/services/eventservice.js"></script>
    <script src="../../../../web/common/services/gatewayFactory.js"></script>
    <script src="../../../../web/common/services/gatewayProxy.js"></script>
    <script src="../../../../web/smarteditcontainer/services/storageService.js"></script>
    <script src="../../../../web/common/services/wizard/wizardService.js"></script>
    <script src="../../../../web/common/services/eventservice.js"></script>
    <script src="../../../../web/common/services/gatewayFactory.js"></script>
    <script src="../../../../web/common/services/gatewayProxy.js"></script>
    <script src="../../../../web/smarteditcontainer/services/storageService.js"></script>
    <script src="../../../../web/smarteditcontainer/services/confirmationModalService.js"></script>
    <script src="../../../../web/common/services/templateCacheDecorator.js"></script>
    <script src="../../../../jsTarget/templates.js"></script>
    <script src="app.js"></script>
    <base href="../../../../" />
</head>

<body data-ng-app="app">

    <div data-ng-controller="defaultController">
        <button id="wizard"
            class="btn btn-primary"
            data-ng-click="openWizard()">Wizard Demo</button>
        <div>
            Person: {{ person }}
        </div>
    </div>

</body>

</html>