@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_explorerTree-extendsplitlayout-catalog-selector-variables-tmp.scss";

.yw-extendedsplitlayout-content-box {
    .yw-explorerTree-widget.yw-widget-mold-light {
        .yw-catalog-selector:before, .yw-catalog-selector:after {
            background: $explorerTree-light__toolbar-catalog-selector--border-color;
        }
        .yw-explorerTree-toolbar {
            .yw-catalog-selector button {
                color: $explorerTree-light__toolbar-catalog-selector--color;
                background: $explorerTree-light__toolbar-catalog-selector--background;
            }
            .yw-catalog-selector button.z-button + span:empty {
                color: $explorerTree-light__toolbar-catalog-selector-dropdown-icon--color;
                background: $explorerTree-light__toolbar-catalog-selector-dropdown-icon--bg-color;
            }
        }
    }
}