<!DOCTYPE html>
<html>

<head>
    <base href="/web/webroot/" />

    <!--3rd prty libs-->
    <script src="static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="static-resources/dist/smartedit/css/outer-styling.css">
    <link rel="stylesheet"
        href="static-resources/thirdparties/angular-ui-select/dist/select.min.css">
    <link rel="stylesheet"
        href="static-resources/thirdparties/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet"
        href="static-resources/thirdparties/select2/select2.css">
    <link rel="stylesheet"
        href="static-resources/thirdparties/selectize/dist/css/selectize.default.css">
    <link rel="stylesheet"
        href="/smarteditcontainerJSTests/e2e/genericEditor/common/common.css" />

    <script src="static-resources/smarteditloader/js/smarteditloader.js"></script>
    <script src="static-resources/smarteditcontainer/js/smarteditcontainer.js"></script>

    <script src="/smarteditcontainerJSTests/e2e/genericEditor/common/common.js"></script>
    <script src="/smarteditcontainerJSTests/e2e/genericEditor/componentPermanentPOST/genericEditorApp.js"></script>
    <script src="/smarteditcontainerJSTests/e2e/genericEditor/componentPermanentPOST/backendMocks.js"></script>
</head>

<body data-ng-app="genericEditorApp"
    data-ng-controller="defaultController as cont">
    <span>ticketId:&nbsp;</span>
    <span id="ticketId">{{ticketId}}</span>
    <generic-editor data-smartedit-component-id="cont.thesmarteditComponentId"
        data-smartedit-component-type="cont.thesmarteditComponentType"
        data-structure-api="cont.structureApi"
        data-content-api="cont.contentApi"
        data-update-callback="cont.updateCallback"
        display-submit="cont.displaySubmit"
        display-cancel="cont.displayCancel">
    </generic-editor>

</body>

</html>