<div class="row">
  <div class="container-lg col-md-6">
    <div class="account-section-content">
      <div class="account-section-form">
        <div id="customer-ticketing-alerts"></div>
          <div id="NotEmpty-supportTicketForm-subject" class="help-block" style="display: none;">
            <span id="subject-errors"></span>
          </div>
          <div id="Size-supportTicketForm-subject" class="help-block" style="display: none;"></div>
        <div *ngIf="error"  class="error">{{error.message}}</div>
        <div class="form-group" >
            <label class="control-label" for="createTicket-message">Message<span class="skip"></span>
            </label>
            <textarea id="createTicket-message" name="message" class="form-control" [(ngModel)]="ticket.shortDescription">
            </textarea>
          </div>
          <div class="form-group" *ngIf="ticket">
            <label class="control-label">Category</label>
            <select class="form-control" [(ngModel)]="ticket.type">
              <option *ngFor="let ticketType of ticketTypes" [attr.value]="ticketType.type" >
                {{ticketType.description}}
              </option>
            </select>
          </div>
          <div id="customer-ticketing-buttons" class="form-actions">
            <div class="accountActions">
              <div class="row">
                <div class="col-sm-6 col-sm-push-6 accountButtons">
                  <button class="btn btn-primary btn-block btn-create" id="addTicket"  (click)="createTicket()" [class.disabled]="!canCreateTicket()">
                    Submit</button>
                </div>
                <div class="col-sm-6 col-sm-pull-6 accountButtons">
                  <button class="btn btn-default btn-block btn-back" (click)="goBack()"> Back</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
