@import "../support/_collaboration-variables.scss";

.yw-collaboration-center-overview {
    > .yw-listLayout-container > .widget_children_list > .widget_cnt {
        background-color: $_collaboration-center-overview-layout-element--bg-color;
    }

    .yw-workflow-detailed-name {
        span {
            display: block;
        }
        .yw-workflow-currenttask {
            padding-top: $_collaboration-center-overview__listitem-details-current--padding-top;
            font-size: $_collaboration-center-overview__listitem-details-current--font-size;
        }
    }

    &-workflows {
        .yw-listview-actioncontainer {
            .yw-listview-actionSlot {
                float: right;
            }
        }
        .yw-workflowsearch-filters {
            margin: 0;
        }
    }
}
