<!DOCTYPE html>
<html>

<head>

    <base href="/web/webroot/" />

    <!--3rd prty libs-->
    <script src="static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="static-resources/dist/smartedit/css/outer-styling.css">

    <!--libs-->

    <script src="../../../web/common/services/jquery/yjQuery.js"></script>
    <script src="../../../web/common/services/lodash/ylodash.js"></script>
    <script src="../../../web/common/services/functions.js"></script>
    <script src="../../../web/common/services/eventservice.js"></script>
    <script src="../../../web/common/services/ComponentHandlerService.js"></script>
    <script src="../../../web/common/services/gatewayFactory.js"></script>
    <script src="../../../web/common/services/gatewayProxy.js"></script>
    <script src="../../../web/common/core/services/toolbarServiceInterface.js"></script>
    <script src="../../../web/common/services/loadConfigurationsService.js"></script>
    <script src="../../../web/common/services/resourceLocations.js"></script>
    <script src="../../../web/smarteditcontainer/services/storageService.js"></script>

    <script src="../../../web/common/services/languageService.js"></script>
    <script src="../../../web/common/core/services/httpErrorInterceptor/default/retryInterceptor/operationContextService.js"></script>
    <script src="../../../web/common/services/restServiceFactory.js"></script>
    <script src="../../../web/common/services/interceptorHelper.js"></script>
    <script src="../../../web/common/services/i18nInterceptor.js"></script>
    <script src="../../../web/common/services/translateService.js"></script>
    <script src="../../../web/smarteditcontainer/core/toolbar/toolbar.js"></script>
    <script src="../../../web/common/services/templateCacheDecorator.js"></script>
    <script src="../../jsTarget/templates.js"></script>

    <script src="../../../web/smarteditcontainer/services/iframeClickDetectionService.js"></script>

    <script>
    angular.module('sharedDataServiceModule', []).factory('sharedDataService', function() {
        return {
            set: function() {}
        }
    })
    </script>
    <script src="../../smarteditcontainerJSTests/e2e/toolbars/itemMechanism/outerapp.js"></script>
</head>



<body data-ng-app="outerapp"
    data-ng-controller="defaultController">
    <label>Smart edit container</label>
    <toolbar data-toolbar-name="toolbar"></toolbar>
    <br/>
    <button id="sendActionsOuter"
        class="btg btg-default"
        data-ng-click="sendActions()">Send actions from outer to outer</button>
    <label id="message">{{message}}</label>

    <br/>
    <button id="removeActionsOuter"
        class="btg btg-default"
        data-ng-click="removeActions()">Remove actions from outer</button>

    <iframe id="ySmartEditFrame"
        src="../../smarteditcontainerJSTests/e2e/toolbars/itemMechanism/iframe.html"
        style="width:100%;height:800px"></iframe>
</body>

</html>