<!DOCTYPE html>
<html>

<head>
    <base href="../../../../../" />

    <!--3rd prty libs-->
    <script src="../../../web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="../../../web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/dist/smartedit/css/outer-styling.css">
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/thirdparties/angular-ui-select/dist/select.min.css">
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/thirdparties/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/thirdparties/select2/select2.css">
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/thirdparties/selectize/dist/css/selectize.default.css">
    <link rel="stylesheet"
        href="../../../web/webroot/static-resources/techne/css/techne.min.css">

    <script src="../../../web/webroot/static-resources/smarteditloader/js/smarteditloader.js"></script>
    <script src="../../../web/webroot/static-resources/smarteditcontainer/js/smarteditcontainer.js"></script>

    <script src="/smarteditcontainerJSTests/e2e/yMessage/yMessageApp.js"></script>
    <script src="/smarteditcontainerJSTests/e2e/yMessage/backendMocks.js"></script>


</head>


<body data-ng-app="smarteditloader">
    <y-message data-message-id="y-message-id"
        data-type="info">
        <message-title>
            {{ 'test.title' | translate }}
        </message-title>
        <message-description>
            {{ 'test.description' | translate }}
        </message-description>
    </y-message>

    <y-message data-message-id="y-message-without-type-id">
        <message-title>
            {{ 'test.title' | translate }}
        </message-title>
        <message-description>
            {{ 'test.description' | translate }}
        </message-description>
    </y-message>

    <y-message>
    </y-message>

    <y-message data-message-id="y-message-with-complex-description-id">
        <message-title>
            {{ 'test.title' | translate }}
        </message-title>
        <message-description>
            <div>
                <strong>Some test</strong> value <a href="link/">link</a>.
                <code>
                    <span class="inner-class">data</span>
                </code> test.
            </div>
        </message-description>
    </y-message>
</body>