<h1><code ng:non-bindable="">alertService</code>
<div><span class="hint">service in module <code ng:non-bindable="">alertServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="alertservicemodule-alertservice-page"><p>Smartedit has only an empty (proxied) implementation of alertService.<br />
See the alertServiceModule under SmartEdit Container for further details.</p>
</div></div>
</div>
