<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="alertservicemodule-page"><p>Smartedit has only an empty (proxied) implementation of alertService.<br />
See the alertServiceModule under SmartEdit Container for further details.</p>
</div></div>
