<h1><code ng:non-bindable="">authenticationService</code>
<div><span class="hint">service in module <code ng:non-bindable="">authenticationModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-page"><p>The authenticationService is used to authenticate and logout from SmartEdit.
It also allows the management of entry points used to authenticate the different resources in the application.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_isauthentrypoint">isAuthEntryPoint(resource)</h3>
<div class="isauthentrypoint"><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-isauthentrypoint-page"><p>Indicates if the resource URI provided is one of the registered authentication entry points.</p>
</div><h5 id="methods_isauthentrypoint_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>resource</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-isauthentrypoint-page"><p>The URI to compare</p>
</div></td></tr></tbody></table><h5 id="methods_isauthentrypoint_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-isauthentrypoint-page"><p>Flag that will be true if the resource URI provided is an authentication entry point.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_isauthenticated">isAuthenticated(resource)</h3>
<div class="isauthenticated"><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-isauthenticated-page"><p>Indicates if the resource URI provided maps to a registered authentication entry point and the associated entry point has an authentication token.</p>
</div><h5 id="methods_isauthenticated_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>resource</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-isauthenticated-page"><p>The URI to compare</p>
</div></td></tr></tbody></table><h5 id="methods_isauthenticated_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-isauthenticated-page"><p>Flag that will be true if the resource URI provided maps to an authentication entry point which has an authentication token.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_authenticate">authenticate(resource)</h3>
<div class="authenticate"><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-authenticate-page"><p>Authenticates the current SmartEdit user against the entry point assigned to the requested resource. If no
suitable entry point is found, the resource will be authenticated against the
<a href="#/smartEdit/resourceLocationsModule.object:DEFAULT_AUTHENTICATION_ENTRY_POINT">DEFAULT_AUTHENTICATION_ENTRY_POINT</a></p>
</div><h5 id="methods_authenticate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>resource</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-authenticate-page"><p>The URI identifying the resource to access.</p>
</div></td></tr></tbody></table><h5 id="methods_authenticate_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-authenticate-page"><p>A promise that resolves if the authentication is successful.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_filterentrypoints">filterEntryPoints(resource)</h3>
<div class="filterentrypoints"><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-filterentrypoints-page"><p>Will retrieve all relevant authentication entry points for a given resource.
A relevant entry point is an entry value of the authenticationMap found in <a href="#/smartEdit/sharedDataServiceModule.service:sharedDataService">sharedDataService</a>.The key used in that map is a regular expression matching the resource.
When no entry point is found, the method returns the <a href="#/smartEdit/resourceLocationsModule.object:DEFAULT_AUTHENTICATION_ENTRY_POINT">DEFAULT_AUTHENTICATION_ENTRY_POINT</a></p>
</div><h5 id="methods_filterentrypoints_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>resource</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-filterentrypoints-page"><p>The URL for which a relevant authentication entry point must be found.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_logout">logout()</h3>
<div class="logout"><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-logout-page"><p>The logout method removes all stored authentication tokens and redirects to the
landing page.</p>
</div></div>
</li>
<li><h3 id="methods_setreauthinprogress">setReAuthInProgress(entryPoint)</h3>
<div class="setreauthinprogress"><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-setreauthinprogress-page"><p>Used to indicate that the user is currently within a re-authentication flow for the given entry point.
This flow is entered by default through authentication token expiry.</p>
</div><h5 id="methods_setreauthinprogress_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entryPoint</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="authenticationmodule-service-page authenticationmodule-service-authenticationservice-setreauthinprogress-page"><p>The entry point which the user must be re-authenticated against.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
