<h1><code ng:non-bindable="">catalogService</code>
<div><span class="hint">service in module <code ng:non-bindable="">catalogServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-page"><p>The Catalog Service fetches catalogs for a specified site or for all sites registered on the hybris platform using
REST calls to the cmswebservices Catalog Version Details API.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_clearcache">clearCache()</h3>
<div class="clearcache"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-clearcache-page"><p>Empties the caches storing catalog service information.</p>
</div></div>
</li>
<li><h3 id="methods_getactivecontentcatalogversionbycatalogid">getActiveContentCatalogVersionByCatalogId(contentCatalogId)</h3>
<div class="getactivecontentcatalogversionbycatalogid"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getactivecontentcatalogversionbycatalogid-page"><p>Finds the version name that is flagged as active for the given content catalog.</p>
</div><h5 id="methods_getactivecontentcatalogversionbycatalogid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>contentCatalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getactivecontentcatalogversionbycatalogid-page"><p>The UID of content catalog for which to retrieve its active catalog version name.</p>
</div></td></tr></tbody></table><h5 id="methods_getactivecontentcatalogversionbycatalogid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getactivecontentcatalogversionbycatalogid-page"><p>the version name</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getactiveproductcatalogversionbycatalogid">getActiveProductCatalogVersionByCatalogId(productCatalogId)</h3>
<div class="getactiveproductcatalogversionbycatalogid"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getactiveproductcatalogversionbycatalogid-page"><p>Finds the version name that is flagged as active for the given product catalog.</p>
</div><h5 id="methods_getactiveproductcatalogversionbycatalogid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>productCatalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getactiveproductcatalogversionbycatalogid-page"><p>The UID of product catalog for which to retrieve its active catalog version name.</p>
</div></td></tr></tbody></table><h5 id="methods_getactiveproductcatalogversionbycatalogid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getactiveproductcatalogversionbycatalogid-page"><p>the version name</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getallcatalogsgroupedbyid">getAllCatalogsGroupedById()</h3>
<div class="getallcatalogsgroupedbyid"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getallcatalogsgroupedbyid-page"><p>Fetches a list of content catalog groupings for all sites.</p>
</div><h5 id="methods_getallcatalogsgroupedbyid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getallcatalogsgroupedbyid-page"><p>An array of catalog groupings sorted by catalog ID, each of which has a name, a catalog ID, and a list of
catalog version descriptors.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getallcontentcatalogsgroupedbyid">getAllContentCatalogsGroupedById()</h3>
<div class="getallcontentcatalogsgroupedbyid"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getallcontentcatalogsgroupedbyid-page"><p>Fetches a list of content catalog groupings for all sites.</p>
</div><h5 id="methods_getallcontentcatalogsgroupedbyid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getallcontentcatalogsgroupedbyid-page"><p>An array of catalog groupings sorted by catalog ID, each of which has a name, a catalog ID, and a list of
catalog version descriptors.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcatalogbyversion">getCatalogByVersion(siteUID, catalogVersion)</h3>
<div class="getcatalogbyversion"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogbyversion-page"><p>Fetches a list of catalogs for the given site UID and a given catalog version.</p>
</div><h5 id="methods_getcatalogbyversion_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>siteUID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogbyversion-page"><p>The UID of the site that the catalog versions are to be fetched.</p>
</div></td></tr><tr><td>catalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogbyversion-page"><p>The version of the catalog that is to be fetched.</p>
</div></td></tr></tbody></table><h5 id="methods_getcatalogbyversion_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogbyversion-page"><p>An array containing the catalog descriptor (if any). Each descriptor provides the following catalog properties:
catalog (name), catalogId, and catalogVersion.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcatalogversionbyuuid">getCatalogVersionByUuid(catalogVersionUuid, siteId)</h3>
<div class="getcatalogversionbyuuid"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogversionbyuuid-page"><p>Finds the catalog version descriptor identified by the provided UUID. An exception is thrown if no
match is found. </p>
</div><h5 id="methods_getcatalogversionbyuuid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalogVersionUuid</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogversionbyuuid-page"><p>The UID of the catalog version descriptor to find.</p>
</div></td></tr><tr><td>siteId <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogversionbyuuid-page"><p>the ID of the site where to perform the search. If no ID is provided, the search will
be performed on all permitted sites.</p>
</div></td></tr></tbody></table><h5 id="methods_getcatalogversionbyuuid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogversionbyuuid-page"><p>A promise that resolves to the catalog version descriptor found.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcatalogsforsite">getCatalogsForSite(siteUID)</h3>
<div class="getcatalogsforsite"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogsforsite-page"><p>Fetches a list of catalogs for the site that corresponds to the specified site UID.</p>
</div><h5 id="methods_getcatalogsforsite_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>siteUID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogsforsite-page"><p>The UID of the site that the catalog versions are to be fetched.</p>
</div></td></tr></tbody></table><h5 id="methods_getcatalogsforsite_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcatalogsforsite-page"><p>An array of catalog descriptors. Each descriptor provides the following catalog properties:
catalog (name), catalogId, and catalogVersion.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcontentcatalogactiveversion">getContentCatalogActiveVersion(uriContext)</h3>
<div class="getcontentcatalogactiveversion"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcontentcatalogactiveversion-page"><p>find the version that is flagged as active for the given uriContext
if no uriContext is provided, an attempt will be made to retrieve an experience from <a href="#/smartEdit/sharedDataServiceModule.sharedDataService">sharedDataService</a> </p>
</div><h5 id="methods_getcontentcatalogactiveversion_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcontentcatalogactiveversion-page"><p>the <a href="#/smartEdit/resourceLocationsModule.object:UriContext">UriContext</a>. Optional</p>
</div></td></tr></tbody></table><h5 id="methods_getcontentcatalogactiveversion_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcontentcatalogactiveversion-page"><p>the version name</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcontentcatalogsforsite">getContentCatalogsForSite(siteUID)</h3>
<div class="getcontentcatalogsforsite"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcontentcatalogsforsite-page"><p>Fetches a list of content catalogs for the site that corresponds to the specified site UID.</p>
</div><h5 id="methods_getcontentcatalogsforsite_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>siteUID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcontentcatalogsforsite-page"><p>The UID of the site that the catalog versions are to be fetched.</p>
</div></td></tr></tbody></table><h5 id="methods_getcontentcatalogsforsite_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getcontentcatalogsforsite-page"><p>An array of catalog descriptors. Each descriptor provides the following catalog properties:
catalog (name), catalogId, and catalog version descriptors.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getdefaultsiteforcontentcatalog">getDefaultSiteForContentCatalog(contentCatalogId)</h3>
<div class="getdefaultsiteforcontentcatalog"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getdefaultsiteforcontentcatalog-page"><p>Finds the ID of the default site configured for the provided content catalog. </p>
</div><h5 id="methods_getdefaultsiteforcontentcatalog_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>contentCatalogId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getdefaultsiteforcontentcatalog-page"><p>The UID of content catalog for which to retrieve its default site ID.</p>
</div></td></tr></tbody></table><h5 id="methods_getdefaultsiteforcontentcatalog_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getdefaultsiteforcontentcatalog-page"><p>the ID of the default site found.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getproductcatalogsforsite">getProductCatalogsForSite(siteUID)</h3>
<div class="getproductcatalogsforsite"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getproductcatalogsforsite-page"><p>Fetches a list of product catalogs for the site that corresponds to the specified site UID.</p>
</div><h5 id="methods_getproductcatalogsforsite_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>siteUID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getproductcatalogsforsite-page"><p>The UID of the site that the catalog versions are to be fetched.</p>
</div></td></tr></tbody></table><h5 id="methods_getproductcatalogsforsite_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-getproductcatalogsforsite-page"><p>An array of catalog descriptors. Each descriptor provides the following catalog properties:
catalog (name), catalogId, and catalog version descriptors.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_iscontentcatalogversionnonactive">isContentCatalogVersionNonActive(uriContext)</h3>
<div class="iscontentcatalogversionnonactive"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-iscontentcatalogversionnonactive-page"><p>Determines whether the catalog version identified by the given uriContext is a non active one
if no uriContext is provided, an attempt will be made to retrieve an experience from <a href="#/smartEdit/sharedDataServiceModule.sharedDataService">sharedDataService</a> </p>
</div><h5 id="methods_iscontentcatalogversionnonactive_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-iscontentcatalogversionnonactive-page"><p>the <a href="#/smartEdit/resourceLocationsModule.object:UriContext">UriContext</a>. Optional</p>
</div></td></tr></tbody></table><h5 id="methods_iscontentcatalogversionnonactive_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-iscontentcatalogversionnonactive-page"><p>true if the given catalog version is non active</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_retrieveuricontext">retrieveUriContext(uriContext)</h3>
<div class="retrieveuricontext"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-retrieveuricontext-page"><p>Convenience method to return a full <a href="#/smartEdit/resourceLocationsModule.object:UriContext">uriContext</a> to the invoker through a promise.
<br/>if uriContext is provided, it will be returned as such.
<br/>if uriContext is not provided, A uriContext will be built from the experience present in <a href="#/smartEdit/sharedDataServiceModule.sharedDataService">sharedDataService</a>.
if we fail to find a uriContext in sharedDataService, an exception will be thrown.</p>
</div><h5 id="methods_retrieveuricontext_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">=Object</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-retrieveuricontext-page"><p>An optional uriContext that, if provided, is simply returned wrapped in a promise</p>
</div></td></tr></tbody></table><h5 id="methods_retrieveuricontext_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-retrieveuricontext-page"><p>a <a href="#/smartEdit/resourceLocationsModule.object:UriContext">uriContext</a></p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_returnactivecatalogversionuids">returnActiveCatalogVersionUIDs(An)</h3>
<div class="returnactivecatalogversionuids"><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-returnactivecatalogversionuids-page"><p>Fetches all the active catalog version uuid&#39;s for a provided array of catalogs.</p>
</div><h5 id="methods_returnactivecatalogversionuids_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>An</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-returnactivecatalogversionuids-page"><p>array of catalogs objects. Each catalog object must have a versions array.</p>
</div></td></tr></tbody></table><h5 id="methods_returnactivecatalogversionuids_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="catalogservicemodule-service-page catalogservicemodule-service-catalogservice-returnactivecatalogversionuids-page"><p>An array of catalog version uuid&#39;s</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
