<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="catalogservicemodule-page"><h2 id="the-catalogservicemodule">The catalogServiceModule</h2>
<p>The Catalog Service module provides a service that fetches catalogs for a specified site or for all sites registered
on the hybris platform.</p>
</div></div>
