<h1><code ng:non-bindable="">componentHandlerService</code>
<div><span class="hint">service in module <code ng:non-bindable="">componentHandlerServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componenthandlerservicemodule-componenthandlerservice-page"><p>The service provides convenient methods to get DOM references of smartEdit components both in the original laye rof the storefornt and in the smartEdit overlay</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_methodsof_getallcomponentsselector">methodsOf_getAllComponentsSelector()</h3>
<div class="methodsof_getallcomponentsselector"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getallcomponentsselector-page"><p>Retrieves the yjQuery selector matching all smartEdit components that are not of type ContentSlot</p>
</div></div>
</li>
<li><h3 id="methods_methodsof_getallslotsselector">methodsOf_getAllSlotsSelector()</h3>
<div class="methodsof_getallslotsselector"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getallslotsselector-page"><p>Retrieves the yjQuery selector matching all smartEdit components that are of type ContentSlot</p>
</div></div>
</li>
<li><h3 id="methods_methodsof_getcatalogversionuuidfrompage">methodsOf_getCatalogVersionUUIDFromPage()</h3>
<div class="methodsof_getcatalogversionuuidfrompage"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcatalogversionuuidfrompage-page"><p>This extracts the catalogVersionUUID of the storefront page loaded in the smartedit iframe.
The UUID is different from the UID in that it is an encoding of uid and catalog version combined</p>
</div><h5 id="methods_methodsof_getcatalogversionuuidfrompage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcatalogversionuuidfrompage-page"><p>The page&#39;s UUID</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getcatalogversionuuid">methodsOf_getCatalogVersionUuid(component)</h3>
<div class="methodsof_getcatalogversionuuid"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcatalogversionuuid-page"><p>Gets the smartEdit component id of a given component</p>
</div><h5 id="methods_methodsof_getcatalogversionuuid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcatalogversionuuid-page"><p>the yjQuery component for which to get the id</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getcatalogversionuuid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcatalogversionuuid-page"><p>the component id</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getclosestsmarteditcomponent">methodsOf_getClosestSmartEditComponent(component)</h3>
<div class="methodsof_getclosestsmarteditcomponent"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getclosestsmarteditcomponent-page"><p>Returns the closest parent (or self) being a smartEdit component</p>
</div><h5 id="methods_methodsof_getclosestsmarteditcomponent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getclosestsmarteditcomponent-page"><p>the DOM/yjQuery element for which to search a parent</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_methodsof_getcomponent">methodsOf_getComponent(smarteditComponentId, smarteditComponentType, cssClass)</h3>
<div class="methodsof_getcomponent"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponent-page"><p>Retrieves the yjQuery wrapper around a smartEdit component identified by its smartEdit id, smartEdit type and an optional class
This method can only be invoked from the smartEdit application and not the smartEdit container.</p>
</div><h5 id="methods_methodsof_getcomponent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>smarteditComponentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponent-page"><p>the component id as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>smarteditComponentType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponent-page"><p>the component type as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>cssClass</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponent-page"><p>the css Class to further restrict the search on. This parameter is optional.</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getcomponent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponent-page"><p>a yjQuery object wrapping the searched component</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getcomponentinoverlay">methodsOf_getComponentInOverlay(smarteditComponentId, smarteditComponentType)</h3>
<div class="methodsof_getcomponentinoverlay"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponentinoverlay-page"><p>Retrieves the yjQuery wrapper around a smartEdit component of the overlay div identified by its smartEdit id, smartEdit type
This method can only be invoked from the smartEdit application and not the smartEdit container.</p>
</div><h5 id="methods_methodsof_getcomponentinoverlay_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>smarteditComponentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponentinoverlay-page"><p>the component id as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>smarteditComponentType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponentinoverlay-page"><p>the component type as per the smartEdit contract with the storefront</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getcomponentinoverlay_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponentinoverlay-page"><p>a yjQuery object wrapping the searched component</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getcomponentunderslot">methodsOf_getComponentUnderSlot(smarteditComponentId, smarteditComponentType, smarteditSlotId, cssClass)</h3>
<div class="methodsof_getcomponentunderslot"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponentunderslot-page"><p>Retrieves the yjQuery wrapper around a smartEdit component identified by its smartEdit id, smartEdit type and an optional class
This method can only be invoked from the smartEdit application and not the smartEdit container.</p>
</div><h5 id="methods_methodsof_getcomponentunderslot_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>smarteditComponentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponentunderslot-page"><p>the component id as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>smarteditComponentType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponentunderslot-page"><p>the component type as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>smarteditSlotId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponentunderslot-page"><p>the slot id of the slot containing the component as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>cssClass</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponentunderslot-page"><p>the css Class to further restrict the search on. This parameter is optional.</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getcomponentunderslot_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getcomponentunderslot-page"><p>a yjQuery object wrapping the searched component</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getfirstsmarteditcomponentchildren">methodsOf_getFirstSmartEditComponentChildren()</h3>
<div class="methodsof_getfirstsmarteditcomponentchildren"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getfirstsmarteditcomponentchildren-page"><p>This method can only be invoked from the smartEdit application and not the smartEdit container.
Get first level smartEdit component children for a given node, regardless how deep they are found.
The returned children may have different depths relatively to the parent:
Example: a call on the body would return 4 components with ids: 1,2,3,4
<pre class="prettyprint linenums">
&lt;body&gt;
        		 	    &lt;div&gt;
        			        &lt;component smartedit-component-id="1"&gt;
        			            &lt;component smartedit-component-id="1_1"&gt;&lt;/component&gt;
        			        &lt;/component&gt;
        			        &lt;component smartedit-component-id="2"&gt;
        			            &lt;component smartedit-component-id="2_1"&gt;&lt;/component&gt;
        			        &lt;/component&gt;
        			    &lt;/div&gt;

        			    &lt;component smartedit-component-id="3"&gt;
        			        &lt;component smartedit-component-id="3_1"&gt;&lt;/component&gt;
        			    &lt;/component&gt;

        			    &lt;div&gt;
        			        &lt;div&gt;
        			            &lt;component smartedit-component-id="4"&gt;
        			                &lt;component smartedit-component-id="4_1"&gt;&lt;/component&gt;
        			            &lt;/component&gt;
        			        &lt;/div&gt;
        			    &lt;/div&gt;
        			&lt;/body&gt;
</pre>
</div></div>
</li>
<li><h3 id="methods_methodsof_getfromselector">methodsOf_getFromSelector(selector)</h3>
<div class="methodsof_getfromselector"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getfromselector-page"><p>This is a wrapper around yjQuery selector</p>
</div><h5 id="methods_methodsof_getfromselector_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>selector</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getfromselector-page"><p>String selector as per yjQuery API</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getfromselector_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getfromselector-page"><p>a yjQuery object for the given selector</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getid">methodsOf_getId(component)</h3>
<div class="methodsof_getid"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getid-page"><p>Gets the smartEdit component id of a given component</p>
</div><h5 id="methods_methodsof_getid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getid-page"><p>the yjQuery component for which to get the id</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getid-page"><p>the component id</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getoriginalcomponent">methodsOf_getOriginalComponent(smarteditComponentId, smarteditComponentType)</h3>
<div class="methodsof_getoriginalcomponent"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponent-page"><p>Retrieves the yjQuery wrapper around a smartEdit component of the original storefront layer identified by its smartEdit id, smartEdit type
This method can only be invoked from the smartEdit application and not the smartEdit container.</p>
</div><h5 id="methods_methodsof_getoriginalcomponent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>smarteditComponentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponent-page"><p>the component id as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>smarteditComponentType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponent-page"><p>the component type as per the smartEdit contract with the storefront</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getoriginalcomponent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponent-page"><p>a yjQuery object wrapping the searched component</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getoriginalcomponentwithinslot">methodsOf_getOriginalComponentWithinSlot(smarteditComponentId, smarteditComponentType, slotId)</h3>
<div class="methodsof_getoriginalcomponentwithinslot"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponentwithinslot-page"><p>Retrieves the yjQuery wrapper around a smartEdit component of the original storefront layer identified by its smartEdit id, smartEdit type and slot ID
This method can only be invoked from the smartEdit application and not the smartEdit container.</p>
</div><h5 id="methods_methodsof_getoriginalcomponentwithinslot_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>smarteditComponentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponentwithinslot-page"><p>the component id as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>smarteditComponentType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponentwithinslot-page"><p>the component type as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>slotId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponentwithinslot-page"><p>the ID of the slot within which the component resides</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getoriginalcomponentwithinslot_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponentwithinslot-page"><p>a yjQuery object wrapping the searched component</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getoriginalcomponentswithinslot">methodsOf_getOriginalComponentsWithinSlot(slotId)</h3>
<div class="methodsof_getoriginalcomponentswithinslot"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponentswithinslot-page"><p>Retrieves the yjQuery wrapper around a list of smartEdit components contained in the slot identified by the given slotId.
This method can only be invoked from the smartEdit application and not the smartEdit container.</p>
</div><h5 id="methods_methodsof_getoriginalcomponentswithinslot_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>slotId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponentswithinslot-page"><p>the ID of the slot within which the component resides</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getoriginalcomponentswithinslot_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoriginalcomponentswithinslot-page"><p>a yjQuery object wrapping the searched components</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getoverlay">methodsOf_getOverlay()</h3>
<div class="methodsof_getoverlay"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoverlay-page"><p>Retrieves a handler on the smartEdit overlay div
This method can only be invoked from the smartEdit application and not the smartEdit container.</p>
</div></div>
</li>
<li><h3 id="methods_methodsof_getoverlaycomponent">methodsOf_getOverlayComponent(originalComponent)</h3>
<div class="methodsof_getoverlaycomponent"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoverlaycomponent-page"><p>Retrieves the yjQuery wrapper around the smartEdit component of the overlay layer corresponding to the storefront layer component passed as argument
This method can only be invoked from the smartEdit application and not the smartEdit container.</p>
</div><h5 id="methods_methodsof_getoverlaycomponent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>originalComponent</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoverlaycomponent-page"><p>the DOM element in the storefront layer</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getoverlaycomponent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoverlaycomponent-page"><p>a yjQuery object wrapping the searched component</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getoverlaycomponentwithinslot">methodsOf_getOverlayComponentWithinSlot(smarteditComponentId, smarteditComponentType, slotId)</h3>
<div class="methodsof_getoverlaycomponentwithinslot"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoverlaycomponentwithinslot-page"><p>Retrieves the yjQuery wrapper around a smartEdit component of the overlay layer identified by its smartEdit id, smartEdit type and slot ID
This method can only be invoked from the smartEdit application and not the smartEdit container.</p>
</div><h5 id="methods_methodsof_getoverlaycomponentwithinslot_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>smarteditComponentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoverlaycomponentwithinslot-page"><p>the component id as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>smarteditComponentType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoverlaycomponentwithinslot-page"><p>the component type as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>slotId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoverlaycomponentwithinslot-page"><p>the ID of the slot within which the component resides</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getoverlaycomponentwithinslot_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getoverlaycomponentwithinslot-page"><p>a yjQuery object wrapping the searched component</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getpageuid">methodsOf_getPageUID()</h3>
<div class="methodsof_getpageuid"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getpageuid-page"><p>This extracts the pageUID of the storefront page loaded in the smartedit iframe.</p>
</div><h5 id="methods_methodsof_getpageuid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getpageuid-page"><p>a string matching the page&#39;s ID</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getpageuuid">methodsOf_getPageUUID()</h3>
<div class="methodsof_getpageuuid"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getpageuuid-page"><p>This extracts the pageUUID of the storefront page loaded in the smartedit iframe.
The UUID is different from the UID in that it is an encoding of uid and catalog version combined</p>
</div><h5 id="methods_methodsof_getpageuuid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getpageuuid-page"><p>The page&#39;s UUID</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getparent">methodsOf_getParent(component)</h3>
<div class="methodsof_getparent"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getparent-page"><p>Retrieves the direct smartEdit component parent of a given component.
The parent is fetched in the same layer (original storefront or smartEdit overlay) as the child 
This method can only be invoked from the smartEdit application and not the smartEdit container.</p>
</div><h5 id="methods_methodsof_getparent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getparent-page"><p>the yjQuery component for which to search a parent</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getparent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getparent-page"><p>a yjQuery object wrapping the smae-layer parent component</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getparentslotforcomponent">methodsOf_getParentSlotForComponent(the)</h3>
<div class="methodsof_getparentslotforcomponent"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getparentslotforcomponent-page"><p>Retrieves the the slot ID for a given element</p>
</div><h5 id="methods_methodsof_getparentslotforcomponent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>the</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getparentslotforcomponent-page"><p>DOM element which represents the component</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getparentslotforcomponent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getparentslotforcomponent-page"><p>the slot ID for that particular component</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getparentslotuuidforcomponent">methodsOf_getParentSlotUuidForComponent(the)</h3>
<div class="methodsof_getparentslotuuidforcomponent"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getparentslotuuidforcomponent-page"><p>Retrieves the the slot Uuid for a given element</p>
</div><h5 id="methods_methodsof_getparentslotuuidforcomponent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>the</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getparentslotuuidforcomponent-page"><p>DOM element which represents the component</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getparentslotuuidforcomponent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getparentslotuuidforcomponent-page"><p>the slot Uuid for that particular component</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getslotoperationrelatedid">methodsOf_getSlotOperationRelatedId(component)</h3>
<div class="methodsof_getslotoperationrelatedid"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getslotoperationrelatedid-page"><p>Gets the id that is relevant to be able to perform slot related operations for this components
It typically is <a href="#/smartEdit/componentHandlerServiceModule.CONTAINER_ID_ATTRIBUTE">componentHandlerServiceModule.CONTAINER_ID_ATTRIBUTE</a> when applicable and defaults to <a href="#/smartEdit/componentHandlerServiceModule.ID_ATTRIBUTE">componentHandlerServiceModule.ID_ATTRIBUTE</a></p>
</div><h5 id="methods_methodsof_getslotoperationrelatedid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getslotoperationrelatedid-page"><p>the yjQuery component for which to get the id</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getslotoperationrelatedid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getslotoperationrelatedid-page"><p>the slot operations related id</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getslotoperationrelatedtype">methodsOf_getSlotOperationRelatedType(component)</h3>
<div class="methodsof_getslotoperationrelatedtype"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getslotoperationrelatedtype-page"><p>Gets the type that is relevant to be able to perform slot related operations for this components
It typically is <a href="#/smartEdit/componentHandlerServiceModule.CONTAINER_TYPE_ATTRIBUTE">componentHandlerServiceModule.CONTAINER_TYPE_ATTRIBUTE</a> when applicable and defaults to <a href="#/smartEdit/componentHandlerServiceModule.TYPE_ATTRIBUTE">componentHandlerServiceModule.TYPE_ATTRIBUTE</a></p>
</div><h5 id="methods_methodsof_getslotoperationrelatedtype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getslotoperationrelatedtype-page"><p>the yjQuery component for which to get the type</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getslotoperationrelatedtype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getslotoperationrelatedtype-page"><p>the slot operations related type</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getslotoperationrelateduuid">methodsOf_getSlotOperationRelatedUuid(component)</h3>
<div class="methodsof_getslotoperationrelateduuid"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getslotoperationrelateduuid-page"><p>Gets the id that is relevant to be able to perform slot related operations for this components
It typically is <a href="#/smartEdit/componentHandlerServiceModule.CONTAINER_ID_ATTRIBUTE">componentHandlerServiceModule.CONTAINER_ID_ATTRIBUTE</a> when applicable and defaults to <a href="#/smartEdit/componentHandlerServiceModule.ID_ATTRIBUTE">componentHandlerServiceModule.ID_ATTRIBUTE</a></p>
</div><h5 id="methods_methodsof_getslotoperationrelateduuid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getslotoperationrelateduuid-page"><p>the yjQuery component for which to get the Uuid</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getslotoperationrelateduuid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getslotoperationrelateduuid-page"><p>the slot operations related Uuid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_gettype">methodsOf_getType(component)</h3>
<div class="methodsof_gettype"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-gettype-page"><p>Gets the smartEdit component type of a given component</p>
</div><h5 id="methods_methodsof_gettype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-gettype-page"><p>the yjQuery component for which to get the type</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_gettype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-gettype-page"><p>the component type</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_getuuid">methodsOf_getUuid(component)</h3>
<div class="methodsof_getuuid"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getuuid-page"><p>Gets the smartEdit component id of a given component</p>
</div><h5 id="methods_methodsof_getuuid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getuuid-page"><p>the yjQuery component for which to get the id</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_getuuid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-getuuid-page"><p>the component id</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_isexternalcomponent">methodsOf_isExternalComponent(smarteditComponentId, smarteditComponentType)</h3>
<div class="methodsof_isexternalcomponent"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-isexternalcomponent-page"><p>Determines whether the component identified by the provided smarteditComponentId and smarteditComponentType
resides in a different catalog version to the one of the current page.  </p>
</div><h5 id="methods_methodsof_isexternalcomponent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>smarteditComponentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-isexternalcomponent-page"><p>the component id as per the smartEdit contract with the storefront</p>
</div></td></tr><tr><td>smarteditComponentType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-isexternalcomponent-page"><p>the component type as per the smartEdit contract with the storefront</p>
</div></td></tr></tbody></table><h5 id="methods_methodsof_isexternalcomponent_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-isexternalcomponent-page"><p>flag that evaluates to true if the component resides in a catalog version different to
the one of the current page.  False otherwise. </p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_methodsof_isoverlayon">methodsOf_isOverlayOn()</h3>
<div class="methodsof_isoverlayon"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-isoverlayon-page"><p>determines whether the overlay is visible
This method can only be invoked from the smartEdit application and not the smartEdit iframe.</p>
</div></div>
</li>
<li><h3 id="methods_methodsof_issmarteditcomponent">methodsOf_isSmartEditComponent(component)</h3>
<div class="methodsof_issmarteditcomponent"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-issmarteditcomponent-page"><p>Determines whether a DOM/yjQuery element is a smartEdit component</p>
</div><h5 id="methods_methodsof_issmarteditcomponent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-issmarteditcomponent-page"><p>the DOM/yjQuery element</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_methodsof_setid">methodsOf_setId(component, id)</h3>
<div class="methodsof_setid"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-setid-page"><p>Sets the smartEdit component id of a given component</p>
</div><h5 id="methods_methodsof_setid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-setid-page"><p>the yjQuery component for which to set the id</p>
</div></td></tr><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-setid-page"><p>the id to be set</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_methodsof_settype">methodsOf_setType(component, type)</h3>
<div class="methodsof_settype"><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-settype-page"><p>Sets the smartEdit component type of a given component</p>
</div><h5 id="methods_methodsof_settype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-settype-page"><p>the yjQuery component for which to set the type</p>
</div></td></tr><tr><td>type</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenthandlerservicemodule-componenthandlerservice-methodsof-settype-page"><p>the type to be set</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
