<h1><code ng:non-bindable="">SMARTEDIT_ATTRIBUTE_PREFIX</code>
<div><span class="hint">service in module <code ng:non-bindable="">componentHandlerServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componenthandlerservicemodule-smartedit-attribute-prefix-page"><p>If the storefront needs to expose more attributes than the minimal contract, these attributes must be prefixed with this constant value</p>
</div></div>
</div>
