<h1><code ng:non-bindable="">CONTAINER_ID_ATTRIBUTE</code>
<div><span class="hint">service in module <code ng:non-bindable="">componentHandlerServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componenthandlerservicemodule-container-id-attribute-page"><p>the id attribute of the smartEdit container, when applicable, as per contract with the storefront</p>
</div></div>
</div>
