<h1><code ng:non-bindable="">CONTENT_SLOT_TYPE</code>
<div><span class="hint">service in module <code ng:non-bindable="">componentHandlerServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componenthandlerservicemodule-content-slot-type-page"><p>the type value of the smartEdit slots as per contract with the storefront</p>
</div></div>
</div>
