<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="compilehtmlmodule-page"><h2 id="the-compilehtmlmodule">The compileHtmlModule</h2>
<p>The compileHtmlModule provides a directive to evaluate and compile HTML markup.</p>
</div></div>
