<h1><code ng:non-bindable="">SMARTEDIT_IFRAME_ID</code>
<div><span class="hint">service in module <code ng:non-bindable="">componentHandlerServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componenthandlerservicemodule-smartedit-iframe-id-page"><p>the id of the iframe which contains storefront</p>
</div></div>
</div>
