<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="confirmationmodalservicemodule-page"><h2 id="the-confirmationmodalservicemodule">The confirmationModalServiceModule</h2>
<p>The confirmation modal service module provides a service that allows opening a confirmation (an OK/Cancel prompt with
a title and content) within a modal.</p>
<p>This module is dependent on the <a href="#/smartEdit/modalServiceModule">modalServiceModule</a>.</p>
</div></div>
