<h1><code ng:non-bindable="">confirmationModalService</code>
<div><span class="hint">service in module <code ng:non-bindable="">confirmationModalServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="confirmationmodalservicemodule-service-page confirmationmodalservicemodule-service-confirmationmodalservice-page"><p>Service used to open a confirmation modal in which an end-user can confirm or cancel an action. A confirmation modal
consists of a title, content, and an OK and cancel button. This modal may be used in any context in which a
confirmation is required.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_open">open(configuration)</h3>
<div class="open"><div class="confirmationmodalservicemodule-service-page confirmationmodalservicemodule-service-confirmationmodalservice-open-page"><p>Uses the <a href="#/smartEdit/modalServiceModule.modalService">modalService</a> to open a confirmation modal.</p>
<p>The confirmation modal is initialized by a default i18N key as a title or by an override title passed through the
input configuration object.</p>
</div><h5 id="methods_open_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>configuration</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="confirmationmodalservicemodule-service-page confirmationmodalservicemodule-service-confirmationmodalservice-open-page"><p>Configuration for the confirmation modal</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>title</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="confirmationmodalservicemodule-service-page confirmationmodalservicemodule-service-confirmationmodalservice-open-page"><p>The override title for the confirmation modal. If a title is provided, it
overrides the default title, which is an i18n key. This property is optional.</p>
</div></td></tr><tr><td>description</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="confirmationmodalservicemodule-service-page confirmationmodalservicemodule-service-confirmationmodalservice-open-page"><p>The description to be used as the content of the confirmation modal.
This is the text that is displayed to the end user.</p>
</div></td></tr></tbody></table></td></tr></tbody></table><h5 id="methods_open_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="confirmationmodalservicemodule-service-page confirmationmodalservicemodule-service-confirmationmodalservice-open-page"><p>A promise that is resolved when the OK button is actioned or is rejected when the Cancel
button is actioned.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
