<h1><code ng:non-bindable="">REFRESH_CONTEXTUAL_MENU_ITEMS_EVENT</code>
<div><span class="hint">object in module <code ng:non-bindable="">contextualMenuServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="contextualmenuservicemodule-object-page contextualmenuservicemodule-object-refresh-contextual-menu-items-event-page"><p>Name of the event triggered whenever SmartEdit decides to update items in contextual menus.</p>
</div></div>
</div>
