<h1><code ng:non-bindable="">contextualMenuService</code>
<div><span class="hint">service in module <code ng:non-bindable="">contextualMenuServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="contextualmenuservicemodule-contextualmenuservice-page"><p>The contextualMenuService returns an instance of
<a href="#/smartEdit/contextualMenuServiceModule.ContextualMenuServiceClass">ContextualMenuServiceClass</a>
and is used to add items to contextual menus over components and slots.</p>
</div></div>
</div>
