<h1><code ng:non-bindable=""> tooltipsMap</code>
<div><span class="hint">object in module <code ng:non-bindable="">dateTimePickerModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="datetimepickermodule-object-page datetimepickermodule-object-tooltipsmap-page"><p>Contains a map of all tooltips to be localized in the date time picker</p>
</div></div>
</div>
