<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="dateformattermodule-page"><h2 id="the-dateformattermodule">The dateFormatterModule</h2>
<p>The date formatter module is a module for displaying the date in the desired format.</p>
</div></div>
