<h1><code ng:non-bindable="">EVENT_SERVICE_MODE_ASYNCH</code>
<div><span class="hint">service in module <code ng:non-bindable="">eventServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="eventservicemodule-event-service-mode-asynch-page"><p>A constant used in the constructor of the Event Service to specify asynchronous event transmission.</p>
</div></div>
</div>
