<h1><code ng:non-bindable="">experienceService</code>
<div><span class="hint">service in module <code ng:non-bindable="">experienceServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="experienceservicemodule-service-page experienceservicemodule-service-experienceservice-page"><p>The experience Service deals with building experience objects given a context.</p>
</div></div>
</div>
