<h1><code ng:non-bindable="">exponentialRetry</code>
<div><span class="hint">service in module <code ng:non-bindable="">exponentialRetrylModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="exponentialretrylmodule-service-page exponentialretrylmodule-service-exponentialretry-page"><p>When used by a retry strategy, this service could provide an exponential delay time to be used by the strategy before the next request is sent. The service also provides functionality to check if it is possible to perform a next retry.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_calculatenextdelay">calculateNextDelay(attemptCount, maxBackoff, minBackoff)</h3>
<div class="calculatenextdelay"><div class="exponentialretrylmodule-service-page exponentialretrylmodule-service-exponentialretry-calculatenextdelay-page"><p>This method will calculate the next delay time.</p>
</div><h5 id="methods_calculatenextdelay_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>attemptCount</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="exponentialretrylmodule-service-page exponentialretrylmodule-service-exponentialretry-calculatenextdelay-page"><p>The current number of retry attempts</p>
</div></td></tr><tr><td>maxBackoff <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-number">Number </a></td><td><div class="exponentialretrylmodule-service-page exponentialretrylmodule-service-exponentialretry-calculatenextdelay-page"><p>The maximum delay between two retries</p>
</div></td></tr><tr><td>minBackoff <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-number">Number </a></td><td><div class="exponentialretrylmodule-service-page exponentialretrylmodule-service-exponentialretry-calculatenextdelay-page"><p>The minimum delay between two retries</p>
</div></td></tr></tbody></table><h5 id="methods_calculatenextdelay_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="exponentialretrylmodule-service-page exponentialretrylmodule-service-exponentialretry-calculatenextdelay-page"><p>The next delay value</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_canretry">canRetry(attemptCount, maxAttempt)</h3>
<div class="canretry"><div class="exponentialretrylmodule-service-page exponentialretrylmodule-service-exponentialretry-canretry-page"><p>This method returns true if it is valid to perform another retry, otherwise, it returns false.</p>
</div><h5 id="methods_canretry_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>attemptCount</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="exponentialretrylmodule-service-page exponentialretrylmodule-service-exponentialretry-canretry-page"><p>The current number of retry attempts</p>
</div></td></tr><tr><td>maxAttempt <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-number">Number </a></td><td><div class="exponentialretrylmodule-service-page exponentialretrylmodule-service-exponentialretry-canretry-page"><p>The maximum number of retry attempts</p>
</div></td></tr></tbody></table><h5 id="methods_canretry_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="exponentialretrylmodule-service-page exponentialretrylmodule-service-exponentialretry-canretry-page"><p>is valid to perform another retry?</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
