<h1><code ng:non-bindable="">FetchDataHandlerInterface</code>
<div><span class="hint">service in module <code ng:non-bindable="">FetchDataHandlerInterfaceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="fetchdatahandlerinterfacemodule-fetchdatahandlerinterface-page"><p>Interface describing the contract of a fetchDataHandler fetched through dependency injection by the
<a href="#/smartEdit/genericEditorModule.service:GenericEditor">GenericEditor</a> to populate dropdowns</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_findbymask">findBymask(field, mask)</h3>
<div class="findbymask"><div class="fetchdatahandlerinterfacemodule-fetchdatahandlerinterface-findbymask-page"><p>will returns a promise resolving to list of entities, of type defined by field, eligible for a given search mask</p>
</div><h5 id="methods_findbymask_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="fetchdatahandlerinterfacemodule-fetchdatahandlerinterface-findbymask-page"><p>the field descriptor in <a href="#/smartEdit/genericEditorModule.service:GenericEditor">GenericEditor</a></p>
</div></td></tr><tr><td>mask</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="fetchdatahandlerinterfacemodule-fetchdatahandlerinterface-findbymask-page"><p>the value against witch to fetch entities.</p>
</div></td></tr></tbody></table><h5 id="methods_findbymask_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="fetchdatahandlerinterfacemodule-fetchdatahandlerinterface-findbymask-page"><p>a list of eligible entities</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getbyid">getById(field, identifier)</h3>
<div class="getbyid"><div class="fetchdatahandlerinterfacemodule-fetchdatahandlerinterface-getbyid-page"><p>will returns a promise resolving to an entity, of type defined by field, matching the given identifier</p>
</div><h5 id="methods_getbyid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="fetchdatahandlerinterfacemodule-fetchdatahandlerinterface-getbyid-page"><p>the field descriptor in <a href="#/smartEdit/genericEditorModule.service:GenericEditor">GenericEditor</a></p>
</div></td></tr><tr><td>identifier</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="fetchdatahandlerinterfacemodule-fetchdatahandlerinterface-getbyid-page"><p>the value identifying the entity to fetch</p>
</div></td></tr></tbody></table><h5 id="methods_getbyid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="fetchdatahandlerinterfacemodule-fetchdatahandlerinterface-getbyid-page"><p>an entity</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
