<h1><code ng:non-bindable="">resetObject</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-service-page functionsmodule-service-resetobject-page"><p>Resets a given object&#39;s properties&#39; values</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">resetObject(targetObject,, modelObject,);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>targetObject,</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-service-page functionsmodule-service-resetobject-page"><p>the object to reset</p>
</div></td></tr><tr><td>modelObject,</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-service-page functionsmodule-service-resetobject-page"><p>an object that contains the structure that targetObject should have after a reset</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-service-page functionsmodule-service-resetobject-page"><p>Returns the object that has been reset</p>
</div></td></tr></table></div>
</div>
