<h1><code ng:non-bindable="">trim</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-trim-page"><p><b>trim</b> will remove spaces at the beginning and end of a given string.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">trim(inputString);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>inputString</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="functionsmodule-trim-page"><p>any input string.</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="functionsmodule-trim-page"><p>the newly modified string without spaces at the beginning and the end</p>
</div></td></tr></table></div>
</div>
