<h1><code ng:non-bindable="">uniqueArray</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-uniquearray-page"><p><b>uniqueArray</b> will return the first Array argument supplemented with new entries from the second Array argument.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">uniqueArray(array1, array2);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>array1</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="functionsmodule-uniquearray-page"><p>any JavaScript array.</p>
</div></td></tr><tr><td>array2</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="functionsmodule-uniquearray-page"><p>any JavaScript array.</p>
</div></td></tr></tbody></table></div>
</div>
