<h1><code ng:non-bindable="">extend</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-extend-page"><p><b>extend</b> provides a convenience to either default a new child or &quot;extend&quot; an existing child with the prototype of the parent</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">extend(ParentClass, ChildClass);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>ParentClass</td><td><a href="" class="label type-hint type-hint-class">Class</a></td><td><div class="functionsmodule-extend-page"><p>which has a prototype you wish to extend.</p>
</div></td></tr><tr><td>ChildClass</td><td><a href="" class="label type-hint type-hint-class">Class</a></td><td><div class="functionsmodule-extend-page"><p>will have its prototype set.</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-class">Class</a></td><td><div class="functionsmodule-extend-page"><p>ChildClass which has been extended</p>
</div></td></tr></table></div>
</div>
