<h1><code ng:non-bindable="">isFunctionEmpty</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-service-page functionsmodule-service-isfunctionempty-page"><p>Will determine whether a function body is empty</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">isFunctionEmpty(fn,);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>fn,</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="functionsmodule-service-page functionsmodule-service-isfunctionempty-page"><p>the function to evaluate</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="functionsmodule-service-page functionsmodule-service-isfunctionempty-page"><p>a boolean.</p>
</div></td></tr></table></div>
</div>
