<h1><code ng:non-bindable="">generateIdentifier</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-generateidentifier-page"><p><b>generateIdentifier</b> will generate a unique string based on system time and a random generator.</p>
</div></div>
</div>
