<h1><code ng:non-bindable="">isAnyTruthy</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-service-page functionsmodule-service-isanytruthy-page"><p>Iterate on the given array of Functions, return true if at least one function returns true</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">isAnyTruthy(arguments);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>arguments</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="functionsmodule-service-page functionsmodule-service-isanytruthy-page"><p>the functions</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="functionsmodule-service-page functionsmodule-service-isanytruthy-page"><p>true if at least one function returns true</p>
</div></td></tr></table></div>
</div>
