<h1><code ng:non-bindable="">functionsModule</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-page"><p>provides a list of useful functions that can be used as part of the SmartEdit framework.</p>
</div></div>
</div>
