<h1><code ng:non-bindable="">getOrigin</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-getorigin-page"><p>returns document location origin
Some browsers still do not support W3C document.location.origin, this function caters for gap.</p>
</div></div>
</div>
