<h1><code ng:non-bindable="">unsafeParseHTML</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-unsafeparsehtml-page"><p>parses a string HTML into a queriable DOM object, preserving any JavaScript present in the HTML.
Note - as this preserves the JavaScript present it must only be used on HTML strings originating
from a known safe location. Failure to do so may result in an XSS vulnerability.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">unsafeParseHTML(stringHTML,);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>stringHTML,</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="functionsmodule-unsafeparsehtml-page"><p>the string representation of the HTML to parse</p>
</div></td></tr></tbody></table></div>
</div>
