<h1><code ng:non-bindable="">getQueryString</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-getquerystring-page"><p><b>getQueryString</b> will convert a given object into a query string.</p>
<p>Below is the code snippet for sample input and sample output:</p>
<pre class="prettyprint linenums">
var params = {
 key1 : 'value1',
 key2 : 'value2',
 key3 : 'value3'
 }
 
 var output = getQueryString(params);
 
 // The output is '?&key1=value1&key2=value2&key3=value3' 

</pre>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">getQueryString(params);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>params</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-getquerystring-page"><p>Object containing a list of params.</p>
</div></td></tr></tbody></table><h4 id="usage_returns">Returns</h4><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="functionsmodule-getquerystring-page"><p>a query string</p>
</div></td></tr></table></div>
</div>
