<h1><code ng:non-bindable="">injectJS</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-injectjs-page"><p><b>injectJS</b> will inject script tags into html for a given set of sources.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_execute">execute(configuration)</h3>
<div class="execute"><div class="functionsmodule-injectjs-execute-page"><p><b>execute</b> will extract a given set of sources from the provided configuration object
and then inject each source as a JavaScript source tag and potential callbacks once all the
sources are wired.</p>
</div><h5 id="methods_execute_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>configuration</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-injectjs-execute-page"><ul>
<li>a given set of configurations.</li>
</ul>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>sources</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="functionsmodule-injectjs-execute-page"><ul>
<li>an array of sources that needs to be added.</li>
</ul>
</div></td></tr><tr><td>callback</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="functionsmodule-injectjs-execute-page"><ul>
<li>Callback to be triggered once all the sources are wired.</li>
</ul>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
