<h1><code ng:non-bindable="">extractFromElement</code>
<div><span class="hint">service in module <code ng:non-bindable="">functionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="functionsmodule-extractfromelement-page"><p>parses a string HTML into a queriable DOM object</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">extractFromElement(parent,, extractionSelector,);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>parent,</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="functionsmodule-extractfromelement-page"><p>the DOM element from which we want to extract matching selectors</p>
</div></td></tr><tr><td>extractionSelector,</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="functionsmodule-extractfromelement-page"><p>the yjQuery selector identifying the elements to be extracted</p>
</div></td></tr></tbody></table></div>
</div>
