<h1><code ng:non-bindable="">genericEditor</code>
<div><span class="hint">directive in module <code ng:non-bindable="">genericEditorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>Component responsible for generating custom HTML CRUD form for any smarteditComponent type.</p>
<p>The controller has a method that creates a new instance for the <a href="#/smartEdit/genericEditorModule.service:GenericEditor">GenericEditor</a>
and sets the scope of smarteditComponentId and smarteditComponentType to a value that has been extracted from the original DOM element in the storefront.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;generic-editor
       id="{= String}"
       smartedit-component-type="{= String}"
       smartedit-component-id="{= String}"
       [structure-api="{&lt; String }"]
       [structure="{&lt; String }"]
       content-api="{= String}"
       content="{= Object}"
       [uri-context="{&lt; Object }"]
       [submit="{= Function }"]
       [reset="{= Function }"]
       [is-dirty="{= Function }"]
       [is-valid="{= Function }"]
       [get-api="{&amp; Function }"]
       [get-component="{= Function }"]
       [update-callback="{&lt; Function }"]
       [custom-on-submit="{= Function }"]&gt;
&lt;/generic-editor&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-object">= String</a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>Id of the current generic editor.</p>
</div></td></tr><tr><td>smarteditComponentType</td><td><a href="" class="label type-hint type-hint-object">= String</a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>The SmartEdit component type that is to be created, read, updated, or deleted.</p>
</div></td></tr><tr><td>smarteditComponentId</td><td><a href="" class="label type-hint type-hint-object">= String</a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>The identifier of the SmartEdit component that is to be created, read, updated, or deleted.</p>
</div></td></tr><tr><td>structureApi <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt; String </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>The data binding to a REST Structure API that fulfills the contract described in the  <a href="#/smartEdit/genericEditorModule.service:GenericEditor">GenericEditor</a> service. Only the Structure API or the local structure must be set.</p>
</div></td></tr><tr><td>structure <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt; String </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>The data binding to a REST Structure JSON that fulfills the contract described in the <a href="#/smartEdit/genericEditorModule.service:GenericEditor">GenericEditor</a> service. Only the Structure API or the local structure must be set.</p>
</div></td></tr><tr><td>contentApi</td><td><a href="" class="label type-hint type-hint-object">= String</a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>The REST API used to create, read, update, or delete content.</p>
</div></td></tr><tr><td>content</td><td><a href="" class="label type-hint type-hint-object">= Object</a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>The model for the generic editor (the initial content when the component is being edited).</p>
</div></td></tr><tr><td>uriContext <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt; Object </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>is an optional parameter and is used to pass the uri Params which can be used in making
api calls in custom widgets. It is an optional parameter and if not found, generic editor will find an experience in
sharedDataService and set this uriContext.</p>
</div></td></tr><tr><td>submit <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">= Function </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>It exposes the inner submit function to the invoker scope. If this parameter is set, the directive will not display an inner submit button.</p>
</div></td></tr><tr><td>reset <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">= Function </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>It exposes the inner reset function to the invoker scope. If this parameter is set, the directive will not display an inner cancel button.</p>
</div></td></tr><tr><td>isDirty <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">= Function </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>Indicates if the the generic editor is in a pristine state (for example: has been modified).</p>
</div></td></tr><tr><td>isValid <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">= Function </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>Indicates if all of the containing forms and controls in the generic editor are valid.</p>
</div></td></tr><tr><td>getApi <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&amp; Function </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>Exposes the generic editor&#39;s api object</p>
</div></td></tr><tr><td>getComponent <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">= Function </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>@deprecated since 6.5, use getComponent() method of getApi. Returns the current model for the generic editor.</p>
</div></td></tr><tr><td>updateCallback <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt; Function </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>Callback called at the end of a successful submit. It is invoked with two arguments: the pristine object and the response from the server.</p>
</div></td></tr><tr><td>customOnSubmit <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">= Function </a></td><td><div class="genericeditormodule-directive-page genericeditormodule-directive-genericeditor-page"><p>It exposes the inner onSubmit function to the invoker scope. If the parameter is set, the inner onSubmit function is overridden by the custom function and the custom function must return a promise in the response format expected by the generic editor.</p>
</div></td></tr></tbody></table></div>
</div>
