<h1><code ng:non-bindable="">GENERIC_EDITOR_UNRELATED_VALIDATION_MESSAGES_EVENT</code>
<div><span class="hint">object in module <code ng:non-bindable="">genericEditorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="genericeditormodule-object-page genericeditormodule-object-generic-editor-unrelated-validation-messages-event-page"><p>Event to notify GenericEditor about messages (errors, warnings) that can be relevant to it.
Any GenericEditor may receive notification from another GenericEditor that the latter received validation messages (errors, warnings) not relevant for themselves.
In such a situation every GenericEditor will try and see if messages are relevant to them.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">GENERIC_EDITOR_UNRELATED_VALIDATION_MESSAGES_EVENT(payload);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>payload</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="genericeditormodule-object-page genericeditormodule-object-generic-editor-unrelated-validation-messages-event-page"><p>A map that contains the &#39;messages&#39; and optional &#39;targetGenericEditorId&#39; properties.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>messages</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="genericeditormodule-object-page genericeditormodule-object-generic-editor-unrelated-validation-messages-event-page"><p>List of validation messages (errors, warnings)</p>
</div></td></tr><tr><td>targetGenericEditorID <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="genericeditormodule-object-page genericeditormodule-object-generic-editor-unrelated-validation-messages-event-page"><p>The id of target generic editor. Allows to send a list of messages to a specific generic editor. Otherwise the list of messages will be delivered to all generic editors.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
<h2 id="example">Example</h2>
<div class="example"><div class="genericeditormodule-object-page genericeditormodule-object-generic-editor-unrelated-validation-messages-event-page"><p>systemEventService.sendAsynchEvent(GENERIC_EDITOR_UNRELATED_VALIDATION_MESSAGES_EVENT, {messages: unrelatedValidationMessages, targetGenericEditorId: &#39;optional-id&#39;});</p>
</div></div>
</div>
