<h1><code ng:non-bindable="">hasOperationPermission</code>
<div><span class="hint">directive in module <code ng:non-bindable="">hasOperationPermissionModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="hasoperationpermissionmodule-directive-page hasoperationpermissionmodule-directive-hasoperationpermission-page"><p>Authorization HTML mark-up that will remove elements from the DOM if the user does not have authorization defined
by the input parameter permission keys. This directive makes use of the <a href="#/smartEdit/permissionServiceInterfaceModule.service:PermissionServiceInterface">PermissionServiceInterface</a>
permissionService} service to validate if the current user has access to the given permission set or not.</p>
<p>It takes a comma-separated list of permission names or an array of permission name objects structured as follows:</p>
<p>{
    names: &quot;permission.names.separated.by.commas&quot;,
    context: {
        data: &quot;with the context property, extra data can be included to check a permission when the Rule.verify function is called&quot;
    }
}</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY has-operation-permission
     has-operation-permission="{&lt; String || Object[]}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>has-operation-permission</td><td><a href="" class="label type-hint type-hint-object">&lt; String </a><a href="" class="label type-hint type-hint-object"></a><a href="" class="label type-hint type-hint-object"> Object[]</a></td><td><div class="hasoperationpermissionmodule-directive-page hasoperationpermissionmodule-directive-hasoperationpermission-page"><p>A comma-separated list of permission names or an array of permission name objects.</p>
</div></td></tr></tbody></table></div>
</div>
