<h1><code ng:non-bindable="">I18NAPIROOT</code>
<div><span class="hint">object in module <code ng:non-bindable="">i18nInterceptorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="i18ninterceptormodule-object-page i18ninterceptormodule-object-i18napiroot-page"><p>The I18NAPIroot is a hard-coded URI that is used to initialize the <a href="#/smartEdit/translationServiceModule">translationServiceModule</a>.
The <a href="#/smartEdit/i18nInterceptorModule.service:i18nInterceptor#methods_request">i18nInterceptor.request</a> intercepts the URI and replaces it with the <a href="#/smartEdit/resourceLocationsModule.object:I18N_RESOURCE_URI">I18N_RESOURCE_URI</a>.</p>
</div></div>
</div>
