<h1><code ng:non-bindable="">UNDEFINED_LOCALE</code>
<div><span class="hint">object in module <code ng:non-bindable="">i18nInterceptorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="i18ninterceptormodule-object-page i18ninterceptormodule-object-undefined-locale-page"><p>The undefined locale set as the preferred language of the <a href="#/smartEdit/translationServiceModule">translationServiceModule</a> so that
an <a href="#/smartEdit/i18nInterceptorModule.service:i18nInterceptor#methods_request">i18nInterceptor.request</a> can intercept it and replace it with the browser locale.</p>
</div></div>
</div>
