<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="iframeclickdetectionservicemodule-page"><h2 id="the-iframeclickdetectionservicemodule">The iframeClickDetectionServiceModule</h2>
<p>The iframe Click Detection module provides the functionality to transmit a click event from anywhere within
the contents of the SmartEdit application iFrame to the SmartEdit container. Specifically, the module uses yjQuery to
bind mousedown events on the iFrame document to a proxy function, triggering the event on the SmartEdit container.</p>
<p>The iframe Click Detection module requires gatewayProxyModule to propagate click events.</p>
</div></div>
