<h1><code ng:non-bindable="">iframeClickDetectionService</code>
<div><span class="hint">service in module <code ng:non-bindable="">iframeClickDetectionServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="iframeclickdetectionservicemodule-service-page iframeclickdetectionservicemodule-service-iframeclickdetectionservice-page"><p>The iframe Click Detection service leverages the <a href="#/smartEdit/gatewayProxyModule.gatewayProxy">gatewayProxy</a> service to
propagate click events, specifically mousedown events, to the SmartEdit container.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_oniframeclick">onIframeClick()</h3>
<div class="oniframeclick"><div class="iframeclickdetectionservicemodule-service-page iframeclickdetectionservicemodule-service-iframeclickdetectionservice-oniframeclick-page"><p>The proxy function that delegates calls to the SmartEdit container.</p>
</div><h5 id="methods_oniframeclick_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="iframeclickdetectionservicemodule-service-page iframeclickdetectionservicemodule-service-iframeclickdetectionservice-oniframeclick-page"><p>Promise that is resolved when the SmartEdit container completes the callback.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
