<h1><code ng:non-bindable="">l10n</code>
<div><span class="hint">filter in module <code ng:non-bindable="">l10nModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="l10nmodule-filter-page l10nmodule-filter-l10n-page"><p>Filter that accepts a localized map as input and returns the value corresponding to the resolvedLocale of <a href="#/smartEdit/languageServiceModule">languageServiceModule</a> and defaults to the first entry.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> l10n_expression | l10n <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('l10n')(localizedMap)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>localizedMap</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="l10nmodule-filter-page l10nmodule-filter-l10n-page"><p>the map of language isocodes / values
This class serves as an interface and should be extended, not instantiated.</p>
</div></td></tr></tbody></table></div>
</div>
