<h1><code ng:non-bindable="">languageSelector</code>
<div><span class="hint">directive in module <code ng:non-bindable="">languageSelectorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="languageselectormodule-directive-page languageselectormodule-directive-languageselector-page"><p>Language selector provides a drop-down list which contains a list of supported languages.
It is used to select a language and translate the system accordingly.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;language-selector&gt;
&lt;/language-selector&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
