<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/smartEdit/functionsModule">functionsModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/smartEdit/ngResource">ngResource</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/smartEdit/sharedDataServiceModule">sharedDataServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/smartEdit/resourceLocationsModule">resourceLocationsModule</a></code>
</li>
</ul>
<div class="loadconfigmodule-page"><p>The loadConfigModule supplies configuration information to SmartEdit. Configuration is stored in key/value pairs.
The module exposes a service which is used to load configuration as an array or object.</p>
</div></div>
