<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="modalservicemodule-page"><h2 id="the-modalservicemodule">The modalServiceModule</h2>
<p>The modal service module is a module devoted to providing an easy way to create, use, manage, and style modal windows,
and it contains all the components related to achieving this goal.</p>
<p>Use the <a href="#/smartEdit/modalServiceModule.modalService">modalService</a> to open modal windows.</p>
<p>Once a modal window is opened, you can use it&#39;s <a href="#/smartEdit/modalServiceModule.service:ModalManager">ModalManager</a> to manage
the modal, such as closing the modal, adding buttons, or chaning the title.</p>
<p>Additionally you may use <a href="#/smartEdit/modalServiceModule.object:MODAL_BUTTON_ACTIONS">button actions</a> or
<a href="#/smartEdit/modalServiceModule.object:MODAL_BUTTON_STYLES">button styles</a> to affect how buttons look and behave on the modal
window.</p>
</div></div>
