<h1><code ng:non-bindable="">nonValidationErrorInterceptor</code>
<div><span class="hint">service in module <code ng:non-bindable="">nonvalidationErrorInterceptorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="nonvalidationerrorinterceptormodule-service-page nonvalidationerrorinterceptormodule-service-nonvalidationerrorinterceptor-page"><p>Used for HTTP error code 400. It removes all errors of type &#39;ValidationError&#39; and displays alert messages for non-validation errors.</p>
</div></div>
</div>
