<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="notificationservicemodule-page"><p>The notification module provides a service to display visual cues to inform
the user of the state of the application in the container or the iFramed application.</p>
</div></div>
