<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="operationcontextservicemodule-page"><p>This module provides the functionality to register a set of url with their associated operation contexts.</p>
</div></div>
