<h1><code ng:non-bindable="">OPERATION_CONTEXT</code>
<div><span class="hint">object in module <code ng:non-bindable="">operationContextServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="operationcontextservicemodule-object-page operationcontextservicemodule-object-operation-context-page"><p>Injectable angular constant<br/>
This object provides an enumeration of operation context for the application.</p>
</div></div>
</div>
