<h1><code ng:non-bindable="">optionsDropdownPopulator</code>
<div><span class="hint">service in module <code ng:non-bindable="">optionsDropdownPopulatorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="optionsdropdownpopulatormodule-service-page optionsdropdownpopulatormodule-service-optionsdropdownpopulator-page"><p>implementation of <a href="#/smartEdit/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface">DropdownPopulatorInterface</a> for &quot;EditableDropdown&quot; cmsStructureType
containing options attribute.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_populate">populate()</h3>
<div class="populate"><div class="optionsdropdownpopulatormodule-service-page optionsdropdownpopulatormodule-service-optionsdropdownpopulator-populate-page"><p>Implementation of the <a href="#/smartEdit/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface#populate">DropdownPopulatorInterface.populate</a> method</p>
</div></div>
</li>
</ul>
</div>
</div>
