<h1><code ng:non-bindable="">Page</code>
<div><span class="hint">object in module <code ng:non-bindable="">Page</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="page-object-page page-object-page-page"><p>An object representing the backend response to a paged query</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_pagination">pagination</h3>
<div class="pagination"><div class="pagination-page"><p>The returned <a href="#/smartEdit/Page.object:Pagination">Pagination</a> object</p>
</div></div>
</li>
<li><h3 id="properties_results">results</h3>
<div class="results"><div class="results-page"><p>The array containing the elements pertaining to the requested page, its size will not exceed the requested page size.</p>
</div></div>
</li>
</ul>
</div>
</div>
