<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="pagesensitivedirectivemodule-page"><p>This module defines the <a href="#/smartEdit/pageSensitiveDirectiveModule.directive:pageSensitive">pageSensitive</a> attribute directive.</p>
</div></div>
