<h1><code ng:non-bindable="">Pagination</code>
<div><span class="hint">object in module <code ng:non-bindable="">Page</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="page-object-page page-object-pagination-page"><p>An object representing the returned pagination information from backend</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_totalcount">totalCount</h3>
<div class="totalcount"><div class="totalcount-page"><p>the total of elements matching the given mask once all pages are returned</p>
</div></div>
</li>
</ul>
</div>
</div>
