<h1><code ng:non-bindable="">PermissionServiceInterface</code>
<div><span class="hint">service in module <code ng:non-bindable="">permissionServiceInterfaceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-page"><p>The permission service is used to check if a user has been granted certain permissions.</p>
<p>It is configured with rules and permissions. A rule is used to execute some logic to determine whether or not
the permission should be granted. A permission references a list of rules. In order for a permission to be
granted, each rule must be executed successfully and return true.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_clearcache">clearCache()</h3>
<div class="clearcache"><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-clearcache-page"><p>This method clears all cached results in the rules&#39; caches.</p>
</div></div>
</li>
<li><h3 id="methods_getpermission">getPermission(permissionName)</h3>
<div class="getpermission"><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-getpermission-page"><p>This method returns the registered permission that contains the given name in its
array of names.</p>
</div><h5 id="methods_getpermission_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>permissionName</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-getpermission-page"><p>The name of the permission to lookup.</p>
</div></td></tr></tbody></table><h5 id="methods_getpermission_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-getpermission-page"><p>rule The permission with the given name, undefined otherwise.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_ispermitted">isPermitted(permissions)</h3>
<div class="ispermitted"><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-ispermitted-page"><p>This method checks if a user has been granted certain permissions.</p>
<p>It takes an array of permission objects structured as follows:</p>
<p>{
    names: [&quot;permission.aliases&quot;],
    context: {
        data: &quot;required to check a permission&quot;
    }
}</p>
</div><h5 id="methods_ispermitted_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>permissions</td><td><a href="" class="label type-hint type-hint-object">Object[]</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-ispermitted-page"><p>A list of permission objects.</p>
</div></td></tr></tbody></table><h5 id="methods_ispermitted_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-ipromise">IPromise</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-ispermitted-page"><p>A promise that resolves to true if permission is granted, rejects to false if it isn&#39;t and rejects on error.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_registerdefaultrule">registerDefaultRule(ruleConfiguration)</h3>
<div class="registerdefaultrule"><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerdefaultrule-page"><p>This method registers the default rule.</p>
<p>The default rule is used when no permission is found for a given permission name when
<a href="#/smartEdit/permissionServiceModule.service:PermissionService#ispermitted">permissionServiceModule.service:PermissionService#isPermitted</a> is called.</p>
</div><h5 id="methods_registerdefaultrule_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>ruleConfiguration</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerdefaultrule-page"><p>The configuration of the default rule.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>names</td><td><a href="" class="label type-hint type-hint-string">String[]</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerdefaultrule-page"><p>The list of names associated to the default rule (must contain <a href="#/smartEdit/permissionServiceModule.object:DEFAULT_RULE_NAME">permissionServiceModule.object:DEFAULT_RULE_NAME</a>).</p>
</div></td></tr><tr><td>verify</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerdefaultrule-page"><p>The verification function of the default rule.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_registerpermission">registerPermission(configuration)</h3>
<div class="registerpermission"><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerpermission-page"><p>This method registers a permission.</p>
<p>A permission is defined by a set of aliases and rules. It is verified by its set of rules.
The set of aliases is there for convenience, as there may be different permissions
that use the same set of rules to be verified. The permission aliases property
will resolve if any one alias is in the aliases&#39; array. Calling <a href="#/smartEdit/permissionServiceModule.service:PermissionService#ispermitted">permissionServiceModule.service:PermissionService#isPermitted</a>
with any of these aliases will use the same permission object, therefore the same
combination of rules to check if the user has the appropriate clearance. This reduces the
number of permissions you need to register.</p>
</div><h5 id="methods_registerpermission_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>configuration</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerpermission-page"><p>The configuration of the permission to register.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>aliases</td><td><a href="" class="label type-hint type-hint-string">String[]</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerpermission-page"><p>The list of aliases associated to the permission. A permission alias must be prefixed by at least one
namespace followed by a &quot;.&quot; character to be valid. i.e. &quot;se.fake.permission&quot;</p>
</div></td></tr><tr><td>rules</td><td><a href="" class="label type-hint type-hint-string">String[]</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerpermission-page"><p>The list of the names of the rules used to verify.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_registerrule">registerRule(ruleConfiguration)</h3>
<div class="registerrule"><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerrule-page"><p>This method registers a rule. These rules can be used by registering permissions that
use them to verify if a user has the appropriate clearance.</p>
<p>To avoid accidentally overriding the default rule, an error is thrown when attempting
to register a rule with the <a href="#/smartEdit/permissionServiceModule.object:DEFAULT_RULE_NAME">default rule name</a>.</p>
<p>To register the default rule, see <a href="#/smartEdit/permissionServiceModule.service:PermissionService#registerdefaultrule">permissionServiceModule.service:PermissionService#registerDefaultRule</a>.</p>
</div><h5 id="methods_registerrule_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>ruleConfiguration</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerrule-page"><p>The configuration of the rule to register.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>names</td><td><a href="" class="label type-hint type-hint-string">String[]</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerrule-page"><p>The list of names associated to the rule.</p>
</div></td></tr><tr><td>verify</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-registerrule-page"><p>The verification function of the rule. It must return a promise that responds with true, false, or an error.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_unregisterdefaultrule">unregisterDefaultRule()</h3>
<div class="unregisterdefaultrule"><div class="permissionserviceinterfacemodule-service-page permissionserviceinterfacemodule-service-permissionserviceinterface-unregisterdefaultrule-page"><p>This method un-registers the default rule.</p>
</div></div>
</li>
</ul>
</div>
</div>
