<h1><code ng:non-bindable="">previewTicketInterceptor</code>
<div><span class="hint">service in module <code ng:non-bindable="">previewTicketInterceptorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="previewticketinterceptormodule-previewticketinterceptor-page"><p>A HTTP request interceptor that adds the preview ticket to the HTTP header object before a request is made.</p>
<p>Interceptors are service factories that are registered with the $httpProvider by adding them to the
$httpProvider.interceptors array. The factory is called and injected with dependencies and returns the interceptor
object, which contains the interceptor methods.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_request">request(config)</h3>
<div class="request"><div class="previewticketinterceptormodule-previewticketinterceptor-request-page"><p>Interceptor method that is called with a HTTP configuration object. It extracts the preview ticket ID (if
available) from the URL of the current page and then adds it to the HTTP header object as an
&quot;X-Preview-Ticket&quot; property before a request is made to the resource.</p>
</div><h5 id="methods_request_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>config</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="previewticketinterceptormodule-previewticketinterceptor-request-page"><p>The HTTP configuration object that holds the configuration information.</p>
</div></td></tr></tbody></table><h5 id="methods_request_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="previewticketinterceptormodule-previewticketinterceptor-request-page"><p>Returns the modified configuration object.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
