<h1><code ng:non-bindable="">previewErrorInterceptor</code>
<div><span class="hint">service in module <code ng:non-bindable="">previewErrorInterceptorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="previewerrorinterceptormodule-service-page previewerrorinterceptormodule-service-previewerrorinterceptor-page"><p>Used for HTTP error code 400 from the Preview API when the pageId is not found in the context. The request will be replayed without the pageId.</p>
</div></div>
</div>
