<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="recompiledommodule-page"><p>This module defines the <a href="#/smartEdit/recompileDomModule.directive:recompileDom">recompileDom</a> component.</p>
</div></div>
