<h1><code ng:non-bindable="">recompileDom</code>
<div><span class="hint">directive in module <code ng:non-bindable="">recompileDomModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="recompiledommodule-directive-page recompiledommodule-directive-recompiledom-page"><p>The recompile dom directive accepts a function param, and can be applied to any part of the dom.
Upon execution of the function, the inner contents of this dom is recompiled by Angular.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/smartEdit/ng.$timeout">$timeout</a></code>
</li>
</ul>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY recompile-dom="{= Function}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>recompileDom</td><td><a href="" class="label type-hint type-hint-object">= Function</a></td><td><div class="recompiledommodule-directive-page recompiledommodule-directive-recompiledom-page"><p>Function invoked from the outer scope to trigger the recompiling of the transcluded content.</p>
</div></td></tr></tbody></table></div>
</div>
