<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="renderservicemodule-page"><p>This module provides the renderService, which is responsible for rendering the SmartEdit overlays used for providing
CMS functionality to the storefront within the context of SmartEdit.</p>
</div></div>
