<h1><code ng:non-bindable="">renderService</code>
<div><span class="hint">service in module <code ng:non-bindable="">renderServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="renderservicemodule-renderservice-page"><p>The renderService is responsible for rendering and resizing component overlays, and re-rendering components and slots
from the storefront.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods__resizeslots">_resizeSlots()</h3>
<div class="_resizeslots"><div class="renderservicemodule-renderservice-resizeslots-page"><p>Resizes the height of all slots on the page based on the sizes of the components. The new height of the
slot is set to the minimum height encompassing its sub-components, calculated by comparing each of the
sub-components&#39; top and bottom bounding rectangle values.</p>
<p>Slots that do not have components inside still appear in the DOM. If the CMS manager is in a perspective in which
slot contextual menus are displayed, slots must have a height. Otherwise, overlays will overlap. Thus, empty slots
are given a minimum size so that overlays match.</p>
</div></div>
</li>
<li><h3 id="methods_refreshoverlaydimensions">refreshOverlayDimensions(element)</h3>
<div class="refreshoverlaydimensions"><div class="renderservicemodule-renderservice-refreshoverlaydimensions-page"><p>Refreshes the dimensions and positions of the SmartEdit overlays. The overlays need to remain in synced with the
dynamic resizing of their original elements. In particular, this method is bound to the window resizing event
to refresh overlay dimensions for responsive storefronts.</p>
<p>The implementation itself will search for children SmartEdit components from the root element provided. If no root
element is provided, the method will default to using the body element. The overlay specific to this component
is then fetched and resized, according to the dimensions of the component.</p>
</div><h5 id="methods_refreshoverlaydimensions_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>element</td><td><a href="" class="label type-hint type-hint-element">Element</a></td><td><div class="renderservicemodule-renderservice-refreshoverlaydimensions-page"><p>The root element from which to traverse and discover SmartEdit components.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_toggleoverlay">toggleOverlay(isVisible)</h3>
<div class="toggleoverlay"><div class="renderservicemodule-renderservice-toggleoverlay-page"><p>Toggles the visibility of the overlay using CSS.</p>
</div><h5 id="methods_toggleoverlay_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>isVisible</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="renderservicemodule-renderservice-toggleoverlay-page"><p>Flag to show/hide the overlay.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
