<h1><code ng:non-bindable="">PERMISSIONSWEBSERVICES_RESOURCE_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-permissionswebservices-resource-uri-page"><p>Path to fetch permissions of a given type</p>
</div></div>
</div>
