<h1><code ng:non-bindable="">STOREFRONT_PATH_WITH_PAGE_ID</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-storefront-path-with-page-id-page"><p>Path of the storefront with a page ID</p>
</div></div>
</div>
