<h1><code ng:non-bindable="">SMARTEDIT_RESOURCE_URI_REGEXP</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-smartedit-resource-uri-regexp-page"><p>to calculate platform domain URI, this regular expression will be used</p>
</div></div>
</div>
