<h1><code ng:non-bindable="">PageUriContext</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-pageuricontext-page"><p>A map that contains the necessary site and catalog information for CMS services and directives for a given page.
It contains the following keys:
<a href="#/smartEdit/resourceLocationsModule.object:PAGE_CONTEXT_SITE_ID">PAGE_CONTEXT_SITE_ID</a> for the site uid,
<a href="#/smartEdit/resourceLocationsModule.object:PAGE_CONTEXT_CATALOG">PAGE_CONTEXT_CATALOG</a> for the catalog uid,
<a href="#/smartEdit/resourceLocationsModule.object:PAGE_CONTEXT_CATALOG_VERSION">PAGE_CONTEXT_CATALOG_VERSION</a> for the catalog version.</p>
</div></div>
</div>
