<h1><code ng:non-bindable="">I18N_LANGUAGE_RESOURCE_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-i18n-language-resource-uri-page"><p>Resource URI to fetch the supported i18n languages.</p>
</div></div>
</div>
