<h1><code ng:non-bindable="">resourceNotFoundErrorInterceptor</code>
<div><span class="hint">service in module <code ng:non-bindable="">resourceNotFoundErrorInterceptorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcenotfounderrorinterceptormodule-service-page resourcenotfounderrorinterceptormodule-service-resourcenotfounderrorinterceptor-page"><p>Used for HTTP error code 404 (Not Found) except for an HTML or a language resource. It will display the response.message in an alert message.</p>
</div></div>
</div>
