<h1><code ng:non-bindable="">CONFIGURATION_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-configuration-uri-page"><p>the name of the SmartEdit configuration API root</p>
</div></div>
</div>
