<h1><code ng:non-bindable="">LANDING_PAGE_PATH</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-landing-page-path-page"><p>Path of the landing page</p>
</div></div>
</div>
