<h1><code ng:non-bindable="">CMSWEBSERVICES_PATH</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-cmswebservices-path-page"><p>Regular expression identifying CMS related URIs</p>
</div></div>
</div>
