<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="restservicefactorymodule-page"><h2 id="the-restservicefactorymodule">The restServiceFactoryModule</h2>
<p>A module providing a factory used to generate a REST service wrapper for a given resource URL.</p>
</div></div>
