<h1><code ng:non-bindable="">retryInterceptor</code>
<div><span class="hint">service in module <code ng:non-bindable="">retryInterceptorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="retryinterceptormodule-service-page retryinterceptormodule-service-retryinterceptor-page"><p>The retryInterceptor provides the functionality to register a set of predicates with their associated retry strategies.
Each time an HTTP request fails, the service try to find a matching retry strategy for the given response.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_register">register(predicate, strategyHolder)</h3>
<div class="register"><div class="retryinterceptormodule-service-page retryinterceptormodule-service-retryinterceptor-register-page"><p>Register a new predicate with it&#39;s associated strategyHolder.</p>
</div><h5 id="methods_register_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>predicate</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="retryinterceptormodule-service-page retryinterceptormodule-service-retryinterceptor-register-page"><p>This function takes the &#39;response&#39; {Object} argument and an (optional) operationContext {String}. This function must return a Boolean that is true if the given response match the predicate.</p>
</div></td></tr><tr><td>strategyHolder</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="retryinterceptormodule-service-page retryinterceptormodule-service-retryinterceptor-register-page"><p>This function will be instanciated at run-time. See <a href="#/smartEdit/retryStrategyInterfaceModule.RetryStrategyInterface">RetryStrategyInterface</a>.</p>
</div></td></tr></tbody></table><h5 id="methods_register_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="retryinterceptormodule-service-page retryinterceptormodule-service-retryinterceptor-register-page"><p>retryInterceptor The retryInterceptor service.</p>
</div></td></tr></table><h4 id="methods_register_example">Example</h4>
<div class="example"><div class="retryinterceptormodule-service-page retryinterceptormodule-service-retryinterceptor-register-page"><pre><code class="lang-js">angular.module(&#39;customInterceptorExample&#39;, [&#39;retryInterceptorModule&#39;, &#39;operationContextServiceModule&#39;])
 .controller(&#39;ExampleController&#39;, function($q, retryInterceptor, OPERATION_CONTEXT) {
     var customPredicate = function(httpObj, operationContext) {
         return httpObj.status === 500 &amp;&amp; operationContext === OPERATION_CONTEXT.TOOLING;
     };
     var StrategyHolder = function() {
         // set the firstFastRetry value to true for the retry made immediately only for the very first retry (subsequent retries will remain subject to the calculateNextDelay response)
         this.firstFastRetry = true;
     };
     StrategyHolder.prototype.canRetry = function() {
         // this function must return a {Boolean} if the given request must be retried.
         // use this.attemptCount value to determine if the function should return true or false
     };
     StrategyHolder.prototype.calculateNextDelay = function() {
         // this function must return the next delay time {Number}
         // use this.attemptCount value to determine the next delay value
     };
     retryInterceptor.register(customPredicate, StrategyHolder);
 });
</code></pre>
</div></div>
</div>
</li>
</ul>
</div>
</div>
