<h1><code ng:non-bindable="">VALIDATION_MESSAGE_TYPES</code>
<div><span class="hint">object in module <code ng:non-bindable="">seConstantsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="seconstantsmodule-object-page seconstantsmodule-object-validation-message-types-page"><p>Validation message types</p>
</div></div>
</div>
