<h1><code ng:non-bindable="">EVENT_PERSPECTIVE_UNLOADING</code>
<div><span class="hint">object in module <code ng:non-bindable="">seConstantsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="seconstantsmodule-object-page seconstantsmodule-object-event-perspective-unloading-page"><p>The ID of the event that is triggered when a perspective is about to be unloaded.
This event is triggered immediately before the features are disabled.</p>
</div></div>
</div>
