<h1><code ng:non-bindable="">NONE_PERSPECTIVE</code>
<div><span class="hint">object in module <code ng:non-bindable="">seConstantsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="seconstantsmodule-object-page seconstantsmodule-object-none-perspective-page"><p>The key of the default None Perspective.</p>
</div></div>
</div>
