<h1><code ng:non-bindable="">seDropdown</code>
<div><span class="hint">directive in module <code ng:non-bindable="">seDropdownModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>This directive generates a custom dropdown (standalone or dependent on another one) for the <a href="#/smartEdit/genericEditorModule.service:GenericEditor">genericEditor</a>.
It is an implementation of the PropertyEditorTemplate <a href="#/smartEdit/editorFieldMappingServiceModule.service:PropertyEditorTemplate">contract</a>.
<br/><a href="#/smartEdit/editorFieldMappingServiceModule.service:editorFieldMappingService">editorFieldMappingService</a> maps seDropdown by default to the &quot;EditableDropdown&quot; cmsStructureType.
<br/>The dropdown will be configured and populated based on the field structure retrieved from the Structure API.
The following is an example of the 4 possible field structures that can be returned by the Structure API for seDropdown to work:
<pre class="prettyprint linenums">
[
...
{
	cmsStructureType: "EditableDropdown",
	qualifier: "someQualifier1",
	i18nKey: 'i18nkeyForsomeQualifier1',
	idAttribute: "id",
	labelAttributes: ["label"],
	paged: false,
	options: [{
     	id: '1',
     	label: 'option1'
     	}, {
     	id: '2',
     	label: 'option2'
     	}, {
     	id: '3',
     	label: 'option3'
     }],
}, {
	cmsStructureType: "EditableDropdown",
	qualifier: "someQualifier2",
	i18nKey: 'i18nkeyForsomeQualifier2',
	idAttribute: "id",
	labelAttributes: ["label"],
	paged: false,
	uri: '/someuri',
	dependsOn: 'someQualifier1'
}, {
	cmsStructureType: "EditableDropdown",
	qualifier: "someQualifier2",
	i18nKey: 'i18nkeyForsomeQualifier2',
	idAttribute: "id",
	labelAttributes: ["label"],
	paged: false,
}, {
	cmsStructureType: "EditableDropdown",
	qualifier: "someQualifier3",
	i18nKey: 'i18nkeyForsomeQualifier3',
	idAttribute: "id",
	labelAttributes: ["label"],
	paged: false,
	propertyType: 'somePropertyType',
}
...
]
</pre>
<p><br/>If uri, options and propertyType are not set, then seDropdown will look for an implementation of <a href="#/smartEdit/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface">DropdownPopulatorInterface</a> with the following AngularJS recipe name:
<pre class="prettyprint linenums">smarteditComponentType + qualifier + "DropdownPopulator"</pre>
and default to:
<pre class="prettyprint linenums">smarteditComponentType + "DropdownPopulator"</pre>
If no custom populator can be found, an exception will be raised.
<br/><br/>For the above example, since someQualifier2 will depend on someQualifier1, then if someQualifier1 is changed, then the list of options
for someQualifier2 is populated by calling the populate method of <a href="#/smartEdit/uriDropdownPopulatorModule.service:uriDropdownPopulator">uriDropdownPopulator</a>.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;se-dropdown
       field="{= Object}"
       qualifier="{= String}"
       model="{= Object}"
       id="{= String}"
       [item-template-url="{&lt;String}"]&gt;
&lt;/se-dropdown&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">= Object</a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>The field description of the field being edited as defined by the structure API described in <a href="#/smartEdit/genericEditorModule.service:GenericEditor">genericEditor</a>.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>options <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-array">Array </a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>An array of options to be populated.</p>
</div></td></tr><tr><td>uri <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String </a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>The uri to fetch the list of options from a REST call, especially if the dropdown is dependent on another one.</p>
</div></td></tr><tr><td>propertyType <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String </a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>If a propertyType is defined, the seDropdown will use the populator associated to it with the following AngularJS recipe name : <pre class="prettyprint linenums">propertyType + "DropdownPopulator"</pre>.</p>
</div></td></tr><tr><td>dependsOn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String </a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>The qualifier of the parent dropdown that this dropdown depends on.</p>
</div></td></tr><tr><td>idAttribute <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String </a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>The name of the id attribute to use when populating dropdown items.</p>
</div></td></tr><tr><td>labelAttributes <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-array">Array </a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>An array of attributes to use when determining the label for each item in the dropdown</p>
</div></td></tr><tr><td>paged <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-boolean">Boolean </a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>A boolean to determine if we are in paged mode as opposed to retrieving all items at once.</p>
</div></td></tr></tbody></table></td></tr><tr><td>qualifier</td><td><a href="" class="label type-hint type-hint-object">= String</a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>If the field is not localized, this is the actual field.qualifier, if it is localized, it is the language identifier such as en, de...</p>
</div></td></tr><tr><td>model</td><td><a href="" class="label type-hint type-hint-object">= Object</a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>If the field is not localized, this is the actual full parent model object, if it is localized, it is the language map: model[field.qualifier].</p>
</div></td></tr><tr><td>id</td><td><a href="" class="label type-hint type-hint-object">= String</a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>An identifier of the generated DOM element.</p>
</div></td></tr><tr><td>itemTemplateUrl <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="sedropdownmodule-directive-page sedropdownmodule-directive-sedropdown-page"><p>the path to the template that will be used to display items in both the dropdown menu and the selection.</p>
</div></td></tr></tbody></table></div>
</div>
