<h1><code ng:non-bindable="">SEDropdownService</code>
<div><span class="hint">service in module <code ng:non-bindable="">seDropdownModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-page"><p>The SEDropdownService handles the initialization and the rendering of the <a href="#/smartEdit/seDropdownModule.directive:seDropdown">seDropdown</a> Angular component.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_fetchall">fetchAll()</h3>
<div class="fetchall"><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-fetchall-page"><p>Uses the configured implementation of <a href="#/smartEdit/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface">DropdownPopulatorInterface</a>
to populate the seDropdown items using <a href="#/smartEdit/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface:populate">populate</a></p>
</div><h5 id="methods_fetchall_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-fetchall-page"><p>A promise that resolves to a list of options to be populated</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_fetchentity">fetchEntity(id)</h3>
<div class="fetchentity"><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-fetchentity-page"><p>Uses the configured implementation of <a href="#/smartEdit/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface">DropdownPopulatorInterface</a>
to populate a single item <a href="#/smartEdit/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface:getItem">getItem</a></p>
</div><h5 id="methods_fetchentity_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-fetchentity-page"><p>The id of the option to fetch</p>
</div></td></tr></tbody></table><h5 id="methods_fetchentity_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-fetchentity-page"><p>A promise that resolves to the option that was fetched</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_fetchpage">fetchPage(search, pageSize, currentPage)</h3>
<div class="fetchpage"><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-fetchpage-page"><p>Uses the configured implementation of <a href="#/smartEdit/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface">DropdownPopulatorInterface</a>
to populate the seDropdown items using <a href="#/smartEdit/DropdownPopulatorInterfaceModule.DropdownPopulatorInterface:fetchPage">fetchPage</a></p>
</div><h5 id="methods_fetchpage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>search</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-fetchpage-page"><p>The search to filter options by</p>
</div></td></tr><tr><td>pageSize</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-fetchpage-page"><p>The number of items to be returned</p>
</div></td></tr><tr><td>currentPage</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-fetchpage-page"><p>The page to be returned</p>
</div></td></tr></tbody></table><h5 id="methods_fetchpage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-fetchpage-page"><p>A promise that resolves to an object containing the array of items and paging information</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_init">init()</h3>
<div class="init"><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-init-page"><p>Initializes the seDropdown with a configured dropdown populator based on field attributes used when instantiating
the <a href="#/smartEdit/seDropdownModule.service:SEDropdownService">seDropdownModule.service:SEDropdownService</a>.</p>
</div></div>
</li>
<li><h3 id="methods_triggeraction">triggerAction()</h3>
<div class="triggeraction"><div class="sedropdownmodule-service-page sedropdownmodule-service-sedropdownservice-triggeraction-page"><p>Publishes an asynchronous event for the currently selected option</p>
</div></div>
</li>
</ul>
</div>
</div>
