<h1><code ng:non-bindable="">seGenericEditorFieldMessages</code>
<div><span class="hint">directive in module <code ng:non-bindable="">seGenericEditorFieldMessagesModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="segenericeditorfieldmessagesmodule-component-page segenericeditorfieldmessagesmodule-component-segenericeditorfieldmessages-page"><p>Component responsible for displaying validation messages like errors or warnings</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;se-generic-editor-field-messages se-generic-editor-field-messages
     field="{&lt; Object}"
     qualifier="{&lt; String}"&gt;
   ...
&lt;/se-generic-editor-field-messages&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>field</td><td><a href="" class="label type-hint type-hint-object">&lt; Object</a></td><td><div class="segenericeditorfieldmessagesmodule-component-page segenericeditorfieldmessagesmodule-component-segenericeditorfieldmessages-page"><p>The field object that contains array of messages.</p>
</div></td></tr><tr><td>qualifier</td><td><a href="" class="label type-hint type-hint-object">&lt; String</a></td><td><div class="segenericeditorfieldmessagesmodule-component-page segenericeditorfieldmessagesmodule-component-segenericeditorfieldmessages-page"><p>For a non-localized field, it is the actual field.qualifier. For a localized field, it is the ISO code of the language.</p>
</div></td></tr></tbody></table></div>
</div>
