<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="sevalidationmessageparsermodule-page"><p>This module provides the seValidationMessageParser service, which is used to parse validation messages (errors, warnings)
for parameters such as language and format, which are sent as part of the message itself.</p>
</div></div>
