<h1><code ng:non-bindable="">sharedDataService</code>
<div><span class="hint">service in module <code ng:non-bindable="">sharedDataServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="shareddataservicemodule-shareddataservice-page"><p>The Shared Data Service is used to store data that is to be shared between the SmartEdit application and the
SmartEdit container. It uses the <a href="#/smartEdit/gatewayProxyModule.gatewayProxy">gatewayProxy</a> service to share data between
the SmartEdit application and the container. It uses the gateway ID &quot;sharedData&quot;.</p>
<p>The Shared Data Service extends the <a href="#/smartEdit/sharedDataServiceInterfaceModule.SharedDataServiceInterface">SharedDataServiceInterface</a>.</p>
</div></div>
</div>
