<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="shareddataservicemodule-page"><h2 id="the-shareddataservicemodule">The sharedDataServiceModule</h2>
<p>The Shared Data Service Module provides a service used to store and retrieve data using a key. The data can be shared
between the SmartEdit application and SmartEdit container.</p>
</div></div>
