<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/smartEdit/sliderPanelServiceModule">sliderPanelServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/smartEdit/ngAnimate">ngAnimate</a></code>
</li>
</ul>
<div class="sliderpanelmodule-page"><p>This module defines the slider panel Angular component and its associated constants and controller.</p>
<h3 id="dependencies_basic-implementation">Basic Implementation</h3>
<p>To define a new slider panel, you must make some basic modifications to your Angular module and controller, as well
as to your HTML template.</p>
<ul>
<li><h4 id="dependencies_basic-implementation_angular-module">Angular Module</h4>
</li>
</ul>
<p>You must add the sliderPanelModule as a dependency to your Angular module.</p>
<pre class="prettyprint linenums">
 angular.module('yourApp', ['sliderPanelModule']) { ... }
</pre>
<ul>
<li><h4 id="dependencies_basic-implementation_angular-controller">Angular Controller</h4>
</li>
</ul>
<p>Within the Angular controller, you must add a function to be instantiated so that the controller will trigger the
display of the slider panel.
<pre class="prettyprint linenums">
 angular.module('yourApp', ['sliderPanelModule'])
 .controller('yourController', function() {
     ...
     this.showSliderPanel = function() {};
     ...
 });
</pre>
<ul>
<li><h4 id="dependencies_basic-implementation_html-template">HTML template</h4>
</li>
</ul>
<p>To include HTML content in the slider panel, you must embed the HTML content in a <code>&lt;y-slider-panel&gt; &lt;/y-slider-panel&gt;</code> tag.<br />
For more information, see the definition of <a href="#/smartEdit/sliderPanelModule.directive:ySliderPanel">ySliderPanel</a> Angular component.</p>
<pre class="prettyprint linenums">
 &lt;y-slider-panel data-slider-panel-show="$ctrl.sliderPanelShow"&gt;
    &lt;content&gt;
        any HTML content
    &lt;/content&gt;
 &lt;/y-slider-panel&gt;
</pre>
<p>You can then make the slider panel visible by calling the &quot;Show Slider Panel&quot; function defined in the associated controller; for example:</p>
<pre class="prettyprint linenums">
 &lt;button class="btn btn-default" ng-click="$ctrl.sliderPanelShow();"&gt;
    Show Slider Panel
 &lt;/button&gt;
</pre>
<h3 id="dependencies_advanced-configurations">Advanced Configurations</h3>
<p>A default set of configurations is applied to all slider panels. You can overwrite and update the default configuration.</p>
<p>To update the configuration of a specific slider panel, you must instantiate a JSON object that contains the expected
configuration in the Angular controller and provide it to the slider panel controller using the HTML template, for example:</p>
<pre class="prettyprint linenums">
 &lt;y-slider-panel ... data-slider-panel-configuration="$ctrl.sliderPanelConfiguration"&gt;
</pre>
<p>If you define this type of configuration set, SmartEdit will automatically merge it with the slider panel&#39;s default configuration.
For information about the available settings, see the <a href="#/smartEdit/sliderPanelServiceModule.service:sliderPanelService#methods_getnewserviceinstance">getNewServiceInstance</a> method.</p>
</div></div>
