<h1><code ng:non-bindable="">CSS_CLASSNAMES</code>
<div><span class="hint">object in module <code ng:non-bindable="">sliderPanelModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sliderpanelmodule-object-page sliderpanelmodule-object-css-classnames-page"><p>This object defines injectable Angular constants that store the CSS class names used in the controller to define the
rendering and animation of the slider panel.</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_sliderpanel_animated-{string}">SLIDERPANEL_ANIMATED {String}</h3>
<div class="sliderpanel_animated-{string}"><div class="sliderpanel-animated-string--page"><p>The class name applied to the slide panel container to trigger the sliding action in the CSS animation.</p>
</div></div>
</li>
<li><h3 id="properties_sliderpanel_slideprefix-{string}">SLIDERPANEL_SLIDEPREFIX {String}</h3>
<div class="sliderpanel_slideprefix-{string}"><div class="sliderpanel-slideprefix-string--page"><p>A common prefix for the class names that defines how the content of the slider panel is to be rendered.</p>
</div></div>
</li>
</ul>
</div>
</div>
