<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="storageservicemodule-page"><h2 id="the-storageservicemodule">The storageServiceModule</h2>
<p>The Storage Service Module provides a service that allows storing temporary information in the browser.</p>
</div></div>
