<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="tabsetmodule-page"><p>The Tabset module provides the directives required to display a group of tabsets within a tabset. The
<a href="#/smartEdit/tabsetModule.directive:yTabset">yTabset</a> is of particular interest to SmartEdit developers
because this directive is responsible for displaying and organizing tabs.</p>
</div></div>
