<h1><code ng:non-bindable="">Timer</code>
<div><span class="hint">service in module <code ng:non-bindable="">timerModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="timermodule-service-page timermodule-service-timer-page"><p>A <code>Timer</code> must be instanciated calling <strong><code>timerService.createTimer()</code></strong>.
This <code>Timer</code> service wraps <code>Angular</code>&#39;s <a href="https://docs.angularjs.org/api/ng/service/$timeout">$timeout</a> service and adds additional functions to it.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">Timer(callback, duration, invokeApply);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>callback</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="timermodule-service-page timermodule-service-timer-page"><p>The function that will be invoked upon timeout.</p>
</div></td></tr><tr><td>duration</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="timermodule-service-page timermodule-service-timer-page"><p>The number of milliseconds to wait before the callback is invoked.</p>
</div> <p><em>(default: 1000)</em></p></td></tr><tr><td>invokeApply</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="timermodule-service-page timermodule-service-timer-page"><p>Thise parameter can be set to false in order to instruct <code>Angular</code>&#39;s <a href="https://docs.angularjs.org/api/ng/service/$timeout">$timeout</a> service to skip model dirty checking.</p>
</div> <p><em>(default: true)</em></p></td></tr></tbody></table></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_isactive">isActive()</h3>
<div class="isactive"><div class="timermodule-service-page timermodule-service-timer-isactive-page"><p>This method can be used to know whether or not the timer is currently active (counting down).</p>
</div><h5 id="methods_isactive_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="timermodule-service-page timermodule-service-timer-isactive-page"><p>Returns true if the timer is active (counting down).</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_resetduration">resetDuration(duration)</h3>
<div class="resetduration"><div class="timermodule-service-page timermodule-service-timer-resetduration-page"><p>Sets the duration to a new value.</p>
</div><h5 id="methods_resetduration_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>duration</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="timermodule-service-page timermodule-service-timer-resetduration-page"><p>The new number of milliseconds to wait before the callback is invoked.</p>
</div> <p><em>(default: The previously set duration)</em></p></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_restart">restart(duration)</h3>
<div class="restart"><div class="timermodule-service-page timermodule-service-timer-restart-page"><p>Stops the timer, and then starts it again. If a new duration is given, the timer&#39;s duration will be set to that new value.</p>
</div><h5 id="methods_restart_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>duration</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="timermodule-service-page timermodule-service-timer-restart-page"><p>The new number of milliseconds to wait before the callback is invoked.</p>
</div> <p><em>(default: The previously set duration)</em></p></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_start">start(duration)</h3>
<div class="start"><div class="timermodule-service-page timermodule-service-timer-start-page"><p>Start the timer, which will invoke the callback upon timeout.</p>
</div><h5 id="methods_start_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>duration</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="timermodule-service-page timermodule-service-timer-start-page"><p>The new number of milliseconds to wait before the callback is invoked.</p>
</div> <p><em>(default: The previously set duration)</em></p></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_stop">stop()</h3>
<div class="stop"><div class="timermodule-service-page timermodule-service-timer-stop-page"><p>Stop the current timer, if it is running, which will prevent the callback from being invoked.</p>
</div></div>
</li>
<li><h3 id="methods_teardown">teardown()</h3>
<div class="teardown"><div class="timermodule-service-page timermodule-service-timer-teardown-page"><p>Clean up the internal object references </p>
</div></div>
</li>
</ul>
</div>
</div>
