<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="timermodule-page"><p>A module that provides a Timer object that can invoke a callback after a certain period of time.</p>
<ul>
<li><a href="#/smartEdit/timerModule.service:Timer">Timer</a></li>
</ul>
</div></div>
