<h1><code ng:non-bindable="">translationServiceModule</code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="translationservicemodule-page"><p>This module is used to configure the translate service, the filter, and the directives from the &#39;pascalprecht.translate&#39; package. The configuration consists of:</p>
<p><br/>- Initializing the translation map from the <a href="#/smartEdit/i18nInterceptorModule.object:I18NAPIROOT">I18NAPIROOT</a> constant.
<br/>- Setting the preferredLanguage to the <a href="#/smartEdit/i18nInterceptorModule.object:UNDEFINED_LOCALE">UNDEFINED_LOCALE</a> so that the <a href="#/smartEdit/i18nInterceptorModule.service:i18nInterceptor#methods_request">i18nInterceptor request</a> can replace it with the appropriate URI combined with the runtime browser locale retrieved from the <a href="#/smartEdit/languageServiceModule.service:languageService#methods_getbrowserlocale">languageService.getBrowserLocale</a>, which is unaccessible at configuration time.</p>
</div></div>
</div>
