<h1><code ng:non-bindable="">Node</code>
<div><span class="hint">object in module <code ng:non-bindable="">treeModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="treemodule-object-page treemodule-object-node-page"><p>A plain JSON object, representing the node of a tree managed by the <a href="#/smartEdit/treeModule.directive:ytree">ytree</a> directive.</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_haschildren">hasChildren</h3>
<div class="haschildren"><div class="haschildren-page"><p>boolean specifying whether the retrieved node has children. This is read only and ignored upon saving.</p>
</div></div>
</li>
<li><h3 id="properties_name">name</h3>
<div class="name"><div class="name-page"><p>the non localized node name. Required upon posting.</p>
</div></div>
</li>
<li><h3 id="properties_parentuid">parentUid</h3>
<div class="parentuid"><div class="parentuid-page"><p>the unique identifier of the parent node for the given catalog. Required upon posting.</p>
</div></div>
</li>
<li><h3 id="properties_uid">uid</h3>
<div class="uid"><div class="uid-page"><p>the unique identifier of a node for the given catalog. Optional upon posting.</p>
</div></div>
</li>
</ul>
</div>
</div>
