<h1><code ng:non-bindable="">yTreeDndEvent</code>
<div><span class="hint">object in module <code ng:non-bindable="">treeModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="treemodule-object-page treemodule-object-ytreedndevent-page"><p>A plain JSON object, representing the event triggered when dragging and dropping nodes in the <a href="#/smartEdit/treeModule.directive:ytree">ytree</a> directive.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">yTreeDndEvent(sourceNode, destinationNodes, position);</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>sourceNode</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-object-page treemodule-object-ytreedndevent-page"><p>is the <a href="#/smartEdit/treeModule.object:Node">node</a> that is being dragged.</p>
</div></td></tr><tr><td>destinationNodes</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-object-page treemodule-object-ytreedndevent-page"><p>is the set of the destination&#39;s parent&#39;s children <a href="#/smartEdit/treeModule.object:Node">nodes</a>.</p>
</div></td></tr><tr><td>position</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="treemodule-object-page treemodule-object-ytreedndevent-page"><p>is the index at which the <a href="#/smartEdit/treeModule.object:Node">node</a> was dropped.</p>
</div></td></tr></tbody></table></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_destinationnodes">destinationNodes</h3>
<div class="destinationnodes"><div class="destinationnodes-page"><p>array of siblings <a href="#/smartEdit/treeModule.object:Node">nodes</a> to the location drop location</p>
</div></div>
</li>
<li><h3 id="properties_position">position</h3>
<div class="position"><div class="position-page"><p>the index at which <a href="#/smartEdit/treeModule.object:Node">node</a> was dropped amongst its siblings</p>
</div></div>
</li>
<li><h3 id="properties_sourcenode">sourceNode</h3>
<div class="sourcenode"><div class="sourcenode-page"><p>the <a href="#/smartEdit/treeModule.object:Node">node</a> being dragged</p>
</div></div>
</li>
<li><h3 id="properties_sourceparenthandle">sourceParentHandle</h3>
<div class="sourceparenthandle"><div class="sourceparenthandle-page"><p>the  UI handle of the parent node of the source element</p>
</div></div>
</li>
<li><h3 id="properties_targetparenthandle">targetParentHandle</h3>
<div class="targetparenthandle"><div class="targetparenthandle-page"><p>the UI handle of the targeted parent element</p>
</div></div>
</li>
</ul>
</div>
</div>
