<h1><code ng:non-bindable="">YTreeController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">treeModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="treemodule-controller-page treemodule-controller-ytreecontroller-page"><p>Extensible controller of the <a href="#/smartEdit/treeModule.directive:ytree">ytree</a> directive</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_collapseall">collapseAll()</h3>
<div class="collapseall"><div class="treemodule-controller-page treemodule-controller-ytreecontroller-collapseall-page"><p>Causes all the nodes of the tree to collapse.
It does not affect their &quot;initiated&quot; status though.</p>
</div></div>
</li>
<li><h3 id="methods_getnodebyid">getNodeById(nodeUid)</h3>
<div class="getnodebyid"><div class="treemodule-controller-page treemodule-controller-ytreecontroller-getnodebyid-page"><p>Will fetch from the existing tree the node whose identifier is the given nodeUid</p>
</div><h5 id="methods_getnodebyid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>nodeUid</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="treemodule-controller-page treemodule-controller-ytreecontroller-getnodebyid-page"><p>the identifier of the node to fetched</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_haschildren">hasChildren(handle)</h3>
<div class="haschildren"><div class="treemodule-controller-page treemodule-controller-ytreecontroller-haschildren-page"><p>Return a boolean to determine if the node is expandable or not by checking if a given node has children</p>
</div><h5 id="methods_haschildren_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>handle</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-controller-page treemodule-controller-ytreecontroller-haschildren-page"><p>the native <a href="https://github.com/angular-ui-tree/angular-ui-tree">angular-ui-tree</a> handle on a given <a href="#/smartEdit/treeModule.object:Node">node</a></p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_newchild">newChild(handle)</h3>
<div class="newchild"><div class="treemodule-controller-page treemodule-controller-ytreecontroller-newchild-page"><p>Will add a new child to the node referenced by this handle.
<br/>The child is added only if <a href="#/smartEdit/treeModule.service:TreeService#methods_savenode">saveNode</a> from <a href="#/smartEdit/treeModule.service:TreeService">TreeService</a> is successful.</p>
</div><h5 id="methods_newchild_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>handle</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-controller-page treemodule-controller-ytreecontroller-newchild-page"><p>the native <a href="https://github.com/angular-ui-tree/angular-ui-tree">angular-ui-tree</a> handle on a given <a href="#/smartEdit/treeModule.object:Node">node</a></p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_newsibling">newSibling(handle)</h3>
<div class="newsibling"><div class="treemodule-controller-page treemodule-controller-ytreecontroller-newsibling-page"><p>Will add a new sibling to the node referenced by this handle.
<br/>The sibling is added only if <a href="#/smartEdit/treeModule.service:TreeService#methods_savenode">saveNode</a> from <a href="#/smartEdit/treeModule.service:TreeService">TreeService</a> is successful.</p>
</div><h5 id="methods_newsibling_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>handle</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-controller-page treemodule-controller-ytreecontroller-newsibling-page"><p>the native <a href="https://github.com/angular-ui-tree/angular-ui-tree">angular-ui-tree</a> handle on a given <a href="#/smartEdit/treeModule.object:Node">node</a></p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_refresh">refresh()</h3>
<div class="refresh"><div class="treemodule-controller-page treemodule-controller-ytreecontroller-refresh-page"><p>Will refresh a node, causing it to expand after fetch if it was expanded before.</p>
</div></div>
</li>
<li><h3 id="methods_refreshparent">refreshParent()</h3>
<div class="refreshparent"><div class="treemodule-controller-page treemodule-controller-ytreecontroller-refreshparent-page"><p>Will refresh the parent of a node, causing it to expand after fetch if it was expanded before.</p>
</div></div>
</li>
<li><h3 id="methods_remove">remove(handle)</h3>
<div class="remove"><div class="treemodule-controller-page treemodule-controller-ytreecontroller-remove-page"><p>Will remove the node referenced by this handle.
<br/>The node is removed only if <a href="#/smartEdit/treeModule.service:TreeService#methods_removenode">removeNode</a> from <a href="#/smartEdit/treeModule.service:TreeService">TreeService</a> is successful.</p>
</div><h5 id="methods_remove_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>handle</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-controller-page treemodule-controller-ytreecontroller-remove-page"><p>the native <a href="https://github.com/angular-ui-tree/angular-ui-tree">angular-ui-tree</a> handle on a given <a href="#/smartEdit/treeModule.object:Node">node</a></p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_toggleandfetch">toggleAndfetch(handle)</h3>
<div class="toggleandfetch"><div class="treemodule-controller-page treemodule-controller-ytreecontroller-toggleandfetch-page"><p>Will toggle a <a href="#/smartEdit/treeModule.object:Node">node</a>, causing a fetch from server if expanding for the first time.</p>
</div><h5 id="methods_toggleandfetch_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>handle</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="treemodule-controller-page treemodule-controller-ytreecontroller-toggleandfetch-page"><p>the native <a href="https://github.com/angular-ui-tree/angular-ui-tree">angular-ui-tree</a> handle on a given <a href="#/smartEdit/treeModule.object:Node">node</a></p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
