<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="urlservicemodule-page"><h2 id="the-urlservicemodule">The urlServiceModule</h2>
<p>The Url Service Module is a module for providing functionality to open a URL
in a new browser url from within the SmartEdit container.</p>
</div></div>
