<h1><code ng:non-bindable="">UrlServiceInterface</code>
<div><span class="hint">service in module <code ng:non-bindable="">urlServiceInterfaceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="urlserviceinterfacemodule-urlserviceinterface-page"><p>Provides an abstract extensible url service, Used to open a given URL
in a new browser url upon invocation. </p>
<p>This class serves as an interface and should be extended, not instantiated.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_openurlinpopup">openUrlInPopup(url)</h3>
<div class="openurlinpopup"><div class="urlserviceinterfacemodule-urlserviceinterface-openurlinpopup-page"><p>Opens a given URL in a new browser pop up without authentication.</p>
</div><h5 id="methods_openurlinpopup_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>url</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="urlserviceinterfacemodule-urlserviceinterface-openurlinpopup-page"><ul>
<li>the URL we wish to open.</li>
</ul>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_path">path(path)</h3>
<div class="path"><div class="urlserviceinterfacemodule-urlserviceinterface-path-page"><p>Navigates to the given path in the same browser tab.</p>
</div><h5 id="methods_path_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>path</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="urlserviceinterfacemodule-urlserviceinterface-path-page"><ul>
<li>the path we wish to navigate to.</li>
</ul>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
