<h1><code ng:non-bindable="">modalWizard</code>
<div><span class="hint">service in module <code ng:non-bindable="">wizardServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="wizardservicemodule-modalwizard-page"><p>The modalWizard service is used to create wizards that are embedded into the <a href="#/smartEdit/modalServiceModule">modalService</a></p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_open">open(conf)</h3>
<div class="open"><div class="wizardservicemodule-modalwizard-open-page"><p>Open provides a simple way to create modal wizards, with much of the boilerplate taken care of for you, such as look
and feel, and wizard navigation.</p>
</div><h5 id="methods_open_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>conf</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="wizardservicemodule-modalwizard-open-page"><p>configuration</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>controller</td><td><a href="" class="label type-hint type-hint-string">String</a><a href="" class="label type-hint type-hint-function">function</a><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="wizardservicemodule-modalwizard-open-page"><p>An angular controller which will be the underlying controller
for all of the wizard. This controller MUST implement the function <strong>getWizardConfig()</strong> which
returns a <a href="#/smartEdit/wizardServiceModule.object:ModalWizardConfig">ModalWizardConfig</a>.<br />
If you need to do any manual wizard manipulation, &#39;wizardManager&#39; can be injected into your controller.
See <a href="#/smartEdit/wizardServiceModule.WizardManager">WizardManager</a></p>
</div></td></tr><tr><td>controllerAs</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="wizardservicemodule-modalwizard-open-page"><p>(OPTIONAL) An alternate controller name that can be used in your wizard step</p>
</div></td></tr><tr><td>properties <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">=String</a></td><td><div class="wizardservicemodule-modalwizard-open-page"><p>A map of properties to initialize the wizardManager with. They are accessible under wizardManager.properties.
templates. By default the controller name is wizardController.</p>
</div></td></tr></tbody></table></td></tr></tbody></table><h5 id="methods_open_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-function">function</a></td><td><div class="wizardservicemodule-modalwizard-open-page"><p><a href="https://docs.angularjs.org/api/ng/service/$q">promise</a> that will either be resolved (wizard finished) or
rejected (wizard cancelled).</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
