<h1><code ng:non-bindable="">WizardManager</code>
<div><span class="hint">service in module <code ng:non-bindable="">wizardServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="wizardservicemodule-wizardmanager-page"><p>The Wizard Manager is a wizard management service that can be injected into your wizard controller.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_addstep">addStep(newStep, index)</h3>
<div class="addstep"><div class="wizardservicemodule-wizardmanager-addstep-page"><p>Adds an additional step to the wizard at runtime</p>
</div><h5 id="methods_addstep_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>newStep</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="wizardservicemodule-wizardmanager-addstep-page"><p>A <a href="#/smartEdit/wizardServiceModule.object:WizardStepConfig">WizardStepConfig</a></p>
</div></td></tr><tr><td>index</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="wizardservicemodule-wizardmanager-addstep-page"><p>(OPTIONAL) A 0-based index position in the steps array. Default is 0.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_cancel">cancel()</h3>
<div class="cancel"><div class="wizardservicemodule-wizardmanager-cancel-page"><p>Cancel the wizard. This will return a rejected promise to the creator of the wizard.</p>
</div></div>
</li>
<li><h3 id="methods_close">close()</h3>
<div class=""><div class="wizardservicemodule-wizardmanager-close-page"><p>Close the wizard. This will return a resolved promise to the creator of the wizard, and if any
resultFn was provided in the <a href="#/smartEdit/wizardServiceModule.object:ModalWizardConfig">ModalWizardConfig</a> the returned
value of this function will be passed as the result.</p>
</div></div>
</li>
<li><h3 id="methods_containsstep">containsStep(id)</h3>
<div class="containsstep"><h5 id="methods_containsstep_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="wizardservicemodule-wizardmanager-containsstep-page"><p>A step ID</p>
</div></td></tr></tbody></table><h5 id="methods_containsstep_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="wizardservicemodule-wizardmanager-containsstep-page"><p>True if the ID exists in one of the steps</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcurrentstep">getCurrentStep()</h3>
<div class="getcurrentstep"><h5 id="methods_getcurrentstep_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="wizardservicemodule-wizardmanager-getcurrentstep-page"><p>The currently displayed step</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcurrentstepid">getCurrentStepId()</h3>
<div class="getcurrentstepid"><h5 id="methods_getcurrentstepid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="wizardservicemodule-wizardmanager-getcurrentstepid-page"><p>The ID of the currently displayed step</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcurrentstepindex">getCurrentStepIndex()</h3>
<div class="getcurrentstepindex"><h5 id="methods_getcurrentstepindex_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="wizardservicemodule-wizardmanager-getcurrentstepindex-page"><p>The index of the currently displayed step</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getstepindexfromid">getStepIndexFromId(id)</h3>
<div class="getstepindexfromid"><h5 id="methods_getstepindexfromid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="wizardservicemodule-wizardmanager-getstepindexfromid-page"><p>A step ID</p>
</div></td></tr></tbody></table><h5 id="methods_getstepindexfromid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="wizardservicemodule-wizardmanager-getstepindexfromid-page"><p>The index of the step with the provided ID</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getstepwithid">getStepWithId(id)</h3>
<div class="getstepwithid"><h5 id="methods_getstepwithid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="wizardservicemodule-wizardmanager-getstepwithid-page"><p>The ID of a step</p>
</div></td></tr></tbody></table><h5 id="methods_getstepwithid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="wizardservicemodule-wizardmanager-getstepwithid-page"><p>The <a href="#/smartEdit/wizardServiceModule.object:WizardStepConfig">step</a> with the given ID</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getstepwithindex">getStepWithIndex(index)</h3>
<div class="getstepwithindex"><h5 id="methods_getstepwithindex_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>index</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="wizardservicemodule-wizardmanager-getstepwithindex-page"><p>The ID of a step</p>
</div></td></tr></tbody></table><h5 id="methods_getstepwithindex_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="wizardservicemodule-wizardmanager-getstepwithindex-page"><p>The <a href="#/smartEdit/wizardServiceModule.object:WizardStepConfig">step</a> with the given index</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getsteps">getSteps()</h3>
<div class="getsteps"><h5 id="methods_getsteps_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="wizardservicemodule-wizardmanager-getsteps-page"><p>An array of all the steps in the wizard</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getstepscount">getStepsCount()</h3>
<div class="getstepscount"><h5 id="methods_getstepscount_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="wizardservicemodule-wizardmanager-getstepscount-page"><p>The number of steps in the wizard. This should always be equal to the size of the array
returned by <a href="#/smartEdit/wizardServiceModule.WizardManager#methods_getsteps">getSteps()</a></p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_gotostepwithid">goToStepWithId(id)</h3>
<div class="gotostepwithid"><div class="wizardservicemodule-wizardmanager-gotostepwithid-page"><p>Navigates the wizard to the given step</p>
</div><h5 id="methods_gotostepwithid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="wizardservicemodule-wizardmanager-gotostepwithid-page"><p>The ID of a step returned by the wizard controllers getWizardConfig() function. Note that if
no id was provided for a given step, then one is automatically generated.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_gotostepwithindex">goToStepWithIndex(index)</h3>
<div class="gotostepwithindex"><div class="wizardservicemodule-wizardmanager-gotostepwithindex-page"><p>Navigates the wizard to the given step</p>
</div><h5 id="methods_gotostepwithindex_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>index</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="wizardservicemodule-wizardmanager-gotostepwithindex-page"><p>The 0-based index from the steps array returned by the wizard controllers getWizardConfig() function</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removestepbyid">removeStepById(id)</h3>
<div class="removestepbyid"><div class="wizardservicemodule-wizardmanager-removestepbyid-page"><p>Remove a step form the wizard at runtime. If you are removing the currently displayed step, the
wizard will return to the first step. Removing all the steps will result in an error.</p>
</div><h5 id="methods_removestepbyid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="wizardservicemodule-wizardmanager-removestepbyid-page"><p>The id of the step you wish to remove</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_removestepbyindex">removeStepByIndex(index)</h3>
<div class="removestepbyindex"><div class="wizardservicemodule-wizardmanager-removestepbyindex-page"><p>Remove a step form the wizard at runtime. If you are removing the currently displayed step, the
wizard will return to the first step. Removing all the steps will result in an error.</p>
</div><h5 id="methods_removestepbyindex_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>index</td><td><a href="" class="label type-hint type-hint-number">Number</a></td><td><div class="wizardservicemodule-wizardmanager-removestepbyindex-page"><p>The 0-based index of the step you wish to remove.</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
