<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="wizardservicemodule-page"><h2 id="the-wizardservicemodule">The wizardServiceModule</h2>
<p>The wizardServiceModule is a module containing all wizard related services</p>
<h2 id="creating-a-modal-wizard-in-a-few-simple-steps">Creating a modal wizard in a few simple steps</h2>
<ol>
<li>Add the wizardServiceModule to your module dependencies</li>
<li>Inject <a href="#/smartEdit/wizardServiceModule.modalWizard">modalWizard</a> where you want to use the wizard.</li>
<li>Create a new controller for your wizard. This controller will be used for all steps of the wizard.</li>
<li>Implement a function in your new controller called <strong>getWizardConfig</strong> that returns a <a href="#/smartEdit/wizardServiceModule.object:ModalWizardConfig">ModalWizardConfig</a></li>
<li>Use <a href="#/smartEdit/wizardServiceModule.modalWizard#methods_open">modalWizard.open()</a> passing in your new controller</li>
</ol>
<pre class="prettyprint linenums">
    angular.module('myModule', ['wizardServiceModule'])
        .controller('myWizardController', ['wizardManager',
            function(wizardManager) {
                this.getWizardConfig = function() {
                    return {
                        steps: [{
                            id: 'step1',
                            name: 'i18n.step1.name',
                            title: 'i18n.step1.title',
                            templateUrl: 'some/template1.html'
                        }, {
                            id: 'step2',
                            name: 'i18n.step2.name',
                            title: 'i18n.step2.title',
                            templateUrl: 'some/template2.html'
                        }]
                    };
                }
            }]
        )
        .service('myService', function(modalWizard) {
            this.doSomething = function() {
                    return modalWizard.open({
                        controller: 'myWizardController'
                    });
            };
        });
</pre>
</div></div>
