<h1><code ng:non-bindable="">yCollapsibleContainer</code>
<div><span class="hint">directive in module <code ng:non-bindable="">yCollapsibleContainerModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ycollapsiblecontainermodule-directive-page ycollapsiblecontainermodule-directive-ycollapsiblecontainer-page"><p>The yCollapsibleContainer Angular component allows for the dynamic display of any HTML content on a collapsible container.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;y-collapsible-container
       [configuration="{&lt;Object}"]&gt;
&lt;/y-collapsible-container&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>configuration <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;Object</a></td><td><div class="ycollapsiblecontainermodule-directive-page ycollapsiblecontainermodule-directive-ycollapsiblecontainer-page"><p>JSON object containing the configuration to be applied on a collapsible container.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>expandedByDefault</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="ycollapsiblecontainermodule-directive-page ycollapsiblecontainermodule-directive-ycollapsiblecontainer-page"><p>Specifies if the collapsible container is expanded by default.</p>
</div></td></tr><tr><td>iconAlignment</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="ycollapsiblecontainermodule-directive-page ycollapsiblecontainermodule-directive-ycollapsiblecontainer-page"><p>Specifies if the expand-collapse icon is to be displayed to the <em>left</em> or to the <em>right</em> of the container header.</p>
</div></td></tr><tr><td>iconVisible</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="ycollapsiblecontainermodule-directive-page ycollapsiblecontainermodule-directive-ycollapsiblecontainer-page"><p>Specifies if the expand-collapse icon is to be rendered.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</div>
