<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/smartEdit/ui.bootstrap">bootstrap</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/smartEdit/yLoDashModule">yLoDashModule</a></code>
</li>
</ul>
<div class="ycollapsiblecontainermodule-page"><p>This module defines the collapsible container Angular component and its associated constants and controller.</p>
<h3 id="dependencies_basic-implementation">Basic Implementation</h3>
<p>To define a new collapsible container, you must make some basic modifications to your Angular module and controller, as well
as to your HTML template. You can also customize the rendering of your collapsible container in your controller.</p>
<ul>
<li><h4 id="dependencies_basic-implementation_angular-module">Angular Module</h4>
</li>
</ul>
<p>You must add the yCollapsibleContainerModule as a dependency to your Angular module.</p>
<pre class="prettyprint linenums">
 angular.module('yourApp', ['yCollapsibleContainerModule']) { ... }
</pre>
<ul>
<li><h4 id="dependencies_basic-implementation_html-template">HTML template</h4>
</li>
</ul>
<p>To include HTML content in the collapsible panel, you must embed it within a <code>&lt;y-collapsible-container&gt; &lt;/y-collapsible-container&gt;</code> tag.<br /></p>
<pre class="prettyprint linenums">
 &lt;y-collapsible-container&gt;
    &lt;header&gt;
        Your title here
    &lt;/header&gt;
    &lt;content&gt;
        Your content here
    &lt;/content&gt;
 &lt;/y-collapsible-container&gt;
</pre>
<ul>
<li><h4 id="dependencies_basic-implementation_angular-controller">Angular Controller</h4>
</li>
</ul>
<p>Within your Angular controller, you can define configurations which will get applied on the collapsible container.
<pre class="prettyprint linenums">
 angular.module('yourApp', ['sliderPanelModule'])
 .controller('yourController', function() {
     ...
     this.configuration = { ... };
     ...
 });
</pre>
<p>The configurations are passed and applied to the collapsible container through the binded variable &#39;configuration&#39;</p>
<pre class="prettyprint linenums">
 &lt;y-collapsible-container data-configuration="$yourCtrl.configuration"&gt;
    ...
 &lt;/y-collapsible-container&gt;

</pre>
<p>For information about the available settings, see the <a href="#/smartEdit/yCollapsibleContainerModule.directive:yCollapsibleContainer">yCollapsibleContainer</a> Angular component.</p>
</div></div>
