<h1><code ng:non-bindable="">yHelp</code>
<div><span class="hint">directive in module <code ng:non-bindable="">yHelpModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="yhelpmodule-component-page yhelpmodule-component-yhelp-page"><p>This component will generate a help button that will show a customizable popover on top of it when hovering.
It relies on the <a href="#/smartEdit/yPopoverModule.directive:yPopover">yPopover</a> directive.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;y-help
       template="{String}"
       template-url="{String}"
       title="{String}"&gt;
&lt;/y-help&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>template</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="yhelpmodule-component-page yhelpmodule-component-yhelp-page"><p>the HTML body to be used in the popover body, it will automatically be trusted by the directive. Optional but exactly one of either template or templateUrl must be defined.</p>
</div></td></tr><tr><td>templateUrl</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="yhelpmodule-component-page yhelpmodule-component-yhelp-page"><p>the location of the HTML template to be used in the popover body. Optional but exactly one of either template or templateUrl must be defined.</p>
</div></td></tr><tr><td>title</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="yhelpmodule-component-page yhelpmodule-component-yhelp-page"><p>the title to be used in the popover title section. Optional.</p>
</div></td></tr></tbody></table></div>
</div>
