<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="yjquerymodule-page"><p>This module manages the use of the jQuery library in SmartEdit.
It enables smartEdit to work with a &quot;noConflict&quot; version of jQuery in a storefront that may contain another version</p>
</div></div>
