<h1><code ng:non-bindable="">yjQuery</code>
<div><span class="hint">service in module <code ng:non-bindable="">yjqueryModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="yjquerymodule-yjquery-page"><p>Expose a jQuery wrapping factory all the while preserving potentially pre-existing jQuery in storefront and smartEditContainer</p>
</div></div>
</div>
