<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="ylodashmodule-page"><p>This module manages the use of the lodash library in SmartEdit. It makes sure the library is introduced
in the Angular lifecycle and makes it easy to mock for unit tests.</p>
</div></div>
