<h1><code ng:non-bindable="">yPopupOverlayUtilsClickOrderService</code>
<div><span class="hint">service in module <code ng:non-bindable="">yPopupOverlayUtilsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ypopupoverlayutilsmodule-service-page ypopupoverlayutilsmodule-service-ypopupoverlayutilsclickorderservice-page"><p>A service that manages the click handlers for all <a href="#/smartEdit/yPopupOverlayModule.directive:yPopupOverlay">yPopupOverlay</a> overlay DOM elements.
When the user clicks outside of an overlay, the overlay should close, but in the case of multiple overlays
the click handlers are registered in the reverse order that want to execute them.<br />
<br />
So this service keeps a stack of all displayed popup overlays, and delegates clicks only to the top of the stack.</p>
</div></div>
</div>
