<h1><code ng:non-bindable="">yPopover</code>
<div><span class="hint">directive in module <code ng:non-bindable="">yPopoverModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="ypopovermodule-directive-page ypopovermodule-directive-ypopover-page"><p>This directive attaches a customizable popover on a DOM element.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY y-popover
     [template="{&lt;String}"]
     [template-url="{&lt;String}"]
     [title="{&lt;String}"]
     [placement="{&lt;String}"]
     [trigger="{=String}"]&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>template <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="ypopovermodule-directive-page ypopovermodule-directive-ypopover-page"><p>the HTML body to be used in the popover body, it will automatically be trusted by the directive. Optional but exactly one of either template or templateUrl must be defined.</p>
</div></td></tr><tr><td>templateUrl <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="ypopovermodule-directive-page ypopovermodule-directive-ypopover-page"><p>the location of the HTML template to be used in the popover body. Optional but exactly one of either template or templateUrl must be defined.</p>
</div></td></tr><tr><td>title <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="ypopovermodule-directive-page ypopovermodule-directive-ypopover-page"><p>the title to be used in the popover title section. Optional.</p>
</div></td></tr><tr><td>placement <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="ypopovermodule-directive-page ypopovermodule-directive-ypopover-page"><p>the placement of the popover around the target element. Possible values are <b>top, left, right, bottom</b>, as well as any
concatenation of them with the following format: placement1-placement2 such as bottom-right. Optional, default value is top.</p>
</div></td></tr><tr><td>trigger <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">=String</a></td><td><div class="ypopovermodule-directive-page ypopovermodule-directive-ypopover-page"><p>the event type that will trigger the popover. Possibles values are <b>hover, click, outsideClick, none</b>. Optional, default value is &#39;click&#39;.</p>
</div></td></tr></tbody></table></div>
</div>
