<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="ypopupoverlaymodule-page"><p>This module provides the yPopupOverlay directive, and it&#39;s helper services</p>
</div></div>
