<span data-y-popover
    data-title="yHelp.title"
    data-template="yHelp.template"
    data-template-url="yHelp.templateUrl"
    data-placement="yHelp.placement"
    data-trigger="yHelp.trigger">
    <span class="hyicon hyicon-help-icon"></span>
</span>