@charset "UTF-8";
.ye-default-reference-editor-bandpopup {
  /* DO NOT REMOVE  - FIX FOR 100% WIDTH BUG */
  overflow: hidden;
  display: inline; }

.ye-default-reference-editor .z-bandbox-button {
  background-color: #ffffff;
  background-position: center center;
  border-radius: 0;
  width: 40px;
  height: 40px;
  color: #6b8098; }
  .ye-default-reference-editor .z-bandbox-button.ye-create-only {
    top: -40px;
    height: 40px;
    width: 40px;
    right: 0; }
    .ye-default-reference-editor .z-bandbox-button.ye-create-only[disabled] {
      background-position: center center;
      border-radius: 0; }
    .ye-default-reference-editor .z-bandbox-button.ye-create-only .z-bandbox-icon {
      line-height: 38px;
      height: 40px; }
  .ye-default-reference-editor .z-bandbox-button .z-bandbox-icon {
    width: 38px; }
  .ye-default-reference-editor .z-bandbox-button .z-icon-search {
    height: 100%;
    line-height: 0.5; }
    .ye-default-reference-editor .z-bandbox-button .z-icon-search:before {
      content: "";
      height: 38px;
      line-height: 40px;
      font-size: 18px; }
  .ye-default-reference-editor .z-bandbox-button:hover {
    color: #0486e0; }
  .ye-default-reference-editor .z-bandbox-button:focus {
    background-color: #b3daf6 !important;
    border-color: #0486e0; }

.ye-default-reference-editor-bandbox.ye-create-only .z-bandbox-input {
  padding-left: 28px;
  cursor: pointer;
  background-image: url("images/icon_func_referenceselector_add_default.png") !important;
  background-repeat: no-repeat !important;
  background-position: -18px 7px !important;
  border-color: #acacac; }

.ye-default-reference-editor-bandbox-autocorrection-value {
  padding-left: 5px; }

.ye-default-reference-editor-bandbox .z-bandbox-input {
  margin-bottom: 0;
  width: 100%;
  border-right-width: 0;
  border-radius: 0 0 0 0; }
  .ye-default-reference-editor-bandbox .z-bandbox-input:focus {
    background-color: #b3daf6;
    border-color: #0486e0; }

.ye-default-reference-editor-bandbox .z-bandbox-icon {
  color: #6b8098; }

div.ye-default-reference-editor-remove-button {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  display: none; }

div.ye-default-reference-editor-bandbox {
  width: 100%;
  display: table; }

.ye-create-type-selector-container .z-treecell > .z-treecell-content > .z-treecell-text {
  display: inline; }

.ye-com_hybris_cockpitng_editor_extendedmultireferenceeditor .z-listitem .z-listcell,
.ye-create-type-selector-container .z-treecell > .z-treecell-content,
.ye-default-reference-editor-listbox .z-listitem div.z-listcell-content,
.ye-default-reference-editor-selected-listbox .z-listitem div.ye-default-reference-editor-selected-item-container {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1; }

div.ye-default-reference-editor-item-container.ye-remove-enabled:hover,
div.ye-default-reference-editor-selected-item-container:hover {
  padding-right: 27px; }

.referenceEditorPaging.z-paging {
  height: auto;
  text-align: center;
  background-color: #ffffff;
  padding: 8px 10px;
  border-width: 1px 0 0;
  border-color: #acacac; }
  .referenceEditorPaging.z-paging .z-paging-input {
    height: 40px; }
  .referenceEditorPaging.z-paging .z-paging-input, .referenceEditorPaging.z-paging .z-paging-text {
    width: 40px;
    max-width: 100%; }
  .referenceEditorPaging.z-paging li {
    display: inline-block;
    height: 100%;
    line-height: 1;
    vertical-align: middle; }
    .referenceEditorPaging.z-paging li a {
      position: relative; }
      .referenceEditorPaging.z-paging li a:hover {
        background-color: transparent; }

div.ye-default-reference-editor .z-listitem div.z-listcell-content,
div.ye-default-reference-editor .z-listitem:first-child .z-listcell-content {
  padding: 12px 10px 11px; }

div.ye-default-reference-editor-item-container, div.ye-default-reference-editor-selected-item-container {
  background: #ffffff;
  border: 1px solid #acacac;
  padding: 12px 10px 11px;
  position: relative;
  min-height: 40px;
  height: 40px;
  line-height: 16px;
  font-size: 14px; }

div.ye-default-reference-editor-listbox span.z-label, div.ye-default-reference-editor-selected-listbox span.z-label {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 0;
  display: inline;
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

div.ye-default-reference-editor-listbox .z-listitem div.z-listcell-content,
div.ye-default-reference-editor-listbox .z-listitem:first-child .z-listcell-content, div.ye-default-reference-editor-selected-listbox .z-listitem div.z-listcell-content,
div.ye-default-reference-editor-selected-listbox .z-listitem:first-child .z-listcell-content {
  padding: 12px 10px 11px; }

div.ye-default-reference-editor-listbox {
  border: none; }
  div.ye-default-reference-editor-listbox .z-listitem {
    background-color: false; }
    div.ye-default-reference-editor-listbox .z-listitem > td {
      border-bottom: none;
      position: relative; }
    div.ye-default-reference-editor-listbox .z-listitem .z-listcell-content > .z-label:last-child:after {
      content: "";
      width: 15px;
      height: 15px;
      background-image: url("images/icon_action_add_sprite_15.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -7px;
      display: none; }
    div.ye-default-reference-editor-listbox .z-listitem-selected:hover, div.ye-default-reference-editor-listbox .z-listitem:hover {
      background-color: #eaf1f6; }
      div.ye-default-reference-editor-listbox .z-listitem-selected:hover .z-listcell-content > .z-label:last-child:after, div.ye-default-reference-editor-listbox .z-listitem:hover .z-listcell-content > .z-label:last-child:after {
        display: block; }
  div.ye-default-reference-editor-listbox .ye-default-reference-editor-bandbox-autocorrection-reference:hover > td {
    background-image: none; }

div.ye-default-reference-editor-selected-listbox {
  border: none;
  border-radius: 0;
  /*        .z-listitem,
        .z-listitem tr.z-listitem:hover > td.z-listcell {
            background: none !important;
        }
*/ }
  div.ye-default-reference-editor-selected-listbox > div.z-listbox-body {
    background-image: url("images/icon_loading_indicator_default.gif");
    background-position: 50% 12px;
    background-repeat: no-repeat;
    /* FIX FOR WRONG ZK WIDTH CALCULATION */
    width: 100% !important; }
    div.ye-default-reference-editor-selected-listbox > div.z-listbox-body .z-listcell {
      padding: 0;
      border: none; }
  div.ye-default-reference-editor-selected-listbox .z-listitem-selected:hover,
  div.ye-default-reference-editor-selected-listbox .z-listitem:hover {
    background-color: #eaf1f6; }
  div.ye-default-reference-editor-selected-listbox div.ye-default-reference-editor-item-container, div.ye-default-reference-editor-selected-listbox div.ye-default-reference-editor-selected-item-container {
    border-bottom-width: 1px;
    border-top-width: 0; }
  div.ye-default-reference-editor-selected-listbox .z-listitem-selected:first-child div.ye-default-reference-editor-item-container, div.ye-default-reference-editor-selected-listbox .z-listitem-selected:first-child div.ye-default-reference-editor-selected-item-container, div.ye-default-reference-editor-selected-listbox .z-listitem:first-child div.ye-default-reference-editor-item-container, div.ye-default-reference-editor-selected-listbox .z-listitem:first-child div.ye-default-reference-editor-selected-item-container {
    border-top-width: 1px; }

.yw-loceditor-fixed-open .yw-loceditor-row-locale.z-label + .yw-loceditor-row-editor > .z-div > .ye-com_hybris_cockpitng_editor_defaultreferenceeditor .ye-default-reference-editor-selected-listbox {
  margin-bottom: 0; }
  .yw-loceditor-fixed-open .yw-loceditor-row-locale.z-label + .yw-loceditor-row-editor > .z-div > .ye-com_hybris_cockpitng_editor_defaultreferenceeditor .ye-default-reference-editor-selected-listbox .ye-default-reference-editor-selected-item-container {
    border: none; }

.ye-default-reference-editor-listbox .ye-create-new-reference.z-listitem div.z-listcell-content {
  white-space: normal;
  text-overflow: clip;
  padding: 0 0 0 10px;
  line-height: 38px; }

.ye-default-reference-editor-listbox .z-listitem > .z-listcell > div.z-listcell-content:hover {
  padding-right: 27px; }

.ye-default-reference-editor-selected-listbox .z-listcell-content {
  padding: 0 !important; }

.ye-default-reference-editor-listbox .z-listitem img,
.ye-default-reference-editor .ye-default-reference-editor-selected-listbox .ye-default-reference-editor-selected-item-container img {
  max-width: 16px;
  max-height: 16px;
  padding: 0 5px 0 0;
  vertical-align: middle; }

.ye-default-reference-editor-preview-popup-image {
  max-width: 150px;
  max-height: 200px; }

.z-listitem-selected:hover div.ye-default-reference-editor-selected-item-container.ye-remove-enabled,
.z-listitem:hover div.ye-default-reference-editor-selected-item-container.ye-remove-enabled {
  background: #eaf1f6; }
  .z-listitem-selected:hover div.ye-default-reference-editor-selected-item-container.ye-remove-enabled .ye-default-reference-editor-remove-button,
  .z-listitem:hover div.ye-default-reference-editor-selected-item-container.ye-remove-enabled .ye-default-reference-editor-remove-button {
    display: block; }

.yw-listbox-disabled .z-listitem-selected:hover div.ye-default-reference-editor-selected-item-container,
.yw-listbox-disabled .z-listitem:hover div.ye-default-reference-editor-selected-item-container {
  background: false;
  cursor: default; }

/*
.yw-wizard-property .ye-default-reference-editor-selected-listbox .z-listitem div.ye-default-reference-editor-item-container,
.yw-wizard-property .ye-default-reference-editor-selected-listbox .z-listitem div.ye-default-reference-editor-selected-item-container {
    height: $editor-area__box--height - 2px;
    background-color: #f0f !important;
}
*/
.ye-create-type-selector-container {
  max-width: 300px;
  max-height: 250px;
  overflow: auto; }

.ye-create-type-selector-button.z-button-os {
  background-color: transparent;
  background-image: url("images/icon_func_toggle_sprite.png");
  background-position: 4px -17px;
  background-repeat: no-repeat;
  padding: 0 10px; }

.ye-create-type-selector-button.z-button {
  font-family: "FontAwesome";
  background: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
  border-left: 1px solid #acacac;
  color: #6b8098;
  position: absolute;
  right: 0;
  top: 0; }

.ye-create-type-selector-button:before {
  content: ""; }

.z-bandbox-button.ye-create-only {
  text-decoration: none;
  border-color: #acacac;
  float: right;
  position: relative;
  top: -1px; }
  .z-bandbox-button.ye-create-only:hover, .z-bandbox-button.ye-create-only:active {
    background-color: #ffffff;
    color: #0486e0; }

.ye-default-reference-editor-bandbox.ye-create-only .z-bandbox-input .z-bandbox-icon.z-icon-search {
  display: none; }

.ye-create-new-reference div.z-listcell-content {
  position: relative; }
  .ye-create-new-reference div.z-listcell-content > .z-label {
    position: relative;
    display: inline;
    padding-left: 0;
    min-height: 24px;
    margin-left: 28px; }
    .ye-create-new-reference div.z-listcell-content > .z-label:before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      top: -2px;
      left: -28px;
      background-image: url("images/icon_func_referenceselector_add_default.png");
      background-repeat: no-repeat;
      background-position: center; }

.ye-create-new-reference > td.z-listcell {
  border-top: 1px solid #acacac !important; }

.ye-default-reference-editor-listbox .ye-create-new-reference div.z-listcell-content {
  padding: 0; }

.ye-default-reference-editor-listbox .ye-create-new-reference > td.z-listcell {
  padding-left: 0; }
  .ye-default-reference-editor-listbox .ye-create-new-reference > td.z-listcell button.ye-create-type-selector-button {
    width: 40px;
    height: 40px;
    position: relative;
    float: right;
    margin-top: -1px;
    border-top: 1px solid #acacac; }
    .ye-default-reference-editor-listbox .ye-create-new-reference > td.z-listcell button.ye-create-type-selector-button:hover {
      color: #0486e0; }
    .ye-default-reference-editor-listbox .ye-create-new-reference > td.z-listcell button.ye-create-type-selector-button:focus {
      background-color: #b3daf6; }
    .ye-default-reference-editor-listbox .ye-create-new-reference > td.z-listcell button.ye-create-type-selector-button.ye-button-active {
      background: #b3daf6;
      color: #0486e0; }
      .ye-default-reference-editor-listbox .ye-create-new-reference > td.z-listcell button.ye-create-type-selector-button.ye-button-active:before {
        content: "";
        color: #0486e0; }

.ye-default-reference-editor-listbox .ye-create-new-reference .z-listcell-content .ye-create-type-selector-container {
  margin: 0;
  margin-left: -10px;
  border-top: 1px solid #acacac;
  max-width: inherit;
  display: block; }
  .ye-default-reference-editor-listbox .ye-create-new-reference .z-listcell-content .ye-create-type-selector-container > .z-tree {
    border: none; }
  .ye-default-reference-editor-listbox .ye-create-new-reference .z-listcell-content .ye-create-type-selector-container .z-treecell-content {
    padding: 0 10px;
    display: inline-table; }
  .ye-default-reference-editor-listbox .ye-create-new-reference .z-listcell-content .ye-create-type-selector-container .z-treecell-content .z-treecell-text {
    padding-left: 2px; }
  .ye-default-reference-editor-listbox .ye-create-new-reference .z-listcell-content .ye-create-type-selector-container .z-treecell-content .z-tree-icon {
    vertical-align: top; }

.ye-default-reference-editor-listbox .ye-create-new-reference.z-listitem > .z-listcell > div.z-listcell-content:hover {
  padding-right: 0; }

.ye-create-only .z-treerow-selected > .z-treecell > .z-treecell-content > .z-tree-icon,
.ye-create-only .z-treerow-selected > .z-treecell > .z-treecell-content,
.ye-create-only .z-treerow:hover > .z-treecell > .z-treecell-content {
  color: #4b5c80; }

.z-bandpopup.ye-create-only {
  background: #e0e5eb; }

.ye-create-only.z-bandpopup .ye-create-type-selector-container {
  border-top: 1px solid #d2d7de;
  width: 100%;
  max-width: none; }

.z-bandpopup.ye-create-only .ye-create-type-selector-container .z-tree-body td.z-treecell,
.ye-default-reference-editor-listbox .ye-create-new-reference .z-listcell-content .ye-create-type-selector-container .z-tree-body td.z-treecell {
  border: 1px solid #f2f2f2;
  border-width: 1px 0 0; }

.z-bandpopup.ye-create-only .ye-create-type-selector-container .z-tree-body .z-treerow:first-child > td.z-treecell,
.ye-default-reference-editor-listbox .ye-create-new-reference .z-listcell-content .ye-create-type-selector-container .z-tree-body .z-treerow:first-child > td.z-treecell {
  border-top-width: 0; }

/*
.ye-default-reference-editor-listbox .ye-create-new-reference .z-listcell-content .ye-create-type-selector-container .z-tree-body td.z-treecell .z-treecell-content{
    color: #043263;
}
*/
.ye-create-type-selector-container .z-treecell > .z-treecell-content {
  line-height: 38px; }
  .ye-create-type-selector-container .z-treecell > .z-treecell-content > .z-tree-icon {
    height: 100%; }

.ye-create-type-selector-container .ye-create-type-selector-abstracttype .z-treecell-text {
  font-style: italic; }

.ye-create-type-selector-container .ye-create-type-selector-abstracttype .z-treecell-text, .ye-create-type-selector-container .ye-create-type-selector-abstracttype .z-tree-icon {
  color: #eef2f6; }

.ye-create-type-selector-container .z-treecell > .z-treecell-content > .z-tree-line.z-tree-spacer,
.ye-create-type-selector-container .z-treecell > .z-treecell-content > .z-tree-icon {
  display: inline-block; }

.ye-create-type-selector-container .z-treecell-content,
.ye-create-type-selector-container .z-treecell-content,
.ye-create-type-selector-container .z-tree-icon,
.ye-create-type-selector-container .z-tree-line.z-tree-spacer {
  display: table-cell; }

/* READ ONLY SKINNING */
.ye-default-editor-readonly div.ye-default-reference-editor-item-container,
.ye-default-editor-readonly div.ye-default-reference-editor-selected-item-container,
.ye-default-editor-readonly .z-listitem-selected:hover div.ye-default-reference-editor-selected-item-container,
.ye-default-editor-readonly .z-listitem:hover div.ye-default-reference-editor-selected-item-container,
.ye-default-editor-readonly .ye-default-reference-editor-selected-listbox .z-listitem,
.ye-default-editor-readonly .ye-default-reference-editor-selected-listbox .z-listitem tr.z-listitem:hover > td.z-listcell {
  background: none repeat scroll 0 0 #f6f8fa !important;
  opacity: 1;
  cursor: default; }

.ye-default-editor-readonly div.ye-default-reference-editor-listbox span.z-label,
.ye-default-editor-readonly div.ye-default-reference-editor-selected-listbox span.z-label,
.ye-default-editor-readonly .z-listcell > .z-listcell-content,
.ye-default-editor-readonly .z-listcell {
  color: #acacac !important; }

.ye-default-editor-readonly div.ye-default-reference-editor-item-container.ye-remove-enabled:hover,
.ye-default-editor-readonly div.ye-default-reference-editor-selected-item-container:hover {
  padding-right: 10px; }

.ye-validation-error {
  /* > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor .cke_wysiwyg_frame {
            background-color: $bg-color;
        }
        */ }
  .ye-validation-error div.ye-default-reference-editor-selected-item-container {
    background: #ffdfdd;
    border: 1px solid #ff3b30;
    color: #ff3b30;
    border-bottom: 0; }
    .ye-validation-error div.ye-default-reference-editor-selected-item-container .z-label {
      color: #ff3b30; }
  .ye-validation-error div.ye-default-reference-editor-selected-listbox .z-listitem:hover {
    /*.ye-default-reference-editor-remove-button:after {
                    background-position: center  (-$default-reference-editor__list-item-remove-icon--size*3);
                }*/ }
    .ye-validation-error div.ye-default-reference-editor-selected-listbox .z-listitem:hover div.ye-default-reference-editor-selected-item-container.ye-remove-enabled {
      background-color: #ffdfdd; }
  .ye-validation-error .ye-default-reference-editor-selected-listbox .z-listitem div.ye-default-reference-editor-selected-item-container {
    border-bottom: 1px solid #ff3b30; }
  .ye-validation-error .ye-default-reference-editor-bandbox {
    border-color: #ff3b30; }
    .ye-validation-error .ye-default-reference-editor-bandbox .z-bandbox-input {
      border-right-width: 0;
      background: #ffdfdd;
      color: #ff3b30; }
    .ye-validation-error .ye-default-reference-editor-bandbox .z-bandbox-button,
    .ye-validation-error .ye-default-reference-editor-bandbox .z-bandbox-input {
      border: 1px solid #ff3b30; }
  .ye-validation-error > .yw-loceditor-row-locale.z-label,
  .ye-validation-error > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor > .cke {
    border-color: #ff3b30; }
  .ye-validation-error > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor .cke_bottom, .ye-validation-error > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor .cke_top {
    background-color: transparent; }
  .ye-validation-error > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor > .cke {
    background: #ffdfdd; }
  .ye-validation-error .yw-loceditor-dynamic-content .z-bandbox-input {
    color: #000000;
    background: inherit; }
  .ye-validation-error .yw-loceditor-dynamic-content .z-bandbox-button,
  .ye-validation-error .yw-loceditor-dynamic-content .z-bandbox-input {
    border-color: #acacac; }
  .ye-validation-error .yw-loceditor-dynamic-content .ye-validation-error .z-bandbox-button,
  .ye-validation-error .yw-loceditor-dynamic-content .ye-validation-error .z-bandbox-input {
    border-color: #ff3b30; }
  .ye-validation-error .ye-default-reference-editor-selected-listbox .ye-default-reference-editor-selected-item-container {
    background: #ffdfdd;
    color: #ff3b30; }

.yw-loceditor-fixed-open .ye-validation-error .ye-default-reference-editor-bandbox .z-bandbox-button, .ye-validation-error .yw-loceditor-dynamic-content .ye-default-reference-editor-bandbox .z-bandbox-button {
  border: none; }

.ye-validation-warn {
  /* > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor .cke_wysiwyg_frame {
            background-color: $bg-color;
        }
        */ }
  .ye-validation-warn div.ye-default-reference-editor-selected-item-container {
    background: #ffeec6;
    border: 1px solid #ff9914;
    color: #ff9914;
    border-bottom: 0; }
    .ye-validation-warn div.ye-default-reference-editor-selected-item-container .z-label {
      color: #ff9914; }
  .ye-validation-warn div.ye-default-reference-editor-selected-listbox .z-listitem:hover {
    /*.ye-default-reference-editor-remove-button:after {
                    background-position: center  (-$default-reference-editor__list-item-remove-icon--size*3);
                }*/ }
    .ye-validation-warn div.ye-default-reference-editor-selected-listbox .z-listitem:hover div.ye-default-reference-editor-selected-item-container.ye-remove-enabled {
      background-color: #ffeec6; }
  .ye-validation-warn .ye-default-reference-editor-selected-listbox .z-listitem div.ye-default-reference-editor-selected-item-container {
    border-bottom: 1px solid #ff9914; }
  .ye-validation-warn .ye-default-reference-editor-bandbox {
    border-color: #ff9914; }
    .ye-validation-warn .ye-default-reference-editor-bandbox .z-bandbox-input {
      border-right-width: 0;
      background: #ffeec6;
      color: #ff9914; }
    .ye-validation-warn .ye-default-reference-editor-bandbox .z-bandbox-button,
    .ye-validation-warn .ye-default-reference-editor-bandbox .z-bandbox-input {
      border: 1px solid #ff9914; }
  .ye-validation-warn > .yw-loceditor-row-locale.z-label,
  .ye-validation-warn > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor > .cke {
    border-color: #ff9914; }
  .ye-validation-warn > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor .cke_bottom, .ye-validation-warn > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor .cke_top {
    background-color: transparent; }
  .ye-validation-warn > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor > .cke {
    background: #ffeec6; }
  .ye-validation-warn .yw-loceditor-dynamic-content .z-bandbox-input {
    color: #000000;
    background: inherit; }
  .ye-validation-warn .yw-loceditor-dynamic-content .z-bandbox-button,
  .ye-validation-warn .yw-loceditor-dynamic-content .z-bandbox-input {
    border-color: #acacac; }
  .ye-validation-warn .yw-loceditor-dynamic-content .ye-validation-warn .z-bandbox-button,
  .ye-validation-warn .yw-loceditor-dynamic-content .ye-validation-warn .z-bandbox-input {
    border-color: #ff9914; }
  .ye-validation-warn .ye-default-reference-editor-selected-listbox .ye-default-reference-editor-selected-item-container {
    background: #ffeec6;
    color: #ff9914; }

.yw-loceditor-fixed-open .ye-validation-warn .ye-default-reference-editor-bandbox .z-bandbox-button, .ye-validation-warn .yw-loceditor-dynamic-content .ye-default-reference-editor-bandbox .z-bandbox-button {
  border: none; }

.ye-validation-info {
  /* > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor .cke_wysiwyg_frame {
            background-color: $bg-color;
        }
        */ }
  .ye-validation-info div.ye-default-reference-editor-selected-item-container {
    background: #d5eeff;
    border: 1px solid #0486e0;
    color: #0486e0;
    border-bottom: 0; }
    .ye-validation-info div.ye-default-reference-editor-selected-item-container .z-label {
      color: #0486e0; }
  .ye-validation-info div.ye-default-reference-editor-selected-listbox .z-listitem:hover {
    /*.ye-default-reference-editor-remove-button:after {
                    background-position: center  (-$default-reference-editor__list-item-remove-icon--size*3);
                }*/ }
    .ye-validation-info div.ye-default-reference-editor-selected-listbox .z-listitem:hover div.ye-default-reference-editor-selected-item-container.ye-remove-enabled {
      background-color: #d5eeff; }
  .ye-validation-info .ye-default-reference-editor-selected-listbox .z-listitem div.ye-default-reference-editor-selected-item-container {
    border-bottom: 1px solid #0486e0; }
  .ye-validation-info .ye-default-reference-editor-bandbox {
    border-color: #0486e0; }
    .ye-validation-info .ye-default-reference-editor-bandbox .z-bandbox-input {
      border-right-width: 0;
      background: #d5eeff;
      color: #0486e0; }
    .ye-validation-info .ye-default-reference-editor-bandbox .z-bandbox-button,
    .ye-validation-info .ye-default-reference-editor-bandbox .z-bandbox-input {
      border: 1px solid #0486e0; }
  .ye-validation-info > .yw-loceditor-row-locale.z-label,
  .ye-validation-info > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor > .cke {
    border-color: #0486e0; }
  .ye-validation-info > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor .cke_bottom, .ye-validation-info > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor .cke_top {
    background-color: transparent; }
  .ye-validation-info > .yw-loceditor-row-editor .ye-wysiwyg > .z-ckeditor > .cke {
    background: #d5eeff; }
  .ye-validation-info .yw-loceditor-dynamic-content .z-bandbox-input {
    color: #000000;
    background: inherit; }
  .ye-validation-info .yw-loceditor-dynamic-content .z-bandbox-button,
  .ye-validation-info .yw-loceditor-dynamic-content .z-bandbox-input {
    border-color: #acacac; }
  .ye-validation-info .yw-loceditor-dynamic-content .ye-validation-info .z-bandbox-button,
  .ye-validation-info .yw-loceditor-dynamic-content .ye-validation-info .z-bandbox-input {
    border-color: #0486e0; }

.yw-loceditor-fixed-open .ye-validation-info .ye-default-reference-editor-bandbox .z-bandbox-button, .ye-validation-info .yw-loceditor-dynamic-content .ye-default-reference-editor-bandbox .z-bandbox-button {
  border: none; }

.ye-com_hybris_cockpitng_editor_defaultmultireferenceeditor div.ye-default-reference-editor-item-container,
.ye-com_hybris_cockpitng_editor_defaultmultireferenceeditor div.ye-default-reference-editor-selected-item-container {
  padding-right: 8px; }

.ye-com_hybris_cockpitng_editor_defaultmultireferenceeditor .ye-default-reference-editor-bandbox.ye-create-only.z-bandbox-readonly .z-bandbox-button.z-bandbox-disabled {
  display: none; }

.ye-com_hybris_cockpitng_editor_defaultmultireferenceeditor div.ye-default-reference-editor-selected-listbox {
  margin-bottom: 5px; }

.ye-com_hybris_cockpitng_editor_defaultmultireferenceeditor div.ye-default-reference-editor-item-container.ye-remove-enabled:hover,
.ye-com_hybris_cockpitng_editor_defaultmultireferenceeditor div.ye-default-reference-editor-selected-item-container:hover {
  padding-right: 27px; }

/*================================
    Default Editor Area
================================*/
