.yw-commentslist {
  position: relative;
  margin-left: 10px; }
  .yw-commentslist-showpopup-btn {
    min-width: 0;
    min-height: 0; }
    .yw-commentslist-showpopup-btn, .yw-commentslist-showpopup-btn:hover, .yw-commentslist-showpopup-btn:active, .yw-commentslist-showpopup-btn:focus {
      background: transparent;
      box-shadow: none;
      min-height: 21px;
      min-width: 21px;
      position: relative; }
    .ye-editorarea-bottom-bar .yw-commentslist-showpopup-btn, .ye-editorarea-bottom-bar .yw-commentslist-showpopup-btn:hover, .ye-editorarea-bottom-bar .yw-commentslist-showpopup-btn:active, .ye-editorarea-bottom-bar .yw-commentslist-showpopup-btn:focus {
      width: 50px;
      height: 50px; }
    .ye-editorarea-bottom-bar .yw-commentslist-showpopup-btn, .ye-editorarea-bottom-bar .yw-commentslist-showpopup-btn:active, .ye-editorarea-bottom-bar .yw-commentslist-showpopup-btn:focus {
      opacity: 0.5; }
    .ye-editorarea-bottom-bar .yw-commentslist-showpopup-btn:hover {
      opacity: 1; }
    .yw-commentslist-showpopup-btn:before {
      height: 21px;
      width: 21px;
      background: url("images/icon_comments.svg") center no-repeat;
      margin-top: -10px;
      margin-left: -10px;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%; }
  .yw-commentslist span + .yw-commentslist-showpopup-btn, .yw-commentslist span + .yw-commentslist-showpopup-btn:hover, .yw-commentslist span + .yw-commentslist-showpopup-btn:active, .yw-commentslist span + .yw-commentslist-showpopup-btn:focus {
    background-color: #364450;
    opacity: 1; }
  .yw-commentslist-comments-count-label {
    color: #000000;
    cursor: pointer;
    top: -2px;
    left: 15px;
    background: #ffffff;
    font-size: 8px;
    min-width: 12px;
    height: 12px;
    border-radius: 6px;
    padding: 0 2px;
    display: inline-block;
    position: absolute;
    text-align: center; }
    .ye-editorarea-bottom-bar .yw-commentslist-comments-count-label {
      left: 30px;
      top: 13px; }

.yw-commentslist-popup {
  max-width: 360px; }
  .yw-commentslist-popup .z-button {
    font-size: 13px;
    color: #7f90a5;
    background: transparent;
    text-transform: capitalize;
    box-shadow: none; }
    .yw-commentslist-popup .z-button:hover, .yw-commentslist-popup .z-button:active, .yw-commentslist-popup .z-button:focus {
      background: transparent;
      color: #32a0ec;
      box-shadow: none; }
  .yw-commentslist-popup .yw-commentslist-addcomment-button,
  .yw-commentslist-popup .yw-add-comment-section-button-ok {
    color: #1484d2; }

.yw-commentslist-bottom-bar-popup {
  bottom: 50px;
  top: auto !important; }

.yw-commentslist-list {
  max-height: 480px;
  overflow: auto;
  border-bottom: 1px solid #e0e9f0; }

.yw-commentslist-one-comment {
  border-top: 1px solid #e0e9f0;
  padding: 20px 15px; }
  .yw-commentslist-one-comment:first-child {
    border-top-width: 0; }

.yw-commentslist-comment-header {
  margin: 0 0 10px;
  display: inline-block;
  width: 100%;
  vertical-align: top; }
  .yw-commentslist-comment-header > .z-label {
    display: inline-block;
    vertical-align: top; }

.yw-commentslist-comment-author-label {
  padding-right: 10px;
  max-width: 186px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.yw-commentslist-comment-date-label {
  color: #7f90a5;
  text-align: right;
  float: right; }

.yw-commentslist-comment-empty {
  padding: 20px; }

.yw-commentslist-addcomment-button {
  height: 50px;
  margin: 10px 0;
  width: 100%; }

.yw-add-comment-section {
  padding: 20px 15px 15px;
  width: 100%;
  display: inline-block; }
  .yw-add-comment-section-textbox {
    margin-bottom: 10px;
    max-height: 200px;
    max-width: 100%;
    display: inline-block; }
  .yw-add-comment-section .z-button {
    display: inline-block; }
  .yw-add-comment-section-button-ok {
    float: right; }
  .yw-add-comment-section-button-cancel {
    float: left; }
