<div class="categoryTable">
    <div data-ng-repeat="customization in ctrl.customizationsList | orderBy: 'rank'" data-ng-init="ctrl.initCustomization(customization)">
        <div class="row row-lefttoolbar" ng-class="$last && customization.collapsed ? 'customization--last':''">
            <div ng-class="{'custFromLibExtraStyling customization-from-library':customization.fromLibrary, 'customization-rank-{{customization.rank}}':true}">
                <div class="pull-left col-lefttoolbar-glyphicon" data-ng-click="ctrl.clearAllSubMenu(); customization.collapsed = !customization.collapsed; ctrl.customizationClick(customization);">
                    <a class="btn btn-link category-toggle" title="{{customization.collapsed ? 'personalization.commons.icon.title.expand' : 'personalization.commons.icon.title.collapse' | translate}}">
                        <span data-ng-class="customization.collapsed ? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'" class="glyphicon lefttoolbar--glyphicon-chevron"></span>
                    </a>
                </div>
                <div class="col-xs-9 col-reset-padding text-left" ng-click="ctrl.clearAllSubMenu(); customization.collapsed = !customization.collapsed; ctrl.customizationClick(customization)">
                    <span class="perso-list__primary-data" ng-bind="customization.name"></span>
                    <div>
                        <span class="perso-list__status--value" ng-class="ctrl.getActivityStateForCustomization(customization)" ng-bind="ctrl.getEnablementTextForCustomization(customization)"></span>
                        <span class="perso-list__dates-layout" ng-if="ctrl.isEnabled(customization)" ng-bind="ctrl.getDatesForCustomization(customization)"></span>
                    </div>
                </div>
                <div class="pull-right dropdown" ng-init="ctrl.clearAllSubMenu();">
                    <button type="button" class="btn btn-link dropdown-toggle customization-rank-{{customization.rank}}-dropdown-toggle" data-toggle="dropdown" ng-click="ctrl.customizationSubMenuAction(customization)">
                        <span class="hyicon hyicon-lefttoolbar hyicon-more"></span>
                    </button>
                    <ul ng-if="customization.subMenu" class="dropdown-menu text-left dropdown-menu-leftoolbar" role="menu">
                        <li>
                            <a class="dropdown-menu-single-item cutomization-rank-{{customization.rank}}-edit-button" ng-click="ctrl.clearAllSubMenu(); ctrl.editCustomizationAction(customization);" data-translate="personalization.toolbar.pagecustomizations.customization.options.edit "></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end row desktopLayout-->
        <div data-uib-collapse="customization.collapsed">
            <div data-ng-repeat="variation in customization.variations | statusNotDeleted">
                <div class="row row-lefttoolbar" data-ng-class="ctrl.getSelectedVariationClass(variation)">
                    <div class="pull-left col-lefttoolbar-glyphicon">
                        <div data-ng-class="ctrl.isCommerceCustomization(variation) ? 'commerce-customization__marker--icon':'customization__marker'" data-uib-tooltip="{{ctrl.getCommerceCustomizationTooltip(variation)}}" tooltip-placement="top-left"></div>
                    </div>
                    <div class="col-xs-9 col-reset-padding text-left" data-ng-click="ctrl.clearAllSubMenu(); ctrl.variationClick(customization, variation);">
                        <span data-ng-bind="variation.name"></span>
                        <div class="perso-list__status--value" data-ng-class="ctrl.getActivityStateForVariation(customization, variation)" data-ng-bind="ctrl.getEnablementTextForVariation(variation)"></div>
                        <div data-ng-class="ctrl.getSelectedVariationClass(variation)"></div>
                    </div>
                    <div data-ng-show="ctrl.getSelectedVariationClass(variation)" class="pull-right">
                        <span class="hyicon hyicon-checkedlg perso-panel__hyicon-checkedlg"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end data repeat-->
</div>