@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "scss/_perspectiveChooser-popup.scss";
@import "scss/_perspectiveChooser-systembar-menu.scss";


//TODO: check if this styling is needed and if needed, to adjust it properly with vars and other standards
/*
.yw-com_hybris_backoffice_perspectiveChooser {
  .yw-perspective-items {
    width: 100%;
    height: 100%;
    background: transparent;
  }

  .yw-perspective-menu {
    background: transparent;
    border: none;
    padding: 0;

    .z-menuitem,
    .z-menu-button {
      color: $systembar__default--font-color;
    }

    .z-menuitem {
      width: auto;
      height: 40px;

      &:hover {
        background-color: #0F56BF !important;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    .z-menuitem-content {
      height: 100%;

      &:hover {
        background: none;
      }
    }

    .z-menu-button {
      width: 28px;
    }

    .z-menu-body-selected {
      .z-menu-inner-m div,
      .z-menuitem-inner-m div {
        border: $systembar__perspective-menu--border;
        border-bottom: none;
        padding: 2px 2px 5px 2px;
        background: url("images/tinyArrow_down.png") no-repeat center 31px $white;
      }
    }
  }
}

.yw-com_hybris_backoffice_perspectiveChooser {

  .yw-domain-node {
    padding: 0 !important;

    .z-menuitem-content {
      line-height: 15px;
      padding: 5px;
      min-height: 20px;

      .z-menuitem-image {
        top: 0;
      }

      .z-menuitem-text {
        margin: 0;
      }
    }
  }

  .yw-perspective-menu .yw-domain-node-label {
    .z-menuitem-button,
    .z-menu-button {
      color: $black;
      font-weight: bold;
      width: auto;
      background: none;
    }
  }

  .yw-domain-node {
    .z-menu-body,
    .z-menuitem-body {
      opacity: 0.5;
    }

    &:hover .z-menu-body,
    &:hover .z-menuitem-body,
    .z-menu-body-selected {
      opacity: 1;
    }

    .z-menu-body:hover,
    .z-menuitem-body:hover {
      background: transparent;
    }

    .z-menu-inner-l,
    .z-menu-inner-r,
    .z-menuitem-inner-l,
    .z-menuitem-inner-r {
      display: none;
    }

    .z-menu-inner-m,
    .z-menuitem-inner-m {
      background-image: none !important;
      padding: 0;
    }

    .z-menu-inner-m div {
      padding: 0;
      background-image: none;
    }

    .z-menuitem-button,
    .z-menu-button {
      height: 40px;
      width: 40px;
    }
  }

  .yw-selectednode .z-menu-body,
  .yw-selectednode .z-menuitem-body {
    opacity: 1;
  }
}

.yw-perspective-item .z-menuitem-image {
  background-size: 16px;
  background-repeat: no-repeat;
}

.yw-selectedsubnode {
  background: #d1d6dc;

  .z-menuitem-content {
    font-weight: bold;
  }
}

.yw-perspective-dropdown {
  background: none;
  border: none;
  padding: 0;

  .z-menupopup-content {
    margin-top: -3px !important;
    display: block;
    border: $systembar__perspective-menu--border;
    border-bottom: none;
    background: url("images/dropdownGradient.png");
  }

  .yw-perspective-item {
    border-bottom: $systembar__perspective-item--border;

    .z-menuitem-cl a.z-menuitem-content {
      color: #162C5E;
    }

    &.z-menuitem:hover {
      border-top: none;
      background: #bbc2cb;

      .z-menuitem-cl a.z-menuitem-content {
        color: $white;
      }
    }
  }
}
*/
