.yw-listLayout-widget {
  overflow: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.yw-listLayout-container {
  padding-bottom: 30px;
  max-width: 1260px;
  display: block;
  box-sizing: border-box;
  text-align: left;
  width: auto;
  height: auto;
  margin: 0 auto; }
  .yw-listLayout-container > .widget_children_list > .widget_cnt {
    margin: 30px 30px 0;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
    padding: 0; }
    .cng-adminmode .yw-listLayout-container > .widget_children_list > .widget_cnt, .yw-listLayout-container > .widget_children_list > .widget_cnt:empty {
      margin: 0; }
    .yw-listLayout-container > .widget_children_list > .widget_cnt:empty {
      display: none; }
