<div class="row-fluid"
    data-ng-if="alerts!=null &amp;&amp; alerts.length>0">
    <div data-ng-repeat="alert in alerts"
        class="ng-class: {'col-xs-12':true, 'alert':true, 'alert-danger':(alert.successful==false),'alert-success':(alert.successful==true)};">
        <button type="button"
            class="close"
            data-ng-hide="alert.closeable==false"
            data-ng-click="dismissAlert($index);">&times;</button>
        <span id="alertMsg">{{alert.message | translate}}</span>
    </div>
</div>