@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 

@import "../../../cng/scss/support/_commerceservicesbackoffice-variables.scss";
.ya-de_hybris_platform_commerceservices_organization_backoffice_actions_salesunitcreateaction {
     &:hover {
        background: $sales-org__button--hover-bg-color;
        color: $sales-org__button-text--hover-color;
        transition: background-color 0.3s ease 0s;
    }
    .z-hbox-separator {
        display: none;
    }

    .cng-action-text {
        padding-right: 5px;
        padding-top: 2px;
    }
    &.cng-action-disabled:hover {
        color: inherit;
        background: none; 
    }
}