@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_advancedsearch-variables.scss";/*================================
    Advanced Search - Save-Query 
================================*/
// Styling of defaults on the advanced-search component.

// SECTION TEMPORARY !!


/* TEMPORARY - until DOM is changed accordingly */

/* Query Container (part) */

.yw-add-field-row .cng-action-group {
	position: absolute;
	right: 0;
	margin-top: -$advancedsearch__attributes-grid-item--space-y;
}

.yw-advancedsearch-actionslot{
	display: inline-block;
	float: right;
}
