@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_advancedsearch-variables.scss";/*================================
    Advanced Search - Footer
================================*/
// Styling of the footer of the advanced-search component.

// Status: done 
// ToDo: test if necessary (if not remove & remove variables from variables.scss file)



.yw-advancedsearch .yw-advancedsearch-footer {
    padding: $advancedsearch__footer--padding;
    min-height: $advancedsearch__footer--min-height;
}