@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_advancedsearch-variables.scss";/*================================
    Advanced Search - Mandatory Fields
================================*/
// Styling of Fields contained in the Advanced-Search Contents (Size, Bahaviour, Validation)

// Status: created, tested 
// ToDo: check if movable to cockpit-main-parts (defaults), to keep it from beeing a duplicate



$advancedsearch__attribute-mandatory--bg-color: #fef0ec;
$advancedsearch__attribute-mandatory--color: #f16b46;
$advancedsearch__attribute-mandatory--button-color: $white;

$advancedsearch__attribute-mandatory-filled--bg-color: $white;
$advancedsearch__attribute-mandatory-filled--color: $black;
$advancedsearch__attribute-mandatory-filled--border-color: #B7BDC8;
$advancedsearch__attribute-mandatory-filled--hover-bg-color: #555;

//mandatory-field styling in advances-search
.yw-advancedsearch .z-grid .z-cell.yw-advancedsearch-mandatory-field {
    input {
        &, + .z-bandbox-button {
            background: $advancedsearch__attribute-mandatory--bg-color;
            border-color: $advancedsearch__attribute-mandatory--color;
            color: $advancedsearch__attribute-mandatory--color;
        }
        + .z-bandbox-button {
            &:hover, &:hover i {
                color: $advancedsearch__attribute-mandatory--button-color;
                background-color: $advancedsearch__attribute-mandatory--color;
            }
        }
        + .z-bandbox-button i,
        .z-radio .z-radio-content {
            color: $advancedsearch__attribute-mandatory--color;
        }
        &:not([value=""]) {
            background: $advancedsearch__attribute-mandatory-filled--bg-color;
            border-color: $advancedsearch__attribute-mandatory-filled--border-color;
            color: $advancedsearch__attribute-mandatory-filled--color;
            + .z-bandbox-button {
                border-color: $advancedsearch__attribute-mandatory-filled--border-color;
                color: $advancedsearch__attribute-mandatory-filled--color;
                &:hover, &:hover i {
                    background-color: $advancedsearch__attribute-mandatory-filled--hover-bg-color;
                }
            }
        }
    }
    
}
