.selectize-control > .selectize-dropdown {
	top: 36px;
}

.ui-select-focusser {
	display: none;
}

se-media-selector .select2-container .select2-choice.ui-select-match{
    height:auto;/*overwrite techne*/
}

.sm-tab-error {
	background-image: url('/jsTests/smarteditcontainerJSTests/e2e/genericEditor/images/error-icon.png');
	background-repeat: no-repeat;
	padding-left: 20px;
	color: red
}

body {
	margin: 20px 40px;
}
