.oms-widget-createreturnrequest-footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #e5e9ed;
  height: 155px;
  width: 100%; }

.oms-widget-createreturnrequest-header {
  height: 110px;
  border-top: 1px solid #e5e9ed;
  border-bottom: 1px solid #e5e9ed;
  padding: 20px; }

.oms-widget-createreturnrequest-refund-amount-area--delivery-cost,
.oms-widget-createreturnrequest-refund-amount-area--total-refund,
.oms-widget-createreturnrequest-refund-amount-area,
.oms-widget-createreturnrequest-controller-area,
.oms-widget-createreturnrequest-configuration-revert-button,
.oms-widget-createreturnrequest-confirm-area {
  display: inline-block; }

.oms-widget-createreturnrequest-list-container .z-grid-header {
  background: transparent; }

.oms-widget-createreturnrequest-list-container__checkbox.z-checkbox label {
  display: inline;
  padding-right: 0;
  margin-left: 3px; }

.oms-widget-createreturnrequest-list-container__checkbox.z-checkbox > input {
  width: 0; }

.oms-widget-createreturnrequest-listbox-header .z-column-content {
  padding: 4px; }

.oms-widget-createreturnrequest-listbox-header__comment .z-column-content {
  margin-top: -3px; }

.oms-widget-createreturnrequest--body {
  height: calc(100% - 265px);
  padding-top: 10px; }

.oms-widget-createreturnrequest--body {
  width: 100%;
  padding-left: 20px; }

.oms-widget-createreturnrequest-listbox--row__return-qt {
  text-align: center;
  width: 50%;
  margin-left: 17%; }

.oms-widget-createreturnrequest-listbox--row__refund-amt {
  text-align: right; }

.oms-widget-createreturnrequest-listbox-header__comment {
  margin-bottom: 2px; }

.oms-widget-createreturnrequest-listbox-header__comment,
.oms-widget-createreturnrequest-listbox--row__comment {
  width: 93%; }

.oms-widget-createreturnrequest-listbox--row__prd-code,
.oms-widget-createreturnrequest-listbox--row__prd-name,
.oms-widget-createreturnrequest-listbox--row__isocode,
.oms-widget-createreturnrequest-listbox--row__base-price,
.oms-widget-createreturnrequest-listbox--row__returnable-qty,
.oms-widget-createreturnrequest-configuration-save-button {
  width: 100%; }

.oms-widget-createreturnrequest-listbox--row__isocode {
  text-align: center; }

.oms-widget-createreturnrequest-listbox--row__base-price {
  text-align: right; }

.oms-widget-createreturnrequest-listbox--row__returnable-qty {
  text-align: center;
  display: block; }

.oms-widget-createreturnrequest-header--customer__vbox,
.oms-widget-createreturnrequest-header--totalDiscounts__vbox,
.oms-widget-createreturnrequest-header--orderTotal__vbox,
.oms-widget-createreturnrequest-refund-amount-area--total-refund {
  padding-left: 20px; }

.oms-widget-createreturnrequest-controller-area {
  width: 351px; }

.oms-widget-createreturnrequest-refund-amount-area--delivery-cost--wrapper,
.oms-widget-createreturnrequest-refund-amount-area--total-refund--wrapper {
  display: table; }

.oms-widget-createreturnrequest-refund-amount-area--delivery-cost--wrapper--div,
.oms-widget-createreturnrequest-refund-amount-area--delivery-cost--wrapper__cost,
.oms-widget-createreturnrequest-refund-amount-area--total-refund-label,
.oms-widget-createreturnrequest-refund-amount-area--total-refund-field {
  display: table-row; }

.oms-widget-createreturnrequest-configuration-revert-button {
  vertical-align: top;
  width: 25%; }

.oms-widget-createreturnrequest-refund-amount-area--delivery-cost--wrapper__cost,
.oms-widget-createreturnrequest-refund-amount-area--total-refund-field {
  text-align: right; }

.oms-widget-createreturnrequest-confirm-area {
  width: 60%; }

.oms-widget-createreturnrequest-refund-amount-area--total-refund-field,
.oms-widget-createreturnrequest-refund-amount-area--delivery-cost--wrapper__cost {
  margin-top: 10px; }

.oms-widget-createreturnrequest-refund-amount-area,
.oms-widget-createreturnrequest-controller-area {
  vertical-align: top; }

.oms-widget-createreturnrequest-controller-area {
  margin-top: 33px; }

.oms-widget-createreturnrequest-configuration-save-button {
  margin-bottom: 10px; }
