@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "support/_logoaction-variables";/*================================
    Logo Action
================================*/
// Styling of the Logo Action


.z-button.yw-logo-button {
  width: $actionLogo__btn--width;
  margin-left: $actionLogo__btn--margin-left;
  margin-right: $actionLogo__btn--margin-right;
  padding: $actionLogo__btn--padding;
  background: $actionLogo__btn--background;

  &:hover,
  &:focus,
  &:active {
    background: $actionLogo__btn-hover--background;
    box-shadow: none;
  }

  img {
    height: $actionLogo__btn-img--height;
  }
}