@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_custommenu-variables.scss";

.yw-show-menu-action {
  height: $_custommenu__actiondots-icon--size;
  width: $_custommenu__actiondots-icon--size;
  background: $_custommenu__actiondots-icon--background;
  padding-left: $_custommenu__actiondots-button--padding-x;
  padding-right: $_custommenu__actiondots-button--padding-x;
  display: inline-block;
  
  &.z-button {
    min-height: $_custommenu__actiondots-icon--size;
    
    &:hover,
    &:active,
    &:focus {
      background-image: $_custommenu__actiondots-icon--background-image;
      background-color: transparent;
      box-shadow: none;
    }
  }

  &-container {
    vertical-align: middle;
  }
  &-content {
    display: inline-block;
    width: auto;
    height: auto;
  }

  &:hover {
    background-position: $_custommenu__actiondots-button--hover-bg-position;
    cursor: pointer;
  }

  &-focus,
  &-active {
    background-position: $_custommenu__actiondots-button--focus-bg-position;
  }

  &-disabled {
    &, &:hover {
      background-position: $_custommenu__actiondots-button-disabled--bg-position;
      opacity: $_custommenu__actiondots-button-disabled--opacity;
      cursor: default;
    }
  }
}