@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 

.yw-de_hybris_platform_adaptivesearch_widgets_searchConfigurationAdapter {

    /*.y-toolbar {
        padding: 5px 0;
        .yw-listview-actionSlot {
            .cng-action-group {
                padding-top: $configurableMultireference__toolbar-action-group--padding-top;
            }
        }

        .ye-cancel-container{
            .z-button {
                background: $configurableMultireference__toolbar-button-cancel--background;
                color: $configurableMultireference__toolbar-button-cancel--color;
                height: $configurableMultireference__toolbar-button--height;
                padding: $configurableMultireference__toolbar-button--padding;
                &:hover {
                    background: $configurableMultireference__toolbar-button-cancel-hover--background;
                }
            }
        }
        .ye-save-container{
            .z-button {
                height: $configurableMultireference__toolbar-button--height;
                padding: $configurableMultireference__toolbar-button--padding;
            }
        }
    }*/

    .yw-editorarea-label-container .z-label {
        color: $configurableMultireference__area-label--color;
        font-weight: $configurableMultireference__area-label--font-weight;
    }

    .z-groupbox-content {
        tr > .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell {
            padding-bottom: $configurableMultireference__default-groupbox--padding-bottom;
        }
        & > .z-hbox:last-child tr > .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell:last-child {
            padding-bottom: $configurableMultireference__default-groupbox-lastchild--padding-bottom;
        }
    }
}

.yas-editor {
    width: $configurableMultireference__editor--width;

    .z-listbox {
        border: $configurableMultireference__listbox--border;
    }

    .z-listbox-emptybody tr td {
        background: $configurableMultireference__listbox-empty--background;
        padding: $configurableMultireference__listbox-empty--padding;
    }

    &.as-promoted-facets-editor,
    &.as-facets-editor {
        .z-listitem:not(.yas-in-search-result) {
            .z-listcell-content {
                background: $configurableMultireference__default-facets-notvalid--background;

                .yas-label {
                    color: $adaptiveSearchBackoffice-default-facets-notvalid--color;
                    .z-label {
                        color: $adaptiveSearchBackoffice-default-facets-notvalid--color;
                    }
                }
            }
        }
    }

    .z-listitem:not(.yas-current) {
        .yas-item {
            .yas-label {
                color: $adaptiveSearchBackoffice-default-facets-notcurrent--color;
                .z-label {
                    color: $adaptiveSearchBackoffice-default-facets-notcurrent--color;
                }
            }
            .yas-property {
                color: $adaptiveSearchBackoffice-default-facets-notcurrent--color;
                .z-label {
                    color: $adaptiveSearchBackoffice-default-facets-notcurrent--color;
                }
            }
        }
    }

    .z-listitem:first-child .z-listcell-content {
        padding: $configurableMultireference__listcell-content--padding;
    }
    .z-listcell-content {
        display: table;
        width: $configurableMultireference__listcell-content--width;
        padding: $configurableMultireference__listcell-content--padding;

        .yas-item {
            display: table-row;

            .z-label {
                display: inline;
                white-space: normal;
                line-height: $configurableMultireference__listcell--content-label--line-height;
            }

            .yas-info {
                padding: $configurableMultireference__default-facets-info-md--padding;
                display: table-cell;
                width: $configurableMultireference__default-facets-info--width;
                vertical-align: middle;
                text-align: center;

                .yas-info-icon {
                    height: $configurableMultireference__default-facets-info-icon-md--size;
                    width: $configurableMultireference__default-facets-info-icon-md--size;
                    margin-left: $configurableMultireference__default-facets-info-icon---margin;
                    margin-right: $configurableMultireference__default-facets-info-icon---margin;
                    background-repeat: no-repeat;
                    background-position: $configurableMultireference__facets-info-icon-current--bg-position;
                    background-attachment: scroll;
                }
            }

            .yas-label {
                display: table-cell;
                vertical-align: middle;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: $configurableMultireference__yas-label--max-width;
                color: $configurableMultireference__yas-label--color;
                padding-right: $configurableMultireference__yas-label--padding-right;

                .z-label {
                    color: $configurableMultireference__yas-label--color;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .yas-property {
                display: table-cell;
                width: $configurableMultireference__yas-property--width;
                min-width: $configurableMultireference__yas-property--width;
                vertical-align: middle;
                text-align: left;
            }

            .yas-editable {
                .ye-instant-editor-label-editable {
                    margin-left: 0;
                }
                .ye-instant-editor-buttons-container {
                    position: static;
                }
            }

            .yas-actions {
                display: table-cell;
                width: $configurableMultireference__yas-actions--width;
                min-width: $configurableMultireference__yas-actions--width;
                vertical-align: middle;
                text-align: center;

                .z-button {
                    background: transparent;
                    color: $configurableMultireference__yas-actions-button--color;
                    font-size: $configurableMultireference__yas-actions-button--font-size;

                    &[disabled] {
                        background: transparent !important;
                    }

                    &:active, &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }

    &.as-promoted-facets-editor,
    &.as-promoted-items-editor {
        .z-listitem {
            .yas-info {
                .yas-info-icon {
                    background-position: $configurableMultireference__promoted-facets-info-icon-current--bg-position;
                }
            }
            &.yas-current {
                .yas-info {
                    .yas-info-icon {
                        background-position: $configurableMultireference__promoted-facets-info-icon-inherit--bg-position;
                    }
                }
            }
            &.yas-current.yas-override {
                .yas-info {
                    padding: $configurableMultireference__default-facets-info-lg--padding;
                    .yas-info-icon {
                        width: $configurableMultireference__default-facets-info-icon-lg--width;
                        height: $configurableMultireference__default-facets-info-icon-lg--height;
                        background-position: $configurableMultireference__promoted-facets-info-icon-current-inherit--bg-position;
                    }
                }
            }
        }
    }

    &.as-facets-editor {
        .z-listitem {
            .yas-info {
                .yas-info-icon {
                    background-position: $configurableMultireference__facets-info-icon-current--bg-position;
                }
            }
            &.yas-current {
                .yas-info {
                    .yas-info-icon {
                        background-position: $configurableMultireference__facets-info-icon-inherit--bg-position;
                    }
                }
            }
            &.yas-current.yas-override {
                .yas-info {
                    padding: $configurableMultireference__default-facets-info-lg--padding;
                    .yas-info-icon {
                        width: $configurableMultireference__default-facets-info-icon-lg--width;
                        height: $configurableMultireference__default-facets-info-icon-lg--height;
                        background-position: $configurableMultireference__facets-info-icon-current-inherit--bg-position;
                    }
                }
            }
        }
    }

    &.as-excluded-facets-editor,
    &.as-excluded-items-editor {
        .z-listitem {
            .yas-info {
                .yas-info-icon {
                    background-position: $configurableMultireference__excluded-facets-info-icon-current--bg-position;
                }
            }
            &.yas-current {
                .yas-info {
                    .yas-info-icon {
                        background-position: $configurableMultireference__excluded-facets-info-icon-inherit--bg-position;
                    }
                }
            }
            &.yas-current.yas-override {
                .yas-info {
                    padding: $configurableMultireference__default-facets-info-lg--padding;
                    .yas-info-icon {
                        width: $configurableMultireference__default-facets-info-icon-lg--width;
                        height: $configurableMultireference__default-facets-info-icon-lg--height;
                        background-position: $configurableMultireference__excluded-facets-info-icon-current-inherit--bg-position;
                    }
                }
            }
        }
    }

    &.as-boost-rules-editor {
        .z-listitem {
            .yas-info {
                display: none;
            }
            .yas-item > .z-div:nth-last-child(2) {
                padding-left: $configurableMultireference__yas-property-second--padding-left;
            }
        }
    }

    & > div:last-child .z-button {
        display: block;
        cursor: pointer;
        text-align: left;
        text-transform: none;
        position: relative;
        width: $configurableMultireference__add-item-button--width;
        height: $configurableMultireference__add-item-button--height;
        background: $configurableMultireference__add-item-button--background;
        padding-left: $configurableMultireference__add-item-button--padding-left;
        color: $configurableMultireference__add-item-button--color;
        font-size: $configurableMultireference__add-item-button--font-size;
        border: $configurableMultireference__add-item-button--border;
        box-shadow: $configurableMultireference__add-item-button--box-shadow;
        transition: 0s;

        &:hover {
            background: $configurableMultireference__add-item-button-hover--background;
        }

        i {
            position: relative;
            top: $configurableMultireference__add-item-button-icon--top;
            left: $configurableMultireference__add-item-button-icon--left;
            color: $configurableMultireference__add-item-button-icon--color;
            font-size: $configurableMultireference__add-item-button-icon--font-size;
        }
    }
}