@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

/*================================
    z-Groupbox
================================*/
// Basic Defintions of Groupboxes

// Status: unchanged 
// ToDo: all

.z-groupbox {
    border: none;
    border-top: 1px solid #C5C5C5;
}

.z-groupbox-content {
    border: none;
}

.z-groupbox-content .z-tablechildren > input {
    margin-bottom: 2px;
}

.z-tablelayout {
    margin: 0 0 0 -3px;
}

.z-groupbox>.z-groupbox-header {
    padding: 10px 0 0 0;
    border: none;
}

.z-groupbox .z-groupbox .z-groupbox-header {
    padding: 10px 0 10px 0;
}

.z-caption-content {
    padding: 3px 0 0;
}

.z-groupbox-header .z-caption-content,
.z-groupbox-title-content {
    background: transparent;
    color: #323B44;
    font-style: normal;
    font-weight: bold;

}

.z-groupbox .z-groupbox .z-groupbox-header .z-caption-content {
    padding: 0px;
}
