@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_collaboration-variables.scss";
.yw-collaboration-center-toolbar {
    background-color: $_collaboration__toolbar-widget--bg-color;

    .yw-navigationhistory {
        &-back {
            line-height: $_collaboration__toolbar-history--line-height;
            padding-top: 0;
            padding-bottom: 0;
            float: left;
        }
        &-title {
            height: $_collaboration__toolbar-history-title--height;
            line-height: $_collaboration__toolbar-history--line-height;
            max-width: $_collaboration__toolbar-history-title--max-width;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &-stack {
            vertical-align: top;
        }
    }
    .yw-collaboration-center-navigation-history {
        padding-top: $_collaboration__toolbar-history-container--padding-v;
        padding-bottom: $_collaboration__toolbar-history-container--padding-v;
    }
    .yw-toolbar-horizontal {
        line-height: $_collaboration__toolbar-widget-action-group--line-height;
        text-align: right;
    }
    .yw-collaboration-center-center-toolbar {
        .yw-toolbar-actions {
            .cng-action-group {
                padding-right: $_collaboration__toolbar-center-action-group--padding-right;
            }
        }
    }
    .yw-collaboration-center-sidebar-header {
        .yw-toolbar-actions {
            .cng-action-group {
                padding-right: $_collaboration__toolbar-side-action-group--padding-right;
            }
            .z-hbox-separator {
                display: none;
            }
        }
    }
}