@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_pcmbackoffice_mixins.scss";

.yw-pcmbackoffice {
    .yw-navigationhistory-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .yw-editorarea-tabbox.yw-static-section-active .z-tabbox-static-section {
        background-color: $pcmbackoffice__editorarea-tabbox-tabpanles-static-section--bg-color;
    }
    
    .yw-extendedsplitlayout-toolbar,
    .yw-editorarea-actioncontainer .y-toolbar .cng-action-group {
        @include _addPrimaryToolbarActionDefaultStates();

        .cng-action {
            margin-left: 0;
        }
    }

    .yw-editorarea-actioncontainer {
        .y-toolbar {
            &-leftslot {
                margin-left: 0;
            }
            &-rightslot {
                margin-right: 0;
            }
        }
        .yw-navigationhistory-title,
        .yw-navigationhistory-back {
            vertical-align: middle;
            padding-bottom: 0;
            padding-top: 0;
            height: $pcmbackoffice__editorarea-actioncontainer-navigation-history-text-element--height;
            line-height: $pcmbackoffice__editorarea-actioncontainer-navigation-history-text-element--height;
        }
        .yw-navigationhistory-title {
            width: $pcmbackoffice__editorarea-actioncontainer-navigation-history-title--width;
        }
        .yw-navigationhistory-back span {
            @media all and (max-width: $pcmbackoffice__media-query-xs--max-width) {
                display: none;
            }
        }
        .yw-com_hybris_cockpitng_navigationhistory {
            display: flex;
        }
        .cng-action-group {
            border-right: $pcmbackoffice__editorarea-toolbar-action-group--border-right;

            .z-hbox table td {
                vertical-align: middle;
            }
            .cng-action {
                margin-right: $pcmbackoffice__editorarea-toolbar-action--margin-right; 
            }
        }
        .ye-cancel-container {
            .z-button {
                box-shadow: none;
                background-color: $pcmbackoffice__editorarea-toolbar-text-button-default--bg-color;
                color: $pcmbackoffice__editorarea-toolbar-text-button-default--color;

                &:hover, &:focus {
                    color: $pcmbackoffice__editorarea-toolbar-text-button-default--hover-color;
                }
            }
        }
    }
    .y-toolbar-leftslot-widget {
        display: inline-block;

        + .y-toolbar-inner {
            display: inline-block;
            float: right;
        }
    }
    .yw-listview-actioncontainer .y-toolbar {
        height: auto;

        > .y-toolbar-leftslot-widget {
            max-width: $pcmbackoffice__editorarea-actioncontainer-leftslot__max-width;
            padding: $pcmbackoffice__editorarea-actioncontainer-navigation-history-container--padding;
        }
    }

    .yw-extendedsplitlayout {
        .yw-listview-actioncontainer {
            padding: $pcmbackoffice__splitlayout-actioncontainer--padding;

            .y-toolbar {
                min-height: $pcmbackoffice__splitlayout-toolbar--min-height;
                background-color: $pcmbackoffice__splitlayout-toolbar--bg-color;
                border-top: $pcmbackoffice__splitlayout-toolbar--border-top;
                padding: $pcmbackoffice__splitlayout-toolbar--padding;
                height: auto;
            }
        }
        &-toolbar-action,
        &-content-box .yw-explorerTree-secondary-actions {
            .ya-com_hybris_cockpitng_action_splitlayoutchooser {
                
                table {
                    td {
                        display: none;
                        vertical-align: middle;
                        text-align: center;
                        
                        &:first-child {
                            display: table-cell;
                        }
                    }
                }
            }
        }
        &-content-box {
            .yw-explorerTree-right-holder {
                > div {
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}
