.ya-de_hybris_platform_solrfacetsearchbackoffice_action_indexerhotupdate:hover {
  background: #ffffff none repeat scroll 0 0;
  color: #0486e0;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  box-shadow: inset 0 0 0 1px #c4cedc; }
  .ya-de_hybris_platform_solrfacetsearchbackoffice_action_indexerhotupdate:hover .cng-action-icon {
    box-shadow: none !important; }
    .ya-de_hybris_platform_solrfacetsearchbackoffice_action_indexerhotupdate:hover .cng-action-icon, .ya-de_hybris_platform_solrfacetsearchbackoffice_action_indexerhotupdate:hover .cng-action-icon:hover, .ya-de_hybris_platform_solrfacetsearchbackoffice_action_indexerhotupdate:hover .cng-action-icon:focus {
      background: transparent; }

.ya-de_hybris_platform_solrfacetsearchbackoffice_action_indexerhotupdate .z-hbox-separator {
  display: none; }

.ya-de_hybris_platform_solrfacetsearchbackoffice_action_indexerhotupdate .cng-action-text {
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 0;
  line-height: 24px; }
