.oms-widget-footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #e5e9ed; }

.oms-widget-cancelorder-configuration-footer,
.oms-widget-footer {
  height: 80px; }

.oms-widget-cancelorder-configuration--separator {
  height: 20px; }

.oms-widget-cancelorder-header {
  height: 60px; }

.oms-widget-cancelorder-header,
.oms-widget-cancelorder-list {
  padding-left: 20px;
  padding-right: 20px; }

.oms-widget-cancelorder-list-container__checkbox.z-checkbox label {
  display: inline;
  padding-right: 0;
  margin-left: 3px; }

.oms-widget-cancelorder-list-container__checkbox.z-checkbox > input {
  width: 0; }

.oms-widget-cancelorder-listbox-header .z-column-content {
  padding: 4px; }

.oms-widget-cancelorder-listbox-header__comment .z-column-content {
  margin-top: -3px; }

.oms-widget-cancelorder-configuration,
.oms-widget-cancelorder-list-container {
  border-top: 1px solid #e5e9ed; }

.oms-widget-cancelorder-list-container .z-grid-header {
  background: transparent; }

.oms-widget-cancelorder-list {
  height: calc(100% - 180px); }

.oms-widget-cancelorder--qty-label {
  display: inline-block;
  text-align: right;
  padding-right: 30px; }

.oms-widget-cancelorder--qty-label__centered {
  display: inline-block;
  text-align: center; }
