@charset "UTF-8";
.yw-processes-header {
  height: 50px;
  background-color: #0486e0;
  overflow: hidden; }
  .yw-processes-header-title {
    color: white;
    font-weight: bold;
    line-height: 50px;
    margin-left: 10px;
    float: left; }
  .yw-processes-header-right-pack {
    display: inline; }
  .yw-processes-header-close-btn {
    line-height: 50px;
    padding: 10px; }
    .yw-processes-header-close-btn img {
      height: 16px; }
  .yw-processes-header-settings-btn:hover {
    background-color: transparent; }
  .yw-processes-header-settings-btn img {
    height: 16px; }

.yw-processes-open-btn.yw-processes-unseen .z-toolbarbutton-content, .yw-processes-open-btn-spin .z-toolbarbutton-content {
  position: relative; }
  .yw-processes-open-btn.yw-processes-unseen .z-toolbarbutton-content:after, .yw-processes-open-btn.yw-processes-unseen .z-toolbarbutton-content:before, .yw-processes-open-btn-spin .z-toolbarbutton-content:after, .yw-processes-open-btn-spin .z-toolbarbutton-content:before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%; }
  .yw-processes-open-btn.yw-processes-unseen .z-toolbarbutton-content:before, .yw-processes-open-btn-spin .z-toolbarbutton-content:before {
    background-color: #0486e0;
    top: 1px;
    right: -4px;
    width: 9px;
    height: 9px; }
  .yw-processes-open-btn.yw-processes-unseen .z-toolbarbutton-content:after, .yw-processes-open-btn-spin .z-toolbarbutton-content:after {
    top: 2px;
    right: -3px;
    width: 7px;
    height: 7px;
    background-color: #f8c31c; }

.yw-processes-open-btn.yw-processes-unseen:hover .z-toolbarbutton-content, .yw-processes-open-btn.yw-processes-unseen:hover .z-toolbarbutton-content:before, .yw-processes-open-btn.yw-processes-unseen:focus .z-toolbarbutton-content, .yw-processes-open-btn.yw-processes-unseen:focus .z-toolbarbutton-content:before, .yw-processes-open-btn.yw-processes-unseen:active .z-toolbarbutton-content, .yw-processes-open-btn.yw-processes-unseen:active .z-toolbarbutton-content:before, .yw-processes-open-btn-spin:hover .z-toolbarbutton-content, .yw-processes-open-btn-spin:hover .z-toolbarbutton-content:before, .yw-processes-open-btn-spin:focus .z-toolbarbutton-content, .yw-processes-open-btn-spin:focus .z-toolbarbutton-content:before, .yw-processes-open-btn-spin:active .z-toolbarbutton-content, .yw-processes-open-btn-spin:active .z-toolbarbutton-content:before {
  background-color: inherit; }

.yw-processes-open-btn-spin.yw-processes-unseen .z-toolbarbutton-content:after {
  background: transparent; }

.yw-processes-open-btn-spin .z-toolbarbutton-content:before {
  top: 2px;
  right: -3px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  -webkit-animation: rotate 1500ms infinite linear;
          animation: rotate 1500ms infinite linear;
  background-image: url("images/icon_processes_spin.svg");
  background-repeat: no-repeat;
  background-position: center; }

.yw-processes-open-btn-spin .z-toolbarbutton-content:after {
  display: none; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.yw-processes-header-settings-popup {
  overflow: visible;
  margin-top: 8px;
  background-color: #ffffff; }
  .yw-processes-header-settings-popup-container .ye-processes-settings-container {
    padding: 10px;
    width: 190px;
    margin: 0;
    position: relative; }
    .yw-processes-header-settings-popup-container .ye-processes-settings-container:before {
      right: 10px;
      left: 10px;
      border-bottom: 1px solid #d2dae4;
      height: 0;
      top: 0;
      content: "";
      position: absolute;
      display: block; }
    .yw-processes-header-settings-popup-container .ye-processes-settings-container:first-child:before {
      display: none; }
    .yw-processes-header-settings-popup-container .ye-processes-settings-container-setting {
      display: inline-block;
      padding-right: 10px; }
      .yw-processes-header-settings-popup-container .ye-processes-settings-container-setting > span {
        display: block; }
      .yw-processes-header-settings-popup-container .ye-processes-settings-container-setting-name {
        font-weight: bold; }
    .yw-processes-header-settings-popup-container .ye-processes-settings-container-checkbox, .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-drop {
      float: right;
      vertical-align: middle; }
    .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-list.z-listbox {
      border-width: 0;
      margin: 0 -10px;
      position: relative;
      top: 10px;
      padding-top: 1px;
      position: relative; }
      .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-list.z-listbox .z-listitem .z-listcell {
        border-top-width: 0;
        position: relative; }
        .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-list.z-listbox .z-listitem .z-listcell-content {
          padding-right: 10px;
          padding-left: 10px;
          margin-top: 1px; }
        .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-list.z-listbox .z-listitem .z-listcell:before {
          right: 10px;
          left: 10px;
          border-top: 1px solid transparent;
          height: 0;
          border-top-color: inherit;
          top: 0;
          content: "";
          position: absolute;
          display: block; }
      .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-list.z-listbox .z-listitem:first-child .z-listcell:before {
        display: none; }
      .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-list.z-listbox:before {
        right: 10px;
        left: 10px;
        border-bottom: 1px solid #d2dae4;
        height: 0;
        top: 0;
        content: "";
        position: absolute;
        display: block; }
    .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-list-toggle-btn {
      right: 10px;
      width: 15px;
      height: 15px;
      margin-top: 13px;
      color: inherit;
      position: absolute;
      display: inline-block;
      text-decoration: none; }
      .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-list-toggle-btn:before {
        line-height: 15px;
        font-family: "FontAwesome", sans-serif;
        content: "";
        margin-top: -7px;
        text-align: center;
        color: inherit;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%; }
      .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-list-toggle-btn-active:before {
        content: ""; }
      .yw-processes-header-settings-popup-container .ye-processes-settings-container-range-list-toggle-btn:hover {
        color: #0486e0; }

.yw-processes-list {
  min-width: 520px;
  -webkit-transition: max-width 0.3s ease-in;
  transition: max-width 0.3s ease-in;
  height: calc(100% - 50px);
  overflow: auto;
  border: none; }
  .yw-processes-list .z-listcell-content .z-label,
  .yw-processes-list .z-listcell-content .z-stopwatch {
    color: #d5d8dc;
    font-size: 12px;
    text-align: left; }
  .yw-processes-list .yw-processes-no-access.z-label {
    width: 100%;
    color: #acacac;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    display: inline-block; }
  .yw-processes-list-item-content {
    padding: 0 25px 0 30px; }
    .yw-processes-list-item-content-code {
      clear: left;
      display: block;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .yw-processes-list-item-content-edit {
      bottom: 15px;
      clear: left;
      float: right;
      text-align: center;
      position: absolute;
      right: 0; }
      .yw-processes-list-item-content-edit:empty {
        width: 24px;
        height: 24px;
        display: block;
        padding: 0;
        min-height: 0;
        background: url("images/dots.png") center 0 no-repeat;
        box-shadow: none; }
        .yw-processes-list-item-content-edit:empty:hover, .yw-processes-list-item-content-edit:empty:focus, .yw-processes-list-item-content-edit:empty:active,
        span + .yw-processes-list-item-content-edit:empty {
          background: url("images/dots.png") center -24px no-repeat;
          box-shadow: none; }
    .yw-processes-list-item-content-date {
      display: block; }
  .yw-processes-list tr.z-listitem, .yw-processes-list tr.z-listitem:hover, .yw-processes-list tr.z-listitem-selected, .yw-processes-list tr.z-listitem-selected:hover {
    background-color: transparent; }
  .yw-processes-list tr.z-listitem:hover {
    cursor: default; }
  .yw-processes-list tr.z-listitem .z-listcell {
    border-top-width: 0; }
  .yw-processes-list tr.z-listitem:last-child .z-listcell {
    border-bottom: 1px solid #384d66; }
  .yw-processes-list tbody.z-listbox-emptybody td {
    background: transparent; }

.yw-processes-list-item-icon {
  width: 16px;
  height: 16px;
  margin: 1px 5px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("images/icon-sync-blue.png"); }
  .yw-processes-unseen .yw-processes-list-item-icon:after, .yw-processes-unseen .yw-processes-list-item-icon:before {
    content: '';
    position: absolute;
    display: block;
    border-radius: 50%; }
  .yw-processes-unseen .yw-processes-list-item-icon:before {
    background-color: inherit;
    top: -1px;
    right: -3px;
    width: 9px;
    height: 9px; }
  .yw-processes-unseen .yw-processes-list-item-icon:after {
    top: 0;
    right: -2px;
    width: 7px;
    height: 7px;
    background-color: #f8c31c; }

.yw-processes-list-item-content:before {
  border-top: 1px solid #384d66;
  background-color: transparent;
  position: absolute;
  display: block;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; }

.yw-processes-list-item-content-progress {
  height: 2px;
  background-color: #0486e0;
  margin: 10px 0;
  position: static; }
  .yw-processes-list-item-content-progress:before {
    height: 2px;
    background-color: #000000;
    left: 35px;
    right: 30px;
    z-index: -1;
    position: absolute;
    content: "";
    display: block; }

.yw-processes-list-item-content-progressbar-bar {
  height: 2px;
  width: 100%;
  background-color: grey; }

.yw-processes-list-item-content-progressbar-progress {
  height: 2px;
  width: 0;
  background-color: #0486e0; }

.yw-processes .yw-processes-list-item-content-status {
  font-weight: inherit; }
  .yw-processes .yw-processes-list-item-content-status.z-label {
    margin-right: -20px;
    float: right;
    display: inline-block;
    background: none;
    position: relative;
    text-transform: uppercase;
    text-align: right; }

.yw-processes .yw-processes-list-item-status-info.z-label {
  color: #ffffff;
  font-weight: bold;
  text-align: left;
  display: block;
  white-space: normal;
  position: relative; }

.yw-processes .yw-processes-list-item-status-running.yw-processes-list-item-icon {
  background-color: #384d66; }

.yw-processes .yw-processes-list-item-status-running.z-label {
  color: #0486e0; }

.yw-processes .yw-processes-list-item-status-running + .yw-processes-list-item-content:before {
  border-color: #1e2830;
  background-color: #384d66; }

.yw-processes .yw-processes-list-item-status-runningrestart.yw-processes-list-item-icon {
  background-color: #384d66; }

.yw-processes .yw-processes-list-item-status-runningrestart.z-label {
  color: #0486e0; }

.yw-processes .yw-processes-list-item-status-runningrestart + .yw-processes-list-item-content:before {
  border-color: #1e2830;
  background-color: #384d66; }

.yw-processes .yw-processes-list-item-status-aborted.z-label {
  color: #ff3b30; }

.yw-processes .yw-processes-list-item-status-finished.z-label {
  color: #7ed321; }

.yw-processes .yw-processes-list-item-status-failed.z-label {
  color: #ff3b30; }

.yw-processes .yw-processes-list-item-status-paused.z-label {
  color: #ffffff; }

.yw-processes .yw-processes-list-item-status-unknown.z-label {
  color: #cccccc; }

.yw-processes-sidebar {
  z-index: 100;
  background-color: #1e2830;
  width: 520px;
  max-width: 520px;
  -webkit-transition: max-width 0.3s ease-in;
  transition: max-width 0.3s ease-in;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0; }
  @media screen and (max-width: 1209px) {
    .yw-processes-sidebar {
      max-width: 420px; }
      .yw-processes-sidebar .yw-processes-list {
        min-width: 420px; } }
  @media screen and (max-width: 519px) {
    .yw-processes-sidebar {
      max-width: 300px; }
      .yw-processes-sidebar .yw-processes-list {
        min-width: 300px; } }
  .yw-processes-sidebar-disabled {
    -webkit-transition: max-width 0.2s ease-out;
    transition: max-width 0.2s ease-out;
    max-width: 0; }

.yw-processes-autoclose {
  background-color: #1e2830;
  -webkit-transition: opacity 0.12s ease-in 0s, width 0s linear 0.12s;
  transition: opacity 0.12s ease-in 0s, width 0s linear 0.12s;
  position: fixed;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  opacity: 0; }
  .yw-processes-autoclose-active {
    z-index: 99;
    -webkit-transition: opacity 0.25s ease-out 0.2s, width 0s linear 0.1s;
    transition: opacity 0.25s ease-out 0.2s, width 0s linear 0.1s;
    opacity: 0.6;
    width: 100%; }

.yw-processes-menu-popup {
  overflow: visible;
  margin-top: -6px; }
