@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 

/*================================
    Cockpit Admin variables
================================*/
// Styling variables



$admin-defaults__z-button--size: $editor-defaults__inline-box--height;

$admin-defaults__headerToolbar--bg-color: $blue__default;
$admin-defaults__headerToolbar--bg-image: false; //url("images/head_backgr.gif")
$admin-defaults__mainToolbar--space-y: 5px;
$admin-defaults__mainToolbar--space-x: 5px;
$admin-defaults__mainToolbar--min-height: 50px;
$admin-defaults__mainToolbar--height: auto;
$admin-defaults__mainToolbar-topCover--bg-color: $blue__default;
$admin-defaults__mainToolbar-topCover--height: $admin-defaults__mainToolbar--space-y;
$admin-defaults__mainToolbar-topCover--top: -$admin-defaults__mainToolbar-topCover--height;
$admin-defaults__mainToolbar-topCover--left: 0;
$admin-defaults__mainToolbar-topCover--right: 0;
$admin-defaults__mainToolbar-td-element--border-color: $black__blueish--200;
$admin-defaults__mainToolbar-td-element--border-width: $boxes--border__thin;
$admin-defaults__mainToolbar-separator--border-left: none; //$admin-defaults__mainToolbar-td-element--border-width solid #4970c9;
$admin-defaults__mainToolbar-separator--border-right: none;
$admin-defaults__mainToolbar-separator--width: auto;

$admin-defaults__mainToolbar-inner--margin-bottom: $admin-defaults__mainToolbar--space-y;

$admin-defaults__widget-container--space-x: 5px;
$admin-defaults__widget-container--space-y: 5px;
$admin-defaults__widget-container--border: 1px dotted #7D7D7D;
$admin-defaults__widget-container--bg-color: #ededed;

$admin-defaults__widget-toolbar--space-x: $admin-defaults__widget-container--space-x - 1px;

$admin-defaults__widget-panel--top: $container-spacing-default__base; //$editor-defaults__inline-box--height;
$admin-defaults__widget-panel--margin-top: $admin-defaults__widget-container--space-y;

$admin-defaults__widget-body--top: $container-spacing-default__base;
$admin-defaults__widget-body--margin-top: 50px !important;
$admin-defaults__widget-body--bottom: $admin-defaults__widget-container--space-y;
$admin-defaults__widget-body--space-x: $admin-defaults__widget-container--space-x;
$admin-defaults__widget-body--bg-color: #b5bdc9;

$admin-defaults__main-widget--top: 60px !important;
$admin-defaults__main-widget--space-x: $admin-defaults__widget-container--space-x;
$admin-defaults__main-widget-label--margin: 2px $admin-defaults__widget-container--space-x;

$admin-defaults__symbolic-main-widget--top: $admin-defaults__main-widget--top;
$admin-defaults__symbolic-main-widget--bg-color: $black__blueish--200;
$admin-defaults__symbolic-window--bg-color: $black__blueish--200;
$admin-defaults__symbolic-main-widget--margin-x: $admin-defaults__widget-container--space-x;

$admin-defaults__widget-buttons--hover-bg-color: rgba($white, .3);

$admin-defaults__content--border-width: $boxes--border__thin;

$admin-defaults__chooze-wizard-refreshLibraryButton--height: $editor-defaults__inline-box--height;
$admin-defaults__chooze-wizard-refreshLibraryButton--hover-color: $blue__default;
$admin-defaults__chooze-wizard-topToolbar--space-y: 3px;
$admin-defaults__chooze-wizard-refreshLibraryButton--line-height: $admin-defaults__chooze-wizard-refreshLibraryButton--height - 2* $admin-defaults__chooze-wizard-topToolbar--space-y;

$admin-defaults__chooze-wizard-content--border: $admin-defaults__content--border-width solid $grey__default;

$admin-defaults__remove-widget-button--color: $blue__greyish--800;//$black__blueish--200;
$admin-defaults__filter-search-button-section--line-height: $editor-defaults__inline-box--height;
$admin-defaults__filter-component-container--bg-color: $white;
$admin-defaults__filter-container-toggle-button--line-height: $editor-defaults__inline-box--height; 
$admin-defaults__filter-container-toggle-button--height: $editor-defaults__inline-box--height;

$admin-defaults__filter-container-attribute-button--color: $white;
$admin-defaults__filter-container-attribute-button--hover-color: $white;
$admin-defaults__filter-attribute-button-icon--size: 16px;

$admin-defaults__config-filter-attribute-container--padding: 5px;
$admin-defaults__config-filter-attribute-container--bg-color: $white;
$admin-defaults__config-filter-attribute-find-parent--line-height: $editor-defaults__inline-box--height;
$admin-defaults__config-filter-attribute-name-label--padding-left: 0;
$admin-defaults__config-popup-container--bg-color: $grey__light--500;

