@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 



.yw-editorarea-password {
    &-editor-spacer {
        margin-bottom: $editorarea__password_panel--padding;
    }

    &-match-validation {
        margin-top: $editorarea__password_panel--padding;

        .yw-editorarea-tabbox-tabpanels & {
            color: $editorarea__password-panel-label-validation--color;
        }
    }
}
