@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

/*================================
    Item-Browser Widget
================================*/
// Styling of the item-Browser Component (Search)

// Status: nested/indented but unchanged
// ToDo: check, create & add all variables-defintions

.z-panel-children > .widget_cnt > .itemBrowserMainCnt {
    min-height: 300px;
}

.itemBrowserResultCnt {
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    bottom: 2px;
}

.cng-adminmode .itemBrowserResultCnt {
    top: 150px;
    width: auto;
    left: 5px;
    right: 5px;
}

.itemBrowserSearchCnt {
    height: 70px;
}

.cng-adminmode .itemBrowserSearchCnt {
    height: 140px;
    padding-top: 3px;
}

.cng-adminmode .itemBrowserSearchCnt .widget_cnt .widget_body {
    height: 90px !important;
}

.itemListCell .z-listcell-content {
    max-height: 1em;
    text-overflow: ellipsis;
    -moz-binding: url('util/ellipsis-xbl.xml#ellipsis');
    white-space: nowrap;
}