<div class="se-multi-product-catalog-version-selector">

    <div class="form-group se-multi-product-catalog-version-selector__label"> {{'se.product.catalogs.multiple.list.header' | translate}}</div>

    <div class="se-multi-product-catalog-version-selector__catalog form-group"
        data-ng-repeat="productCatalog in $ctrl.productCatalogs">

        <label class="control-label se-multi-product-catalog-version-selector__catalog-name"
            id="{{productCatalog.catalogId}}-label">
            {{productCatalog.name | l10n}}
        </label>

        <div class="se-multi-product-catalog-version-selector__catalog-version">
            <y-select data-id="{{productCatalog.catalogId}}"
                data-ng-model="productCatalog.selectedItem"
                data-on-change="$ctrl.updateModel"
                data-fetch-strategy="productCatalog.fetchStrategy" />
        </div>

    </div>
</div>