/*================================
    Split Layout Chooser Button
================================*/
.z-button.yw-split-layout-chooser-button {
  width: 28px;
  height: 28px;
  min-height: 28px;
  padding: 0;
  background: none;
  display: block;
  position: relative; }
  .z-button.yw-split-layout-chooser-button:before {
    content: '';
    width: 0;
    position: absolute;
    top: 0;
    left: -2px;
    bottom: 0;
    background-color: #0486e0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .z-button.yw-split-layout-chooser-button:hover, .z-button.yw-split-layout-chooser-button:focus, .z-button.yw-split-layout-chooser-button:active {
    background: none;
    box-shadow: none; }
    .z-button.yw-split-layout-chooser-button:hover:before, .z-button.yw-split-layout-chooser-button:focus:before, .z-button.yw-split-layout-chooser-button:active:before {
      width: 2px; }
  .z-button.yw-split-layout-chooser-button img {
    vertical-align: top; }
  .z-button.yw-split-layout-chooser-button.yw-split-layout-chooser-button-with-label {
    width: 100px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #000000;
    text-align: left;
    text-transform: none; }

.ya-com_hybris_cockpitng_action_splitlayoutchooser.cng-action {
  line-height: 1; }

.yw-split-layout-chooser-popup {
  margin: 28px 0 0 -2px;
  padding: 2px; }
