<div data-ng-show="!ctrl.searchCustomizationEnabled">
    <button class="y-add y-add-btn" type="button" data-ng-click="ctrl.toggleAddMoreCustomizationsClick()">
        <span class="hyicon hyicon-add" data-translate="personalization.toolbar.pagecustomizations.addmorecustomizations.button"></span>
    </button>
</div>
<div class="text-left search-item-lefttoolbar" data-ng-show="ctrl.searchCustomizationEnabled">
    <ui-select id="dropdownCustomizationsLibrary" multiple='true' class="form-control" ng-model="ctrl.selectedFromDropdownLibraryCustomizations" theme="select2" ng-disabled="disabled" on-select="ctrl.addCustomizationFromLibrary({selFromLib: $item});ctrl.selectedFromDropdownLibraryCustomizations = [];ctrl.toggleAddMoreCustomizationsClick();" ng-keyup="ctrl.customizationSearchInputKeypress($event, $select.search)" uis-open-close="ctrl.libraryCustomizationsDropdownOpenClose(isOpen)">
        <ui-select-match placeholder="{{'personalization.toolbar.pagecustomizations.addmorecustomizations.customization.library.search.placeholder' | translate}}">
            {{$item.name}}
        </ui-select-match>
        <ui-select-choices repeat="item in ctrl.libraryCustomizations" personalization-infinite-scroll="ctrl.addMoreLibraryCustomizationItems()" personalization-infinite-scroll-distance="2">
            <div ng-html-bind="item.name | highlight: $select.search"></div>
            <div class="row">
                <div class="col-xs-9" ng-bind="item.name"></div>
                <div class="col-xs-3 perso-list__status--value">
                    <small ng-class="ctrl.getActivityStateForCustomization(item)" ng-bind="ctrl.getEnablementTextForCustomization(item)"></small>
                </div>
            </div>
        </ui-select-choices>
    </ui-select>
</div>