.yw-workflow-actions-list.z-listbox {
  overflow-y: auto;
  height: 100%;
  border: 0; }

.yw-workflow-actions-list-bottom {
  padding: 10px 0 0;
  text-align: right; }
  .yw-workflow-actions-list-bottom-start {
    float: left; }

.yw-workflow-actions-list .z-listitem, .yw-workflow-actions-list .z-listitem:hover, .yw-workflow-actions-list .z-listitem-selected, .yw-workflow-actions-list .z-listitem-selected:hover {
  background-color: transparent; }

.yw-workflow-actions-list .z-listitem:hover {
  cursor: default; }

.yw-workflow-actions-list-item {
  text-align: left; }
  .yw-workflow-actions-list-item:last-child > .z-listcell {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: -1px; }
  .yw-workflow-actions-list-item .z-listcell {
    border-color: #d5d8dc; }
    .yw-workflow-actions-list-item .z-listcell > .z-listcell-content {
      padding: 25px 8px 25px 4px; }
  .yw-workflow-actions-list .yw-workflow-actions-list-item.z-listitem-selected {
    background-color: transparent; }
  .yw-workflow-actions-list .yw-workflow-actions-list-item:hover, .yw-workflow-actions-list .yw-workflow-actions-list-item:hover,
  .yw-workflow-actions-list .yw-workflow-actions-list-item.z-listitem-selected:hover,
  .yw-workflow-actions-list .yw-workflow-actions-list-item.z-listitem-selected:hover {
    background-color: #f6f8fa; }
  .yw-workflow-actions-list-item:hover button.yw-workflow-actions-list-title {
    text-decoration: underline; }

.yw-workflow-actions-list-content {
  padding: 0 0 0 20px; }
  .yw-workflow-actions-list-content-middle, .yw-workflow-actions-list-content-bottom {
    padding: 10px 8px 0 0; }
  .yw-workflow-actions-list-content .z-label {
    max-width: 100%;
    white-space: normal; }

.yw-workflow-actions-list-info-container {
  padding-top: 5px;
  display: table;
  width: 100%; }

.yw-workflow-actions-list-info.z-label {
  display: table-cell;
  padding-right: 5px; }
  .yw-workflow-actions-list-info.z-label:last-child {
    text-align: right;
    padding-right: 0;
    padding-left: 5px; }

.yw-workflow-actions-list .yw-workflow-actions-list-title {
  font-weight: bold;
  font-size: 14px;
  color: inherit;
  display: inline-block; }
  .yw-workflow-actions-list .yw-workflow-actions-list-title:hover {
    color: #0486e0;
    text-decoration: underline; }

.yw-workflow-actions-list tbody.z-listbox-emptybody td {
  background: transparent; }
