@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "support/_create-variables.scss";/*================================
    Create Button
================================*/
// Styling of the Create Button visible on different Widgets
// Status: indented, variables partly assigne
// Todo: Check appiarences & modify (especially in selector-popups)



// Toolbar
// ====================
//

.ya-create-type-selector-popup {
    /* TREE */
    .z-popup-cnt > .z-tree {
        border: none;

        > .z-tree-body {
            width: 100%!important;
        }
        tr.z-treerow td {
            border: medium none;
            padding: $create__create-type-popup-list-item--padding;
        }
        tr.ye-create-type-selector {
            &-lvl-1 {
                background: $create__create-type-popup-lvl-1--bg-color;
            }
            &-lvl-2 {
                background: $create__create-type-popup-lvl-2--bg-color;
            }
            &-lvl-3 {
                background: $create__create-type-popup-lvl-3--bg-color;
            }
            &-lvl-4 {
                background: $create__create-type-popup-lvl-4--bg-color;
            }
        }
        tr.z-treerow {
            &-over {
                background: $create__create-type-popup-row--hover-bg-color;
            }
            &-seld,
            &-over-seld {
                background: $create__create-type-popup-row-selected--bg-color;
            }
            &-seld div.z-treecell-cnt,
            &-over-seld div.z-treecell-cnt {
                color: $create__create-type-popup-row-selected--color;
            }
        }
    }

    /* ICONS */
    .z-popup-cnt > .z-tree {
        .z-tree-ico {
            background-image: url("icons/icon_func_toggle_sprite.png");

            &.z-tree-last-close,
            &.z-tree-root-close {
                background-position: 0 0;
            }
        }
        tr.z-treerow-seld .z-tree-ico {
            background-position: $create__create-new-button-caret-icon--size $create__create-new-button-caret-icon--size;

            &.z-tree-last-close,
            &.z-tree-root-close {
                background-position: $create__create-new-button-caret-icon--size 0;
            }
        }
    }
}

/* SELECTBUTTON */
a.ya-create-type-selector-button {
    .z-toolbarbutton-content {
        width: $create__create-new-button-caret-icon--size;
        height: $create__create-new-button-caret-icon--size;
        margin-top: $create__create-new-button-caret-icon--margin;
        margin-left: $create__create-new-button-caret-icon--margin;
        background: url("icons/icon_func_toggle_sprite.png") center no-repeat;
        background-position: 0 (-$create__create-new-button-caret-icon--size);
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
    }

    &.z-toolbarbutton {
        width: $create__create-new-button--caret-button--width;
        height: $create__create-new-button--height;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
        
        &:hover {
            .z-toolbarbutton-content {
                background-position: (-$create__create-new-button-caret-icon--size) (-$create__create-new-button-caret-icon--size);
            }
        }
        &[disabled] {
            .z-toolbarbutton-content {
                opacity: 0.5;
            }
        }
        &[disabled]:hover {
            .z-toolbarbutton-content {
                background-position: 0 (-$create__create-new-button-caret-icon--size);
            }
        }
    }

    &-opened.z-toolbarbutton {
        &,
        &:hover,
        &:focus {
            background-color: $create__create-new-button-opened--bg-color;
            border: $create__create-new-button-opened--border;
            box-shadow: $create__create-new-button-opened--box-shadow;

            .z-toolbarbutton-content {
                background-position: (-$create__create-new-button-caret-icon--size) (-$create__create-new-button-caret-icon--size * 2);
            }
        }
    }

    &[disabled],
    &[disabled]:hover,
    &[disabled]:focus {
        background-color: transparent!important;
    }
}

.ya-create-container {
    border: $create__create-new-button--border;
    background-color: $create__create-new-button--bg-color;
    display: table;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .cng-action-text {
        color: $create__create-type-action-text--color;
        display: inline-block;
        vertical-align: middle;

        .z-label {
            margin-right: $create__create-new-button-action-text-label--margin-right;
        }
    }

    //todo: check if parent (&) is needed here!?
    &.cng-action-disabled .cng-action-text {
        font-style: italic;
    }

    .y-toolbar & .z-hbox-sep {
        display: none;
    }
    .y-toolbar &,
    .yw-explorerTree-toolbar & {
        border: none;
        border-color: $create__create-type-toolbar-item-delimiter--color;
        margin: 0;
        background-color: transparent;
        
        .cng-action-text {
            display: none;
        }
        .ya-create-type-selector-button {
            box-sizing: border-box;
            border: $create__create-new-button--border-width solid transparent;
            margin-left: $create__create-type-selector-button--margin-left;
            border-left-color: inherit;
            position: relative;
            display: inline-block;
            
            &:hover,
            &:focus {
                border-color: inherit;
            }
            &[disabled] {
                &:hover,
                &:focus {
                    border-color: transparent;
                    border-left-color: inherit !important;
                }
            }      
        }
        &:hover {
            .cng-action-enabled {
                box-shadow: $create__create-new-action-hover--box-shadow;
                
                + .ya-create-type-selector-button {
                    border-color: inherit;
                }
            }
        }
    }

}

/* ADD BUTTON */
.ya-com_hybris_cockpitng_action_create {
    display: table-cell;

    &:hover{
        color: $create__create-new-button--hover-color;
        background: $create__create-new-button--hover-bg-color;
        transition: $create__create-new-button--hover-transition;
    }
}

/* DISABLE STATE */
.ya-create-type-selector-button.z-button-os-disd,
.ya-com_hybris_cockpitng_action_create.cng-action-disabled {
    background-color: transparent!important;
}

.ya-create-type-selector-button.z-button-os-disd {
    background-position: $create__create-new-button-select-disabled--bg-position;
}

.ya-create-type-no-visible-subtypes {
    display: block;
    font-style: italic;
    padding: $create__create-no-subtype-popup--padding;
    color: $create__create-no-subtype-popup--color;
}
