<div data-ng-controller="topToolbarMenuController" data-uib-dropdown data-is-open="item.isOpen" class="btn-group pe-toolbar-action pe-combined-view-menu" data-auto-close="outsideClick">
    <button type="button" class="btn btn-default pe-toolbar-action--button personalizationsmarteditTopToolbarCustomizeButton" data-uib-dropdown-toggle data-ng-disabled="disabled" aria-pressed="false" data-ng-class="{'pe-toolbar-action-customize--button-with-context': isCustomizeCustomizationSelected()}">
        <span class="hyicon hyicon-customize pe-toolbar-menu-ddlb--button__icon"></span>
        <span class="pe-toolbar-action--button--txt" data-translate="personalization.toolbar.pagecustomizations"></span>
    </button>

    <personalizationsmartedit-customize-toolbar-context></personalizationsmartedit-customize-toolbar-context>

    <div data-uib-dropdown-menu class="btn-block pe-toolbar-action--include">
        <div class="pe-toolbar-menu-content se-toolbar-menu-content--pe-customized" role="menu">
            <div class="se-toolbar-menu-content--pe-customized__headers">
                <h2 class="h2 se-toolbar-menu-content--pe-customized__headers--h2" data-translate="personalization.toolbar.pagecustomizations.header.title"></h2>
                <small class="se-toolbar-menu-content--pe-customized__headers--small" data-translate="personalization.toolbar.pagecustomizations.header.description"></small>
            </div>
            <div role="menuitem" class="pe-combined-view-menu">
                <personalizationsmartedit-page-customizations-toolbar-item data-is-menu-open="item.isOpen" />
            </div>
        </div>
    </div>
</div>