<div id="personalizationsmartedit-right-toolbar-item-template" class="perso-panel">
    <div>
        <div class="overflow-wrapper-lefttoolbar" personalization-infinite-scroll="ctrl.addMoreCustomizationItems()" personalization-infinite-scroll-distance="2" data-customizations-loaded="{{ctrl.customizationsOnPage.length > 0}}">
            <search-customization-from-lib data-library-customizations="ctrl.libraryCustomizations" data-add-more-library-customization-items="ctrl.addMoreLibraryCustomizationItems(searchObj)" data-add-customization-from-library="ctrl.addCustomizationFromLibrary(selFromLib)" data-is-menu-open="ctrl.isMenuOpen" />

            <statuses-dropdown data-set-selected-statuses="ctrl.setSelectedStatuses(value)" data-is-customizations-empty="ctrl.isCustomizationsEmpty()" data-clear-customize-context="ctrl.clearCustomizeContext()" />

            <page-customizations-list data-customizations-list="ctrl.customizationsList" />

        </div>
    </div>
</div>