@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_collectionBrowser-variables.scss";/*================================
    Collection Browser - Grid
================================*/
// Grid-Styling for Collection Browser

// Status:
// - indented, variables assigned partially



.yw-grid-view {
    padding: $collection-browser__grid--padding;  
    height: 100%;
    overflow: auto;
     
    &-container {
        color: $collection-browser__grid-view-container--color;
        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden; 
        position: relative;

        &:after {
            color: $collection-browser__grid-top-shadow--color;
            right: $collection-browser__grid-top-shadow--side-x;
            left: $collection-browser__grid-top-shadow--side-x;
            box-shadow: $collection-browser__grid-top-shadow--box-shadow;
            content: "";
            position: absolute;
            height: 0;
            top: 0;
        }
    }

    &-tile {
        width: $collection-browser__grid-tile--width;
        height: $collection-browser__grid-tile--height;
        margin: $collection-browser__grid-tile--margin;
        max-height: $collection-browser__grid-tile--height;
        float: left;
        text-align: center;
        border: $collection-browser__grid-tile--border;
        position: relative;
        background-color: $collection-browser__grid-tile--bg-color;
        box-shadow: $collection-browser__grid-tile--shadow;
        transition: $collection-browser__grid-tile--transition;
        overflow: hidden;

        &:before {
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: $collection-browser__grid-tile-image-part--bottom;
            background-color: $collection-browser__grid-tile-image-part--bg-color;
        }
        &:after {
            width: $collection-browser__grid-tile-selected-check-icon--size;
            height: $collection-browser__grid-tile-selected-check-icon--size;
            font: normal normal normal $collection-browser__grid-tile-selected-check-icon--font-size/1 $collection-browser__grid-tile-selected-check-icon--font-family;
            color: $collection-browser__grid-tile-hover--color;
            left: $collection-browser__grid-tile-selected--icon-indent;
            top: $collection-browser__grid-tile-selected--icon-indent;
            position: absolute;
            z-index: 1;
        }
        &:hover,
        &.yw-selected,
        &.yw-selected:hover {
            box-shadow: $collection-browser__grid-tile--hover-shadow;

            &.yw-coll-browser-focused {
                 box-shadow: $collection-browser__grid-tile--focused-hover-shadow;
            }
        }
        
        &.yw-selected,
        .yw-coll-browser-multiselect &.yw-coll-browser-focused {
            background-color: $collection-browser__grid-tile--focused--bg-color;
            border-color: $collection-browser__grid-tile--focused--border-color;
            
            &:hover {
                background-color: $collection-browser__grid-tile-selected-focused--bg-color;
            }
        }
        &.yw-coll-browser-multiselect &.yw-selected {
             background-color: $collection-browser__grid-tile-selected--bg-color;
             border-color: $collection-browser__grid-tile-selected--border-color;
        }
        &.yw-selected,
        &.yw-selected:hover {
            &:after {
                color: $collection-browser__grid-tile-selected--color;
            }
        }
        &:hover,
        &.yw-selected,
        .yw-coll-browser-multiselect & {
            &:after {
                content: $collection-browser__grid-tile-selected-check-icon--content;
            }
        }
        &.yw-coll-browser-focused {
             box-shadow: $collection-browser__grid-tile--focused-shadow;
        }

        .yw-grid-view-tile-thumbnail {
            height: auto;
            width: auto;
            max-width: $collection-browser__grid-tile-image--max-width;
            max-height: $collection-browser__grid-tile-image--max-height;
            margin: $collection-browser__grid-tile-image--margin-top auto 0;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .z-label {
            width: 100%;
            height:  $collection-browser__grid-tile-label--height;
            color: $collection-browser__grid-tile-label--color;
            font-size: $collection-browser__grid-tile-label--font-size;
            line-height: $collection-browser__grid-tile-label--line-height;
            word-wrap: $collection-browser__grid-tile-label--word-wrap;
            padding: $collection-browser__grid-tile--padding;
            border-top: $collection-browser__grid-tile--border;
            bottom: $collection-browser__grid-tile-label--bottom;            
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
            text-align: left;
            position: absolute;
            background-color: inherit;
            // multiline-ellipsis for webkit only
            display: -webkit-box;
            -webkit-line-clamp: $collection-browser__grid-tile-label--line-clamp;
            -webkit-box-orient: vertical;
        }

        //narrow-tile
        &.yw-grid-view-tile-narrow {
            &:before {
                bottom: $collection-browser__grid-tile-narrow-image-part--bottom;    
            }
            .yw-grid-view-tile-thumbnail {
                max-height: $collection-browser__grid-tile-narrow-image--max-height;
            }
            .z-label {
                bottom: $collection-browser__grid-tile-narrow-label--bottom;
            }
            .bottom-panel {
                padding: $collection-browser__grid-tile--padding;
                bottom: $collection-browser__grid-tile--padding-value;
                width: 100%;
                position: absolute; 
                text-align: left;
                
                &-container{
                    display: inline-block;

                    > .z-span {
                        display: inline;
                    }
                }
            }
        }
    }
}

// Fix for status-bar miss-positioning in grid-view layout
// - only valid for IE9+ FF3.5+, Chrome4+, Safari3.2+, Opera10.1+
.yw-com_hybris_cockpitng_collectionBrowser > .z-vlayout > .z-vlayout-inner:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.y-statusbar {
    z-index: 100;
}

@media screen and (max-width: ($collection-browser__grid-tile--width * 2 + $collection-browser__grid--padding-x * 4 + $collection-browser__grid-collapse-addition--space )) {
    @include _single-row-tile();
}
