<style>
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
</style>
<div id='test-div'>

    <h2>Test page for yPopupOverlay</h2>

    <div>
        <h3>Anchor</h3>
        <div>
            <label>Anchor bg color</label>
            <input type="color"
                data-ng-model="controller.anchorCssData['background-color']"
                data-ng-change="controller.updateAnchor()">
        </div>
        <div>
            <label>Top</label>
            <input type="number"
                data-ng-model="controller.anchorCssData.top"
                data-ng-change="controller.updateAnchor()">
        </div>
        <div>
            <label>Left</label>
            <input type="number"
                data-ng-model="controller.anchorCssData.left"
                data-ng-change="controller.updateAnchor()">
        </div>
        <div>
            <label>Width</label>
            <input type="number"
                data-ng-model="controller.anchorCssData.width"
                data-ng-change="controller.updateAnchor()">
        </div>
        <div>
            <label>Height</label>
            <input type="number"
                data-ng-model="controller.anchorCssData.height"
                data-ng-change="controller.updateAnchor()">
        </div>

        <h3>Popup</h3>
        <div>
            <label>Horizontal Alignment (left, right)</label>
            <input id="popup-halign"
                type="text"
                data-ng-model="controller.popupConfig.halign">
        </div>
        <label>Vertical Alignment (top, bottom)</label>
        <input id="popup-valign"
            type="text"
            data-ng-model="controller.popupConfig.valign">
        <div>
            <label>Trigger (click, true, false)</label>
            <input type="text"
                id="popup-trigger"
                data-ng-model="controller.popupTrigger">
        </div>
    </div>

    <div>
        On Show count:
        <input type="text"
            data-ng-disabled="true"
            id="show-count"
            data-ng-model="controller.onShowCount">
    </div>
    <div>
        On Hide count:
        <input type="text"
            data-ng-disabled="true"
            id="hide-count"
            data-ng-model="controller.onHideCount">
    </div>

</div>

<anchor y-popup-overlay="controller.popupConfig"
    y-popup-overlay-trigger="{{ controller.popupTrigger }}"
    y-popup-overlay-on-show="controller.onShowCount = controller.onShowCount + 1"
    y-popup-overlay-on-hide="controller.onHideCount = controller.onHideCount + 1"></anchor>