/* *
/* This file is the parent of all the styles and the only variable converted to css and visible to the outside world.
/* All the imports should go here only
*/
/* *
/* Imports of Techne components, patterns not used in SmartEdit
*/
/* BTN SETS */
.y-tree {
  color: #27394f;
}
.y-tree * {
  transition: all .25s ease;
}
.y-tree .row {
  margin-left: 0;
  margin-right: 0;
}
.y-tree .desktop-layout {
  border: 1px solid #e0e9f0;
  margin-top: -1px;
  padding: 20px 15px 10px 15px;
}
.y-tree .desktop-layout:hover {
  background-color: #d2dbe6;
}
.y-tree .mobile-layout {
  border: 1px solid #e0e9f0;
  margin-top: -1px;
  padding: 15px;
  position: relative;
}
.y-tree .mobile-layout:hover {
  background-color: #d2dbe6;
}
.y-tree .mobile-layout .tree-head {
  padding: inherit;
  background: inherit;
}
.y-tree .mobile-layout .mobile-data {
  padding-bottom: 20px;
}
.y-tree .mobile-layout .mobile-more-menu {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}
.y-tree .tree-head {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7f90a4;
  background: 0 0;
  background-color: transparent;
  padding: 50px 15px 15px 15px;
}
.y-tree .primaryData {
  font-weight: 600;
  color: #27394f;
}
.y-tree .inactive-level {
  background-color: #f3f6f9;
}
.y-tree .active-level .desktop-layout,
.y-tree .active-level .mobile-layout {
  background-color: #ffffff;
}
.y-tree .active-level .desktop-layout:hover,
.y-tree .active-level .mobile-layout:hover {
  background-color: #d2dbe6;
}
.y-tree .active-level--last {
  margin-bottom: 12px;
}
.y-tree .category-toggle,
.y-tree .dropdown-toggle {
  padding: 0;
}
.y-tree .category-toggle {
  margin: -5px 0 0 -10px;
}
.y-tree .hyicon-chevron:before {
  font-size: 30px;
  transition: all 0.25s ease;
}
.y-tree .category-toggle[aria-expanded=true] .hyicon-chevron:before {
  transform: rotate(90deg);
}
/* *
/* Imports of personalization variables, common styles, fixes and re-usable components
*/
/* *
/* This file will include all the constants (e.g. colors, fonts, etc)
*/
/** Colors
/* all the colors used - write them once in this section so we can easier keep track and re-use
*/
/* *
/* This file includes the common styles used in Personalization
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
/* new: the active status is now called enabled
 /* the inactive status is now called disabled 
 */
.status-active {
  color: green;
}
.status-ignore,
.status-inactive {
  color: #8592a2;
}
.select2-highlighted .status-active,
.select2-highlighted .status-inactive,
.select2-highlighted .status-ignore {
  color: #ffffff;
}
.perso__scrollzone {
  position: fixed;
  z-index: 10000;
  left: 0;
  width: 100%;
  height: 10%;
}
.perso__scrollzone--normal {
  background-color: #f3f6f9;
}
.perso__scrollzone--transparent {
  background-color: transparent;
}
.perso__scrollzone--top {
  top: 0;
}
.perso__scrollzone--bottom {
  bottom: 0;
}
.perso__datetimepicker--error-border {
  border: 2px solid red;
}
.perso__datetimepicker--warning-border {
  border: 2px solid #fd621f;
}
.perso__datetimepicker--error-text {
  color: red;
}
.col-reset-padding {
  padding-left: 0;
  padding-right: 0;
}
.perso-list__status--value,
.perso-cc-modal__title-status,
.perso-library__status-value {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
.perso-list__dates-layout,
.perso-library__dates-value {
  font-size: 12px;
}
.perso__filter-layout .ui-select-container {
  width: 100%;
  text-align: left;
}
.perso-list__primary-data,
.perso-library__primary-data {
  font-weight: 600;
}
.personalization-modal__label {
  font-size: 13px;
  font-weight: 700;
}
.customization__marker,
.commerce-customization__marker--icon,
.perso-library__cc-marker,
.perso-library__cc-icon {
  width: 30px;
  height: 30px;
  top: -5px;
  background-color: transparent;
  display: inline-block;
  margin-left: -8px;
}
.commerce-customization__marker--icon,
.perso-library__cc-icon {
  background-image: url("../icons/promotion_off.png");
  background-repeat: no-repeat;
}
.perso-wrap-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.perso__scrollbar--hidden {
  -ms-overflow-style: none;
}
.perso__scrollbar--hidden::-webkit-scrollbar {
  display: none;
}
.sliderPanelParentModal input.form-control,
.sliderPanelParentModal textarea.form-control {
  border-radius: 0;
}
.perso-library__back-to-top-button .back-to-top {
  font-size: 35px;
  color: #7f90a4;
  cursor: pointer;
}
.perso-library__back-to-top-button .back-to-top:hover {
  color: #4f86e3;
}
.perso-library__back-to-top-button:hover {
  text-decoration: none;
}
/* *
* Let's put here all the css hacks and document what we fixed
* From time to time (every release?) would be nice to come back to this file and try to clean it up
* Don't feel bad from the name, it is a common practice ;)
* More here: https://csswizardry.com/2013/04/shame-css/
*/
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .perso-tree__segments-layout .angular-ui-tree-placeholder {
    margin: 0;
  }
}
.h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", sans-serif;
}
.pe-combined-view-menu__category-table__item-icon {
  max-width: 44px;
}
/* * 
/* Imports of the rest of personalization styling
*/
.personalizationsmarteditVariationComponentSelected-icon {
  background-image: url("../icons/selected_component.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.personalizationsmarteditVariationComponentSelected {
  border: 5px;
  border-style: solid;
  border-color: #0486e0;
}
.modal-fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal-fullscreen .modal-header .close {
  margin-right: 20px;
}
.modal-fullscreen > .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: #e0e9f0;
}
.modal_bigger {
  font-size: 15px;
}
.modal_bigger .modal-body {
  min-height: 600px;
}
.personalization-ctx__icon:before {
  vertical-align: inherit;
}
.personalization-ctx__icon:hover {
  background: #ffffff;
  color: #00c6ff;
}
/* *
/* This file includes the styles used in Combined View Panel and Modal
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
.pe-combined-view-menu__enable-label {
  height: inherit;
}
.pe-combined-view-menu__wrapper {
  text-align: center;
  font-size: 15px;
  word-wrap: break-word;
  max-height: 55vh;
  overflow-x: hidden;
}
.pe-combined-view-menu__configure-layout {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px 15px 25px;
}
.pe-combined-view-menu__category-table {
  margin: 0 auto 0.5em auto;
  color: #27394f;
}
.pe-combined-view-menu__configure-btn {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
.combinedview-divider {
  border-top: 1px solid #d4d7dc;
}
.pe-combined-view-menu__category-table__item {
  font-size: 15px;
  margin-left: 0;
  margin-right: 0;
  padding: 15px 25px;
  border-bottom: 1px solid #d4d7dc;
  display: flex;
  justify-content: flex-start;
}
.pe-combined-view-menu__category-table__item:hover {
  background-color: #d2dbe6;
}
.combinedview-list-item--last {
  border-bottom: none;
}
.combinedview-variation-layout {
  font-weight: 600;
}
.combinedview-inactive-layout {
  opacity: 0.5;
}
.pe-combined-view-menu__list-item--highlighted {
  background-color: #82aedb;
  color: #ffffff;
}
.pe-combined-view-menu__list-item--highlighted:hover {
  background-color: #82aedb;
}
.pe-combined-view-menu__category-table__item-name {
  text-align: left;
  padding-left: 20px;
  max-width: calc(100% - 92px);
}
.pe-combined-view-menu__hyicon-checkedlg {
  font-size: 24px;
  flex: 1 10%;
  align-self: center;
}
.pe-combined-view-menu__hyicon-checkedlg:before {
  float: right;
}
/* *
/* This file includes the styles used in Create New Customization modal
*/
.customization-form .form-group-dates {
  margin-bottom: 5px;
}
.customization-form .form-group {
  margin-bottom: 30px;
}
.customization-form .description-area {
  resize: none;
}
.customization-form .status-toggle {
  padding-right: 0;
}
.customization-form .status-toggle label {
  height: inherit;
  padding-bottom: 30px;
}
.customization-form .text-muted {
  font-size: 13px;
  font-style: italic;
}
.customization-form .select2-choices {
  margin-top: 15px;
}
.customization-form .ui-select-match-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}
.customization-form .ui-select-match-item.select2-search-choice {
  background: #caddf0;
  border-style: none;
  line-height: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
.customization-form .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.customization-form .ui-select-match-close {
  position: inherit;
  vertical-align: top;
  padding-left: 10px;
}
.customization-form .targetgroup-list__title {
  font-weight: 600;
}
.customization-form .perso-sliderpanel__expression-text {
  font-weight: 700;
}
@media (max-width: 768px) {
  .customization-form .commerce-customization-ui-select-sm {
    width: 250px;
  }
}
@media (max-width: 768px) {
  .navtab-info--dates {
    padding-left: 1%;
  }
}
.customization-form__title-header {
  display: flex;
  justify-content: space-between;
}
.customization-form__title-header-name,
.customization-form__title-header-badge {
  display: inline-block;
}
.customization-form__title-header-badge {
  margin-right: 0;
}
.customization-form {
  word-wrap: break-word;
  color: #27394f;
}
.customization-form__title-header-name {
  font-size: 16px;
  font-weight: 700;
  width: calc(100% - 100px);
}
.customization-form__title-dates {
  font-size: 11px;
  text-align: end;
}
.customization-form__title {
  padding-bottom: 10px;
  border-bottom: 1px solid #d4d7dc;
}
.hyicon-msgwarning--dates {
  color: #fbbb21;
  font-size: 11px;
}
.customization-form__navtab-forms--add-btn {
  padding: 20px 0;
  border-bottom: 1px solid #d4d7dc;
}
.customization-form__list-group__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d4d7dc;
  padding: 20px 0 20px 20px;
}
.customization-form__list-group__item:hover {
  background-color: #d2dbe6;
}
.customization-form__navtab-forms__list-group {
  list-style-type: none;
  padding: 0;
}
.customization-form__variation-data,
.customization-form__variation-menu {
  display: inline-block;
}
.customization-form__variation-menu {
  width: 65px;
}
.customization-form__variation-data {
  width: calc(100% - 65px);
}
.customization-form__list-group {
  list-style-type: none;
  padding: 0;
}
.navtab-row__item__variation {
  font-weight: bold;
  text-transform: uppercase;
  color: #0486e0;
  padding-right: 5px;
}
.variation-layout--selected {
  color: #8592a2;
}
.variation-layout--selected .status-active,
.variation-layout--selected .status-inactive,
.variation-layout--selected .status-ignore {
  color: #8592a2;
}
.help-inline--tooltip:hover .hyicon-msgwarning--dates:before {
  content: "\e036";
}
.hyicon-msgwarning--dates.help-icon-inline:before {
  font-size: 13px;
  color: #fbbb21;
  margin: 0;
}
.help-inline--tooltip .help-block-inline--text {
  right: -17px;
  top: 20px;
}
.help-inline .hyicon.hyicon-msgwarning--dates {
  font-size: 13px;
}
/* *
/* This file includes the styles used in Create New Customization modal, sliding panel
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
.customization-form__sliderpanel .form-group {
  margin-bottom: 30px;
}
.customization-form__sliderpanel .row {
  margin-left: 0;
  margin-right: 0;
}
.customization-form__sliderpanel .select2-choices {
  margin-top: 15px;
}
.customization-form__sliderpanel .ui-select-match-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}
.customization-form__sliderpanel .ui-select-match-item.select2-search-choice {
  background: #caddf0;
  border-style: none;
  line-height: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
.customization-form__sliderpanel .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.customization-form__sliderpanel .ui-select-match-close {
  position: inherit;
  vertical-align: top;
  padding-left: 10px;
}
.sliderpanel-body {
  overflow: auto;
}
.sliderpanel-footer {
  padding-top: 15px;
}
.perso-sliderpanel__btn-link {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  padding: 0;
}
.perso-sliderpanel__expression-text {
  font-weight: 700;
}
.sliderpanel-row {
  margin-left: 0;
  margin-right: 0;
}
.sliderpanel-col {
  padding-left: 0;
}
.sliderPanelParentModal.modal-fullscreen #y-modal-dialog {
  height: 100vh;
}
/* *
/* This file includes the styles used Customize Component Modal
/* (which can accessed on hovering over components either from the combined view or customize panel view)
*/
.perso-customize-component {
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 15px;
}
.perso-customize-component__select2-container {
  margin-bottom: 20px;
  display: block;
}
.perso-customize-component__select2-container .select2-result-label {
  font-weight: 700;
}
.perso-customize-component__title-layout__letter-block {
  padding-right: 20px;
  display: inline-block;
}
.perso-customize-component__title-layout {
  display: flex;
  justify-content: flex-start;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 16px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d4d7dc;
}
.perso-customize-component__title-layout__cust-name {
  font-weight: 700;
  min-width: 0;
  display: inline-block;
  padding-right: 2px;
  padding-top: 10px;
}
.perso-customize-component__title-layout__target-group-name {
  min-width: 0;
  display: inline-block;
  padding-left: 2px;
  padding-top: 10px;
}
.perso-customize-component__data-list {
  padding-top: 20px;
}
/* *
/* This file includes the styles used in Commerce Customization modal
*/
.perso-cc-modal {
  color: #27394f;
}
.perso-cc-modal .select2-choices {
  margin-top: 15px;
}
.perso-cc-modal .ui-select-match-item {
  padding: 10px 20px;
  display: inline-block;
}
.perso-cc-modal .ui-select-match-item.select2-search-choice {
  background: #caddf0;
  border-style: none;
  line-height: 22px;
  margin: 5px 10px 5px 0;
}
.perso-cc-modal .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.perso-cc-modal .ui-select-match-close {
  position: inherit;
  vertical-align: top;
  padding-left: 10px;
}
.perso-cc-modal__title-layout {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #d4d7dc;
}
.perso-cc-modal__title-cname {
  font-weight: 700;
  padding-left: 5px;
}
.perso-cc-modal__title-vname {
  padding-left: 5px;
}
.perso-cc-modal__title-status {
  padding: 0 5px;
  align-self: center;
}
.perso-cc-modal__content-layout {
  margin: 30px 0;
}
@media (max-width: 768px) {
  .perso-cc-modal__ui-select--small {
    width: 250px;
  }
}
/* *
/* This file includes the styles used in Manage Customization Library modal
*/
.perso-library {
  font-size: 16px;
}
.perso-library .modal-header h4 {
  text-align: center;
  margin: 0 auto 0 auto;
}
.perso-library .modal-header {
  border: none;
  padding-right: 0;
}
.perso-library .modal-body {
  padding-top: 0;
}
.perso-library .hyicon {
  font-family: inherit;
}
.perso-library .category-toggle {
  margin: 0;
}
.perso-library .ySEPanelSpinner {
  display: block;
  text-align: center;
}
.perso-library__y-tree {
  word-wrap: break-word;
}
.perso-library__y-tree * {
  transition: none;
}
.perso-library__y-tree .mobile-more-menu {
  padding-top: 10px;
}
.perso-library__y-tree .angular-ui-tree-handle {
  color: #27394f;
  min-height: inherit;
}
.perso-library__y-tree .angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 0;
}
.y-tree__mobile-layout__header {
  font-size: 12px;
  font-weight: 700;
}
.y-tree-header--fixed {
  position: fixed;
  top: 80px;
  width: 94%;
  z-index: 999;
  background-color: #e0e9f0;
}
.perso-library__header {
  color: #8592a2;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  padding-top: 0;
}
.perso-library__add-button {
  margin-top: 15px;
}
.perso-library__add-button .hyicon:before {
  padding-right: 5px;
}
.perso-library__hyicon-more:before {
  vertical-align: top;
}
.perso-library__search {
  margin: 2em auto .5em auto;
  color: #27394f;
}
.perso-library__search .form-control {
  padding-left: 5px;
  padding-bottom: 12px;
  font-size: 15px;
  border-left: none;
  box-shadow: none;
  border-right: none;
}
.perso-library__search-input:focus {
  border-bottom: 1px solid #d4d7dc;
  border-top: 1px solid #d4d7dc;
}
.perso-library__search-icon {
  border-right: none;
  border-radius: 0;
  top: 0;
  background-color: #ffffff;
  font-size: 30px;
  padding: 0 0 4px 6px;
}
.perso-library__search-results {
  text-align: center;
  color: #8592a2;
  font-style: italic;
}
.perso-library__search-results--fixed {
  position: fixed;
  top: 90px;
  width: 95%;
  margin: 0 auto .5em auto;
  text-align: center;
  color: #8592a2;
  font-style: italic;
  z-index: 1000;
  background-color: #e0e9f0;
}
.perso-library__scroll-zone {
  height: 90vh;
  overflow-y: scroll;
}
.perso-library__back-to-top-button {
  position: absolute;
  bottom: 30px;
  right: 15px;
}
.perso-library__dates-layout {
  min-height: 20px;
}
.y-tree-row__angular-ui-tree-handle {
  color: #27394f;
  border: none;
  min-height: inherit;
  font-weight: 400;
  padding-left: 20px;
}
.perso-library__angular-ui-tree-drag {
  font-size: 16px;
  font-weight: inherit;
  color: #27394f;
  margin: 0;
  background-color: #ffffff;
}
.perso-library__angular-ui-tree-drag .dropdown-toggle,
.perso-library__angular-ui-tree-drag .category-toggle {
  padding-top: 0;
  padding-bottom: 0;
}
.perso-library__angular-ui-tree-drag .desktop-layout {
  padding: 20px 15px 10px 15px;
  border: 1px solid #e0e9f0;
  margin-top: -1px;
}
.perso-library__angular-ui-tree-drag .perso-library__cc-icon {
  margin-left: 0;
}
.perso-library__angular-ui-tree-drag .perso-library__primary-data {
  font-weight: 600;
}
@media (min-width: 992px) {
  .perso-library__status-header {
    padding-left: 20%;
  }
}
@media (min-width: 1200px) {
  .perso-library__status-header {
    padding-left: 15%;
  }
}
@media (min-width: 2200px) {
  .perso-library__status-layout {
    padding-left: 10%;
  }
}
@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .perso-library__scroll-zone {
    height: 65vh;
  }
}
@media (min--moz-device-pixel-ratio: 0) {
  .perso__scrollbar--hidden {
    overflow-y: auto;
  }
  .perso-library__scroll-zone {
    height: 80vh;
  }
}
.perso-panel {
  font-size: 15px;
  word-wrap: break-word;
}
.perso-panel .perso__filter-layout--no-results {
  min-height: 150px;
}
.perso-panel .categoryTable {
  color: #27394f;
}
.perso-panel .lefttoolbar--glyphicon-chevron {
  top: 10px;
}
.perso-panel .hyicon {
  font-family: inherit;
}
.perso-panel .y-add-btn .hyicon:before {
  padding-right: 5px;
}
.perso-panel .hyicon-lefttoolbar {
  font-size: 24px;
}
.perso-panel .search-item-lefttoolbar {
  width: 102%;
  height: 100%;
  padding: 15px;
  background: #f3f6f9;
  box-shadow: 0 2px 3px rgba(138, 143, 161, 0.2);
}
.perso-panel .search-item-lefttoolbar .select2-search-field input {
  padding-left: 5px;
}
.perso-panel .search-item-lefttoolbar .select2-search-field::before {
  font-weight: 400;
  font-family: hyicon;
  content: "\e00f";
  padding-left: 10px;
  vertical-align: middle;
  font-size: 18px;
}
.perso-panel .search-item-lefttoolbar .perso-list__status--value {
  font-size: 11px;
}
.perso-panel .row-lefttoolbar {
  margin-left: 0;
  padding: 15px;
  padding-right: 25px;
  border-bottom: 1px solid #d4d7dc;
}
.perso-panel .row-lefttoolbar:hover {
  background-color: #d2dbe6;
}
.perso-panel .perso__filter-layout {
  margin-left: 0;
  padding: 15px;
  border-bottom: 1px solid #d4d7dc;
}
.perso-panel .row-lefttoolbar.perso__filter-layout.perso__filter-layout--no-results,
.perso-panel .row-lefttoolbar.customization--last {
  border-bottom: none;
}
.perso-panel .customization--last {
  padding-bottom: 30px;
}
.perso-panel .category-toggle {
  margin: 0;
}
.perso-panel .col-lefttoolbar-glyphicon {
  padding-right: 15px;
}
.perso-panel .col-lefttoolbar-hyicon {
  padding-left: 0;
}
.perso-panel .dropdown-menu-leftoolbar {
  margin-right: -5px;
  min-width: 100px;
}
.perso-panel .overflow-wrapper-lefttoolbar {
  max-height: 55vh;
  overflow-x: hidden;
}
.perso-panel .dropdown-menu-single-item {
  margin-top: -5px;
  margin-bottom: -5px;
  padding: 10px 16px;
}
.perso-panel .selectedVariation {
  background-color: #82aedb;
  color: #ffffff;
}
.perso-panel .selectedVariation:hover {
  background-color: #82aedb;
}
.perso-panel .selectedVariation .status-active,
.perso-panel .selectedVariation .status-inactive,
.perso-panel .selectedVariation .status-ignore {
  color: #ffffff;
}
.perso-panel .selectedVariation .commerce-customization__marker--icon {
  background-image: url("../icons/promotion_on.png");
}
.perso-panel__hyicon-checkedlg {
  font-size: 24px;
}
.select2-highlighted .status-active,
.select2-highlighted .status-inactive,
.select2-highlighted .status-ignore {
  color: #ffffff;
}
.se-toolbar-menu-content--pe-customized {
  max-width: 370px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  top: inherit;
  overflow-y: hidden;
}
.se-toolbar-menu-content--pe-customized__item {
  padding: 30px 0 30px 25px;
  overflow: hidden;
  border-top: 1px solid #d4d7dc;
}
.se-toolbar-menu-content--pe-customized__item__link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
}
.se-toolbar-menu-content--pe-customized__item__link:hover,
.se-toolbar-menu-content--pe-customized__item__link:focus {
  background: none;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
}
.se-toolbar-menu-content--pe-customized__headers {
  color: #ffffff;
  background-color: #32a0ec;
  padding-left: 25px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.se-toolbar-menu-content--pe-customized__headers--small {
  font-style: italic;
}
.se-toolbar-menu-content--pe-customized__headers--h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.personalizationsmarteditComponentSelected,
.personalizationsmarteditComponentSelected0,
.personalizationsmarteditComponentSelected1,
.personalizationsmarteditComponentSelected2,
.personalizationsmarteditComponentSelected3,
.personalizationsmarteditComponentSelected4,
.personalizationsmarteditComponentSelected5,
.personalizationsmarteditComponentSelected6,
.personalizationsmarteditComponentSelected7,
.personalizationsmarteditComponentSelected8,
.personalizationsmarteditComponentSelected9,
.personalizationsmarteditComponentSelected10,
.personalizationsmarteditComponentSelected11,
.personalizationsmarteditComponentSelected12,
.personalizationsmarteditComponentSelected13,
.personalizationsmarteditComponentSelected14 {
  border: 5px;
  border-style: solid;
  border-color: #0486e0;
}
.personalizationsmarteditComponentSelectedList,
.personalizationsmarteditComponentSelectedList0,
.personalizationsmarteditComponentSelectedList1,
.personalizationsmarteditComponentSelectedList2,
.personalizationsmarteditComponentSelectedList3,
.personalizationsmarteditComponentSelectedList4,
.personalizationsmarteditComponentSelectedList5,
.personalizationsmarteditComponentSelectedList6,
.personalizationsmarteditComponentSelectedList7,
.personalizationsmarteditComponentSelectedList8,
.personalizationsmarteditComponentSelectedList9,
.personalizationsmarteditComponentSelectedList10,
.personalizationsmarteditComponentSelectedList11,
.personalizationsmarteditComponentSelectedList12,
.personalizationsmarteditComponentSelectedList13,
.personalizationsmarteditComponentSelectedList14 {
  color: #ffffff;
  width: 44px;
  height: 44px;
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  display: inline-block;
}
.personalizationsmarteditComponentSelected0 {
  border-color: #0486e0;
}
.personalizationsmarteditComponentSelected1 {
  border-color: #9dc75b;
}
.personalizationsmarteditComponentSelected2 {
  border-color: #fd621f;
}
.personalizationsmarteditComponentSelected3 {
  border-color: #b831b4;
}
.personalizationsmarteditComponentSelected4 {
  border-color: #faba0d;
}
.personalizationsmarteditComponentSelected5 {
  border-color: #1ec8df;
}
.personalizationsmarteditComponentSelected6 {
  border-color: #de356b;
}
.personalizationsmarteditComponentSelected7 {
  border-color: #1f4d70;
}
.personalizationsmarteditComponentSelected8 {
  border-color: rgba(31, 77, 112, 0.9);
}
.personalizationsmarteditComponentSelected9 {
  border-color: rgba(31, 77, 112, 0.8);
}
.personalizationsmarteditComponentSelected10 {
  border-color: rgba(31, 77, 112, 0.7);
}
.personalizationsmarteditComponentSelected11 {
  border-color: rgba(31, 77, 112, 0.6);
}
.personalizationsmarteditComponentSelected12 {
  border-color: rgba(31, 77, 112, 0.5);
}
.personalizationsmarteditComponentSelected13 {
  border-color: rgba(31, 77, 112, 0.4);
}
.personalizationsmarteditComponentSelected14 {
  border-color: rgba(31, 77, 112, 0.3);
}
.personalizationsmarteditComponentSelectedList0 {
  background: #0486e0;
}
.personalizationsmarteditComponentSelectedList1 {
  background: #9dc75b;
}
.personalizationsmarteditComponentSelectedList2 {
  background: #fd621f;
}
.personalizationsmarteditComponentSelectedList3 {
  background: #b831b4;
}
.personalizationsmarteditComponentSelectedList4 {
  background: #faba0d;
}
.personalizationsmarteditComponentSelectedList5 {
  background: #1ec8df;
}
.personalizationsmarteditComponentSelectedList6 {
  background: #de356b;
}
.personalizationsmarteditComponentSelectedList7 {
  background: #1f4d70;
}
.personalizationsmarteditComponentSelectedList8 {
  background: rgba(31, 77, 112, 0.9);
}
.personalizationsmarteditComponentSelectedList9 {
  background: rgba(31, 77, 112, 0.8);
}
.personalizationsmarteditComponentSelectedList10 {
  background: rgba(31, 77, 112, 0.7);
}
.personalizationsmarteditComponentSelectedList11 {
  background: rgba(31, 77, 112, 0.6);
}
.personalizationsmarteditComponentSelectedList12 {
  background: rgba(31, 77, 112, 0.5);
}
.personalizationsmarteditComponentSelectedList13 {
  background: rgba(31, 77, 112, 0.4);
}
.personalizationsmarteditComponentSelectedList14 {
  background: rgba(31, 77, 112, 0.3);
}
.perso-tree__segments-layout {
  background-color: #f3f6f9;
  border-left: 20px solid #c4cedc;
  border-top: 1px solid #c4cedc;
  border-right: 1px solid #c4cedc;
  border-bottom: 1px solid #c4cedc;
  margin-bottom: 10px;
  padding-right: 10px;
}
.perso-tree__collapsed-container {
  border-left-color: #5f7084;
}
.perso-tree__empty-container .angular-ui-tree-placeholder {
  display: none;
}
.perso-tree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.perso-tree__btn {
  padding-right: 10px;
}
.perso-tree__container {
  padding: 10px 0;
}
.perso-tree__empty-container-node {
  background-color: #ffffff;
  border: 1px dashed #c4cedc;
  color: #c4cedc;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.perso-tree__empty-container-node--text {
  margin: auto;
}
.perso-tree__node--icon {
  font-size: 13px;
  padding-left: 5px;
}
.perso-tree__container--btn-icon {
  font-size: 13px;
  padding-right: 10px;
  padding-left: 0;
}
.perso-tree__node {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #c4cedc;
}
.perso-tree__node .angular-ui-tree-placeholder {
  margin: 0;
}
.perso-tree__container .angular-ui-tree-placeholder {
  margin: 0;
}
.perso-tree__node--content,
.perso-tree__node--content:hover {
  background-color: #ffffff;
  color: inherit;
  font-weight: 400;
  border: none;
  flex: 2 2 auto;
}
.perso-tree__node:hover .perso-tree__actions,
.perso-tree__container:hover .perso-tree__actions {
  visibility: visible;
}
.perso-tree__actions {
  display: inline-block;
  visibility: hidden;
}
.perso-tree__actions:hover {
  text-decoration: none;
}
.perso-tree__toggle {
  display: inline-block;
}
.perso-tree__dropdown {
  display: inline-block;
  margin-left: -10px;
}
.perso-tree__glyphicon {
  left: -17px;
  position: relative;
  color: #ffffff;
}
.perso-tree__glyphicon:hover {
  opacity: 0.8;
}
.perso-tree__angular-ui-tree-handle--empty {
  flex: 2 2 auto;
  border: none;
  background-color: transparent;
}
.angular-ui-tree-nodes .angular-ui-tree-nodes {
  padding-left: 10px;
}
@media (max-width: 600px) {
  .perso-tree__container {
    flex-direction: column;
  }
}
.angular-ui-tree-placeholder {
  margin: 10px;
  padding: 0;
  min-height: 30px;
}
.angular-ui-tree-drag .tree-node-content {
  margin-top: 0;
}
.angular-ui-tree-drag {
  color: #27394f;
  font-size: 15px;
}
.has-error .pe-datetime-range__picker {
  border-color: red;
}
.has-warning .pe-datetime-range__picker {
  border-color: #fbbb21;
}
.pe-datetime__msg {
  font-size: 13px;
}
.pe-datetime__warning-msg {
  font-style: italic;
}
.pe-date-field {
  width: 100%;
}
.pe-date-field__input {
  box-shadow: none;
  border-right: none;
}
.pe-date-field__input.pe-input--is-disabled {
  border-right: 1px solid #d4d7dc;
  border-radius: 0;
}
.pe-date-field__input + .bootstrap-datetimepicker-widget {
  background-color: #ffffff;
  color: #000000;
  color: initial;
}
.pe-datetime-range__picker__icon {
  font-size: 1.1em;
}
.pe-datetime-range__picker {
  box-shadow: none;
  background-color: #ffffff;
  color: #32a0ec;
  border-bottom: 1px solid #d4d7dc;
  border-top: 1px solid #d4d7dc;
  margin-top: 0;
  border-radius: 0;
}
.pe-toolbar-action {
  box-shadow: none;
}
.pe-toolbar-action.open .pe-toolbar-action--button--txt {
  color: #ffffff;
}
.pe-toolbar-action--button {
  padding: 5px 5px 4px 5px;
  min-width: 104px;
  border-top: 1px transparent;
  border-bottom: 1px transparent;
  border-right: 1;
}
.open .dropdown-toggle.pe-toolbar-action--button {
  box-shadow: none;
}
.pe-toolbar-action--button:hover,
.pe-toolbar-action--button:focus,
.pe-toolbar-action--button:active,
.pe-toolbar-action--button:hover:active,
.pe-toolbar-action--button,
.pe-toolbar-item-context__btn:hover,
.pe-toolbar-item-context__btn:focus,
.pe-toolbar-item-context__btn:active {
  border-right: 1px solid rgba(4, 134, 224, 0.35);
  background-color: #e5f1f9;
  color: #0486e0;
  box-shadow: none;
  outline: none;
  outline-offset: 0;
}
.pe-toolbar-action--include {
  background-color: #ffffff;
  border: none;
  width: auto;
  margin: 0;
  padding: 0;
}
.pe-toolbar-action.open .pe-toolbar-action--button {
  background-color: #32a0ec;
  opacity: 1;
}
.pe-toolbar-action.open .pe-toolbar-action--button:hover,
.pe-toolbar-action.open .pe-toolbar-action--button:active,
.pe-toolbar-action.open .pe-toolbar-action--button:focus {
  background-color: #32a0ec;
  color: #ffffff;
  opacity: 1;
  border-right: none;
}
.pe-toolbar-action--button:hover,
.pe-toolbar-action--button:active,
.pe-toolbar-action--button:focus {
  opacity: 0.6;
}
.pe-toolbar-action.open .pe-toolbar-action--button {
  border-top: 1px transparent;
  border-bottom: 1px transparent;
  border-right: none;
}
.pe-toolbar-menu-ddlb--button__icon {
  font-size: 37px;
}
.pe-toolbar-menu-ddlb--button__icon:before {
  display: block;
}
.pe-toolbar-menu-content {
  margin: 0;
  border: none;
  padding: 0;
  width: 780px;
  cursor: initial;
}
.pe-toolbar-action--button--txt {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 5px;
}
.pe-toolbar-item-context__btn,
.pe-toolbar-item-context__btn--hyicon,
.pe-toolbar-item-context__btn--hyicon:hover,
.pe-toolbar-item-context__btn--hyicon:active,
.pe-toolbar-item-context__btn--hyicon:active:hover {
  background-color: #e5f1f9;
  color: #0486e0;
  box-shadow: none;
}
.pe-toolbar-item-context {
  border-right: 1px solid rgba(4, 134, 224, 0.35);
}
.pe-toolbar-item-context {
  display: inline-block;
  background-color: #e5f1f9;
}
.pe-toolbar-item-context .hyicon {
  font-size: 20px;
  padding-top: 2px;
  padding-left: 0;
}
.pe-toolbar-item-context .hyicon:hover {
  opacity: 0.6;
}
.pe-toolbar-item-context__btn--hyicon {
  min-width: 30px;
  padding: 5px 5px 4px 5px;
}
.pe-toolbar-item-context__btn,
.pe-toolbar-item-context__btn:hover,
.pe-toolbar-item-context__btn:active,
.pe-toolbar-item-context__btn:hover:active,
.pe-toolbar-item-context__btn:focus {
  border-right: 0 none;
  margin-right: -3px;
  background: url("../icons/toolbar-context-border.png") no-repeat;
  cursor: default;
  opacity: 1;
  padding: 5px 5px 4px 5px;
}
.pe-toolbar-item-context__btn--txt {
  height: 51px;
  padding-top: 7px;
  padding-left: 15px;
  text-transform: capitalize;
  font-size: 13px;
  margin-top: 5px;
}
.pe-combined-view-menu.open .pe-toolbar-item-context,
.pe-combined-view-menu.open .pe-toolbar-item-context__btn,
.pe-combined-view-menu.open .pe-toolbar-item-context__btn--hyicon {
  background-color: #32a0ec;
  color: #ffffff;
}
.pe-combined-view-menu.open .pe-toolbar-action--button,
.pe-toolbar-action-customize--button-with-context,
.pe-toolbar-action-customize--button-with-context:hover,
.pe-toolbar-action-customize--button-with-context:active,
.pe-toolbar-action-customize--button-with-context:focus,
.pe-toolbar-action-combined-view--button-with-context,
.pe-toolbar-action-combined-view--button-with-context:hover,
.pe-toolbar-action-combined-view--button-with-context:active,
.pe-toolbar-action-combined-view--button-with-context:focus {
  border-right: none;
}
/* *
/* This file includes the styles used in Combined View Ranking
*/
.pe-combinedview-ranking__help-text {
  padding: 20px 0;
}
.pe-combinedview-ranking__divider {
  border-top: 1px solid #d4d7dc;
}
.pe-combinedview-ranking__list-layout {
  border: 1px solid #d4d7dc;
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
}
.pe-combinedview-ranking__names-layout {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex: 1;
  min-width: 0;
}
.pe-combinedview-ranking__cname {
  font-weight: 700;
  flex: 5;
  padding-right: 10px;
}
.pe-combinedview-ranking__vname {
  padding: 0 10px;
  flex: 7;
}
/* *
/* This file includes the styles used in Combined View Ranking
*/
.pe-combinedview-config__ui-select-layout {
  margin: 20px 0 40px 0;
}
.pe-combinedview-config__ui-select-layout .select2-disabled {
  opacity: 0.4;
  background: none;
  cursor: none;
}
.pe-combinedview-config__ui-select-placeholder {
  font-size: 15px;
  color: #8a8fa1;
}
.pe-combinedview-config__ui-select-item--selected {
  font-weight: 700;
}
.pe-combinedview-config__divider {
  border-top: 1px solid #d4d7dc;
}
.pe-combinedview-config__list-layout {
  border: 1px solid #d4d7dc;
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
}
.pe-combinedview-config__names-layout {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex: 1;
  min-width: 0;
}
.pe-combinedview-config__cname {
  font-weight: 700;
  flex: 5;
  padding-right: 10px;
}
.pe-combinedview-config__vname {
  padding: 0 10px;
  flex: 7;
}
.pe-combinedview-config__hyicon-remove {
  top: 4px;
  right: 5px;
  position: relative;
  font-size: 22px;
  color: #7f90a4;
}
.pe-combinedview-config__hyicon-remove:hover {
  opacity: 0.5;
}
