<h1><code ng:non-bindable="">actionableAlertService</code>
<div><span class="hint">service in module <code ng:non-bindable="">actionableAlertModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="actionablealertmodule-service-page actionablealertmodule-service-actionablealertservice-page"><p>The actionableAlertService is used by external modules to render an
Alert structured around a description, an hyperlink label and a custom
controller.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_displayactionablealert">displayActionableAlert(alertContent)</h3>
<div class="displayactionablealert"><h5 id="methods_displayactionablealert_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>alertContent</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="actionablealertmodule-service-page actionablealertmodule-service-actionablealertservice-displayactionablealert-page"><p>A JSON object containing the specific configuration to be applied on the actionableAlert.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>controller</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="actionablealertmodule-service-page actionablealertmodule-service-actionablealertservice-displayactionablealert-page"><p>Function defining Angular controller consumed by the contextual alert.</p>
</div></td></tr><tr><td>description</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="actionablealertmodule-service-page actionablealertmodule-service-actionablealertservice-displayactionablealert-page"><p>Description displayed within the contextual alert.</p>
</div></td></tr><tr><td>hyperlinkLabel</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="actionablealertmodule-service-page actionablealertmodule-service-actionablealertservice-displayactionablealert-page"><p>Label for the hyperlink displayed within the contextual alert.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
