<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="actionablealertmodule-page"><p>This module defines the actionableAlert Angular component and its
associated constant and service. It uses the alertServiceModule to render an
Alert component structured around a description, an hyperlink label and a
custom controller.</p>
</div></div>
