<h1><code ng:non-bindable="">actionableAlertConstants</code>
<div><span class="hint">object in module <code ng:non-bindable="">actionableAlertModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="actionablealertmodule-object-page actionablealertmodule-object-actionablealertconstants-page"><p>This object defines injectable Angular constant used by the <a href="#/cmssmarteditContainer/actionableAlertModule.service:actionableAlertService#methods_displayactionablealert">displayActionableAlert</a>
method to render the content of the actionableAlert.</p>
</div></div>
<div class="member property"><h2 id="properties">Properties</h2>
<ul class="properties"><li><h3 id="properties_alert_template-{string}">ALERT_TEMPLATE {String}</h3>
<div class="alert_template-{string}"><div class="alert-template-string--page"><p>Lodash template defining the HTML content inserted within the
actionableAlert.
Below are listed the placeholders you can use which will get substituted
at run-time:</p>
<ul>
<li>{String} description Text related to the associated cmsItem</li>
<li>{String} descriptionDetails Map of parameters passed to the translated description</li>
<li>{String} hyperlinkLabel Label for the hyperlink rendered within the
contextual alert</li>
</ul>
</div></div>
</li>
<li><h3 id="properties_timeout_duration-{integer}">TIMEOUT_DURATION {Integer}</h3>
<div class="timeout_duration-{integer}"><div class="timeout-duration-integer--page"><p>The timeout duration of the cms alert item, in milliseconds.</p>
</div></div>
</li>
</ul>
</div>
</div>
