<h1><code ng:non-bindable="">addPageWizardService</code>
<div><span class="hint">service in module <code ng:non-bindable="">addPageServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="addpageservicemodule-service-page addpageservicemodule-service-addpagewizardservice-page"><p>The add page wizard service allows opening a modal wizard to create a page.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_openaddpagewizard">openAddPageWizard()</h3>
<div class="openaddpagewizard"><div class="addpageservicemodule-service-page addpageservicemodule-service-addpagewizardservice-openaddpagewizard-page"><p>When called, this method opens a modal window containing a wizard to create new pages.</p>
</div><h5 id="methods_openaddpagewizard_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="addpageservicemodule-service-page addpageservicemodule-service-addpagewizardservice-openaddpagewizard-page"><p>A promise that will resolve when the modal wizard is closed or reject if it&#39;s canceled.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
