<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="addpageservicemodule-page"><h2 id="the-addpageservicemodule">The addPageServiceModule</h2>
<p>The add page service module provides the functionality necessary to enable the creation of pages through a modal wizard.</p>
<p>Use the <a href="#/cmssmarteditContainer/addPageServiceModule.service:addPageWizardService">addPageWizardService</a> to open the add page wizard modal.</p>
</div></div>
