<h1><code ng:non-bindable="">addPageWizardController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">addPageServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="addpageservicemodule-controller-page addpageservicemodule-controller-addpagewizardcontroller-page"><p>The add page wizard controller manages the operation of the wizard used to create new pages.</p>
</div></div>
</div>
