<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="cataloginformationservicemodule-page"><p>The catalogInformationServiceModule contains a service with helper methods used by catalog aware selector components.</p>
</div></div>
