<h1><code ng:non-bindable="">productsFetchStrategy</code>
<div><span class="hint">object in module <code ng:non-bindable="">catalogInformationServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="cataloginformationservicemodule-object-page cataloginformationservicemodule-object-productsfetchstrategy-page"><p>This object contains the strategy necessary to display products in a paged way; it contains a method to retrieve pages of products and another method to
retrieve individual products. Such a strategy is necessary to work with products in a ySelect .</p>
</div></div>
</div>
