<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="catalogawareselectormodule-page"><h2 id="the-catalogawareselectormodule">The catalogAwareSelectorModule</h2>
<p>The catalogAwareSelectorModule contains a directive that allows users to select items that depend on a catalog.</p>
</div></div>
