<h1><code ng:non-bindable="">seCatalogInformationService</code>
<div><span class="hint">service in module <code ng:non-bindable="">catalogInformationServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="cataloginformationservicemodule-service-page cataloginformationservicemodule-service-secataloginformationservice-page"><p>This service contains helper methods used by catalog aware components.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getproductcatalogsinformation">getProductCatalogsInformation()</h3>
<div class="getproductcatalogsinformation"><div class="cataloginformationservicemodule-service-page cataloginformationservicemodule-service-secataloginformationservice-getproductcatalogsinformation-page"><p>This method retrieves the information of the product catalogs available in the current site.</p>
</div><h5 id="methods_getproductcatalogsinformation_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="cataloginformationservicemodule-service-page cataloginformationservicemodule-service-secataloginformationservice-getproductcatalogsinformation-page"><p>A promise that resolves to an array containing the information of all the product catalogs available in the current site.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
