<h1><code ng:non-bindable="">catalogVersionRestService</code>
<div><span class="hint">service in module <code ng:non-bindable="">catalogVersionRestServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="catalogversionrestservicemodule-service-page catalogversionrestservicemodule-service-catalogversionrestservice-page"><p>The catalogVersionRestService provides core REST functionality for the CMS catalog version endpoint</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_get">get(uriContext)</h3>
<div class="get"><div class="catalogversionrestservicemodule-service-page catalogversionrestservicemodule-service-catalogversionrestservice-get-page"><p>Fetches catalog information for a given site+catalog+catalogversion</p>
</div><h5 id="methods_get_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="catalogversionrestservicemodule-service-page catalogversionrestservicemodule-service-catalogversionrestservice-get-page"><p>A <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a></p>
</div></td></tr></tbody></table><h5 id="methods_get_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="catalogversionrestservicemodule-service-page catalogversionrestservicemodule-service-catalogversionrestservice-get-page"><p>A JSON object representing the current catalog version</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcloneabletargets">getCloneableTargets(uriContext)</h3>
<div class="getcloneabletargets"><div class="catalogversionrestservicemodule-service-page catalogversionrestservicemodule-service-catalogversionrestservice-getcloneabletargets-page"><p>Fetches all cloneable target catalog versions for a given site+catalog+catalogversion</p>
</div><h5 id="methods_getcloneabletargets_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="catalogversionrestservicemodule-service-page catalogversionrestservicemodule-service-catalogversionrestservice-getcloneabletargets-page"><p>A <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a></p>
</div></td></tr></tbody></table><h5 id="methods_getcloneabletargets_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="catalogversionrestservicemodule-service-page catalogversionrestservicemodule-service-catalogversionrestservice-getcloneabletargets-page"><p>A JSON object with a single field &#39;versions&#39; containing a list of catalog versions, or an empty list.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
