<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="catalogversionrestservicemodule-page"><h2 id="the-catalogversionrestservicemodule">The catalogVersionRestServiceModule</h2>
<p>The catalogVersionRestServiceModule provides REST services for the CMS catalog version endpoint</p>
</div></div>
