<h1><code ng:non-bindable="">CATEGORY_TEMPLATE_FOR_SELECTOR</code>
<div><span class="hint">object in module <code ng:non-bindable="">categorySelectorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="categoryselectormodule-object-page categoryselectormodule-object-category-template-for-selector-page"><p>Constant that specifies the URL of the template used to display a category.</p>
</div></div>
</div>
