<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="categoryselectormodule-page"><p>The categorySelectorModule contains a directive that allows selecting categories from a catalog.</p>
</div></div>
