<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="clonepagealertservicemodule-page"><p>This module defines the clonePageAlertService Angular service used
in a multi-country context to display an actionable alert whenever a page got
successfully cloned to a catalog different than the one of the page being
displayed. This alert contains an hyperlink allowing for the user to navigate
to the newly cloned page.</p>
</div></div>
