<h1><code ng:non-bindable="">clonePageWizardService</code>
<div><span class="hint">service in module <code ng:non-bindable="">clonePageWizardServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="clonepagewizardservicemodule-service-page clonepagewizardservicemodule-service-clonepagewizardservice-page"><p>The clone page wizard service allows opening a modal wizard to clone a page.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_openclonepagewizard">openClonePageWizard(pageData)</h3>
<div class="openclonepagewizard"><div class="clonepagewizardservicemodule-service-page clonepagewizardservicemodule-service-clonepagewizardservice-openclonepagewizard-page"><p>When called, this method opens a modal window containing a wizard to clone an existing page.</p>
</div><h5 id="methods_openclonepagewizard_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageData</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="clonepagewizardservicemodule-service-page clonepagewizardservicemodule-service-clonepagewizardservice-openclonepagewizard-page"><p>An object containing the pageData when the clone page wizard is opened from the page list.</p>
</div></td></tr></tbody></table><h5 id="methods_openclonepagewizard_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="clonepagewizardservicemodule-service-page clonepagewizardservicemodule-service-clonepagewizardservice-openclonepagewizard-page"><p>A promise that will resolve when the modal wizard is closed or reject if it&#39;s canceled.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
