<h1><code ng:non-bindable="">clonePageAlertService</code>
<div><span class="hint">service in module <code ng:non-bindable="">clonePageAlertServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="clonepagealertservicemodule-service-page clonepagealertservicemodule-service-clonepagealertservice-page"><p>The clonePageAlertService is used by external modules to display of an
actionable alert anytime a page got cloned to a catalog different than the
one of the page being displayed. This alert contains an hyperlink allowing
for the user to navigate to the newly cloned page.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_displayclonepagealert">displayClonePageAlert(clonedPageInfo)</h3>
<div class="displayclonepagealert"><div class="clonepagealertservicemodule-service-page clonepagealertservicemodule-service-clonepagealertservice-displayclonepagealert-page"><p>Method triggering the &#39;actionableAlertService.displayActionableAlert()&#39;
method to display an alert containing an hyperlink allowing for the user
to navigate to the newly cloned page.</p>
</div><h5 id="methods_displayclonepagealert_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>clonedPageInfo</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="clonepagealertservicemodule-service-page clonepagealertservicemodule-service-clonepagealertservice-displayclonepagealert-page"><p>A JSON object containing the uid of the
newly cloned page.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uid</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="clonepagealertservicemodule-service-page clonepagealertservicemodule-service-clonepagealertservice-displayclonepagealert-page"><p>Uid of the newly cloned page.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
