<h1><code ng:non-bindable="">clonePageWizardController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">clonePageWizardServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="clonepagewizardservicemodule-controller-page clonepagewizardservicemodule-controller-clonepagewizardcontroller-page"><p>The clone page wizard controller manages the operation of the wizard used to create new pages.</p>
</div></div>
</div>
