<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="clonepagewizardservicemodule-page"><h2 id="the-clonepagewizardservicemodule">The clonePageWizardServiceModule</h2>
<p>The clone page service module provides the functionality necessary to enable the cloning of pages through a modal wizard.</p>
<p>Use the <a href="#/cmssmarteditContainer/clonePageWizardServiceModule.service:clonePageWizardService">clonePageWizardService</a> to open the add page wizard modal.</p>
</div></div>
