<h1><code ng:non-bindable="">componentCloneOptionForm</code>
<div><span class="hint">directive in module <code ng:non-bindable="">componentCloneOptionModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componentcloneoptionmodule-directive-page componentcloneoptionmodule-directive-componentcloneoptionform-page"><p>Component for selecting the clone page options for child components in content slots.
The options are clone existing child components or reference them</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;component-clone-option-form
       on-selection-change="{&amp;Expression}"&gt;
&lt;/component-clone-option-form&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>onSelectionChange</td><td><a href="" class="label type-hint type-hint-object">&amp;Expression</a></td><td><div class="componentcloneoptionmodule-directive-page componentcloneoptionmodule-directive-componentcloneoptionform-page"><p>The parent function to call when a selection is made.</p>
</div></td></tr></tbody></table></div>
</div>
