<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="componentvisibilityalertserviceinterfacemodule-page"><p>This module defines the componentVisibilityAlertServiceInterfaceModule Angular component
and its associated service. It uses the cmsContextualAlertModule to display
a contextual alert whenever a component get either hidden or restricted.</p>
</div></div>
