<h1><code ng:non-bindable="">componentEditor</code>
<div><span class="hint">directive in module <code ng:non-bindable="">componentEditorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>Angular component responsible for loading the structure and the content of the tab that invokes this component into the generic-editor directive.
More specifically, this component acts as a bridge between the independent tabs that are part of an editorTabset in order to consolidate the 
tabs&#39; calls (GET/POST/PUT) to the content API into one single call. This is particularly relevant when the different tabs use the same content 
API endpoint.</p>
<p>Every tab of the editorModalService must invoke the componentEditor so that this component will
delegate the structure/structureAPI provided to the generic editor to display the tab info.</p>
<p>This component requires either one of tabStructure or structureApi to load the structure within the tab else an error is thrown.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;component-editor
       save-tab="{Function}"
       reset-tab="{Function}"
       cancel-tab="{Function}"
       is-dirty-tab="{Boolean}"
       component-id="{String}"
       component-type="{String}"
       tab-id="{String}"
       component-info="{&lt;Object}"
       [tab-structure="{&lt;Object}"]
       [structure-api="{&lt;String}"]
       [content="{&lt;String}"]&gt;
&lt;/component-editor&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>saveTab</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>saveTabs passed on from <a href="#/cmssmarteditContainer/editorTabsetModule.directive:editorTabset">editorTabset</a> that instructs the tab to execute the onSave callback when save button is clicked.</p>
</div></td></tr><tr><td>resetTab</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>resetTabs passed on from <a href="#/cmssmarteditContainer/editorTabsetModule.directive:editorTabset">editorTabset</a> that instructs the tab to execute its onReset callback when reset button is clicked.</p>
</div></td></tr><tr><td>cancelTab</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>cancelTabs passed on from <a href="#/cmssmarteditContainer/editorTabsetModule.directive:editorTabset">editorTabset</a> that instructs the tab to execute its onCancel callback when cancel icon is clicked.</p>
</div></td></tr><tr><td>isDirtyTab</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>States whether the tab is in pristine state or not (e.g., have been modified).</p>
</div></td></tr><tr><td>componentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>The Universally unique identifier of the component being created/modified.</p>
</div></td></tr><tr><td>componentType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>The typeCode of the component being created/modified.</p>
</div></td></tr><tr><td>tabId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>The identifier of the tab (is the identifier that is passed on to the generic editor).</p>
</div></td></tr><tr><td>componentInfo</td><td><a href="" class="label type-hint type-hint-object">&lt;Object</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>The component data that holds the basic information about the component being created or modified.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>componenCode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>componentCode of the ComponentType to be created and added to the slot.</p>
</div></td></tr><tr><td>name</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>name of the new component to be created.</p>
</div></td></tr><tr><td>pageId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>pageId used to identify the current page template.</p>
</div></td></tr><tr><td>slotId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>slotId used to identify the slot in the current template.</p>
</div></td></tr><tr><td>position</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>position used to identify the position in the slot in the current template.</p>
</div></td></tr><tr><td>type</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>type (typeCode) of the component being created.</p>
</div></td></tr></tbody></table></td></tr><tr><td>tabStructure <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;Object</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>An optional parameter. The structure of the tab to be displayed.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>cmsStructureType <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>Value that is used to determine which form widget (property editor) to display for a specified property.</p>
</div></td></tr><tr><td>qualifier <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>Name of the property.</p>
</div></td></tr><tr><td>prefixText <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>Text to display before the property in the editor.</p>
</div></td></tr><tr><td>labelText <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>Text to display after the property in the editor.</p>
</div></td></tr><tr><td>editable <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>Set to false in order to make the field uneditable.</p>
</div></td></tr><tr><td>i18nKey <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>The i18nKey corresponding to the property&#39;s label.</p>
</div></td></tr></tbody></table></td></tr><tr><td>structureApi <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>An optional parameter. The data binding to a REST Structure API that fulfills the contract described in the  GenericEditor service service.</p>
</div></td></tr><tr><td>content <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt;String</a></td><td><div class="componenteditormodule-directive-page componenteditormodule-directive-componenteditor-page"><p>The model that is passed on to the generic editor</p>
</div></td></tr></tbody></table></div>
</div>
