<h1><code ng:non-bindable="">COMPONENT_EDITOR_CHANGED</code>
<div><span class="hint">service in module <code ng:non-bindable="">componentEditorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componenteditormodule-component-editor-changed-page"><p>Event is triggered whenever the isDirty state changes. The payload is object {tabId, component}.</p>
</div></div>
</div>
