<h1><code ng:non-bindable="">componentVisibilityAlertServiceInterface</code>
<div><span class="hint">service in module <code ng:non-bindable="">componentVisibilityAlertServiceInterfaceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componentvisibilityalertserviceinterfacemodule-service-page componentvisibilityalertserviceinterfacemodule-service-componentvisibilityalertserviceinterface-page"><p>The componentVisibilityAlertServiceInterface is used by external modules to check
on a component visibility and trigger the display of a contextual alert when
the component is either hidden or restricted.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_checkandalertoncomponentvisibility">checkAndAlertOnComponentVisibility(component)</h3>
<div class="checkandalertoncomponentvisibility"><div class="componentvisibilityalertserviceinterfacemodule-service-page componentvisibilityalertserviceinterfacemodule-service-componentvisibilityalertserviceinterface-checkandalertoncomponentvisibility-page"><p>Method checks on a component visibility and triggering the display of a
contextual alert when the component is either hidden or restricted. This
method defines a custom Angular controller which will get passed to and
consumed by the contextual alert.</p>
</div><h5 id="methods_checkandalertoncomponentvisibility_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>component</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componentvisibilityalertserviceinterfacemodule-service-page componentvisibilityalertserviceinterfacemodule-service-componentvisibilityalertserviceinterface-checkandalertoncomponentvisibility-page"><p>A JSON object containing the specific configuration to be applied on the actionableAlert.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>componentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componentvisibilityalertserviceinterfacemodule-service-page componentvisibilityalertserviceinterfacemodule-service-componentvisibilityalertserviceinterface-checkandalertoncomponentvisibility-page"><p>Uuid of the cmsItem</p>
</div></td></tr><tr><td>componentType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componentvisibilityalertserviceinterfacemodule-service-page componentvisibilityalertserviceinterfacemodule-service-componentvisibilityalertserviceinterface-checkandalertoncomponentvisibility-page"><p>Type of the cmsItem</p>
</div></td></tr><tr><td>catalogVersion</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componentvisibilityalertserviceinterfacemodule-service-page componentvisibilityalertserviceinterfacemodule-service-componentvisibilityalertserviceinterface-checkandalertoncomponentvisibility-page"><p>CatalogVersion uuid of the cmsItem</p>
</div></td></tr><tr><td>restricted</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componentvisibilityalertserviceinterfacemodule-service-page componentvisibilityalertserviceinterfacemodule-service-componentvisibilityalertserviceinterface-checkandalertoncomponentvisibility-page"><p>Boolean stating whether a restriction is applied to the cmsItem.</p>
</div></td></tr><tr><td>slotId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componentvisibilityalertserviceinterfacemodule-service-page componentvisibilityalertserviceinterfacemodule-service-componentvisibilityalertserviceinterface-checkandalertoncomponentvisibility-page"><p>Id of the slot where the cmsItem was added or modified.</p>
</div></td></tr><tr><td>visibility</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componentvisibilityalertserviceinterfacemodule-service-page componentvisibilityalertserviceinterfacemodule-service-componentvisibilityalertserviceinterface-checkandalertoncomponentvisibility-page"><p>Boolean stating whether the cmsItem is rendered.</p>
</div></td></tr></tbody></table></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
