<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="componentcloneoptionformmodule-page"><p>#componentCloneOptionFormModule</p>
<p>The componentCloneOptionModule module contains the clone page selection options
for choosing between copying child components or referencing them.</p>
</div></div>
