<h1><code ng:non-bindable="">componentEditorService</code>
<div><span class="hint">service in module <code ng:non-bindable="">componentEditorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="componenteditormodule-service-page componenteditormodule-service-componenteditorservice-page"><p>Service that aggregates calls from multiple tabs of the editorModalService
and makes a call to the ITEMS API when all the data is ready for save or update. 
This service is also responsible for loading the initial content into all the tabs when the component is being edited.</p>
<p>This service can manage multiple instances associated to different components (the association is made by using the componentId). Therefore,
in order to use this service, the <code>getInstance(componentId)</code> method must be called in order to get the relevant ComponentEditor instance. The returned
instance exposes the different methods described below. An instance can also be discarded (deleted) by calling the <code>destroyInstance(componentId)</code> method.</p>
<p>Each tab loaded into the editorModalService will invoke the <a href="#/cmssmarteditContainer/componentEditorModule.directive:componentEditor">componentEditor</a> component
that, on initialization, will register the tab with this service so that any changes made to the tab are recorded by the componentEditorService service.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_destroyinstance">destroyInstance()</h3>
<div class="destroyinstance"><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-destroyinstance-page"><p>Method called to discard the current instance of <code>ComponentEditor</code> associated to a given <code>componentId</code>.</p>
</div></div>
</li>
<li><h3 id="methods_fetchtabscontent">fetchTabsContent(componentId)</h3>
<div class="fetchtabscontent"><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-fetchtabscontent-page"><p>Method called when the component is being edited to fetch and load the initial content from the ITEMS API.</p>
</div><h5 id="methods_fetchtabscontent_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>componentId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-fetchtabscontent-page"><p>The identifier of the component being edited to fetch the data.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getinstance">getInstance([componentId])</h3>
<div class="getinstance"><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-getinstance-page"><p>Gets the instance of the <code>ComponentEditor</code> that corresponds to the given <code>componentId</code>. If no matching instance has been found, a
new instance will be created and associated to the given <code>componentId</code> If no <code>componentId</code> is supplied, an instance associated
to <code>componentId = 0</code> will be created/returned.</p>
</div><h5 id="methods_getinstance_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>[componentId]</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-getinstance-page"><p>componentId The identifier of the associated component</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_registertab">registerTab(tabId, componentInfo)</h3>
<div class="registertab"><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-registertab-page"><p>Method used by the <a href="#/cmssmarteditContainer/componentEditorModule.directive:componentEditor">componentEditor</a> component every time it is invoked by
a tab of the editorModalService to register the tab with the service.</p>
</div><h5 id="methods_registertab_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>tabId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-registertab-page"><p>The identifier of the tab to be registered.</p>
</div></td></tr><tr><td>componentInfo</td><td><a href="" class="label type-hint type-hint-object">object</a></td><td><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-registertab-page"><p>The component data passed on from the editorModalService
that holds the basic information about the component being created or modified.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_savetabdata">saveTabData(partial, tabId, fields)</h3>
<div class="savetabdata"><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-savetabdata-page"><p>Method called once for every registered tab when saveTabs of <a href="#/cmssmarteditContainer/editorTabsetModule.directive:editorTabset">editorTabset</a> is triggered.</p>
<p>The saveTabs of <a href="#/cmssmarteditContainer/editorTabsetModule.directive:editorTabset">editorTabset</a> will send any asynchronous event to all registered tabs that 
will trigger this method. This method will wait until it receives the content of all the tabs that are in dirty state in order to aggregate
the content of all said tabs. Afterwards, it will make a POST/PUT call to the ITEMS API, depending on whether componentId is present or not.</p>
</div><h5 id="methods_savetabdata_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>partial</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-savetabdata-page"><p>The content of the tab.</p>
</div></td></tr><tr><td>tabId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-savetabdata-page"><p>The identifier of the tab to be registered.</p>
</div></td></tr><tr><td>fields</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-savetabdata-page"><p>The fields parameter of the GenericEditor service service scope containing the fields present in the tab.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_settabdirtystate">setTabDirtyState(tabId, isDirty)</h3>
<div class="settabdirtystate"><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-settabdirtystate-page"><p>Method invoked every time the content of a registered tab is modified.
Will be responsible for collecting all those registered tabs that are in dirty state (or modified when compared with initial content).</p>
</div><h5 id="methods_settabdirtystate_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>tabId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-settabdirtystate-page"><p>The identifier of the tab to be registered.</p>
</div></td></tr><tr><td>isDirty</td><td><a href="" class="label type-hint type-hint-boolean">boolean</a></td><td><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-settabdirtystate-page"><p>The dirty state of the tab content.</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_settabdirtystate">setTabDirtyState()</h3>
<div class="settabdirtystate"><div class="componenteditormodule-service-page componenteditormodule-service-componenteditor-settabdirtystate-page"><p>Method called to reset the service scope to initial state.</p>
</div></div>
</li>
</ul>
</div>
</div>
