<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="contextawarepagestructureservicemodule-page"><h2 id="the-contextawarepagestructureservicemodule">The contextAwarePageStructureServiceModule</h2>
<p>The contextAwarePageStructureServiceModule provides page structure functionality that is context aware,
ie: that changes depending on front-end needs.</p>
</div></div>
