<h1><code ng:non-bindable="">PAGE_STRUCTURE_POST_ORDER</code>
<div><span class="hint">object in module <code ng:non-bindable="">contextAwarePageStructureServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="contextawarepagestructureservicemodule-object-page contextawarepagestructureservicemodule-object-page-structure-post-order-page"><p>Injectable angular array of strings, that are page structure field qualifiers.<br/>
After <a href="#/cmssmarteditContainer/contextAwarePageStructureServiceModule.service:contextAwarePageStructureService">contextAwarePageStructureService</a>
fetches the page structure, it will rearrange the fields based on this post-order. Any fields matching the qualifiers specified
in this array will be positioned at the end of the returned structure, and matching the order specified.</p>
</div></div>
</div>
