<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="createpageservicemodule-page"><h2 id="the-createpageservicemodule">The createPageServiceModule</h2>
<p>The create page service module provides a service that allows creating new pages.</p>
</div></div>
