<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="editortabsetmodule-page"><p>The editor tabset module contains the service and the directives necessary to organize and display editing forms
in tabs.</p>
<p>Use the <a href="#/cmssmarteditContainer/editorTabsetModule.service:editorTabsetService">editorTabsetService</a> to manage the list of
tabs that will be present in the tabset.</p>
<p>Use the <a href="#/cmssmarteditContainer/editorTabsetModule.directive:editorTabset">editorTabset</a> directive to display editing
forms organized as tabs within a tabset (it will contain the tabs registered in the editorTabsetService).</p>
</div></div>
