<h1><code ng:non-bindable="">EntrySearchStrategyInterface</code>
<div><span class="hint">service in module <code ng:non-bindable="">entrySearchStrategyInterfaceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-page"><p>Interface describing the contract for entry search in navigation node editor and is part of strategy for the search of EditableDropdown widget which is configured by name.
For example when we select the value from the ITEMTYPE dropdown
then it tries to find the service handler by name ie. &quot;&#39;search&#39; + itemTypeSelected from Dropdown + &#39;HandlerService&#39;&quot;.
This service manage the search for components in the dropdown during the creation of navigation entry.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getitem">getItem(id, parameters)</h3>
<div class="getitem"><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getitem-page"><p>Fetch an item identified by the given id by making a REST call to the appropriate item end point.</p>
</div><h5 id="methods_getitem_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getitem-page"><p>the item identifier</p>
</div></td></tr><tr><td>parameters</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getitem-page"><p>the <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a> necessary to perform operations</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getpage">getPage(mask, pageSize, currentPage, parameters)</h3>
<div class="getpage"><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getpage-page"><p>Fetch paged search results by making a REST call to the appropriate item end point.
Must return a Page of type Page as per SmartEdit documentation</p>
</div><h5 id="methods_getpage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>mask</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getpage-page"><p>for filtering the search</p>
</div></td></tr><tr><td>pageSize</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getpage-page"><p>number of items in the page</p>
</div></td></tr><tr><td>currentPage</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getpage-page"><p>current page number</p>
</div></td></tr><tr><td>parameters</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getpage-page"><p>the <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a> necessary to perform operations</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getsearchdropdownproperties">getSearchDropdownProperties()</h3>
<div class="getsearchdropdownproperties"><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getsearchdropdownproperties-page"><p>This method provides search result render properties. It returns a object which has a templateURL required to render search choices and placeholder key for the dropdown.</p>
</div></div>
</li>
<li><h3 id="methods_getsearchresults">getSearchResults(mask, parameters)</h3>
<div class="getsearchresults"><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getsearchresults-page"><p>Fetch the search results by making a REST call to the appropriate item end point.</p>
</div><h5 id="methods_getsearchresults_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>mask</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getsearchresults-page"><p>for filtering the search</p>
</div></td></tr><tr><td>parameters</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="entrysearchstrategyinterfacemodule-service-page entrysearchstrategyinterfacemodule-service-entrysearchstrategyinterface-getsearchresults-page"><p>the <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a> necessary to perform operations</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
