<h1><code ng:non-bindable="">genericEditorModalService</code>
<div><span class="hint">service in module <code ng:non-bindable="">genericEditorModalServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="genericeditormodalservicemodule-service-page genericeditormodalservicemodule-service-genericeditormodalservice-page"><p>The Generic Editor Modal Service is used to open an editor modal window that contains a tabset.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_open">open(data, tabs, saveCallback)</h3>
<div class="open"><div class="genericeditormodalservicemodule-service-page genericeditormodalservicemodule-service-genericeditormodalservice-open-page"><p>Function that opens an editor modal. For this method, you must specify the list of tabs to be displayed in the tabset, an object to contain the edited information, and a save
callback that will be triggered once the Save button is clicked.</p>
</div><h5 id="methods_open_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="genericeditormodalservicemodule-service-page genericeditormodalservicemodule-service-genericeditormodalservice-open-page"><p>The object that contains the information to be displayed and edited in the modal.</p>
</div></td></tr><tr><td>tabs</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="genericeditormodalservicemodule-service-page genericeditormodalservicemodule-service-genericeditormodalservice-open-page"><p>The list of tabs to be displayed in the tabset. Note that each of the tabs must follow the contract specified by the <a href="#/cmssmarteditContainer/editorTabsetModule.directive:editorTabset">editor tabset</a> .</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>id</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="genericeditormodalservicemodule-service-page genericeditormodalservicemodule-service-genericeditormodalservice-open-page"><p>The ID of the current tab.</p>
</div></td></tr><tr><td>title</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="genericeditormodalservicemodule-service-page genericeditormodalservicemodule-service-genericeditormodalservice-open-page"><p>The localization key of the title to be displayed for the current tab.</p>
</div></td></tr><tr><td>templateUrl</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="genericeditormodalservicemodule-service-page genericeditormodalservicemodule-service-genericeditormodalservice-open-page"><p>The URL of the HTML template to be displayed within the current tab.</p>
</div></td></tr></tbody></table></td></tr><tr><td>saveCallback</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="genericeditormodalservicemodule-service-page genericeditormodalservicemodule-service-genericeditormodalservice-open-page"><p>a function executed if the user clicks the Save button and the modal closes successfully.</p>
</div></td></tr></tbody></table><h5 id="methods_open_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="genericeditormodalservicemodule-service-page genericeditormodalservicemodule-service-genericeditormodalservice-open-page"><p>A promise that resolves to the data returned by the modal when it is closed.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
