<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="genericeditormodalservicemodule-page"><h2 id="the-genericeditormodalservicemodule">The genericEditorModalServiceModule</h2>
<p>The generic editor modal service module provides a service to open an editor modal window with a tabset inside. The editor modal is populated with a save
and cancel button, and allows specifying the different editor tabs.</p>
</div></div>
