<h1><code ng:non-bindable="">ItemTitleStrategyInterface</code>
<div><span class="hint">service in module <code ng:non-bindable="">itemStrategyInterfaceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="itemstrategyinterfacemodule-service-page itemstrategyinterfacemodule-service-itemtitlestrategyinterface-page"><p>Interface describing the contract to retrieve an item in navigation editor.
It is used in the navigation editor to display the entry&#39;s item title, and it does that by finding 
the service handler by name ie. &quot;&#39;item&#39; + itemTypeSelected + &#39;HandlerService&#39;&quot;.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getitembyid">getItemById(itemId, parameters)</h3>
<div class="getitembyid"><div class="itemstrategyinterfacemodule-service-page itemstrategyinterfacemodule-service-itemtitlestrategyinterface-getitembyid-page"><p>Get the Item title for a given itemId by making a call to the cmswebservices item type API. </p>
</div><h5 id="methods_getitembyid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>itemId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="itemstrategyinterfacemodule-service-page itemstrategyinterfacemodule-service-itemtitlestrategyinterface-getitembyid-page"><p>the item unique identifier</p>
</div></td></tr><tr><td>parameters</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="itemstrategyinterfacemodule-service-page itemstrategyinterfacemodule-service-itemtitlestrategyinterface-getitembyid-page"><p>the <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a> necessary to perform operations</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
