<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="itemselectorpanelmodule-page"><h2 id="the-itemselectorpanelmodule">The itemSelectorPanelModule</h2>
<p>This module contains a directive used to display a panel where a user can add items from one or more catalogs.</p>
</div></div>
