<h1><code ng:non-bindable="">mediaService</code>
<div><span class="hint">service in module <code ng:non-bindable="">mediaServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="mediaservicemodule-service-page mediaservicemodule-service-mediaservice-page"><p>Service to deal with media related CRUD operations</p>
</div></div>
</div>
