<h1><code ng:non-bindable="">navigationNodeEditorModalService</code>
<div><span class="hint">service in module <code ng:non-bindable="">navigationNodeEditorModalServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="navigationnodeeditormodalservicemodule-service-page navigationnodeeditormodalservicemodule-service-navigationnodeeditormodalservice-page"><p>Convenience service to open an editor modal window for a given navigation node&#39;s data.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_open">open(data, parameters)</h3>
<div class="open"><div class="navigationnodeeditormodalservicemodule-service-page navigationnodeeditormodalservicemodule-service-navigationnodeeditormodalservice-open-page"><p>Uses the <a href="#/cmssmarteditContainer/genericEditorModalService.open">genericEditorModalService</a> to open an editor modal.</p>
<p>The editor modal is initialized with a title in the format &#39;<TypeName> Editor&#39;, ie: &#39;Paragraph Editor&#39;. The
editor modal is also wired with a save and cancel button.</p>
<p>The content of the editor modal is the <a href="#/cmssmarteditContainer/editorTabsetModule.directive:editorTabset">editorTabset</a>.</p>
</div><h5 id="methods_open_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>data</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="navigationnodeeditormodalservicemodule-service-page navigationnodeeditormodalservicemodule-service-navigationnodeeditormodalservice-open-page"><p>The data associated to a navigation node as defined in the platform.</p>
</div></td></tr><tr><td>parameters</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="navigationnodeeditormodalservicemodule-service-page navigationnodeeditormodalservicemodule-service-navigationnodeeditormodalservice-open-page"><p>the <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a> necessary to perform operations.</p>
</div></td></tr></tbody></table><h5 id="methods_open_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="navigationnodeeditormodalservicemodule-service-page navigationnodeeditormodalservicemodule-service-navigationnodeeditormodalservice-open-page"><p>A promise that resolves to the data returned by the modal when it is closed.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
