<h1><code ng:non-bindable="">navigationNodeEntryTypesService</code>
<div><span class="hint">service in module <code ng:non-bindable="">navigationNodeEntryTypesServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="navigationnodeentrytypesservicemodule-service-page navigationnodeentrytypesservicemodule-service-navigationnodeentrytypesservice-page"><p>This service manages navigation node entry types data by making REST call to the cmswebservices navigationentrytypes API.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getnavigationnodeentrytypes">getNavigationNodeEntryTypes()</h3>
<div class="getnavigationnodeentrytypes"><div class="navigationnodeentrytypesservicemodule-service-page navigationnodeentrytypesservicemodule-service-navigationnodeentrytypesservice-getnavigationnodeentrytypes-page"><p>Returns the navigation node entry types supported by cmswebservices navigationentrytypes API.</p>
</div><h5 id="methods_getnavigationnodeentrytypes_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="navigationnodeentrytypesservicemodule-service-page navigationnodeentrytypesservicemodule-service-navigationnodeentrytypesservice-getnavigationnodeentrytypes-page"><p>all navigation entry types supported.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
