<h1><code ng:non-bindable="">navigationNodeEditor</code>
<div><span class="hint">directive in module <code ng:non-bindable="">navigationNodeEditorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="navigationnodeeditormodule-directive-page navigationnodeeditormodule-directive-navigationnodeeditor-page"><p>The navigation node editor directive is used to edit the navigation node, and displays essentially the entry list directive, 
the entry creation directive and the attribute node directive.</p>
<p>The directive expects that the parent passes a node object that reflects the information about the navigation node being edited. </p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY navigation-node-editor&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
