<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="navigationnodeeditormodalservicemodule-page"><h2 id="the-navigationnodeeditormodalservicemodule">The navigationNodeEditorModalServiceModule</h2>
<p>The navigation node editor modal service module provides a service that allows opening an editor modal for a given navigation node or an entry. The editor modal is populated with a save and cancel button, and is loaded with the 
editorTabset of cmssmarteditContainer as its content, providing a way to edit
various fields of the given navigation node.</p>
</div></div>
