<h1><code ng:non-bindable="">navigationNodeEditorEntryListController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">navigationNodeEditorEntryListModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="navigationnodeeditorentrylistmodule-controller-page navigationnodeeditorentrylistmodule-controller-navigationnodeeditorentrylistcontroller-page"><p>The navigation node editor entry list controller is responsible for loading the entry list for a specific node, 
updating an entry&#39;s position, removing the entry as an entry on the node and enabling the modification of an entry. </p>
</div></div>
</div>
