<h1><code ng:non-bindable="">navigationNodeEditorController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">navigationNodeEditorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="navigationnodeeditormodule-controller-page navigationnodeeditormodule-controller-navigationnodeeditorcontroller-page"><p>The navigation node editor controller is responsible for initializing the shared data that will be managed by other 
nested directives. </p>
</div></div>
</div>
