<h1><code ng:non-bindable="">navigationNodeEditorEntryList</code>
<div><span class="hint">directive in module <code ng:non-bindable="">navigationNodeEditorEntryListModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="navigationnodeeditorentrylistmodule-directive-page navigationnodeeditorentrylistmodule-directive-navigationnodeeditorentrylist-page"><p>The navigation node editor entry list directive is used inside the navigation node editor directive, and displays 
a list of navigation node entries and actions to edit, move up, move down and delete an entry.</p>
<p>The directive expects that the parent, the navigation node editor, passes a navigationNodeEntryData object and a 
node object that reflects the information about the navigation node being edited. Both should be on the parent&#39;s scope. </p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY navigation-node-editor-entry-list&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
