<h1><code ng:non-bindable="">navigationEditor</code>
<div><span class="hint">directive in module <code ng:non-bindable="">navigationEditorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="navigationeditormodule-directive-page navigationeditormodule-directive-navigationeditor-page"><p>Navigation Editor directive used to display navigation editor tree</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;navigation-editor
       uri-context="{Object}"
       read-only
       root-node-uid="{String}"&gt;
&lt;/navigation-editor&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="navigationeditormodule-directive-page navigationeditormodule-directive-navigationeditor-page"><p>the <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a> necessary to perform operations</p>
</div></td></tr><tr><td>readOnly</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="navigationeditormodule-directive-page navigationeditormodule-directive-navigationeditor-page"><p>when true, no CRUD facility shows on the editor. OPTIONAL, default false.</p>
</div></td></tr><tr><td>rootNodeUid</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="navigationeditormodule-directive-page navigationeditormodule-directive-navigationeditor-page"><p>the uid of the node to be taken as root, OPTIONAL, default &quot;root&quot;</p>
</div></td></tr></tbody></table></div>
</div>
