<h1><code ng:non-bindable="">navigationEntryItemService</code>
<div><span class="hint">service in module <code ng:non-bindable="">navigationEntryItemServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="navigationentryitemservicemodule-service-page navigationentryitemservicemodule-service-navigationentryitemservice-page"><p>This service is used to retrieve component items by making a REST call to the items API.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_finalizenavigationentries">finalizeNavigationEntries(entries, uriParams, setName)</h3>
<div class="finalizenavigationentries"><div class="navigationentryitemservicemodule-service-page navigationentryitemservicemodule-service-navigationentryitemservice-finalizenavigationentries-page"><p>Assigns a generated id if not set
Assigns titles or name to entries based on the titles calculated form their respective entries by means of item super type specific strategies</p>
</div><h5 id="methods_finalizenavigationentries_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entries</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="navigationentryitemservicemodule-service-page navigationentryitemservicemodule-service-navigationentryitemservice-finalizenavigationentries-page"><p>A list of entries associated to a node.</p>
</div></td></tr><tr><td>uriParams</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="navigationentryitemservicemodule-service-page navigationentryitemservicemodule-service-navigationentryitemservice-finalizenavigationentries-page"><p>The object that contains site UID, catalogId and catalogVersion.</p>
</div></td></tr><tr><td>setName</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="navigationentryitemservicemodule-service-page navigationentryitemservicemodule-service-navigationentryitemservice-finalizenavigationentries-page"><p>when true, the calculated title is set in the name property, if false in the title property. Default value is false;</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
