<h1><code ng:non-bindable="">cmsNavigationEntryDropdownPopulator</code>
<div><span class="hint">service in module <code ng:non-bindable="">navigationNodeEditorCreateEntryModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="navigationnodeeditorcreateentrymodule-service-page navigationnodeeditorcreateentrymodule-service-cmsnavigationentrydropdownpopulator-page"><p>implementation of DropdownPopulatorInterface defined in smartedit
for &quot;EditableDropdown&quot; cmsStructureType containing options attribute.</p>
</div></div>
</div>
