<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="navigationnodeeditormodule-page"><p>The navigation node editor module provides a directive and controller to manage the navigation node selected on the parent&#39;s scope.     </p>
</div></div>
