<h1><code ng:non-bindable="">newPageDisplayConditionResult</code>
<div><span class="hint">object in module <code ng:non-bindable="">newPageDisplayConditionModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="newpagedisplayconditionmodule-object-page newpagedisplayconditionmodule-object-newpagedisplayconditionresult-page"><p>The (optional) output of the
<a href="#/cmssmarteditContainer/newPageDisplayConditionModule.directive:newPageDisplayCondition">newPageDisplayCondition</a> component</p>
<pre><code>{
    isPrimary: {Boolean} True if the chosen new page display condition is Primary
    primaryPage: {Object} [Optional] If isPrimary is false (meaning this is a variant page),
            the value is a page object, representing the primary page that this
            new page will be a variant of.
}
</code></pre></div></div>
</div>
