<h1><code ng:non-bindable="">pageDisplayConditionsService</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageDisplayConditionsServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagedisplayconditionsservicemodule-service-page pagedisplayconditionsservicemodule-service-pagedisplayconditionsservice-page"><p>The pageDisplayConditionsService provides an abstraction layer for the business logic of
primary/variant display conditions of a page</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getnewpageconditions">getNewPageConditions(pageTypeCode, uriContext)</h3>
<div class="getnewpageconditions"><h5 id="methods_getnewpageconditions_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageTypeCode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pagedisplayconditionsservicemodule-service-page pagedisplayconditionsservicemodule-service-pagedisplayconditionsservice-getnewpageconditions-page"><p>The page typeCode of a potential new page</p>
</div></td></tr><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pagedisplayconditionsservicemodule-service-page pagedisplayconditionsservicemodule-service-pagedisplayconditionsservice-getnewpageconditions-page"><p>A <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a></p>
</div></td></tr></tbody></table><h5 id="methods_getnewpageconditions_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="pagedisplayconditionsservicemodule-service-page pagedisplayconditionsservicemodule-service-pagedisplayconditionsservice-getnewpageconditions-page"><p>An array of <a href="#/cmssmarteditContainer/pageDisplayConditionsServiceModule.object:CONDITION">page conditions</a> that are the
possible conditions if you wish to create a new page of the given pagetype that has the given possible primary
pages</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
