<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/pageRestrictionsRestServiceModule">pageRestrictionsRestServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionsServiceModule">restrictionsServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionTypesServiceModule">restrictionTypesServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/yLoDashModule">yLoDashModule</a></code>
</li>
</ul>
<div class="pagerestrictionsservicemodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/pageRestrictionsServiceModule.service:pageRestrictionsService">pageRestrictionsService</a> service used to consolidate business logic for SAP Hybris platform CMS restrictions for pages.</p>
</div></div>
