<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="pageeditormodalservicemodule-page"><h2 id="the-pageeditormodalservicemodule">The pageEditorModalServiceModule</h2>
<p>The page editor modal service module provides a service that allows opening an editor modal for a given page. The editor modal is populated with a save and cancel button, and is loaded with the
editorTabset of cmssmarteditContainer as its content, providing a way to edit
various fields of the given page.</p>
</div></div>
