<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="pagesrestservicemodule-page"><h2 id="the-pagesrestservicemodule">The pagesRestServiceModule</h2>
<p>The pagesRestServiceModule provides REST services for the CMS pages rest endpoint</p>
</div></div>
