<h1><code ng:non-bindable="">pageInfoContainer</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageInfoContainerModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pageinfocontainermodule-pageinfocontainer-page"><p>Directive that can render current storefront page&#39;s information and provides a callback function triggered on opening the editor.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY page-info-container&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
