<h1><code ng:non-bindable="">pageInfoHeader</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageInfoHeaderModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pageinfoheadermodule-pageinfoheader-page"><p>Directive that can render page template and type code.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY page-info-header
     page-type-code="{String}"
     page-template="{String}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageTypeCode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageinfoheadermodule-pageinfoheader-page"><p>The type code of the page of which to render information</p>
</div></td></tr><tr><td>pageTemplate</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageinfoheadermodule-pageinfoheader-page"><p>The template of the page of which to render information</p>
</div></td></tr></tbody></table></div>
</div>
