<h1><code ng:non-bindable="">pageTemplateService</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageTemplateServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagetemplateservicemodule-service-page pagetemplateservicemodule-service-pagetemplateservice-page"><p>This service allows the retrieval of page templates associated to a page type.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getpagetemplatesfortype">getPageTemplatesForType(uriContext, pageType)</h3>
<div class="getpagetemplatesfortype"><div class="pagetemplateservicemodule-service-page pagetemplateservicemodule-service-pagetemplateservice-getpagetemplatesfortype-page"><p>When called, this method retrieves the page templates associated to the provided page type.</p>
</div><h5 id="methods_getpagetemplatesfortype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pagetemplateservicemodule-service-page pagetemplateservicemodule-service-pagetemplateservice-getpagetemplatesfortype-page"><p>A <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a></p>
</div></td></tr><tr><td>pageType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pagetemplateservicemodule-service-page pagetemplateservicemodule-service-pagetemplateservice-getpagetemplatesfortype-page"><p>The page type for which to retrieve its associated page templates.</p>
</div></td></tr></tbody></table><h5 id="methods_getpagetemplatesfortype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="pagetemplateservicemodule-service-page pagetemplateservicemodule-service-pagetemplateservice-getpagetemplatesfortype-page"><p>A promise that will resolve with the page templates retrieved for the provided page type.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
