<h1><code ng:non-bindable="">CONDITION</code>
<div><span class="hint">object in module <code ng:non-bindable="">pageDisplayConditionsServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagedisplayconditionsservicemodule-object-page pagedisplayconditionsservicemodule-object-condition-page"><p>An object representing a page display condition<br/>
Structure:<br/></p>
<pre><code>{
        label: [string] key to be localized to render this condition on a webpage
        description: [string] key to be localized to render this condition description on a webpage
        isPrimary: [boolean]
}
</code></pre></div></div>
</div>
