<h1><code ng:non-bindable="">pageListLink</code>
<div><span class="hint">directive in module <code ng:non-bindable="">pageListLinkModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagelistlinkmodule-directive-page pagelistlinkmodule-directive-pagelistlink-page"><p>Directive that displays a link to the list of pages of a catalogue. It can only be used if catalog.catalogVersions is in the current scope.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;page-list-link
       catalog="{&lt; Object}"
       catalog-version="{&lt; Boolean}"
       site-id="{&lt; String}"&gt;
&lt;/page-list-link&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>catalog</td><td><a href="" class="label type-hint type-hint-object">&lt; Object</a></td><td><div class="pagelistlinkmodule-directive-page pagelistlinkmodule-directive-pagelistlink-page"><p>Object representing the provided catalog.</p>
</div></td></tr><tr><td>catalogVersion</td><td><a href="" class="label type-hint type-hint-object">&lt; Boolean</a></td><td><div class="pagelistlinkmodule-directive-page pagelistlinkmodule-directive-pagelistlink-page"><p>Object representing the provided catalog version.</p>
</div></td></tr><tr><td>siteId</td><td><a href="" class="label type-hint type-hint-object">&lt; String</a></td><td><div class="pagelistlinkmodule-directive-page pagelistlinkmodule-directive-pagelistlink-page"><p>The ID of the site the provided catalog is associated with.</p>
</div></td></tr></tbody></table></div>
</div>
