<h1><code ng:non-bindable="">pageListService</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageListServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagelistservicemodule-service-page pagelistservicemodule-service-pagelistservice-page"><p>The Page List Service fetches pages for a specified catalog using REST calls to the cmswebservices pages API.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getpagebyid">getPageById(pageUID)</h3>
<div class="getpagebyid"><div class="pagelistservicemodule-service-page pagelistservicemodule-service-pagelistservice-getpagebyid-page"><p>Fetches the page that matches the provided page UID</p>
</div><h5 id="methods_getpagebyid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageUID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pagelistservicemodule-service-page pagelistservicemodule-service-pagelistservice-getpagebyid-page"><p>The UID of the page to be fetched.</p>
</div></td></tr></tbody></table><h5 id="methods_getpagebyid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pagelistservicemodule-service-page pagelistservicemodule-service-pagelistservice-getpagebyid-page"><p>A page information object. Contains the following properties:
creationtime, modifiedtime, pk, template, title, typeCode, uid</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getpagelistforcatalog">getPageListForCatalog(uriParams)</h3>
<div class="getpagelistforcatalog"><div class="pagelistservicemodule-service-page pagelistservicemodule-service-pagelistservice-getpagelistforcatalog-page"><p>Fetches a list of pages for the catalog that corresponds to the specified site UID, catalogId and catalogVersion. The pages are
retrieved using REST calls to the cmswebservices pages API.</p>
</div><h5 id="methods_getpagelistforcatalog_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriParams</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pagelistservicemodule-service-page pagelistservicemodule-service-pagelistservice-getpagelistforcatalog-page"><p>A <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a></p>
</div></td></tr></tbody></table><h5 id="methods_getpagelistforcatalog_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="pagelistservicemodule-service-page pagelistservicemodule-service-pagelistservice-getpagelistforcatalog-page"><p>An array of pages descriptors. Each descriptor provides the following pages properties:
creationtime, modifiedtime, pk, template, title, typeCode, uid.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
