<h1><code ng:non-bindable="">pageRestrictionsFacade</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageRestrictionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagerestrictionsmodule-factory-page pagerestrictionsmodule-factory-pagerestrictionsfacade-page"><p>A facade that exposes only the business logic necessary for features that need to work with page restrictions.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/pageRestrictionsCriteriaService">pageRestrictionsCriteriaService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/pageRestrictionsService">pageRestrictionsService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionTypesService">restrictionTypesService</a></code>
</li>
</ul>
</div>
