<h1><code ng:non-bindable="">pageRestrictionsRestService</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageRestrictionsRestServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagerestrictionsrestservicemodule-service-page pagerestrictionsrestservicemodule-service-pagerestrictionsrestservice-page"><p>Service that handles REST requests for the pagesRestrictions CMS API endpoint.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/CONTEXTUAL_PAGES_RESTRICTIONS_RESOURCE_URI">CONTEXTUAL_PAGES_RESTRICTIONS_RESOURCE_URI</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/PAGES_RESTRICTIONS_RESOURCE_URI">PAGES_RESTRICTIONS_RESOURCE_URI</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restServiceFactory">restServiceFactory</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/UPDATE_PAGES_RESTRICTIONS_RESOURCE_URI">UPDATE_PAGES_RESTRICTIONS_RESOURCE_URI</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getpagesrestrictionsforcatalogversion">getPagesRestrictionsForCatalogVersion(siteUID, catalogUID, catalogVersionUID)</h3>
<div class="getpagesrestrictionsforcatalogversion"><h5 id="methods_getpagesrestrictionsforcatalogversion_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>siteUID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pagerestrictionsrestservicemodule-service-page pagerestrictionsrestservicemodule-service-pagerestrictionsrestservice-getpagesrestrictionsforcatalogversion-page"><p>The unique identifier for site.</p>
</div></td></tr><tr><td>catalogUID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pagerestrictionsrestservicemodule-service-page pagerestrictionsrestservicemodule-service-pagerestrictionsrestservice-getpagesrestrictionsforcatalogversion-page"><p>The unique identifier for catalog.</p>
</div></td></tr><tr><td>catalogVersionUID</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pagerestrictionsrestservicemodule-service-page pagerestrictionsrestservicemodule-service-pagerestrictionsrestservice-getpagesrestrictionsforcatalogversion-page"><p>The unique identifier for catalog version.</p>
</div></td></tr></tbody></table><h5 id="methods_getpagesrestrictionsforcatalogversion_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="pagerestrictionsrestservicemodule-service-page pagerestrictionsrestservicemodule-service-pagerestrictionsrestservice-getpagesrestrictionsforcatalogversion-page"><p>An array of all pageRestrictions for the given catalog.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getpagesrestrictionsforpageid">getPagesRestrictionsForPageId(pageId)</h3>
<div class="getpagesrestrictionsforpageid"><h5 id="methods_getpagesrestrictionsforpageid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pagerestrictionsrestservicemodule-service-page pagerestrictionsrestservicemodule-service-pagerestrictionsrestservice-getpagesrestrictionsforpageid-page"><p>The unique page identifier for which to fetch pages-restrictions relation.</p>
</div></td></tr></tbody></table><h5 id="methods_getpagesrestrictionsforpageid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="pagerestrictionsrestservicemodule-service-page pagerestrictionsrestservicemodule-service-pagerestrictionsrestservice-getpagesrestrictionsforpageid-page"><p>An array of pageRestrictions for the given page.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_update">update(payload)</h3>
<div class="update"><div class="pagerestrictionsrestservicemodule-service-page pagerestrictionsrestservicemodule-service-pagerestrictionsrestservice-update-page"><p>It will do a PUT to the pageRestrictions endpoint.</p>
</div><h5 id="methods_update_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>payload</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pagerestrictionsrestservicemodule-service-page pagerestrictionsrestservicemodule-service-pagerestrictionsrestservice-update-page"><p>The pageRestriction object containing the pageRestrictionList.</p>
</div></td></tr></tbody></table><h5 id="methods_update_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="pagerestrictionsrestservicemodule-service-page pagerestrictionsrestservicemodule-service-pagerestrictionsrestservice-update-page"><p>An array of pageRestrictions.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
