<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restServiceFactoryModule">restServiceFactoryModule</a></code>
</li>
</ul>
<div class="pagetypesrestrictiontypesrestservicemodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/pageRestrictionsRestServiceModule.service:pageRestrictionsRestService">pageRestrictionsRestService</a> REST service for pageTypes restrictionTypes API.</p>
</div></div>
