<h1><code ng:non-bindable="">pageRestrictionsCriteriaService</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageRestrictionsCriteriaModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagerestrictionscriteriamodule-service-page pagerestrictionscriteriamodule-service-pagerestrictionscriteriaservice-page"><p>A service for working with restriction criteria.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getmatchcriterialabel">getMatchCriteriaLabel(onlyOneRestrictionMustApply)</h3>
<div class="getmatchcriterialabel"><h5 id="methods_getmatchcriterialabel_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>onlyOneRestrictionMustApply</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="pagerestrictionscriteriamodule-service-page pagerestrictionscriteriamodule-service-pagerestrictionscriteriaservice-getmatchcriterialabel-page"><p>A boolean to determine whether one restriction should be applied.</p>
</div></td></tr></tbody></table><h5 id="methods_getmatchcriterialabel_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pagerestrictionscriteriamodule-service-page pagerestrictionscriteriamodule-service-pagerestrictionscriteriaservice-getmatchcriterialabel-page"><p>The i18n key of the restriction criteria.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getrestrictioncriteriaoptionfrompage">getRestrictionCriteriaOptionFromPage()</h3>
<div class="getrestrictioncriteriaoptionfrompage"><h5 id="methods_getrestrictioncriteriaoptionfrompage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pagerestrictionscriteriamodule-service-page pagerestrictionscriteriamodule-service-pagerestrictionscriteriaservice-getrestrictioncriteriaoptionfrompage-page"><p>An object of the restriction criteria for the given page.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getrestrictioncriteriaoptions">getRestrictionCriteriaOptions()</h3>
<div class="getrestrictioncriteriaoptions"><h5 id="methods_getrestrictioncriteriaoptions_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="pagerestrictionscriteriamodule-service-page pagerestrictionscriteriamodule-service-pagerestrictionscriteriaservice-getrestrictioncriteriaoptions-page"><p>An array of criteria options.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
