<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="pageinfomenumodule-page"><p>The page info menu module contains the directive and controller necessary to view the page information menu from the white ribbon..</p>
<p>Use the <a href="#/cmssmarteditContainer/pageInfoMenuModule.directive:pageInfoMenuToolbarItem">pageInfoMenuToolbarItem</a> add this page info toolbar menu.</p>
</div></div>
