<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="pagetypeservicemodule-page"><p>The Page Type Service module provides a service that retrieves all supported page types</p>
</div></div>
