<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/pageTypesRestrictionTypesRestServiceModule">pageTypesRestrictionTypesRestServiceModule</a></code>
</li>
</ul>
<div class="pagetypesrestrictiontypesservicemodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/pageTypesRestrictionTypesServiceModule.service:pageTypesRestrictionTypesService">pageTypesRestrictionTypesService</a> REST service used to consolidate business logic for SAP Hybris platform CMS
pageTypes-restrictionTypes relations.</p>
</div></div>
