<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="pagerestrictionscriteriamodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/pageRestrictionsCriteriaModule.service:pageRestrictionsCriteriaService">pageRestrictionsCriteriaService</a> service used to consolidate business logic for restriction criteria.</p>
</div></div>
