<h1><code ng:non-bindable="">pageListSyncIcon</code>
<div><span class="hint">directive in module <code ng:non-bindable="">pageListSyncIconModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagelistsynciconmodule-directive-page pagelistsynciconmodule-directive-pagelistsyncicon-page"><p>The Page Synchronization Icon component is used to display the icon that describes the synchronization status of a page.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;page-list-sync-icon
       page-id="{string}"&gt;
&lt;/page-list-sync-icon&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageId</td><td><a href="" class="label type-hint type-hint-string">string</a></td><td><div class="pagelistsynciconmodule-directive-page pagelistsynciconmodule-directive-pagelistsyncicon-page"><p>The identifier of the page for which the synchronzation status must be displayed.</p>
</div></td></tr></tbody></table></div>
</div>
