<h1><code ng:non-bindable="">pageService</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-page"><p>The pageService provides low level functionality for CMS pages</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getcurrentpageinfo">getCurrentPageInfo()</h3>
<div class="getcurrentpageinfo"><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-getcurrentpageinfo-page"><p>Retrieves the page information of the page that is currently loaded.</p>
</div><h5 id="methods_getcurrentpageinfo_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-getcurrentpageinfo-page"><p>A promise that resolves to a CMS Item object containing
information related to the current page</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getprimarypagesforpagetype">getPrimaryPagesForPageType(pageTypeCode, uriParams)</h3>
<div class="getprimarypagesforpagetype"><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-getprimarypagesforpagetype-page"><p>Fetches a list of pages for for a given site+catalog+catalogversion</p>
</div><h5 id="methods_getprimarypagesforpagetype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageTypeCode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-getprimarypagesforpagetype-page"><p>A page type code to filter pages by</p>
</div></td></tr><tr><td>uriParams</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-getprimarypagesforpagetype-page"><p>A <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a></p>
</div></td></tr></tbody></table><h5 id="methods_getprimarypagesforpagetype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-getprimarypagesforpagetype-page"><p>A promise that resolves to an array of page objects, or empty array</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_ispageprimary">isPagePrimary(pageId)</h3>
<div class="ispageprimary"><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-ispageprimary-page"><p>Determines if a page belonging to the current contextual site+catalog+catalogversion is primary.</p>
</div><h5 id="methods_ispageprimary_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-ispageprimary-page"><p>The UID of the page.</p>
</div></td></tr></tbody></table><h5 id="methods_ispageprimary_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-ispageprimary-page"><p>A promise that resolves to true if the page is primary, false otherwise.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_ispageprimary">isPagePrimary(variationPageId)</h3>
<div class="ispageprimary"><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-ispageprimary-page"><p>Retrieves the primary page for the current site+catalog+catalogversion.</p>
</div><h5 id="methods_ispageprimary_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>variationPageId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-ispageprimary-page"><p>The UID of the page.</p>
</div></td></tr></tbody></table><h5 id="methods_ispageprimary_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-ispageprimary-page"><p>A promise that resolves to the page object or undefined if no primary page was found.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_ispageprimary">isPagePrimary(primaryPageId)</h3>
<div class="ispageprimary"><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-ispageprimary-page"><p>Retrieves the variation pages for the current site+catalog+catalogversion.</p>
</div><h5 id="methods_ispageprimary_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>primaryPageId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-ispageprimary-page"><p>The UID of the primary page.</p>
</div></td></tr></tbody></table><h5 id="methods_ispageprimary_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-ispageprimary-page"><p>A promise that resolves an array of variation pages or an empty list if none are found.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_updatepagebyid">updatePageById(pageUid, payload)</h3>
<div class="updatepagebyid"><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-updatepagebyid-page"><p>Updates the page corresponding to the given page UID with the payload provided for the current site+catalog+catalogversion.</p>
</div><h5 id="methods_updatepagebyid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageUid</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-updatepagebyid-page"><p>The UID of the page</p>
</div></td></tr><tr><td>payload</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-updatepagebyid-page"><p>The JSON object to PUT to the pages API</p>
</div></td></tr></tbody></table><h5 id="methods_updatepagebyid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-updatepagebyid-page"><p>A promise that resolves to the JSON page object as it now exists in the backend</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_updatepagebyid">updatePageById(pageUid)</h3>
<div class="updatepagebyid"><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-updatepagebyid-page"><p>Retrieves the page corresponding to the given page UID.</p>
</div><h5 id="methods_updatepagebyid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageUid</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-updatepagebyid-page"><p>The UID of the page</p>
</div></td></tr></tbody></table><h5 id="methods_updatepagebyid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="pageservicemodule-service-page pageservicemodule-service-pageservice-updatepagebyid-page"><p>A promise that resolves to the JSON page object
corresponding to this page UID</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
