<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/pageRestrictionsCriteriaModule">pageRestrictionsCriteriaModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/pageRestrictionsServiceModule">pageRestrictionsServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionTypesServiceModule">restrictionTypesServiceModule</a></code>
</li>
</ul>
<div class="pagerestrictionsmodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/pageRestrictionsModule.factory:pageRestrictionsFacade">pageRestrictionsFacade</a> facade module for page restrictions.</p>
</div></div>
