<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="pagelistlinkmodule-page"><h2 id="the-pagelistlinkmodule">The pageListLinkModule</h2>
<p>The pageListLinkModule provides a directive to display a link to the list of pages of a catalogue</p>
</div></div>
