<h1><code ng:non-bindable="">pageListController</code>
<div><span class="hint">controller in module <code ng:non-bindable="">pageListModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagelistmodule-controller-page pagelistmodule-controller-pagelistcontroller-page"><p>The page list controller fetches pages for a specified catalog using the <a href="#/cmssmarteditContainer/pageListServiceModule.service:pageListService">pageListService</a></p>
</div></div>
</div>
