<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="pagelistservicemodule-page"><h2 id="the-pagelistservicemodule">The pageListServiceModule</h2>
<p>The Page List Service module provides a service that fetches pages for a specified catalog</p>
</div></div>
