<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="pagelistmodule-page"><p>The page list module contains the controller associated to the page list view.</p>
<p>This view displays the list of pages for a specific catalog and allows the user
to search and sort the list.</p>
<p>Use the <a href="#/cmssmarteditContainer/pageListServiceModule.service:pageListService">pageListService</a>
to call backend API in order to get the list of pages for a specific catalog</p>
</div></div>
