<h1><code ng:non-bindable="">pageTypeService</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageTypeServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagetypeservicemodule-pagetypeservice-page"><p>Service that concerns business logic tasks related to CMS page types in the SAP Hybris platform.
This service retrieves all supported page types configured on the platform, and caches them for the duration of the session.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getpagetypes">getPageTypes()</h3>
<div class="getpagetypes"><div class="pagetypeservicemodule-pagetypeservice-getpagetypes-page"><p>Returns a list of page type descriptor objects. The page type descriptor object
returned is structured as follows:</p>
<pre><code class="lang-js"> {
     code {String} The unique identifier for the page type.
     name {Object} A map between language ISO code and localized name of the page type.
     description {Object} A map between language ISO code and localized description of the page type.
 };
</code></pre>
</div><h5 id="methods_getpagetypes_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="pagetypeservicemodule-pagetypeservice-getpagetypes-page"><p>An array of page type objects</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
