<h1><code ng:non-bindable="">pageTypesRestrictionTypesService</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageTypesRestrictionTypesServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagetypesrestrictiontypesservicemodule-service-page pagetypesrestrictiontypesservicemodule-service-pagetypesrestrictiontypesservice-page"><p>Service that concerns business logic tasks related to CMS pageTypes-restrictionTypes relations.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/pageTypesRestrictionTypesRestService">pageTypesRestrictionTypesRestService</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getpagetypesrestrictiontypes">getPageTypesRestrictionTypes()</h3>
<div class="getpagetypesrestrictiontypes"><h5 id="methods_getpagetypesrestrictiontypes_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="pagetypesrestrictiontypesservicemodule-service-page pagetypesrestrictiontypesservicemodule-service-pagetypesrestrictiontypesservice-getpagetypesrestrictiontypes-page"><p>An array of all of the pageType-restrictionType relations in the system.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getrestrictiontypecodesforpagetype">getRestrictionTypeCodesForPageType(pageType)</h3>
<div class="getrestrictiontypecodesforpagetype"><h5 id="methods_getrestrictiontypecodesforpagetype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pagetypesrestrictiontypesservicemodule-service-page pagetypesrestrictiontypesservicemodule-service-pagetypesrestrictiontypesservice-getrestrictiontypecodesforpagetype-page"><p>The page type for which the restriction type codes can be applied.</p>
</div></td></tr></tbody></table><h5 id="methods_getrestrictiontypecodesforpagetype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="pagetypesrestrictiontypesservicemodule-service-page pagetypesrestrictiontypesservicemodule-service-pagetypesrestrictiontypesservice-getrestrictiontypecodesforpagetype-page"><p>An array of restriction type codes that can be applied to the given page type.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
