<h1><code ng:non-bindable="">pageInfoDetails</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageInfoDetailsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pageinfodetailsmodule-pageinfodetails-page"><p>Directive that can render page information, using an underlying generic editor. Additionally, provides an edit button
tied to a parameterized on click callback.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY page-info-details
     page-uid="{String}"
     page-type-code="{String}"
     page-structure="{Object}"
     page-content="{Object}"
     on-edit-click="{Function}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageUid</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageinfodetailsmodule-pageinfodetails-page"><p>The UID of the page of which to render information</p>
</div></td></tr><tr><td>pageTypeCode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="pageinfodetailsmodule-pageinfodetails-page"><p>The type code of the page of which to render information</p>
</div></td></tr><tr><td>pageStructure</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pageinfodetailsmodule-pageinfodetails-page"><p>The structure used to render the generic editor</p>
</div></td></tr><tr><td>pageContent</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pageinfodetailsmodule-pageinfodetails-page"><p>The content of the fields of the generic editor</p>
</div></td></tr><tr><td>onEditClick</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="pageinfodetailsmodule-pageinfodetails-page"><p>The callback triggered when clicking the Edit button</p>
</div></td></tr></tbody></table></div>
</div>
