<h1><code ng:non-bindable="">pageInfoMenuToolbarItem</code>
<div><span class="hint">directive in module <code ng:non-bindable="">pageInfoMenuModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pageinfomenumodule-directive-page pageinfomenumodule-directive-pageinfomenutoolbaritem-page"><p>Component responsible for displaying the current page&#39;s meta data.</p>
<p>The component also allows access to the page editor modal.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;page-info-menu-toolbar-item&gt;
&lt;/page-info-menu-toolbar-item&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
