<h1><code ng:non-bindable="">pageTypesRestrictionTypesRestService</code>
<div><span class="hint">service in module <code ng:non-bindable="">pageTypesRestrictionTypesRestServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="pagetypesrestrictiontypesrestservicemodule-service-page pagetypesrestrictiontypesrestservicemodule-service-pagetypesrestrictiontypesrestservice-page"><p>Service that handles REST requests for the pageTypes restrictionTypes CMS API endpoint.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/languageService">languageService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/PAGE_TYPES_RESTRICTION_TYPES_URI">PAGE_TYPES_RESTRICTION_TYPES_URI</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restServiceFactory">restServiceFactory</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getpagetypesrestrictiontypes">getPageTypesRestrictionTypes()</h3>
<div class="getpagetypesrestrictiontypes"><h5 id="methods_getpagetypesrestrictiontypes_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="pagetypesrestrictiontypesrestservicemodule-service-page pagetypesrestrictiontypesrestservicemodule-service-pagetypesrestrictiontypesrestservice-getpagetypesrestrictiontypes-page"><p>An array of all pageType-restrictionType in the system.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
