<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="productselectormodule-page"><p>The productSelectorModule contains a directive that allows selecting products from a catalog.</p>
</div></div>
