<h1><code ng:non-bindable="">PRODUCT_TEMPLATE_FOR_SELECTOR</code>
<div><span class="hint">object in module <code ng:non-bindable="">productSelectorModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="productselectormodule-object-page productselectormodule-object-product-template-for-selector-page"><p>Constant that specifies the maximum number of products a user can select.</p>
</div></div>
</div>
