<h1><code ng:non-bindable="">CONTENT_SLOT_TYPE_RESTRICTION_RESOURCE_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-content-slot-type-restriction-resource-uri-page"><p>Resource URI of the content slot type restrictions REST service.</p>
</div></div>
</div>
