<h1><code ng:non-bindable="">NAVIGATION_MANAGEMENT_PAGE_PATH</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-navigation-management-page-path-page"><p>Path to the Navigation Management</p>
</div></div>
</div>
