<h1><code ng:non-bindable="">CONTEXT_SITE_ID</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-context-site-id-page"><p>Constant containing the name of the site uid placeholder in URLs</p>
</div></div>
</div>
