<h1><code ng:non-bindable="">itemsResource</code>
<div><span class="hint">service in module <code ng:non-bindable="">resourceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcemodule-service-page resourcemodule-service-itemsresource-page"><p>This service is used to retrieve the $resource factor for retrieving component items.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getitemresourcebycontext">getItemResourceByContext()</h3>
<div class="getitemresourcebycontext"><div class="resourcemodule-service-page resourcemodule-service-itemsresource-getitemresourcebycontext-page"><p>Returns  the resource of the custom components REST service by replacing the placeholders with the currently selected catalog version.</p>
</div></div>
</li>
<li><h3 id="methods_getitemresourcebycontext">getItemResourceByContext(uriContext)</h3>
<div class="getitemresourcebycontext"><div class="resourcemodule-service-page resourcemodule-service-itemsresource-getitemresourcebycontext-page"><p>Returns  the resource of the custom components REST service by providing the current uri context as the input object.</p>
<p>The input object contains the necessary site and catalog information to retrieve the items.</p>
</div><h5 id="methods_getitemresourcebycontext_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="resourcemodule-service-page resourcemodule-service-itemsresource-getitemresourcebycontext-page"><p>A  <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">uriContext</a></p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
