<h1><code ng:non-bindable="">GET_PAGE_SYNCHRONIZATION_RESOURCE_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-get-page-synchronization-resource-uri-page"><p>Resource URI to retrieve the full synchronization status of page related items</p>
</div></div>
</div>
