<h1><code ng:non-bindable="">PAGES_CONTENT_SLOT_COMPONENT_RESOURCE_URI</code>
<div><span class="hint">object in module <code ng:non-bindable="">resourceLocationsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="resourcelocationsmodule-object-page resourcelocationsmodule-object-pages-content-slot-component-resource-uri-page"><p>Resource URI of the pages content slot component REST service.</p>
</div></div>
</div>
