<h1><code ng:non-bindable="">restrictionsRestService</code>
<div><span class="hint">service in module <code ng:non-bindable="">restrictionsRestServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="restrictionsrestservicemodule-service-page restrictionsrestservicemodule-service-restrictionsrestservice-page"><p>Service that handles REST requests for the restrictions CMS API endpoint.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/languageService">languageService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/RESTRICTIONS_RESOURCE_URI">RESTRICTIONS_RESOURCE_URI</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restServiceFactory">restServiceFactory</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/URIBuilder">URIBuilder</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_get">get(params)</h3>
<div class="get"><h5 id="methods_get_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>params</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="restrictionsrestservicemodule-service-page restrictionsrestservicemodule-service-restrictionsrestservice-get-page"><p>Object containing parameters passed to the method.</p>
</div></td></tr></tbody></table><h5 id="methods_get_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="restrictionsrestservicemodule-service-page restrictionsrestservicemodule-service-restrictionsrestservice-get-page"><p>An array of all restrictions in the system.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getbyid">getById(restrictionId)</h3>
<div class="getbyid"><h5 id="methods_getbyid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>restrictionId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsrestservicemodule-service-page restrictionsrestservicemodule-service-restrictionsrestservice-getbyid-page"><p>Identifier for a given restriction.</p>
</div></td></tr></tbody></table><h5 id="methods_getbyid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="restrictionsrestservicemodule-service-page restrictionsrestservicemodule-service-restrictionsrestservice-getbyid-page"><p>The restriction matching the identifier passed as parameter.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcontentapiuri">getContentApiUri(uriContext)</h3>
<div class="getcontentapiuri"><h5 id="methods_getcontentapiuri_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="restrictionsrestservicemodule-service-page restrictionsrestservicemodule-service-restrictionsrestservice-getcontentapiuri-page"><p>The <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">uriContext</a>, as defined on the resourceLocationModule.</p>
</div></td></tr></tbody></table><h5 id="methods_getcontentapiuri_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsrestservicemodule-service-page restrictionsrestservicemodule-service-restrictionsrestservice-getcontentapiuri-page"><p>A URI for CRUD of restrictions on a specific site/catalog/version</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
