<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/pageTypesRestrictionTypesServiceModule">pageTypesRestrictionTypesServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionTypesRestServiceModule">restrictionTypesRestServiceModule</a></code>
</li>
</ul>
<div class="restrictiontypesservicemodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/restrictionTypesServiceModule.service:restrictionTypesService">restrictionTypesService</a> REST service used to consolidate business logic for SAP Hybris platform CMS restriction types for
both pages and components.</p>
</div></div>
