<h1><code ng:non-bindable="">restrictionsService</code>
<div><span class="hint">service in module <code ng:non-bindable="">restrictionsServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-page"><p>Service that concerns business logic tasks related to CMS restrictions in the SAP Hybris platform.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionsRestService">restrictionsRestService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/structureModeManagerFactory">structureModeManagerFactory</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/structuresRestService">structuresRestService</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getallrestrictions">getAllRestrictions()</h3>
<div class="getallrestrictions"><h5 id="methods_getallrestrictions_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getallrestrictions-page"><p>All restrictions in the system (any type of restriction).</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getbyid">getById(restrictionId)</h3>
<div class="getbyid"><h5 id="methods_getbyid_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>restrictionId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getbyid-page"><p>Identifier for a given restriction.</p>
</div></td></tr></tbody></table><h5 id="methods_getbyid_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getbyid-page"><p>The restriction matching the given ID.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcontentapiuri">getContentApiUri(uriContext)</h3>
<div class="getcontentapiuri"><h5 id="methods_getcontentapiuri_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getcontentapiuri-page"><p>The <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">uriContext</a>, as defined on the resourceLocationModule.</p>
</div></td></tr></tbody></table><h5 id="methods_getcontentapiuri_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getcontentapiuri-page"><p>A URI to CRUD restrictions, to a given site/catalog/version</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getpagedrestrictionsfortype">getPagedRestrictionsForType(restrictionTypeCode, mask, pageSize, currentPage)</h3>
<div class="getpagedrestrictionsfortype"><h5 id="methods_getpagedrestrictionsfortype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>restrictionTypeCode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getpagedrestrictionsfortype-page"><p>Code for the restriction type.</p>
</div></td></tr><tr><td>mask</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getpagedrestrictionsfortype-page"><p>A string value sent to the server upon fetching a page to further restrict the search, it is sent as query string &quot;mask&quot;.</p>
</div></td></tr><tr><td>pageSize</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getpagedrestrictionsfortype-page"><p>The maximum size of each page requested from the backend.</p>
</div></td></tr><tr><td>currentPage</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getpagedrestrictionsfortype-page"><p>Current page number.</p>
</div></td></tr></tbody></table><h5 id="methods_getpagedrestrictionsfortype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getpagedrestrictionsfortype-page"><p>The restriction matching the identifier passed as parameter.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getpagedrestrictionsfortype">getPagedRestrictionsForType()</h3>
<div class="getpagedrestrictionsfortype"><h5 id="methods_getpagedrestrictionsfortype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getpagedrestrictionsfortype-page"><p>An array of restriction TypeCodes that are supported by SmartEdit.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getstructureapiuri">getStructureApiUri(mode, mode)</h3>
<div class="getstructureapiuri"><h5 id="methods_getstructureapiuri_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>mode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getstructureapiuri-page"><p>The structure mode.</p>
</div></td></tr><tr><td>mode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getstructureapiuri-page"><p>Optional typecode, if omited will leave a placeholder in URI that will be replaced with the item.typeCode.</p>
</div></td></tr></tbody></table><h5 id="methods_getstructureapiuri_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionsservicemodule-service-page restrictionsservicemodule-service-restrictionsservice-getstructureapiuri-page"><p>A URI for the structure of restrictions, given a structure mode</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
