<h1><code ng:non-bindable="">restrictionsMenuToolbarItem</code>
<div><span class="hint">directive in module <code ng:non-bindable="">restrictionsMenuModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="restrictionsmenumodule-directive-page restrictionsmenumodule-directive-restrictionsmenutoolbaritem-page"><p>Component responsible for displaying the restriction menu.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;restrictions-menu-toolbar-item&gt;
&lt;/restrictions-menu-toolbar-item&gt;</pre>
</div>
</div>
