<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="restrictionseditormodule-page"><p>This module contains the <a href="#/cmssmarteditContainer/restrictionsEditorModule.restrictionsEditor">restrictionsEditor</a> component.</p>
</div></div>
