<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/l10nModule">l10nModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionsCriteriaServiceModule">restrictionsCriteriaServiceModule</a></code>
</li>
</ul>
<div class="restrictionstablemodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/restrictionsTableModule.directive:restrictionsTable">restrictionsTable</a> component</p>
</div></div>
