<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionsServiceModule">restrictionsServiceModule</a></code>
</li>
</ul>
<div class="restrictionsmodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/restrictionsModule.restrictionsFacade">restrictionsFacade</a> factory managing all restrictions.</p>
</div></div>
