<h1><code ng:non-bindable="">restrictionsFacade</code>
<div><span class="hint">service in module <code ng:non-bindable="">restrictionsModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="restrictionsmodule-restrictionsfacade-page"><p>A facade that exposes only the business logic necessary for features that need to work with restrictions.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionsService">restrictionsService</a></code>
</li>
</ul>
</div>
