<h1><code ng:non-bindable="">restrictionManagementSelect</code>
<div><span class="hint">directive in module <code ng:non-bindable="">restrictionManagementSelectModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="restrictionmanagementselectmodule-directive-page restrictionmanagementselectmodule-directive-restrictionmanagementselect-page"><p>The restrictionManagementSelect Angular component is designed to be able to create or display restrictions.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;restriction-management-select
       [existing-restrictions="{&lt; Array}"]
       [is-dirty-fn="{? Function}"]
       [submit-fn="{? Function}"]
       uri-context="{&lt; Object}"
       get-restriction-types-fn="{&amp; Expression}"
       [get-supported-restriction-types-fn="{&lt; Function}"]&gt;
&lt;/restriction-management-select&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>existingRestrictions <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt; Array</a></td><td><div class="restrictionmanagementselectmodule-directive-page restrictionmanagementselectmodule-directive-restrictionmanagementselect-page"><p>Array of existing restrictions, that will be not be selectable.</p>
</div></td></tr><tr><td>isDirtyFn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">? Function</a></td><td><div class="restrictionmanagementselectmodule-directive-page restrictionmanagementselectmodule-directive-restrictionmanagementselect-page"><p>Function returning the dirtiness status of the component.</p>
</div></td></tr><tr><td>submitFn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">? Function</a></td><td><div class="restrictionmanagementselectmodule-directive-page restrictionmanagementselectmodule-directive-restrictionmanagementselect-page"><p>Function defined in outer scope to validate restriction edit.</p>
</div></td></tr><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">&lt; Object</a></td><td><div class="restrictionmanagementselectmodule-directive-page restrictionmanagementselectmodule-directive-restrictionmanagementselect-page"><p>The <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">uriContext</a>, as defined on the resourceLocationModule.</p>
</div></td></tr><tr><td>getRestrictionTypesFn</td><td><a href="" class="label type-hint type-hint-object">&amp; Expression</a></td><td><div class="restrictionmanagementselectmodule-directive-page restrictionmanagementselectmodule-directive-restrictionmanagementselect-page"><p>A function that returns list of restriction types for a given item.</p>
</div></td></tr><tr><td>getSupportedRestrictionTypesFn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt; Function</a></td><td><div class="restrictionmanagementselectmodule-directive-page restrictionmanagementselectmodule-directive-restrictionmanagementselect-page"><p>A function that returns list of restriction types that are supported for editing for a given item. If not provided, all types are assumed to be supported.</p>
</div></td></tr></tbody></table></div>
</div>
