<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restServiceFactoryModule">restServiceFactoryModule</a></code>
</li>
</ul>
<div class="restrictiontypesrestservicemodule-page"><p>This module contains the <a href="#/cmssmarteditContainer/restrictionTypesRestServiceModule.service:restrictionTypesRestService">restrictionTypesRestService</a> REST service for restrictionTypes API.</p>
</div></div>
