<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/alertServiceModule">alertServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionsModule">restrictionsModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionsServiceModule">restrictionsServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/yActionableSearchItemModule">yActionableSearchItemModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/ySelectModule">ySelectModule</a></code>
</li>
</ul>
<div class="restrictionmanagementselectmodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/restrictionManagementSelectModule.directive:restrictionManagementSelect">restrictionManagementSelect</a> component</p>
</div></div>
