<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/functionsModule">functionsModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restServiceFactoryModule">restServiceFactoryModule</a></code>
</li>
</ul>
<div class="restrictionsrestservicemodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/restrictionsRestServiceModule.service:restrictionsRestService">restrictionsRestService</a> REST service for restrictions API.</p>
</div></div>
