<h1><code ng:non-bindable="">restrictionTypesRestService</code>
<div><span class="hint">service in module <code ng:non-bindable="">restrictionTypesRestServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="restrictiontypesrestservicemodule-service-page restrictiontypesrestservicemodule-service-restrictiontypesrestservice-page"><p>Service that handles REST requests for the restrictionTypes CMS API endpoint.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/languageService">languageService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/RESTRICTION_TYPES_URI">RESTRICTION_TYPES_URI</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restServiceFactory">restServiceFactory</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getrestrictiontypes">getRestrictionTypes()</h3>
<div class="getrestrictiontypes"><h5 id="methods_getrestrictiontypes_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="restrictiontypesrestservicemodule-service-page restrictiontypesrestservicemodule-service-restrictiontypesrestservice-getrestrictiontypes-page"><p>An array of all restriction types in the system.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
