<h1><code ng:non-bindable="">restrictionManagementEdit</code>
<div><span class="hint">directive in module <code ng:non-bindable="">restrictionManagementEditModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="restrictionmanagementeditmodule-directive-page restrictionmanagementeditmodule-directive-restrictionmanagementedit-page"><p>The restrictionManagementEdit Angular component is designed to be able to edit restrictions.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;restriction-management-edit
       [is-dirty-fn="{? Function}"]
       restriction="{&lt; String}"
       [submit-fn="{? Function}"]
       uri-context="{&lt; Object}"
       [get-supported-restriction-types-fn="{&lt; Function}"]&gt;
&lt;/restriction-management-edit&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>isDirtyFn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">? Function</a></td><td><div class="restrictionmanagementeditmodule-directive-page restrictionmanagementeditmodule-directive-restrictionmanagementedit-page"><p>Function returning the dirtiness status of the component.</p>
</div></td></tr><tr><td>restriction</td><td><a href="" class="label type-hint type-hint-object">&lt; String</a></td><td><div class="restrictionmanagementeditmodule-directive-page restrictionmanagementeditmodule-directive-restrictionmanagementedit-page"><p>Restriction object.</p>
</div></td></tr><tr><td>submitFn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">? Function</a></td><td><div class="restrictionmanagementeditmodule-directive-page restrictionmanagementeditmodule-directive-restrictionmanagementedit-page"><p>Function defined in outer scope to validate restriction edit.</p>
</div></td></tr><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">&lt; Object</a></td><td><div class="restrictionmanagementeditmodule-directive-page restrictionmanagementeditmodule-directive-restrictionmanagementedit-page"><p>The <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">uriContext</a>, as defined on the resourceLocationModule.</p>
</div></td></tr><tr><td>getSupportedRestrictionTypesFn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt; Function</a></td><td><div class="restrictionmanagementeditmodule-directive-page restrictionmanagementeditmodule-directive-restrictionmanagementedit-page"><p>A function that returns list of restriction types that are supported for editing for a given item.</p>
</div></td></tr></tbody></table></div>
</div>
