<h1><code ng:non-bindable="">restrictionTypesService</code>
<div><span class="hint">service in module <code ng:non-bindable="">restrictionTypesServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="restrictiontypesservicemodule-service-page restrictiontypesservicemodule-service-restrictiontypesservice-page"><p>Service that concerns business logic tasks related to CMS page and component restriction types in the SAP Hybris platform.
This service fetches all restriction types configured on the platform, and caches them for the duration of the session.</p>
</div></div>
<h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/ng.$q">$q</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/languageService">languageService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/pageTypesRestrictionTypesService">pageTypesRestrictionTypesService</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionTypesRestService">restrictionTypesRestService</a></code>
</li>
</ul>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getrestrictiontypefortypecode">getRestrictionTypeForTypeCode(The)</h3>
<div class="getrestrictiontypefortypecode"><h5 id="methods_getrestrictiontypefortypecode_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>The</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictiontypesservicemodule-service-page restrictiontypesservicemodule-service-restrictiontypesservice-getrestrictiontypefortypecode-page"><p>typeCode of a restriction</p>
</div></td></tr></tbody></table><h5 id="methods_getrestrictiontypefortypecode_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="restrictiontypesservicemodule-service-page restrictiontypesservicemodule-service-restrictiontypesservice-getrestrictiontypefortypecode-page"><p>The restriction type object, who&#39;s code property matches the given restriction typeCode property</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getrestrictiontypes">getRestrictionTypes()</h3>
<div class="getrestrictiontypes"><h5 id="methods_getrestrictiontypes_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="restrictiontypesservicemodule-service-page restrictiontypesservicemodule-service-restrictiontypesservice-getrestrictiontypes-page"><p>All restriction types in the system</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getrestrictiontypesbypagetype">getRestrictionTypesByPageType(pageType)</h3>
<div class="getrestrictiontypesbypagetype"><h5 id="methods_getrestrictiontypesbypagetype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>pageType</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictiontypesservicemodule-service-page restrictiontypesservicemodule-service-restrictiontypesservice-getrestrictiontypesbypagetype-page"><p>The page type for which the restrictions types can be applied</p>
</div></td></tr></tbody></table><h5 id="methods_getrestrictiontypesbypagetype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="restrictiontypesservicemodule-service-page restrictiontypesservicemodule-service-restrictiontypesservice-getrestrictiontypesbypagetype-page"><p>All types of restriction that can be applied to the given page type.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
