<h1><code ng:non-bindable="">restrictionManagement</code>
<div><span class="hint">directive in module <code ng:non-bindable="">restrictionPickerModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="restrictionpickermodule-directive-page restrictionpickermodule-directive-restrictionmanagement-page"><p>The restrictionManagement Angular component is designed to be able to create new restrictions, editing existing
restrictions, or search for restrictions, depending on the config provided.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;restriction-management
       config="{&lt; Object}"
       uri-context="{&lt; Object}"
       [submit-fn="{= Function}"]
       [is-dirty-fn="{= Function}"]&gt;
&lt;/restriction-management&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>Config</td><td><a href="" class="label type-hint type-hint-object">&lt; Object</a></td><td><div class="restrictionpickermodule-directive-page restrictionpickermodule-directive-restrictionmanagement-page"><p>Object created by <a href="#/cmssmarteditContainer/restrictionPickerModule.service:restrictionPickerConfig">restrictionPickerConfig</a>.</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>existingRestrictions <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="restrictionpickermodule-directive-page restrictionpickermodule-directive-restrictionmanagement-page"><p>Array of existing restrictions, that will be not be selectable.<br /><i>(only on select mode)</i>.</p>
</div></td></tr><tr><td>mode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionpickermodule-directive-page restrictionpickermodule-directive-restrictionmanagement-page"><p>Constant indicating whether the restriction picker is displayed in edit or select mode.</p>
</div></td></tr><tr><td>restrictionId</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="restrictionpickermodule-directive-page restrictionpickermodule-directive-restrictionmanagement-page"><p>Unique identifier for the processed restriction.</p>
</div></td></tr></tbody></table></td></tr><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">&lt; Object</a></td><td><div class="restrictionpickermodule-directive-page restrictionpickermodule-directive-restrictionmanagement-page"><p>The <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">uriContext</a>, as defined on the resourceLocationModule.</p>
</div></td></tr><tr><td>submitFn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">= Function</a></td><td><div class="restrictionpickermodule-directive-page restrictionpickermodule-directive-restrictionmanagement-page"><p>A function defined internally. After binding is complete, the caller may execute this.
function to trigger the POST/PUT depending on the config. Returns a promise resolving to a restriction object.</p>
</div></td></tr><tr><td>isDirtyFn <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">= Function</a></td><td><div class="restrictionpickermodule-directive-page restrictionpickermodule-directive-restrictionmanagement-page"><p>A function defined internally. After binding is complete, the caller may execute this.
function, which return a boolean True if the generic edit use tor represent the restriction is in a dirty state.</p>
</div></td></tr></tbody></table></div>
</div>
