<h1><code ng:non-bindable="">restrictionsTable</code>
<div><span class="hint">directive in module <code ng:non-bindable="">restrictionsTableModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="restrictionstablemodule-directive-page restrictionstablemodule-directive-restrictionstable-page"><p>Directive that can render a list of restrictions and provides callback functions such as onSelect and onCriteriaSelected. *</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;restrictions-table
       custom-class="{= String}"
       editable="{= Boolean}"
       [on-click-on-edit="{&lt; Function}"]
       on-criteria-selected="{= Function}"
       on-select="{= Function}"
       restrictions="{= Object}"
       [restriction-criteria="{= Object }"]
       [errors="{&lt; Array }"]&gt;
&lt;/restrictions-table&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>customClass</td><td><a href="" class="label type-hint type-hint-object">= String</a></td><td><div class="restrictionstablemodule-directive-page restrictionstablemodule-directive-restrictionstable-page"><p>The name of the CSS class.</p>
</div></td></tr><tr><td>editable</td><td><a href="" class="label type-hint type-hint-object">= Boolean</a></td><td><div class="restrictionstablemodule-directive-page restrictionstablemodule-directive-restrictionstable-page"><p>States whether the restrictions table could be modified.</p>
</div></td></tr><tr><td>onClickOnEdit <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt; Function</a></td><td><div class="restrictionstablemodule-directive-page restrictionstablemodule-directive-restrictionstable-page"><p>Triggers the custom on edit event.</p>
</div></td></tr><tr><td>onCriteriaSelected</td><td><a href="" class="label type-hint type-hint-object">= Function</a></td><td><div class="restrictionstablemodule-directive-page restrictionstablemodule-directive-restrictionstable-page"><p>Function that accepts the selected value of criteria.</p>
</div></td></tr><tr><td>onSelect</td><td><a href="" class="label type-hint type-hint-object">= Function</a></td><td><div class="restrictionstablemodule-directive-page restrictionstablemodule-directive-restrictionstable-page"><p>Triggers the custom on select event.</p>
</div></td></tr><tr><td>restrictions</td><td><a href="" class="label type-hint type-hint-object">= Object</a></td><td><div class="restrictionstablemodule-directive-page restrictionstablemodule-directive-restrictionstable-page"><p>The object of restrictions.</p>
</div></td></tr><tr><td>restrictionCriteria <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">= Object </a></td><td><div class="restrictionstablemodule-directive-page restrictionstablemodule-directive-restrictionstable-page"><p>The object that contains information about criteria.</p>
</div></td></tr><tr><td>errors <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-object">&lt; Array </a></td><td><div class="restrictionstablemodule-directive-page restrictionstablemodule-directive-restrictionstable-page"><p>The list of errors.</p>
</div></td></tr></tbody></table></div>
</div>
