<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/itemManagementModule">itemManagementModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/recompileDomModule">recompileDomModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionManagementEditModule">restrictionManagementEditModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionManagementSelectModule">restrictionManagementSelectModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/yLoDashModule">yLoDashModule</a></code>
</li>
</ul>
<div class="restrictionpickermodule-page"><p>This module defines the <a href="#/cmssmarteditContainer/restrictionPickerModule.directive:restrictionManagement">restrictionManagement</a> component</p>
</div></div>
