<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><h2 id="dependencies">Dependencies</h2>
<ul class="dependencies"><li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/restrictionsRestServiceModule">restrictionsRestServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/structuresRestServiceModule">structuresRestServiceModule</a></code>
</li>
<li><code ng:non-bindable=""><a href="#/cmssmarteditContainer/typeStructureRestServiceModule">typeStructureRestServiceModule</a></code>
</li>
</ul>
<div class="restrictionsservicemodule-page"><p>This module provides the <a href="#/cmssmarteditContainer/restrictionsServiceModule.service:restrictionsService">restrictionsService</a> service used to consolidate business logic for SAP Hybris platform CMS restrictions.</p>
</div></div>
