<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="sebackendvalidationhandlermodule-page"><p>This module provides the seBackendValidationHandler service, which handles standard OCC validation errors received
from the backend.</p>
</div></div>
