<h1><code ng:non-bindable="">seBreadcrumb</code>
<div><span class="hint">directive in module <code ng:non-bindable="">seBreadcrumbModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sebreadcrumbmodule-directive-page sebreadcrumbmodule-directive-sebreadcrumb-page"><p>Directive that will build a navigation breadcrumb for the Node identified by either uuid or uid.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;se-breadcrumb
       [node-uid="{String}"]
       [node-uuid="{String}"]
       uri-context="{Object}"&gt;
&lt;/se-breadcrumb&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>nodeUid <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="sebreadcrumbmodule-directive-page sebreadcrumbmodule-directive-sebreadcrumb-page"><p>the uid of the node the breadcrumb of which we want to build.</p>
</div></td></tr><tr><td>nodeUuid <div><em>(optional)</em></div></td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="sebreadcrumbmodule-directive-page sebreadcrumbmodule-directive-sebreadcrumb-page"><p>the uuid of the node the breadcrumb of which we want to build.</p>
</div></td></tr><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="sebreadcrumbmodule-directive-page sebreadcrumbmodule-directive-sebreadcrumb-page"><p>the <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a> necessary to perform operations.</p>
</div></td></tr></tbody></table></div>
</div>
