<h1><code ng:non-bindable="">seFileObjectValidators</code>
<div><span class="hint">service in module <code ng:non-bindable="">seFileValidationServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sefilevalidationservicemodule-sefileobjectvalidators-page"><p>A list of file validators, that includes a validator for file-size constraints and a validator for file-type
constraints.</p>
</div></div>
</div>
