<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="sefilevalidationservicemodule-page"><p>This module provides the seFileValidationService service, which validates if a specified file meets the required file
type and file size constraints of SAP Hybris Commerce.</p>
</div></div>
