<h1><code ng:non-bindable="">seFileValidationServiceConstants</code>
<div><span class="hint">service in module <code ng:non-bindable="">seFileValidationServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="sefilevalidationservicemodule-sefilevalidationserviceconstants-page"><p>The constants provided by the file validation service.</p>
<p><b>ACCEPTED_FILE_TYPES</b>: A list of file types supported by the platform.
<b>MAX_FILE_SIZE_IN_BYTES</b>: The maximum size, in bytes, for an uploaded file.
<b>I18N_KEYS</b>: A map of all the internationalization keys used by the file validation service.</p>
</div></div>
</div>
