<h1><code ng:non-bindable="">selectPageTemplate</code>
<div><span class="hint">directive in module <code ng:non-bindable="">selectPageTemplateModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="selectpagetemplatemodule-directive-page selectpagetemplatemodule-directive-selectpagetemplate-page"><p>Displays a list of all CMS page templates in the system, and allows the user to select one, triggering the on-template-selected callback.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;select-page-template
       on-template-selected="{Function}"&gt;
&lt;/select-page-template&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>onTemplateSelected</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="selectpagetemplatemodule-directive-page selectpagetemplatemodule-directive-selectpagetemplate-page"><p>[Required] A callback function that is called when a template is selected from the list.
The function is called with a single argument, an object representing the selected page template.</p>
</div></td></tr></tbody></table></div>
</div>
