<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="selectpagetypemodule-page"><p>#selectPageTypeModule</p>
<p>The selectPageTypeModule module contains the <a href="#/cmssmarteditContainer/selectPageTypeModule.directive:selectPageType">selectPageType</a> component</p>
</div></div>
