<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="selecttargetcatalogversionmodule-page"><p>#selectTargetCatalogVersionModule</p>
<p>The selectTargetCatalogVersionModule module contains the <a href="#/cmssmarteditContainer/selectTargetCatalogVersionModule.directive:selectTargetCatalogVersion">selectTargetCatalogVersion</a> component</p>
</div></div>
