<h1><code ng:non-bindable="">selectPageType</code>
<div><span class="hint">directive in module <code ng:non-bindable="">selectPageTypeModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="selectpagetypemodule-directive-page selectpagetypemodule-directive-selectpagetype-page"><p>Displays a list of all CMS page types in the system, and allows the user to select one, triggering the on-type-selected callback.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;select-page-type
       on-type-selected="{Function}"&gt;
&lt;/select-page-type&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>onTypeSelected</td><td><a href="" class="label type-hint type-hint-function">Function</a></td><td><div class="selectpagetypemodule-directive-page selectpagetypemodule-directive-selectpagetype-page"><p>[Required] A callback function that is called when a type is selected from the list.
The function is called with a single argument, an object representing the selected page type.</p>
</div></td></tr></tbody></table></div>
</div>
