<h1><code ng:non-bindable="">seMediaResource</code>
<div><span class="hint">service in module <code ng:non-bindable="">seMediaServiceModule</code>
</span>
</div>
</h1>
<div><fieldset class="deprecated"><legend>Deprecated API</legend>
since 6.4, use mediaService</fieldset>
<h2 id="description">Description</h2>
<div class="description"><div class="semediaservicemodule-semediaresource-page"><p>A <a href="https://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> that makes REST calls to the default
CMS catalog media API. It supports HTTP GET and POST methods against this API. The GET method is used to retrieve a collection of media.</p>
<p>The POST methods transform the POJO into a <a href="https://developer.mozilla.org/en/docs/Web/API/FormData">FormData</a>
object before the request is made to the API. This transformation is required for file uploads that use the
Content-Type &#39;multipart/form-data&#39;.</p>
</div></div>
</div>
