<h1><code ng:non-bindable="">seMediaResourceService</code>
<div><span class="hint">service in module <code ng:non-bindable="">seMediaServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="semediaservicemodule-semediaresourceservice-page"><p>This service provides an interface to the <a href="https://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> that makes REST 
calls to the default CMS catalog media API. It supports HTTP GET method returning against this API. 
The GET method is used to retrieve a single media.</p>
</div></div>
</div>
