<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><fieldset class="deprecated"><legend>Deprecated API</legend>
since 6.4, use mediaServiceModule</fieldset>
<div class="semediaservicemodule-page"><p>The media service module provides a service to create an image file for a catalog through AJAX calls. This module
uses a dedicated transformed $resource that posts a multipart form data in the request.</p>
</div></div>
