<h1><code ng:non-bindable="">seMediaService</code>
<div><span class="hint">service in module <code ng:non-bindable="">seMediaServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="semediaservicemodule-semediaservice-page"><p>This service provides an interface to the <a href="https://docs.angularjs.org/api/ngResource/service/$resource">$resource</a> provided by the <a href="#/cmssmarteditContainer/seMediaServiceModule.seMediaResource">seMediaResource</a> service and 
the <a href="#/cmssmarteditContainer/seMediaServiceModule.seMediaResourceService">seMediaResourceService</a> service. It provides the
functionality to upload images and to fetch images by code for a specific catalog-catalog version combination.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getmediabycode">getMediaByCode(code)</h3>
<div class="getmediabycode"><div class="semediaservicemodule-semediaservice-getmediabycode-page"><p>Fetches the media for the selected catalog corresponding to the specified code</p>
</div><h5 id="methods_getmediabycode_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>code</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="semediaservicemodule-semediaservice-getmediabycode-page"><p>A unique code identifier that corresponds to the media as it exists in the backend.</p>
</div></td></tr></tbody></table><h5 id="methods_getmediabycode_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="semediaservicemodule-semediaservice-getmediabycode-page"><p>If request is successful, it returns a promise that resolves with the media POJO. If the
request fails, it resolves with errors from the backend.</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_uploadmedia">uploadMedia(media)</h3>
<div class="uploadmedia"><div class="semediaservicemodule-semediaservice-uploadmedia-page"><p>Uploads the media to the catalog.</p>
</div><h5 id="methods_uploadmedia_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>media</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="semediaservicemodule-semediaservice-uploadmedia-page"><p>The media to be uploaded</p>
</div><table><thead><tr><th>Property</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>code</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="semediaservicemodule-semediaservice-uploadmedia-page"><p>A unique code identifier for the media</p>
</div></td></tr><tr><td>description</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="semediaservicemodule-semediaservice-uploadmedia-page"><p>A description of the media</p>
</div></td></tr><tr><td>altText</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="semediaservicemodule-semediaservice-uploadmedia-page"><p>An alternate text to be shown for the media</p>
</div></td></tr><tr><td>file</td><td><a href="" class="label type-hint type-hint-file">File</a></td><td><div class="semediaservicemodule-semediaservice-uploadmedia-page"><p>The <a href="https://developer.mozilla.org/en/docs/Web/API/File">File</a> object to be
uploaded.</p>
</div></td></tr></tbody></table></td></tr></tbody></table><h5 id="methods_uploadmedia_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="semediaservicemodule-semediaservice-uploadmedia-page"><p>If request is successful, it returns a promise that resolves with the media POJO. If the
request fails, it resolves with errors from the backend.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
