<h1><code ng:non-bindable="">seNavigationPicker</code>
<div><span class="hint">directive in module <code ng:non-bindable="">seNavigationNodePickerModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="senavigationnodepickermodule-directive-page senavigationnodepickermodule-directive-senavigationpicker-page"><p>Directive that will build a navigation node picker and assign the uid of the selected node to model[qualifier].</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;se-navigation-picker
       uri-context="{Object}"
       model="{Object}"
       qualifier="{String}"&gt;
&lt;/se-navigation-picker&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="senavigationnodepickermodule-directive-page senavigationnodepickermodule-directive-senavigationpicker-page"><p>the <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">UriContext</a> necessary to perform operations.</p>
</div></td></tr><tr><td>model</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="senavigationnodepickermodule-directive-page senavigationnodepickermodule-directive-senavigationpicker-page"><p>the model a property a property of which will be set to the selected node uid.</p>
</div></td></tr><tr><td>qualifier</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="senavigationnodepickermodule-directive-page senavigationnodepickermodule-directive-senavigationpicker-page"><p>the name of the model property that will be set to the selected node uid.</p>
</div></td></tr></tbody></table></div>
</div>
