<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="syncpagemodalservicemodule-page"><h2 id="the-syncpagemodalservicemodule">The syncPageModalServiceModule</h2>
<p>The page synchronization modal service module provides a service that allows opening an synchronization modal for a given page. The synchronization modal contains a 
<a href="#/cmssmarteditContainer/synchronizationPanelModule.component:synchronizationPanel">synchronizationPanelModule.component:synchronizationPanel</a>.</p>
</div></div>
