<h1><code ng:non-bindable="">CATALOG_SYNC_INTERVAL_IN_MILLISECONDS</code>
<div><span class="hint">object in module <code ng:non-bindable="">synchronizationServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="synchronizationservicemodule-object-page synchronizationservicemodule-object-catalog-sync-interval-in-milliseconds-page"><p>This object defines an injectable Angular constant that determines the frequency to update catalog synchronization information. 
Value given in milliseconds. </p>
</div></div>
</div>
