<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="synchronizecatalogmodule-page"><p>The synchronization module contains the service and the directives necessary 
to perform catalog synchronization.</p>
<p>The <a href="#/cmssmarteditContainer/synchronizationServiceModule.service:synchronizationService">synchronizationService</a> 
calls backend API in order to get synchronization status or trigger a catalog synchronaization.</p>
<p>The <a href="#/cmssmarteditContainer/synchronizationServiceModule.directive:synchronizeCatalog">synchronizeCatalog</a> directive is used to display
the synchronization area in the landing page for each store.</p>
</div></div>
