<h1><code ng:non-bindable="">syncPageModalService</code>
<div><span class="hint">service in module <code ng:non-bindable="">syncPageModalServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="syncpagemodalservicemodule-service-page syncpagemodalservicemodule-service-syncpagemodalservice-page"><p>Convenience service to open n synchronization modal window for a given page&#39;s data.</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_open">open(page, uriContext)</h3>
<div class="open"><div class="pageeditormodalservicemodule-service-page pageeditormodalservicemodule-service-pageeditormodalservice-open-page"><p>Uses the <a href="#/cmssmarteditContainer/modalService.open">modalService</a> to open a modal.</p>
<p>The editor modal is wired with a save and cancel button.</p>
<p>The content of the synchronization modal is the <a href="#/cmssmarteditContainer/synchronizationPanelModule.component:synchronizationPanel">synchronizationPanelModule.component:synchronizationPanel</a>.</p>
</div><h5 id="methods_open_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>page</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pageeditormodalservicemodule-service-page pageeditormodalservicemodule-service-pageeditormodalservice-open-page"><p>The data associated to a page as defined in the platform.</p>
</div></td></tr><tr><td>uriContext</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="pageeditormodalservicemodule-service-page pageeditormodalservicemodule-service-pageeditormodalservice-open-page"><p>A <a href="#/cmssmarteditContainer/resourceLocationsModule.object:UriContext">uriContext</a></p>
</div></td></tr></tbody></table><h5 id="methods_open_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="pageeditormodalservicemodule-service-page pageeditormodalservicemodule-service-pageeditormodalservice-open-page"><p>A promise that resolves to the data returned by the modal when it is closed.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
