<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="synchronizationconstantsmodule-page"><p>Contains various constants used by the synchronization modules.</p>
<ul>
<li><a href="#/cmssmarteditContainer/synchronizationConstantsModule.object:SYNCHRONIZATION_STATUSES">SYNCHRONIZATION_STATUSES</a></li>
<li><a href="#/cmssmarteditContainer/synchronizationConstantsModule.object:SYNCHRONIZATION_POLLING">SYNCHRONIZATION_POLLING</a></li>
</ul>
</div></div>
