<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="typestructurerestservicemodule-page"><h2 id="the-typestructurerestservicemodule">The typeStructureRestServiceModule</h2>
<p>The typeStructureRestServiceModule provides REST services for the CMS page structure</p>
</div></div>
