<h1><code ng:non-bindable="">typeStructureRestService</code>
<div><span class="hint">service in module <code ng:non-bindable="">typeStructureRestServiceModule</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-page"><p>The typeStructureRestService provides functionality for fetching page structures</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_getstructurebytype">getStructureByType(typeCode, options)</h3>
<div class="getstructurebytype"><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructurebytype-page"><p>Fetches the type structure (fields) for CMS pages for a give type</p>
</div><h5 id="methods_getstructurebytype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>typeCode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructurebytype-page"><p>The type code of type structure to be fetched</p>
</div></td></tr><tr><td>options</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructurebytype-page"><p>an optional object to control which part of the structure is being returned</p>
</div> <p><em>(default: {})</em></p></td></tr></tbody></table><h5 id="methods_getstructurebytype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructurebytype-page"><p>An array of fields, representing the type structure for the generic editor</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getstructurebytype">getStructureByType(typeCode, mode, options)</h3>
<div class="getstructurebytype"><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructurebytype-page"><p>Fetches the type structure (fields) for CMS pages for a give type</p>
</div><h5 id="methods_getstructurebytype_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>typeCode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructurebytype-page"><p>The type code of type structure to be fetched</p>
</div></td></tr><tr><td>mode</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructurebytype-page"><p>The mode to fetch the structure</p>
</div></td></tr><tr><td>options</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructurebytype-page"><p>an optional object to control which part of the structure is being returned</p>
</div> <p><em>(default: {})</em></p></td></tr></tbody></table><h5 id="methods_getstructurebytype_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructurebytype-page"><p>An array of fields, representing the type structure for the generic editor</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getstructuresbycategory">getStructuresByCategory(category)</h3>
<div class="getstructuresbycategory"><h5 id="methods_getstructuresbycategory_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>category</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructuresbycategory-page"><p>The componentType category of structures you wish to retrieve.
Ex: &#39;RESTRICTION&#39;, or &#39;COMPONENT&#39;</p>
</div></td></tr></tbody></table><h5 id="methods_getstructuresbycategory_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="typestructurerestservicemodule-service-page typestructurerestservicemodule-service-typestructurerestservice-getstructuresbycategory-page"><p>An array of supported structures supported in this category.</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
