@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 



$date-editor__box--bg-color: $white;
$date-editor__box--border-color: $grey__default--900;
$date-editor__box--focus-color: $blue__default;

$date-editor__invalid-box--border-color: $validation__error--color; 

