@import "../support/_workflows-mixins.scss";

.yw-workflows-footer {
	border: none;
	border-top: $_workflows__footer--border-top;
	padding: $_workflows__footer--padding;
	border-radius: 0;

	> .z-label {
		margin-top: $_workflows__footer-plus-label--margin-top;
		display: block;
		color: inherit;
	}
	.yw-workflows-droparea-plus-button {
		&,
		&:focus {
			border-color: $_workflows__footer-plus--color;
		}
		&:hover,
		&:active {
			border-color: $_workflows__drop-area--hover-color;
		}
	}
	&.z-drag-matching-drop-target.z-drag-over {
		border-top: $_workflows__footer--border-top;
	}
}