<div class="perso__filter-layout customizationsStatusDropdown" ng-class="ctrl.isCustomizationsEmpty() ? 'perso__filter-layout--no-results':''">
    <ui-select id="dropdownCustomizationsStatus" ng-model="ctrl.selectedStatus" theme="select2" title="" search-enabled="false" on-select="ctrl.setSelectedStatuses({value: ctrl.selectedStatus.modelStatuses || []});ctrl.clearCustomizeContext();" uis-open-close="ctrl.statusCustomizationsDropdownOpenClose(isOpen)">
        <ui-select-match>
            <span ng-bind="$select.selected.text | translate"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in ctrl.statuses" position="down">
            <span ng-bind="item.text | translate"></span>
        </ui-select-choices>
    </ui-select>
</div>