@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 



$_custommenu__actiondots-icon--size: 24px;
$_custommenu__actiondots-cell--width: $editor-defaults__inline-box--height;
$_custommenu__actiondots-button--padding-x: floor(($_custommenu__actiondots-cell--width - $_custommenu__actiondots-icon--size)/2);
$_custommenu__actiondots-icon--background-image: url("../img/default/dots.png");
$_custommenu__actiondots-icon--background: $_custommenu__actiondots-icon--background-image no-repeat 0 0;
$_custommenu__actiondots-button--hover-bg-position: 0 (-$_custommenu__actiondots-icon--size);
$_custommenu__actiondots-button--focus-bg-position: 0 (-2* $_custommenu__actiondots-icon--size);
$_custommenu__actiondots-button-disabled--bg-position: 0 (-3* $_custommenu__actiondots-icon--size);
$_custommenu__actiondots-button-disabled--opacity: 0.5;