@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_refineby-variables.scss";/*================================
    Refine By Checkboxes
================================*/


.yw-refineby {
    .z-checkbox {
        display: block;
        padding-left: $refineby__checkbox--padding-left;

        label {
            vertical-align: top;

            &:before {
                width: $refineby__checkbox-label-after--width;
                height: $refineby__checkbox-label-after--height;
                margin-top: $refineby__checkbox-label-after--margin-top;
                top: 0;
                line-height: inherit;
            }
        }

        input:checked + label:before {
            background-size: $refineby__checkbox-label-before--background-size;
        }
    }
}
