.yw-dnd-config-popup {
  width: 260px;
  margin-top: 7px;
  padding: 10px;
  overflow: visible; }
  .yw-dnd-config-popup:after, .yw-dnd-config-popup:before {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: -14px; }
  .yw-dnd-config-popup:before {
    right: 5px;
    border: 8px solid transparent;
    border-width: 7px 10px;
    border-bottom-color: #c4cedc;
    opacity: 0.7; }
  .yw-dnd-config-popup:after {
    right: 6px;
    border: 9px solid transparent;
    border-width: 7px 9px;
    border-bottom-color: #ffffff; }

.yw-dnd-config-main-info.z-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px; }

.yw-dnd-config-additional-info.z-label {
  display: block;
  font-size: 12px;
  color: #7f90a5;
  padding-top: 12px;
  margin-top: 12px;
  border-top: 1px solid #d2dae4; }
