@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 

/*================================
    Explorer Tree (Variables)
================================*/


$explorertree__vfiletree-icon--width: 10px;
$explorertree__vfiletree-icon-adjustment--margin-x: 3px;
$explorertree__vfiletree-item-indent-spacer--width: 10px;
$explorertree__vfiletree-item-label--padding: 3px 0 0 12px;
$explorertree__vfiletree-row--padding-y: 8px;
$explorertree__vfiletree-row--border-color: $grey__light--800;
$explorertree__vfiletree-row-cell--border: $boxes--border__thin solid $explorertree__vfiletree-row--border-color;
$explorertree__vfiletree-treebody--border: $boxes--border__thin solid $explorertree__vfiletree-row--border-color;
$explorertree__vfiletree-row-selected--color: $blue__default;

$explorertree__default--bg-color: $black__blueish--200;
$explorertree-light__default--bg-color: $white;

$explorertree__row--bg-color: $black;
$explorertree__row-l1--bg-color: transparent;
$explorertree__row-l2--bg-color: $black__blueish--100;
$explorertree__row-l3--bg-color: darken($black__blueish--100, 3%);

$explorertree-light__row--bg-color: $grey__light--100; // darken($grey__light--1300, 6%); 
$explorertree-light__row-l1--bg-color: transparent; //$grey__light--500;
$explorertree-light__row-l2--bg-color: $grey__light--1200; //$grey__light--1300;
$explorertree-light__row-l3--bg-color: mix($grey__light--1200, $grey__light--1100, 50%); // darken($grey__light--1300, 3%);

$explorertree-light__default-label--color: $black__blueish--200;

$explorertree__treerow-default--color: $white;
$explorertree__treerow-hover--color: $blue__greyish--200;
$explorertree__treerow-selected--color: $blue__default;
$explorertree__treerow-focus--color: $blue__default--200;
$explorertree__treerow-highlighted--color: $blue__default;
$explorertree__treerow-hover--bg-color: transparent;
$explorertree__treerow-border--color: $grey__light--1100;
$explorertree__treerow-dragged--background: $blue__light--200;
$explorertree__treerow-dragged--color: $blue__default--100;

$explorertree__treecell-padding--y: $container-spacing-default__semi-third;
$explorertree__treecell-arrow-color: $blue__greyish--400;


$explorertree-light__row--color: $explorertree-light__default-label--color;
$explorertree-light__row--hover-color: $explorertree-light__default-label--color;

$explorertree__item--padding: 0 0 0 20px;
$explorertree__item-icon--size: 16px;
$explorertree__item-icon--margin-top: 6px;
$explorertree__item-icon--margin-right: 13px;
$explorertree__item-icon--left: -$explorertree__vfiletree-icon--width; // -(floor($explorertree__item-icon--size/2));

$explorerTree__toolbar--border-color: $grey__light--700;
$explorerTree__toolbar--border-bottom: $boxes--border__thin solid $explorerTree__toolbar--border-color;
$explorerTree__toolbar-actions--padding: 10px;

$explorerTree__toolbar-action-selected-icon--border-width: $editor-defaults__action-button--border-width;
$explorerTree__toolbar-action-selected-icon--border-color: $editor-defaults__action-button-hover--border-color;

$explorertree__tree-filter-div--padding: 20px;
$explorertree__tree-filter-input--color: $white;
$explorertree__tree-filter-input--bg-color: transparent;
$explorertree__tree-filter-input--border-color: rgba($white, 0.5);
$explorertree__tree-filter-input-focus--color: $black__blueish--100;
$explorertree__tree-filter-input-focus--bg-color: rgba($white, .85);
$explorertree__tree-filter-input-focus--border-color: $white;

$explorerTree__toolbar--border-color: $grey__light--800;
$explorerTree__toolbar--border-bottom: 1px solid $explorerTree__toolbar--border-color;
$explorerTree__toolbar-actions--padding: floor(($globals__toolbar--height - $toolbar__vertical-centering-base--height) / 2);

$explorertree-light__default--bg-color: $white;
$explorertree-light__default-label--color: $black__blueish--200;

$explorertree-light__row--bg-color: $grey__light--1100; //for the deepar levels effectively
$explorertree-light__row-l1--bg-color: transparent; //$grey__light--500;
$explorertree-light__row-l2--bg-color: $grey__light--1200; //$grey__light--900;
$explorertree-light__row-l3--bg-color: mix($grey__light--1200, $grey__light--1100, 50%);

$explorertree-light__row--color: $grey__default--500; //$explorertree-light__label--color;
$explorertree-light__row--hover-color: $explorertree-light__default-label--color;

$explorertree-light__filter-input--color: $grey__light--800;
$explorertree-light__filter-input-placeholder--color: $black;
$explorertree-light__filter-input--border-color: $grey__light--800;
$explorertree-light__filter-input--bg-color: $white;
$explorertree-light__filter-input-focus--color: $black__blueish--100;
$explorertree-light__filter-input-focus--border-color: $blue__default;
$explorertree-light__filter-input-focus--bg-color: $white;

$explorertree-light__row-first--box-shadow: inset 0px 2px 1px -1px $grey__light--1100;
