.yas-navigationcontext {
  padding: 0 30px;
  background-color: transparent; }
  .yas-navigationcontext-element {
    padding: 0 0 15px;
    margin: 0; }
    .yas-navigationcontext-element:first-child {
      padding-top: 10px; }
    .yas-navigationcontext-element .z-label {
      margin-bottom: 10px;
      display: inline-block;
      color: #acacac; }
    .yas-navigationcontext-element .z-combobox-input,
    .yas-navigationcontext-element .z-div .z-bandbox-input {
      color: #ffffff;
      background: transparent; }
    .yas-navigationcontext-element .z-combobox-input {
      border-right-width: 1px; }
    .yas-navigationcontext-element .z-combobox-button,
    .yas-navigationcontext-element .z-div .z-bandbox-button {
      background: transparent;
      width: 38px; }
      .yas-navigationcontext-element .z-combobox-button .z-combobox-icon,
      .yas-navigationcontext-element .z-combobox-button .z-bandbox-icon,
      .yas-navigationcontext-element .z-div .z-bandbox-button .z-combobox-icon,
      .yas-navigationcontext-element .z-div .z-bandbox-button .z-bandbox-icon {
        color: #ffffff;
        width: 100%; }
      .yas-navigationcontext-element .z-combobox-button:hover .z-combobox-icon,
      .yas-navigationcontext-element .z-combobox-button:hover .z-bandbox-icon,
      .yas-navigationcontext-element .z-div .z-bandbox-button:hover .z-combobox-icon,
      .yas-navigationcontext-element .z-div .z-bandbox-button:hover .z-bandbox-icon {
        color: #0486e0; }
  .yas-navigationcontext .ye-default-reference-editor-selected-listbox .z-listbox-body {
    background: transparent; }
    .yas-navigationcontext .ye-default-reference-editor-selected-listbox .z-listbox-body .z-listitem {
      background: transparent; }
      .yas-navigationcontext .ye-default-reference-editor-selected-listbox .z-listbox-body .z-listitem .ye-default-reference-editor-selected-item-container {
        background: transparent; }
      .yas-navigationcontext .ye-default-reference-editor-selected-listbox .z-listbox-body .z-listitem .ye-default-reference-editor-selected-item-label {
        color: #ffffff; }
