<!DOCTYPE html>
<html>

<head>
    <base href="../../../../../" />

    <!--3rd prty libs-->
    <script src="web/webroot/static-resources/dist/smartedit/js/thirdparties.js"></script>
    <script src="web/webroot/static-resources/thirdparties/ckeditor/ckeditor.js"></script>

    <!-- 3rd party css -->
    <link rel="stylesheet"
        href="web/webroot/static-resources/dist/smartedit/css/outer-styling.css">
    <link rel="stylesheet"
        href="web/webroot/static-resources/thirdparties/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet"
        href="web/webroot/static-resources/thirdparties/select2/select2.css">
    <link rel="stylesheet"
        href="web/webroot/static-resources/thirdparties/selectize/dist/css/selectize.default.css">
    <link rel="stylesheet"
        href="smarteditcontainerJSTests/e2e/genericEditor/common/common.css" />


    <script src="../../../web/webroot/static-resources/smarteditloader/js/smarteditloader.js"></script>
    <script src="../../../web/webroot/static-resources/smarteditcontainer/js/smarteditcontainer.js"></script>
    <script src="smarteditcontainerJSTests/e2e/clientPagedList/clientPagedListApp.js"></script>


    <style>
    .visited {
        color: purple;
        font-style: italic;
    }
    </style>

    <script>
    var urlParams = new URLSearchParams(window.location.search);
    window.sessionStorage.setItem("PERSPECTIVE_SERVICE_RESULT", urlParams.get('perspectiveServiceResult'));
    </script>

</head>

<body data-ng-app="clientPageListAppModule">

    <div ng-controller="defaultController as defaultCtl">

        <div class="page-list-search form-group">
            <input type="text"
                class="form-control"
                data-ng-model="defaultCtl.query.value"
                name="query">
        </div>

        <client-paged-list items="defaultCtl.items"
            keys="[{
                            property:'name',
                            i18n:'pagelist.headerpagetitle'
                            },{
                            property:'uid',
                            i18n:'pagelist.headerpageid'
                            },{
                            property:'typeCode',
                            i18n:'pagelist.headerpagetype'
                            },{
                            property:'template',
                            i18n:'pagelist.headerpagetemplate'
                            }]"
            renderers="defaultCtl.renderers"
            injected-context="defaultCtl.injectedContext"
            sort-by="'name'"
            reversed="false"
            items-per-page="10"
            query="defaultCtl.query.value"
            display-count="true"
            dropdown-items="defaultCtl.dropdownItems"
            data-item-filter-keys="defaultCtl.searchKeys"></client-paged-list>


    </div>

</body>

</html>