@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_cockpit-variables.scss";
@import "../support/_cockpit-mixins.scss";/*================================
    z-Popup
================================*/
// Defintions on Standard-Popups & contained Elements (Basig ones)

// Status:
// - all necessary changes added and code mostly cleaned
// - ToDo: add/define variables & optimize code




.z-popup {
    background-color: $window__popup--bg-color;
    border: $window__popup--border;
    border-radius: $window__popup--border-radius;
    box-shadow: $window__popup--box-shadow;

    &-content {
        //overwrite zk styling
        color: $window__popup-content--color;
        padding: $window__popup-content--padding;

        .yw-desc-tooltip & {
            padding: $window__popup-content-tooltip--padding;
        }
    }

    &-plain {
        box-shadow: $window__popup-plain--box-shadow;
    }

    .z-popup-cl {
        background: $window__popup--bg-color;
    }
    &.z-popup-open.ye-list-toolbar-popup-add {
        width: $window__toolbar-list-add-popup--width;
    }
}

.z-combobox-shadow,
.z-bandbox-shadow {
    box-shadow: $window__box-popup-shadow--box-shadow;
    border-radius: $window__box-popup-shadow--border-radius;
}

// z-menupopup
// ====================
//

.z-menupopup, .z-menu {
    border: none;
    padding: 0;
}

.z-menupopup-content {
    background-color: $navigation-popup__menu--bg-color;
    
    .z-menu-content:hover, 
    .z-menu-content:hover .z-menu-icon, 
    .z-menuitem-content:hover {
        background-color: $navigation-popup__menu-item--hover-bg-color;
    }
    
    .z-menu a.z-menu-content,
    .z-menuitem a.z-menuitem-content,
    .z-menu-icon {
        color: $navigation-popup__menu-item--color;
    }

    .z-menu:hover,
    .z-menuitem:hover {
        background-color: $navigation-popup__menu--bg-color;
    }

    /* zk7-revised-TODO */
    .z-menu:hover .z-menuitem,
    .z-menuitem:hover .z-menu {
        &-cl,
        &-cr,
        &-cm {
            background-color: $navigation-popup__menu--bg-color;
        }
    }
}

.z-menupopup, .z-menu, .z-menuitem {
    background-color: $navigation-popup__menu--bg-color !important;
}

div.z-menupopup-separator {
    display: none;
}

li.z-menuseparator {
    margin-left: 26px;
    margin-right: 10px;
}

.yw-pointer-menupopup {
    overflow: visible;
    background-color: $_navigation-popup__pointer-menu--bg-color;
    border: $_navigation-popup__pointer-menu-pointer--border;
    box-shadow: $_navigation-popup__pointer-menu-pointer-shadow--box-shadow;

    &:before {
        @include _pointingPopupDefaults(-1);
    }
    &:after {
        @include _pointingPopupDefaults();
    }
    &.z-menupopup, 
    .z-menu, 
    .z-menuitem {
        background-color: $_navigation-popup__pointer-menu--bg-color !important;
        
    }
    .z-menuitem {
        border-top: $_navigation-popup__pointer-menu-pointer-menu-item--border;
        &:first-child {
            border-top-width: 0;
        }
    }

    
    .z-menupopup-content {
        a.z-menu-content, 
        a.z-menuitem-content,
        .z-menu-icon {
            color: $_navigation-popup__pointer-menu-item--color;
        }

        a.z-menu-content, 
        a.z-menuitem-content {
            &:hover {
                color: $_navigation-popup__pointer-menu-item--hover-color;
                background-color: $_navigation-popup__pointer-menu--bg-color !important;
                text-decoration: underline;
                
                .z-menu-icon {
                    color: $_navigation-popup__pointer-menu-item--hover-color;
                    background-color: inherit !important;
                }
            }
        }
    }
    .z-menu-content, 
    .z-menuitem-content,
    .z-menupopup-content a.z-menu-content,
    .z-menupopup-content a.z-menuitem-content {
        &[disabled]{
            &,
            &:hover {
                color: $_navigation-popup__pointer-menu-item-disabled--color;
                background-color: transparent !important;
                text-decoration: none;
                cursor: default;
            }
        }
    }
    ~ .yw-pointer-menupopup-secondary {
        margin-top: $_navigation-popup__pointer-menu-secondary--margin-top;
    }
    &-top,
    &-top-right {
        &:before {
            top: $_navigation-popup__pointer-menu-pointer-shadow--spacing;
            left: $_navigation-popup__pointer-menu-pointer--indent;
            margin-left: $_navigation-popup__pointer-menu-pointer-shadow--margin;
            margin-right: $_navigation-popup__pointer-menu-pointer-shadow--margin;
            border-width: $_navigation-popup__pointer-menu-pointer-shadow--border-width;
            left: $_navigation-popup__pointer-menu-pointer--indent;
            border-bottom-color: $_navigation-popup__pointer-menu-pointer--border-color;
        }
        &:after {   
            top: $_navigation-popup__pointer-menu-pointer--spacing;
            left: $_navigation-popup__pointer-menu-pointer--indent;
            border-width: $_navigation-popup__pointer-menu-pointer--border-width;
            border-bottom-color: $_navigation-popup__pointer-menu--bg-color;
        }
    }
    &-top-right {
        &:before,
        &:after {
            left: auto;
            right: $_navigation-popup__pointer-menu-pointer--indent;
        }
    }
    &-right {
        &:before {
            right: $_navigation-popup__pointer-menu-pointer-shadow--spacing;
            top: $_navigation-popup__pointer-menu-pointer-side--indent;
            margin-top: $_navigation-popup__pointer-menu-pointer-shadow--margin;
            border-width: $_navigation-popup__pointer-menu-pointer-side-shadow--border-width;
            border-left-color: $_navigation-popup__pointer-menu-pointer--border-color;
        }
        &:after{
            right: $_navigation-popup__pointer-menu-pointer--spacing;
            top: $_navigation-popup__pointer-menu-pointer-side--indent;
            border-width: $_navigation-popup__pointer-menu-pointer-side--border-width;
            border-left-color: $_navigation-popup__pointer-menu--bg-color;
        }
    }
    &-left {
        &:before {
            left: $_navigation-popup__pointer-menu-pointer-shadow--spacing;
            top: $_navigation-popup__pointer-menu-pointer-side--indent;
            margin-top: $_navigation-popup__pointer-menu-pointer-shadow--margin;
            border-width: $_navigation-popup__pointer-menu-pointer-side-shadow--border-width;
            left: $_navigation-popup__pointer-menu-pointer--indent;
            border-right-color: $_navigation-popup__pointer-menu-pointer--border-color;
        }
        &:after{
            left: $_navigation-popup__pointer-menu-pointer--spacing;
            top: $_navigation-popup__pointer-menu-pointer-side--indent;
            border-width: $_navigation-popup__pointer-menu-pointer-side--border-width;
            border-right-color: $_navigation-popup__pointer-menu--bg-color;
        }
    }
}


// Popup Bandbox / Combobox
// ====================
//

.ye-inline-editor-row-popup {
    border: 1px solid #6f7c91;
    box-shadow: $window__box-popup-shadow--box-shadow;
    border-radius: $window__box-popup-shadow--border-radius;
    width: 160px;
    
    &:after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        top: -1px;
        left: 156px;
        box-sizing: border-box;
        background-color: $window__popup--bg-color;
        transform-origin: 0 0;
        transform: rotate(135deg);
        border: 0 none;
        border-left: 1px solid #6f7c91;
        border-bottom: 1px solid #6f7c91;
        box-shadow: $window__box-popup-shadow--box-shadow;
    }
    .z-menuitem {
        background: transparent !important;
        &:last-child {
            a.z-menuitem-content {
                border-bottom: 0 none;
            }
        }
        &-image {
            display: none;
        }
    }   
}


.z-datebox-popup{
    border-color: $editor-defaults__box--border-color;
    box-shadow: -2px 2px 0 $editor-defaults__box--shadow-color;

    .z-calendar + .z-timebox{
        margin: $editor-defaults__locedit-options--margin-y $editor-defaults__locedit-options--margin-x;
        display: block;
    }
}

.z-combobox-popup, 
.z-bandbox-popup {
    //height for bandbox-popup added at the moment (should not be) - remove if fixed (or merge-conflict related)
    height: $selectbox__combobox-comboitem--height;
    max-height: $selectbox__combobox-comboitem--max-height;
    font-size: $selectbox__combobox-comboitem--font-size;
}

.ye-validation-results-popup.ye-row-validation-result-popup.y-popup{
    margin-top: 0px;
}