<?xml version="1.0" encoding="UTF-8"?>
<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:w="http://www.zkoss.org/2005/zk/client"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.hybris.com/schema/cockpitng/zul/zul.xsd">
	<groupbox id="coupons-abstractorderCouponsTab" sclass="yw-editorarea-tabbox-tabpanels-tabpanel-groupbox  yrb-tabpanel-groupbox-promotions  yrb-firedpromotions-product">
		<caption sclass="yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption">
			<label value="${c:l('hmc.appliedcoupons.title')}"/>
			<button sclass="yw-expandCollapse" />
		</caption>
		<div sclass="appliedCoupons">
			<grid>
				<columns>
					<column label="${c:l('hmc.appliedcoupons.table.header.code')}" sort="auto" />
					<column label="${c:l('hmc.appliedcoupons.table.header.name')}" sort="auto" />
				</columns>
				<rows>
					<row forEach="${arg.appliedCoupons}">
						<label value="${each.code}" />
						<label value="${each.name}" />
					</row>
				</rows>
			</grid>
		</div>
	</groupbox>
</zk>
