@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "scss/support/_listlayout_variables.scss";

.yw-listLayout {
	&-widget {
		overflow: auto;
		text-align: center;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;		
	}
	&-container {
		padding-bottom: $_listlayout__list-container--padding-bottom;
		max-width: $_listlayout__list-container--max-width;
		display: block;
		box-sizing: border-box;
		text-align: left;
		width: auto;		
		height: auto;
		margin: 0 auto;

		> .widget_children_list > .widget_cnt {
			margin: $_listlayout__list-child--margin;
			box-shadow: $_listlayout__list-child--box-shadow;
			padding: 0;

			.cng-adminmode &,
			&:empty {
				margin: 0;
			}
			&:empty {
				display: none;
			}
		}
	}
}