.yw-com_hybris_backoffice_widgets_workflows {
  height: 100%; }

.yw-workflows-panel {
  border-top: 0;
  padding: 0;
  height: 100%; }

.yw-workflows-droparea {
  border-radius: 5px;
  border: 1px dashed #1e2830;
  padding: 10px;
  text-align: center;
  position: relative; }
  .yw-workflows-droparea-plus-icon:before, .yw-workflows-droparea-plus-button:before {
    border-left: 1px solid transparent;
    margin-top: -7px;
    height: 15px;
    border-color: inherit;
    position: absolute;
    content: "";
    width: 0;
    top: 50%;
    left: 50%; }
  .yw-workflows-droparea-plus-icon:after, .yw-workflows-droparea-plus-button:after {
    border-top: 1px solid transparent;
    margin-left: -7px;
    width: 15px;
    border-color: inherit;
    position: absolute;
    content: "";
    height: 0;
    left: 50%;
    top: 50%; }
  .yw-workflows-droparea-plus-icon {
    border-color: #1e2830;
    height: 15px;
    width: 15px;
    position: relative;
    display: inherit;
    cursor: default;
    color: transparent;
    border-width: 0; }
  .yw-workflows-droparea-plus-button {
    height: 28px;
    width: 28px;
    min-height: 0;
    padding: 0;
    position: relative;
    margin: 0 auto; }
    .yw-workflows-droparea-plus-button, .yw-workflows-droparea-plus-button:hover, .yw-workflows-droparea-plus-button:focus, .yw-workflows-droparea-plus-button:active {
      border: 1px dashed #1e2830;
      border-radius: 5px;
      border-color: #1e2830;
      background-color: transparent;
      color: transparent;
      box-shadow: none; }
    .yw-workflows-droparea-plus-button:hover, .yw-workflows-droparea-plus-button:active {
      border-color: #0486e0; }
  .yw-workflows-droparea.z-drag-over {
    background: transparent; }
  .yw-workflows-droparea.z-drag-matching-drop-target.z-drag-over {
    color: #0486e0;
    border-color: #0486e0; }
    .yw-workflows-droparea.z-drag-matching-drop-target.z-drag-over span {
      color: #0486e0; }
    .yw-workflows-droparea.z-drag-matching-drop-target.z-drag-over .yw-workflows-droparea-plus-button,
    .yw-workflows-droparea.z-drag-matching-drop-target.z-drag-over .yw-workflows-droparea-plus-icon {
      border-color: #0486e0;
      color: transparent; }
  .yw-workflows-list .yw-workflows-droparea span {
    margin: 0 15px;
    display: block; }
  .yw-workflows-list .yw-workflows-droparea .yw-workflows-droparea-plus-icon {
    margin: -7px 0 0;
    color: transparent;
    position: absolute;
    top: 50%; }

.yw-workflows-list.z-listbox {
  overflow-y: auto;
  height: 100%;
  border: 0; }

.yw-workflows-list-bottom {
  padding: 10px 0;
  text-align: right; }
  .yw-workflows-list-bottom-start {
    float: left; }
    .yw-workflows-list-bottom-start-disabled {
      color: #cccccc !important;
      cursor: default !important;
      text-decoration: none !important; }

.yw-workflows-list .z-listitem, .yw-workflows-list .z-listitem:hover, .yw-workflows-list .z-listitem-selected, .yw-workflows-list .z-listitem-selected:hover {
  background-color: transparent; }

.yw-workflows-list .z-listitem:hover {
  cursor: default; }

.yw-workflows-list-item {
  text-align: left; }
  .yw-workflows-list-item:last-child > .z-listcell {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: -1px; }
  .yw-workflows-list-item .z-listcell {
    border-color: #d5d8dc; }
    .yw-workflows-list-item .z-listcell > .z-listcell-content {
      padding: 25px 8px 25px 4px; }
  .yw-workflows-list .yw-workflows-list-item.z-listitem-selected {
    background-color: transparent; }
  .yw-workflows-list .yw-workflows-list-item:hover, .yw-workflows-list .yw-workflows-list-item:hover,
  .yw-workflows-list .yw-workflows-list-item.z-listitem-selected:hover,
  .yw-workflows-list .yw-workflows-list-item.z-listitem-selected:hover {
    background-color: #f6f8fa; }
  .yw-workflows-list-item:hover button.yw-workflows-list-title {
    text-decoration: underline; }

.yw-workflows-list-content {
  padding: 0 0 0 20px; }
  .yw-workflows-list-content-bottom {
    padding: 10px 8px 0 0; }
  .yw-workflows-list-content .z-label {
    max-width: 100%;
    white-space: normal; }

.yw-workflows-list-info-container {
  padding-top: 5px;
  display: table;
  width: 100%; }

.yw-workflows-list-info.z-label {
  padding-right: 5px;
  display: table-cell; }
  .yw-workflows-list-info.z-label:last-child {
    padding-left: 5px;
    text-align: right;
    padding-right: 0; }

.yw-workflows-list .ye-text-button {
  font-size: 14px;
  color: #0486e0; }

.yw-workflows-list .yw-workflows-list-subtitle,
.yw-workflows-list .yw-workflows-list-title {
  max-width: calc(100% - 24px);
  font-size: 14px;
  color: inherit;
  display: inline-block; }
  .yw-workflows-list .yw-workflows-list-subtitle:hover,
  .yw-workflows-list .yw-workflows-list-title:hover {
    color: #0486e0;
    text-decoration: underline; }

.yw-workflows-list .yw-workflows-list-title {
  font-weight: bold; }

.yw-workflows-list-button {
  clear: left;
  float: right;
  text-align: center; }
  .yw-workflows-list-button:empty {
    width: 24px;
    height: 24px;
    display: block;
    padding: 0;
    min-height: 0;
    background: url("images/dots.png") center 0 no-repeat;
    box-shadow: none; }
    .yw-workflows-list-button:empty:hover, .yw-workflows-list-button:empty:focus, .yw-workflows-list-button:empty:active {
      background: url("images/dots.png") center -24px no-repeat;
      box-shadow: none; }

.yw-workflows-list tbody.z-listbox-emptybody td {
  background: transparent; }

.yw-workflows-list .yw-custom-menu-popup {
  margin-top: 7px; }

.yw-workflows-list .yw-show-menu-action-container {
  display: inline-block;
  float: right; }

.yw-workflows-menu-popup.yw-pointer-menupopup-right {
  margin-top: -32px;
  margin-left: -24px; }

.yw-workflows-menu-popup.yw-pointer-menupopup-top {
  margin-top: 7px; }
  .yw-workflows-menu-popup.yw-pointer-menupopup-top-right {
    margin-top: -4px;
    margin-left: 8px; }
    .yw-workflows-menu-popup.yw-pointer-menupopup-top-right:before, .yw-workflows-menu-popup.yw-pointer-menupopup-top-right:after {
      right: 10px; }

.yw-workflows-footer {
  border: none;
  border-top: 1px solid #d2dae4;
  padding: 20px;
  border-radius: 0; }
  .yw-workflows-footer > .z-label {
    margin-top: 10px;
    display: block;
    color: inherit; }
  .yw-workflows-footer .yw-workflows-droparea-plus-button, .yw-workflows-footer .yw-workflows-droparea-plus-button:focus {
    border-color: #1e2830; }
  .yw-workflows-footer .yw-workflows-droparea-plus-button:hover, .yw-workflows-footer .yw-workflows-droparea-plus-button:active {
    border-color: #0486e0; }
  .yw-workflows-footer.z-drag-matching-drop-target.z-drag-over {
    border-top: 1px solid #d2dae4; }
