@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 



$_defaultTabWidget__tab-selected--bg-color: $white;
$_defaultTabWidget__tab-text--font-size: $font-size__base;
$_defaultTabWidget__tab-text--padding: 0 5px; 
$_defaultTabWidget__tab-text--font-weight: $font-weight-normal;
$_defaultTabWidget__tab-text--color: $grey__default--1100;
$_defaultTabWidget__tab-text--line-height: ceil(($_defaultTabWidget__tab-text--font-size * 2.1));
$_defaultTabWidget__tab-selected--color: $blue__default; //$blue__default--300;
$_defaultTabWidget__tab--bg-color: $grey__light--800;
$_defaultTabWidget__widget--bg-color: $grey__light--1100;

.defaultTabWidget {
    background-color: $_defaultTabWidget__widget--bg-color!important;
    
    .z-tab {
        div {
            background: $_defaultTabWidget__tab--bg-color !important;
        }

        .z-tab-text {
            color: $_defaultTabWidget__tab-text--color;
            font-weight: $_defaultTabWidget__tab-text--font-weight;
            line-height: $_defaultTabWidget__tab-text--line-height;
            padding: $_defaultTabWidget__tab-text--padding;
            font-size: $_defaultTabWidget__tab-text--font-size;
        }

        &.z-tab-selected {
            div {
                background: $_defaultTabWidget__tab-selected--bg-color !important;
            }

            .z-tab-text {
                color: $_defaultTabWidget__tab-selected--color;
            }
        }
    }

    > .widget_cnt > .z-tabbox > .z-tabs > .z-tabs-header > .z-tabs-content {
        border-bottom: none;
    }
}
