.yw-de_hybris_platform_adaptivesearch_widgets_searchConfigurationAdapter {
  /*.y-toolbar {
        padding: 5px 0;
        .yw-listview-actionSlot {
            .cng-action-group {
                padding-top: $configurableMultireference__toolbar-action-group--padding-top;
            }
        }

        .ye-cancel-container{
            .z-button {
                background: $configurableMultireference__toolbar-button-cancel--background;
                color: $configurableMultireference__toolbar-button-cancel--color;
                height: $configurableMultireference__toolbar-button--height;
                padding: $configurableMultireference__toolbar-button--padding;
                &:hover {
                    background: $configurableMultireference__toolbar-button-cancel-hover--background;
                }
            }
        }
        .ye-save-container{
            .z-button {
                height: $configurableMultireference__toolbar-button--height;
                padding: $configurableMultireference__toolbar-button--padding;
            }
        }
    }*/ }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchConfigurationAdapter .yw-editorarea-label-container .z-label {
    color: #000000;
    font-weight: bold; }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchConfigurationAdapter .z-groupbox-content tr > .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell {
    padding-bottom: 30px; }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchConfigurationAdapter .z-groupbox-content > .z-hbox:last-child tr > .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell:last-child {
    padding-bottom: 0; }

.yas-editor {
  width: 100%; }
  .yas-editor .z-listbox {
    border: none; }
  .yas-editor .z-listbox-emptybody tr td {
    background: transparent;
    padding: 0 !important; }
  .yas-editor.as-promoted-facets-editor .z-listitem:not(.yas-in-search-result) .z-listcell-content, .yas-editor.as-facets-editor .z-listitem:not(.yas-in-search-result) .z-listcell-content {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANklEQVQoU2NkwAM+ffr0nxGXPEiSj4+PEasCmCRIM4YCZEkMBeiSKAqwScIV4JIEK8AnCVIAAFqcH94OKvGiAAAAAElFTkSuQmCC) repeat; }
    .yas-editor.as-promoted-facets-editor .z-listitem:not(.yas-in-search-result) .z-listcell-content .yas-label, .yas-editor.as-facets-editor .z-listitem:not(.yas-in-search-result) .z-listcell-content .yas-label {
      color: #999; }
      .yas-editor.as-promoted-facets-editor .z-listitem:not(.yas-in-search-result) .z-listcell-content .yas-label .z-label, .yas-editor.as-facets-editor .z-listitem:not(.yas-in-search-result) .z-listcell-content .yas-label .z-label {
        color: #999; }
  .yas-editor .z-listitem:not(.yas-current) .yas-item .yas-label {
    color: #999; }
    .yas-editor .z-listitem:not(.yas-current) .yas-item .yas-label .z-label {
      color: #999; }
  .yas-editor .z-listitem:not(.yas-current) .yas-item .yas-property {
    color: #999; }
    .yas-editor .z-listitem:not(.yas-current) .yas-item .yas-property .z-label {
      color: #999; }
  .yas-editor .z-listitem:first-child .z-listcell-content {
    padding: 0 5px; }
  .yas-editor .z-listcell-content {
    display: table;
    width: 100%;
    padding: 0 5px; }
    .yas-editor .z-listcell-content .yas-item {
      display: table-row; }
      .yas-editor .z-listcell-content .yas-item .z-label {
        display: inline;
        white-space: normal;
        line-height: 27px; }
      .yas-editor .z-listcell-content .yas-item .yas-info {
        padding: 0 8px 0;
        display: table-cell;
        width: 26px;
        vertical-align: middle;
        text-align: center; }
        .yas-editor .z-listcell-content .yas-item .yas-info .yas-info-icon {
          height: 23px;
          width: 23px;
          margin-left: auto;
          margin-right: auto;
          background-repeat: no-repeat;
          background-position: -27px -5px;
          background-attachment: scroll; }
      .yas-editor .z-listcell-content .yas-item .yas-label {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 0;
        color: #000000;
        padding-right: 6px; }
        .yas-editor .z-listcell-content .yas-item .yas-label .z-label {
          color: #000000;
          text-overflow: ellipsis;
          white-space: nowrap; }
      .yas-editor .z-listcell-content .yas-item .yas-property {
        display: table-cell;
        width: 70px;
        min-width: 70px;
        vertical-align: middle;
        text-align: left; }
      .yas-editor .z-listcell-content .yas-item .yas-editable .ye-instant-editor-label-editable {
        margin-left: 0; }
      .yas-editor .z-listcell-content .yas-item .yas-editable .ye-instant-editor-buttons-container {
        position: static; }
      .yas-editor .z-listcell-content .yas-item .yas-actions {
        display: table-cell;
        width: 40px;
        min-width: 40px;
        vertical-align: middle;
        text-align: center; }
        .yas-editor .z-listcell-content .yas-item .yas-actions .z-button {
          background: transparent;
          color: #0486e0;
          font-size: 20px; }
          .yas-editor .z-listcell-content .yas-item .yas-actions .z-button[disabled] {
            background: transparent !important; }
          .yas-editor .z-listcell-content .yas-item .yas-actions .z-button:active, .yas-editor .z-listcell-content .yas-item .yas-actions .z-button:focus {
            box-shadow: none; }
  .yas-editor.as-promoted-facets-editor .z-listitem .yas-info .yas-info-icon, .yas-editor.as-promoted-items-editor .z-listitem .yas-info .yas-info-icon {
    background-position: -28px -69px; }
  .yas-editor.as-promoted-facets-editor .z-listitem.yas-current .yas-info .yas-info-icon, .yas-editor.as-promoted-items-editor .z-listitem.yas-current .yas-info .yas-info-icon {
    background-position: 0 -69px; }
  .yas-editor.as-promoted-facets-editor .z-listitem.yas-current.yas-override .yas-info, .yas-editor.as-promoted-items-editor .z-listitem.yas-current.yas-override .yas-info {
    padding: 0 3px 0; }
    .yas-editor.as-promoted-facets-editor .z-listitem.yas-current.yas-override .yas-info .yas-info-icon, .yas-editor.as-promoted-items-editor .z-listitem.yas-current.yas-override .yas-info .yas-info-icon {
      width: 33px;
      height: 25px;
      background-position: -57px -65px; }
  .yas-editor.as-facets-editor .z-listitem .yas-info .yas-info-icon {
    background-position: -27px -5px; }
  .yas-editor.as-facets-editor .z-listitem.yas-current .yas-info .yas-info-icon {
    background-position: 1px -5px; }
  .yas-editor.as-facets-editor .z-listitem.yas-current.yas-override .yas-info {
    padding: 0 3px 0; }
    .yas-editor.as-facets-editor .z-listitem.yas-current.yas-override .yas-info .yas-info-icon {
      width: 33px;
      height: 25px;
      background-position: -54px -2px; }
  .yas-editor.as-excluded-facets-editor .z-listitem .yas-info .yas-info-icon, .yas-editor.as-excluded-items-editor .z-listitem .yas-info .yas-info-icon {
    background-position: -28px -37px; }
  .yas-editor.as-excluded-facets-editor .z-listitem.yas-current .yas-info .yas-info-icon, .yas-editor.as-excluded-items-editor .z-listitem.yas-current .yas-info .yas-info-icon {
    background-position: 0 -37px; }
  .yas-editor.as-excluded-facets-editor .z-listitem.yas-current.yas-override .yas-info, .yas-editor.as-excluded-items-editor .z-listitem.yas-current.yas-override .yas-info {
    padding: 0 3px 0; }
    .yas-editor.as-excluded-facets-editor .z-listitem.yas-current.yas-override .yas-info .yas-info-icon, .yas-editor.as-excluded-items-editor .z-listitem.yas-current.yas-override .yas-info .yas-info-icon {
      width: 33px;
      height: 25px;
      background-position: -55px -35px; }
  .yas-editor.as-boost-rules-editor .z-listitem .yas-info {
    display: none; }
  .yas-editor.as-boost-rules-editor .z-listitem .yas-item > .z-div:nth-last-child(2) {
    padding-left: 6px; }
  .yas-editor > div:last-child .z-button {
    display: block;
    cursor: pointer;
    text-align: left;
    text-transform: none;
    position: relative;
    width: 100%;
    height: 30px;
    background: transparent;
    padding-left: 27px;
    color: #000000;
    font-size: 12px;
    border: 1px solid #acacac;
    box-shadow: -2px 2px 2px #eaedf1;
    -webkit-transition: 0s;
    transition: 0s; }
    .yas-editor > div:last-child .z-button:hover {
      background: #eaf1f6; }
    .yas-editor > div:last-child .z-button i {
      position: relative;
      top: 2px;
      left: -10px;
      color: #6f7c91;
      font-size: 16px; }
