@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import '_itemcomments-variables.scss';

.yw-commentslist {

    &-popup {
        max-width: $_item-comments__popup--max-width;

        .z-button {
            font-size: $_item-comments__default-button--font-size;
            color: $_item-comments__default-button--color;
            background: transparent;
            text-transform: capitalize;
            box-shadow: none;

            &:hover, &:active, &:focus {
                background: transparent;
                color: $_item-comments__default-button--hover-color;
                box-shadow: none;
            }
        }
        .yw-commentslist-addcomment-button,
        .yw-add-comment-section-button-ok {
            color: $_item-comments__default-button-primary--color;
        }

    }
    &-bottom-bar-popup {
        bottom: $_item-comments__bar-bottom-popup--bottom;
        top: auto !important;
    }
    &-list {
        max-height: $_item-comments__list--max-height;
        overflow: $_item-comments__list--overflow;
        border-bottom: $_item-comments__comment-list--border;
    }
    &-one-comment {
        border-top: $_item-comments__comment-list--border;
        padding: $_item-comments__one-comment--padding;

        &:first-child {
            border-top-width: 0;
        }
    }
    &-comment-header {
        margin: $_item-comments__comment-header--margin-bottom;
        display: inline-block;
        width: 100%;
        vertical-align: top;

        > .z-label {
            display: inline-block;
            vertical-align: top;
        }
    }
    &-comment-author-label {
        padding-right: $_item-comments__comment-author--padding-right;
        max-width: $_item-comments__comment-author--max-width;
        font-weight: $_item-comments__comment-author--font-weight;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &-comment-date-label {
        color: $_item-comments__comment-date--color;
        text-align: right;
        float:right;
    }
    &-comment-empty {
        padding: $_item-comments__comment-empty--padding;
    }
    &-addcomment-button {
        height: $_item-comments__default-button--height;
        margin: $_item-comments__default-button--margin;
        width: 100%;
    }
}

.yw-add-comment-section {
    padding: $_item-comments__add-comment-section--padding;
    width: 100%;
    display: inline-block;
    
    &-textbox {
        margin-bottom: $_item-comments__add-comment-section-textbox--margin-bottom;
        max-height: $_item-comments__add-comment-section-textbox--max-height;
        max-width: 100%;
        display: inline-block;
    }
    .z-button {
        display: inline-block;
    }
    &-button-ok {
        float: right;
    }
    &-button-cancel {
        float: left;
    }
}