@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import '_itemcomments-variables.scss';

//Icon in bottom-bar
.yw-commentslist {
    position: relative;
    margin-left: $_item-comments__bar-container--margin-left;

    &-showpopup-btn {
        min-width: 0;
        min-height: 0;

        &, &:hover, &:active, &:focus {
            background: transparent;
            box-shadow: none;
            min-height: $_item-comments__bar-icon--size;
            min-width: $_item-comments__bar-icon--size;
            position: relative;
        }
        .ye-editorarea-bottom-bar & {
            &, &:hover, &:active, &:focus {
                width: $_item-comments__bar-bottom-button--size;
                height: $_item-comments__bar-bottom-button--size;
            }
            &, &:active, &:focus {
                opacity: 0.5;
            }
            &:hover {
                opacity: 1;
            }
        }
        &:before {
            height: $_item-comments__bar-icon--size;
            width: $_item-comments__bar-icon--size;
            background: $_item-comments__bar-icon--background;
            margin-top: $_item-comments__bar-icon--margin;
            margin-left: $_item-comments__bar-icon--margin;
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
        }

    }
    
    span + .yw-commentslist-showpopup-btn {
        &, &:hover, &:active, &:focus {
            background-color: $black__blueish--300;
            opacity: 1;
        }
    }

    &-comments-count-label {
        color: $_item-comments__bar-comment-counter--color;
        cursor: $_item-comments__bar-comment-counter--cursor;
        top: $_item-comments__bar-comment-counter--top;
        left: $_item-comments__bar-comment-counter--left;
        background: $_item-comments__bar-comment-counter--bg;        
        font-size: $_item-comments__bar-comment-counter--font-size;
        min-width: $_item-comments__bar-comment-counter--min-width;
        height: $_item-comments__bar-comment-counter--height;
        border-radius: $_item-comments__bar-comment-counter--border-radius;
        padding: $_item-comments__bar-comment-counter--padding;
        display: inline-block;
        position: absolute;
        text-align: center;

        .ye-editorarea-bottom-bar & {
            left: $_item-comments__bar-bottom-comment-counter--left;
            top: $_item-comments__bar-bottom-comment-counter--top;
        }
    }
}
