<uib-accordion class="y-collapsible">
    <div uib-accordion-group
        class="yCollapsibleContainer__group y-collapsible__group"
        data-template-url="web/common/components/yCollapsibleContainer/accordion-group.html"
        data-is-open="$yCollapsibleContainerCtrl.configuration.expandedByDefault"
        data-ng-class="$yCollapsibleContainerCtrl.getIconRelatedClassname()">

        <uib-accordion-heading class="y-collapsible__heading">
            <div class="yCollapsibleContainer__title y-collapsible__title"
                data-ng-transclude="collapsible-container-title"></div>
        </uib-accordion-heading>

        <div class="y-collapsible__content"
            data-ng-transclude="collapsible-container-content"></div>

    </div>
</uib-accordion>