/* Colors for left widgets */
.yas-left-container .yw-collapsibleContainer-caption {
  background: #1e2830; }
  .yas-left-container .yw-collapsibleContainer-caption > div:first-child {
    background: none; }
  .yas-left-container .yw-collapsibleContainer-caption .yw-caption-container span.z-label {
    color: #ffffff; }

/* Icons for explorer tree */
div.yw-explorerTree .y-tree-icon-hmc_type_tree_searchprofile .y-tree-icon {
  background-image: url("images/0130_Search-profiles.png"); }

div.yw-explorerTree .y-tree-icon-hmc_type_tree_searchprofileactivationset .y-tree-icon {
  background-image: url("images/0131_Search-profiles-activation.png"); }

.yas-item .yas-info .yas-info-icon {
  background-image: url(images/icon_func_star_sprite.png); }

/* Popups */
.yas-actions-popup.z-menupopup {
  color: #000000;
  border: 1px solid #acacac;
  box-shadow: -2px 2px 2px #eaedf1; }
  .yas-actions-popup.z-menupopup .yas-action {
    background: #ffffff !important; }
    .yas-actions-popup.z-menupopup .yas-action a.z-menuitem-content {
      color: #000000; }
      .yas-actions-popup.z-menupopup .yas-action a.z-menuitem-content:hover {
        background: #f6f8fa; }
      .yas-actions-popup.z-menupopup .yas-action a.z-menuitem-content img {
        top: -4px;
        display: none; }

.yas-search-configuration-description {
  color: #000000;
  border: 1px solid #acacac;
  box-shadow: -2px 2px 2px #eaedf1;
  padding: 7px 7px; }

/* Score */
.yas-info-score,
.yas-search-configuration-label {
  border-radius: 0.45em;
  border: 2px solid #d2dae4;
  font-weight: bold;
  padding: 1px 5px; }
