@charset "UTF-8";
div.yrb-promo-detailedDescription {
  color: #7D899C; }

/*============================================================================
    Messages help tables
============================================================================ */
table.promo-messageParams {
  padding-bottom: 30px; }
  table.promo-messageParams th,
  table.promo-messageParams td {
    border-bottom: 1px solid #eee;
    padding: 3px 5px 3px;
    color: #7D899C;
    background: #f8f8f8;
    text-align: left; }
  table.promo-messageParams th {
    background: #eee;
    border-bottom: 1px solid #ddd;
    color: #7D899C; }

/*============================================================================
    Promotions Tab
============================================================================ */
.yrb-potentialproductpromotions dl.promo-productInfo {
  border-right: 1px solid #bbb;
  padding: 4px 6px 4px;
  float: left;
  width: 100%; }
  .yrb-potentialproductpromotions dl.promo-productInfo dt {
    width: 50%;
    float: left;
    clear: left; }
  .yrb-potentialproductpromotions dl.promo-productInfo dd {
    width: 49%;
    float: left;
    font-weight: bold;
    margin-left: 0; }

.yrb-potentialproductpromotions-listbox {
  margin-top: 2px; }

.yrb-tabpanel-groupbox-promotions .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption .z-label {
  display: block;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-right: 10px; }
  .yrb-tabpanel-groupbox-promotions .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption .z-label:after {
    width: 50px;
    height: 100%;
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 1; }

.yrb-tabpanel-groupbox-promotions .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption .yw-expandCollapse {
  z-index: 0; }

.yrb-promo-productInfo-cell {
  width: 20%; }

.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox.yrb-tabpanel-groupbox-promotions > .z-groupbox-content:empty {
  padding: 0 !important; }

.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-header .z-column-content {
  padding: 0 4px; }

.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row td.z-row-inner {
  vertical-align: top; }

.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row .z-row-content > .z-label {
  display: inline; }

.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row td.z-row-inner,
.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row .z-cell,
.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row .z-detial-outer {
  border-bottom: none;
  border-top: 1px solid #dae0e7; }

.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row:first-child td.z-row-inner,
.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row:first-child .z-cell,
.yrb-tabpanel-groupbox-promotions .z-groupbox-content .z-grid-body tr.z-row:first-child .z-detial-outer {
  border-top-color: transparent; }

.yrb-tabpanel-groupbox-promotions .yrb-label-break-all {
  word-break: break-all; }

.yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-column {
  padding-bottom: 8px;
  padding-top: 8px; }
  .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-column-content {
    font-size: 14px;
    line-height: 19px;
    word-break: break-word;
    white-space: normal;
    vertical-align: top; }

.yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail {
  width: 100%; }
  .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-inner {
    overflow: hidden; }
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-inner .z-detail-content {
      border: 1px solid #dae0e7;
      padding-left: 30px;
      background-color: #F6F8FA;
      border-left-width: 0; }
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-inner .z-row-content,
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-inner .z-group-content,
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-inner .z-groupfoot-content,
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-inner .z-footer-content {
      color: #000000; }
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-inner .z-grid-body .z-label {
      color: inherit; }
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-inner .z-grid-header {
      background-color: #E0E9F0; }
  .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-outer {
    width: 30px;
    padding: 0; }
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-outer .z-row {
      padding: 0; }
    .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-outer.z-detail-open {
      border-bottom: 1px solid #dae0e7; }
  .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-icon:before {
    content: ""; }
  .yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed .z-detail-open .z-detail-icon:before {
    content: ""; }

.yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed tr.z-row:last-child .z-detail-inner .z-detail-content {
  margin-bottom: 0; }

.yrb-tabpanel-groupbox-promotions .yrb-promo-grid-detailed-title {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  padding: 15px 4px 0; }

/* Icons for explorer tree */
div.yw-explorerTree .y-tree-icon-hmc_typenode_promotion_modules .y-tree-icon {
  background-image: url("images/0140_promotion_module.png"); }

div.yw-explorerTree .y-tree-icon-hmc_published_and_unpublished_promotion_rules_only .y-tree-icon,
div.yw-explorerTree .y-tree-icon-hmc_all_promotion_rules_only .y-tree-icon {
  background-image: url("images/089_promotions.png"); }

div.yw-explorerTree .y-tree-icon-hmc_typenode_campaign .y-tree-icon {
  background-image: url("images/0141_campaign.png"); }
