<textarea class="form-control"
    data-ng-class="{'has-error': ctrl.field.hasErrors}"
    name="{{ctrl.field.qualifier}}-{{ctrl.qualifier}}"
    data-ng-disabled="!ctrl.field.editable"
    data-ng-model="ctrl.model[ctrl.qualifier]"
    data-ng-change="ctrl.reassignUserCheck()"></textarea>
<div data-ng-if="ctrl.requiresUserCheck()">
    <input type="checkbox"
        data-ng-model="ctrl.field.isUserChecked" />
    <span class="ng-class:{'warning-check-msg':true, 'not-checked':ctrl.editor.hasFrontEndValidationErrors && !ctrl.field.isCheckedByUser}"
        data-translate="se.editor.richtext.check">{{'se.editor.richtext.check' | translate}}</span>
</div>