@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_cockpit-variables.scss";/*================================
    Switch-Type Checkbox
================================*/
// Default styling of Checkbox & Radiobox in Cockpitng
// Status: Done



.ye-switch-checkbox.z-checkbox {
    min-height: $editor-defaults__switch-checkbox--line-height;
    line-height: $editor-defaults__switch-checkbox--line-height;
    width: $editor-defaults__switch-checkbox--width;
    padding-left: $editor-defaults__switch-checkbox--width;
    
    label {    
        &:before,
        &:after {
            width: 100%;
            height: $editor-defaults__switch-checkbox-btn--size;
            content: "";
            border: $editor-defaults__switch-checkbox--border;
            border-radius: $editor-defaults__switch-checkbox--border-radius;
            background: $editor-defaults__switch-checkbox-btn--bg-color;
            transition: $editor-defaults__switch-checkbox--transition;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -$editor-defaults__switch-checkbox--border-radius;
            margin-left: 0;
        }

        &:after {
            width: $editor-defaults__switch-checkbox-btn--size;
        }
    }

    input:checked + label {
        &:before {
            background: $editor-defaults__switch-checkbox-checked--bg-color;
        }

        &:after {
            margin-left: -$editor-defaults__switch-checkbox-btn--size;
            left: 100%;
        }
    }
}