@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 

$configurableMultireference__toolbar-action-group--padding-top: 7px;
$configurableMultireference__toolbar-button--padding: 7px 15px;
$configurableMultireference__toolbar-button--height: 40px;
$configurableMultireference__toolbar-button-cancel--color: $black;
$configurableMultireference__toolbar-button-cancel--background: transparent;
$configurableMultireference__toolbar-button-cancel-hover--background: $grey__light--200;

$configurableMultireference__default-groupbox--padding-bottom: 30px;
$configurableMultireference__default-groupbox-lastchild--padding-bottom: 0;

$configurableMultireference__area-label--color: $black;
$configurableMultireference__area-label--font-weight: $font-weight-bold;

$configurableMultireference__default-facets-notvalid--background: url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANklEQVQoU2NkwAM+ffr0nxGXPEiSj4+PEasCmCRIM4YCZEkMBeiSKAqwScIV4JIEK8AnCVIAAFqcH94OKvGiAAAAAElFTkSuQmCC
) repeat;
$adaptiveSearchBackoffice-default-facets-notvalid--color: $grey__dark--100;
$adaptiveSearchBackoffice-default-facets-notcurrent--color: $grey__dark--100;

$configurableMultireference__editor--width: 100%;

$configurableMultireference__listcell-content--width: 100%;
$configurableMultireference__listcell-content--padding: 0 5px;
$configurableMultireference__listcell--content-label--line-height: 27px;

$configurableMultireference__listbox--border: none;
$configurableMultireference__listbox-empty--background: transparent;
$configurableMultireference__listbox-empty--padding: 0 !important;

$configurableMultireference__yas-label--max-width: 0;
$configurableMultireference__yas-label--color: $black;
$configurableMultireference__yas-label--padding-right: 6px;

$configurableMultireference__yas-property--width: 70px;
$configurableMultireference__yas-property-second--padding-left: 6px;

$configurableMultireference__yas-actions--width: 40px;
$configurableMultireference__yas-actions-button--color: $blue__default;
$configurableMultireference__yas-actions-button--font-size: 20px;

$configurableMultireference__add-item-button--width: 100%;
$configurableMultireference__add-item-button--height: 30px;
$configurableMultireference__add-item-button--background: transparent;
$configurableMultireference__add-item-button--color: $black;
$configurableMultireference__add-item-button--border: 1px solid $grey__default--900;
$configurableMultireference__add-item-button--padding-left: 27px;
$configurableMultireference__add-item-button--font-size: $font-size__small;
$configurableMultireference__add-item-button--box-shadow: -2px 2px 2px $grey__light--500;
$configurableMultireference__add-item-button-hover--background: $blue__light--300;

$configurableMultireference__add-item-button-icon--top: 2px;
$configurableMultireference__add-item-button-icon--left: -10px;
$configurableMultireference__add-item-button-icon--color: $grey__default--1100;
$configurableMultireference__add-item-button-icon--font-size: 16px;

$configurableMultireference__default-facets-info--width: 26px;
$configurableMultireference__default-facets-info-md--padding: 0 8px 0;
$configurableMultireference__default-facets-info-lg--padding: 0 3px 0;

$configurableMultireference__default-facets-info-icon---margin: auto;
$configurableMultireference__default-facets-info-icon-md--size: 23px;

$configurableMultireference__default-facets-info-icon-lg--height: 25px;
$configurableMultireference__default-facets-info-icon-lg--width: 33px;

$configurableMultireference__facets-info-icon-current--bg-position: -27px -5px;
$configurableMultireference__facets-info-icon-inherit--bg-position: 1px -5px;
$configurableMultireference__facets-info-icon-current-inherit--bg-position: -54px -2px;
$configurableMultireference__promoted-facets-info-icon-current--bg-position: -28px -69px;
$configurableMultireference__promoted-facets-info-icon-inherit--bg-position: 0 -69px;
$configurableMultireference__promoted-facets-info-icon-current-inherit--bg-position: -57px -65px;
$configurableMultireference__excluded-facets-info-icon-current--bg-position: -28px -37px;
$configurableMultireference__excluded-facets-info-icon-inherit--bg-position: 0 -37px;
$configurableMultireference__excluded-facets-info-icon-current-inherit--bg-position: -55px -35px;