.control-group.error textarea {
    border-color: #c90400;
}

.customer-ticketing-body .cts-msg-history-item-msg {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.customer-ticketing-body .cts-msg-history-item-modified-field {
	   word-wrap: break-word;
    white-space: pre-wrap;
}

.break-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
	word-break: break-all;
}




y-main a{
	cursor: pointer;
}

y-main .pagination > li > span{
	cursor: pointer;
}
y-main .pagination > li.active > span{
	cursor: default;
}





.secchat-wrapper{
  text-align: right;
}


.secchat-btn{
  margin: 0;
  margin-right: 40px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
}







.customer-ticketing.account-overview-table .responsive-table{
  table-layout: fixed;

}

@media (min-width: 1130px) {
  .customer-ticketing.account-overview-table  .responsive-table th:nth-child(2){
      width: 50%;
  }
}

@media (min-width: 840px) {
  .customer-ticketing.account-overview-table  .responsive-table th:nth-child(2){
      width: 40%;
  }
}

.customer-ticketing.account-overview-table  .responsive-table td{
    white-space: nowrap;
}

.customer-ticketing-table-subject{
    white-space: normal;
}

.customer-ticketing-table-subject .responsive-table-link{
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}



y-main .item-value{
  white-space: nowrap;
}