<ui-select id="{{field.qualifier}}-selector"
    ng-model="model[qualifier]"
    theme="select2"
    title=""
    style="width:100%"
    search-enabled="false"
    data-dropdown-auto-width="false"
    class="se-generic-editor-dropdown">
    <ui-select-match placeholder="Select an option"
        class="se-generic-editor-dropdown__match">
        <span ng-bind="$select.selected.label"></span>
    </ui-select-match>
    <ui-select-choices id="{{field.qualifier}}-list"
        repeat="option in field.options"
        position="down"
        value="{{$selected.selected}}">
        <span ng-bind="option.label"></span>
    </ui-select-choices>
</ui-select>