@CHARSET "UTF-8";


@media ( min-width : 1024px) {
	.coupon-cards {
		padding: 10px 30px 30px 30px;
	}
}

@media ( max-width : 1024px) {
	.coupon-cards {
		padding: 10px 20px 30px 20px;
	}
}

.coupon-panel {
	padding: 10px;
	height: 360px;
}

.coupon-card {
	border: 1px solid #cccccc;
	height: 315px;
	padding: 0;
}

.coupon-card:nth-child(3) {
	padding: 0;
}

.coupon-list {
	border-bottom: 1px solid #cccccc;
}

.coupon-status {
	padding: 0;
}

.coupon-status:nth-child(1) {
	margin-left: -1px;
	margin-top: -1px;
}

.coupon-PreSession {
	display: inline-block;
	border: 1px solid #C9C9C9;
	width: 150px;
	color: black;
	text-align:center;
	background-color:#ece7e7;
}

.coupon-Effective {
	display: inline-block;
	border: 1px solid #008000;
	width: 150px;
	color: black;
	text-align:center;
	background-color:#e3ffd9;
}

.coupon-ExpireSoon {
	display: inline-block;
	border: 1px solid #FFA622;
	width: 150px;
	color: black;
	text-align:center;
	background-color:#fdecc0;
}

.coupon-status, .coupon-bell {
	height: 30px;
}

.coupon-bell-href-disable{
	pointer-events: none;
    cursor: default;
}

.fa-bell{
    color:#47b6b1;
}

.fa-bell-slash{
    color:#cccccc;
}

.coupon-title {
	display: inline-block;
	max-width: 100%;
	padding-top: 10px;
	padding-bottom: 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.coupon-3c {
	padding: 0;
}

.coupon-date {
	color: #666666;
}

.cart-customercoupons {
	margin-top: 27px;
	padding-left: 30px;
}

.coupon-main {
	min-height: 150px;
}

.coupon-detail {
	position: relative;
	overflow: hidden;
	word-break: break-all;
	line-height: 20px;
	max-height: 40px;
	/* fix problem when last visible word doesn't adjoin right side  */
	text-align: justify;
	/* place for '...' */
	margin-right: 13px;
	padding-right: 13px;
}

.coupon-find-product-btn {
  position: relative;
  top: 0px;
}

/* create the ellipsis */
.coupon-detail-text:before {
	content: "...";
	position: absolute;
	bottom: 0;
	right: -10px;
	padding: 0 11px 4px 45px;
}


/* hide ellipsis if we have text, which is less than or equal to max lines */
.coupon-detail-text:after {
	content: '';
	position: absolute;
	right: 0;
	/* set width and height */
	width: 13px;
	height: 13px;
	margin-top: 2.5px;
	/* bg color = bg color under block */
	background: white;
}

.coupon-title-popup {
	padding-top: 10px;
	padding-bottom: 20px;
word-wrap: break-word
}

.coupon-read-more {
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.coupon-popup-content {
	display: none;
}

.coupon-detail-popup {
	word-wrap: break-word
}

.coupon-card-popup {
	border: 1px solid #cccccc;
	padding: 0;
}

.coupon-find-product-btn-popup {
	padding-top: 20px;
	padding-bottom: 20px;
}

.js-coupon-apply-action {
	cursor: pointer;
}

.coupon-right {
	float:right;
	height: 50px;
}

.coupon-noti {
	float:right;
	padding-top: 10px;
	padding-bottom: 0px;
}

.coupon-noti-switch {
	float:right;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 0px;
}

.bell-color {
	color:#ec7205;
}
.coupon-bell-notify {
	float:right;
	color: #666666;
}

.nav-tabs.menu_customer_coupons>li.active>a:hover, .nav-tabs.menu_customer_coupons>li.active>a:focus
	{
	color: #0486e0;
	background: none;
}
.coupon-search-box {
	padding: 15px 0 15px 0;
}
.coupon-search-box div {
	border: 1px solid #cccccc;
}
.coupon-search-box input {
	border: none;
	height: 44px;
}

.coupon-autocomplete-scroll {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size:1em;
	width: 20%;
}

.fa-2 {
    font-size: 2em;
}

.account-mycoupons-pagination {
    font-size: 1em;
}

.coupon-switch-hide{
	display : none;
}

.coupon-row-boundary{
	padding:0px;
	margin:0px;
}