/* --------------- popup editor -------------------------------------------------------------------------------- */
	
div.popup .popup-element						{ position: absolute; display: none; border: 1px solid #f2f2f5;  background-color: #e1e1e1; padding: 1 0 1 2px; }


/***************/
/*** globals ***/
/***************/

img		{ border:0px; }


/**********************/
/*** administration ***/
/**********************/


/* --------------- StructureEditorChip -------------------------------------------------------------------------- */
table.structureEditorChip				{ width:100%; }
.structureEditorChip tr.spacer		{ height:15px; }
.structureEditorChip tr.spacer td	{ width:100%; }
.structureEditorChip textarea   		{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width:100%; font-family:monospace; }
.structureEditorChip td.notusingdb	{ color:red; font-weight:bold; width:100%; }
.structureEditorChip td.secButtons div { padding-right:4px; }

/* --------------- typeExportContentChip ------------------------------------------------------------------------ */
table.typeExportContentChip						{ }
.typeExportContentChip tr.header					{ height:15px; }
.typeExportContentChip tr.header td				{ padding:15px 0 10px 5px; }
.typeExportContentChip tr.list					{ vertical-align:top; }
.typeExportContentChip td.list					{ padding:26px 0 0 20px; }
.typeExportContentChip a.typeDefinition		{ width:180px; }
.typeExportContentChip td.typeLocalisation	{ padding-top:20px; }
.typeExportContentChip td.typeLocalisation a	{ width:200px; }


/*****************/
/*** attribute ***/
/*****************/


/* --------------- allInstancesSelectEditorChip ---------------------------------------------------------------- */

table.allInstancesSelectEditorChip			{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.allInstancesSelectEditorChip td				{ padding: 0px; width: 100%; }
.allInstancesSelectEditorChip select.enabled
														{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.allInstancesSelectEditorChip select.disabled
														{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- attributeChip ------------------------------------------------------------------------------- */
table.attributeChip								{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse;  }
.attributeChip td 								{ padding: 0px; font-size: 9pt; vertical-align: top; }
.attributeChip .arrowButton					{ width: 20px; }
.attributeChip .errorspace						{ width: 30px; }
.attributeChip .noLocalizationFlag			{ width: 20px; }
.attributeChip td.isChangedSign				{ width: 7px; text-align: left; }
.attributeChip div.isChangedSign				{ width: 7px; text-align: left; }
.attributeChip td.description					{ vertical-align: middle; }
.attributeChip div.description				{ white-space: nowrap; }
.attributeChip td.label div.mandatory		{ font-weight: bold; }
.attributeChip td.label div.disabled		{ color: #999999; }
.attributeChip td.label div.error			{ color: red; }


/* --------------- attributeDisplayChip ------------------------------------------------------------------------- */
div.attributeDisplayChip						{ text-align:right; padding-right:3px; }


/* --------------- booleanEditorChip ---------------------------------------------------------------------------- */
div.booleanEditorChip							{  }
.booleanEditorChip select.enabled			{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; background-color: #ffffff; }
.booleanEditorChip select.disabled			{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }
.booleanEditorChip input.enabled				{ padding-left: 2px; font-family: Arial; font-size: 8pt; background-color: #ffffff; }
.booleanEditorChip input.disabled			{ padding-left: 2px; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- byteEditorChipDropDown ----------------------------------------------------------------------- */
div.byteEditorChipDropDown						{  }
.byteEditorChipDropDown select.enabled		{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.byteEditorChipDropDown select.disabled	{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- dateEditorChip ------------------------------------------------------------------------------- */
table.dateEditorChip								{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.dateEditorChip td								{ padding: 0px; width: 100%; }
.dateEditorChip td.inputField					{ padding: 0px; padding-right: 3px; }
.dateEditorChip td.pickerSymbol				{ width: 20px; vertical-align: top; padding:0; }
.dateEditorChip div.pickerSymbol				{ width: 23px; padding:0; margin:0px;}
.dateEditorChip td.formatString				{ width: 60px; vertical-align: middle; }
.dateEditorChip div.formatString				{ width: 60px; font-size: 7pt; }
.dateEditorChip td.spacer						{ width: 100%; }
.dateEditorChip input.enabled					{ padding-left: 2px; border: 1px solid #666666; font-family: Arial; font-size: 8pt; }
.dateEditorChip input.disabled				{ padding-left: 2px; border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; }


/* --------------- dateOnlyDateRangeEditorChip ------------------------------------------------------------------ */
table.dateOnlyDateRangeEditorChip			{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.dateOnlyDateRangeEditorChip td.start		{ width:40px; text-align:left; vertical-align:middle; }
.dateOnlyDateRangeEditorChip td.end			{ width:40px; text-align:left; vertical-align:middle; }
.dateOnlyDateRangeEditorChip td.nowrap		{ text-align:left; vertical-align:middle; }


/* --------------- dateRangeEditorChip -------------------------------------------------------------------------- */
table.dateRangeEditorChip						{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.dateRangeEditorChip td.start					{ text-align:left; vertical-align:middle; width:35px; }
.dateRangeEditorChip td.end					{ text-align:left; vertical-align:middle; width:40px; }
.dateRangeEditorChip td.wrap					{ text-align:right; }
.dateRangeEditorChip td.nowrap				{ text-align:right; vertical-align:middle; }


/* --------------- dateTimeEditorChip --------------------------------------------------------------------------- */
table.dateTimeEditorChip						{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.dateTimeEditorChip td.dateInputField		{ padding-right:3px; padding-left:0px;  }
.dateTimeEditorChip td.datePickerSymbol	{ width: 20px; vertical-align: top; padding:0; }
.dateTimeEditorChip div.datePickerSymbol	{ width: 23px; padding:0; margin:0px;}
.dateTimeEditorChip td.dateFormatString	{ padding-left:0px; vertical-align:middle; width:60px; }
.dateTimeEditorChip div.dateFormatString	{ width:60px; font-size:7pt }
.dateTimeEditorChip td.timeInputField		{ padding-right:3px;  }
.dateTimeEditorChip td.timeFormatString	{ vertical-align:middle; width:60px; }
.dateTimeEditorChip div.timeFormatString	{ width:60px; font-size:7pt; white-space:nowrap; }
.dateTimeEditorChip td.spacer					{ width:100% }
.dateTimeEditorChip input.enabled			{ padding-left: 2px; border: 1px solid #666666; font-family: Arial; font-size: 8pt; background-color: #ffffff; }
.dateTimeEditorChip input.disabled        { padding-left: 2px; border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- defaultValueEditorChip ----------------------------------------------------------------------- */
/* no styles */


/* --------------- diffTextDisplayChip -------------------------------------------------------------------------- */
div.diffTextDisplayChip							{ padding-bottom:5px; }
div.diffTextDisplayChip div					{ width: 300; background-color:#D4D0C8; }
div.diffTextDisplayChip div.wysiwyg			{ width: 300; height:260px; border:1px solid #D4D0C8; padding-top:18px; padding-left:10px; overflow:auto; }
table.diffTextDisplayChip						{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
table.diffTextDisplayChip td					{ padding:0px; }


/* -------------- discountValueEditorChip ----------------------------------------------------------------------- */
/* no styles */


/* --------------- enumerationValueSelectEditorChip ------------------------------------------------------------- */
table.enumerationValueSelectEditorChip		{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.enumerationValueSelectEditorChip tr		{ vertical-align:middle; }
.enumerationValueSelectEditorChip td		{ padding: 0px; width: 100%; }
.enumerationValueSelectEditorChip select.enabled
														{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.enumerationValueSelectEditorChip select.disabled
														{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; width: 100%; color: #888888; background-color: #ffffff; }

/* --------------- integerEditorChipDropDown -------------------------------------------------------------------- */
div.integerEditorChipDropDown						{  }
.integerEditorChipDropDown select.enabled		{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.integerEditorChipDropDown select.disabled	{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- itemDisplayChip ------------------------------------------------------------------------------ */
/* only general <a>-tag style */


/* --------------- localizableAttributeChip --------------------------------------------------------------------- */
table.localAttributeChip									{ padding: 0px; border-spacing: 0px; border-collapse: collapse; }
.localAttributeChip td 										{ padding: 0px; font-size: 9pt; vertical-align: top; }
.localAttributeChip td.arrowButton							{ width: 20px; }
.localAttributeChip td.label								{ vertical-align:top; white-space:normal; }
.localAttributeChip td.label div.disabled					{ color: #999999; }
.localAttributeChip .errorspace								{ width: 30px; }
.localAttributeChip td.localized							{ padding:0px; vertical-align: top; text-align: right; }
.localAttributeChip table									{ border-spacing: 0px; padding: 0px; border: 0px; border-collapse: collapse; }
.localAttributeChip table tr 								{ text-align:left;}
.localAttributeChip table tr td								{ padding-bottom: 1px; }
.localAttributeChip table tr td.langCode 					{ width: 20px; text-align: left; }
.localAttributeChip table tr td.langCode div.edit			{ width: 36px; white-space: nowrap; padding-top:3px; }
.localAttributeChip table tr td.langCode div.noedit			{ width: 36px; white-space: nowrap; padding-top:3px; color: silver }
.localAttributeChip table tr td.isChangedSign 				{ width: 7px; text-align: left; }
.localAttributeChip table tr td.isChangedSign div 			{ width: 7px; text-align: left; }
.localAttributeChip td.description							{ padding-top: 8px }
.localAttributeChip span.description						{ white-space: nowrap; }
.localAttributeChip select.enabled							{ border: 1px solid #666666; font-family: Arial; font-size: 7pt; width: 100%; background-color: #ffffff; }
.localAttributeChip select.disabled							{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 7pt; color: #888888; background-color: #ffffff; }


/* --------------- longEditorChipDropDown ----------------------------------------------------------------------- */
div.longEditorChipDropDown						{  }
.longEditorChipDropDown select.enabled		{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.longEditorChipDropDown select.disabled	{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- mapTypeEditorChip ---------------------------------------------------------------------------- */
/* no styles */


/* --------------- mediaEditorChip ------------------------------------------------------------------------------ */
table.mediaEditorChip							{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.mediaEditorChip td.link						{ vertical-align:middle; }
.mediaEditorChip td.link img					{ vertical-align:middle; }
.mediaEditorChip table.readable				{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.mediaEditorChip td.label						{ padding-right: 10px; white-space:normal; }


/* --------------- objectEditorChip ----------------------------------------------------------------------------- */
/* no styles */


/* --------------- partOfReferenceEditorChip -------------------------------------------------------------------- */
div.partOfReferenceEditorChip						{  }
.partOfReferenceEditorChip select.enabled		{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.partOfReferenceEditorChip select.disabled	{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- referenceMultiSelectEditorChip --------------------------------------------------------------- */
div.referenceMultiSelectEditorChip					{  }
.referenceMultiSelectEditorChip select.enabled	{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.referenceMultiSelectEditorChip select.disabled	{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- savedValueEntryEditorChip -------------------------------------------------------------------- */
table.savedValueEntryEditorChip							{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.savedValueEntryEditorChip tr.header					{ height:24px; }
.savedValueEntryEditorChip tr.header .lspacer		{ width:20px; }
.savedValueEntryEditorChip tr.header .langcode		{ width:30px; }
.savedValueEntryEditorChip tr.header .cspacer		{ width:20px; }
.savedValueEntryEditorChip tr.header td.enabled		{ width:351px; }
.savedValueEntryEditorChip tr.header td.disabled	{ width:351px; color: silver; }
.savedValueEntryEditorChip tr.header div.column		{ width:351px; text-align:left; }
.savedValueEntryEditorChip tr.singlerow				{ height:24px; }
.savedValueEntryEditorChip tr.singlerow .lspacer	{ width:20px; }
.savedValueEntryEditorChip tr.singlerow .column		{ width:351px; }
.savedValueEntryEditorChip tr.singlerow .cspacer	{ width:20px; }
.savedValueEntryEditorChip tr.langrow					{ height:24px; }
.savedValueEntryEditorChip tr.langrow .lspacer		{ width:20px; }
.savedValueEntryEditorChip tr.langrow .column		{ width:351px; }
.savedValueEntryEditorChip tr.langrow .cspacer		{ width:20px; }


/* --------------- selectionOfReferenceEditorChip --------------------------------------------------------------- */
span.selectionOfReferenceEditorChip					{ white-space:nowrap; }
.selectionOfReferenceEditorChip select.enabled	{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.selectionOfReferenceEditorChip select.disabled	{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }
	

/* --------------- selectLayoutChip ----------------------------------------------------------------------------- */
div.selectLayoutChip								{  }
.selectLayoutChip select.enabled				{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.selectLayoutChip select.disabled			{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- selectReferenceEditorChip -------------------------------------------------------------------- */
span.selectReferenceEditorChip					{ white-space:nowrap; }
.selectReferenceEditorChip select.enabled		{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.selectReferenceEditorChip select.disabled	{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- shortEditorChipDropDown ---------------------------------------------------------------------- */
div.shortEditorChipDropDown					{  }
.shortEditorChipDropDown select.enabled	{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.shortEditorChipDropDown select.disabled	{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- smartReferenceEditorChip --------------------------------------------------------------------- */
table.smartReferenceEditorChip				{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.smartReferenceEditorChip td					{ padding: 0px; width: 100%; }
.smartReferenceEditorChip input.enabled	{ padding-left: 2px; border: 1px solid #666666; font-family: Arial; font-size: 8pt; width:100%; background-color: #ffffff; }
.smartReferenceEditorChip input.disabled	{ padding-left: 2px; border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }
.smartReferenceEditorChip select				{ width: 100%; }
.smartReferenceEditorChip td.editable 		{ padding-left:3px; }

/* --------------- autocompletetReferenceEditorChip --------------------------------------------------------------------- */
table.autocompleteReferenceEditorChip				{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }

.autocompleteReferenceEditorChip input.enabled	{ 	
	background-color:#FFFFFF;
	background-image:url(src/images/textinput_back.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	border:1px solid #999;
	color:#000000;
	font-family:Arial;
	font-size:11px;
	padding:2px;
	width:100%;
}

.autocompleteReferenceEditorChip input.disabled	{ 
	width: 100%; 
	background-color: #ffffff; 	
	background-image:url(src/images/textinput_back_dis.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	border:1px solid #bbbbbb;
	color:#999;
	font-family:Arial;
	font-size:11px;
	padding:2px;
}

/* --------------- stringLayoutChip ----------------------------------------------------------------------------- */
table.stringLayoutChip							{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; padding-bottom:3px;}
.stringLayoutChip td								{ padding: 0px; width: 100%; }

.stringLayoutChip td input.enabled { 
	width: 100%; 
	background-color: #ffffff; 	
	background-image:url(src/images/textinput_back.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	border:1px solid #999;
	color:#000;
	font-family:Arial;
	font-size:11px;
	padding:2px;
	-moz-user-select:text;
}

.stringLayoutChip td input.disabled { 
	width: 100%; 
	background-color: #ffffff; 	
	background-image:url(src/images/textinput_back_dis.gif);
	background-position:center bottom;
	background-repeat:repeat-x;
	border:1px solid #bbbbbb;
	color:#999;
	font-family:Arial;
	font-size:11px;
	padding:2px;
}

/* --------------- subTypeSelectEditorChip ---------------------------------------------------------------------- */
div.subTypeSelectEditorChip					{  }
.subTypeSelectEditorChip select.enabled	{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.subTypeSelectEditorChip select.disabled	{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }


/* --------------- taxValueEditorChip --------------------------------------------------------------------------- */
/* no styles */


/* --------------- textAreaLayoutChip --------------------------------------------------------------------------- */
table.textAreaLayoutChip						{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; width:100%; }
.textAreaLayoutChip textarea.enabled		{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; background-color: #ffffff; vertical-align:top; }
.textAreaLayoutChip textarea.disabled		{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; vertical-align:top; }
.textAreaLayoutChip input.enabled			{ padding-left: 2px; border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; vertical-align:top; }
.textAreaLayoutChip input.disabled			{ padding-left: 2px; border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; vertical-align:top; }
.textAreaLayoutChip td.mulitline				{ padding: 3px 0 0 3px; }
.textAreaLayoutChip td.mulitline img		{ vertical-align:top; } 


/* --------------- textChip ------------------------------------------------------------------------------------- */
table.textChip						{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.textChip td 						{ padding: 0px; font-size: 9pt; vertical-align: top; padding-bottom:5px; }
.textChip td.arrowButton		{ width: 20px; }
.textChip td.text					{ white-space:normal; }


/* --------------- timePeriodEditorChip ------------------------------------------------------------------------- */
table.timePeriodEditorChip									{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.timePeriodEditorChip td.timeinput						{ padding-right:3px; } 
.timePeriodEditorChip td.timeinput input.enabled	{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.timePeriodEditorChip td.timeinput input.disabled	{ border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; color: #888888; background-color: #ffffff; }
.timePeriodEditorChip td.timeformat						{ vertical-align:middle; width:60px; }
.timePeriodEditorChip td.timeformat div				{ width:60px; font-size:7pt; white-space:nowrap; }
.timePeriodEditorChip td.spacer							{ width:100%; }


/* --------------- uploadToMediaEditorChip ---------------------------------------------------------------------- */
table.uploadToMediaEditorChip										{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.uploadToMediaEditorChip td.notreadable						{ width:100%; padding:0px; }
.uploadToMediaEditorChip td.singlechoice						{ width:100%; padding:0px; }
.uploadToMediaEditorChip td.singlechoice input.enabled	{ padding-left: 2px; border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 100%; background-color: #ffffff; }
.uploadToMediaEditorChip td.singlechoice input.disabled	{ padding-left: 2px; border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt;  width:100%; background-color: #ffffff; color: #888888; }
.uploadToMediaEditorChip td.multiplechoice					{ width:100%; padding:0px; }
.uploadToMediaEditorChip td.multiplechoice select 			{ width:100%; }
.uploadToMediaEditorChip td.cancreate							{ padding-left:3px; }
.uploadToMediaEditorChip td.cancreate div						{ width:27px; }
.uploadToMediaEditorChip td.ispartof div						{ width:25px; }


/* --------------- wysiwygEditorChip ---------------------------------------------------------------------------- */
.wysiwygEditorChip input		{ height:0px; width:0px; position:absolute; z-index:-1; }
.wysiwygEditorChip textarea	{ visibility: hidden; }
.wysiwygEditorChip .disablediframe	{ border: 0;}


/***************/
/*** generic ***/
/***************/


/* --------------- abstractGenericConditionalSearchChip --------------------------------------------------------- */
table.agcsChip												{ width:100%; table-layout:fixed; vertical-align:top; }
.agcsChip td.description								{ padding-left:18px; padding-bottom:15px; padding-top:5px; }
.agcsChip tr.pageContext								{ text-align:left; vertical-align:top; width:100%; }
.agcsChip tr.flexibleSearch							{ width:100%; }
.agcsChip tr.flexibleSearch td.flexibleSearch	{ width:100%; text-align:left }

.agcsChip .row .header									{ width:130px; border-right:0px; } 
.agcsChip .row .header div.header					{ width:130px; padding-left:4px; } 
.agcsChip .row .text										{ border-left:0px;  }
.agcsChip .row .text div.text							{ padding-left:4px; font-weight:normal; }
.agcsChip .row .attribute								{ width:130px; }
.agcsChip .row .attribute div.attribute			{ width:130px; padding-left:4px; white-space:nowrap; overflow:hidden; }
.agcsChip .row .locale									{ width:88px; }
.agcsChip .row .locale div.locale					{ width:88px; padding-left:4px; white-space:nowrap; overflow:hidden; }
.agcsChip .row .comparator								{ width:130px; }
.agcsChip .row .comparator div.comparator			{ width:130px; padding-left:4px; white-space:nowrap; overflow:hidden; }
.agcsChip .row .condition								{  }
.agcsChip .row .condition div.condition			{ padding-left:4px; white-space:nowrap; overflow:hidden; }

.agcsChip tr.agcscButton								{ font-size:1pt; }
.agcsChip tr.agcscButton td.outer					{ text-align:left; white-space:nowrap; padding-top:10px; }
.agcsChip tr.agcscButton td.outer td.agcscCheckbox			{ padding-left: 15px; }


/* --------------- genericEssentialsEditorChip ------------------------------------------------------------------ */
table.geec								{ width:100%; padding-top:10px; }


/* --------------- actionResultChip ----------------------------------------------------------------------------- */
table.actionResultChip				{ width: 100%; height: 100%; table-layout: fixed; }
.actionResultChip td.arcMessage	{ text-align:left; vertical-align:top; }
.actionResultChip .titleOK			{ font-family:Arial, Helvetica, sans-serif; font-size:13px; font-style: normal; font-weight: bold; color: black; margin-top: 15px; margin-bottom: 8px; }
.actionResultChip .titleERROR		{ font-family:Arial, Helvetica, sans-serif; font-size:13px; font-style: normal; font-weight: bold; color: red; margin-top: 15px; margin-bottom: 8px; }
.actionResultChip .messageOK		{ font-family:Arial, Helvetica, sans-serif; font-size:12px; font-style: normal; font-weight: normal; color: black; border:0px; padding: 2px; width:100%; height:100%; }
.actionResultChip .messageERROR	{ font-family:Arial, Helvetica, sans-serif; font-size:12px; font-style: normal; font-weight: normal; color: black; border:0px; padding: 2px; width:100%; height:100%; }
.actionResultChip .button			{ margin-top: 10px; margin-bottom: 10px; }
.actionResultChip .arcTextArea	{ text-align:left; vertical-align:top; border:1px solid #bbbbbb; width:100%; height:100%; }
.actionResultChip div				{ padding-left:200px; }
.actionResultChip div a				{ width:140px; } 


/* --------------- collectionTreeViewChip ----------------------------------------------------------------------- */
table.collectionTreeViewChip		{  border:0; }
.collectionTreeViewChip td			{ text-align:left; vertical-align:top; }


/* --------------- createItemListEntryChip ---------------------------------------------------------------------- */
td.cilecIcon							{ padding:0px; }
.cilecIcon table						{ border:0px; width:20px; border-collapse:collapse; }
.cilecIcon table td.first			{ width:8px;  padding:0px; }
.cilecIcon table td.first div		{ width:8px;  padding-top:5px; }
.cilecIcon table td.second			{ width:22px; padding:0px; }
.cilecIcon table td.second div	{ width:22px; padding-top:4px; }

td.cilecEntry							{ padding:0px; vertical-align:middle;  }
.cilecEntry td.lastEntry			{ padding:0px; padding-right:2px; }
.cilecEntry td.lastEntry div		{ width:20px; }


/* --------------- editableItemListEntryChip -------------------------------------------------------------------- */
.eilecIsChangedSign			{ width:5px; }
.eilecIsChangedSign div		{ width:5px; padding-top:5px; }
.eilecIcon						{ width:23px; }


/* --------------- emptyFooter ---------------------------------------------------------------------------------- */
table.emptyFooter				{ width:100%; }
.emptyFooter tr				{ vertical-align:	bottom; }
.emptyFooter tr td.left		{ text-align: left; }
.emptyFooter tr td.middle	{ width:100%; font-size:1pt; }
.emptyFooter tr td.right	{ text-align: right; }


/* --------------- genericAtomicTypeListChip -------------------------------------------------------------------- */
table.genericAtomicTypeListChip						{ padding-bottom:5px; }
.genericAtomicTypeListChip div.gatlcResultList	{ width:100%; overflow:auto; }
.genericAtomicTypeListChip th.gatlcCheckbox		{ width:20px; border-right:0px; text-align:center; }
.genericAtomicTypeListChip th.gatlcIsChanged		{ width:6px; border-left:0px; border-right:0px; }
.genericAtomicTypeListChip div.gatlcIsChanged	{ width:6px; }
.genericAtomicTypeListChip th.gatlcEntry			{ border-left:0px; width:100%; }
.genericAtomicTypeListChip div.gatlcEntry			{ padding-left:3px; white-space:nowrap; overflow:hidden; }
.genericAtomicTypeListChip td.gatlcCheckbox		{ width:20px; border-right:0px; text-align:center; }
.genericAtomicTypeListChip td.gatlcIsChanged		{ width:6px; border-left:0px; border-right:0px; }
.genericAtomicTypeListChip td.gatlcEntry			{ border-left:0px; }


/* --------------- genericExplorerMenuTreeNodeContentChip ------------------------------------------------------- */
table.genericExplorerMenuTreeNodeContentChip								{ width:100%; }
.genericExplorerMenuTreeNodeContentChip td.defaultContent			{ height:100%; vertical-align:bottom; }
.genericExplorerMenuTreeNodeContentChip td.defaultContent div.dc	{ border-top: 1px solid #bbbbbb; padding-top:20px; }


/* --------------- genericItemListChip -------------------------------------------------------------------------- */
table.genericItemListChip						{ width:100%; }
.genericItemListChip table						{ padding:0px; }
.genericItemListChip .gilcCheckbox			{ width:20px; border-right:0px; }
.genericItemListChip .gilcCheckbox div		{ width:20px; }
.gilcIcon											{ width:28px; padding:0px; text-align:left; border-left:0px; }
.gilcIcon span										{ padding:1px 0 1px 0; }
.gilcEntry											{ padding-left:3px; white-space:nowrap; overflow:hidden; font-weight:normal;}
.gilcEntry-mandatory								{ padding-left:3px; white-space:nowrap; overflow:hidden; }
.genericItemListChip .gilcNewEntry			{ width:20px; border-left:1px solid #bbbbbb; padding:0px; }


/* --------------- genericItemSearchListChip -------------------------------------------------------------------- */
table.genericItemSearchListChip						{ width:100%; border-collapse:collapse; table-layout:fixed; }
.genericItemSearchListChip .gislcCheckbox			{ width:20px; border-right:0px; vertical-align:top; }
.genericItemSearchListChip .gislcCheckbox div	{ padding-left:1px; }
.genericItemSearchListChip .gislcIcon				{ width:28px; padding:0px; text-align:left; border-left:0px; }
.genericItemSearchListChip .gislcEntry				{ padding-left:3px; white-space:nowrap; overflow:hidden; }
.genericItemSearchListChip div.gislcResultList	{ width:100%; overflow:scroll; background-color: #ffffff; }
.genericItemSearchListChip div.gislcResultList table	{ border-top:0px; }
.genericItemSearchListChip td.padder				{ padding-top:10px; }


/* --------------- genericListLayoutChip ------------------------------------------------------------------------ */
table.genericListLayoutChip tr.glcTR				{ width:100%; }
table.genericListLayoutChip tr.glcTR div.glcDIV	{ width:100%; padding:2px 0px 2px 0px; }


/* --------------- genericMapTypeListChip ----------------------------------------------------------------------- */
table.genericMapTypeListChip						{ padding-bottom:5px; }
.genericMapTypeListChip div.gmtlcResultList	{ width:100%; overflow:auto; }
.genericMapTypeListChip th.gmtlcCheckbox		{ width:26px; border-right:0px; text-align:center; }
.genericMapTypeListChip td.gmtlcCheckbox		{ width:26px; border-right:0px; text-align:center; }
.genericMapTypeListChip div.gmtlcCheckbox		{ width:26px; }
.genericMapTypeListChip th.gmtlcEntry			{ border-left:0px; }
.genericMapTypeListChip td.gmtlcEntry			{ border-left:0px; }
.genericMapTypeListChip th.gmtlcEntry2			{ border-left:0px; width:100%; }
.genericMapTypeListChip td.gmtlcEntry2			{ border-left:0px; width:100%; }
.genericMapTypeListChip div.gmtlcEntry			{ padding-left:3px; white-space:nowrap; overflow:hidden; }
.genericMapTypeListChip td.gmtlecEntry			{ border-left:0px; }
.genericMapTypeListChip div.gmtlecEntry		{ padding-right:5px; }
.genericMapTypeListChip td.gmtlecEntry2		{ border-left:0px; width:100%; }


/* --------------- genericReferenceEditorChip ------------------------------------------------------------------- */
td.grecSearchIcon			{ padding-left:3px; width:23px; }
td.grecSearchIcon div	{ width:23px; }


/* --------------- genericRowChip ------------------------------------------------------------------------------- */
tr.genericRowChip											{ width:100%; vertical-align:top; }
tr.genericRowChip div.grcDIV							{ width:100%; padding:2px 0px 2px 0px; }


/* --------------- genericTDChip -------------------------------------------------------------------------------- */
td.genericTDChip			{ vertical-align: top; }
.genericTDChip div.gTDc	{ padding:3px; width:100%; height:100%; }


/* --------------- itemCreateTypeSelectChip --------------------------------------------------------------------- */
div.itemCreateTypeSelectChip								{ padding-top:30px; padding-bottom:5px; padding-left:30px; width:100%; height:100%; }
.itemCreateTypeSelectChip table.ictsc					{ width:100%; height:100%; vertical-align:top; }
.itemCreateTypeSelectChip .ictsc td.ictscInfo		{ width:100%; padding-bottom:20px; }
.itemCreateTypeSelectChip .ictsc td.ictscType		{ vertical-align:top; }
.itemCreateTypeSelectChip .ictsc td.ictscType div	{ padding-left:20px; padding-right:10px; white-space:nowrap; }
.itemCreateTypeSelectChip .ictsc td.ictscDescr		{ padding-right:10px; }
.itemCreateTypeSelectChip .ictsc td.ictscButtons	{ vertical-align:top; }


/* --------------- modalGenericSearchChip ----------------------------------------------------------------------- */
div.mgscContext				{ padding-top:40px; }
div.mgscNoContext				{ padding-top:4px; }	


/* --------------- specialShortcutChip -------------------------------------------------------------------------- */
tr.specialShortcutChip					{ height:23px; }
.specialShortcutChip span.active		{ color:#000839; font-family:Arial; font-size:8pt; font-stretch:wider; }
.specialShortcutChip span.notActive	{ color:#404040; font-family:Arial; font-size:8pt; font-stretch:wider; }


/*************************/
/*** generic/organizer ***/
/*************************/


/* --------------- organizerChip -------------------------------------------------------------------------------- */
table.ocNoToolbar					{ width:100%; }
.ocNoToolbar td.ocNoToolbar	{ height:27px; background-color:#D3D3D8; vertical-align:middle;  }

table.ocPageContext												{ width:100%; height:100%; background-color:#fff; }
tr.ocPageContextTR							{ width:100%; height:100%; vertical-align:top; }
td.ocPageContextTD	{ width:100%; height:100%; }

table.ocNotPartOf										{ width:100%; height:92%; background-color:#F2F2F5; }
.ocNotPartOf tr.upperRow							{ vertical-align:top; }
.ocNotPartOf tr.upperRow td.leftCorner			{ text-align:left; vertical-align:top; font-size:1pt;height:6px; }
.ocNotPartOf tr.upperRow td.rightCorner		{ text-align:right; vertical-align:top; font-size:1pt;height:6px; }
.ocNotPartOf tr.contextRow							{ vertical-align:top; }
.ocNotPartOf tr.contextRow td.contextField	{ width:100%; }
.ocNotPartOf tr.spacerRow							{ height:100%; }
.ocNotPartOf tr.lowerRow							{ vertical-align:bottom; }
.ocNotPartOf tr.lowerRow td.leftCorner			{ text-align:left; vertical-align:bottom; font-size:1pt;height:6px; }
.ocNotPartOf tr.lowerRow td.rightCorner		{ text-align:right; vertical-align:bottom; font-size:1pt;height:6px; }


/* --------------- organizerComponentChip ----------------------------------------------------------------------- */
div.occEnabledAndSetExpanded		{ padding:5px; width:100%; }
div.occSpacer							{ height:15px; width:100%; }


/* --------------- organizerCreateChip -------------------------------------------------------------------------- */
table.organizerCreateChip					{ vertical-align:top; }
.organizerCreateChip tr						{ width:100%; height:20px; white-space:nowrap; }


/* --------------- organizerItemChip ---------------------------------------------------------------------------- */
table.organizerItemChip					{ width:100%; height:100%; }
.organizerItemChip td.oicToolbar		{ vertical-align:top; }
.organizerItemChip td.oicContext		{ height:100%; vertical-align:top; }


/* --------------- organizerItemChipNotValid -------------------------------------------------------------------- */
p.orgItemChipNotValid				{ text-align:center; }
.orgItemChipNotValid table			{ border:0px; vertical-align:middle; }
.orgItemChipNotValid table tr td	{ height:30px; text-align:center; padding-top:50px; padding-bottom:20px; }


/* --------------- organizerListChip ---------------------------------------------------------------------------- */
table.organizerListChip						{ width:100%; border-collapse:collapse; table-layout:fixed; }
.organizerListChip .olcCheckbox			{ width:20px; border-right:0px; vertical-align:top; }
.organizerListChip .olcCheckbox div		{ padding-left:1px; }
.organizerListChip .olcIcon				{ width:28px; padding:0px; text-align:left; border-left:0px; }
.organizerListChip .olcEmpty				{ padding-left:3px; border-right:0px; vertical-align:middle; }
.organizerListChip .olcEntry				{ padding-left:3px; white-space:nowrap; overflow:hidden; }
.organizerListChip div.olcResultList	{ width:100%;overflow:scroll;background-color: #ffffff; }
.organizerListChip div.olcResultList table	{ border-top:0px; }

.organizerListChip div.isEditing			{ width:100%; padding-top:15px; }
.organizerListChip table.isEditing		{ width:500px; height:180px; }

.organizerListChip table.isEditing tr.rowToolbar	{  }
.organizerListChip table.isEditing tr.rowToolbar table tr.tabRow		{ background-color:#e1e1e1; }
.organizerListChip table.isEditing tr.rowToolbar table td.topCorner	{ width:7px; vertical-align:top; }
.organizerListChip table.isEditing tr.rowToolbar table td.middleBlue	{ width:100%; background-color:#3566F0; }
.organizerListChip table.isEditing tr.rowToolbar table td.topMiddle	{ text-align:left; white-space:nowrap; }
.organizerListChip table.isEditing tr.rowToolbar table td.tabRowRest	{ width:100%; background-color:#e1e1e1; }

.organizerListChip table.isEditing tr td.rowContent	{ background-color:white; vertical-align:top; width:100%; height:100%; padding:10px; }

.organizerListChip table.isEditing tr.rowFooter table							{ width:100%; }
.organizerListChip table.isEditing tr.rowFooter table td.bottomCorner	{ width:7px; vertical-align:bottom; }
.organizerListChip table.isEditing tr.rowFooter table td.middle			{ width:100% }


/* --------------- organizerListEntryChip ----------------------------------------------------------------------- */
.organizerListChip .olecIsChangedSign			{ width:5px; }
.organizerListChip .olecIsChangedSign div		{ width:5px; padding-top:5px; }
.organizerListChip .olecIcon						{ width:23px; }
.organizerListChip .olecIcon span				{ padding:1px 0 1px 0; }
.organizerListChip .olecEntry						{ padding-left:3px; white-space:nowrap; overflow:hidden; }


/* --------------- organizerListEntryChipTree ------------------------------------------------------------------- */
.organizerListChip .olectIsChangedSign				{ width:28px; }
.organizerListChip .olectIsChangedSign div		{ width:28px; padding-top:5px; text-align:center; }


/*************/
/*** media ***/
/*************/


/* --------------- mediaFileUploadEditorChip -------------------------------------------------------------------- */
table.mediaFileUploadEditorChip							{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.mediaFileUploadEditorChip tr 							{ height:26px; }
.mediaFileUploadEditorChip td 							{ padding: 0px; font-size: 9pt; vertical-align: top; }
.mediaFileUploadEditorChip .arrowButton				{ width: 20px; white-space:normal; }
.mediaFileUploadEditorChip .attrLabel					{ width: 107px; white-space:normal; vertical-align:middle; }
.mediaFileUploadEditorChip .noLocalizationFlag		{ width: 20px; white-space:normal; text-align:center; }
.mediaFileUploadEditorChip .noLocalizationFlag div	{ width: 20px; text-align:center; }
.mediaFileUploadEditorChip .preview						{ text-align:left; vertical-align:middle; }
.mediaFileUploadEditorChip .preview td					{ border:solid 1px #f2f2f5; text-decoration:none; }
.mediaFileUploadEditorChip input.enabled				{ padding-left: 2px; border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 224px; background-color: #ffffff; }
.mediaFileUploadEditorChip input.disabled				{ padding-left: 2px; border: 1px solid #bbbbbb; font-family: Arial; font-size: 8pt; width: 224px; color: #888888; background-color: #ffffff; }


/* --------------- modalMediaFileUploadChip --------------------------------------------------------------------- */
td.modalMediaFileUploadChip		{ font-weight: bold; }
input.modalMediaFileUploadChip	{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; }
select.modalMediaFileUploadChip	{ width: 150px }

/****************/
/*** security ***/
/****************/


/* --------------- encryptedPasswordEditorChip ------------------------------------------------------------------ */
table.encryptedPasswordEditorChip				{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.encryptedPasswordEditorChip tr 					{ height: 24px; }
.encryptedPasswordEditorChip td 					{ padding: 0px; font-size: 9pt; vertical-align: top; }
.encryptedPasswordEditorChip .arrowButton		{ width: 20px; white-space:normal; }
.encryptedPasswordEditorChip .attrLabel		{ width: 127px; }
.encryptedPasswordEditorChip select				{ border: 1px solid #666666; font-family: Arial; font-size: 8pt; background-color: #ffffff; }
.encryptedPasswordEditorChip input				{ padding-left: 2px; border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 224px; background-color: #ffffff; }


/* --------------- passwordEditorChip --------------------------------------------------------------------------- */
table.passwordEditorChip				{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.passwordEditorChip tr 					{ height: 24px; }
.passwordEditorChip td 					{ padding: 0px; font-size: 9pt; vertical-align: top; }
.passwordEditorChip .arrowButton		{ width: 20px; white-space:normal; }
.passwordEditorChip .attrLabel		{ width: 127px; }
.passwordEditorChip input				{ padding-left: 2px; border: 1px solid #666666; font-family: Arial; font-size: 8pt; width: 224px; background-color: #ffffff; }


/* --------------- principalAccessRightsEditorChip -------------------------------------------------------------- */
table.principalAccessRightsEditorChipHeader				{ width:100%; padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }

table.principalAccessRightsEditorChip						{ width: 742px; padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.principalAccessRightsEditorChip td 						{ padding: 0px; font-size: 9pt; vertical-align: top; }
.principalAccessRightsEditorChip td.arrowButton			{ width: 20px; white-space:normal; }
.principalAccessRightsEditorChip td.description			{ width: 725px; padding-top: 5px; padding-bottom:5px; }
.principalAccessRightsEditorChip td.description div	{ width: 100%; }
.principalAccessRightsEditorChip td.attrLabel			{ width: 127px; vertical-align:top; }
.principalAccessRightsEditorChip td.attrLabel div		{ width: 100%; }
.principalAccessRightsEditorChip td.spacer				{ height:10px; width:742px; }
.principalAccessRightsEditorChip td.spacer div			{ height:10px; width:742px; }

.principalAccessRightsEditorChip td.objects				{ width:595px; vertical-align:top; }
.principalAccessRightsEditorChip td.objects table		{ padding: 0px; border-spacing: 0px; border:0px; border-collapse: collapse; }
.principalAccessRightsEditorChip td.objects table tr.headline
																		{ text-align:left; }

/* --------------- typeAccessRightsEditorChip ------------------------------------------------------------------- */
table.typeAccessRightsEditorChip							{ width:100%; height:100%; vertical-align:top; }
.typeAccessRightsEditorChip .arrowButton				{ width: 20px; white-space:normal; }
.typeAccessRightsEditorChip .attrLabel					{ width: 107px; white-space:normal; vertical-align:top; }
.typeAccessRightsEditorChip .noLocalizationFlag		{ width: 20px; white-space:normal; text-align:center; }
.typeAccessRightsEditorChip div.tarecEntry			{ padding-left:3px; white-space:nowrap; overflow:hidden; }



/* --------------- selectTollbarActionLabel --------------------------------------------------------------------- */
td.selectTollbarActionLabel		{ padding-left:3px; padding-right:2px; vertical-align:middle; white-space:nowrap; }
td.selectTollbarActionDropDown	{ text-align:center; vertical-align:middle; padding-right:3px; }


/************/
/*** main ***/
/************/


/* --------------- actionDialogContainerChip -------------------------------------------------------------------- */
div.actionDialogContainerChip											{ padding-top:30px; padding-bottom:5px; padding-left:30px; padding-right:30px; width:100%; height:100%; background-color:#ffffff}
.actionDialogContainerChip table										{ border:0px; vertical-align:top; width:100%; height:100%; }
.actionDialogContainerChip table td.searchResultAction 		{ width:100%; padding-bottom:15px; }
.actionDialogContainerChip table td.searchResultAction div	{ font-weight:bold; }
.actionDialogContainerChip table td.dialogchip					{ padding-bottom:30px; }
.actionDialogContainerChip table td.buttons						{ text-align:center; }
.actionDialogContainerChip table td.spacer						{ height:100%; }


/* --------------- customChip ----------------------------------------------------------------------------------- */
div.customChip							{ border:solid grey 1px; }


/* --------------- defaultContent ------------------------------------------------------------------------------- */
table.defaultContent					{ width:100%; }
.defaultContent tr					{ text-align:left; }
.defaultContent td 					{ padding: 0px; font-size: 9pt; vertical-align: top; }
.defaultContent td.hybrisLogo		{ padding-left:30px; }
.defaultContent td.spacer			{ width:55px; }
.defaultContent td.headline		{ padding-top: 15px; font-weight:bold; }
.defaultContent td.padding			{ padding-top: 10px; }


/* --------------- dialogContainerChip -------------------------------------------------------------------------- */
div.dialogContainerChip											{ padding-top:30px; padding-bottom:5px; padding-left:30px; padding-right:30px; width:100%; height:100%; background-color:#ffffff; }
.dialogContainerChip table										{ border:0px; vertical-align:top; width:100%; height:100%; }
.dialogContainerChip table td.dialogchip					{ padding-bottom:30px; }
.dialogContainerChip table td.closeButton					{ padding-left:30%; }
.dialogContainerChip table td.spacer						{ height:100%; }


/* --------------- editorMenuChip ------------------------------------------------------------------------------- */
table.editorMenuChip					{ width:100%; background-color:white; }
.editorMenuChip td.rightPadder	{ width:20px; }
.editorMenuChip div.rightPadder	{ width:20px; }


/* --------------- iconChip ------------------------------------------------------------------------------------- */
table.iconChip						{ border-style:none; border-width:0px; margin:3px; }
.iconChip div						{ overflow:hidden; }
.iconChip div table				{ border:0px; width:100%; height:100%; }
.iconChip div table td			{ text-align:center; vertical-align:bottom; }
.iconChip div table td a		{ text-decoration:none; }
.iconChip div table td img		{ margin:3px; }
.iconChip td.smallText			{ text-align:center;  }
.iconChip td.smallText small	{ white-space:normal; vertical-align:top; }


/* --------------- inlineShortCutChip --------------------------------------------------------------------------- */
table.inlineShortCutChip									{ border:0px; padding-bottom: 5px; padding-top:5px; border-collapse:collapse; }
.inlineShortCutChip .arrowButton							{ width: 20px; }
.inlineShortCutChip td.attrLabel							{ vertical-align:top; }
.inlineShortCutChip td.attrLabel div					{ vertical-align:top; }
.inlineShortCutChip td.noLocalizationFlag				{ width: 20px; }
.inlineShortCutChip td.noLocalizationFlag div		{ width: 20px; }
.inlineShortCutChip td.isChangedSign					{ width: 7px; }
.inlineShortCutChip td.isChangedSign					{ width: 7px; }

.inlineShortCutChip td.inlineShortCutChip				{ vertical-align:top; }
.inlineShortCutChip td.inlineShortCutChip div		{ overflow:auto; white-space:nowrap; }
.inlineShortCutChip th.ilscHeader						{ padding-left:0px; padding-right:0px; width:44px; }
.inlineShortCutChip div.iscEntry							{ padding-left:3px; }
.inlineShortCutChip td.itemRowIcon						{ padding:0px; padding-right:0px; width:44px; text-align:center; }
.inlineShortCutChip td.errorMessage						{ color:red; text-align:center; }


/* --------------- itemChip ------------------------------------------------------------------------------------- */
table.itemChip							{ width:100%; height:100%; background-color:white; }	
.itemChip tr td.icToolbar			{ vertical-align:middle; }
.itemChip tr td.icEditor			{ vertical-align:top; height:100%; }
.itemChip tr td.icFooter			{ vertical-align:top; height:100%; }
.itemChip tr tr.icSpacer			{ width:100%; height:100%; }

.itemChip table tr td.left			{ text-align:left; vertical-align:bottom; width:7px; }
.itemChip table tr td.middle		{ text-align:right; width:100%; }
.itemChip table tr td.right		{ text-align:right; vertical-align:bottom; width:7px; }

.itemChip tr.icTreeCorners						{ height:7px; }
.itemChip tr.icTreeCorners td table			{ width:100%; height:100%; vertical-align:top; }
.itemChip tr.icTreeCorners td table tr		{ vertical-align:bottom; }

.itemChip tr.icEditorCorners						{ height:24px; background-color:#e1e1e1; }
.itemChip tr.icEditorCorners td table 			{ width:100%; height:100%; vertical-align:top; }
.itemChip tr.icEditorCorners td table tr		{ vertical-align:top; }


/* --------------- itemNotValidChip ----------------------------------------------------------------------------- */
p.itemChipNotValid			{ text-align:center; }
.itemChipNotValid table		{ vertical-align:middle; }
.itemChipNotValid td.itemChipNotValid	{ height:30px; text-align:center; padding-top:50px; padding-bottom:20px; }
.itemChipNotValid td.icnvOkButton		{ height:30px; text-align:center; }


/* --------------- labelToolbarActionChip ----------------------------------------------------------------------- */
td.labelToolbarActionChip	{ padding-left:3px; padding-right:2px; vertical-align:middle; }


/* --------------- menuTabChip ---------------------------------------------------------------------------------- */
td.menuTabChipActive				{ width:143px; height:30px; text-align:left; font-family:Arial; font-size:8pt; font-weight:bold; }
td.menuTabChipEnabled			{ width:143px; height:30px; text-align:left; }
td.menuTabChipEnabled input	{ text-align:left; width:70%; margin-left:0px; border:0px; font-family:Arial; font-size:8pt; font-weight:bold; background-color:#D3D3D3; }
td.menuTabChipNotEnabled		{ width:143px; height:30px; text-align:left; font-family:Arial; font-size:8pt; font-weight:bold; color:#808080; }


/* --------------- progressToolbarActionChip -------------------------------------------------------------------- */
td.ptacFirst							{ padding-left:30px; padding-top:3px; }
td.ptacFirst div.outerDiv			{ width:200px; height:10px; border:1px solid #c0c0c0; }
td.ptacFirst div.outerDiv div		{ height:10px; background-color:#4060c0; text-align:left; font-size:1pt; }
td.ptacSecond							{ width:30px; text-align:right; padding-top:4px; padding-left:5px; }
td.ptacThird							{ color:#606060; font-size: 7pt; padding-top:5px; padding-left:10px; }


/* --------------- searchResultActionDialogChip ----------------------------------------------------------------- */
div.searchResultActionDialogChip		{ padding-bottom:5px; }


/* --------------- simpleMessageDialogChip ---------------------------------------------------------------------- */
div.simpleMessageDialogChip		{ padding-bottom:5px; }


/* --------------- simpleTreeCellDisplayChip -------------------------------------------------------------------- */
div.simpleTreeCellDisplayChip					{ height:100%; }
.simpleTreeCellDisplayChip table				{ width:100%; height:100%; }
.simpleTreeCellDisplayChip td.stcdcIcon	{ height:100%; vertical-align:top; padding: 1px 0px 0px 0px; }
.simpleTreeCellDisplayChip	td.stcdcName	{ width:100%; height:100%; vertical-align:top; padding: 2px 2px 1px 2px; }


/* --------------- simpleURLDialogChip ------------------------------------------------------------------------- */
div.simpleURLDialogChip				{ padding-bottom:5px; }


/* --------------- textboxToolbarActionChip -------------------------------------------------------------------- */
td.textboxToolbarActionChip		{ width:18px; text-align:center; }


/* --------------- treeIconChip -------------------------------------------------------------------------------- */
td.treeIconChip							{ padding-bottom:5px; }
.treeIconChip table						{ border:0px; width:100% }
.treeIconChip table td					{ width:100%;}

.treeIconChip table.ticContent	{ width:100%; border:0px; padding:5px;}
.treeIconChip td.ticIcon			{ width:60px; vertical-align:top; }
.treeIconChip td.ticIcon div		{ width:60px; text-align:center; }
.treeIconChip td.ticTitle			{ vertical-align:top; padding-left:5px; }
.treeIconChip td.ticTitle div		{ padding-bottom:3px; font-weight:bold; color:#263966; }


/* --------------- wizardInfoTabChip ---------------------------------------------------------------------------- */
table.wizardInfoTabChip					{ width:100%; height:100%; }
.wizardInfoTabChip td.spacer			{ width:20px; }
.wizardInfoTabChip td.message			{ padding-top:20px; }
.wizardInfoTabChip td.message div	{ white-space:normal; }


/* --------------- wizardStatusTabChip -------------------------------------------------------------------------- */
table.wizardStatusTabChip					{ width:100%; height:100%; }
.wizardStatusTabChip td.leftSpace		{ width:16px; }
.wizardStatusTabChip td.wizLabel			{ width:140px; }
.wizardStatusTabChip td.wizLabel span	{ white-space:normal; }
.wizardStatusTabChip td.spacer			{ width:30px; }
.wizardStatusTabChip td.status			{ vertical-align:middle; text-align:left; }
.wizardStatusTabChip td.status div		{ text-align:left; } 


/* --------------- fileDownloadChip -------------------------------------------------------------------------- */
div.filedownloadchip					{ padding-top:30px; padding-bottom:5px; padding-left:30px; padding-right:30px; width:100%; height:100%; background-color:#ffffff }
