@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 


$categorySelector__default--bg-color: $black__blueish--200;
$categorySelector__widget--bg-color: $black__blueish--100;
$categorySelector__default--color: $white;
$categorySelector__treerow-selected--color: $blue__default;
$categorySelector__default-hover--color: $blue__greyish--200;
$categorySelector__tree--margin-left: $container-spacing-default__base;