@charset "UTF-8";
@-webkit-keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/*================================
    Catalog Selector Menu Button
================================*/
.yw-catalog-selector {
  color: #7f90a5;
  position: relative; }
  .yw-catalog-selector:before, .yw-catalog-selector:after {
    width: 1px;
    content: "";
    background-color: #d5d8dc;
    position: absolute;
    top: 5px;
    bottom: 5px;
    z-index: 1; }
  .yw-catalog-selector:before {
    left: 0; }
  .yw-catalog-selector:after {
    right: 0; }
  .yw-catalog-selector button.z-button {
    width: 100%;
    height: 100%;
    max-width: 400px;
    min-height: 50px;
    font-size: 14px;
    background: #ffffff;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 30px 0 20px;
    color: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: none;
    font-weight: 500;
    text-align: left;
    position: relative; }
    .yw-catalog-selector button.z-button:hover, .yw-catalog-selector button.z-button:focus, .yw-catalog-selector button.z-button:active {
      color: #0486e0; }
      .yw-catalog-selector button.z-button:hover + span:empty, .yw-catalog-selector button.z-button:focus + span:empty, .yw-catalog-selector button.z-button:active + span:empty {
        color: #0486e0; }
    .yw-catalog-selector button.z-button:active {
      box-shadow: none; }
    .yw-catalog-selector button.z-button + span:empty {
      color: #7f90a5;
      background: #ffffff; }
  .yw-catalog-selector button.z-button:after,
  .yw-catalog-selector span:last-child:empty:after {
    right: 15px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    content: "";
    margin-top: -7px;
    font-family: "FontAwesome", sans-serif;
    top: 50%;
    text-align: center;
    color: inherit;
    position: absolute; }
  .yw-catalog-selector span:last-child:empty {
    font-size: 14px;
    display: block !important;
    width: 0; }
    .yw-catalog-selector span:last-child:empty:after {
      right: 16px;
      content: "";
      background-color: inherit; }
