@charset "UTF-8";
@-webkit-keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/*================================
        Catalog Selector Popup
================================*/
.yw-catalog-selector-popup {
  width: 320px;
  border: none;
  border-radius: 0;
  overflow: auto; }
  .yw-catalog-selector-popup .z-popup-content {
    padding: 0; }
  .yw-catalog-selector-popup .z-icon-caret-right:after,
  .yw-catalog-selector-popup .z-icon-caret-down:after,
  .yw-catalog-selector-popup .yw-treerow-catalogVersion .z-treecell-content:after,
  .yw-catalog-selector-popup .yw-treerow-all .z-treecell-content:after {
    border-top: 1px solid #c4cedc;
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0; }
  .yw-catalog-selector-popup .z-icon-caret-right,
  .yw-catalog-selector-popup .z-icon-caret-down {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    display: inline; }
    .yw-catalog-selector-popup .z-icon-caret-right:before,
    .yw-catalog-selector-popup .z-icon-caret-down:before {
      color: #c4cedc;
      line-height: 15px;
      margin-top: -7px;
      top: 50%;
      position: absolute; }
  .yw-catalog-selector-popup .z-tree {
    border: none; }
  .yw-catalog-selector-popup .z-treecell-text {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding-left: 3px;
    padding-right: 20px;
    display: inline-block;
    position: relative;
    word-break: break-all;
    word-break: break-word; }
  .yw-catalog-selector-popup .z-treecell-content {
    color: #7f90a4;
    line-height: 20px;
    padding: 0; }
    .yw-catalog-selector-popup .z-treecell-content .z-tree-icon {
      width: 15px;
      height: 15px;
      text-align: left; }
    .yw-catalog-selector-popup .z-treecell-content .z-tree-line {
      height: auto; }
  .yw-catalog-selector-popup .z-treerow {
    margin-top: -1px;
    padding: 10px 0 10px 20px;
    display: block;
    overflow: hidden; }
    .yw-catalog-selector-popup .z-treerow .z-treecell {
      background: none; }
    .yw-catalog-selector-popup .z-treerow:hover {
      background-color: #f6f8fa;
      cursor: pointer; }
      .yw-catalog-selector-popup .z-treerow:hover .z-treecell-text {
        color: #0486e0; }
    .yw-catalog-selector-popup .z-treerow-selected .z-treecell-text {
      color: #0486e0;
      padding-left: 15px; }
      .yw-catalog-selector-popup .z-treerow-selected .z-treecell-text:before {
        content: "";
        font-family: "FontAwesome", sans-serif;
        color: inherit;
        text-indent: -15px;
        width: 15px;
        display: inline-block;
        position: absolute; }
    .yw-catalog-selector-popup .z-treerow-selected:hover .z-treecell-text {
      color: #0486e0; }
    .yw-catalog-selector-popup .z-treerow-checkable {
      display: none; }
    .yw-catalog-selector-popup .z-treerow:hover .yw-treerow-catalogVersion-sync-cell-btn {
      display: inline-block; }
  .yw-catalog-selector-popup .yw-treerow-catalog .z-tree-line.z-tree-spacer, .yw-catalog-selector-popup .yw-treerow-catalogVersion .z-tree-line.z-tree-spacer, .yw-catalog-selector-popup .yw-treerow-all .z-tree-line.z-tree-spacer {
    display: none; }
  .yw-catalog-selector-popup .yw-treerow-catalog, .yw-catalog-selector-popup .yw-treerow-all {
    position: relative; }
  .yw-catalog-selector-popup .yw-treerow-catalog .z-tree-icon {
    position: static; }
    .yw-catalog-selector-popup .yw-treerow-catalog .z-tree-icon .z-tree-open:after {
      content: ""; }
  .yw-catalog-selector-popup .yw-treerow-catalogVersion {
    padding-left: 35px;
    position: relative;
    z-index: 1; }
    .yw-catalog-selector-popup .yw-treerow-catalogVersion .z-treecell-text {
      padding-right: 45px; }
    .yw-catalog-selector-popup .yw-treerow-catalogVersion .z-treecell-content:after {
      content: "";
      bottom: 0;
      top: auto; }
    .yw-catalog-selector-popup .yw-treerow-catalogVersion-sync-cell-btn {
      top: 10px;
      bottom: 10px;
      border-left: 1px solid #c4cedc;
      width: 40px;
      position: absolute;
      background-color: transparent;
      box-shadow: none;
      height: auto;
      right: 0;
      min-height: 0;
      display: none; }
      .yw-catalog-selector-popup .yw-treerow-catalogVersion-sync-cell-btn:before {
        width: 18px;
        height: 18px;
        line-height: 18px;
        margin-top: -9px;
        margin-left: -9px;
        content: "";
        background: url("images/icon_catalog_sync_default.png") no-repeat center;
        top: 50%;
        left: 50%;
        text-align: center;
        position: absolute;
        -webkit-transition: rotate 0.2s ease-out;
        transition: rotate 0.2s ease-out;
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg); }
      .yw-catalog-selector-popup .yw-treerow-catalogVersion-sync-cell-btn:hover, .yw-catalog-selector-popup .yw-treerow-catalogVersion-sync-cell-btn:active, .yw-catalog-selector-popup .yw-treerow-catalogVersion-sync-cell-btn:focus {
        box-shadow: none; }
        .yw-catalog-selector-popup .yw-treerow-catalogVersion-sync-cell-btn:hover:before, .yw-catalog-selector-popup .yw-treerow-catalogVersion-sync-cell-btn:active:before, .yw-catalog-selector-popup .yw-treerow-catalogVersion-sync-cell-btn:focus:before {
          background-image: url("images/icon_catalog_sync_hover.png"); }
      .yw-catalog-selector-popup .yw-treerow-catalogVersion-sync-cell-btn:active:before, .yw-catalog-selector-popup .yw-treerow-catalogVersion-sync-cell-btn:focus:before {
        -webkit-animation: rotate-animation 1.4s linear infinite;
                animation: rotate-animation 1.4s linear infinite; }
  .yw-catalog-selector-popup .yw-treerow-all {
    background-color: #eaedf1;
    padding-left: 16px; }
    .yw-catalog-selector-popup .yw-treerow-all .z-treecell-content .z-treecell-text {
      padding-left: 22px;
      position: relative; }
      .yw-catalog-selector-popup .yw-treerow-all .z-treecell-content .z-treecell-text:before {
        width: 15px;
        height: 18px;
        margin-top: -9px;
        background: url("images/icon_catalog_all_infinity.png") left center no-repeat;
        top: 50%;
        left: 0;
        content: "";
        position: absolute; }
    .yw-catalog-selector-popup .yw-treerow-all .z-treecell-content:after {
      content: ""; }
    .yw-catalog-selector-popup .yw-treerow-all.z-treerow-selected .z-treecell-content .z-treecell-text:before {
      background-image: url("images/icon_catalog_all_infinity--active.png"); }
