@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 

@import "scss/support/_categorySelector-variables.scss";

.yas-categoryelector {
    //min-height: 100%;
    background-color: $categorySelector__widget--bg-color;

    > .z-tree {
        margin-left: $categorySelector__tree--margin-left;
    }

    .z-treecell {
        border: none;
    }
    .z-treerow {
        .z-treecell-content {
            color: $categorySelector__default--color;
        }

        &-selected .z-treecell-content {
            color: $categorySelector__treerow-selected--color;
        }
        &:hover .z-treecell-content {
            color: $categorySelector__default-hover--color;
        }
    }
}