<div ng-controller="personalizationsmarteditPromotionController">
    <label for="promotion-selector-1" class="personalization-modal__label" data-translate="personalization.modal.commercecustomization.promotion.label"></label>
    <ui-select uis-open-close="initUiSelect($select)" id="promotion-selector-1" class="form-control" ng-model="promotion" on-select="promotionSelected($item, $select)" theme="select2" search-enabled="true">
        <ui-select-match placeholder="{{'personalization.modal.commercecustomization.promotion.search.placeholder' | translate}}">
            <span>{{'personalization.modal.commercecustomization.promotion.search.placeholder' | translate}}</span>
        </ui-select-match>
        <ui-select-choices repeat="item in availablePromotions | filter: $select.search" ui-disable-choice="isItemInSelectDisabled(item)" position="down">
            <div class="row ng-scope">
                <span class="col-md-8 ng-binding" ng-bind="item.code"></span>
                <span class="col-md-4 ng-binding" ng-bind="item.promotionGroup"></span>
            </div>
        </ui-select-choices>
    </ui-select>
</div>