@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "../support/_defaultEditorArea-mixins.scss";/*================================
    Editor-Area Defaults
================================*/
// Defaults applying on the Editor-Area

// Status: partly applied changes, some comments added 
// ToDo: add/define variables & check and optimize



.yw-editor-area-main-content {
    .y-toolbar {
	   margin: $editor-area__toolbar--margin/2 $editor-area__toolbar--margin $editor-area__toolbar--margin;
    }
    > div, .yw-editorarea {
        height: 100%;
    }
    .yw-editorarea-tablabel {
        font-weight: normal;
        font-size: $editor-area__tablabel--font-size;
        padding: 0;
    }
    .yw-editorarea-tab-pinned .yw-editorarea-tablabel {
       font-weight: bold;
    }
    .z-window-highlighted .z-textbox {
        border-radius: $editor-area__input-field--border-radius;
        /* height, line-height may also be removed */
            height: 21px;
            line-height: 21px;
        padding: 0 5px;
    }
    input[disabled] {
        + .z-combobox-button:hover, 
        + .z-bandbox-button:hover, 
        + .z-datebox-button:hover, 
        + .z-timebox-button:hover, 
        + .z-spinner-button:hover, 
        + .z-doublespinner-button:hover, 
        + .z-combobox-button:active, 
        + .z-bandbox-button:active, 
        + .z-datebox-button:active, 
        + .z-timebox-button:active, 
        + .z-spinner-button:active, 
        + .z-doublespinner-button:active,
        + .z-datebox-button:hover {
            border-color: $editor-area__box-disabled--border-color;
        }
    }
}

.yw-editorarea-tabbox-tabpanels {
    padding: $container-spacing-default__third 0 $container-spacing-default__base;

    &-tabpanel {
        overflow: auto;
        border: none;
        padding: 0;
        &-groupbox {
            border: none;
            background: $white;
        }
    }
    button.yw-expandCollapse {
        right: 5px;
    }
}

.yw-editorarea-tab-pin-div {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: none;
}

.z-tab-selected .yw-editorarea-tab-pin-div {
	display: block;
}

.yw-editorarea-title {
    font-size: $editor-area__header-title-caption--font-size;
    font-weight: 500; /* MEDIUM */
    color: $editor-area__header-title-caption--color;
    padding: $editor-area__header-title-caption--padding;
}

.yw-loceditor-fixed-open, .yw-loceditor-dynamic-content {
    .ye-input-text.z-textbox {
        border-width: 0 !important;
    }
}

.yw-loceditor-dynamic-content > .yw-loceditor-row {
    width: 100%;
}

.ye-editorarea-bottom-bar {
    background-color: $editor-area__bottom-bar--bg-color;
    text-align: $editor-area__bottom-bar--text-align;
    font-size: $editor-area__bottom-bar--font-size;

    .ye-cancel-container .z-button {
        background-color: $editor-area__bottom-bar-cancel-btn--bg-color;
        border-left: $editor-area__bottom-bar-cancel-btn--border-left;
    }

    .yw-editor-area-nested-toolbar-widget {
        display: inline-block;
        float: left;
    }
}
