<div class="ySmartEditToolbars"
    style="position:absolute">
    <div>
        <toolbar data-css-class="ySmartEditTitleToolbar"
            data-image-root="imageRoot"
            data-toolbar-name="smartEditTitleToolbar"></toolbar>
    </div>
    <div>
        <toolbar data-css-class="ySmartEditExperienceSelectorToolbar"
            data-image-root="imageRoot"
            data-toolbar-name="experienceSelectorToolbar"></toolbar>
    </div>
</div>
<div id="js_iFrameWrapper"
    class="iframeWrapper">
    <iframe id="ySmartEditFrame"
        src=""
        hy-dropabpe-iframe></iframe>
</div>