@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss'; 

@import "scss/support/_collapsiblecontainer-variables.scss";
@import "scss/components/_collapsiblecontainer-buttons.scss";
@import "scss/components/_collapsiblecontainer-caption.scss";/*================================
    Collapsible-Container
================================*/
// Styling definitions for collapsible containers (lock, unlock-button, labels & positioning)






.yw-caption-container span.z-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.yw-collapsibleContainer-container {
    overflow: auto;
    clear: both;
    width: 100%;
    height: 100%;
}
