.ye-com_hybris_cockpitng_editor_defaulttime .z-timebox {
  position: relative;
  width: 100%; }
  .ye-com_hybris_cockpitng_editor_defaulttime .z-timebox .z-timebox-input,
  .ye-com_hybris_cockpitng_editor_defaulttime .z-timebox .z-timebox-button {
    box-sizing: border-box; }

.y-editor-area-attributes-cnt-max .z-groupbox-content .ye-com_hybris_cockpitng_editor_defaulttime.z-hbox {
  width: 100%; }
