@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss'; 
@import '/Users/olga.villada/clients/talos/hybris-training/urban_corner_training/hybris/bin/ext-backoffice/backoffice/resources/backoffice/scss/backoffice-variables.scss'; 



$adaptiveSearchBackoffice__yas-left-container--bg-color: $black__blueish--200;
$adaptiveSearchBackoffice__yas-left-container-widget-headline--bg-color: $white;

$adaptiveSearchBackoffice__tree-icon-searchprofile--background-image: url("images/0130_Search-profiles.png");
$adaptiveSearchBackoffice__tree-icon-searchprofileactivationset--background-image: url("images/0131_Search-profiles-activation.png");

$adaptiveSearchBackoffice__yas-info-icon--background-image: url(images/icon_func_star_sprite.png);

$adaptiveSearchBackoffice__actions-popup--color: $black;
$adaptiveSearchBackoffice__actions-popup--bg: $white;
$adaptiveSearchBackoffice__actions-popup-content-hover--bg: $grey__light--1200;
$adaptiveSearchBackoffice__actions-popup--border: 1px solid #acacac;
$adaptiveSearchBackoffice__actions-popup--box-shadow: -2px 2px 2px #eaedf1;
$adaptiveSearchBackoffice__actions-popup-img--top: -4px;

$adaptiveSearchBackoffice__search-configuration-description--color: $black;
$adaptiveSearchBackoffice__search-configuration-description--border: 1px solid #acacac;
$adaptiveSearchBackoffice__search-configuration-description--box-shadow: -2px 2px 2px #eaedf1;
$adaptiveSearchBackoffice__search-configuration-description--padding: 7px 7px;

$adaptiveSearchBackoffice__score--border-radius: 0.45em;
$adaptiveSearchBackoffice__score--border: 2px solid $grey__light--100;
$adaptiveSearchBackoffice__score--font-weight: $font-weight-bold;
$adaptiveSearchBackoffice__score--padding: 1px 5px;