@charset "UTF-8";
@import url("cockpit.css");
.y-dnd-validation-popup {
  width: 700px; }
  .y-dnd-validation-popup .z-window-header {
    padding-bottom: 0; }
  .y-dnd-validation-popup .z-window-content {
    max-height: 440px; }
  .y-dnd-validation-popup .z-checkbox,
  .y-dnd-validation-popup .z-radio {
    line-height: 24px;
    height: 24px; }
  .y-dnd-validation-popup .y-window-container {
    /*    display: flex;
        flex-direction: column;
    */
    height: 100%; }
  .y-dnd-validation-popup .y-summary-error-info {
    padding: 0 0 10px 20px;
    color: #ff3b30; }
  .y-dnd-validation-popup .y-multi-select {
    display: inline-block;
    margin: 0 0 10px 20px; }
  .y-dnd-validation-popup .y-control-container {
    padding: 15px 20px 14px;
    text-align: right; }
  .y-dnd-validation-popup .y-cancel.z-button {
    background: transparent;
    color: #7f90a5; }
    .y-dnd-validation-popup .y-cancel.z-button:active, .y-dnd-validation-popup .y-cancel.z-button:focus {
      box-shadow: none; }
  .y-dnd-validation-popup .y-ignore-save.z-button {
    background: transparent;
    color: #ff3b30;
    border: 1px solid #ff3b30;
    margin-left: 30px; }

.y-multi-select.y-multi-state-check.z-checkbox:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 14px;
  height: 4px;
  background: #0486e0; }

.y-dnd-validation-popup .y-validation-details-container .z-label {
  max-width: 95%;
  font-size: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: pre-line; }

.y-dnd-validation-popup .y-validation-details-container > div {
  margin-top: 7px; }
  .y-dnd-validation-popup .y-validation-details-container > div > li {
    padding: 15px 0;
    list-style: none; }
    .y-dnd-validation-popup .y-validation-details-container > div > li:last-child {
      padding-bottom: 8px; }
    .y-dnd-validation-popup .y-validation-details-container > div > li:before {
      margin-top: -15px;
      height: 1px;
      width: 150%;
      left: -20px;
      background: #e0e9f0;
      content: '';
      position: absolute; }
    .y-dnd-validation-popup .y-validation-details-container > div > li:first-child:before {
      height: 1px;
      width: 150%;
      left: -60px;
      background: #e0e9f0;
      position: absolute;
      content: ''; }

.y-dnd-validation-popup .y-validation-details-container li > .y-validation-icon-cell {
  display: table-cell;
  table-layout: fixed; }

.y-dnd-validation-popup .y-validation-details-container li > .z-label {
  display: table-cell;
  table-layout: fixed; }

.y-dnd-validation-popup .y-validation-details-container .y-validation-icon-cell .y-error,
.y-dnd-validation-popup .y-validation-details-container .y-validation-icon-cell .y-warn {
  top: 3px;
  margin-right: 20px;
  position: relative; }

.y-dnd-validation-popup .y-row-selected .y-validation-details-container > div > li:before {
  background: #ffffff; }

.y-dnd-validation-popup .y-content-list {
  border: 1px solid #e0e9f0;
  border-width: 1px 0;
  max-height: 305px; }
  .y-dnd-validation-popup .y-content-list > .z-listbox-body {
    max-height: 305px;
    overflow-y: auto; }
    .y-dnd-validation-popup .y-content-list > .z-listbox-body > table {
      overflow: hidden; }
  .y-dnd-validation-popup .y-content-list .z-listitem:hover {
    background-color: inherit; }
  .y-dnd-validation-popup .y-content-list .z-listitem > .z-listcell {
    padding: 7px 0;
    border-color: #e0e9f0; }
    .y-dnd-validation-popup .y-content-list .z-listitem > .z-listcell:nth-child(2) {
      overflow: visible; }
      .y-dnd-validation-popup .y-content-list .z-listitem > .z-listcell:nth-child(2) .z-listcell-content {
        overflow: visible; }
  .y-dnd-validation-popup .y-content-list .z-listitem .z-listcell-content {
    margin: 0;
    padding: 0;
    white-space: pre-wrap; }
  .y-dnd-validation-popup .y-content-list .z-listitem.y-row-selected {
    background: #d5eeff; }
    .y-dnd-validation-popup .y-content-list .z-listitem.y-row-selected > .z-listcell {
      border-color: #ffffff; }
  .y-dnd-validation-popup .y-content-list .y-validation-overview-container .z-label {
    display: block; }
  .y-dnd-validation-popup .y-content-list .y-select-cell {
    vertical-align: baseline;
    position: relative;
    width: 60px; }
    .y-dnd-validation-popup .y-content-list .y-select-cell .z-listcell-content {
      margin: 0 5px 0 20px; }
  .y-dnd-validation-popup .y-content-list .y-validation-icon-cell {
    vertical-align: baseline;
    position: relative; }
    .y-dnd-validation-popup .y-content-list .y-validation-icon-cell .y-error,
    .y-dnd-validation-popup .y-content-list .y-validation-icon-cell .y-warn {
      width: 16px;
      height: 16px;
      background: url("images/icon_validation_sprite.png") -16px 0 no-repeat; }
    .y-dnd-validation-popup .y-content-list .y-validation-icon-cell .y-error {
      background-position: -32px 0; }
  .y-dnd-validation-popup .y-content-list td.y-validation-icon-cell {
    width: 60px; }
    .y-dnd-validation-popup .y-content-list td.y-validation-icon-cell .y-error,
    .y-dnd-validation-popup .y-content-list td.y-validation-icon-cell .y-warn {
      float: right; }
  .y-dnd-validation-popup .y-content-list .y-details-cell {
    text-align: right;
    width: 70px;
    vertical-align: baseline;
    position: relative; }
    .y-dnd-validation-popup .y-content-list .y-details-cell .z-listcell-content {
      line-height: 20px; }
  .y-dnd-validation-popup .y-content-list .y-show-details-btn {
    height: 16px;
    line-height: 16px;
    margin-right: 20px;
    display: inline-block;
    background: transparent; }
    .y-dnd-validation-popup .y-content-list .y-show-details-btn.y-expanded-details:after {
      content: ""; }
    .y-dnd-validation-popup .y-content-list .y-show-details-btn:after {
      content: "";
      color: #7f90a5;
      font-size: 16px;
      font-family: "FontAwesome", sans-serif;
      top: 0;
      right: 20px;
      display: inline-block;
      width: 100%;
      position: absolute; }
  .y-dnd-validation-popup .y-content-list .y-validation-icon-cell > .z-listcell-content,
  .y-dnd-validation-popup .y-content-list .y-details-cell > .z-listcell-content,
  .y-dnd-validation-popup .y-content-list .y-select-cell > .z-listcell-content {
    top: 10px;
    position: absolute;
    width: 100%; }
  .y-dnd-validation-popup .y-content-list .y-title {
    font-weight: bold;
    white-space: pre-line; }
  .y-dnd-validation-popup .y-content-list .y-message {
    font-size: 12px;
    white-space: pre-line;
    display: block !important; }

.yw-show-menu-action {
  height: 24px;
  width: 24px;
  background: url("../img/default/dots.png") no-repeat 0 0;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block; }
  .yw-show-menu-action.z-button {
    min-height: 24px; }
    .yw-show-menu-action.z-button:hover, .yw-show-menu-action.z-button:active, .yw-show-menu-action.z-button:focus {
      background-image: url("../img/default/dots.png");
      background-color: transparent;
      box-shadow: none; }
  .yw-show-menu-action-container {
    vertical-align: middle; }
  .yw-show-menu-action-content {
    display: inline-block;
    width: auto;
    height: auto; }
  .yw-show-menu-action:hover {
    background-position: 0 -24px;
    cursor: pointer; }
  .yw-show-menu-action-focus, .yw-show-menu-action-active {
    background-position: 0 -48px; }
  .yw-show-menu-action-disabled, .yw-show-menu-action-disabled:hover {
    background-position: 0 -72px;
    opacity: 0.5;
    cursor: default; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.yw-collaboration-center-overview > .yw-listLayout-container > .widget_children_list > .widget_cnt {
  background-color: #ffffff; }

.yw-collaboration-center-overview .yw-workflow-detailed-name span {
  display: block; }

.yw-collaboration-center-overview .yw-workflow-detailed-name .yw-workflow-currenttask {
  padding-top: 3px;
  font-size: 13px; }

.yw-collaboration-center-overview-workflows .yw-listview-actioncontainer .yw-listview-actionSlot {
  float: right; }

.yw-collaboration-center-overview-workflows .yw-workflowsearch-filters {
  margin: 0; }

.yw-collaboration-center-toolbar {
  background-color: #ffffff; }
  .yw-collaboration-center-toolbar .yw-navigationhistory-back {
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    float: left; }
  .yw-collaboration-center-toolbar .yw-navigationhistory-title {
    height: 32px;
    line-height: 32px;
    max-width: calc(100% - 100px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .yw-collaboration-center-toolbar .yw-navigationhistory-stack {
    vertical-align: top; }
  .yw-collaboration-center-toolbar .yw-collaboration-center-navigation-history {
    padding-top: 9px;
    padding-bottom: 9px; }
  .yw-collaboration-center-toolbar .yw-toolbar-horizontal {
    line-height: 50px;
    text-align: right; }
  .yw-collaboration-center-toolbar .yw-collaboration-center-center-toolbar .yw-toolbar-actions .cng-action-group {
    padding-right: 10px; }
  .yw-collaboration-center-toolbar .yw-collaboration-center-sidebar-header .yw-toolbar-actions .cng-action-group {
    padding-right: 25px; }
  .yw-collaboration-center-toolbar .yw-collaboration-center-sidebar-header .yw-toolbar-actions .z-hbox-separator {
    display: none; }

.yw-collaboration-center-browser,
.yw-collaboration-center-browser .yw-listview-bottom-bar {
  background-color: #ffffff; }

.yw-collaboration-center-browser .yw-listview-caption {
  padding: 8px 0; }
  .yw-collaboration-center-browser .yw-listview-caption .yw-listview-title {
    font-size: 19px;
    display: inline-block;
    text-transform: inherit; }

.yw-collaboration-center-browser .yw-workflow-status-container .z-span {
  margin-right: 5px; }

.yw-collaboration-center-browser.widget_body .yw-listview-actioncontainer {
  padding: 30px 30px 15px;
  display: inline-block;
  width: 100%; }

.yw-collaboration-center-browser .yw-listview-actioncontainer > .yw-listview-caption {
  display: inline-block;
  float: left;
  vertical-align: top;
  position: relative;
  z-index: 1; }

.yw-collaboration-center-browser .yw-listview-actioncontainer > .y-toolbar {
  padding-top: 8px;
  display: inline;
  border: none;
  overflow: visible; }

.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-listview-actionSlot {
  min-height: 40px;
  display: inline-block;
  width: auto;
  float: right;
  position: relative;
  z-index: 1; }

.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container .yw-fulltextsearch-container,
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-listview-actionSlot > .cng-action-group,
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container .yw-workflowsearch-filters {
  margin: 6px 0; }

.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-listview-actionSlot > .cng-action-group,
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container .yw-workflowsearch-filters,
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container .yw-fulltextsearch-wrapper {
  margin-left: 10px;
  margin-right: 0; }

.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container,
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container .yw-nested-widget {
  display: inline;
  float: none;
  position: relative;
  z-index: 0; }

.yw-collaboration-center-browser .yw-coll-browser-container,
.yw-collaboration-center-browser .yw-coll-browser-container > .z-listbox,
.yw-collaboration-center-browser .yw-coll-browser-container > .z-listbox > .z-listbox-body {
  height: auto !important; }

.yw-collaboration-center-browser .yw-coll-browser-container > .z-listbox > .z-listbox-body > table {
  margin-top: -1px; }

.yw-collaboration-center-browser .yw-coll-browser-container tr.z-listhead th:first-of-type .z-listheader-content,
.yw-collaboration-center-browser .yw-coll-browser-container tr.z-listitem > td:first-of-type .z-listcell-content {
  padding-left: 30px; }

.yw-collaboration-center-browser .yw-coll-browser-container tr.z-listhead th:nth-last-of-type(2) .z-listheader-content,
.yw-collaboration-center-browser .yw-coll-browser-container tr.z-listitem > td:last-of-type .z-listcell-content {
  padding-right: 30px; }

.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem .z-listcell-content:before,
.yw-collaboration-center-browser .yw-coll-browser-container tr.z-listhead th.yw-listview-colheader:before {
  display: none; }

.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-header-border {
  border-color: #e0e9f0; }

.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body > table {
  border-bottom-color: #e0e9f0; }

.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem .z-listcell {
  border-top: 1px solid #e0e9f0;
  vertical-align: top; }

.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem .yw-show-menu-action-container {
  vertical-align: middle; }
  .yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem .yw-show-menu-action-container .z-listcell-content {
    line-height: 1;
    text-overflow: clip; }

.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem:last-child, .yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem:last-child:hover {
  box-shadow: 0px 1px 0px #e0e9f0; }

.yw-collaboration-center-browser-header-toolbar {
  display: block; }
  .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar {
    display: inline; }
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north {
      float: right;
      display: block;
      overflow: visible;
      width: auto;
      height: auto !important;
      float: right; }
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north,
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-center {
      position: static;
      left: auto !important;
      top: auto !important; }
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north,
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-center,
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north > .z-north-body,
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-center > .z-center-body {
      width: auto !important;
      height: auto !important; }
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-center {
      margin-left: -30px;
      margin-right: -30px;
      padding-top: 45px;
      clear: both;
      display: block;
      width: 100%; }
  .yw-collaboration-center-browser-header-toolbar > .z-borderlayout {
    background: transparent;
    display: inline; }
    .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north > .z-north-body,
    .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north > .z-north-body > .widget_cnt {
      display: inline-block; }
    .yw-collaboration-center-browser-header-toolbar > .z-borderlayout .noBG.yw-layoutregion {
      background: transparent; }

.yw-collaboration-center-browser .yw-coll-browser-hyperlink {
  font-weight: bold; }

.yw-collaboration-center a {
  text-decoration: none; }

.yw-collaboration-center-styled {
  background-color: #f6f8fa;
  border-bottom: 1px solid #d2dae4; }

.yw-collaboration-center-container-view .yw-view-switch-views > .y-switch > .yw-borderlayout > .yw-borderlayout-bl,
.yw-collaboration-center-container-view .yw-view-switch-views > .y-switch > .yw-borderlayout > .yw-borderlayout-bl > div > .yw-layoutregion,
.yw-collaboration-center-container-view .yw-collaboration-center-toolbar > .yw-borderlayout-bl,
.yw-collaboration-center-container-view .yw-collaboration-center-toolbar > .yw-borderlayout-bl > div > .yw-layoutregion {
  background-color: transparent; }

.yw-collaboration-center-container-view-container,
.yw-collaboration-center-container-view .yw-view-switch-container {
  background-color: #e0e9f0; }

.yw-collaboration-center-container-view > .z-borderlayout > div > .z-north {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5); }

.yw-collaboration-center-toggle img:hover, .yw-collaboration-center-toggle.yw-flexlayout-trigger,
.yw-collaboration-center-toggle.cng-action-enabled img:hover {
  background: transparent; }

.yw-collaboration-center-toggle > tbody {
  display: block;
  text-align: center; }

.yw-collaboration-center-toggle table {
  width: 100%;
  table-layout: fixed; }
  .yw-collaboration-center-toggle table td {
    text-align: center; }

.yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton .yw-collaboration-center-toggle {
  height: auto; }

.yw-collaboration-center-title {
  float: left;
  font-weight: bold;
  color: #000000; }
  .yw-collaboration-center-title .cng-action-text {
    cursor: text; }

.yw-collaboration-center-header .yw-toolbar-after,
.yw-collaboration-center-header .yw-toolbar-actions {
  padding: 15px 10px; }

.yw-collaboration-center-header .yw-toolbar-after {
  text-align: right;
  float: right; }

.yw-collaboration-center-header-toolbar .yw-toolbar-after,
.yw-collaboration-center-header-toolbar .yw-toolbar-actions {
  padding: 0; }

.yw-collaboration-center-header-toolbar .yw-toolbar-after {
  text-align: left;
  float: none; }

.yw-collaboration-center-header-toolbar-action {
  color: #0486e0; }

.yw-collaboration-center-tabs .z-tabpanel,
.yw-collaboration-center-tabs .yw-workflows-list-item .z-listcell {
  border-color: #d2dae4; }

.yw-collaboration-center-tabs .z-tabs-content {
  table-layout: fixed; }
  .yw-collaboration-center-tabs .z-tabs-content .z-tab-content {
    padding: 0 20px;
    display: inline-table; }
  .yw-collaboration-center-tabs .z-tabs-content .z-tab {
    display: table-cell;
    float: none;
    padding: 0; }

.yw-collaboration-center-tabs .z-tabs {
  background-color: #f6f8fa;
  border-bottom: 1px solid #d2dae4; }
  .yw-collaboration-center-tabs .z-tabs .z-tab .z-tab-text {
    padding: 20px 5px 10px; }

.yw-collaboration-center-tabs .z-tabpanel {
  border-left: 0;
  border-right: 0; }
  .yw-collaboration-center-tabs .z-tabpanel > .widget_cnt {
    overflow: auto; }

.yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tabs-content .z-tab {
  border-left: 1px solid #d2dae4;
  background-color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding: 0; }
  .yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tabs-content .z-tab:first-child, .yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tabs-content .z-tab:nth-child(odd) {
    border-left: none; }
  .yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tabs-content .z-tab-text {
    text-transform: lowercase;
    padding-bottom: 20px;
    border-bottom: 2px solid transparent; }
  .yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tabs-content .z-tab-selected .z-tab-text {
    border-bottom: 2px solid #0486e0; }

.yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tab-content {
  width: 100%;
  padding: 0; }

.yw-collaboration-center-task-item-toolbar .yw-toolbar-content > .yw-toolbar-actions {
  float: right; }

.yw-collaboration-center-task-quicklist, .yw-collaboration-center-task-quicklist-header-title {
  box-shadow: inset 1px 0 0 0 #d5d8dc; }

.yw-collaboration-center-task-quicklist-header .yw-toolbar {
  padding: 0;
  height: 100%;
  line-height: 1; }
  .yw-collaboration-center-task-quicklist-header .yw-toolbar-content {
    display: inline-table;
    vertical-align: top;
    height: 100%; }
  .yw-collaboration-center-task-quicklist-header .yw-toolbar .yw-toolbar-content .yw-toolbar-actions {
    display: table-cell; }

.yw-collaboration-center-task-quicklist-header-title {
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  width: 350px;
  color: #000000; }
  .yw-collaboration-center-task-quicklist-header-title .cng-action-text {
    padding: 0 20px;
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden; }

.yw-collaboration-center-task-quicklist-toolbar {
  background-color: #ffffff;
  box-shadow: inset 1px 1px 0 0 #d5d8dc;
  padding-left: 1px; }
  .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision {
    display: table;
    width: 100%; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision .z-combobox-input,
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision .z-combobox-button {
      border-color: transparent; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision .z-combobox-button {
      border-right-color: #d5d8dc; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision .z-combobox-input:focus,
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision .z-combobox-input:focus + .z-combobox-button {
      border-color: #0486e0; }
  .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container {
    display: inline-table;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-hlayout-inner {
      display: table-cell;
      width: initial;
      padding: 0 !important; }
      .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-hlayout-inner:first-child {
        width: 100%; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button, .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button:focus, .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button:hover, .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button:active {
      background-color: transparent;
      box-shadow: none;
      color: inherit; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button:hover {
      color: #0486e0; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button[disabled], .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button[disabled]:hover, .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button[disabled]:active {
      background-color: transparent !important; }
  .yw-collaboration-center-task-quicklist-toolbar .yw-toolbar-actions .cng-action-group {
    width: 100%;
    table-layout: fixed; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-toolbar-actions .cng-action-group table {
      width: 100%; }

.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox .z-tabbox-content-wrapper {
  padding: 0;
  display: block;
  position: relative; }
  .yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox .z-tabbox-content-wrapper .z-tabbox-content {
    margin: 0; }

.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox.yw-static-section-active > .z-tabbox-content-wrapper,
.cng-adminmode .yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox > .z-tabbox-content-wrapper {
  display: block; }

.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .ye-instant-editor-attribute-label,
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell-label {
  color: #000000;
  font-weight: bold; }

.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .z-tabbox-static-section {
  background-color: #f4f7fa; }
  .yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .z-tabbox-static-section .yw-summaryview {
    background: transparent; }

.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .z-groupbox-header .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption .z-caption-content {
  font-size: 19px;
  font-weight: normal;
  line-height: 1;
  text-transform: none; }

.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox-tabpanels-tabpanel .ye-instant-editor-component-visible.z-label {
  line-height: 16px;
  margin-bottom: 8px;
  white-space: pre-line; }

.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox-tabpanels-tabpanel .ye-instant-editor-attribute-label:empty {
  display: none; }

.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-static-section-slot > .widget_body,
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox-tabpanels {
  padding-top: 22px; }

.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-summaryview-section-container.z-groupbox-notitle {
  padding-bottom: 30px; }
  .yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-summaryview-section-container.z-groupbox-notitle:last-child {
    padding-bottom: 0; }

.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-summaryview-section-container-content .yw-summaryview-icon-item-icon {
  top: 20px; }

.yw-collaboration-center-details-workflow-details > .yw-editorarea-body > .z-vlayout-inner,
.yw-collaboration-center-details-workflow-details > .yw-editorarea-body > .z-vlayout-inner > .yw-editor-area-main-content {
  display: inline; }

.yw-collaboration-center-details .yw-workflow-detailed-novalue {
  font-style: italic; }

.yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-sidebar-right:not(.yw-flexlayout-sidebar-collapsed) > .yw-flexlayout-sidebar {
  -webkit-transform: translateX(410px);
      -ms-transform: translateX(410px);
          transform: translateX(410px); }

.yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-sidebar-right.yw-flexlayout-sidebar-opened > .yw-flexlayout-sidebar {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-rootpane > .yw-flexlayout-sidebar {
  z-index: 99;
  background-color: #fcfdfe;
  width: 410px;
  max-width: 410px;
  height: 100%;
  right: 0; }
  .yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-rootpane > .yw-flexlayout-sidebar > .widget_cnt {
    overflow: hidden;
    padding-left: 5px;
    margin-left: -5px; }
    .yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-rootpane > .yw-flexlayout-sidebar > .widget_cnt > .widget_body {
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5); }
  .yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-rootpane > .yw-flexlayout-sidebar > .yw-flexlayout-sidebar-header {
    z-index: 17; }

.yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-sidebar-opened > .yw-flexlayout-contents {
  width: calc(100% - 410px); }

.yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-sidebar-opened.yw-flexlayout-sidebar-overlap > .yw-flexlayout-contents {
  width: 100%; }

.yw-summaryview-workflows-attachments {
  background-image: url("/backoffice/cng/images/icon-summaryView-paperclip.svg"); }

.yw-summaryview-workflows-tasks {
  background-image: url("/backoffice/cng/images/icon-summaryView-pending.svg"); }

.yw-summaryview-workflows-status {
  background-image: url("/backoffice/cng/images/icon-summaryView-check.svg"); }

.yw-summaryview-workflows-flow {
  background-image: url("/backoffice/cng/images/icon-summaryView-create.svg"); }

.yw-summaryview-workflow-task-button {
  display: block;
  padding-bottom: 4px; }

/*Import the default css-es */
button.z-button.y-btn-warning {
  background-color: #ff3b30;
  border: medium none;
  border-radius: 0;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  height: 30px;
  line-height: 25px;
  margin-left: 0;
  padding: 0 15px; }

.mediaInfoHeader {
  font-weight: bold; }

.mediaInfoCnt {
  float: left;
  width: 332px; }

.previewPlaceholder {
  width: 300px;
  display: inline-block;
  text-align: center; }

.previewPlaceholder .z-image {
  margin: auto; }

.small-image-preview-cnt img {
  display: block;
  height: auto;
  max-width: 100%;
  z-index: 2000;
  border: 1px solid #b7b7b7;
  border-radius: 1px; }

.yw-collection-preview-cnt {
  background: #d5d8dc; }

.yw-collection-preview > div.z-listbox-body {
  background: #f6f8fa; }

.yw-collection-preview > div.z-listbox {
  border: none; }

.yw-collection-preview > div.z-listboxdiv .z-listbox-body .z-listitem {
  background: none; }

.ya-com_hybris_cockpitng_actions_scriptingaction {
  padding: 6px; }

.yw-desc-tooltip {
  max-width: 300px; }

.yw-image-attribute-sync-status-in-sync {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-in-sync:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("/backoffice/cng/images/sync/icon_status_sync_insync.svg") center no-repeat; }

.yw-image-attribute-sync-status-out-of-sync {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-out-of-sync:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("/backoffice/cng/images/sync/icon_status_sync_outofsync.svg") center no-repeat; }

.yw-image-attribute-sync-status-undefined {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-undefined:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("/backoffice/cng/images/sync/icon_status_sync_undefined.svg") center no-repeat; }

.yw-image-attribute-sync-status-error {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-error:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("/backoffice/cng/images/sync/icon_status_sync_error.svg") center no-repeat; }

.yw-image-attribute-sync-status-loading {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-loading:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("/backoffice/cng/images/sync/icon_status_sync_loading.svg") center no-repeat;
    -webkit-animation: rotate 0.8s infinite linear;
            animation: rotate 0.8s infinite linear; }

.yw-partial-sync-info {
  padding: 0 15px;
  white-space: nowrap; }
  .yw-partial-sync-info .yw-partial-sync-info-syncJob {
    padding: 10px 0;
    border-top: 1px solid #e0e9f0; }
    .yw-partial-sync-info .yw-partial-sync-info-syncJob-name + .z-span {
      margin-left: 10px; }
  .yw-partial-sync-info .yw-partial-sync-info-syncJob:first-child {
    border-top: none; }

.yw-image-attribute-product-type-base, .yw-image-attribute-product-type-variant {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-product-type-base:before, .yw-image-attribute-product-type-variant:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    background: url("/backoffice/cng/images/icon_base_product.svg") center no-repeat; }

.yw-image-attribute-product-type-variant {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-product-type-variant:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    background: url("/backoffice/cng/images/icon_product_variants.svg") center no-repeat; }

.yw-image-attribute-approval-icon {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-approval-icon:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent; }

.yw-image-attribute-approval-status-approved:before {
  background-image: url("/backoffice/cng/images/icon-product-approval-status-approved.svg"); }

.yw-image-attribute-approval-status-unapproved:before {
  background-image: url("/backoffice/cng/images/icon-product-approval-status-unapproved.svg"); }

.yw-image-attribute-approval-status-check:before {
  background-image: url("/backoffice/cng/images/icon-product-approval-status-check.svg"); }

.yw-compound-renderer-container {
  display: inline-block; }

.yw-navigationhistory-nostack .yw-navigationhistory-stack {
  display: none; }

.yw-workflow-status-container .yw-workflow-status-label {
  display: inline; }

.yw-workflow-status-icon {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-workflow-status-icon:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent; }
  .yw-workflow-status-icon-planned:before {
    background: url("/backoffice/cng/images/workflow/icon-workflow-status-planned.svg") center no-repeat; }
  .yw-workflow-status-icon-running:before {
    background: url("/backoffice/cng/images/workflow/icon-workflow-status-running.svg") center no-repeat; }
  .yw-workflow-status-icon-finished:before {
    background: url("/backoffice/cng/images/workflow/icon-workflow-status-finished.svg") center no-repeat; }
  .yw-workflow-status-icon-terminated:before {
    background: url("/backoffice/cng/images/workflow/icon-workflow-status-terminated.svg") center no-repeat; }
