.yw-pcmbackoffice-collection-toolbar .z-vbox-separator,
.yw-pcmbackoffice-collection-toolbar .z-hbox-separator,
.yw-extendedsplitlayout-toolbar .z-vbox-separator,
.yw-extendedsplitlayout-toolbar .z-hbox-separator,
.yw-pcmbackoffice-navibar .z-vbox-separator,
.yw-pcmbackoffice-navibar .z-hbox-separator,
.yw-explorerTree-toolbar .z-vbox-separator,
.yw-explorerTree-toolbar .z-hbox-separator,
.yw-listview-actioncontainer .z-vbox-separator,
.yw-listview-actioncontainer .z-hbox-separator {
  display: none; }

.yw-pcmbackoffice-contents {
  width: 100%;
  height: 100%;
  background-color: #e0e9f0; }

.yw-pcmbackoffice-navibar .ya-navigation {
  padding: 5px; }

.yw-pcmbackoffice-navibar .yw-toolbar-vertical {
  width: 100%;
  height: 100%;
  font-size: 19px; }
  .yw-pcmbackoffice-navibar .yw-toolbar-vertical .ya-toggle {
    width: 100%;
    height: 50px;
    border-left: 3px solid transparent;
    cursor: pointer; }
    .yw-pcmbackoffice-navibar .yw-toolbar-vertical .ya-toggle-active {
      background-color: #364450;
      border-left: 3px solid #ffffff; }
    .yw-pcmbackoffice-navibar .yw-toolbar-vertical .ya-toggle .cng-action {
      padding: 9px 5px; }

.yw-pcmbackoffice-navibar .yw-toolbar-actions {
  overflow: hidden; }
  .yw-pcmbackoffice-navibar .yw-toolbar-actions table {
    width: 100%; }

.yw-pcmbackoffice-navibar .yw-toolbar .cng-action-text {
  padding-left: 5px;
  padding-right: 5px; }

.yw-pcmbackoffice-dark {
  background-color: #1e2830; }

.yw-pcmbackoffice-light, .yw-pcmbackoffice-products-sidebar {
  background-color: #ffffff; }

.yw-pcmbackoffice-toolbar-summary .cng-action {
  margin: 0 10px; }

.yw-pcmbackoffice-toolbar-summary .yw-flexlayout-trigger,
.yw-pcmbackoffice-toolbar-summary .yw-flexlayout-trigger-summary {
  margin: 0; }

.yw-pcmbackoffice-collection-toolbar {
  color: #151c22;
  font-weight: bold;
  border-left: 1px solid transparent; }
  .yw-flexlayout-contents .yw-pcmbackoffice-collection-toolbar {
    border-left-color: #d5d8dc;
    background-color: #ffffff; }
  .yw-pcmbackoffice-collection-toolbar .cng-action .cng-action-text {
    line-height: 50px;
    padding-left: 5px;
    padding-right: 5px; }
    .yw-pcmbackoffice-collection-toolbar .cng-action .cng-action-text:hover {
      color: #32a0ec; }
  .yw-pcmbackoffice-collection-toolbar .yw-toolbar-after {
    float: right; }
  .yw-pcmbackoffice-collection-toolbar > .yw-toolbar > .yw-toolbar-content > .yw-toolbar-actions .ya-toggle {
    min-width: 15px; }

.yw-pcmbackoffice-products-sidebar .yw-explorerTree-widget .yw-catalog-selector {
  width: 300px; }
  .yw-pcmbackoffice-products-sidebar .yw-explorerTree-widget .yw-catalog-selector:before, .yw-pcmbackoffice-products-sidebar .yw-explorerTree-widget .yw-catalog-selector:after {
    display: none; }

.yw-pcmbackoffice .cng-action-group {
  height: 100%; }

.yw-pcmbackoffice .y-toolbar-inner {
  width: auto; }

.yw-pcmbackoffice .yw-catalog-selector {
  color: #1e2830; }

.yw-pcmbackoffice .yw-panel-navigation .z-panelchildren {
  background-color: transparent; }

.yw-pcmbackoffice .yw-panel-navigation .z-panel-body {
  background-color: transparent; }

.yw-pcmbackoffice .yw-borderlayout .yw-layoutregion {
  background-color: transparent; }

.yw-pcmbackoffice .yw-extendedsplitlayout-box .yw-coll-browser-container .z-listitem.z-dragged,
.yw-pcmbackoffice .z-treerow.z-dragged {
  background-color: #f6f8fa; }
  .yw-pcmbackoffice .yw-extendedsplitlayout-box .yw-coll-browser-container .z-listitem.z-dragged .z-treecell-content:before,
  .yw-pcmbackoffice .z-treerow.z-dragged .z-treecell-content:before {
    border: 1px solid #0486e0;
    display: block;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.yw-pcmbackoffice .z-drag-matching-drop-target.z-treerow .z-treecell {
  background: #f2f2f2; }
  .yw-pcmbackoffice .z-drag-matching-drop-target.z-treerow .z-treecell:before {
    height: 16px;
    width: 16px;
    margin-top: -8px;
    right: 10px;
    border: 1px dashed #32a0ec;
    display: block;
    content: '';
    top: 50%;
    position: absolute; }

.yw-pcmbackoffice .z-drag-matching-drop-target.z-treerow.z-drag-over .z-treecell {
  background-color: rgba(4, 134, 224, 0.5); }

.yw-pcmbackoffice .yw-coll-browser-container tr.z-listhead th:first-of-type .z-listheader-content,
.yw-pcmbackoffice .yw-coll-browser-container tr.z-listitem > td:first-of-type .z-listcell-content {
  padding-left: 10px; }

.yw-pcmbackoffice .yw-coll-browser-container tr.z-listhead th:first-of-type:before,
.yw-pcmbackoffice .yw-coll-browser-container tr.z-listitem > td:first-of-type .z-listcell-content:before {
  left: 0; }

.yw-pcmbackoffice .yw-coll-browser-container tr.z-listhead th:nth-last-of-type(2) .z-listheader-content,
.yw-pcmbackoffice .yw-coll-browser-container tr.z-listitem > td:last-of-type .z-listcell-content {
  padding-right: 10px; }

.yw-pcmbackoffice .yw-coll-browser-container tr.z-listhead th:nth-last-of-type(2):before,
.yw-pcmbackoffice .yw-coll-browser-container tr.z-listitem > td:last-of-type .z-listcell-content:before {
  right: 0; }

.yw-pcmbackoffice-browser {
  margin: 0 30px;
  position: relative; }
  .yw-pcmbackoffice-browser .yw-listview-busynotifier .notifierEntry {
    width: auto;
    left: -30px;
    right: -30px; }
  .yw-pcmbackoffice-browser .z-vlayout-inner > .y-statusbar {
    background-color: #e0e9f0;
    box-shadow: 0 1px 4px 0 #e0e9f0; }
  .yw-pcmbackoffice-browser > .z-vlayout {
    overflow: visible;
    max-width: 95%;
    margin: auto; }
  .yw-pcmbackoffice-browser .yw-listview-actioncontainer .y-toolbar .yw-listview-actionSlot .z-hbox-separator {
    background-color: transparent; }
  .yw-pcmbackoffice-browser .yw-listview-actioncontainer .y-toolbar .yw-coll-browser-mold-sel-container {
    border: 1px solid #bdc6d2;
    border-width: 0 1px;
    padding: 0 5px; }
  .yw-pcmbackoffice-browser .yw-listview-actioncontainer .y-toolbar .yw-listview-paging-container-top:empty + .yw-coll-browser-mold-sel-container {
    border-right-width: 0; }
  .yw-pcmbackoffice-browser .yw-listview-bottom-bar {
    background: transparent;
    padding: 0; }
  .yw-pcmbackoffice-browser .yw-grid-view-container {
    margin: 0 -30px;
    width: auto; }
    .yw-pcmbackoffice-browser .yw-grid-view-container:after {
      color: #e0e9f0; }
  .yw-pcmbackoffice-browser > div > .yw-listview-actioncontainer {
    padding-left: 0;
    padding-right: 0; }

.yw-pcmbackoffice .yw-coll-browser-tree-view-table .z-tree-body td.z-treecell,
.yw-pcmbackoffice .yw-coll-browser-tree-view-table .z-tree-footer td.z-treefooter {
  padding-left: 10px;
  padding-right: 10px; }
  .yw-pcmbackoffice .yw-coll-browser-tree-view-table .z-tree-body td.z-treecell:before,
  .yw-pcmbackoffice .yw-coll-browser-tree-view-table .z-tree-footer td.z-treefooter:before {
    left: 0;
    right: 0; }

.yw-pcmbackoffice .yw-listview-bottom-bar {
  border-top: 1px solid #bdc6d2; }

.yw-pcmbackoffice .y-toolbar,
.yw-pcmbackoffice .yw-com_hybris_cockpitng_collectionBrowser .yw-listview-actioncontainer .ya-create-container {
  border-color: #bdc6d2; }

.yw-pcmbackoffice-browser:before,
.yw-pcmbackoffice .yw-extendedsplitlayout-holder:before {
  content: "";
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1; }

.yw-pcmbackoffice-browser:before {
  left: -30px;
  right: -30px; }

.yw-pcmbackoffice-browser .y-statusbar, .yw-pcmbackoffice-browser .y-statusbar .yw-listview-statusbar-button,
.yw-pcmbackoffice .yw-extendedsplitlayout-box .y-statusbar,
.yw-pcmbackoffice .yw-extendedsplitlayout-box .y-statusbar .yw-listview-statusbar-button {
  background-color: transparent; }

.yw-pcmbackoffice-browser .y-statusbar .yw-listview-statusbar-button:hover, .yw-pcmbackoffice-browser .y-statusbar .yw-listview-statusbar-button:focus, .yw-pcmbackoffice-browser .y-statusbar .yw-listview-statusbar-button:active,
.yw-pcmbackoffice .yw-extendedsplitlayout-box .y-statusbar .yw-listview-statusbar-button:hover,
.yw-pcmbackoffice .yw-extendedsplitlayout-box .y-statusbar .yw-listview-statusbar-button:focus,
.yw-pcmbackoffice .yw-extendedsplitlayout-box .y-statusbar .yw-listview-statusbar-button:active {
  color: #0486e0;
  box-shadow: none; }

.yw-pcmbackoffice .yw-extendedsplitlayout-box .yw-listview-bottom-bar {
  background: transparent;
  border-top: 1px solid #d5d8dc;
  padding-right: 11px;
  padding-left: 11px; }

.yw-pcmbackoffice .yw-extendedsplitlayout-box .yw-grid-view {
  padding: 5px 10px; }
  .yw-pcmbackoffice .yw-extendedsplitlayout-box .yw-grid-view-container:after {
    color: transparent; }

.yw-pcmbackoffice .yw-image-attribute-variant-product {
  width: 16px;
  height: 16px;
  padding: 8px 8px 8px 20px;
  display: inline;
  position: relative; }

.yw-pcmbackoffice .yw-image-attribute-variant-product:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  background: url("/backoffice/cng/images/icon_product_variants.svg") center no-repeat; }

.yw-pcmbackoffice .yw-image-attribute-product {
  width: 16px;
  height: 16px;
  padding: 8px 8px 8px 14px;
  display: inline;
  position: relative; }

.yw-pcmbackoffice .yw-image-attribute-product:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  background: url("/backoffice/cng/images/icon_base_product.svg") center no-repeat; }

.yw-pcmbackoffice .yw-navigationhistory-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.yw-pcmbackoffice .yw-editorarea-tabbox.yw-static-section-active .z-tabbox-static-section {
  background-color: #f4f7fa; }

.yw-pcmbackoffice .yw-extendedsplitlayout-toolbar .cng-action,
.yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar .cng-action-group .cng-action {
  position: relative;
  width: auto;
  min-width: 28px;
  height: 28px;
  margin: 11px; }
  .yw-pcmbackoffice .yw-extendedsplitlayout-toolbar .cng-action-enabled:before,
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar .cng-action-group .cng-action-enabled:before {
    content: "";
    position: absolute;
    height: 28px;
    border: 1px solid #c4cedc;
    margin-left: -14px;
    margin-top: -14px;
    box-shadow: 0 0 0 0;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    color: inherit;
    width: 100%;
    top: 50%;
    left: 50%;
    display: none; }
  .yw-pcmbackoffice .yw-extendedsplitlayout-toolbar .cng-action-enabled:hover:before,
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar .cng-action-group .cng-action-enabled:hover:before {
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2); }
  .yw-pcmbackoffice .yw-extendedsplitlayout-toolbar .cng-action-enabled:hover, .yw-pcmbackoffice .yw-extendedsplitlayout-toolbar .cng-action-enabled:focus,
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar .cng-action-group .cng-action-enabled:hover,
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar .cng-action-group .cng-action-enabled:focus {
    background-color: transparent;
    background-color: transparent; }
    .yw-pcmbackoffice .yw-extendedsplitlayout-toolbar .cng-action-enabled:hover:before, .yw-pcmbackoffice .yw-extendedsplitlayout-toolbar .cng-action-enabled:focus:before,
    .yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar .cng-action-group .cng-action-enabled:hover:before,
    .yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar .cng-action-group .cng-action-enabled:focus:before {
      display: block; }
  .yw-pcmbackoffice .yw-extendedsplitlayout-toolbar .cng-action-enabled:focus:before,
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar .cng-action-group .cng-action-enabled:focus:before {
    border-color: #c4cedc; }

.yw-pcmbackoffice .yw-extendedsplitlayout-toolbar .cng-action,
.yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar .cng-action-group .cng-action {
  margin-left: 0; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar-leftslot {
  margin-left: 0; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .y-toolbar-rightslot {
  margin-right: 0; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .yw-navigationhistory-title,
.yw-pcmbackoffice .yw-editorarea-actioncontainer .yw-navigationhistory-back {
  vertical-align: middle;
  padding-bottom: 0;
  padding-top: 0;
  height: 32px;
  line-height: 32px; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .yw-navigationhistory-title {
  width: calc(100% - 76px); }

@media all and (max-width: 640px) {
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .yw-navigationhistory-back span {
    display: none; } }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .yw-com_hybris_cockpitng_navigationhistory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group {
  border-right: 1px solid #d5d8dc; }
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .z-hbox table td {
    vertical-align: middle; }
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .cng-action {
    margin-right: 10px; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .ye-cancel-container .z-button {
  box-shadow: none;
  background-color: transparent;
  color: #7f90a4; }
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .ye-cancel-container .z-button:hover, .yw-pcmbackoffice .yw-editorarea-actioncontainer .ye-cancel-container .z-button:focus {
    color: #0486e0; }

.yw-pcmbackoffice .y-toolbar-leftslot-widget {
  display: inline-block; }
  .yw-pcmbackoffice .y-toolbar-leftslot-widget + .y-toolbar-inner {
    display: inline-block;
    float: right; }

.yw-pcmbackoffice .yw-listview-actioncontainer .y-toolbar {
  height: auto; }
  .yw-pcmbackoffice .yw-listview-actioncontainer .y-toolbar > .y-toolbar-leftslot-widget {
    max-width: calc(100% - 243px);
    padding: 9px 0; }

.yw-pcmbackoffice .yw-extendedsplitlayout .yw-listview-actioncontainer {
  padding: 0; }
  .yw-pcmbackoffice .yw-extendedsplitlayout .yw-listview-actioncontainer .y-toolbar {
    min-height: 50px;
    background-color: #ffffff;
    border-top: 0;
    padding: 11px 11px;
    height: auto; }

.yw-pcmbackoffice .yw-extendedsplitlayout-toolbar-action .ya-com_hybris_cockpitng_action_splitlayoutchooser table td,
.yw-pcmbackoffice .yw-extendedsplitlayout-content-box .yw-explorerTree-secondary-actions .ya-com_hybris_cockpitng_action_splitlayoutchooser table td {
  display: none;
  vertical-align: middle;
  text-align: center; }
  .yw-pcmbackoffice .yw-extendedsplitlayout-toolbar-action .ya-com_hybris_cockpitng_action_splitlayoutchooser table td:first-child,
  .yw-pcmbackoffice .yw-extendedsplitlayout-content-box .yw-explorerTree-secondary-actions .ya-com_hybris_cockpitng_action_splitlayoutchooser table td:first-child {
    display: table-cell; }

.yw-pcmbackoffice .yw-extendedsplitlayout-content-box .yw-explorerTree-right-holder > div {
  display: table-cell;
  vertical-align: middle; }

.yw-flexlayout-sidebar .yw-pcmbackoffice-navibar {
  background-color: #1e2830;
  z-index: 1; }
  .yw-flexlayout-sidebar .yw-pcmbackoffice-navibar .yw-toolbar:after {
    width: 2px;
    height: 100%;
    content: " ";
    display: inline;
    background-color: #0486e0;
    margin-right: 5px; }
  .yw-flexlayout-sidebar .yw-pcmbackoffice-navibar .ya-toggle .cng-action-icon {
    width: 32px;
    height: 32px;
    opacity: 0.5; }
  .yw-flexlayout-sidebar .yw-pcmbackoffice-navibar .ya-toggle .cng-action-text {
    min-width: 200px;
    color: #7f90a4;
    line-height: 32px; }
  .yw-flexlayout-sidebar .yw-pcmbackoffice-navibar .ya-toggle:hover .cng-action-icon, .yw-flexlayout-sidebar .yw-pcmbackoffice-navibar .ya-toggle-active .cng-action-icon {
    opacity: 1; }
  .yw-flexlayout-sidebar .yw-pcmbackoffice-navibar .ya-toggle:hover .cng-action-text, .yw-flexlayout-sidebar .yw-pcmbackoffice-navibar .ya-toggle-active .cng-action-text {
    color: #ffffff; }

.yw-pcmbackoffice .yw-flexlayout-contents .z-borderlayout {
  background: transparent; }

@media (min-width: 1024px) {
  .yw-pcmbackoffice .yw-flexlayout-sidebar-collapsed > .yw-flexlayout-sidebar .cng-action-text {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: none;
    transition: none; }
  .yw-pcmbackoffice .yw-flexlayout-sidebar-collapsed.yw-flexlayout-sidebar-hover-overlap > .yw-flexlayout-sidebar:hover .cng-action-text {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s ease 0.2s, visibility 0s;
    transition: opacity 0.3s ease 0.2s, visibility 0s; } }

.yw-pcmbackoffice .yw-flexlayout-rootpane > .yw-flexlayout-sidebar .cng-action-icon:hover {
  background: none; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle .cng-action,
.yw-pcmbackoffice-collection-toolbar .ya-toggle .cng-action {
  position: relative;
  width: auto;
  min-width: 28px;
  height: 28px;
  margin: 11px; }
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle .cng-action-enabled:before,
  .yw-pcmbackoffice-collection-toolbar .ya-toggle .cng-action-enabled:before {
    content: "";
    position: absolute;
    height: 28px;
    border: 1px solid #c4cedc;
    margin-left: -14px;
    margin-top: -14px;
    box-shadow: 0 0 0 0;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    color: inherit;
    width: 100%;
    top: 50%;
    left: 50%;
    display: none; }
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle .cng-action-enabled:hover:before,
  .yw-pcmbackoffice-collection-toolbar .ya-toggle .cng-action-enabled:hover:before {
    box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2); }
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle .cng-action-enabled:hover, .yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle .cng-action-enabled:focus,
  .yw-pcmbackoffice-collection-toolbar .ya-toggle .cng-action-enabled:hover,
  .yw-pcmbackoffice-collection-toolbar .ya-toggle .cng-action-enabled:focus {
    background-color: transparent; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle-active .cng-action,
.yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle .cng-action-enabled:hover,
.yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle .cng-action-enabled:focus,
.yw-pcmbackoffice-collection-toolbar .ya-toggle-active .cng-action,
.yw-pcmbackoffice-collection-toolbar .ya-toggle .cng-action-enabled:hover,
.yw-pcmbackoffice-collection-toolbar .ya-toggle .cng-action-enabled:focus {
  background-color: transparent; }
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle-active .cng-action:before,
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle .cng-action-enabled:hover:before,
  .yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle .cng-action-enabled:focus:before,
  .yw-pcmbackoffice-collection-toolbar .ya-toggle-active .cng-action:before,
  .yw-pcmbackoffice-collection-toolbar .ya-toggle .cng-action-enabled:hover:before,
  .yw-pcmbackoffice-collection-toolbar .ya-toggle .cng-action-enabled:focus:before {
    display: block; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle-active .cng-action:before,
.yw-pcmbackoffice .yw-editorarea-actioncontainer .cng-action-group .ya-toggle .cng-action-enabled:focus:before,
.yw-pcmbackoffice-collection-toolbar .ya-toggle-active .cng-action:before,
.yw-pcmbackoffice-collection-toolbar .ya-toggle .cng-action-enabled:focus:before {
  border-color: #c4cedc; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .yw-flexlayout-trigger {
  background-image: url("../images/icon_quicklist_default.svg");
  margin-left: 0; }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .ya-toggle-active .yw-flexlayout-trigger,
.yw-pcmbackoffice .yw-editorarea-actioncontainer .yw-flexlayout-trigger:hover,
.yw-pcmbackoffice .yw-editorarea-actioncontainer .yw-flexlayout-trigger:focus {
  background-image: url("../images/icon_quicklist_hover.svg"); }

.yw-pcmbackoffice .yw-editorarea-actioncontainer .ya-toggle .yw-flexlayout-trigger {
  margin-left: 0; }

.yw-pcmbackoffice-collection-toolbar .yw-flexlayout-trigger {
  background-image: url("../images/icon_open_menu_default.svg"); }

.yw-pcmbackoffice-collection-toolbar .ya-toggle-active .yw-flexlayout-trigger,
.yw-pcmbackoffice-collection-toolbar .yw-flexlayout-trigger:hover,
.yw-pcmbackoffice-collection-toolbar .yw-flexlayout-trigger:focus {
  background-image: url("../images/icon_open_menu_hover.svg"); }
