@charset "UTF-8";
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* ========================================= */
/* for In Progress only */
.yw-editorarea-tabbox-tabpanels-tabpanel-groupbox > .z-groupbox-content {
  padding: 10px 0 15px !important; }

/* Icons for explorer tree */
div.yw-explorerTree .y-tree-icon-hmc_typenode_promotion_rules .y-tree-icon {
  background-image: url("images/089_promotions.png"); }

div.yw-explorerTree .y-tree-icon-hmc_typenode_promotion_rule_templates .y-tree-icon {
  background-image: url("images/0133_promotion_templates.png"); }

.yrb-conditions,
.yrb-actions {
  width: 100%;
  background: #ffffff;
  padding: 0 2px 0 0; }
  .yrb-conditions-editor .z-borderlayout,
  .yrb-actions-editor .z-borderlayout {
    background-color: transparent; }
  .yrb-conditions-editor .z-center,
  .yrb-actions-editor .z-center {
    background: #ffffff; }
    .yrb-conditions-editor .z-center-header,
    .yrb-actions-editor .z-center-header {
      border: 0;
      padding-left: 0;
      padding-bottom: 10px;
      color: #151c22;
      font-size: 16px; }
  .yrb-conditions-title > .z-label,
  .yrb-actions-title > .z-label {
    font-size: 19px;
    font-weight: bold;
    color: #151c22; }
  .yrb-conditions-drop-placeholder,
  .yrb-actions-drop-placeholder {
    background: none;
    padding: 30px 0;
    cursor: default; }
    .yrb-conditions-drop-placeholder:hover .z-label,
    .yrb-actions-drop-placeholder:hover .z-label {
      background: #b7b7b7; }
    .yrb-conditions-drop-placeholder.z-drag-over,
    .yrb-actions-drop-placeholder.z-drag-over {
      cursor: pointer;
      cursor: hand; }
      .yrb-conditions-drop-placeholder.z-drag-over .z-label,
      .yrb-actions-drop-placeholder.z-drag-over .z-label {
        background: #b7b7b7; }
    .yrb-conditions-drop-placeholder:hover .z-label, .yrb-conditions-drop-placeholder.z-drag-over .z-label,
    .yrb-actions-drop-placeholder:hover .z-label,
    .yrb-actions-drop-placeholder.z-drag-over .z-label {
      color: #ffffff;
      border-color: #ffffff; }
    .yrb-conditions-drop-placeholder .z-label,
    .yrb-actions-drop-placeholder .z-label {
      height: 56px;
      border: 2px dashed #e5e9ed;
      color: #787878;
      background: #f6f8fa;
      font-size: 14px;
      font-weight: normal;
      line-height: 54px;
      display: block;
      margin: 0;
      padding: 0;
      text-align: center;
      position: relative;
      overflow: hidden; }

.yrb-condition,
.yrb-action {
  position: relative;
  display: table;
  background: none;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 160px;
  border: 1px solid #d5d8dc;
  border-width: 1px 0 0;
  overflow: visible;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab; }
  .yrb-condition:first-child,
  .yrb-action:first-child {
    border-top-width: 0; }
  .yrb-conditions > .yrb-condition,
  .yrb-actions > .yrb-condition, .yrb-conditions >
  .yrb-action,
  .yrb-actions >
  .yrb-action {
    border: 1px solid #d5d8dc;
    border-width: 1px 1px 0; }
    .yrb-conditions > .yrb-condition:first-child,
    .yrb-actions > .yrb-condition:first-child, .yrb-conditions >
    .yrb-action:first-child,
    .yrb-actions >
    .yrb-action:first-child {
      border-top-width: 1px; }
  .yrb-conditions > .yrb-conditions-drop-placeholder,
  .yrb-actions > .yrb-conditions-drop-placeholder, .yrb-conditions >
  .yrb-actions-drop-placeholder,
  .yrb-actions >
  .yrb-actions-drop-placeholder {
    border: 1px solid #d5d8dc;
    border-width: 1px 0 0;
    padding-bottom: 0; }
  .yrb-conditions .yrb-condition-children > .yrb-condition:before,
  .yrb-actions .yrb-condition-children > .yrb-condition:before, .yrb-conditions
  .yrb-action-children > .yrb-condition:before,
  .yrb-actions
  .yrb-action-children > .yrb-condition:before, .yrb-conditions .yrb-condition-children >
  .yrb-action:before,
  .yrb-actions .yrb-condition-children >
  .yrb-action:before, .yrb-conditions
  .yrb-action-children >
  .yrb-action:before,
  .yrb-actions
  .yrb-action-children >
  .yrb-action:before {
    margin-left: 1px; }
  .yrb-condition-children .yrb-condition-caption-content,
  .yrb-action-children .yrb-condition-caption-content, .yrb-condition-children
  .yrb-action-caption-content,
  .yrb-action-children
  .yrb-action-caption-content {
    padding-left: 22px; }
    .yrb-condition-children .yrb-condition-caption-content .yrb-node,
    .yrb-condition-children .yrb-condition-caption-content .yrb-expandable-node,
    .yrb-action-children .yrb-condition-caption-content .yrb-node,
    .yrb-action-children .yrb-condition-caption-content .yrb-expandable-node, .yrb-condition-children
    .yrb-action-caption-content .yrb-node,
    .yrb-condition-children
    .yrb-action-caption-content .yrb-expandable-node,
    .yrb-action-children
    .yrb-action-caption-content .yrb-node,
    .yrb-action-children
    .yrb-action-caption-content .yrb-expandable-node {
      left: -6px; }
  .yrb-condition-breadcrumbs,
  .yrb-action-breadcrumbs {
    padding: 16px 0;
    font-size: 14px;
    line-height: 16px; }
    .yrb-condition-breadcrumbs .rule-parameter,
    .yrb-action-breadcrumbs .rule-parameter {
      color: #151c22;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.01em; }
    .yrb-condition-breadcrumbs .rule-separator,
    .yrb-action-breadcrumbs .rule-separator {
      font-weight: bold; }
  .yrb-condition.z-drag-ghost,
  .yrb-action.z-drag-ghost {
    width: 400px;
    border: 1px solid #7d899c;
    cursor: pointer;
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  .yrb-condition-content,
  .yrb-action-content {
    background: #ffffff;
    overflow: auto; }
    .yrb-condition-content > .z-groupbox,
    .yrb-condition-content > .z-groupbox,
    .yrb-action-content > .z-groupbox,
    .yrb-action-content > .z-groupbox {
      border: 0;
      padding: 0; }
      .yrb-condition-content > .z-groupbox > .z-groupbox-header,
      .yrb-condition-content > .z-groupbox > .z-groupbox-header,
      .yrb-action-content > .z-groupbox > .z-groupbox-header,
      .yrb-action-content > .z-groupbox > .z-groupbox-header {
        font-weight: normal;
        background: none; }
      .yrb-condition-content > .z-groupbox > .z-groupbox-content,
      .yrb-condition-content > .z-groupbox > .z-groupbox-header,
      .yrb-condition-content > .z-groupbox > .z-groupbox-content,
      .yrb-condition-content > .z-groupbox > .z-groupbox-header,
      .yrb-action-content > .z-groupbox > .z-groupbox-content,
      .yrb-action-content > .z-groupbox > .z-groupbox-header,
      .yrb-action-content > .z-groupbox > .z-groupbox-content,
      .yrb-action-content > .z-groupbox > .z-groupbox-header {
        padding: 0;
        border: 0;
        margin: 0; }
  .yrb-condition-caption,
  .yrb-action-caption {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    background: none; }
    .yrb-condition-caption-content,
    .yrb-action-caption-content {
      box-sizing: border-box;
      display: table;
      padding: 15px 0 15px 40px;
      line-height: normal;
      vertical-align: middle; }
      .yrb-condition-caption-content .yrb-node,
      .yrb-condition-caption-content .yrb-expandable-node,
      .yrb-action-caption-content .yrb-node,
      .yrb-action-caption-content .yrb-expandable-node {
        position: absolute;
        top: 50%;
        left: 12px;
        margin-top: -11px;
        width: 22px;
        height: 22px; }
        .yrb-condition-caption-content .yrb-node:before,
        .yrb-condition-caption-content .yrb-expandable-node:before,
        .yrb-action-caption-content .yrb-node:before,
        .yrb-action-caption-content .yrb-expandable-node:before {
          content: "";
          position: absolute;
          width: 22px;
          height: 22px;
          background-color: #b3daf6;
          border: 1px solid #0486e0;
          border-color: #0486e0 !important;
          top: 0;
          left: 0;
          border-radius: 11px;
          box-sizing: border-box; }
      .yrb-condition-caption-content > .z-label,
      .yrb-condition-caption-content > i,
      .yrb-action-caption-content > .z-label,
      .yrb-action-caption-content > i {
        display: table-cell;
        margin: 0;
        border: 0;
        padding: 0 5px 0 0;
        line-height: 40px;
        font-size: 14px;
        color: #263950;
        vertical-align: middle; }
      .yrb-condition-caption-content > .yrb-expandable-node > .yrb-toggle-children-btn,
      .yrb-action-caption-content > .yrb-expandable-node > .yrb-toggle-children-btn {
        display: block;
        border: 0;
        padding: 0;
        background: none; }
        .yrb-condition-caption-content > .yrb-expandable-node > .yrb-toggle-children-btn > i,
        .yrb-action-caption-content > .yrb-expandable-node > .yrb-toggle-children-btn > i {
          cursor: pointer;
          font-size: 1 12px;
          line-height: 22px;
          width: 22px;
          margin-left: 0;
          color: #263950;
          text-align: center; }
      .yrb-condition-caption-content .yrb-delete-btn,
      .yrb-action-caption-content .yrb-delete-btn {
        right: 15px;
        margin-top: -14px;
        padding: 0px 4px;
        width: 28px;
        height: 28px;
        position: absolute;
        top: 50%;
        background: none;
        border: 0;
        cursor: pointer; }
        .yrb-condition-caption-content .yrb-delete-btn i,
        .yrb-action-caption-content .yrb-delete-btn i {
          display: none; }
      .yrb-condition-caption-content:hover > .z-label,
      .yrb-action-caption-content:hover > .z-label {
        color: #0486e0; }
  .yrb-condition-children,
  .yrb-action-children {
    border: 1px solid #d5d8dc;
    border-width: 1px 0 1px 1px; }

.yrb-condition-handle,
.yrb-action > .yrb-action-handle {
  display: none; }

.yrb-condition-handle,
.yrb-action > .yrb-action-handle,
.yrb-conditions > .yrb-condition > .yrb-condition-handle {
  display: none;
  width: 4px;
  left: -31px;
  position: absolute;
  height: 800px;
  top: -774px;
  background: #b3daf6; }

.yrb-action .yrb-node {
  margin-left: 22px; }

.yrb-action-caption-content {
  padding-left: 62px; }
  .yrb-action-caption-content > i {
    margin-right: 12px;
    margin-left: 12px;
    display: inline-block; }

.yrb-conditions-editor .z-listcell-content,
.yrb-actions-editor .z-listcell-content {
  padding: 10px 5px 9px; }

.yrb-conditions-editor .z-east,
.yrb-actions-editor .z-east {
  background-color: #ffffff; }
  .yrb-conditions-editor .z-east-header,
  .yrb-actions-editor .z-east-header {
    background-color: transparent;
    color: #151c22;
    padding-left: 30px;
    padding-right: 28px;
    border-bottom-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #d5d8dc;
    border-bottom-width: 0; }
  .yrb-conditions-editor .z-east-body .z-listcell-content,
  .yrb-actions-editor .z-east-body .z-listcell-content {
    padding-left: 0; }
  .yrb-conditions-editor .z-east .z-east-header .z-borderlayout-icon,
  .yrb-actions-editor .z-east .z-east-header .z-borderlayout-icon {
    position: absolute;
    right: 8px; }
  .yrb-conditions-editor .z-east .z-listcell-content,
  .yrb-actions-editor .z-east .z-listcell-content {
    font-size: 14px; }
  .yrb-conditions-editor .z-east .z-listgroup-icon,
  .yrb-actions-editor .z-east .z-listgroup-icon {
    margin-left: -6px;
    font-size: 12px; }
    .yrb-conditions-editor .z-east .z-listgroup-icon-open:before,
    .yrb-actions-editor .z-east .z-listgroup-icon-open:before {
      content: ""; }
    .yrb-conditions-editor .z-east .z-listgroup-icon-close:before,
    .yrb-actions-editor .z-east .z-listgroup-icon-close:before {
      content: ""; }
  .yrb-conditions-editor .z-east .z-listgroup:hover .z-label,
  .yrb-actions-editor .z-east .z-listgroup:hover .z-label {
    color: #0486e0; }
  .yrb-conditions-editor .z-east .z-listgroup-inner,
  .yrb-actions-editor .z-east .z-listgroup-inner {
    border-color: #d5d8dc;
    padding-left: 30px; }
    .yrb-conditions-editor .z-east .z-listgroup-inner .z-label,
    .yrb-actions-editor .z-east .z-listgroup-inner .z-label {
      margin-bottom: 0; }
  .yrb-conditions-editor .z-east .z-listgroup:last-child .z-listgroup-inner,
  .yrb-actions-editor .z-east .z-listgroup:last-child .z-listgroup-inner {
    border-bottom-width: 0; }

.yrb-conditions-editor .z-east .yrb-condition-definitions,
.yrb-actions-editor .z-east .yrb-condition-definitions, .yrb-conditions-editor .z-east
.yrb-action-definitions,
.yrb-actions-editor .z-east
.yrb-action-definitions {
  border-width: 1px solid #d5d8dc; }

.yrb-conditions-editor .z-east .yrb-condition-definition .z-listcell,
.yrb-actions-editor .z-east .yrb-condition-definition .z-listcell, .yrb-conditions-editor .z-east
.yrb-action-definition .z-listcell,
.yrb-actions-editor .z-east
.yrb-action-definition .z-listcell {
  border-top-width: 0;
  padding-left: 30px; }

.yrb-conditions-editor .z-east .yrb-condition-definition .z-listcell-content,
.yrb-actions-editor .z-east .yrb-condition-definition .z-listcell-content, .yrb-conditions-editor .z-east
.yrb-action-definition .z-listcell-content,
.yrb-actions-editor .z-east
.yrb-action-definition .z-listcell-content {
  border: inherit;
  border-top-width: 1px;
  padding-left: 0; }

.yrb-conditions-editor .z-east .yrb-condition-definition:hover + .z-listitem .z-listcell-content,
.yrb-actions-editor .z-east .yrb-condition-definition:hover + .z-listitem .z-listcell-content, .yrb-conditions-editor .z-east
.yrb-action-definition:hover + .z-listitem .z-listcell-content,
.yrb-actions-editor .z-east
.yrb-action-definition:hover + .z-listitem .z-listcell-content {
  border-color: transparent; }

.yrb-conditions-editor .z-east .z-listgroup + .yrb-condition-definition .z-listcell,
.yrb-actions-editor .z-east .z-listgroup + .yrb-condition-definition .z-listcell, .yrb-conditions-editor .z-east .z-listgroup +
.yrb-action-definition .z-listcell,
.yrb-actions-editor .z-east .z-listgroup +
.yrb-action-definition .z-listcell {
  border-top: 1px solid #d5d8dc; }

.yrb-conditions-editor .z-east .z-listgroup + .yrb-condition-definition .z-listcell-content,
.yrb-actions-editor .z-east .z-listgroup + .yrb-condition-definition .z-listcell-content, .yrb-conditions-editor .z-east .z-listgroup +
.yrb-action-definition .z-listcell-content,
.yrb-actions-editor .z-east .z-listgroup +
.yrb-action-definition .z-listcell-content {
  border-top-width: 0; }

/* ========================================= */
/* ========================================= */
.yrb-condition-breadcrumbs .rule-parent-condition {
  font-weight: normal;
  font-size: 14px; }
  .yrb-condition-breadcrumbs .rule-parent-condition.rule-parent-condition-y_group {
    color: #1e2830;
    word-spacing: 0.3em; }
  .yrb-condition-breadcrumbs .rule-parent-condition.rule-parent-condition-y_container {
    color: #151c22; }

.yrb-condition.z-dragged > .yrb-condition-content > .yrb-condition-children {
  display: none; }

.yrb-condition-children > .yrb-condition:first-child > .yrb-condition-content:before {
  background: #ffffff;
  overflow: auto; }

.yrb-condition-y_group > .yrb-condition-content,
.yrb-condition-children > .yrb-condition-y_group:first-child > .yrb-condition-content:before {
  background: #ffffff; }

.yrb-condition-y_container > .yrb-condition-content,
.yrb-condition-children > .yrb-condition-y_container:first-child > .yrb-condition-content:before {
  background: #ffffff; }

.yrb-condition-caption-content > .z-icon-caret-right,
.yrb-condition-caption-content > .z-icon-caret-down {
  position: absolute;
  left: 12px;
  width: 22px;
  height: 22px;
  padding: 0;
  text-align: center; }
  .yrb-condition-caption-content > .z-icon-caret-right:before,
  .yrb-condition-caption-content > .z-icon-caret-down:before {
    width: 100%;
    text-align: inherit; }

.yrb-condition-caption-content > .yrb-expandable-node {
  z-index: 3; }

.yrb-condition-caption-content > .yrb-expandable-node:before,
.yrb-condition-caption-content > .yrb-node:before {
  display: none; }

.yrb-condition-caption-content > .yrb-parameters {
  display: block;
  background: none;
  border: 0;
  padding: 0 0 0 10px;
  margin: -6px 0; }
  .yrb-condition-caption-content > .yrb-parameters > .yrb-parameter {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    min-width: 180px;
    max-width: 280px; }

.yrb-condition-y_group > .yrb-condition-content > .z-groupbox .yrb-condition-caption-content, .yrb-condition-y_container > .yrb-condition-content > .z-groupbox .yrb-condition-caption-content {
  margin-top: 20px; }

.yrb-condition-y_group > .yrb-condition-content > .z-groupbox .yrb-parameters, .yrb-condition-y_container > .yrb-condition-content > .z-groupbox .yrb-parameters {
  margin-top: -24px; }

.yrb-condition-y_group > .yrb-condition-content > .yrb-condition-children > .yrb-condition:first-child > .yrb-condition-content:before {
  background: #ffffff; }

.yrb-condition-y_container > .yrb-condition-content > .yrb-condition-children > .yrb-condition:first-child > .yrb-condition-content:before {
  background: #ffffff; }

.yrb-condition-content:before {
  left: -31px; }

.yrb-condition .z-groupbox-header .yrb-parameters {
  padding-left: 42px; }

.yrb-condition-children {
  padding: 0 0 0 80px;
  overflow: hidden;
  border: 1px solid #d5d8dc;
  border-width: 1px 0 0;
  margin: 0; }
  .yrb-condition-children .yrb-condition-children {
    border-width: 1px 0 1px 1px; }
  .yrb-condition-children .yrb-condition-caption-content > .z-icon-caret-right,
  .yrb-condition-children .yrb-condition-caption-content > .z-icon-caret-down {
    left: 0;
    text-align: left; }
  .yrb-condition-children > .yrb-condition {
    position: relative;
    /*
				>.yrb-condition {
					@include _add-yrb-condition-type-hover-bg-color(#e1e7ef);
					&-y_container{
						&:hover {
							@include _add-yrb-condition-type-hover-bg-color(#f5f7f9);
						}
					}
					&-y_group{
						&:hover {
							@include _add-yrb-condition-type-hover-bg-color(#edf0f4);
						}
					}
				}
			*/ }
    .yrb-condition-children > .yrb-condition:before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      background-color: #b3daf6;
      border: 1px solid #0486e0;
      border-color: #0486e0 !important;
      top: 25px;
      left: -40px;
      border-radius: 11px;
      box-sizing: border-box; }
    .yrb-condition-children > .yrb-condition:before {
      z-index: 1; }
    .yrb-condition-children > .yrb-condition:first-child {
      border-top-width: 0; }
      .yrb-condition-children > .yrb-condition:first-child > .yrb-condition-content:before {
        content: "";
        display: block;
        width: 6px;
        height: 25px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: -32px; }
    .yrb-condition-children > .yrb-condition-y_group, .yrb-condition-children > .yrb-condition-y_container {
      border: 1px solid #d5d8dc;
      border-width: 1px 0 0; }
      .yrb-condition-children > .yrb-condition-y_group:before, .yrb-condition-children > .yrb-condition-y_container:before {
        margin-top: 20px; }
      .yrb-condition-children > .yrb-condition-y_group + .yrb-condition, .yrb-condition-children > .yrb-condition-y_container + .yrb-condition {
        border-top-width: 0; }
      .yrb-condition-children > .yrb-condition-y_group:first-child > .yrb-condition-content:before, .yrb-condition-children > .yrb-condition-y_container:first-child > .yrb-condition-content:before {
        height: 45px; }
      .yrb-condition-children > .yrb-condition-y_group > .yrb-condition-handle, .yrb-condition-children > .yrb-condition-y_container > .yrb-condition-handle {
        margin-top: 20px; }
    .yrb-condition-children > .yrb-condition > .yrb-condition-handle {
      display: block;
      z-index: 0; }

.yrb-condition-children > .yrb-condition:first-child > .yrb-condition-handle,
.yrb-conditions > .yrb-condition > .yrb-condition-handle {
  display: none !important; }

/* ========================================= */
/* ========================================= */
.yrb-parameters {
  background: #ffffff;
  /* */
  z-index: 1;
  padding: 15px 0px 5px 40px; }
  .yrb-condition-children .yrb-parameters,
  .yrb-action-children .yrb-parameters {
    padding-left: 0; }

.yrb-parameter {
  width: 48%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  max-width: 280px;
  min-width: 100px;
  padding: 0px 15px 15px 0px; }
  .yrb-parameter .yrb-label-container {
    margin-bottom: 2px; }
    .yrb-parameter .yrb-label-container .z-label,
    .yrb-parameter .yrb-label-container i {
      color: #7d899c;
      font-size: 12px;
      line-height: 14px;
      margin: 0;
      border: 0;
      padding: 0;
      display: inline; }
  .yrb-parameter .yrb-label-container i,
  .yrb-parameter-validation-popup i {
    font-size: 14px; }
  .yrb-parameter.yrb-required-parameter .yrb-label-container .z-label {
    font-weight: bold; }
  .yrb-parameter .yrb-parameter-description {
    display: inline-block;
    cursor: pointer;
    float: right; }
  .yrb-parameter .yrb-parameter-validation {
    display: inline-block;
    cursor: pointer; }
  .yrb-parameter-description-popup .yrb-parameter-uuid {
    display: block;
    font-weight: bold; }
  .yrb-parameter-description-popup .yrb-parameter-description {
    display: block;
    padding-top: 0.5em; }

.y-editor-area-attributes-cnt-min .yrb-parameter {
  width: 100%; }

.y-editor-area-attributes-cnt-avg .yrb-parameter {
  max-width: 360px; }

.y-editor-area-attributes-cnt-max .yrb-parameter {
  max-width: 420px; }

.yrb-parameter.ye-validation-error .yrb-label-container .z-label,
.yrb-parameter.ye-validation-error .yrb-label-container i,
.yrb-parameter-validation-popup .ye-validation-error .z-label,
.yrb-parameter-validation-popup .ye-validation-error i {
  color: #ff3b30; }

.yrb-parameter.ye-validation-warn .yrb-label-container .z-label,
.yrb-parameter.ye-validation-warn .yrb-label-container i,
.yrb-parameter-validation-popup .ye-validation-warn .z-label,
.yrb-parameter-validation-popup .ye-validation-warn i {
  color: #ff9914; }

.yrb-parameter.ye-validation-info .yrb-label-container .z-label,
.yrb-parameter.ye-validation-info .yrb-label-container i,
.yrb-parameter-validation-popup .ye-validation-info .z-label,
.yrb-parameter-validation-popup .ye-validation-info i {
  color: #0486e0; }

/* ========================================= */
/* ========================================= */
.yrb-modal-content {
  position: relative;
  padding: 15px 20px 61px; }
  .yrb-modal-content > div {
    position: static; }
  .yrb-modal-content .z-label {
    margin-bottom: 10px;
    display: inline-block;
    line-height: 1; }

.yrb-modal-controls {
  border-top: 1px solid #cccccc;
  padding: 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: right; }
